[2021-04-16 07:43] richardcase opened #2355 "v1beta2 API Changes"
/kind refactor
/kind api-change
/area provider/eks
/priority important-soon
/milestone v0.7.0

**Describe the solution you'd like**
Refactor the API with the proposed changes for v1beta2/v1 including any field deprecations:

Changes:

- [ ] EKS changes (old doc: https://docs.google.com/document/d/1EeD2KjFfeKoD-o0LJTMMWh9GUy-15yG80S5Uoj7oKcA/edit)
- [ ] Remove `Equals` from `Tags`
- [ ] ARN field i

[2021-04-16 07:43] richardcase commented on #2355
/assign

[2021-04-16 10:29] enxebre opened #2356 "Implement externally managed infrastructure"
/kind feature

**Describe the solution you'd like**
Implement externally managed infrastructure as in https://github.com/kubernetes-sigs/cluster-api/pull/4135

**Anything else you would like to add:**
Needs https://github.com/kubernetes-sigs/cluster-api/pull/4303

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`)

[2021-04-16 10:30] enxebre commented on #2356
/assign

[2021-04-16 11:39] randomvariable commented on #2356
/milestone v0.7.0

[2021-04-16 11:39] randomvariable commented on #2356
/kind release-blocking

[2021-04-16 11:40] randomvariable commented on #2356
/priority important-soon

[2021-04-16 11:40] randomvariable commented on #2356
/kind api-change
/area vpc

[2021-04-16 11:42] randomvariable commented on #2356
As usual @enxebre , do the `/lifecycle active` when you start. Might want to wait for #2121 to avoid rebasing hell.

[2021-04-16 11:48] randomvariable commented on #2355
/kind release-blocking

[2021-04-16 13:10] randomvariable commented on #1782
/assign
/lifecycle active

[2021-04-19 13:50] martin-ducar-gd opened #2358 "New 0.6.5 EKS cluster with new awsclustercontrolleridentities is having issues with capa-eks-control-plane-controller-manager"
/kind bug

**What steps did you take and what happened:**
[code]

than deploy cluster with setup:
[code]

in log of capa-eks-control-plane-controller-manager
[code]
**What did you expect to happen:**
Cluster to spin up

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version: 0.6.5
- Kubernete

[2021-04-19 13:51] martin-ducar-gd commented on #2358
clusterctl install output:
[code]

[2021-04-19 13:53] richardcase commented on #2358
/area eks/provider
/help
/good-first-issue

[2021-04-19 13:53] richardcase commented on #2358
/area provider/eks

[2021-04-19 13:54] richardcase commented on #2358
The rbac declaration appears to have been missed:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/controlplane/eks/controllers/awsmanagedcontrolplane_controller.go#L113

[2021-04-19 13:55] richardcase commented on #2358
/priority important-soon

[2021-04-19 13:56] richardcase commented on #2358
/milestone v0.7.0

[2021-04-19 16:22] randomvariable commented on #2358
Should we backport this one?

[2021-04-19 16:59] richardcase commented on #2358
Yes i think we should backport.

[2021-04-19 17:21] richardcase commented on #2318
/assign
/lifecycle active

[2021-04-19 17:29] randomvariable commented on #2358
/kind backport

[2021-04-21 00:11] dkoshkin opened #2361 "component Deployment affinity not set"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Download https://github.com/kubernetes-sigs/cluster-api-provider-aws/releases/download/v0.6.5/infrastructure-components.yaml

Both deployments have:
[code]

But there is no affinity or node-selector to run on the control-plane.

Following the [quickstart](https://cluster-api.sigs.k8s.io/

[2021-04-21 11:57] randomvariable commented on #2361
I agree we should probably do this.

[2021-04-21 11:57] randomvariable commented on #2361
/priority important-soon

[2021-04-22 04:17] #2023 closed

[2021-04-22 07:35] sedefsavas opened #2363 "After upgrading kubekins version, conformance tests are failing"
/kind bug

**What steps did you take and what happened:**
We recently updated the kubekins version for main e2e tests to have go v1.16 for v1alpha4: https://github.com/kubernetes/test-infra/pull/21872

After this change, conformance tests started failing:
https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-aws#capa-conformance-k8s-main&show-stale-tests=

I could not detect any parti

[2021-04-22 08:01] paulcarlton-ww opened #2364 "Typo in book markdown file - awsclusteridentityidentity instead of awsclusterstaticidentity"
/kind bug

Typo in https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/docs/book/src/topics/multitenancy.md#awsclusteridentityidentity awsclusteridentityidentity instead of awsclusterstaticidentity

[2021-04-22 12:49] randomvariable commented on #2363
It's because we haven't updated to v1alpha4 yet, so go.sum is mismatched.

[2021-04-22 12:58] randomvariable commented on #2363
I think the best thing to do atm is remove CAPA main branch from SIG Release informing so it doesn't create noise for the release team. Once we have v1alpha4 types and the CR upgrade in place, we should add it back after we have clean CI signal for ourselves.

I've added that to https://github.com/kubernetes/test-infra/pull/21907

[2021-04-22 16:09] jimmidyson commented on #2363
I'd really like to understand the go 1.16 issue with older version of controller-runtime. Could someone please point me to an issue (can't find any in controller-runtime repo)?

[2021-04-22 20:30] dlipovetsky opened #2367 "AWSMachinePool needlessly updates the Launch Template when it first creates an ASG"
/kind bug

**What steps did you take and what happened:**
The AWSMachinePool creates a Launch Template when it first creates an ASG. The next requeue, it updates the Launch Template. Nothing appears different between the two versions, however.

**What did you expect to happen:**
To keep the first version.

**Anything else you would like to add:**
I suspect that the controller thinks the launch tem

[2021-04-22 22:53] dlipovetsky opened #2368 "AWSMachinePool controller should clean up unused Launch Template Versions"
/kind bug

**Describe the solution you'd like**
The AWSMachinePool controller creates new Launch Template Versions when the configuration changes, or the MachinePool is scaled. (See #2354). AWS imposes a limit on the number of Launch Template Versions:

When this limit is reached, further updates are not possible, and therefore further configuration changes or scale operations would be blocked.

[2021-04-22 23:04] dlipovetsky opened #2369 "If an ASG EC2 instance is terminated by the user or AWS itself, it may not get a valid bootstrap token"
/kind bug

**What steps did you take and what happened:**
Let's say an EC2 Instance is part of an ASG managed by AWSMachinePool.  If the Instance is terminated by the user, or by AWS, ASG immediately replaces the instance.  The current Launch Template version may have an expired bootstrap token. Therefore machine will not join the cluster. (Also, the machine will pass the ASG health checks, and wi

[2021-04-22 23:53] dlipovetsky commented on #2369
Here's the warning AWS Console shows when asking to terminate an instance that's part of an ASG:

![image](https://user-images.githubusercontent.com/3445370/115798496-ea511800-a3c5-11eb-92f1-736fa40a4637.png)

[2021-04-23 00:02] dlipovetsky commented on #2369
When I terminated the instance, I observed:
- The ASG service immediately replaces the instance
- The AWSMachinePool controller does not know about the change until the next time it reconciles the AWSMachinePool. In the meantime, the provider IDs are stale, as are the Node Refs.
- The Node becomes NotReady, but is eventually cleaned up by the cloud-controller-manager

[2021-04-23 07:31] calvix opened #2371 "AWSClusterRoleIdentity can be deleted when its still referenced"
/kind bug

**What steps did you take and what happened:**
When deleting a cluste, which is using the new AWS multitenancy (https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2253) CR `AWSClusterRoleIdentity` referenced in `AWSCuster.spec.identityRef`, you can accidentally delete the Role resource and the whole deletion process will fail, because the controller doesn't know how to acc

[2021-04-23 07:45] paulcarlton-ww opened #2372 "eks controller requires namespace access to support StaticIdentity defined in other namespaces"
/kind bug

**What steps did you take and what happened:**
I configured an AWS Cluster using StaticIdentity provider.

[code]

**What did you expect to happen:**
The controller to process my cluster definition. However it failed with rbac error listing namespaces.
Fixed this by adding namespaces to clusterrole used by controller

**Anything else you would like to add:**
Note that I also had to add

[2021-04-23 09:00] #2372 closed

[2021-04-23 09:08] #2364 closed

[2021-04-23 23:23] dlipovetsky commented on #2332
Apologies for the delay, I'll try to reproduce this soon.

[2021-04-27 07:48] sedefsavas commented on #2371
I think we should also backport this one.

/kind backport
/milestone v0.7.0

[2021-04-28 02:58] sedefsavas commented on #2336
While implementing stage 2, we will probably need to get the namespace automatically similar to this issue:
https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1208

[2021-04-28 03:00] sedefsavas commented on #2131
/assign

[2021-04-28 09:02] #2358 closed

[2021-04-28 16:13] vespian commented on #2361
PTAL: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2377

[2021-04-28 17:10] #1969 closed

[2021-04-28 19:32] sedefsavas commented on #2361
I think we should backport this, as this can be considered as bugs.
/kind backport

[2021-04-29 01:16] abhinavnagaraj opened #2378 "Max length not set for default 'EKS nodegroup IAM Role'"
/kind bug

**What steps did you take and what happened:**
1. Launch an EKS cluster without the 'EKS nodegroup IAM Role' specified.
2. Use long names of length 30 chars each, for the cluster-name and namespace.
3. The default name that is generated  for the 'EKS Nodegroup IAM Role' is
_EKSClusterName_-_EKSNodegroupName_-nodegroup-iam-service-role.
 Here, if the EKSClusterName is auto-generated, its

[2021-04-29 14:59] randomvariable opened #2380 "For Cluster API Quickstart, encode nil credentials in clusterawsadm iff it is determined that credentials are sourced from an EC2 instance profile"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

If I'm bootstrapping Cluster API using the clusterctl quick start, and I'm doing so on an EC2 instance with an instance profile with sufficient permissions, then I don't need any credentials in the capa-system secret, and CAPA running on the kind cluster will default to the EC2 instan

[2021-04-29 14:59] randomvariable commented on #2380
/kind security
/priority important-soon

[2021-04-29 15:00] randomvariable commented on #2380
/milestone v0.7.0

[2021-04-29 15:00] randomvariable commented on #2380
/area security

[2021-04-29 17:21] richardcase opened #2381 "List AWS resources created by CAPA"
/kind feature
/help

**Describe the solution you'd like**
Create a `clusterawsadm` command that will list all the AWS resources that have been created by CAPA. We can use the tags that are attached to the resources.

**Environment:**

- Cluster-api-provider-aws version: 0.6.5

[2021-04-29 19:55] randomvariable commented on #2381
/area cli

[2021-04-29 19:55] randomvariable commented on #2381
/area clusterawsadm

[2021-04-30 16:54] dlipovetsky commented on #2361
We're using the control plane node label as a _proxy_ for "this node has the IAM instance profile the CAPA controller needs."

When CAPA uses bootstrap credentials, it can run on any node.
When CAPA runs in EKS, the IAM instance profile is added to non-control-plane nodes.

In these two cases, required affinity to control plane nodes is not necessary, and in the EKS case, the lack of control plane

[2021-05-02 16:03] vincepri commented on #2119
/reopen

[2021-05-02 16:03] vincepri commented on #2119
/lifecycle frozen
/help

[2021-05-03 14:00] dkoshkin commented on #2361
@dlipovetsky I was following until the anti-affinity part, why use anti-affinity instead of an affinity with some new labels?

[2021-05-03 15:46] dlipovetsky commented on #2361
My mistake. I forgot that there is no concept of _node_ anti-affinity :disappointed:

[2021-05-04 05:30] richardcase commented on #2238
/lifecycle frozen

[2021-05-04 05:31] richardcase commented on #2239
/lifecycle frozen

[2021-05-04 11:23] #2321 closed

[2021-05-05 16:38] sedefsavas opened #2384 "Add tests for conversion webhooks"
We should add similar tests for conversion webhooks than [kubernetes-sigs/cluster-api#4417](https://github.com/kubernetes-sigs/cluster-api/pull/4417) to make sure that v1alpha3 --> v1alpha4 conversion actually works for each CRD.

/help
/good-first-issue

[2021-05-05 16:38] sedefsavas commented on #2384
/milestone v0.7.x

[2021-05-05 16:40] sedefsavas commented on #2381
/good-first-issue

[2021-05-05 22:13] sftim commented on #2268
For my part I'd also be OK with using eg https://github.com/kubernetes/community/tree/master/icons

[2021-05-06 15:08] vtremblay opened #2385 "Missing AWS resource from the GetPolicy permissions during machine pool reconciliation"
/kind bug

**What steps did you take and what happened:**
When deploying an AWSManagedMachinePool in a multi-tenant setup, the CAPA controller is not able to do the machine pool
 reconciliation. The IAM permission for the "GetPolicy" generated by clusterawsadm does not cover all the needed resources.

Here is an example of the logs:
[code]

It looks like the permission need to cover AmazonEKSWorke

[2021-05-06 15:12] vtremblay commented on #2385
I also tried to provide these permissions with an inline statement, using the following configuration, but it does not seems to be supported.
[code]

[2021-05-06 17:53] #1983 closed

[2021-05-06 17:58] vtremblay opened #2387 "extraStatements in the clusterAPIControllers config for clusterawsadm is being ignored"
/kind bug

**What steps did you take and what happened:**
When using `clusterawsadm` to create IAM roles, we cannot add inline statements for the controllers. The field from the configuration is accepted but ignored.

Here is the configuration used to reproduce:

[code]

The `clusterawsadm` command is working and does not fail, but the inline policy is not created.

**What did you expect to happen

[2021-05-06 17:59] sedefsavas commented on #2387
/help
/milestone v0.7.0

[2021-05-06 21:33] sedefsavas opened #2388 "Add v1alpha3 to v1alpha4 upgrade e2e test"
Add an e2e test for v1alpha3 to v1alpha4 upgrade similar to what core cluster-api is adding [here](https://github.com/kubernetes-sigs/cluster-api/pull/3708) and run a basic scale test to make sure it is functional.

https://github.com/kubernetes-sigs/cluster-api/pull/3708

/help
/good-first-issue
/milestone v0.7.x

[2021-05-06 22:09] wmedlar opened #2389 "Cannot create managed machine pools with ssh key set"
/kind bug

**What steps did you take and what happened:**
1. Create a cluster manifest with the `eks-managedmachinepool` flavor:

[code]

1. Edit the AWSManagedMachinePool `spec.remoteAccess.sshKeyName` to match the ssh key in the AWSManagedControlPlane.

[code]

1. Apply the cluster manifest.
1. The AWSManagedMachinePool will immediately fail reconciliation with `EKSNodegroupReconciliationFailed`

[2021-05-07 19:22] wmedlar commented on #2055
Hi @richardcase ! Have there been any developments in the design for this?

[2021-05-07 19:27] wmedlar commented on #2389
My workaround for this is binding `arn:aws:iam::aws:policy/AmazonEC2ReadOnlyAccess` (this is the smallest managed policy I could find with `ec2:DescribeKeyPairs`) to the CAPA & EKS controller role.

[code]

[2021-05-07 20:09] sedefsavas opened #2391 "Enhance v1alpha4 webhook validation checks"
We can improve validation checks for v1alpha4 types.

Possible improvements:
1. Check if selectors are parsable.
2. During update, check if fields (such as clusterName) that should stay the same is changed etc.

/good-first-issue
/priority backlog
/help
/milestone v0.7.x

[2021-05-09 15:10] DanielCalvo opened #2392 "clusterawsadm delete-cloudformation-stack should not return error on successful deletion"
/kind feature

When running `clusterawsadm bootstrap iam create-cloudformation-stack` clusterawsadm seems to use sensible defaults to create this cloud formation stack and succeeds:

[code]

However, the same sensible defaults do not delete the stack:
[code]

Passing the `--region` argument allows this command to succeed (it does delete the stack) but it also shows an error message:

[code]

**Des

[2021-05-10 05:35] richardcase commented on #2225
/lifecycle frozen

[2021-05-10 13:14] dkoshkin opened #2393 "AWSMachinePool not reconciled after move"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

1. Create a cluster with an `AWSMachinePool`
2. `clusterctl move` to the new cluster
3. `awscluster` and `awsmachineTemplate` reconcile as expected but `awsmachinepools` do not reconcile with error:

[code]

**What did you expect to happen:**
AWSMachinePool should reconcile after `clust

[2021-05-10 20:16] #2142 closed

[2021-05-10 20:16] #2148 closed

[2021-05-10 21:16] #2117 closed

[2021-05-11 07:59] sedefsavas commented on #2393
I am able to replicate the problem and have a possible fix.

/assign
/kind backport
/milestone v0.7.0

[2021-05-12 00:38] sedefsavas opened #2397 "Evaluate disabling AutoControllerIdentityCreator controller by default"
We added `AutoControllerIdentityCreator` controller as experiment to be backward compatible with v1alpha3 clusters that were created before multitenancy is supported. It creates `AWSClusterControllerIdentity` singleton that can be used by all namespaces.

With v0.7.0 release (v1alpha4), we should should consider disabling this controller and make users enable it if needed.
But this requires v1alph

[2021-05-12 09:37] richardcase opened #2399 "Add taints support to AWSManagedMachinePool"
/kind feature
/area provider/eks
/priority important-soon
/milestone v0.7.0
/help
/good-first-issue

**Describe the solution you'd like**
EKS managed nodegroups supports node taints and we should add support for this to CAPA and expose this via `AWSManagedMachinePool`.

**Anything else you would like to add:**
We need to handle this for both [creation](https://github.com/kubernetes-sigs/cluster-ap

[2021-05-12 13:02] #2131 closed

[2021-05-12 16:35] sedefsavas commented on #2170
@lxlxok are you still working on this, or should it stay rotten?

[2021-05-12 17:13] #2378 closed

[2021-05-12 17:43] sedefsavas opened #2400 "Keep secrets in the controller namespace for AWSClusterStaticIdentity"
We currently read secrets from all namespaces for `AWSClusterStaticIdentity` `SecretRef` field, but following the discussions here: https://github.com/kubernetes-sigs/cluster-api/pull/4514 and in the May 12th cluster-api office hours, we want to allow using secrets from only in the controller-namespace for Cluster-scoped resources such as `AWSClusterStaticIdentity`.

This will also make it easier

[2021-05-12 17:45] sedefsavas commented on #2393
Fixed by #2394
/close

[2021-05-12 17:45] #2393 closed

[2021-05-12 20:28] dkoshkin opened #2402 "LaunchTemplate for AWSMachinePool not being created"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Followup to https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2393 and the fix https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2394

1. I built an image `dkoshkin/cluster-api-aws-controller-amd64:dev` from latest `release-0.6`.
2. Create a cluster with a

[2021-05-13 06:56] lxlxok commented on #2170
Hi @sedefsavas, I am not working on this at the moment. Should we let it stay rotten or close it for now and reopen it in the future.

[2021-05-13 06:59] richardcase commented on #2361
@dlipovetsky @dkoshkin  - i like the idea of using node labels and affinity. From the EKS side this would work as we can create a node group with labels if we want to segregate CAPA.

We could also consider taints/tolerations (we have #2399 to add taint support to managed machine pools)

[2021-05-13 07:05] richardcase commented on #2055
@wmedlar - there was a call a while back but i didn't go to it as i had a clash. @randomvariable @sedefsavas - was there any outcome of the call around launch templates?

[2021-05-13 07:26] richardcase commented on #2389
/area provider/eks
/priority important-soon
/assign
/lifecycle active

[2021-05-13 08:30] richardcase commented on #2399
/assign
/lifecycle active

[2021-05-14 03:36] sedefsavas commented on #2055
Folks in that meeting agreed on having a separate LaunchTemplate resource that can be used by different resources.

The meeting notes of that meeting are in our regular office hour notes, search for `Spot Instance Support Special Meeting
`
https://docs.google.com/document/d/1iW-kqcX-IhzVGFrRKTSPGBPOc-0aUvygOVoJ5ETfEZU/edit#

[2021-05-14 04:02] sedefsavas commented on #2361
+1 to labels and affinity.
Also,  @dkoshkin if we want to backport this, it should also be backward compatible. But if it will make it too complicated, I am fine with just adding this to v0.7.0 too.

[2021-05-15 10:44] #1989 closed

[2021-05-17 00:28] yuzhang17 commented on #2388
Could I work on this issue？ It may take more time because I'm a newcomer

[2021-05-17 08:17] richardcase commented on #2055
Thanks @sedefsavas

[2021-05-17 15:59] sedefsavas commented on #2369
Is this issue solved by: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2401 ?

[2021-05-17 16:01] sedefsavas commented on #2392
/help
/good-first-issue
/milestone v0.7.x

[2021-05-17 16:15] sedefsavas commented on #2388
@yuzhang17 yes!

/assign @yuzhang17

You can reach out to us in #cluster-api channel for help because this will be probably done by calling `[ClusterctlUpgradeSpec](https://github.com/kubernetes-sigs/cluster-api/pull/3708)`.

[2021-05-17 16:53] dlipovetsky commented on #2369
Good point! I think you're right. With #2401, the latest version of the LaunchTemplate will have a valid bootstrap token.

[2021-05-17 16:53] #2369 closed

[2021-05-17 23:32] yuzhang17 commented on #2388
/lifecycle active

[2021-05-18 08:56] sadysnaat commented on #2248
Hi guys we have a requirement for this feature, I would like to take this up

We propose to add this field to AWSManagedControlPlaneSpec

[code]

### Behaviour

setting a value will disassociate any other IdentityProvider and register the IdentityProvider from AWSManagedControlPlaneSpec

Setting this to nil will dissociate any preregistered IdentityProvider

Changing the values in OidcIdentityProv

[2021-05-18 10:14] richardcase commented on #2248
@sadysnaat - i had started to work on this but didn't very far at all. I had started to make the API changes:

https://github.com/richardcase/cluster-api-provider-aws/commits/2248-oidc-provider

If you wanted to copy the definitions and apply to v1alpha4 AWSManagedControlPlane instead that would be good.

If you need any help with the change feel free to ping me here or on slack.

/unassign

[2021-05-18 10:14] richardcase commented on #2248
/assign sadysnaat

[2021-05-18 16:24] #2389 closed

[2021-05-18 16:46] #2318 closed

[2021-05-18 17:07] ruzickap opened #2409 "iamAuthenticatorConfig doesn't update the aws-auth configmap"
/kind bug

**What steps did you take and what happened:**
When I set the `iamAuthenticatorConfig`, like described in [EKS Console](https://cluster-api-aws.sigs.k8s.io/topics/eks/eks-console.html?highlight=iamAuthenticatorConfig#eks-console), the `aws-auth` ConfigMap is not updated.

I used the following `AWSManagedControlPlane` to create the EKS cluster:

[code]

When I created the cluster and che

[2021-05-18 23:14] #2402 closed

[2021-05-19 11:28] enxebre opened #2412 "Add documentation for externally managed clusters"
/kind documentation

**Describe the solution you'd like**
Add documentation for externally managed clusters. Also, maybe a developer's note for making sure the reconciliation is blocked in the mapping functions.
https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2383

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Enviro

[2021-05-19 16:39] sedefsavas opened #2413 "Upgrade to kind v0.11.0"
Upgrade kind to v0.11.0 for less flakiness in e2e tests.

Corresponding cluster api issue: https://github.com/kubernetes-sigs/cluster-api/issues/4503

https://github.com/kubernetes-sigs/cluster-api/pull/4469

/milestone v0.7.0

[2021-05-19 16:57] sedefsavas opened #2414 "Enable additional linters"
Core cluster-api repo is enabling some additional linters, it'd be good for consistency to enable same linters.

https://github.com/kubernetes-sigs/cluster-api/issues/4622

/help
/good-first-issue
/milestone 0.7.x

[2021-05-19 18:25] sedefsavas commented on #2412
/help
/milestone v0.7.x

[2021-05-19 18:37] sedefsavas commented on #2400
clusterctl issue: https://github.com/kubernetes-sigs/cluster-api/pull/4598

[2021-05-19 18:40] sedefsavas opened #2415 "Apply clusterctl label to global identity resources"
For discovery of global identity resources during `clusterctl move`:
https://github.com/kubernetes-sigs/cluster-api/pull/4628:
`Providers are required to apply the clusterctl.cluster.x-k8s.io/move-hierarchy label on the infrastructure cluster global identity CRDs.`

AWSClusterRoleIdentity, AWSClusterStaticIdentity, and AWSClusterControllerIdentity should have this label.

/milestone v0.7.0
/help
/

[2021-05-19 19:24] sedefsavas opened #2416 "MachinePool API group change"
MachinePool API is moved from `exp.cluster.x-k8s.io/v1alpha4` to `cluster.x-k8s.io/v1alpha4`

We should update our e2e test manifests accordingly after upgrading to the latest cluster-api.

https://github.com/kubernetes-sigs/cluster-api/issues/3424

/milestone v0.7.0

[2021-05-20 00:45] yuzhang17 commented on #2388
Learning Ginkgo and Reading E2E code. Working in progress.

[2021-05-20 01:03] sedefsavas commented on #2388
Thanks for the heads up @yuzhang17 , no rush we are still at least a month from a v1alpha4 release.

[2021-05-20 07:54] Evalle commented on #2414
Hi @sedefsavas I can help with this. Any specific linters that you want to enable?
Thanks!

[2021-05-20 19:24] sedefsavas opened #2419 "v1alpha3 e2e conformance fails for k8s v1.22"
/kind bug

v1alpha3 e2e conformance is failing with the latest Kubernetes ci v1.22.0 release: https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-aws#capa-conformance-v1alpha3-k8s-master&show-stale-tests=

As the tests are passing for 1.21, this is not a release blocker.

[2021-05-20 20:45] sedefsavas opened #2420 "Add IPv6 support"
Add support to create IPv6 clusters and add e2e test for it.

/kind feature
/milestone next

[2021-05-20 21:22] sedefsavas commented on #2420
/milestone Next

[2021-05-21 09:58] Szymongib commented on #2392
Hey @sedefsavas, I could take it if that is ok.
From what I see the `--region` flag is ignored all together when running `clusterawsadm bootstrap iam create-cloudformation-stack --region test` and it uses default AWS credentials or env var.

I think it would be the best that both commands use parameters in the same way so we could either delete `--region` flag from both commands and fallback to de

[2021-05-21 16:27] sedefsavas commented on #2392
@Szymongib Welcome to the community!

Both create and delete operations either resolve region from env vars or read it from the flag, using the same function: `resolveTemplateRegion`. So that behaviour is the same, cannot replicate the issue described.

But there is an issue in the delete operation, at the end we try to get the deleted resources that is why it shows error, even if CloudFormation i

[2021-05-21 22:25] sedefsavas commented on #2332
Closing this due to inactivity.
/close

[2021-05-21 22:25] #2332 closed

[2021-05-23 16:58] Ankitasw commented on #2391
Hi Sedef, I am interested in picking this issue up, can you tell me a little more details about the validations? Where to handle the upgrade parts as I dont see any special handling in cluster_webhook for upgrade? And what do we imply by parsable here?

[2021-05-24 06:29] sedefsavas commented on #2391
Welcome to the community @Ankitasw!

This is more of an exploratory issue, looking at the webhook validation checks in cluster-api, if there are any missing checks such as checking immutability etc.

For the label selectors we have, we need to add this check:
https://github.com/kubernetes-sigs/cluster-api/blob/06f58a66353d5a22a2849f2f516ee71e4664c323/api/v1alpha4/machinehealthcheck_webhook.go#L105

[2021-05-24 06:33] sedefsavas commented on #2391
/assign @Ankitasw
/lifecycle active

[2021-05-24 08:24] Szymongib commented on #2392
Thanks @sedefsavas!
Could you share the version you used when trying to reproduce? I managed to reproduce the issue from main branch as well as 0.6.5, with the following:
[code]
This results in:
[code]
as an issue describes.

The `create-cloudformation-stack` actually works because it uses configuration from `~/.aws/credentials` if env is not set (this comes by default from AWS client lib).
Furthe

[2021-05-24 11:59] shivi28 commented on #2415
/assign @shivi28

[2021-05-24 17:08] sedefsavas commented on #2415
@shivi28 Welcome to the community!

/hold
until kubernetes-sigs/cluster-api#4628 is merged

@shivi28 let's wait until the implementation in cluster-api is completed. That PR is still a draft.

[2021-05-24 18:52] sedefsavas commented on #2414
There are couple of PRs open in cluster-api. We can keep an eye on those: https://github.com/kubernetes-sigs/cluster-api/issues/4622 and enable same ones.

Some relevant ones:
https://github.com/kubernetes-sigs/cluster-api/pull/4649
https://github.com/kubernetes-sigs/cluster-api/pull/4657

/assign @Evalle

[2021-05-24 18:57] sedefsavas commented on #2413
/good-first-issue
/help

[2021-05-24 18:57] sedefsavas commented on #2416
/good-first-issue
/help

[2021-05-24 18:58] sedefsavas commented on #2416
We need to upgrade cluster-api to the latest main branch as well for this.

[2021-05-24 19:01] sedefsavas commented on #1782
This is done.
/close

[2021-05-24 19:01] #1782 closed

[2021-05-24 19:08] sedefsavas commented on #2004
/good-first-issue
/help

[2021-05-24 22:08] sedefsavas commented on #2392
@Szymongib
Good points!
In the PR, I proposed a solution to resolve region from flag, env var, and config in this order.

[2021-05-24 22:11] sedefsavas commented on #1392
/good-first-issue

[2021-05-24 22:14] sedefsavas commented on #2207
/good-first-issue
/help

[2021-05-24 22:15] sedefsavas commented on #2258
/good-first-issue
/help

[2021-05-25 06:58] shivi28 commented on #2258
/assign @shivi28

[2021-05-25 08:25] sedefsavas opened #2426 "Use changed API for KubeadmControlPlane"
There is an API change in KCP which replaces `InfrastructureTemplate` with `MachineTemplate` that we need to use in our e2e/unit tests. Issue: https://github.com/kubernetes-sigs/cluster-api/issues/4636

After doing this change, we need to bump nightly build versions in the e2e tests also to use a cluster-api version that includes this change:
https://github.com/kubernetes-sigs/cluster-api-provider

[2021-05-25 08:25] sedefsavas commented on #2426
/kind release-blocking

[2021-05-25 09:00] sbueringer commented on #2414
Just fyi. I try to keep an up-to-date list here: https://github.com/kubernetes-sigs/cluster-api/issues/4622 for further inspiration. In general it might also make sense to compare the currently active linters in CAPI vs CAPA.

[2021-05-25 16:59] sedefsavas opened #2428 "Enforce comments on the codebase"
Enable linters for enforcing adding a comment to exported methods.

Relevant cluster-api PRs:
https://github.com/kubernetes-sigs/cluster-api/pull/4631
https://github.com/kubernetes-sigs/cluster-api/pull/4669

/milestone Next
/priority backlog
/good-first-issue
/help

[2021-05-25 17:00] sedefsavas commented on #2414
I created a new issue for enabling comment enforcement linter, as it will be big change.
https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2428

[2021-05-25 17:28] #2392 closed

[2021-05-25 22:02] Algebra8 commented on #2428
Hello 👋

So it seems like kubernetes-sigs's `cluster-api` uses `golint`, so it should be as simple as adding that to `.golangci.yml`.

Should certain files, packages, or code also be excluded, e.g. `(func|type).*Fake.*`, `.*test/` etc? (examples taken from the issue posted).

[2021-05-25 22:10] sedefsavas commented on #2428
Hello @Algebra8!

Yes, wherever we don't need to add comments, we should exclude, e.g.,: *test, *fake, *mock, hack/.

After enabling this in golangci.yml, missing comments should be added as well, so expecting this to be a big PR.

[2021-05-25 22:17] Algebra8 commented on #2428
Ah ok, thanks for the heads up! I will work on my fork and make a PR when I think it's ready. Just a heads up though, I am currently interviewing so I won't be able to put 100% of my time and get it done ASAP. Is that alright?

[2021-05-25 22:31] sedefsavas commented on #2428
Yes, we are 1 month away from the release. You can do a draft PR or WIP PR if you want feedback too.

/assign Algebra8

[2021-05-25 22:44] Algebra8 commented on #2428
Great, thanks @sedefsavas !

[2021-05-26 03:10] sedefsavas commented on #2388
/hold
until https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2388 is merged for new cluster-api version.

[2021-05-26 03:49] sedefsavas commented on #2426
/assign

[2021-05-26 10:23] richardcase opened #2432 "Permission error when enable EKS encryption"
/kind bug
/area provider/eks
/priority important-soon
/milestone v0.7.0

**What steps did you take and what happened:**
Create an EK cluster and enable encruption using a KMS key. For example:
[code]

You then receive the following error:
[code]

**What did you expect to happen:**

I expect the cluster to provision with an error or warning and the EKS encryption settings to be set.

**Environment:

[2021-05-26 10:23] richardcase commented on #2432
/assign
/lifecycle active

[2021-05-26 10:24] richardcase commented on #2432
This will need to be backported to 0.6 as well

[2021-05-26 17:32] sedefsavas commented on #2361
Let's discuss this on May 31st meeting, I added it to the agenda.
cc @dkoshkin

[2021-05-26 19:53] #2258 closed

[2021-05-26 19:58] sedefsavas commented on #2426
Completed in https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2429

[2021-05-26 19:58] #2426 closed

[2021-05-26 19:59] sedefsavas commented on #2416
Fixed in https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2429

[2021-05-26 19:59] #2416 closed

[2021-05-26 20:00] sedefsavas commented on #2409
cc @richardcase for triage

[2021-05-26 20:25] richardcase commented on #2409
Thanks @ruzickap & @sedefsavas. I'll take a look first thing in the morning and update.

/assign

[2021-05-26 20:51] sedefsavas opened #2434 "Add clusterawsadm command to zero credentials"
When management clusters are started locally with `clusterctl init`, credentials are being saved as a secret and after `clusterctl move` to pivot the management cluster to AWS, the same credentials are being used. However, after the pivot control plane nodes have enough credentials to run CAPA controllers without those credentials. And CAPA has the ability to start using EC2 instance profiles when

[2021-05-26 20:51] sedefsavas commented on #2434
/assign

[2021-05-26 20:57] sedefsavas opened #2435 "Update calico in e2e tests"
We use calico v3.13.2 for our e2e tests:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/2a183f580873ed46aebdbba77da212a3476682aa/test/e2e/data/cni/calico.yaml#L2

We should upgrade this to a more recent version such as 3.18.4, for reasons like `apiextensions.k8s.io/v1beta` is deprecated.

/help
/good-first-issue
/milestone v0.7.x
/priority backlog

[2021-05-27 08:08] Evalle commented on #2435
/assign

[2021-05-27 08:53] Szymongib commented on #2387
Hey @sedefsavas I think I could help on that one.

At a first glance it seems that `ExtraStatements` are not processed in this function https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/cmd/clusterawsadm/cloudformation/bootstrap/cluster_api_controller.go#L59 and adding it there should fix an issue.

[2021-05-27 09:40] randomvariable commented on #2004
/assign @shivi28
/lifecycle active

[2021-05-27 09:40] Evalle commented on #2435
hi @sedefsavas, a couple of questions:
1. should we also change `apiextensions.k8s.io/v1beta` to `apiextensions.k8s.io/v1` as in https://docs.projectcalico.org/manifests/calico.yaml?
2. The latest calico image is `v3.19.1` (see https://docs.projectcalico.org/manifests/calico.yaml), should we use it instead of `3.18.4` ?
3. What about `calico_eks.yaml`? https://github.com/kubernetes-sigs/cluster-ap

[2021-05-27 10:04] richardcase commented on #2317
/unassign
/help

[2021-05-27 11:35] mohsen-abbasi-shia commented on #2428
/assign

[2021-05-27 12:31] randomvariable commented on #1392
Assigning myself in lieu of @ankitasw

[2021-05-27 16:41] sedefsavas commented on #2428
@mohsen-abbasi-shia Hi!
This issue was already assigned to @Algebra8, so unassigning you. We have other unassigned good-first-issues you can pick up.
/unassign @mohsen-abbasi-shia

[2021-05-27 22:45] sedefsavas commented on #2428
This is also relevant.
https://github.com/kubernetes-sigs/cluster-api/pull/4631

[2021-05-27 22:51] dlipovetsky commented on #2367
/priority low

[2021-05-27 22:58] sedefsavas commented on #2367
We have backlog

/priority backlog

[2021-05-27 23:02] dlipovetsky commented on #2368
I'm worried that I did not raise this in the v0.6.6 release notes. I think that there's a new version created every time a new bootstrap token is created; assuming that's about every 10m, then a pool can operate for about 10m * 10,000 versions = 100,000m, or approximately 69 days, before its launch template reaches the maximum allowed versions.

[2021-05-27 23:28] sedefsavas commented on #2368
Would you like to address the cleanup in the v0.6.7 release?

I will add this as a warning to the v0.6.6 for new users.

[2021-05-28 10:19] shivi28 commented on #2381
/assign @shivi28

[2021-05-28 12:26] Ankitasw opened #2441 "CAPA make generate command generates new files in wrong directory"
**What steps did you take and what happened:**
When we execute 'make generate' from the repo root directory , the generated code is created in a separate folder hierarchy with prefix sigs.k8s.io/cluster-api-provider-aws/ which creates nested directories inside the workspace leading to multiple files with same name but different directories.

**What did you expect to happen:**
The generated files s

[2021-05-28 18:28] #2004 closed

[2021-05-28 19:25] sedefsavas commented on #2441
The easiest way to avoid this is to checkout the code to this location:
`$GOPATH/src/sigs.k8s.io/cluster-api-provider-aws`

Here is the slack [thread](https://kubernetes.slack.com/archives/CD6U2V71N/p1620841263252000)

[2021-05-28 19:34] sedefsavas commented on #2435
https://docs.projectcalico.org/manifests/calico.yaml?

Yes, we can use this yaml completely and add the version as comment at the too. If there are other changes we do, maybe add them as note too.

Yes

I don't know the specific changes in there, if you can identify and do the same changes in the new version too, go ahead. Otherwise, we can track it on another issue.

[2021-05-28 23:38] Algebra8 commented on #2428
@sedefsavas Thanks for the resource! I'll make sure to include `package X implements X` comment requirements as well.

PS I think I'll be submitting a draft soon because there are a few things I would appreciate feedback/clarity on. Will be submitting the draft soon.

[2021-05-28 23:45] Algebra8 commented on #2428
Also, just a quick update: It seems like  https://github.com/kubernetes-sigs/cluster-api/commit/0fb33bc44d66a095ef5bffbc8aca7d056bc818e2 swapped using `golint` for `revive`. I believe this is because `golint` has been archived and [golangci-lint recommends swapping it with `revive`](https://golangci-lint.run/usage/linters/). So, I'll be using revive instead of golint as well, unless asked not to.

[2021-05-29 00:56] abhinavnagaraj opened #2442 "Cannot SSH into eks nodegroup instances using bastion"
/kind bug

**What steps did you take and what happened:**
1) Create an EKS cluster with bastion enabled in public subnet and workers in private subnets.
2) Configure the SSH key in both AWSManagedControlPlane and AWSManagedMachinePool
3) After the cluster is ready,
    i) first ssh into the bastion using the provided ssh key - this is successful
    ii) from the bastion, using the same ssh key, tr

[2021-05-31 04:30] dlipovetsky commented on #2368
Thank you, @sedefsavas!

I will try.

[2021-05-31 05:38] Ankitasw commented on #2441
@sedefsavas  I did the checkout at same location, still facing the issue.

[2021-06-01 00:42] yuzhang17 commented on #2413
/assign

[2021-06-01 07:31] richardcase commented on #2442
@abhinavnagaraj  - thanks for raising this. i think this is a duplicate of #2231

[2021-06-01 08:38] #2400 closed

[2021-06-01 09:03] haho16 opened #2449 "ELB deletions: timed out waiting for the condition"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
First of all, thanks to all for your work. The project is very interesting and it is clear there is a lot of effort involved in it :).
I am testing the creation of an AWS workload cluster from an existing EKS cluster and using existing VPC/subnet infra.

The cluster is created correctly,

[2021-06-01 09:49] martin-ducar-gd commented on #2432
It seems issue really is with something different we used aws eks for KMS
[code]
that key is not working at all as policy is bad on his side and kms:CreateGrant is not allowed once the custom KMS key with proper policy is there it will start working

[2021-06-01 09:49] martin-ducar-gd commented on #2432
I think we can close this

[2021-06-01 09:51] martin-ducar-gd commented on #2432
It might be considered a Feature than as maybe the controller should not try to run CreateGrant when and alias like this is used

[2021-06-01 09:56] richardcase commented on #2432
@martin-ducar-gd - i think this needs to remain open and the fixes to merge. If i look at [this](https://docs.amazonaws.cn/en_us/eks/latest/userguide/create-cluster.html) and specifically this part:
[code]

[2021-06-01 09:58] richardcase commented on #2432
@martin-ducar-gd - although i didn't use an alias in my testing...i just used the ARN of the key directly.

[2021-06-01 10:05] martin-ducar-gd commented on #2432
The idea for alias from our side was once the whole CAPI/A objects are abstracted for the users KMS ID is not a requirement as the alias only has account id inside.

[2021-06-01 10:06] martin-ducar-gd commented on #2432
But the whole alias thing I will try to test with pure EKS console deploy to make sure it even works as according to docs you shared it might not @richardcase

[2021-06-01 10:31] richardcase opened #2452 "Update EKS clusters to enable encryption"
/kind feature
/area provider/eks
/priority important-soon
/help
/milestone v0.7.0

**Describe the solution you'd like**
You can enable EKS encryption at cluster creation time by using `encryptionConfig`. However, if you initially create a cluster without encryption and then later want to enable encryption this isn't currently supported by CAPA.

We need to detect the scenario where `AWSManagedCont

[2021-06-01 19:36] webern opened #2459 "Where do I get clusterawsadm?"
/kind bug

**What steps did you take and what happened:**
I spent a non-trivial amount of time searching the internet for a distribution of a binary named `clusterawsadm`.

**What did you expect to happen:**
To find some information on where `clusterawsadm` is to be obtained.

**Anything else you would like to add:**
Please document how/where I should obtain and install `clusterawsadm`.
I apologiz

[2021-06-01 19:47] #2387 closed

[2021-06-01 20:18] sedefsavas commented on #2459
It is normally published with each release as artifacts, but latest release v0.6.6 is missing it. Thanks for letting us know. Just added those binaries: https://github.com/kubernetes-sigs/cluster-api-provider-aws/releases/tag/v0.6.6 see under assets.

Each cloud provider has its own documentation: we have it documented in the [getting started](https://cluster-api-aws.sigs.k8s.io/getting-started.ht

[2021-06-01 20:35] webern commented on #2459
Thank you for the quick response.
I did miss that sentence, and the missing binaries added to my confusion.

You might consider adding the link https://github.com/kubernetes-sigs/cluster-api-provider-aws/releases/latest and being more specific about what is meant by from the "AWS provider releases". For example:

If you want to make that change you can leave this issue open to track it. Otherwise

[2021-06-01 20:43] sedefsavas commented on #2441
I am unable to replicate the issue when checking out the repo under GOPATH. Maybe $GOPATH or some other environment variables are not set right.
/priority awaiting-more-evidence

[2021-06-01 21:28] sedefsavas commented on #2459
We already have that link there, but also added to our intro section to reduce confusion.

[2021-06-01 21:50] #2459 closed

[2021-06-02 00:06] abhinavnagaraj commented on #2442
@richardcase, please correct me if I am missing something.
I tried with v0.6.6 and still see this issue.
The managed nodegroup has the correct sg - "-node-eks-additional", but the ec2 instances associated with this nodegroup don't have this sg. The instances have the "eks-remoteAccess-" sg, which in turn has the TCP 22 inbound rule from sg "-node-eks-additional".

[2021-06-02 09:27] martin-ducar-gd opened #2462 "When running clusterawsadm bootstrap IAM for EKS clusters ExtraPolicyAttachments are not working properly"
/kind bug

**What steps did you take and what happened:**
Bootstrap config
[code]
Than generate CF template
[code]

**What did you expect to happen:**
I expect eks-nodegroup role to have attached this policy but its not there as can be seen here:
[code]

**Anything else you would like to add:**
That additional policy is not found anywhere, maybe I'm missing something but following https://cluster-

[2021-06-02 10:28] Ankitasw commented on #2441
GOPATH is set correctly, may i know which other env variables shall I check?

[2021-06-02 10:47] martin-ducar-gd commented on #2432
Ok did a simple test with
[code]
it does work when alias has proper permissions so statement alias can be used is true. meaning that what @richardcase is proposing might be usable.

[2021-06-02 14:13] chessman opened #2464 "invalid type for io.x-k8s.cluster.infrastructure.v1alpha3.AWSMachinePool.spec.subnets: got "string", expected "map""
/kind bug

**What steps did you take and what happened:**

I followed steps from https://cluster-api-aws.sigs.k8s.io/topics/machinepools.html

[code]

After applying the configuration, I got

[code]

**What did you expect to happen:**

No error as it is the same as in the provided documentation.

**Anything else you would like to add:**

This configuration works:

[code]

`Subnets` field has `[]in

[2021-06-02 15:34] randomvariable commented on #2055
/lifecycle cancel

[2021-06-02 15:42] #2134 closed

[2021-06-02 15:56] #2434 closed

[2021-06-02 17:56] Ankitasw commented on #2441
only the generated conversion files are getting created separately, rest all files are getting modified in correct places (eg. manifests, deepcopy-generate etc.)

[2021-06-02 19:07] randomvariable commented on #2441
I've been having the same issue, but it not consistently, despite having checked out to `$GOPATH/src/sigs.k8s.io/cluster-api-provider-aws`

[2021-06-03 03:14] sedefsavas commented on #2464
Thanks for reporting. This is a documentation issue not a bug. Contributions are welcome as well.

/milestone Next
/kind documentation

[2021-06-03 03:17] #2391 closed

[2021-06-03 03:27] sedefsavas commented on #2449
Is CLB deleted by the controllers? Can you check the capa-manager logs and search for: `deleting load balancer`, if there is `arn` in that log line at one point, it means the controller deleted the CLB.

You can remove finalizer `awscluster.infrastructure.cluster.x-k8s.io` from the AWSCluster resource to delete it without waiting for the cleanup. But if this is not a user error, then we should fix

[2021-06-03 03:31] #2399 closed

[2021-06-03 10:54] martin-ducar-gd opened #2465 "Private EKS cluster SG forbids by default API access from outside of cluster"
/kind bug

**What steps did you take and what happened:**
If you create EKS cluster with:
[code]
Than default security group setup is done in this way:
* Controll plane primary SG:
  * Ingress
    * All Traffic from self (reference to same SG id)
  * Egress
    * All Traffic to 0.0.0.0/0
* Controll plane secondary SG:
  * Ingress
    * Port 22 TCP from SG of bastion
* Nodegroup:
  * uses same  SG

[2021-06-03 11:11] martin-ducar-gd opened #2466 "EKS cluster securityGroupOverrides not working"
/kind bug

**What steps did you take and what happened:**
Deployed EKS cluster using definition like this:
[code]
but the controll plane still has default generated SG and same goes for nodegroup this is related also to https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2465
[code]
As can be seen nodes have still same SG as controllplane and again not one selected

**What did you e

[2021-06-03 13:16] richardcase commented on #2465
/assign

[2021-06-03 13:17] richardcase commented on #2466
/assign

[2021-06-03 14:18] chessman commented on #2464
@sedefsavas I continued configuring the cluster and got an error
[code]
It means that "id: eu-central-1a" is also not a proper configuration. I replaced it with a subnet ID (subnet-xxxxxxxxx) and it worked out. But this ID gets known after the cluster is provisioned, so it's impossible to specify it beforehand.

[2021-06-03 14:19] richardcase commented on #2465
/lifecycle active

[2021-06-03 14:19] richardcase commented on #2466
/lifecycle active

[2021-06-03 16:12] sedefsavas opened #2467 "Update cluster-api e2e test package import in e2e tests"
Core cluster-api introduced a new module for test package. We should be importing that to use cluster-api e2e methods.

We should be updating cluster-api version to include this change: https://github.com/kubernetes-sigs/cluster-api/pull/4713

/good-first-issue
/milestone v0.7.0
/help

[2021-06-03 19:22] ruzickap commented on #2409
I'm sorry, but it seems to be working fine.

I did the tests again and I got it working...

Closing...

[2021-06-03 19:22] #2409 closed

[2021-06-04 04:25] Madhur97 commented on #2207
/assign @Madhur97

[2021-06-04 17:32] #2414 closed

[2021-06-04 17:36] sedefsavas opened #2471 "Enable additional linters"
Follow-up issue to https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2414

Enable the following linters:

 - stylecheck
 - errcheck
 - gosec

Also, these  are some relevant PRs in cluster-api repo. We should compare what we have with the ones added there.
kubernetes-sigs/cluster-api#4649
kubernetes-sigs/cluster-api#4624
kubernetes-sigs/cluster-api#4657
kubernetes-sigs/cluster-api#

[2021-06-07 08:09] richardcase commented on #2465
After chatting with @paulcarlton-ww

/assign @paulcarlton-ww

Ping me if you need a hand with anything

[2021-06-07 08:10] paulcarlton-ww commented on #2465
I will look at this issue

[2021-06-07 08:10] richardcase commented on #2465
/assign @paulcarlton-ww

[2021-06-07 12:57] Ankitasw commented on #2441
@sedefsavas : looks like $GOPATH issue, some issue with my local setup where sometimes GOPATH is getting populated as nil, closing the issue

[2021-06-07 12:57] #2441 closed

[2021-06-07 14:50] #2435 closed

[2021-06-07 15:47] paulcarlton-ww commented on #2465
@martin-ducar-gd I've been investigating this and recreated issue.  When I add a bastion node I can access the api server but I need to add a security group rule to the control plane secondary SG to open port 443 to do so. Will investigate how to specify this in CAPA cluster definition.

[2021-06-07 22:54] CecileRobertMichon commented on #2467
@sedefsavas FYI I'm running into issues doing this in CAPZ

I have
[code]

getting
[code]

[2021-06-07 23:28] CecileRobertMichon commented on #2467
Adding

[code]

(replace it with your own version of capi) in CAPZ/CAPA go.mod

fixes the issue, which was that the replace was only happening locally https://github.com/kubernetes-sigs/cluster-api/blob/55f064d1b9fcf3f0a7b1a32e43559bdff4d3c2cb/test/go.mod#L5

[2021-06-07 23:47] yuzhang17 commented on #2413
/unasign

[2021-06-07 23:47] yuzhang17 commented on #2413
/unassign

[2021-06-08 00:53] shysank commented on #2467
I was also doing this and tried by removing `sigs.k8s.io/cluster-api` and only adding `sigs.k8s.io/cluster-api/test`. . Then,`go mod tidy` automatically added `sigs.k8s.io/cluster-api v0.0.0-00010101000000-000000000000`. As @CecileRobertMichon suggested, then had to add the replace block. Looked something like this:
[code]

[2021-06-08 13:56] JacekDuszenko commented on #2471
Hey, I'd like to have a try on this task :)
/assign @JacekDuszenko

[2021-06-08 14:01] paulcarlton-ww commented on #2465
I'm not seeing a way to automatically add the ingress rule above to allow access to api from the bastion host or elsewhere.

I tried adding
[code]
But it didn't get that far, management node controller failed to access tenant cluster api.

My thinking is a mechanism to add rules to a security group created for the cluster is required?
But seems to me the management node controllers need to be able

[2021-06-08 15:17] paulcarlton-ww commented on #2465
So issue is that setting

[code]

means you get exactly what you asked for, an API server that is only accessible from within the vpc.

The default security group setup does not allow access from the bastion host, we should add an option to `endpointAccess` to allow the user to specify that the bastion host's SG should be allowed API access, not just SSH.

The management cluster where the CAPI/CAP

[2021-06-08 15:19] richardcase commented on #2465
@paulcarlton-ww - could we change the name of `securityGroupsAccess` so that its obvious that this is additional security groups?

[2021-06-08 15:20] richardcase commented on #2465
Also, we should create another issue for the docs to be updated to give guidance on VPC peering when used with CAPA.

[2021-06-08 15:20] paulcarlton-ww commented on #2465
So the proposed fix for this issue is to add two new fields to endpointAccess that apply when the private is true and public is false...

 endpointAccess:
    public: false
    private: true
    bastionAccess: true
    additionalSecurityGroupsAccess:
    - id: <id of SG to be granted access to private api>
    - ...

[2021-06-08 15:26] paulcarlton-ww opened #2484 "Document vpc peering between management cluster vpc and tenant cluster vpc"
/kind feature

**Describe the solution you'd like**
See #2465, the management cluster requires access to the tenant cluster api and if that is configured to be private access only the management clusters vpc needs to be peered with the tenant cluster's vpc.

The establishing of the required vpc peering needs to be performed by the user. We should document this process and the reasons why it is req

[2021-06-08 17:09] CecileRobertMichon commented on #2467
https://github.com/kubernetes-sigs/cluster-api/pull/4765

[2021-06-08 19:38] randomvariable commented on #2467
/lifecycle active
/assign

[2021-06-08 21:20] Algebra8 commented on #2428
@sedefsavas

Hope you're doing well. I have a few questions that I would appreciate feedback on [here](https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2443#issuecomment-856258825).

I would appreciate if you could provide some feedback or point me in the direction of the whom I should be getting feedback from.

Thanks!

[2021-06-09 06:02] sedefsavas commented on #2415
@shivi28 that PR is merged, do you still want to work on this?

[2021-06-09 10:27] paulcarlton-ww commented on #2465
I've created a vpc peer from management cluster's vpc to the tenants vpc and routes from each subnet's private router to the tenant vpc cidr and now the tenant cluster's private API endpoint is accessible from mgmt cluster, no need for security group change! Possibly because the default security group in the tenant vpc allows all traffic within group and the peering makes the connection from the m

[2021-06-09 10:29] paulcarlton-ww commented on #2465
I think we still should add `bastionAccess` field but not needed to fix this specific issue I think

[2021-06-09 11:39] paulcarlton-ww commented on #2465
Actually something is still not right, control plane controller gets

[code]

From my ubuntu pod in mgmt cluster I can access the tenant api but get a forbidden response, although I can list api-resources.
I tried adding the mgmt cluster security group to the tenant cluster's controlplane security group but as expected that didn't change anything.

From bastion I can access api correctly, with sec

[2021-06-09 11:49] #2467 closed

[2021-06-09 20:16] sedefsavas commented on #2267
/remove-lifecycle stale

[2021-06-09 20:17] richardcase commented on #2173
/lifecycle frozen

[2021-06-09 20:18] richardcase commented on #2178
/lifecycle frozen

[2021-06-09 20:19] richardcase commented on #1951
/lifecycle frozen

[2021-06-09 20:19] richardcase commented on #2272
/lifecycle frozen

[2021-06-09 20:20] richardcase commented on #2263
/lifecycle frozen

[2021-06-09 21:01] cdenneen commented on #2105
/remove-lifecycle stale

[2021-06-09 21:14] richardcase commented on #2256
/lifecycle frozen

[2021-06-09 21:15] richardcase commented on #2251
/lifecycle frozen
/good-first-issue

[2021-06-10 01:02] sedefsavas opened #2491 "Add shortnames to all resources"
We only have short names for a subset of the resources:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/search?l=YAML&q=shortNames

Add shortnames wherever applicable.

/priority backlog
/good-firts-issue
/milestone Next

[2021-06-10 01:04] sedefsavas commented on #2218
/lifecycle frozen

[2021-06-10 04:59] sedefsavas commented on #2441
Solved in here: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2485

[2021-06-10 07:42] martin-ducar-gd commented on #2465
@paulcarlton-ww sorry for delay. that `securityGroupsAccess` filed in `endpointAccess` seems like reasonable first fix sure.

[2021-06-10 07:45] martin-ducar-gd commented on #2465
But another more conceptual issue is we are using strange SG setup. If you look at EC2 clusters from CAPA they split SGs for Controll plane and for Nodes hopefully that is also something we can agree EKS would benefit from instead of using only one for both. than the securityGroupsAccess will be for Controll plane SG and the Nodes SG will also allowed in controll plane SG.

[2021-06-10 07:48] martin-ducar-gd commented on #2465
that setup will actually than unify the setup a bit between EKS and EC2 clusters and than Security group override logic can be reused largely of course `apiserver-lb`, and `lb` field is arbitrary for EKS most probably but otherwise same.

[2021-06-10 07:49] richardcase commented on #2465
@paulcarlton-ww - for consistency with naming elsewhere could it be named `AdditionalSecurityGroups`

[2021-06-10 09:38] richardcase commented on #2275
/lifecycle frozen

[2021-06-10 10:07] richardcase commented on #2224
/lifecycle frozen

[2021-06-10 10:07] richardcase commented on #2212
/lifecycle frozen

[2021-06-10 10:07] richardcase commented on #2212
/unassign

[2021-06-10 10:07] richardcase commented on #2189
/lifecycle frozen

[2021-06-10 10:08] richardcase commented on #2180
/lifecycle frozen

[2021-06-10 10:20] paulcarlton-ww commented on #2465
ah seems kubectl executed from within a pod defaults to the host cluster api! Adding --kubeconfig ... makes it use the kubeconfig of the tenant cluster!

Now it is failing to connect, despite SG rules, vpc peering and routes being setup, investigating

[2021-06-10 11:59] richardcase opened #2494 "Remove the use of slices of pointers to structs from our API"
/kind cleanup
/priority critical-urgent
/milestone v0.7.0

**Describe the solution you'd like**
We use `[]*AStruct` in a number of places in our API and as a result with the latest versions of `conversion-gen` we are seeing this issue:

https://github.com/kubernetes/kubernetes/issues/98380

This can be fixed without a change to conversion-gen by changing of `[]*AStruct`  to `[]AStruct`

**Anything

[2021-06-10 12:00] richardcase commented on #2494
/assign
/lifecycle active

[2021-06-10 13:54] richardcase commented on #2254
/lifecycle frozen

[2021-06-10 15:26] shivi28 commented on #2415
Hey @sedefsavas, thanks for informing me. Yes, I want to work on this but I am currently working on other issues, until I unassign this task, so if anyone is interested can pick it.

/unassign @shivi28

[2021-06-10 15:26] shivi28 commented on #2415
/unassign @shivi28

[2021-06-10 22:12] faiq opened #2497 "ELBs fail to delete when there are more than 20 in an account"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

1. Start up more than 20 classic ELBs in AWS
2. Create a CAPA cluster
3. Delete the CAPA cluster

Deletion will fail and we will see an error similar to the following in the capa-controller-manager

[code]

I've tracked this down to the following [call](https://github.com/kubernetes-sig

[2021-06-11 16:55] sedefsavas commented on #2497
Thanks for digging into this problem. Given that there is no DescribeTagsPages call, we will do a loop there if there are more than 20 ELBs.

/good-first-issue
/milestone v0.7.0

[2021-06-11 16:56] sedefsavas commented on #2491
/good-first-issue

[2021-06-11 19:08] shivi28 commented on #2381
Hey @richardcase, Almost all the resources created by CAPA have `sigs.k8s.io/cluster-api-provider-aws/cluster/test-cluster-1` tag **except Volumes**. So how **I will list the volumes created by CAPA ?** (because they have no tag).

Second, I need some suggestions on the way command output should look. I have explored resourcetaggingAPI `GetResource()` function,  it's returning the ARN's for all th

[2021-06-12 07:01] #2170 closed

[2021-06-14 08:07] Ankitasw commented on #2452
/assign

[2021-06-14 10:01] richardcase commented on #2381
Thanks for working on this @shivi28 :+1:

For volumes, we should be adding tags. So I think you should treat volumes in the same way as other resources and list the ones that have the tag. At the moment it won't list them as they don't have the tag, but we can make a separate change to ensure that they are tagged correctly. After that, they will be picked up. (I also need to review this change whi

[2021-06-14 11:20] paulcarlton-ww opened #2504 "Document vpn setup between management cluster running outside AWS and tenant cluster vpc"
/kind feature

**Describe the solution you'd like**
See #2484, the management cluster requires access to the tenant cluster api and if that is configured to be private access only the management clusters vpc needs to be peered with the tenant cluster's vpc.

If the management cluster is running outside the AWS environment then it will be necessary to provide access to the AWS VPC private network u

[2021-06-14 11:22] shivi28 commented on #2381
Thanks @richardcase,  will check `github.com/aws/aws-sdk-go/aws/arn` package and go ahead with 2nd approach. I will add all the three output forms: table, yaml and json.

[2021-06-14 11:44] paulcarlton-ww commented on #2484
When creating an EKS cluster, if you specify that the API server should only be accessible via the private network then the CAPI/CAPA controllers running on the management cluster will not be able to access the API server of the tenant cluster being created. The CAPI controller on the management cluster requires access to the tenant cluster's API in order to deploy ClusterResourceSets and the CAPA

[2021-06-14 12:18] richardcase commented on #2219
/lifecycle frozen

[2021-06-14 17:27] richardcase commented on #2274
/lifecycle frozen

[2021-06-14 17:46] dlipovetsky commented on #2368
/milestone v0.7

[2021-06-15 05:32] #2497 closed

[2021-06-15 07:55] richardcase opened #2508 "[e2e] Add EKS Encryption Test"
/kind feature
/area provider/eks
/area testing
/help
/priority backlog
/milestone v0.7.x

**Describe the solution you'd like**
We need to add an e2e test that covers the EKS encryption functionality.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version: 0.6.6
- Kubernetes version: (use `ku

[2021-06-15 08:42] tech-geek29 commented on #2491
/assign

[2021-06-15 11:20] Madhur97 commented on #2207
Hello @randomvariable, I found Elastic IPs created by CAPA already have following tags
[code]
Do we still need to add any other tag in Elastic IPs?

[2021-06-15 11:36] paulcarlton-ww commented on #2484
This needs to be added to docs, when I or someone else has time

[2021-06-15 12:24] tech-geek29 commented on #2491
@sedefsavas what short name do you suggest for `kind: EKSConfig` and `kind: EKSConfigTemplate`

[2021-06-15 14:41] richardcase commented on #2466
/unassign
/help
/priority important-soon
/milestone 0.7.x

[2021-06-15 15:54] paulcarlton-ww commented on #2465
Figured out networking and security groups now, see #2484
Working on fix to this issue

[2021-06-15 17:50] sedefsavas commented on #2484
/help
/milestone v0.7.x

[2021-06-15 20:01] #2491 closed

[2021-06-15 20:16] richardcase commented on #2465
/kind documentation

[2021-06-16 06:54] sedefsavas commented on #2207
Yes, we add these tags after creating the Elastic IPs in a separate call.

Instead, newer AWS-SDK has the option to provide the tags during creation of EIPs.

In `AllocateAddress()` api call, tags can be specified with this field: `TagSpecifications []*TagSpecification` in `AllocateAddressInput` struct:

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/72f4dad21a8e72e7642d3e8327d9e

[2021-06-16 09:48] tech-geek29 commented on #2471
Hi @JacekDuszenko are you still working on it or can I assign it to myself? I have done the relevant changes and can raise a PR!

[2021-06-16 09:53] JacekDuszenko commented on #2471
Sure, go for it if you want to, I'm working on sth else right now @tech-geek29

[2021-06-16 09:56] tech-geek29 commented on #2471
/unassign @JacekDuszenko
/assign

[2021-06-17 02:26] #2428 closed

[2021-06-17 04:55] shivi28 commented on #2415
/assign @shivi28

[2021-06-17 05:59] tech-geek29 commented on #2471
@sedefsavas:Does this issue still needs to be kept open?

[2021-06-17 06:27] tech-geek29 commented on #2413
@sedefsavas When looking at [L1114](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/159c13f18ec81243b9f2f1ac700e41a144863b96/go.sum#L1114) & [L1115](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/159c13f18ec81243b9f2f1ac700e41a144863b96/go.sum#L1115), the kind is already v0.11.1 Isn't this upgraded already?

[2021-06-17 07:03] tech-geek29 commented on #2267
I think this issue can also be closed now. We already have desired changes in code base!

[2021-06-17 17:12] shivi28 commented on #2415
Hey @sedefsavas do I also need to add this label in v1alpha3 api?

[2021-06-17 17:14] sedefsavas commented on #2415
No, just to v1alpha4, clusterctl only added [moving global resources ](https://github.com/kubernetes-sigs/cluster-api/pull/4628)support to v1alpha4.

[2021-06-17 17:16] #2494 closed

[2021-06-17 17:32] #2381 closed

[2021-06-18 09:10] #2432 closed

[2021-06-18 13:45] randomvariable commented on #2225
/lifecycle active
/assign

[2021-06-18 15:49] cabrinha commented on #2298
/remove-lifecycle stale

[2021-06-18 16:28] cabrinha opened #2523 "Spot Instance Support for AWSManagedMachinePool"
/kind feature

**Describe the solution you'd like**
I'd like to use AWSManagedMachinePool / MachinePool with spot instances.

**Environment:**

- Cluster-api-provider-aws version: v6.5.0
- Kubernetes version: (use `kubectl version`): v1.19
- OS (e.g. from `/etc/os-release`): amazon linux 2

[2021-06-21 08:54] calvix commented on #2316
/remove-lifecycle stale

[2021-06-21 15:52] richardcase commented on #2146
/lifecycle frozen

[2021-06-22 16:02] shivi28 commented on #2275
/assign

[2021-06-22 16:47] #2368 closed

[2021-06-22 17:27] #1392 closed

[2021-06-23 10:22] shivi28 opened #2533 "Add kustomize patch to include move hierarchy label in global identity resources"
/kind feature

**Describe the solution you'd like**
Need to add a kustomize patch to add a label of `clusterctl.cluster.x-k8s.io/move-hierarchy` to CRDs of global identity resources like AWSClusterControllerIdentity, AWSClusterRoleIdentity, AWSClusterStaticIdentity.

**Anything else you would like to add:**
This is for v1alpha4.
Reference Issue link: #2415

**Environment:**

- Cluster-api-provider

[2021-06-23 11:56] 0xVox opened #2534 "AWSCluster `controlPlaneEndpoint.scheme` defaults - validation issue blocks editing neighbouring mutable fields"
/kind bug
Hey guys, not sure if this has been reported before or if it's expected behaviour, but I've found that the default value for

**What steps did you take and what happened:**
`awscluster.spec.controlPlaneEndpoint.scheme` Is validated as `Internet-facing` but actual value set by applying an AWSCluster without `spec.controlPlaneEndpoint` is `internet-facing`. When you then set other `control

[2021-06-23 16:24] #2415 closed

[2021-06-23 16:34] sedefsavas opened #2535 "v1alpha3 conformance tests failing"
/kind bug

After upgrading some dependencies https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2486, conformance tests started failing.

/kind release-blocking
/milestone v0.6.x

[2021-06-23 17:16] sedefsavas commented on #2535
Updated CAPI release, waiting on the conformance test to run to confirm if it fixes the problem.

[2021-06-24 03:29] shivi28 commented on #2233
/assign

[2021-06-24 03:43] sedefsavas commented on #2534
`awscluster.spec.controlPlaneEndpoint.scheme` field is an enum hence only allows two values: `Internet-facing` and `internal`.

What happens in this issue is that, initially controlPlaneEndpoint is left blank, and ELB scheme is defaulted to `Internet-facing` internally by CAPA controllers. When the user tried to fill `controlPlaneEndpoint` fields, eventhough the value is correct, the comparison ha

[2021-06-24 03:54] sedefsavas commented on #2535
Conformance test on K8s v1.20.4 passes after updating CAPI but the conformance tests on K8s master fails.
@randomvariable Are we going to support K8s v1.22.x in release-0.6?

The PR below drops the master conformance test from release0.6:
https://github.com/kubernetes/test-infra/pull/22661

[2021-06-24 10:35] richardcase opened #2539 "AWSClusterStaticIdentity requires duplicate secret for EKS"
/kind bug
/area ux
/area security
/help
/priority important-soon

**What steps did you take and what happened:**
When using `AWSClusterStaticIdentity` with `AWSManagedControlPlane` and machines, it requires that the secret that is referenced by `AWSClusterStaticIdentity` be in 2 different namespaces:

- capa-system (for the main infra controller manager)
- capa-eks-control-plane-system (for the co

[2021-06-24 10:36] richardcase commented on #2539
/milestone 0.7.0

[2021-06-24 10:36] richardcase commented on #2539
/milestone v0.7.0

[2021-06-24 10:41] richardcase commented on #2539
/assign

[2021-06-24 14:50] richardcase opened #2540 "Refactor `EncryptionConfig` for AWSManagedControlPlane"
/area provider/eks
/kind api-change
/kind refactor
/milestone v0.7.0
/help
/priority important-soon

**Describe the solution you'd like**
You can optionally enable encryption for EKS by supplying details in [AWSManagedControlPlane.Spec.EncryptionConfig](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/controlplane/eks/api/v1alpha4/awsmanagedcontrolplane_types.go#L87).  As its

[2021-06-24 16:47] #2413 closed

[2021-06-24 17:37] sedefsavas commented on #2419
/milestone v0.6.x
/kind release-blocking

[2021-06-24 17:38] randomvariable commented on #2419
Let's do a smoke test with v1.22 beta at least.

[2021-06-24 18:25] slayer321 commented on #2540
Hii @richardcase, I am new to open source and will like to contribute to this project so can you assign it to me.

[2021-06-24 19:11] richardcase commented on #2540
Welcome @slayer321, thanks for wanting to work on this issue. If you have any questions feel free to ask on here or in the slack channel.

/assign slayer321

[2021-06-24 19:25] cabrinha opened #2543 "AWSManagedMachinePool IAM Role too long"
/kind bug

**What steps did you take and what happened:**
Created an AWSManagedMachinePool and the IAM Role that was automatically generated had a name that was too long.

**What did you expect to happen:**
IAM Role should be the correct length

**Anything else you would like to add:**
[code]

**Environment:**

- Cluster-api-provider-aws version: latest
- Kubernetes version: (use `kubectl version`

[2021-06-24 19:47] richardcase commented on #2543
Thanks @cabrinha

/area provider/eks
/milestone v0.7.0
/help
/priority important-soon
/good-first-issue

[2021-06-25 07:02] sedefsavas commented on #2535
This fix solves this issue as well:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2544

[2021-06-25 08:05] richardcase opened #2546 "[e2e] Route Table error when running EKS tests"
/kind bug
/kind failing-test
/area testing
/help
/priority important-soon
/milestone v0.7.x

**What steps did you take and what happened:**
When running the EKS e2e tests, i see the following error message in the control plane manager logs:

[code]

And then when I look in the AWS console, i see an additional route table created for the ^^^^ above ID that isn't associated with any subnets:

![imag

[2021-06-25 09:54] richardcase opened #2547 "[e2e] Add tests for EKS encryption"
/kind feature
/area testing
/area provider/eks
/help
/priority important-soon
/milestone v0.7.x

**Describe the solution you'd like**
We need to add some additional EKS e2e tests to cover the encryption functionality. Including enabling encryption to a already created cluster (see #2505).

**This is dependent on #2239**

**Environment:**

- Cluster-api-provider-aws version: 0.6.6

[2021-06-25 09:56] richardcase commented on #2547
Closing as duplicate

[2021-06-25 09:56] #2547 closed

[2021-06-25 09:57] richardcase commented on #2317
/milestone v0.7.x

[2021-06-25 13:11] 0xVox opened #2548 "securityGroupOverrides - AWS Resources deleted on AWSCluster delete"
/kind bug

**What steps did you take and what happened:**

1. Create 5 security groups before your AWSCluster, set them to the AWSCluster.spec.networkSpec.securityGroupOverrides values
2. Create your AWSCluster, Await provisioning
3. Delete AWSCluster
4. Observe that on recreating from the same YAML, the previously created Security Group IDs cannot be found by CAPA - and in fact have been deleted

[2021-06-25 13:19] richardcase commented on #2548
Another issue related to securityGroupOverrides: #2466

[2021-06-25 13:21] richardcase commented on #2548
/area networking
/help
/priority important-soon

[2021-06-25 13:40] 0xVox commented on #2534
Hey @sedefsavas

I pulled your PR, and now when I explicitly set `scheme: Internet-facing` in my spec, I am faced with this after creating the AWSCluster resource:

```"msg"="failed to reconcile load balancer" "error"="ELB names must be unique within a region: \"kf-dev-apiserver\" ELB already exists in this region with a different scheme \"internet-facing\""```

The LB successfully creates if I om

[2021-06-25 13:47] slayer321 commented on #2540
Hii @richardcase, I made changes in the `EncryptionConfig` struct as you have mentioned above but there are some errors that I am getting in generated deepcopy and conversion file and I am a bit confused about what exact changes need to be done in that file.

Ps: I am new to Golang so it is getting a bit difficult for me to understand the problem.

[2021-06-25 17:43] sedefsavas commented on #2548
/assign

/milestone v0.7.0

[2021-06-27 05:02] richardcase commented on #2231
/reopen

[2021-06-27 05:03] richardcase commented on #2231
/priority backlog
/lifecycle frozen

[2021-06-28 13:31] richardcase commented on #2465
/unassign

[2021-06-28 14:10] richardcase commented on #931
I think we can close this now as VPC CNI is automtically installed in EKS and is available as a EKS addon to set the specific version.

[2021-06-28 14:12] richardcase commented on #2546
/kind release-blocking
/priority critical-urgent
/lifecycle active

[2021-06-28 15:55] #2533 closed

[2021-06-28 15:58] shysank opened #2554 "Update docs to account for clusterctl config -> generate renaming"
/kind bug

**What steps did you take and what happened:**

Recently In capz, we found out that the docs are still pointing to old `clusterctl config` command which was renamed to `clusterctl generate` https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1476

**What did you expect to happen:**
Update docs to reflect the changes

**Anything else you would like to add:**
https://kubern

[2021-06-28 15:59] randomvariable commented on #2554
/kind documentation
/priority important-soon

[2021-06-28 17:19] sedefsavas commented on #2119
/assign

[2021-06-28 17:20] sedefsavas commented on #2087
/assign @randomvariable

[2021-06-28 17:21] sedefsavas commented on #1642
/milestone v0.7.x

[2021-06-28 17:21] sedefsavas commented on #2055
/assign @JoelSpeed

[2021-06-28 17:22] sedefsavas commented on #392
/assign @randomvariable

[2021-06-28 17:22] sedefsavas commented on #2158
/assign

[2021-06-28 17:23] sedefsavas commented on #2029
/assign @richardcase
For triage.

[2021-06-28 17:24] sedefsavas commented on #1869
/assign

[2021-06-28 17:25] sedefsavas commented on #1506
/assign @randomvariable

[2021-06-28 17:27] sedefsavas commented on #2270
/assign
/assign @shivi28

[2021-06-28 17:28] sedefsavas commented on #2169
/assign @randomvariable

[2021-06-28 17:28] sedefsavas commented on #2157
/assign

[2021-06-29 18:35] #2207 closed

[2021-06-30 04:32] dlipovetsky commented on #2169
This issue description is too broad.

NAT gateways are _not_ required. The documentation says this, as well (emphasis mine):

I use CAPA with existing infrastructure and my subnets do not have NAT gateways. It's clear to me, reading the code, that `describeNatGatewaysBySubnet` can return an empty slice without an error.

However, I still have to grant CAPA the `DescribeNatGateways` action in its I

[2021-06-30 06:25] lxlxok commented on #2169
Thanks, @dlipovetsky, Adding the `DescribeNatGateways` action into IAM Policy sounds good. We can close this issue.

[2021-06-30 15:46] praveenghuge commented on #2543
/assign

[2021-06-30 17:26] sedefsavas commented on #2233
@randomvariable
What is the expected behaviour you had in mind? We still need to set the EncryptionKey to the `rootVolume`

[2021-07-01 03:15] sedefsavas commented on #2330
/lifecycle frozen

[2021-07-01 10:32] randomvariable opened #2561 "ELBs should never be *recreated* in managed VPC mode"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

For some reason, yet to find a root cause, CAPA deleted an ELB for an existing cluster and recreated it. This is essentially unrecoverable when using ELBv1 since the ELB DNS name is randomly generated, which means certificates and endpoints change.

**What did you expect to happen:**
CA

[2021-07-01 10:35] randomvariable commented on #2561
I suspect the answer is if we're not already, track the ELB ID in the spec, and if it ends up in a state where it attempts to delete or recreate the ELB, error out.

[2021-07-01 14:31] richardcase commented on #2543
Fixed by #2559

[2021-07-01 14:31] #2543 closed

[2021-07-01 14:34] richardcase commented on #2029
This is a nice to have.

/milestone v0.7.x
/priority backlog
/unassign

[2021-07-01 14:37] richardcase commented on #2540
@slayer321 - feel free to ping me on slack and we can chat.

Sometimes with the auto generated code you need to make manual changes so that the code is regenerated properly.

[2021-07-01 16:20] sedefsavas commented on #2535
Conformance tests are passing.

[2021-07-01 16:20] #2535 closed

[2021-07-01 16:21] sedefsavas commented on #2419
Conformance tests with v1.22 for both v1alpha3 and 4 are passing.

[2021-07-01 16:21] #2419 closed

[2021-07-02 06:42] sedefsavas opened #2563 "CAPA created 2 VPCs and attached the ELB to the wrong VPC"
/kind bug

**What steps did you take and what happened:**

In a very old cluster, there seems to be 2 different VPCs that are created for the same cluster. Controller might be down after the first VPC reconcile fails and when it comes back up since we don't persist VPC ID early in the reconciliation, the controller created a new one and attached to the loadbalancer the wrong VPC.

Instead we need

[2021-07-02 06:43] sedefsavas commented on #2561
We can close this issue in favor of https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2563

[2021-07-02 06:43] #2561 closed

[2021-07-03 05:45] praveenghuge commented on #2563
/assign

[2021-07-03 05:52] praveenghuge commented on #2554
/assign

[2021-07-04 14:46] shivi28 commented on #2263
/assign

[2021-07-05 02:04] sedefsavas commented on #2563
/assign

@praveenghuge assigning to myself as there is a bigger change required for this problem. Sorry for not assigning in the beginning.

[2021-07-05 13:44] #2554 closed

[2021-07-05 16:00] Ankitasw commented on #2119
/assign

[2021-07-06 00:32] #2548 closed

[2021-07-06 06:12] Ankitasw commented on #2119
@sedefsavas / @vincepri Shall we rename networkSpec as `network` or `spec`, got confused with the issue title and description

[2021-07-06 08:32] #2452 closed

[2021-07-06 12:05] randomvariable opened #2568 "Resolve test-infra test failures"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
place holder issue

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/

[2021-07-06 20:17] scottslowe opened #2584 "Support writing AWS cloud provider tags on pre-existing infrastructure"
**User Story**

As a user/operator I would like to be able to have CAPA write the necessary AWS tags required for proper AWS cloud provider operation onto pre-existing/pre-provisioned infrastructure, so that shared infrastructure can used to support multiple CAPI workload clusters.

**Detailed Description**

Currently, CAPA will write AWS cloud provider tags (`kubernetes.io/cluster/<name> = [owned

[2021-07-07 00:52] voor commented on #2523
Referencing https://www.github.com/kubernetes-sigs/cluster-api/tree/master/docs%2Fproposals%2F20200330-spot-instances.md

[2021-07-07 09:53] Ankitasw commented on #2119
After renaming, the API change should look like below ( for e.g )
[code]
Is my understanding correct?

[2021-07-07 10:33] randomvariable opened #2569 "Write integration test for maximum VPC error and other EC2 errors"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Testing responses to AWS errors in e2e is problematic especially when hitting service quotas, and causes problems for parallising tests.

Let's move this to simulation in mocks to reduce flakes.

The current test looked like

[code]

**Anything else you would like to add:**
[Miscellan

[2021-07-07 11:10] randomvariable commented on #2119
/lifecycle active

[2021-07-07 11:12] randomvariable commented on #2119
that's fine.

Reviewing the go code in /api, I suggest the following:

Keep
[code]
only renaming the JSON tag, so you don't need change any other code.

and then rename
[code]
to

[code]

as I don't see it being used anywhere else. I think that then clears up the API for people.

[2021-07-07 11:14] Ankitasw commented on #2119
sounds fair @randomvariable , thankyou for the suggestion

[2021-07-07 15:49] dlipovetsky commented on #2169
Would you like to keep this issue open, but change its scope to _Not require DescribeNatGateways action when consuming AWS Infrastructure_?

[2021-07-07 17:51] richardcase opened #2570 "Graduate EKS out of experimental"
/kind refactor
/area provider/eks
/priority important-soon
/milestone v0.7.0

**Describe the solution you'd like**
The EKS functionality first introduced in 0.6.0 (9th September 2020) is currently experimental. This issue proposes that we graduate the EKS functionality out of experimental. Specifically, the following would be graduated:

- AWSManagedControlPlane
- EKSConfig

The AWSManagedMachineP

[2021-07-07 17:51] richardcase commented on #2570
/assign
/lifecycle active

[2021-07-08 16:14] richardcase opened #2574 "AWSMachinePool graceful scale down"
/kind feature
/help
/priority important-soon
/milestone v0.7.x

**Describe the solution you'd like**
When using `AWSMachinePool` and the pool is scaled down (i.e. the ASG is scaled down) i would like to ensure that the pods running on the node are evicted gracefully and that no new pods are scheduled on the node to be terminated. Currently the instance is terminated and the pods are not shutdown g

[2021-07-08 16:17] richardcase commented on #2574
FYI @cliffordt3 @dthorsen

[2021-07-08 17:52] ykakarap opened #2575 "Add AWSClusterTemplate type"
/kind feature

**Describe the solution you'd like:**
Add a new CRD named AWSClusterTemplate. This is needed for ClusterClass.
In the short term this type will not be used outside of ClusterClass.

[2021-07-09 08:44] fabriziopandini commented on #2575
FYI When implementing this please make sure that the template type applies the same defaulting & validation rules of the actual type, otherwise this could trigger continuous reconcile loop down the path when comparing the desired state (the AWSClusterTemplate object) with the actual state (the instance of AWSCluster generated from the template)

[2021-07-09 08:57] richardcase opened #2577 "[e2e] Dump Kuberenetes Events"
/kind feature
/area testing
/help
/priority important-soon
/milestone v0.7.x

**Describe the solution you'd like**

During the execution of the e2e tests we should periodically extract the Kubernetes events and save them to the artefacts folder of the e2e test. This will aid in issue investigation.

**Anything else you would like to add:**

This is similar to how we dump machines at present:
https

[2021-07-09 14:21] trutx opened #2578 "🐛 EKSConfig controller doesn't update bootstrap secret data"
/kind bug

**What steps did you take and what happened:**

I have a running `EKSConfig`:

[code]

The `EKSConfig` controller someday generated the corresponding data `Secret`:

[code]

Now I need to add a new `cpu-manager-policy` kubelet arg to my LaunchTemplates so newly created nodes get it. I modified the existing `EKSConfig`:

[code]

**What did you expect to happen:**

I expected the data `Se

[2021-07-09 14:23] richardcase commented on #2578
/priority important-soon

[2021-07-09 14:23] richardcase commented on #2578
@trutx - thanks for raising this. Did you want to assign the issue to yourself?

[2021-07-09 14:24] trutx commented on #2578
Whatever works best for you. I have the PR ready, will push in short.

[2021-07-09 14:25] richardcase commented on #2578
/assign trutx
/lifecycle active

[2021-07-09 14:25] richardcase commented on #2578
/milestone v0.7.0

[2021-07-09 20:52] voor commented on #1484
/remove-lifecycle rotten

[2021-07-12 13:36] #2546 closed

[2021-07-13 14:50] richardcase commented on #2361
We're probably going to have to use a combination of `tolerations` and `nodeAffinity` with the managers to get this working for EC2/KCP and EKS based clusters. Tested this with EKS and it schedules ok:

[code]

We should probably introduce a env var in the definitions to specify the controlplane node label name and default it to `node-role.kubernetes.io/master` so that for EKS clusters we can opti

[2021-07-13 15:26] richardcase commented on #2361
/assign
/lifecycle active

[2021-07-13 15:31] dkoshkin commented on #2361
@richardcase does it make sense to add both labels similar to below?

https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2377/files#diff-44a79e28b76ffb84ad06c92f1ddc7296566adf4986fea1ee4e73db546c35fcebR28-R31
https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2377/files#diff-44a79e28b76ffb84ad06c92f1ddc7296566adf4986fea1ee4e73db546c35fcebR36-R42

[2021-07-13 16:00] richardcase commented on #2361
@dkoshkin - yes I think that's a good idea and it's what the existing PR has (I missed that).

And then based on that we could make the label configurable:

[code]

and leave the old master key as is without envsubst (i.e. `key: node-role.kubernetes.io/master`).

[2021-07-13 16:01] richardcase commented on #2361
PR created by:

/assign vespian

[2021-07-13 17:48] shivi28 opened #2582 "EKS e2e tests to add a test for the GPU AMI change"
/kind feature

**Describe the solution you'd like**
Add e2e test for EKS to test the GPU optimized AMIs.
In PR #2275 added a new AMI type, need to write e2e test for testing the same.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS

[2021-07-14 10:47] richardcase commented on #2320
/lifecycle frozen

[2021-07-14 15:51] richardcase commented on #2351
/lifecycle frozen

[2021-07-15 20:05] ykakarap commented on #2575
@Ankitasw
I am sorry I didnt realize you already had this issue assigned to you. I just opened a PR for this while I was working on similar PRs for other providers. Sorry for that.

Since you are already interested in this can you please review the PR :)

[2021-07-15 20:06] ykakarap commented on #2575
PR: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2585

[2021-07-16 05:40] Ankitasw commented on #2575
@ykakarap oh, that's ok if you have raised a PR, I was about to raise a PR today, anyways just for future, please check the assignee in the issue before raising the PR, other people in community also want to work on ClusterClass 😅

[2021-07-16 05:40] Ankitasw commented on #2575
/unassign

[2021-07-16 05:44] ykakarap commented on #2575
You are completely correct.
I thought I assigned the issue when I created it.
I should have double checked. My bad. 😅

[2021-07-16 05:45] ykakarap commented on #2575
/assign

Assigning not to avoid future confusion.

/lifecycle active

[2021-07-16 10:23] randomvariable commented on #1475
I think we need to revisit what we want to do here. There's a chance we can get some decent conformance testing for the external provider done here, but will need to make some CAPI changes too.

@sedefsavas , let's catch up when you're back.

[2021-07-16 10:36] voor commented on #1475
I thought the idea was we could just install this through a ClusterResourceSet?

[2021-07-16 12:37] randomvariable commented on #2577
Is this ticket still valid, given this does actually happen if you use the CAPI e2e framework?

[2021-07-16 12:37] randomvariable opened #2590 "Go 1.17 compilation failures"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

`make verify` is failing because of the latest go canary that's dropped in CI.

Duplicate of https://github.com/kubernetes-sigs/cluster-api/issues/4954

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving th

[2021-07-16 12:44] #2563 closed

[2021-07-16 12:50] richardcase commented on #2577
No, i don't think it is.

[2021-07-16 12:50] #2577 closed

[2021-07-16 13:17] Ankitasw commented on #2466
/assign

[2021-07-16 13:18] richardcase commented on #2582
/area provider/eks
/area testing
/priority backlog
/milestone v0.7.x

[2021-07-16 15:52] randomvariable commented on #2590
we've pinned to 1.16

[2021-07-16 15:52] #2590 closed

[2021-07-19 09:42] #2578 closed

[2021-07-19 14:58] #2275 closed

[2021-07-19 15:16] #2575 closed

[2021-07-19 15:42] randomvariable opened #2595 "Fix failing integration tests"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

Following tests are failing and/or flaky on main branch:
--- FAIL: TestEKSConfigReconciler (0.27s)
    --- FAIL: TestEKSConfigReconciler/Should_reconcile_an_EKSConfig_and_create_data_Secret (0.26s)
    --- PASS: TestEKSConfigReconciler/Should_reconcile_an_EKSCon

[2021-07-19 15:46] randomvariable commented on #2595
`go test -count=20  -run ^TestEKSConfigReconciler$ ./bootstrap/eks/controllers`
is the best way to reproduce

[2021-07-19 15:47] randomvariable commented on #2595
/lifecycle active
/assign

[2021-07-20 09:09] #2568 closed

[2021-07-20 09:52] randomvariable opened #2604 "Fix release processes"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

**What did you expect to happen:**
Issues:

1. make release-binary doesn't work on latest Docker versions because experimental -v source=<>,dest=<> was dropped.
2. make release-notes doesn't work, prompts for start and end sha
3.
**Anything else you would like to add:**
[Miscellaneous inf

[2021-07-20 19:45] dkoshkin commented on #2534
I am seeing the same issue when using a build that includes this fix and `AWSCluster` with `apiVersion: infrastructure.cluster.x-k8s.io/v1alpha4`.

[code]

The only way I've found to get around this was also to remove the whole `controlPlaneLoadBalancer:` block, just removing `controlPlaneLoadBalancer.scheme:` resulted in the same error.

[2021-07-20 19:49] sedefsavas commented on #2534
/reopen

[2021-07-21 12:58] #2595 closed

[2021-07-21 15:22] #2233 closed

[2021-07-21 16:52] #2119 closed

[2021-07-21 17:17] #2363 closed

[2021-07-22 02:08] jicowan opened #2597 "Wrong role name assigned to role in AWSManagedMachinePool"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I created a EKS cluster with a managed node group. The IAM role name assigned to the AWSManagedMachine pool was `eks-nodegroup.cluster-api-provider-aws.sigs.k8s.io`, but that group that role was never created. Instead, CAPA/CAPI created a role called `nodes.cluster-api-provider-aws.sigs.

[2021-07-22 08:13] richardcase commented on #2597
Thanks @jicowan - i'll look into this.

[2021-07-22 08:14] richardcase commented on #2597
/area provider/eks

[2021-07-22 08:27] richardcase commented on #2597
This is strange as the e2e tests cover creating a managed machine pool and scaling it up and down.

[2021-07-22 09:10] richardcase commented on #2597
I am investigating this and trying to re-create:

/assign
/lifecycle active

[2021-07-22 10:33] richardcase commented on #2597
@jicowan - after investigation, this it isn't a bug but a result of bad docs/ux on our part. I think we could give a more descriptive error with a hint of the issue.

In CAPA for EKS clusters, all clusters/nodegroups by default share the same IAM roles (unless you explicitly enable IAM roles per cluster). In the case of managed machine pools the default role is `eks-nodegroup.cluster-api-provider-

[2021-07-22 10:38] richardcase commented on #2597
Shall we change this issue to focus on improving the error messages to be more friendly/informative? Or shall we close this issue and open a new one?

[2021-07-22 10:39] richardcase commented on #2597
/unassign
/remove-lifecycle active

[2021-07-22 11:27] randomvariable opened #2598 "Late July 2021 Required E2E Fixups"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**
Testgrid successes

### Failing tests:

Possible test-infra changes required:
* https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-aws#postsubmit-conformance-main

Where backports of conformance to release-0.6 is required:
* https://tes

[2021-07-22 11:31] jicowan commented on #2597
@richardcase i used clusterawsadm to create the necessary IAM roles. I will verify that I enabled that feature. Roles for the cluster and nodes were created but the node role had the wrong name. Instead of using the eks-node prefix it used "nodes." Admittedly, I may have used an older version of clusterawsadm. Did the role name change between versions?

[2021-07-22 11:36] jicowan commented on #2597
This is what I used to created the roles:

apiVersion: bootstrap.aws.infrastructure.cluster.x-k8s.io/v1alpha1
kind: AWSIAMConfiguration
spec:
  bootstrapUser:
    enable: true
  eks:
    enable: true
    iamRoleCreation: false # Set to true if you plan to use the EKSEnableIAM feature flag to enable automatic creation of IAM roles
    defaultControlPlaneRole:
        disable: false # Set to false t

[2021-07-22 12:07] randomvariable commented on #2087
/lifecycle active

[2021-07-22 12:23] randomvariable commented on #1506
/lifecycle active

[2021-07-22 14:46] richardcase commented on #2597
That would be it then as the config was missing:

[code]

W

[2021-07-25 18:13] mevech commented on #2384
@sedefsavas this is no longer an open issue or? seems like the test already in place?

[2021-07-26 04:34] shivi28 commented on #2270
/lifecycle-active

[2021-07-26 12:27] sbueringer opened #2602 "Add webhook health check"
/kind feature

**Describe the solution you'd like**
It would be nice if the controller health checks would use the readiness of the webhook server (instead of the no-op Ping).

For reference, the implementation in cluster-api: https://github.com/kubernetes-sigs/cluster-api/pull/4989

**Anything else you would like to add:**
This requires at least controller-runtime v0.9.3.

**Environment:**

- Clu

[2021-07-26 17:21] randomvariable commented on #2055
/lifecycle frozen

[2021-07-26 17:58] randomvariable commented on #2604
Thanks.

[2021-07-27 06:39] shivi28 opened #2606 "AWSCluster cannot be removed if controller is installed with invalid credentials"
/kind bug

**What steps did you take and what happened:**

1. Install AWS provider with invalid credentials (malformed, revoked etc.)
2. Create a cluster
3. Delete a cluster

AWSCluster object stuck during creation because finalizers were added before the first READ operation.

**What did you expect to happen:**
Finalizer should be added after the first successful READ operation from AWS.

Linked

[2021-07-27 06:40] shivi28 commented on #2606
/assign @shivi28

[2021-07-27 07:29] shivi28 commented on #2263
/lifecycle active

[2021-07-27 12:27] sedefsavas commented on #1475
**Update**:
External CCM does not work without CSI even after setting `--external-cloud-volume-plugin: aws`, which  is a fallback mechanism that allows a legacy, in-tree cloudprovider to be used for volume plugins even when an external cloud controller manager is being used.

And given that the in-tree codes will be removed in Kubernetes v1.23, we will add tests for external CCM with CSI.

/assign

[2021-07-27 19:50] sedefsavas commented on #2384
You're right, we can close this issue.

[2021-07-27 19:50] #2384 closed

[2021-07-27 21:08] randomvariable opened #2608 "Don't attempt to recreate an ELB after the cluster has been provisioned"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

If a cluster was created at time X, and then the user deletes the ELB , CAPA will try to recreate the ELB, which will have a new DNS endpoint which will not work. There's not much point doing this, and CAPA also has issues updating the resource in Kubernetes because its own webhook re

[2021-07-27 21:09] randomvariable commented on #2608
The trick here is to figure out under what circumstances CAPA shouldn't recreate the ELB. Possibly once the CAPI Cluster endpoint is filled, because it's at this stage it becomes immutable?

[2021-07-28 07:09] calvix opened #2609 "awsmachinepool do not respect subnets filters"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
`AWSMachinePool.Spec.Subnets` is type `[]AWSResourceReference` which allow AWS resource specification via:
* ID
* ARN
* Filters

But the implementation only considers IDs and ignores the rest.
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/pkg/cloud/scope/machinepo

[2021-07-28 09:05] randomvariable commented on #2609
I'm already working on this one in fact. I'll be removing the unused fields until such a time they actually get implemented.

/lifecycle active
/assign

Part of #2087

[2021-07-28 09:07] randomvariable commented on #2609
basically, Subnets  --> []SubnetReference
[]SecurityGroups --> []SecurityGroupReference

and so forth.

Deleting AWSResourceReference from v1alpha4 so we don't end up doing this again :(

[2021-07-28 09:17] randomvariable commented on #2609
/kind important-soon
/area api

[2021-07-28 09:17] randomvariable commented on #2609
/priority important-soon

[2021-07-28 09:17] #2604 closed

[2021-07-28 09:21] randomvariable opened #2610 "Replace GNU Make with Go"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

This project originally started using Bazel, but the complexity grew and as Go introduced build caching, we replaced with Make.
Unfortunately, the Makefile itself has become unwieldy, and not many folk either do or want to spend time writing M4, so we should look for a replacement. ht

[2021-07-28 09:21] randomvariable commented on #2610
/area release
/priority important-longterm

[2021-07-28 09:24] sedefsavas commented on #2158
This was completed.
/close

[2021-07-28 09:24] #2158 closed

[2021-07-28 09:25] sedefsavas commented on #1869
/milestone v0.7.x

[2021-07-28 09:43] #2263 closed

[2021-07-28 13:37] #2361 closed

[2021-07-28 13:44] sedefsavas commented on #2608
/assign

[2021-07-28 17:51] devigned commented on #2022
/remove-lifecycle stale

[2021-07-28 17:51] devigned commented on #2022
/remove-lifecycle rotten

[2021-07-28 17:54] devigned commented on #2022
/cc @mboersma

[2021-07-28 17:57] Madhur97 commented on #2189
/assign @Madhur97

[2021-07-28 18:05] Madhur97 commented on #2189
/lifecycle active

[2021-07-28 19:00] randomvariable commented on #2283
/lifecycle frozen

[2021-07-28 23:09] sayantani11 commented on #2274
@richardcase : I can work on it, but I would require a little help and insight on the task. Thank you

[2021-07-29 12:14] calvix commented on #2609
I actually have a prepared code to implement the lookup by filters, I would like to have the option there

[2021-07-29 17:16] randomvariable commented on #2609
@calvix sure, i can rebase over the top.

If you can, but not 100% necessary, can you convert AWSResourceReference into SubnetReference?

Also, this problem isn't just in AWSMachinePool but also AWSCluster so might be worth seeing if you can put it in both places.

[2021-07-29 17:16] randomvariable commented on #2609
/assign @calvix

[2021-07-29 19:08] mevech commented on #2267
/assign @mevech

[2021-07-29 19:38] sedefsavas commented on #2267
Welcome to the community @mevech!
Feel free to reach out on slack channel if you have questions.

[2021-07-29 19:57] #2270 closed

[2021-07-30 08:10] richardcase commented on #2274
Thanks @sayantani11.

I think maybe there are 2 parts to this:

1. Updating the above linked doc so that it doesn't reference `clusterctl alpha` and instead uses the correct clusterctl args
2. Splitting the docs into 2 sections:
      a. existing cross account role assumption using kiam
      b. new section on using [AWSClusterRoleIdentity](https://github.com/kubernetes-sigs/cluster-api-provider-a

[2021-07-30 08:10] richardcase commented on #2274
Feel free to ping me here or in #cluster-api-aws

[2021-07-30 08:38] richardcase commented on #2597
@jicowan - would you be happy for this to be closed?

[2021-07-30 09:17] richardcase opened #2624 "Error starting CAPA with tilt"
/kind bug
/priority critical-urgent

**What steps did you take and what happened:**
When using tilt the following error is seen:

[code]

**What did you expect to happen:**
Expect tilt to start without error

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `

[2021-07-30 09:17] richardcase commented on #2624
/assign
/lifecycle active

[2021-07-30 11:06] richardcase commented on #2624
/reopen

[2021-07-30 11:35] #2624 closed

[2021-07-30 18:14] sbueringer commented on #2602
Webhook health check was removed due to a bug found which lead to tls handshake errors in #2629. Fix PR has been merged in controller-runtime, but we have to wait until the next controller-runtime release to integrate it.

xref:
* Slack discussion: https://kubernetes.slack.com/archives/CD6U2V71N/p1627643594012600
* bugfix PR: https://github.com/kubernetes-sigs/controller-runtime/pull/1616

/reopen

[2021-08-02 20:54] jicowan commented on #2597
Apologies for the delay. I was on PTO. Yes, we can close this issue.

[2021-08-02 20:54] #2597 closed

[2021-08-03 10:39] kirek007 opened #2635 "Scale-in protection for node pools"
/kind feature

**Describe the solution you'd like**
I would like to be able to create a node poole that will have a scale-in protection in auto scaling group. This would be needed to prevent unexpected or mistakenly scaled down groups/instances by unaware user.

**Environment:**

- Cluster-api-provider-aws version: n/d
- Kubernetes version: (use `kubectl version`): n/d
- OS (e.g. from `/etc/os-rel

[2021-08-03 14:47] erockwood opened #2636 "Invalid Parameter for SSM PutParameter in SC2S"
The AWS API in some high side environments will reject setting DataType to "text" for "SecureString" parameter types. This request parameter is only valid when using the "String" type.
https://docs.aws.amazon.com/systems-manager/latest/APIReference/API_PutParameter.html#systemsmanager-PutParameter-request-DataType

The API behavior is inconsistent with GovCloud, where GovCloud will just ignore the

[2021-08-03 14:51] erockwood commented on #2636
/kind bug

[2021-08-03 15:00] Ankitasw commented on #1475
what are the thoughts about adding CRS for the AWS EBS CSI driver? I am pretty new to CRS concept, but if we want to add the add-on for csi driver, how can we do that using CRS?

[2021-08-05 11:51] Ankitasw commented on #2466
/unassign

[2021-08-05 16:34] randomvariable commented on #2636
Is SecureString not even supported with custom CMK?

[2021-08-05 16:36] randomvariable commented on #2636
Oh I see, we should be using SecureString, and it's text

[2021-08-05 16:37] randomvariable commented on #2636
/priority important-soon
/area security

[2021-08-05 16:37] randomvariable commented on #2636
/help

[2021-08-05 16:38] randomvariable commented on #2636
@erockwood are you able to PR the change and test it? I don't have access to GovCloud as a non US citizen.

[2021-08-05 17:00] johananl opened #2642 "Work around AWS managed policy size limit"
AWS has a [character limit](https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-quotas.html) of **6144** for managed policies.

As of e69740275ca5a14b51eeca3ed74cff2d88dd8cdc (current tip of `main`) we are nearly at this limit for the `AWSIAMManagedPolicyControllers` policy:

[code]

Generate the config file (this specific file is used in the e2e tests):

[code]

Render the IAM policy w

[2021-08-05 17:04] johananl commented on #2642
/kind bug

[2021-08-05 21:34] erockwood commented on #2636
@randomvariable the way it was explained to me the SecureString is always text so they reject the data type parameter even if it’s text. There is a possibility that AWS will relax their API, but it is probably better to just make this change.

I can PR and test, but it’ll take a while to go through the approval process on my end. It will either be next week or several weeks from now that I have re

[2021-08-08 22:35] #2200 closed

[2021-08-08 22:35] #2171 closed

[2021-08-09 16:07] #2254 closed

[2021-08-09 16:27] sedefsavas opened #2653 "publicIP field in AWSMachine does not work"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

As reported on slack: https://kubernetes.slack.com/archives/CD6U2V71N/p1628391133050900

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:

[2021-08-09 16:43] sedefsavas commented on #2653
/milestone v0.7.x
/priority backlog

[2021-08-09 16:43] sedefsavas commented on #2653
/good-first-issue

[2021-08-09 16:57] sedefsavas opened #2654 "Add nonRootVolumes support to AWSLaunchTemplates"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Similar to `AWSMachineSpec`, we should support `nonRootVolumes` in `AWSLaunchTemplates` as well.

/milestone v0.7.x
/priority backlog
/good-first-issue

[2021-08-09 17:12] richardcase commented on #2055
/milestone v0.7.x

[2021-08-09 17:43] #2297 closed

[2021-08-10 04:53] bishtsaurabh5 commented on #2654
Hello,
I am a beginner and I want to contribute to this issue, can you help me learning more about it and what needs to be done ?

[2021-08-10 14:43] richardcase opened #2656 "Remove eks controlplane and bootstrap providers from clusterctl"
/kind feature
/area provider/eks
/priority important-soon
/milestone v0.7.x

**Describe the solution you'd like**
As a result of the graduation of EKS (#2570) the controlplane and bootstrap providers have been removed and the controllers incorporated in the main infrastructure provider. As a result we need to remove the `aws-eks` controlplane and bootstrap providers from clusterctl (originally add

[2021-08-10 14:43] richardcase commented on #2656
/assign
/lifecycle active

[2021-08-10 21:02] sourabh3b opened #2657 "managedmachinepool flavor does not bring up worker nodes"
/kind bug

**What steps did you take and what happened:**
While creating cluster with flavor `eks-managedmachinepool` following error was seen
[code]

**What did you expect to happen:**
deployment should create EKS cluster successfully.

**Anything else you would like to add:**
[code]

// Workload kubeconfig
[code]

**Environment:**

- Cluster-api-provider-aws version: v0.7.0-alpha.0.1-8f9d439c77d

[2021-08-10 21:21] richardcase commented on #2657
Thanks for such a detailed bug report @sourabh3b.

Based on the details you included it looks like you didn't enable the machine pools experimental feature when you did 'clusterctl init'. You need to 'export EXP_MACHINE_POOL=true' before running the command:

https://cluster-api-aws.sigs.k8s.io/topics/machinepools.html

[2021-08-10 21:32] sourabh3b commented on #2657
thanks @richardcase I will try that and update here shortly

[2021-08-11 00:24] jzhoucliqr opened #2658 "AWSCluster with managed vpc creates two VPCs then stuck provision"
/kind bug

**What steps did you take and what happened:**
Create an AWSCluster with managed VPC, the controller creates two VPCs but can't set vpc attributes, then stuck provision.

I think it's because the `ensureManagedVPCAttributes()` returns aggregated error which lose the awserr.Cause()
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/pkg/cloud/services/network/vpc.go#L15

[2021-08-11 00:24] jzhoucliqr commented on #2658
/assign

[2021-08-11 05:20] bishtsaurabh5 commented on #2654
/assign

[2021-08-11 11:22] sbueringer commented on #2602
fyi controller-runtime v0.9.6 has been released with a fix. So we should be good to go (I also verified it via the e2e tests of the cluster-api repo).

[2021-08-11 15:18] sourabh3b commented on #2657
@richardcase that was helpful and I was able to bring EKS successfully. thank you

[2021-08-11 15:18] #2657 closed

[2021-08-11 19:13] sayantani11 commented on #2653
@sedefsavas If I can get some help and insight on the task, I could help.

[2021-08-12 17:43] sedefsavas commented on #2584
/milestone v0.7.x
/good-first-issue

[2021-08-13 05:27] abhinavnagaraj opened #2665 "EKS node group intermittently fails to delete on EKS cluster deletion"
/kind bug

**What steps did you take and what happened:**
Launch an EKS cluster with bastion enabled and one managed node group of size 5.
Delete the 'Cluster'. The node group deletion fails with the "Delete failed" error in the aws console. The Health issue of the node group indicates "**Ec2SecurityGroupDeletionFailure**" --"DependencyViolation - resource has a dependent object". The affected sec

[2021-08-13 06:48] #2539 closed

[2021-08-13 06:48] #2570 closed

[2021-08-13 13:22] sedefsavas commented on #2157
/close

[2021-08-13 13:22] #2157 closed

[2021-08-15 09:06] pieterv-icloud-com opened #2668 "CredentialRequiresARNError"
/kind bug

**What steps did you take and what happened:**
Following instructions here: https://cluster-api-aws.sigs.k8s.io/getting-started.html

**Initialization for common providers**

`./clusterawsadm bootstrap iam create-cloudformation-stack  --config eks.config`

Getting the following error:

[code]

**What did you expect to happen:**

 The command to succeed

**Anything else you would like to

[2021-08-16 10:34] #2310 closed

[2021-08-16 14:50] Ankitasw opened #2674 "Session manager plugin installation is asked in every local e2e run"
/kind bug

**What steps did you take and what happened:**
When executing the e2e run locally using `make test-e2e`, it always asks if we want to replace the session-manager-plugin or not, which is observed in mac OS and not in linux OS.

**What did you expect to happen:**
It should not ask everytime what we want to do with session-manager-plugin

**Anything else you would like to add:**
make -C ha

[2021-08-16 16:10] randomvariable commented on #2674
thanks for filing. needs a macos person to test any fix (not me)

/priority important-longterm

[2021-08-16 16:10] randomvariable commented on #2674
/area release

[2021-08-16 17:20] abhinavnagaraj opened #2675 "Support create and update of fargate profile tags"
/kind feature

**Describe the solution you'd like**
Add support to create and update tags on the fargate profile.

**Anything else you would like to add:**

**Environment:**

- Cluster-api-provider-aws version: v0.6.8
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2021-08-17 16:15] randomvariable opened #2680 "Netlify not building"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

PRs are failing Netlify tests. Not sure why.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl versio

[2021-08-17 16:15] randomvariable commented on #2680
/priority critical-urgent

[2021-08-18 11:25] randomvariable commented on #2680
/lifecycle active

[2021-08-18 11:40] #2658 closed

[2021-08-18 11:50] randomvariable commented on #2680
/assign

[2021-08-18 15:04] randomvariable commented on #2412
/lifecycle frozen

[2021-08-18 16:10] randomvariable opened #2683 "elasticloadbalancing:AddTags is duplicated in policy"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**
We at least have `elasticloadbalancing:AddTags` as a duplicate entry in the actions in the policies that clusterawsadm generates, which wastes bytes. let's fix it.

**Anything else you would like to add:**
[Miscellaneous information that will assist in

[2021-08-18 16:25] randomvariable commented on #2683
/help

[2021-08-18 16:25] randomvariable commented on #2683
/good-first-issue

[2021-08-19 07:50] dilyevsky commented on #2653
The way we've been working around this is with:

[code]

Indeed if you just set publicIP the provider will not automatically pick a subnet with public IPs.

[2021-08-19 09:57] geetikabatra commented on #2602
@sbueringer Here is the PR that fixes this https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2685

[2021-08-19 17:29] pydctw commented on #2584
/assign

[2021-08-19 18:09] randomvariable opened #2686 "CAPA lets you define an AWSMachine and AWSMachineTemplate without specifying an instance type and then it fails."
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Specify an AWSMachineTemplate without setting instanceType
CAPA will try to create a resultant AWSMachine and then error out with

[code]

**What did you expect to happen:**
Have the template and AWSMachine rejected by validating webhook

**Anything else you would like to add:**
[Miscel

[2021-08-19 18:20] fyangd commented on #2686
/assign me

[2021-08-19 18:20] fyangd commented on #2686
/assign @fyangd

[2021-08-20 03:15] rayandas commented on #2683
Hi @randomvariable if I can get some help and insight on the task, I would like to work on it.

[2021-08-20 12:07] randomvariable commented on #2683
Yes, that's correct.

[2021-08-20 12:31] thof opened #2691 "CrashloopBackOff for capa-controller-manager on v0.6.8"
/kind bug

**What steps did you take and what happened:**
A CrashloopBackOff caused by SIGSEGV when capa-controller-manager fails to reconcile the nodegroup (mettwo-0) for the management cluster (EKS):

[code]

**What did you expect to happen:**
No SIGSEGV

**Anything else you would like to add:**
The issue appeared after upgrade from v0.6.5 to v0.6.8, so I tried to build a new management cluster

[2021-08-20 13:02] randomvariable commented on #2691
/priority critical-urgent

[2021-08-20 13:04] thof commented on #2691
It seems the regression was introduced in v0.6.6.

[2021-08-20 16:11] rayandas commented on #2683
/assign

[2021-08-23 08:28] richardcase commented on #2355
As this requires a change in contract we will have to wait for the next API bump (i.e. v1alpha5)

/milestone Next
/priority important-longterm

[2021-08-23 08:28] richardcase commented on #2355
/unassign

[2021-08-23 13:48] #2683 closed

[2021-08-23 22:53] haho16 commented on #2449
Hey @sedefsavas, sorry for the late reply. In the capa-controller-manager pod logs I see this:
[code]
Indeed, I was able to delete the cluster after eliminating the finalizer, but the issue is still present after upgrading to latest clusterctl :/

If you need any further information, let me know. Thanks for your reply!

[2021-08-23 23:28] #2680 closed

[2021-08-24 06:11] abhinavnagaraj opened #2701 "Support spot instances for ManagedMachinePool"
/kind feature

**Describe the solution you'd like**
`AWSManagedMachinePool` should support spot instances. The SDK provides an option to select the `capacityType` for the node group. We should add the same in CAPA.

**Anything else you would like to add:**
As a first step we can use the existing `instanceType` field with `capacityType=SPOT`. But the complete implementation should allow selection o

[2021-08-24 08:16] richardcase commented on #2691
@thof - could you share your `AWSManagedMachonePool` definition?

[2021-08-24 08:16] richardcase commented on #2691
/area provider/eks

[2021-08-24 08:58] randomvariable commented on #2686
@fyangd if you're starting work on this, can you do a `/lifecycle active` , or unassign if you don't have time.

[2021-08-24 09:23] #2642 closed

[2021-08-24 10:00] thof commented on #2691
@richardcase
[code]

[2021-08-24 10:05] richardcase commented on #2691
Thanks. I will try this out.

[2021-08-24 11:12] richardcase commented on #2691
@thof - did you use a a config file when doing `clusterawsadm bootstrap iam create-cloud-formation-stack`? If you did would you also be able to share that?

[2021-08-24 11:13] richardcase commented on #2701
/area provider/eks
/priority important-soon
/milestone v0.7.x

[2021-08-24 11:14] thof commented on #2691
@richardcase yes, I did `clusterawsadm bootstrap iam create-cloudformation-stack --config cluster-api/bootstrap-config.yaml`:
[code]

[2021-08-24 11:16] richardcase commented on #2691
Thanks, will use that to investigate.

[2021-08-24 11:17] thof commented on #2691
@richardcase I edited my previous comment with env vars.

[2021-08-24 11:22] richardcase commented on #2691
Thanks @thof - i'm using them both now to see if i can re-create the issue. I'll let you know how i get on....

[2021-08-24 11:31] #2675 closed

[2021-08-24 12:48] richardcase opened #2704 "Nodegroup role name exceeds maximum length"
/kind bug
/area provider/eks
/priority important-soon
/milestone v0.7.x

**What steps did you take and what happened:**

Created stack to allow iam roles per cluster:

[code]

Enabled IAM roles per cluster using the following before `clusterctl init`:

[code]

Created a machine pool with the following specs:

[code]

And then we get the following error when reconciliation occurs:

[code]

**What d

[2021-08-24 16:50] fyangd commented on #2686
/unassign

[2021-08-24 16:53] fyangd commented on #2686
@randomvariable since this story is marked as urgent, let me unassign myself.  I'd be an interested observer for the time being.

[2021-08-24 22:55] pydctw commented on #2584
@scottslowe, which pre-existing AWS resources need these tags?
Is adding `kubernetes.io/cluster/<name> = shared` tag to subnets enough? Or are there other AWS resources that need the tags?

[2021-08-25 04:52] scottslowe commented on #2584
We need that tag on all subnets, yes, but we also need `kubernetes.io/role/internal-elb = 1` for private subnets and `kubernetes.io/role/elb = 1` for public subnets. We also need the `kubernetes.io/cluster/<name> = shared` tag on the VPC.

[2021-08-25 09:28] thof commented on #2691
@richardcase any luck with reproducing this bug?

[2021-08-25 09:29] richardcase commented on #2691
Not yet, i'm afraid. Still working on it

[2021-08-25 09:30] thof commented on #2691
Ok, let me share more info with you within couple minutes.

[2021-08-25 09:46] thof commented on #2691
@richardcase here is the guide with `metone-engineering.yaml` content below.

Create temporary bootstrap local cluster:
[code]

#### Configure AWS provider

To install [AWS provider](https://cluster-api-aws.sigs.k8s.io/) run:
[code]

Create and deploy ssh key:
[code]

Create target metacluster `metone`:
[code]

**Once the metone is ready I already see crashing capa-controller-manager in kind clust

[2021-08-25 09:55] richardcase commented on #2691
Fantastic, thanks @thof

[2021-08-25 10:27] richardcase commented on #2691
I haven't been able to reproduce but i think i see the issue......

[2021-08-25 10:51] richardcase commented on #2691
/assign
/lifecycle active

[2021-08-25 11:04] thof commented on #2691
Interesting... I'm switching between versions and when I downgrade to v0.6.5 the pod runs fine but when I upgrade to v0.6.6 the CrashloopBackOff is immediately present.

[2021-08-25 11:10] #2701 closed

[2021-08-25 13:40] richardcase commented on #2691
There was a change (#2407) that was added in 0.6.6 in this area of code....actually by me :roll_eyes:

I will have a PR for a fix shortly.

[2021-08-25 13:46] richardcase commented on #2668
@pieterv-icloud-com - what AWS environment variables did you have set when running this?

[2021-08-25 13:47] richardcase commented on #2665
/area provider/eks
/priority important-soon
/help
/milestone v0.7.x

[2021-08-26 02:43] sedefsavas opened #2710 "Confirm if main branch has all changes for v1alpha4 types"
Since we opened the main branch to v1alpha4, there are some additions to the document that summarizes v1alpha3 to v1alpha4 changes in core cluster-api.

We need to ensure that we still have all the changes listed there.
https://cluster-api.sigs.k8s.io/developer/providers/v1alpha3-to-v1alpha4.html

/priority-important-soon
/good-first-issue
/milestone v0.7.x

[2021-08-26 09:38] richardcase opened #2712 "Managed machine pool error: onDemand field is immutable"
/kind bug
/area provider/eks
/priority critical-urgent

**What steps did you take and what happened:**
Attempted to create a managed machine pool with the following spec:

[code]

It fails with the following error:

[code]

**What did you expect to happen:**

I expect this to succeed

**Environment:**

- Cluster-api-provider-aws version: main branch (post 0.7.0)

[2021-08-26 17:03] #2712 closed, assigned to richardcase

[2021-08-30 22:20] sayantani11 commented on #2484
I can add it to the docs if required.

[2021-08-30 23:26] sedefsavas commented on #2484
/assign @sayantani11

[2021-08-31 07:21] thof commented on #2691
I tried to build the container image from your fork with backport https://github.com/richardcase/cluster-api-provider-aws/tree/scaling_config_06 using `REGISTRY=docker.io/my-reg make docker-build` and all went fine. However when I used the image in `capa-controller-manager` deployment it started to fail on startup complaining that `flag provided but not defined: -feature-gates`. I'm not sure what

[2021-08-31 10:45] randomvariable commented on #2710
Should we add a checklist of tasks here, otherwise this issue seems a bit open ended and may not get closed?

[2021-08-31 10:45] randomvariable commented on #2710
/lifecycle active

[2021-08-31 10:47] #2710 closed

[2021-08-31 13:00] sayantani11 commented on #2710
@randomvariable I can make the checklist task if required

[2021-08-31 22:00] sayantani11 commented on #2484
@paulcarlton-ww Can you specify which docs require the addition?

[2021-09-01 13:30] Ankitasw opened #2727 "Documentation for GPU enabled cluster on AWS"
/kind feature
/kind documentation

**Describe the solution you'd like**
Since the GPU support has been tested on CAPA clusters, we would like to add documentation for GPU enabled kubernetes cluster on AWS.

**Anything else you would like to add:**
Similar documentation in CAPZ: https://capz.sigs.k8s.io/topics/gpu.html

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (us

[2021-09-01 17:44] shivi28 commented on #2727
/assign @shivi28

[2021-09-01 17:57] Ankitasw commented on #2727
/good-first-issue

[2021-09-02 15:15] pydctw opened #2732 "findSubnet function's logic is incorrect when subnet ID is specified"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

findSubnet function's logic is incorrect when subnet ID is specified in AWSMachine's spec.  Current logic returns a subnet ID from a spec when failureDomain is not defined, which may not match any subnets provided in AWSCluster.

**What did you expect to happen:**
The function should fi

[2021-09-03 05:34] shivi28 commented on #2686
/assign @shivi28

[2021-09-03 05:34] shivi28 commented on #2686
/lifecycle active

[2021-09-03 08:17] Ankitasw commented on #2732
/priority important-soon
/assign @pydctw

[2021-09-03 08:18] Ankitasw commented on #2732
/lifecycle active

[2021-09-03 19:05] #2334 closed

[2021-09-06 07:52] mkumatag opened #2736 "Use same golang version everywhere"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Currently, golang version is maintained in multiple places like [versions.mk](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/versions.mk#L16), [Dockerfile](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/Dockerfile#L18)

This Issue to keep a

[2021-09-06 08:20] Ankitasw commented on #2736
Hey @mkumatag ,
I know that dependabot updates the golang version automatically(once there is stable version available) in the dockerfile.
I see that other files which you have suggested like versions.mk, is changed manually in past.
@randomvariable / @sedefsavas do you want to add in more details here??

[2021-09-06 11:43] Ankitasw commented on #2569
@randomvariable do we have a priority for this task? I checked out that testgrid has lots of failure around this, so I feel its better to get this done soon.
I can pick this up.
Just to clarify, we need to remove this test case from e2e and add this to integration tests in `awscluster_controller_test` ?

[2021-09-06 15:59] paulcarlton-ww commented on #2484
@sayantani11 I think it needs a new section which describes how to configure a cluster to run without exposing the apiserver publicly. This is dependent on landing #2514 which I may get time to pick up again soon

[2021-09-06 16:47] sayantani11 commented on #2484
@paulcarlton-ww Yeah I was thinking the same. Did the change occur after shifting to v1Aplha4?

[2021-09-06 16:49] paulcarlton-ww commented on #2484
PR #2514 was started prior to v1Alpha4 but will need to be rebased for v1Alphav4

[2021-09-07 05:08] shivi28 commented on #2736
/assign mkumatag

[2021-09-07 17:33] shivi28 commented on #2727
As this issue is marked as good first issue, so un-assigning my name :) . Encouraging new contributors to pick this issue as it will be a good start.

[2021-09-08 00:23] erkules opened #2741 "Provider Pod panics after deploying a machinepool"
/kind bug

After deploying
[machinedeployment.txt](https://github.com/kubernetes-sigs/cluster-api-provider-aws/files/7124886/machinedeployment.txt)
I get a working cluster. So after creating the MachinePool/AWSManagedMachinePool the capa-controller-manager(Pod) terminates:

[code]

After deleting the MachinePool etc. I'm the controller Pod keeps up running.

**What did you expect to happen:**
I wa

[2021-09-08 07:39] bishtsaurabh5 commented on #2727
/assign

[2021-09-08 07:54] richardcase commented on #2741
I think this is fixed by #2713

[2021-09-08 07:59] erkules commented on #2741
So I need to wait for v0.7.1 thx

[2021-09-08 10:26] AvineshTripathi commented on #2727
Can multiple people assign this ??

[2021-09-08 10:30] Ankitasw commented on #2727
@AvineshTripathi i don't think there is a need :) but feel free to choose from other good-first-issues

[2021-09-08 14:18] randomvariable opened #2746 "Conformance testing timing out due to log collection taking too long"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Due to https://github.com/kubernetes-sigs/image-builder/issues/556 , the systemd journal grows immensely in size. Since we take logs every minute and at the end of the test, it's taking forever to retrieve them, and then timing out  the conformance e2e.

**What did you expect to happen:

[2021-09-08 17:11] shivi28 opened #2747 "Review CAPA APIs to add omitempty only for optional fields"
/kind feature

**Describe the solution you'd like**
**First Requirement:**
In CAPA APIs we have to review the type fields and mark optional fields with `omitempty` and remove from all other fields.

**Second Requirement:**
Also by default all fields should be required and have `+kubebuilder:validation:Required` whereas the fields that we want to be optional should have `+optional` and `omitempty`

[2021-09-08 17:12] shivi28 commented on #2747
@randomvariable Do you have any thoughts to add more on this issue?

[2021-09-08 17:13] shivi28 commented on #2747
/area api

[2021-09-09 19:05] abhinavnagaraj opened #2750 "Support RoleAdditionalPolicies for ManagedMachinePool"
/kind feature

**Describe the solution you'd like**
Currently, `AWSManagedControlPlane` supports both,`roleName` and `roleAdditionalPolicies`.
`AWSManagedMachinePool` supports only `roleName`.

Just like in MCP, we need to allow `roleAdditionalPolicies` in `AWSManagedMachinePool`, to allow attaching additional policies applicable to the node group role.

[2021-09-10 07:40] paulcarlton-ww opened #2752 "make generate leave github.com directory behind which impacts make test"
/kind bug

**What steps did you take and what happened:**
forked repo and ran make generate then make test. Later failed because the former left a github.com directory that 'go test ./...' run by make test processed.

**What did you expect to happen:**
make generate to clean up the github.com directory.

**Environment:**

- Cluster-api-provider-aws version: v7.0
- Kubernetes version: (use `kubectl

[2021-09-10 07:43] paulcarlton-ww opened #2753 "make test does not terminate kube-apiserver and etcd processes"
/kind bug

**What steps did you take and what happened:**
forked repo and ran make test. After run kube-apiserver and etcd processes remain

What did you expect to happen:
make test to clean up these processes

Environment:

Cluster-api-provider-aws version: v7.0
Kubernetes version: (use kubectl version): v1.19.2
OS (e.g. from /etc/os-release): Ubuntu 20.04

[2021-09-10 07:44] richardcase commented on #2752
This is a known issue with the code generation tooling. The easiest way to get around it is to clone the source code into your GOPATH as per the developer guide:

https://cluster-api-aws.sigs.k8s.io/development/development.html

[2021-09-10 07:48] richardcase commented on #2753
There is code to teardown: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/e7d56364b37620241546835b67332ecf6be275bf/bootstrap/eks/controllers/suite_test.go

Do you have the source code in the GOPATH?
How and where do you have etcd/api-server installed?

[2021-09-10 08:04] richardcase commented on #2750
/area provider/eks
/priority important-longterm

[2021-09-10 08:06] richardcase commented on #2750
@abhinavnagaraj thats for woring on this and the PR. When you work on an issue can you assign it to yourself and set th elifecycle as active? This helps to stop anyone else doing a parallel development.

/assign abhinavnagaraj
/lifecycle active

[2021-09-10 08:13] paulcarlton-ww commented on #2752
Thanks, my mistake should have read development guide, I had missed it because I was expecting to find any relevant info in CONTRIBUTING.md. It is referenced in the README.md under title 'Tilt-based development environment' but because I am not currently using tilt I didn't read that!

[2021-09-10 08:27] paulcarlton-ww commented on #2753
AS per #2752 I was using wrong directory but now have cloned my fork into $GOPATH/sigs.k8s.io/cluster-api-provider-aws

However still seeing processes left over

[code]

I have etcd and kube-apiserver binaries in /usr/local/bin but it seems to be installing them in /tmp/kubebuilder/bin and using them.

[code]

[2021-09-10 17:49] dilyevsky opened #2757 "cloud-init >= 20.3 fails on missing /etc/secret-userdata.txt"
/kind bug

**What steps did you take and what happened:**
1. Upgrade cloud-init to 20.3+
2. Attempt to provision node using CAPA control plane
3. Node becomes stuck in `Provisioning` state, cloud-init init phase fails with the following error while executing user-data:

[code]

**What did you expect to happen:**

User-data execution stage should not fail.

**Anything else you would like to add:**

[2021-09-10 17:52] randomvariable commented on #2757
Are you not using image builder?

The images were fixed in

https://github.com/kubernetes-sigs/image-builder/pull/406

[2021-09-10 17:56] dilyevsky commented on #2757
Nope, custom image. Hm thanks for pointer - let me try that approach.

[2021-09-10 22:10] dilyevsky commented on #2757
ugh this is actually hard to do on an image with a read-only /usr partition (CoreOS flavor) - need to make your own cloud-init package 🤦 ...

[2021-09-11 01:22] erkules opened #2758 "Cannot delete AWSManagedControlPlane when using existing VPC"
/kind bug

Maybe interesting. I played  with machinepools. I'm in an environment you need to use an existing vpc. I forgot to set the vpc in machinepool. So the AWSManagedControlPlane could not be deployed. FunFact I was not able to delete the resource either:

`failed to delete vpc "": UnauthorizedOperation: You are not authorized to perform this operation.`

So deleting AWSManagedControlPlane fa

[2021-09-11 19:27] agill17 commented on #2267
Trying to understand the scope of this issue.
Out of the all the _test.go files under controllers/ dir, it looks only `awscluster_controller_test.go` is the one that requires the adjustment after adding its reconciler to the testEnv manager. The other tests in controllers dir are using mocked interfaces / fake-mocked k8s client and not using testEnv client.
OR
Is this issue to setup all reconciler

[2021-09-12 11:20] #2331 closed

[2021-09-13 10:20] Ankitasw opened #2762 "[e2e] Cleanup E2E tests in periodic-capi-e2e-release-0-6"
/kind cleanup
/area testing

**Describe the solution you'd like**:
There are some test cases failing in periodic-capi-e2e-release-0-6 which are non-critical and needs to be cleaned up.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-capi-e2e-release-0-6

[2021-09-13 10:55] Ankitasw opened #2763 "[e2e] Fix e2e tests for multitenancy in periodic-e2e-main"
/kind bug
/area testing

**What steps did you take and what happened:**
The multitenancy test `should create cluster with nested assumed role` fails sporadically in local e2e test runs as well as in the periodic e2e main tests which gets timed out while waiting for kubeadm control plane to come up.

**Anything else you would like to add:**
Failure report : https://prow.k8s.io/view/gs/kubernetes-je

[2021-09-13 11:10] Ankitasw opened #2764 "[e2e] EKS e2e periodic main tests failing sporadically"
/kind bug
/area provider/eks
/area testing

**What steps did you take and what happened:**
The periodic e2e eks tests are flaky which is failing because some cleanup not happening correctly while deleting the cluster.

**Anything else you would like to add:**
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-eks-e2e/1435283923042045952

**Environment:**

- Clust

[2021-09-13 11:20] Ankitasw commented on #2762
/remove kind-feature

[2021-09-13 11:22] Ankitasw commented on #2762
/remove-kind feature
/area testing

[2021-09-13 12:21] #2736 closed

[2021-09-13 12:27] randomvariable commented on #2764
/priority important-soon

[2021-09-13 12:27] randomvariable commented on #2763
/priority important-soon

[2021-09-13 12:27] randomvariable commented on #2762
/priority important-soon

[2021-09-13 12:27] randomvariable commented on #2758
/priority important-soon
/area networking

[2021-09-13 12:30] randomvariable commented on #2757
You can turn off this behaviour if you're unable to get a cloud-init to work appropriately. See https://cluster-api-aws.sigs.k8s.io/topics/userdata-privacy.html#how-cluster-api-secures-tls-secrets with the caveats.

I don't think there's anything more we can do here though.

[2021-09-13 12:30] #2757 closed

[2021-09-13 12:57] randomvariable commented on #2753
Yeah, this has always happened to me too, and i've had to `killall -9 etcd` separately etc...

@sbueringer  has been touching some of the envtest stuff in the core CAPI repo so I don't know if there's something better we could be doing here.

[2021-09-13 13:11] sbueringer commented on #2753
Not sure. fyi an issue in the main repo which **could** be related: https://github.com/kubernetes-sigs/cluster-api/issues/4278

Apart from that: My recent changes where mostly about centralizing envtest setup code (https://github.com/kubernetes-sigs/cluster-api/blob/3e54e8c939090c97a718a553ee6dce5b4c054731/internal/envtest/environment.go#L95-L124) and making it possible to run integration tests wi

[2021-09-13 13:24] randomvariable commented on #2753
Yup, I think https://github.com/kubernetes-sigs/cluster-api/issues/4278 is pretty much the same as I get.

[2021-09-13 13:57] Ankitasw commented on #2762
/assign

[2021-09-14 10:12] randomvariable commented on #2753
/priority important-longterm
/area testing

[2021-09-14 10:18] randomvariable commented on #2752
We've tried for years to make this work in each use case. We get a PR to fix it when the repo is checked out in one location, that then breaks it when it is checked out in another.

Leave it open in case someone finds something that works in every case.

/priority backlog
/lifecycle frozen

[2021-09-14 10:18] randomvariable commented on #2752
/area release

[2021-09-14 10:19] randomvariable commented on #2747
Only that we should add the required validation at the package level, and then make optional make sesne.

/priority important-soon

[2021-09-14 10:20] randomvariable commented on #2746
/area testing
/priority critical-urgent

[2021-09-14 10:42] Ankitasw commented on #2746
/assign

[2021-09-14 15:53] randomvariable opened #2767 "Unable to use a load balancer in a different subnet to the node subnet"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Specify

**What did you expect to happen:**

Want to deploy a cluster using an existing VPC with separate subnets for nodes and load balancers.

Assuming this can be done by filling in AWSCluster.Spec as follows:

[code]

where subnet-lb is a subnet just for the CP Load balancer

this f

[2021-09-14 15:53] randomvariable commented on #2767
/area networking
/priority important-soon

[2021-09-14 15:55] randomvariable commented on #2767
As spotted by @warroyo, the problem is the subnets are looked up from the scope, which only takes into consideration the machine subnets:

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/e55d3ed297b9608aa229cf96caa658e64ef6373d/pkg/cloud/services/elb/loadbalancer.go#L224-L232

[2021-09-14 17:23] akash-gautam commented on #2574
/assign

[2021-09-14 17:45] dlipovetsky commented on #2534
Based on the [AWS documentation](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-elasticloadbalancingv2-loadbalancer.html
), the acceptable values for ELB scheme are `internet-facing` or `internal`. Note that both values are _lowercase_.

<img src="https://user-images.githubusercontent.com/3445370/133307096-4848d595-d465-4862-a1d8-6cd5bb30fd82.png" width=50% height=50%>

[2021-09-15 14:45] kholisrag opened #2771 "prebootstrapcommand in machinepool / managed machinepool"
/kind feature

**Describe the solution you'd like**
a `preBootstrapCommand` feature like that `eksctl` have, maybe both in unmanaged node / managed node. its greate feature for all of us I believe

**Anything else you would like to add:**
for our case, we need to mount the instance store of aws ec2 instance and be able to use it in hostPath of PersistentVolume

[2021-09-15 16:05] randomvariable commented on #2771
For EC2, you can do that already in KubeadmConfigTemplate and KubeadmControlPlane under preKubeadmCommands.

[2021-09-15 21:48] petrukngantuk commented on #2771
@randomvariable if we use eks and unmanaged node we can do that? can you elaborate more how to do it?

[2021-09-16 10:39] Ankitasw commented on #2686
/milestone 0.8.0

[2021-09-16 13:43] Ankitasw commented on #2763
I tried running e2e tests in local, and its failing everytime, but i checked that 3 4 min after after this step
[code]
the control plane is up and running

[code]
but why the func WaitForOneKubeadmControlPlaneMachineToExist() is not able to detect those changes , i m not sure !!!
Not just with multitenancy test, i have seen this with multi az test case as well, but that happens rarely.

Also, I co

[2021-09-17 15:56] Ankitasw commented on #2763
I tried a hack locally, i observed that after sometime the control plane is coming up, but `WaitForControlPlaneIntervals: input.E2EConfig.GetIntervals(specName, "wait-control-plane")` is not waiting until the node is up, so I was thinking we can increase the overall timeout from `SetDefaultEventuallyTimeout(20 * time.Minute)` to `SetDefaultEventuallyTimeout(30 * time.Minute)`, increasing this help

[2021-09-20 06:30] Ankitasw commented on #2764
This test was flaky last week, but the results are green for this week runs

[2021-09-20 17:41] richardcase commented on #2764
/assign
/lifecycle active

[2021-09-20 17:45] richardcase commented on #2764
From the controller logs we appear to be stuck in a loop:

[code]

[2021-09-20 17:53] richardcase commented on #2763
There are a lot of SQS errors:

[code]

[2021-09-20 18:27] #2534 closed

[2021-09-20 19:11] dlipovetsky opened #2774 "Bring your own control plane ELB"
/kind feature

**Describe the solution you'd like**
I am creating a CAPA cluster using [existing AWS infrastructure](https://github.com/kubernetes-sigs/cluster-api-provider-aws//blob/55df68a6f34fcf0c01ffc08c02d077bf2e337fee/docs/book/src/topics/consuming-existing-aws-infrastructure.md). I have an existing ELB that I want CAPA to use.

**Anything else you would like to add:**
The ELB name is not pa

[2021-09-20 19:31] sedefsavas commented on #2763
This is not a bug, this logs seen when SQS is not enabled. But we should definitely log less about this.

[2021-09-20 19:32] sedefsavas commented on #2763
I agree let's go with the second approach.

[2021-09-20 19:50] #2746 closed

[2021-09-20 19:50] #2388 closed

[2021-09-21 04:10] #2762 closed

[2021-09-21 04:10] Ankitasw commented on #2762
Issue resolved

[2021-09-21 08:07] richardcase commented on #2225
/lifecycle frozen

[2021-09-21 08:09] richardcase commented on #2574
Thanks for picking this up @akash-gautam. Ping here or on slack if you have any questions. Could you mark it as active when you start to work on it?

[2021-09-21 08:15] shivi28 commented on #2774
Thanks @dlipovetsky for raising the detailed use case.
We have one on-going proposal for[ Load balancer provider](https://github.com/kubernetes-sigs/cluster-api/pull/4389) and I will check if we can address this use case as part of that proposal.

[2021-09-21 08:22] Ankitasw commented on #2763
/assign
/lifecycle active

[2021-09-21 08:24] akash-gautam commented on #2574
Thanks @richardcase I will let surely put my questions here or on slack. How do we mark the issue as active?

[2021-09-21 08:30] richardcase commented on #2574
To mark it active you add the following command (this will do it for this issue but on future issues you can do the command):

/lifecycle active

[2021-09-21 08:50] #2763 closed

[2021-09-21 09:43] randomvariable opened #2778 "v1beta1 Tracking Issue"
/kind feature

**Describe the solution you'd like**

* Bump API version to v1beta1 to match Cluster API Core

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

Rough task list

1. [x] #2779
  * Do immediately
1. [x] #2792
  * Do immediately
1. [x] #2780
  * Depends on #2792
1. [x] #2781
  * Depends on #2792
1. [ ] #2788
  * Depends on #278

[2021-09-21 09:44] randomvariable opened #2779 "Bump controller runtime version to v0.10"
/kind feature
/area api
/priority important-soon

**Describe the solution you'd like**

For v1beta1, bump CR release to v0.10

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2021-09-21 09:45] randomvariable opened #2780 "Refactor v1alpha3 webhooks to convert to v1beta1 hub"
/kind feature
/area api
/priority important-soon

**Describe the solution you'd like**

For v1beta1, refactor v1alpha3 webhooks to convert to v1beta1 hub.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

We intend to support upgrades from v1alpha3 to v1beta1.

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (u

[2021-09-21 09:46] randomvariable opened #2781 "Add v1alpha4 to v1beta1 conversions"
/kind feature
/area api
/priority important-soon

**Describe the solution you'd like**

For v1beta1, add conversions for v1alpha4

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

We intend to support upgrades from v1alpha3 to v1beta1, so v1alpha3 conversions should not be deleted #2780

**Environment:**

- Cluster-api-provider-aws versio

[2021-09-21 09:47] randomvariable opened #2783 "Bump clusterctl metadata to v1beta1"
/kind feature
/area api
/priority important-soon

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
For v1beta1 support, we should bump our metadata to v1beta1

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use

[2021-09-21 11:26] Ankitasw commented on #2781
Do we also need to have v1alpha3 to v1beta1 upgrade e2e tests, as we have in case of v1alpha3 to v1alpha4 upgrade?

[2021-09-21 11:40] Ankitasw commented on #2779
/assign
/lifecycle active

[2021-09-21 12:04] Ankitasw commented on #2780
/assign
/lifecycle active

[2021-09-22 06:22] shivi28 commented on #2783
/assign @shivi28

[2021-09-22 17:01] shivi28 commented on #2779
@randomvariable, should we also upgrade the controller-tools to v0.7? If yes, Is it being addressed in this PR or should we create a separate issue for it?

[2021-09-22 17:08] #2686 closed

[2021-09-22 17:21] shivi28 commented on #2747
Similar [issue](https://github.com/kubernetes-sigs/cluster-api/issues/5239) going on in CAPI, adding here for reference

[2021-09-23 07:02] Ankitasw opened #2788 "E2E test to upgrade v1alpha3 to v1beta1"
/kind feature

**Describe the solution you'd like**
With the new upgrade path being enabled for CAPI, we want to add the tests in e2e to upgrade from v1alpha3 to v1beta1

**Anything else you would like to add:**

Depends on #2780

[2021-09-23 07:03] Ankitasw commented on #2788
/area testing
/priority important-soon

[2021-09-23 07:04] Ankitasw commented on #2778
@randomvariable added one more [issue](https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2788), could you please add it to the tracking list as well?

[2021-09-23 08:42] Ankitasw commented on #2779
@shivi28 taken care of controller-tools as well

[2021-09-23 09:46] richardcase commented on #2224
/assign
/lifecycle active

[2021-09-23 09:48] richardcase commented on #2055
@JoelSpeed - are you working on this? Or would you be happy for me to pick this up and other issue related to launcg templates in CAPA?

[2021-09-23 09:49] JoelSpeed commented on #2055
I've not got any real bandwidth to work on this for at least a month, feel free to take over, let me know if I can help in any way with reviews etc

[2021-09-23 09:54] richardcase commented on #2055
Great, thanks @JoelSpeed ....will certainly take you up on a review :)

[2021-09-23 09:54] richardcase commented on #2055
/assign
/lifecycle active

[2021-09-23 14:52] scottslowe commented on #2584
I saw that #2715 had been merged; I'm guessing this will hit the 0.7.1 release?

[2021-09-23 20:47] pydctw commented on #2584
I think so as 0.7.1 hasn't been released yet. cc @sedefsavas

[2021-09-23 22:06] tahirali-endurance opened #2802 "Can not create EKS cluster"
**What steps did you take and what happened:**
1. Generated yamls:
[code]

2. Put existing Subnets and VPCs in AWS Cluster object:
[code]

3. Apply the manifest
[code]

**What did you expect to happen:**
EKS cluster is created

**Environment:**
MacOS

- Cluster-api version:
[code]

- Minikube/KIND version:
Using EKS cluster(1.19) as bootstrap cluster

- Kubernetes version: (use `kubectl version`):

[2021-09-24 10:37] randomvariable opened #2792 "Add v1beta1 types"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Add v1beta1 types

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2021-09-24 10:39] randomvariable commented on #2783
This should be done after #2792, #2780, #2781

[2021-09-24 10:40] randomvariable opened #2793 "EC2 E2E test to upgrade v1alpha4 to v1beta1"
/kind feature

**Describe the solution you'd like**
Verify upgrades work

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

Depends on #2781

[2021-09-24 10:41] randomvariable commented on #2780
Do as part of or after #2792

[2021-09-24 10:43] randomvariable commented on #2792
/priority important-soon

[2021-09-24 10:43] randomvariable commented on #2792
/area api

[2021-09-24 10:45] randomvariable commented on #2781
Yes, have added the issue

[2021-09-24 10:51] randomvariable commented on #2793
/priority important-soon
/area testing
/milestone v0.8.0

[2021-09-24 10:51] randomvariable commented on #2783
/area release
/milestone v0.8.0

[2021-09-24 10:51] randomvariable commented on #2788
/milestone v0.8.0

[2021-09-24 10:51] randomvariable commented on #2778
/milestone v0.8.0

[2021-09-24 10:52] randomvariable commented on #2779
/area release

[2021-09-24 10:52] randomvariable commented on #2792
/milestone v0.8.0

[2021-09-24 10:52] randomvariable commented on #2780
/milestone v0.8.0

[2021-09-24 10:52] randomvariable commented on #2781
/milestone v0.8.0

[2021-09-24 10:53] randomvariable commented on #2783
/kind release-blocking

[2021-09-24 10:53] randomvariable commented on #2778
/kind release-blocking

[2021-09-24 10:53] randomvariable commented on #2792
/kind release-blocking

[2021-09-24 10:53] randomvariable commented on #2780
/kind release-blocking

[2021-09-24 10:53] randomvariable commented on #2781
/kind release-blocking

[2021-09-24 10:54] randomvariable commented on #2788
/kind release-blocking

[2021-09-24 10:54] randomvariable commented on #2793
/kind release-blocking

[2021-09-24 10:54] randomvariable commented on #2779
/kind release-blocking

[2021-09-24 13:24] randomvariable opened #2794 "AWSCluster can trigger re-enqueue of all machines when ingress rules fail to update, hitting AWS API limits"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

In a scenario where CAPA is trying to reconcile security groups and fails, this triggers all machines to be requeued, and then causes API rate limiting against the EC2 API.

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will

[2021-09-24 13:34] randomvariable opened #2795 "If AWSCluster managed security group ingress rule is renamed, this causes AWSCluster to fail"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

If someone tries to manually replace an ingress rule with the same port but different description, AWSCluster will fail to reconcile the security group:

![image](https://user-images.githubusercontent.com/1441070/134682835-6ddb2200-cb27-4d82-8cb8-7860aaf563bc.png)

with the following er

[2021-09-24 13:35] randomvariable commented on #2795
/area networking
/priority important-soon
/milestone v0.8.0

[2021-09-24 13:56] randomvariable opened #2797 "Ordering of subnets is inconsistent, causing problems with tools expecting consistency in ordering"
/kind bug
/area networking
/priority important-soon
/milestone v0.8.0

**What steps did you take and what happened:**

Reported by @voor :

Cluster API AWS sometimes needs to be populated with the subnet ID's for unmanaged VPCs if the subnets is larger in the VPC than the subnets you wish to restrict Kubernetes nodes to.  For example, if you have 6 subnets but only want to put nodes into 4 of them

[2021-09-24 14:03] randomvariable opened #2798 "Allow customisation of node rules"
/kind feature

**Describe the solution you'd like**

One of the most common requests we have is to allow customisation of the node security group. In particular, users want to often change the SSH ingress rule when bastion is enabled or not, and either disable or change the node port ruleset.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue

[2021-09-24 18:06] pydctw commented on #2795
/assign

[2021-09-24 21:16] sedefsavas opened #2801 "Add defaulter & conversion for Internet-facing to internet-facing ELB scheme change"
/kind bug

**What steps did you take and what happened:**
We fixed an issue about ELB scheme enum values https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2768, but forgot to add the conversion for the clusters.

We should fix this before doing a release with #2768 fix in.
Also, we need to backport it to v1alpha3 too.

**What did you expect to happen:**

**Anything else you would li

[2021-09-24 21:18] sedefsavas commented on #2801
cc @dilyevsky

[2021-09-25 08:54] shivi28 commented on #2792
/assign @shivi28

[2021-09-25 09:08] Madhur97 commented on #2793
/assign @Madhur97

[2021-09-25 09:08] shivi28 commented on #2781
/assign @shivi28

[2021-09-27 00:04] voor commented on #2208
This can be remediated with a post kubeadm script, but it's still a good thing for security clean up

[2021-09-27 04:36] chunywan opened #2804 "Amazon Linux 2 - error on running "make clusterawsadm": "- bash: - : invalid option""
/kind bug

**What steps did you take and what happened:**
The following error happens when running `make clusterawsadm`
[code]

With debug info (make clusterawsadm -d):
[code]

**What did you expect to happen:**
I expect the binary `clusterawsadm` can be built successfully.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
It works well on

[2021-09-27 06:43] Ankitasw commented on #2797
/assign

[2021-09-27 07:37] invidian commented on #1979
/remove-lifecycle stale

We're doing a good progress on https://github.com/kubernetes-sigs/cluster-api/pull/4172, we recently added missing e2e tests, a feature gate and documentation.

BTW, as CABPK decided that Ignition support will be behind a feature gate for the time being, how does it affect this PR? Can we enable the feature gate for e2e tests?

[2021-09-27 14:38] paulcarlton-ww commented on #2465
/remove-lifecycle stale

[2021-09-27 15:07] randomvariable commented on #2801
I think we also need this in the defaulter so that it applies to existing v1alpha3 or existing v1alpha4 clusters.

[2021-09-27 15:44] randomvariable commented on #2801
Discussing with @sedefsavas , I think what we want is:

v1alpha3 --> v1alpha3 & v1alpha4 --> v1alpha4, default on Update to corrected value
v1alpha3 --> v1alpha4 , v1alpha3 --> v1beta1, v1alpha4 --> v1beta1, correct in conversion

We may also want to call this particular defaulter inside the controller, such that it allows the ELB to complete reconciliation. Calling patch will then update with the

[2021-09-27 15:54] randomvariable opened #2805 "Make e2e v1alpha3 to v1alpha4 upgrade actually work"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
https://github.com/kubernetes-sigs/cluster-api/issues/5327#issuecomment-927942014 should have been surfaced in CAPA e2e, but we weren't actually running the test, so we now need to turn it on.

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous in

[2021-09-27 15:54] randomvariable commented on #2805
/priority critical-urgent
/kind release-blocking

[2021-09-27 15:54] randomvariable commented on #2805
/area testing

[2021-09-27 17:03] sedefsavas commented on #2801
/assign

[2021-09-27 18:34] randomvariable commented on #2805
/assign
/lifecycle active

[2021-09-28 06:18] sedefsavas commented on #2801
Changes for the v1alpha4 release is described in the open PR: [see](https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2807)

TODO:

**Changes to be added to the next v1alpha3 release:**
 No change in the API or webhooks, just use "Internet-facing" scheme and translate it to "internet-facing" internally in the controllers. This is enough to unblock existing users without any change t

[2021-09-28 06:43] chunywan commented on #2804
Mostly this is related to the conflicts between `ONESHELL` special target and `shell function $(shell)`. With the following simplified `Makefile`, it still get error `bash: - : invalid option`:
[code]

From my testing, it works well with `make-4.0`, `make-4.1`, `make-4.2` and `make-4.3`. Only make-3.82 has this issue.

In summary, we can upgrade make to 4.x or downgrade to 3.81 to run `make cluste

[2021-09-28 06:49] chunywan commented on #2804
This is the link to the bug found in `make-3.82` and  fixed in `make-4.0` release. It confirms my findings above.
[bug #35397: make bug with ONESHELL and SHELLFLAGS](http://savannah.gnu.org/bugs/index.php?35397)

So I will close this github issue.

[2021-09-28 06:49] #2804 closed

[2021-09-28 10:52] randomvariable commented on #2804
Just to clarify, was the problem building on MacOS or on AML 2?

On MacOS, I mostly use make from Homebrew and assume the standard one isn't going to work. What does Homebrew ship with at the mo?

And is the issue that AML2 ships with make 3.82 RPMs? Are make-4.0, make-4.1, make-4.2 and make-4.3 different packages in the yum repos for AML2?

[2021-09-28 18:29] sedefsavas commented on #1979
Adding ignition support directly to the API that uses an experimental feature in the core cluster-api repository may not be the best option. We should consider feature-gating it in this repository as well.

yes, we do it for other experimental feats: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/06e02b2d242d0496d0b0855d00d88b7f51b7e277/test/e2e/data/e2e_conf.yaml#L150

[2021-09-29 06:47] richardcase commented on #2268
/lifecycle frozen

[2021-09-29 06:49] richardcase commented on #2248
Fixed by #2422

[2021-09-29 06:49] #2248 closed

[2021-09-29 06:49] richardcase commented on #2009
/lifecycle frozen

[2021-09-29 06:50] richardcase commented on #2009
/area provider/eks
/priority important-longterm
/help

[2021-09-29 06:56] richardcase commented on #2317
/lifecycle frozen

[2021-09-29 06:57] richardcase commented on #2317
/help

[2021-09-29 06:57] richardcase commented on #2508
/lifecycle frozen

[2021-09-29 07:00] richardcase commented on #2802
@tahirali-endurance - would you be able to looks at the logs for the capa controller manager to see if there are any errors?  Could you also do a describe on the `AWSCluster` to see what events there are?

Also, feel free to ping in the #cluster-api-aws slack channel for more interactive help.

[2021-09-29 07:06] richardcase commented on #2774
As there is a PR open:

/assign dlipovetsky
/lifecycle active

[2021-09-29 07:48] #2442 closed

[2021-09-29 14:32] tahirali-endurance commented on #2802
Thanks. I was able to figure out the issue. The issue was 1.22. When I downgraded to 1.21, things started working.

[2021-09-30 09:08] vibhorrawat commented on #2029
Hi Folks, I'm a new contributor and willing to work on this _good first issue_. However, from the comments it looks like this was picked and then nothing has happened. Hence, just to confirm is this still a valid/on-going issue? If yes, may I pick this up?

[2021-09-30 09:38] richardcase commented on #2029
Hey @vibhorrawat  - thanks for considering contributing. This is still a valid issue to work on. If you want to work on it feel free  to assign it yourself and mark it active (see [this](https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2224#issuecomment-925660001) comment for an example of how to do that). If you have any questions along the way feel free to ping me here or in th

[2021-09-30 09:43] vibhorrawat commented on #2029
@richardcase Great! Thank you!
/assign

[2021-09-30 09:45] invidian commented on #1979
We will do it, thanks for the advice, it make sense :+1: CC @surajssd

[2021-09-30 10:07] richardcase commented on #2540
@slayer321 - how are you getting on with this?

[2021-09-30 10:09] richardcase commented on #2802
@tahirali-endurance - as its working would you be happy for me to close this issue?

[2021-09-30 12:25] slayer321 commented on #2540
Hii @richardcase, Sorry due to some college work I was not able to work on this issue.
But now I'm looking to work on this issue.

As you mention that when I will change the [ pointers in this struct ](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/028bf2b34a87b9aa6eea0f8104d4ac61bea0547e/controlplane/eks/api/v1alpha4/awsmanagedcontrolplane_types.go#L179:L184) there are some chan

[2021-10-01 14:27] #2779 closed

[2021-10-01 15:12] randomvariable opened #2816 "Add commentary on why we convert AWS ingress rules in SDK conversion functions"
Add commentary on why we convert AWS ingress rules in SDK conversion functions

_Originally posted by @randomvariable in https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2813#issuecomment-932190320_

[2021-10-01 15:18] randomvariable commented on #2816
/kind documentation

[2021-10-01 15:18] randomvariable commented on #2816
/priority backlog

[2021-10-01 17:31] vibhorrawat commented on #2029
@richardcase Here is my understanding of the problem statement please feel free to correct me if I'm wrong here.

- Create a new template (a yaml file) for `eks-machinepool`. For this, when I started looking at the [templates](https://github.com/kubernetes-sigs/cluster-api-provider-aws/tree/main/templates) folder, we have few templates like `template-eks` and `template-machinepool`. And now we nee

[2021-10-04 07:02] njuettner opened #2817 "Conformance tests failing for CAPA cluster"
Hello 👋🏻 ,

I need some help understanding why conformance tests are failing when launching a default CAPA cluster (no EKS, using version **v1alpha3**) with Kubernetes version **1.19** using the **latest AWS CNI** for pod network communication.

I ran the tests several times to ensure this is not due flakiness.

When running sonobuoy (version **0.53.2**) using mode **certified-conformance** I alwa

[2021-10-04 09:58] richardcase commented on #2029
Hi @vibhorrawat

You are understanding is correct :+1:

With `update the makefile to copye the template` this is already done. As well as updating the release notes documentation i'd also add a note to the [machine pool docs](https://github.com/vibhorrawat/cluster-api-provider-aws/blob/main/docs/book/src/topics/machinepools.md) to mention that there is a EKS with machine pool template as well.

[2021-10-04 10:17] #2750 closed

[2021-10-04 11:09] randomvariable commented on #2817
This is a result of #2798 . The conformance tests want to use node ports that aren't open by default in the security group rules.

However, we have to find a balance - most customers/users I speak to currently balk at the existing open ports, which is why #2798  allows for its customisation. You can however make it work, by adjusting "cniIngressRules" and adding the used ports there.

[2021-10-04 11:22] randomvariable commented on #2793
/assign
/lifecycle active

[2021-10-04 11:22] randomvariable commented on #2788
/assign
/lifecycle active

[2021-10-04 11:22] randomvariable commented on #2783
/assign
/lifecycle active

[2021-10-04 11:23] randomvariable commented on #2781
/lifecycle active

[2021-10-04 11:23] randomvariable commented on #2780
/assign
/lifecycle active

[2021-10-04 11:23] randomvariable commented on #2778
/assign
/lifecycle active

[2021-10-04 13:33] calvix commented on #2371
/remove-lifecycle stale

[2021-10-04 14:28] njuettner commented on #2817
Thanks for you answer @randomvariable 🤗, could you elaborate a bit on how someone would do this right now? Do I need to wait for the customisation, will this also cherry-picked for `v1alpha3` or is this only for `v1alpha4?

[2021-10-04 14:59] randomvariable commented on #2817
Set CNIIngressRules on the awsCluster resource with the rules required. https://cluster-api-aws.sigs.k8s.io/crd/index.html#infrastructure.cluster.x-k8s.io/v1alpha4.CNIIngressRules

These were introduced in v1alpha3, so you don't need #2798 .

I'm not sure exactly what you'll need - I think you need to add UDP 30000-65535, best to check the source code in the main kubernetes repo for what's require

[2021-10-04 15:25] randomvariable commented on #2801
/milestone v1.0.0

[2021-10-04 23:48] dlipovetsky commented on #2801
Thanks for catching this @sedefsavas!

(I missed this issue because of a tag typo above :grimacing: )

[2021-10-05 06:52] njuettner commented on #2817
@randomvariable once again thank you 👍🏻

[2021-10-05 06:53] #2817 closed

[2021-10-05 08:46] shivi28 commented on #1746
/unassign @shivi28

[2021-10-05 10:30] fabriziopandini opened #2819 "PrincipalCredentialRetrieved condition does not reset"
/kind bug

**What steps did you take and what happened:**
I created a CAPA cluster following quick-start using v1alpha3/CAPA v06.8

The cluster at the end got created, but PrincipalCredentialRetrieved was reporting false and not resetting back to true

[code]

**What did you expect to happen:**
All the conditions to get back to true when everything works.

**Anything else you would like to add:**

[2021-10-05 10:31] randomvariable commented on #2819
/triage accepted
/priority critical-urgent
/kind backport
/area security

[2021-10-05 10:32] randomvariable commented on #2819
cc @sedefsavas seems like we're not clearing error conditions correctly?

[2021-10-05 10:49] fabriziopandini commented on #2819
Note: the failed conditions seems also to not bubble up into the summary (ReadyCondition)

[2021-10-05 11:52] voor commented on #2523
/remove-lifecycle stale

[2021-10-05 16:32] sedefsavas commented on #2819
From the logs, the error disappears after a controller creates the default identity, so this should be a reset issue. I will propagate it to `ReadyCondition` as well.

I will do the change in v1alpha4 and v1beta1.
/assign
/milestone v1.0.0

[2021-10-05 18:05] richardchen-db commented on #2691
@richardcase Thank you for fixing it! It looks like the fix is not backported to [release 0.7](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/release-0.7/pkg/cloud/services/eks/nodegroup.go#L411). Should I create a separate issue to track this?

[2021-10-06 07:44] randomvariable opened #2826 "Follow up on conversion-gen issues in Kubernetes"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

During the implementation of #2820 , conversion-gen was unable to handle the case where EKS API types were importing types from `/api`. This led to "Duplicate Static Conversion" errors being reported, which if a developer tries to resolve by deleting one of the conversions leads to a

[2021-10-06 08:42] richardcase commented on #2826
/triage accepted

[2021-10-06 08:43] richardcase commented on #2816
/triage accepted

[2021-10-06 09:58] sbueringer commented on #2826
I think we had something very similar with the internal types of the kubeadm bootstrap provider as the new v1beta1 package had a conflict with the internal v1beta1 package.

In that case the internal packages were renamed to `upstreamv1beta1`. But it sounds like that's not an option for CAPA.

(/cc @vincepri)

[2021-10-06 10:24] enxebre opened #2827 "Controller managers should use "leases" for leader-election-resource-lock"
/kind bug

**What steps did you take and what happened:**
Run Cluster API.
See controller managers use "configmapsleases" for leader-election-resource-lock.

**What did you expect to happen:**
Controller managers use "leases" as for leader-election-resource-lock. This mitigates overwhelming the apiserver in a large management cluster and avoid additional rbac.

**Anything else you would like to ad

[2021-10-06 11:18] randomvariable commented on #2794
We probably should discuss in next office hours.

[2021-10-06 11:19] randomvariable commented on #2795
/close

[2021-10-06 13:55] randomvariable commented on #2771
Sorry, I misread this. This is indeed a missing feature.

/priority critical-urgent

[2021-10-06 13:56] randomvariable opened #2828 "[e2e] clusterctl upgrade testing for EKS"
/kind feature

**Describe the solution you'd like**
Enable e2e clusterctl upgrade testing for v1alpha4 --> v1beta1 upgrades.

This is not currently possible because the spec requires the locally compiled e2e image to be prestaged on the node, see https://github.com/kubernetes-sigs/cluster-api/pull/5395 for details.

EKS Bootstrap Config doesn't currently allow the user to set commands that should

[2021-10-06 13:56] randomvariable commented on #2828
/triage accepted

[2021-10-06 14:22] #2827 closed

[2021-10-06 16:26] randomvariable opened #2829 "Update README.md and other documentation with v1beta1"
/kind documentation

Need to update docs

[2021-10-06 17:03] shivi28 commented on #2829
/assign @shivi28

[2021-10-06 18:44] #2801 closed

[2021-10-07 11:31] randomvariable opened #2834 "When leader election is disabled controllers fail to start conversion webhooks when upgrading from v1alpha3 to v1beta1"
/kind bug
/kind release-blocking
/priority critical-urgent
/area api
/milestone v1.0.0

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Tracking issue for something we're debugging in https://kubernetes.slack.com/archives/C8TSNPY4T/p1633553853231000  as part of #2833

**What did you expect to happen:**

**Anything else you would like to add:**

[2021-10-07 11:31] randomvariable commented on #2834
/triage accepted

[2021-10-07 11:32] randomvariable commented on #2834
/lifecycle active
/assign
/assign @sbueringer
/assign @fabriziopandini

[2021-10-08 12:23] vibhorrawat commented on #2029
@richardcase question, does the [Set up AWS Environment](https://cluster-api-aws.sigs.k8s.io/development/development.html#setup-aws-environment) requires a separate aws account provided by CNCF or I can configure mine? I did not understand the suggested steps in documentation. Apologies for that. May be I lack the context of how `clusterawsadm` deploys the infrastructure on AWS.

Besides, for the

[2021-10-08 13:22] richardcase commented on #2691
As discussed on slack this will be available in 1.0.0.

[2021-10-08 13:42] #2829 closed

[2021-10-08 16:57] richardcase opened #2835 "Release note generation issue"
/kind bug

**What steps did you take and what happened:**
With the latest version of `release-notes` there is a subtle change in the release notes that are generated. If `NONE` is used then the change won't be included in the generated release notes (whereas before it included the PR).

Change the release process so that it includes all the changes.

**What did you expect to happen:**
I expect all

[2021-10-08 20:45] scottslowe opened #2836 "Documentation on external AWS cloud provider and EBS CSI driver is incorrect"
/kind bug

**What steps did you take and what happened:**
I went to https://cluster-api-aws.sigs.k8s.io/topics/external-cloud-provider-with-ebs-csi-driver.html to get information on using the external cloud provider and EBS CSI driver. I noted three problems:

1. The paragraph references assigning labels to the `AWSCluster` object, when they need to be assigned to the `Cluster` object.
2. The link

[2021-10-08 21:39] richardcase commented on #2836
/triage accepted

[2021-10-11 04:29] akash-gautam commented on #2574
@richardcase This is the approach I am thinking of for this task, please let me know your thoughts on this.
1. Add a pre-deletion (autoscaling:EC2_INSTANCE_TERMINATING) lifecycle hook to the ASG created for the machine pool. The hook will have a timeout of 10 mins which will prevent immediate termination of the instance in case of a scale-in event.
2. The machine pool controller watches the [Lifec

[2021-10-11 18:34] warroyo opened #2840 "Additional Tags do not reconcile on bastion"
/kind bug

**What steps did you take and what happened:**
when updating the `AWSCluster.spec.additionalTags` field tags are reconciled on all instances except for the bastion host.

**What did you expect to happen:**
updating tags in the spec should also reconcile on the bastion host

**Environment:**

- Cluster-api-provider-aws version: v0.6.4
- Kubernetes version: (use `kubectl version`): v1.20.

[2021-10-12 20:46] dlipovetsky opened #2844 "Make API Server classic load balancer Idle Timeout configurable by the user"
/kind feature

**Describe the solution you'd like**
The default idle timeout is 60s. In #516, we increased it to 10m. As a cluster admin, I may want to increase the timeout even more, e.g., to 60m.

**Anything else you would like to add:**
The Network Load Balancer (NLB) does not have an idle timeout, but it was not a viable alternative last time we looked, which was in 2018 (https://github.com/ku

[2021-10-13 04:59] richardcase commented on #2316
/lifecycle frozen

[2021-10-13 05:00] richardcase commented on #2844
/triage accepted

[2021-10-13 06:56] richardcase opened #2845 "Regression of max resync for EKS"
/kind regression
/area provider/eks
/priority critical-urgent

**Describe the solution you'd like**
When EKS was graduated the [check for the max resync period](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/release-0.6/controlplane/eks/main.go#L132:L135) wasn't added. We need to include this as it will potentially cause `token expired`  issues with anything that relies on the ku

[2021-10-13 06:57] richardcase commented on #2845
/triage accepted

[2021-10-13 21:52] sedefsavas commented on #2840
/good-first-issue

[2021-10-13 21:53] sedefsavas commented on #2836
/assign @scottslowe

[2021-10-14 05:03] richardcase commented on #2574
With 2. this may be problematic as the default sync-period is 10 mins, so the scale-out event may happen immediately after the last resync and then timeout before the next one.

What do you think to using the lifecycle events that get submitted to EventBridge to make it more event driven? So if we see an event do the eviction and then [CompleteLifecyclAction](https://docs.aws.amazon.com/sdk-for-go

[2021-10-14 05:15] richardcase commented on #1484
/lifecycle frozen

[2021-10-14 07:25] AverageMarcus opened #2849 "Support multiple endpoints for API (private + internet-facing)"
/kind feature

**Describe the solution you'd like**

The current implementation of CAPA when using non-managed clusters only allows for the creation of either a private ELB or an internet-facing ELB for the Kubernetes API.

In contrast to this, when creating managed clusters it's possible to create both private and internet-facing endpoints (as this is a feature of EKS).

We'd like the ability to

[2021-10-15 10:33] richardcase opened #2853 "Support additional EKS config options"
/kind feature
/area provider/eks

**Describe the solution you'd like**
At present we only expose the `--kubelet-extra-args` argument to EKS bootstrap.sh via the [EKSConfig](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/bootstrap/eks/api/v1beta1/eksconfig_types.go#L28). We should expose the additional bootstrap options.

**Anything else you would like to add:**
As an example

[2021-10-15 16:32] richardchen331 opened #2855 "AWSServiceAccountIdentity support"
/kind feature

**Describe the solution you'd like**
Implement `AWSServiceAccountIdentity` described in [the Single Controller Multitenancy proposal](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/ab3afdef21ab208a780810034f615fe0b48a6c1a/docs/proposal/20200506-single-controller-multitenancy.md) so that CAPA controller can assume roles using service account.

**Anything else you wo

[2021-10-15 17:22] richardcase commented on #2855
/triage accepted
/area security
/help
/priority important-soon

[2021-10-16 19:11] amustaque97 commented on #2840
/assign

[2021-10-17 10:27] richardcase commented on #2582
/lifecycle frozen

[2021-10-18 14:07] #2836 closed, assigned to scottslowe

[2021-10-18 16:58] sedefsavas commented on #2420
/triage accepted

[2021-10-18 17:28] dlipovetsky commented on #2849
In today's CAPA meeting, @randomvariable mention that for this to be usable, CAPI needs to support multiple cluster endpoints (https://github.com/kubernetes-sigs/cluster-api/issues/5295). Does that sound right to you, @AverageMarcus?

[2021-10-18 19:03] randomvariable opened #2857 "Tighten AutoScalingGroup lookups using tags"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

The [autoscaling API now supports lookups by tag](https://github.com/aws/aws-sdk-go/blob/main/CHANGELOG.md#release-v1413-2021-10-14), so the AWS MachinePool controller could be made more robust by only matching tagged ASGs, using the same rules as the other services.

**Anything else

[2021-10-18 19:05] dlipovetsky opened #2858 "Document how to maintain the cluster templates included as assets in every release"
Today, we store _hand-written_ cluster templates in the `templates` directory.

When we release, we execute the `release` make goal. This goal, in turn, executes the `release-templates` goal, which adds all the templates in the `templates` directory to the release artifacts.

Because the templates are hand-written, not generated, they may be out-of-date in some ways. For example, a template added

[2021-10-18 19:08] dlipovetsky commented on #2858
To start, we could document, e.g., in `templates/README.md`, what to manually update as part of a release.

For example, to update he AWS CCM and EBS CSI plugin images.

[2021-10-20 13:11] randomvariable commented on #2598
/close

[2021-10-20 15:27] jimmidyson opened #2859 "Panic in controller manager"
/kind bug

**What steps did you take and what happened:**
I was playing around to see what would happen if I created two EKS clusters with the same name in separate bootstrap clusters (which obviously doesn't work due to https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/969). When creating the second cluster in the second bootstrap cluster, the CAPA controller manager panicked wit

[2021-10-20 15:42] joejulian commented on #2859
I was seeing these panics as well, but I was not creating duplicate named clusters. The panic seems to come from the client being unset https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/pkg/cloud/services/awsnode/cni.go#L189.

This appears to me to be caused by an unchecked error occurred in NewService: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/pkg/c

[2021-10-20 16:49] randomvariable commented on #2859
/provider eks

[2021-10-20 18:50] randomvariable commented on #2767
/priority critical-urgent

[2021-10-20 20:20] randomvariable commented on #2471
This is fixed I think
/close

[2021-10-20 20:21] randomvariable commented on #2858
/triage accepted

[2021-10-21 03:46] shivi28 commented on #2857
/lifecycle active

[2021-10-21 06:37] Jacobious52 commented on #2385
👋 We also encountered this issue evaluated aws managed machine pools.
The work around of adding the `extraStatements` works, but should this be added to `clusterawsadm bootstrap iam`? If not I can submit a PR to update the docs about adding the `extraStatements` for EKS managed machine pools

[2021-10-21 08:20] Ankitasw commented on #2797
@voor We tried to reproduce it locally with the tests, even changed the order of subnets in output of AWS APIs but couldn't get the above mentioned results.
We would need more examples of the resources which shows this behavior to understand the issue more. At-least what we understand from the code, the ordering is not altered. You can probably omit the sensitive details from the resources and giv

[2021-10-21 10:32] #2466 closed

[2021-10-21 12:28] Jacobious52 commented on #2029
@richardcase - Thanks for pointing me in the right direction, I found https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/7c7ebfe7e2256a092caa8df1481a838feee35836/bootstrap/eks/controllers/eksconfig_controller.go#L309 and that the reason it wasn't reconciling for me was I referenced an `EKSConfigTemplate` like in the `MachineDeployment` flavour, instead of a concrete `EKSConfig`. When

[2021-10-21 12:33] vibhorrawat opened #2863 "Correct the URL for Flavor(s) in Machine Pool Topic Page in Cluster API AWS Book"
/kind documentation

**What steps did you take and what happened:**

The hyperlinked URL for word [Flavor](https://cluster-api.sigs.k8s.io/clusterctl/commands/config-cluster.html#flavors) across [Machine Pools](https://cluster-api-aws.sigs.k8s.io/topics/machinepools.html) page is broken and leads to HTTP 404 error code.

Source File-
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob

[2021-10-21 15:51] richardcase opened #2865 "[e2e] Add `AWSMachinePool` to the EKS e2e test"
/kind feature
/area provider/eks
/area testing
/priority important-soon
/help

**Describe the solution you'd like**
Currently the EKS e2e tests do not test the `AWSMachinePool`. We need to add a test to ensure there are no regressions in this area.

**Anything else you would like to add:**
Suggestion is to add a new step in the tests which will add a AWSManagedMachinePool.

**Environment:**

- Clu

[2021-10-21 15:52] richardcase commented on #2865
/triage accepted
/milestone v1.1.0

[2021-10-21 16:41] #2189 closed

[2021-10-22 12:54] randomvariable opened #2868 "During KCP rollout, etcd churn can prevent renewal of the bootstrap token causing KCP node registration to fail"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Deploy a 3-node CP cluster using CAPV with kube-vip using PhotonOS (for some reason, it's more likely to occur here) and then set kcp.spec.upgradeAfter to trigger a rollout.

Due to a mixture of https://github.com/kube-vip/kube-vip/issues/214 and the fact we haven't yet implemented etcd

[2021-10-22 12:54] #2868 closed, assigned to nobody

[2021-10-22 22:13] andrewrynhard opened #2869 "Ability to add machines to clusters based on a different infra provider"
/kind feature

**Describe the solution you'd like**

As a user I would like to manage AWS instances with `cluster-api-provider-aws`, but join them to a control plane that is not in AWS. The idea is that I can use Sidero for bare metal, and then burst out to AWS when I need to.

**Anything else you would like to add:**

I want to create a `MachineDeployment` using `cluster-api-provider-aws` , and h

[2021-10-24 09:20] shivi28 opened #2872 "Availability zone missing in AWSMachinePool template"
/kind bug

**What steps did you take and what happened:**

When I try to create the workload cluster using `cluster-template-machinepool.yaml` and replace `"${AWS_REGION}"` variable under `availabilityZones ` in [cluster-template-machinepool.yaml](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/templates/cluster-template-machinepool.yaml#L97), then on applying this yaml it gi

[2021-10-25 00:03] #2367 closed

[2021-10-26 19:08] sedefsavas opened #2880 "AWSClusterControllerIdentity panics when AllowedNamespaces is nil"
/kind bug

**What steps did you take and what happened:**
Creating AWSClusterControllerIdentity with
[code]

and then updating the namespaces like this
[code]
panics due to missing nil check here: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/986262a0bac2448116779f237a3615f7a367e864/api/v1beta1/awsclustercontrolleridentity_webhook.go#L91

**What did you expect to happen:**

**An

[2021-10-26 19:35] #2859 closed, assigned to sedefsavas

[2021-10-26 22:27] richardchen331 opened #2881 "EKS: Support tagging node group's underlying ASG"
/kind feature

**Describe the solution you'd like**
There is an [open issue](https://github.com/aws/containers-roadmap/issues/1541) on EKS where EKS doesn’t support tagging the underlying ASGs, however it’s quite important for many organizations for compliance, cost. It would be great to add such support in CAPA, where user can specify an optional `AdditionalAsgTags` field in `AWSManagedMachinePoo

[2021-10-27 04:47] sedefsavas opened #2886 "Create e2e jobs for release-0.7 branch"
/kind feature
Main branch tests v1.x.x (i.e., v1beta1) release.
We need to setup e2e tests for v1alpha4 release as well.

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2021-10-27 05:39] #2880 closed, assigned to zhengtianbao

[2021-10-27 06:08] sedefsavas opened #2888 "Audit APIs to follow conventions"
/kind cleanup

Following the conventions added to cluster-api repo, audit CAPA API.
For example, we have fields that have omitempty but not optional marker.

xref: kubernetes-sigs/cluster-api#5304

/help
/priority backlog
/milestone v1.x

[2021-10-27 12:24] vibhorrawat opened #2890 "Correct the URL on page 'Developing Cluster API Provider AWS with Tilt' in API Book"
/kind documentation

**What steps did you take and what happened:**

The hyperlinked URL for phrase `Cluster API documentation on Tilt` on page [Developing Cluster API Provider AWS with Tilt](https://cluster-api-aws.sigs.k8s.io/development/tilt-setup.html) is broken and leads to HTTP 404 error code.

Source File-
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/docs/book/src/d

[2021-10-28 07:26] Jacobious52 opened #2891 "Add support for EKS to set ServiceIpv4Cidr on cluster creation."
/kind feature

**Describe the solution you'd like**

Add support for EKS to set ServiceIpv4Cidr on cluster creation.

Using `AWSManagedControlPlane` for an EKS cluster, `KubernetesNetworkConfigRequest` is not passed to the cluster creation request. Setting the `ServiceIpv4Cidr` on an EKS cluster is currently not possible with CAPA. https://docs.aws.amazon.com/eks/latest/APIReference/API_Kubernetes

[2021-10-29 03:35] Jacobious52 opened #2893 "AWSManagedMachinePool controller panics updating labels"
/kind bug

**What steps did you take and what happened:**

Create a AWSManagedMachinePool with no labels:

[code]

Update the labels on the machine pool:

[code]

AWSManagedMachinePool Controller panics. See logs below.

This seems to block MachinePool scale up as well.

**What did you expect to happen:**

Labels on to update. Machine to scale up. Don't Panic.

**Anything else you would like to ad

[2021-10-30 11:00] #2462 closed

[2021-10-30 16:14] richardcase commented on #2540
/lifecycle frozen

[2021-11-01 13:05] #2872 closed

[2021-11-01 14:43] sedefsavas opened #2899 "Automate release via GH Action"
/kind feature

**Describe the solution you'd like**
Automate release process with Github Action that generates and uploads all the artifacts and release notes when a tag is created.

**Anything else you would like to add:**
Example: https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1569 and https://github.com/kubernetes-sigs/cluster-api/pull/5188

**Environment:**

- Cluster-api

[2021-11-01 14:43] sedefsavas commented on #2899
/triage accepted
/priority backlog
/assign

[2021-11-01 16:53] voor opened #2902 "Bring your own DNS for Control Plane API Load Balancer"
/kind feature

**Describe the solution you'd like**
Currently CAPA will always use the DNS name for the ELB that it gets from AWS, this results in having a cluster named `bob` you will probably get a DNS name of `bob-cluster-apiserver-12345678.${AWS_REGION}.elb.amazonaws.com`.  This can be problematic for a couple reasons:
- If you are to delete the ELB you are actually in a completely unrecoverab

[2021-11-01 17:16] voor commented on #2902
Wondering if using this in conjunction with https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2787 might help since the clusters with the vanity URL would have an empty `name`. :shrug:

[2021-11-01 17:41] sedefsavas commented on #2420
/assign @randomvariable

[2021-11-01 17:42] sedefsavas commented on #2420
Reminder:
Create issue for dual-stack
and replicate this for EKS

[2021-11-01 17:42] sedefsavas commented on #2420
/priority important-soon

[2021-11-01 17:43] sedefsavas commented on #1187
/close

[2021-11-01 17:43] #1187 closed

[2021-11-01 17:45] sedefsavas commented on #2225
/unassign @randomvariable
Anyone interested in doing this can ask @randomvariable for help.
/priority important-soon

[2021-11-01 17:47] sedefsavas commented on #1698
/triage accepted

[2021-11-01 17:49] sedefsavas commented on #1698
/unassign @bagnaram

If you are working on this, feel free to assign it back to yourself.

[2021-11-01 17:50] sedefsavas commented on #1718
Closing in favor of https://github.com/kubernetes-sigs/cluster-api/issues/3075

[2021-11-01 17:51] dlipovetsky commented on #1698
With https://github.com/kubernetes-sigs/cluster-api/pull/3066/ merged in cluster-api, this use case is now possible, although it is not a CAPA default. To use a separate volume for etcd:

1. Configure the additional volume in the AWSMachine (or AWSMachineTemplate used to create it) resource.
2. Configure a mount of the volume in the  KubeadmConfig resource.

[2021-11-01 17:51] randomvariable commented on #1711
/triage accepted

[2021-11-01 17:53] sedefsavas commented on #1484
/triage accepted

[2021-11-01 17:54] sedefsavas commented on #1885
Closing in favor of Cluster API Informing kube-reserved and system-reserved kubernetes-sigs/cluster-api#5392

[2021-11-01 17:54] #1885 closed

[2021-11-01 17:54] sedefsavas commented on #1888
/triage accepted

[2021-11-01 17:56] sedefsavas commented on #2355
/triage accepted

[2021-11-01 17:59] sedefsavas commented on #2464
/triage accepted

[2021-11-01 18:19] sedefsavas commented on #2464
@shivi28
Let's keep the subnets in the documentation only. This issue is created because we had no correct example on defining subnets in MachinePools.

[2021-11-01 18:19] sedefsavas commented on #2464
/priority backlog

[2021-11-01 18:20] sedefsavas commented on #2464
I think you forgot to assign yourself.
/assign @shivi28

[2021-11-01 19:49] dlipovetsky commented on #2902
#2787 lets the user define their own ELB (and therefore their own ELB name).

I agree that another level of indirection, in the form of a user-defined DNS name for the control plane endpoint, separate from the AWS-managed ELB DNS name, is a good idea for the reasons you wrote in the description.

If only we could use deletion protection, but that's only [available for ALB](https://docs.aws.amazon.

[2021-11-02 07:39] shivi28 commented on #2464
Thanks @sedefsavas, I have updated the template and doc

[2021-11-02 10:01] randomvariable commented on #1764
/reopen

[2021-11-02 14:13] Ankitasw commented on #2886
/assign

[2021-11-02 15:53] Ankitasw commented on #2225
/assign

[2021-11-02 19:09] randomvariable opened #2905 "GPU Test is flaking"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`

[2021-11-02 19:09] randomvariable commented on #2905
/triage accepted
@Ankitasw can you take a look?

[2021-11-02 19:11] #2774 closed

[2021-11-02 21:35] #2893 closed

[2021-11-02 22:31] #2356 closed

[2021-11-02 22:32] #2863 closed

[2021-11-02 23:40] sedefsavas commented on #2886
Yes, cluster-api-provider-aws-presubmits.yaml should have main branch instead.

[2021-11-02 23:49] sedefsavas commented on #2747
@shivi28 Let's close this issue as #2888 includes this one too.

[2021-11-03 01:47] Jacobious52 opened #2908 "AWSManagedControlPlane EKS encryption config incorrectly reconciles"
/kind bug

AWSManagedControlPlane for EKS encryption config incorrectly reconciles and attempts to disable encryption config for a new cluster without any changes to the spec. This causes a new cluster to fail further reconcile steps and blocks building a new cluster with encryption config enabled.

**What steps did you take and what happened:**

- Create a new cluster with an encryption config

[

[2021-11-03 05:18] shivi28 commented on #2747
/close

[2021-11-03 05:18] #2747 closed

[2021-11-03 06:20] Ankitasw commented on #2905
/assign

[2021-11-03 07:34] shivi28 commented on #2794
/assign @shivi28

[2021-11-03 09:36] richardcase commented on #2420
This gets messy with EKS.

[2021-11-03 09:38] Ankitasw commented on #2905
@randomvariable looks good on local runs, but if job completion is taking time because of gpu operators and drivers takes a bit to come up, we can increase the job-wait interval. Sounds good?

[2021-11-03 10:35] randomvariable commented on #2420
Support should be fixed in Cluster API, not by shoving lots of non-standard behaviour into CAPA - consistency across providers is paramount. We need to break this down. Please start a doc, we have a team at VMware looking into dual-stack in general who can assist.

[2021-11-03 13:04] richardcase commented on #2420
@randomvariable  - started a [doc](https://docs.google.com/document/d/1-J3whrf2ewOJ22G3ETZYOAh6zysTf37ecCtttmggzlM/edit?usp=sharing)

[2021-11-03 20:22] sedefsavas opened #2910 "Increase unit test coverage"
This issue is to track improving our current unit-test coverage which is as follows:

<img width="506" alt="Screen Shot 2021-11-03 at 1 08 31 PM" src="https://user-images.githubusercontent.com/58447606/140185726-d157cc8c-3614-4709-9d0e-fd0fd1b99211.png">

[Prow link](https://storage.googleapis.com/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-coverage/1455632468185976832/artifacts/cove

[2021-11-03 20:22] sedefsavas commented on #2910
/triage accepted
/priority important-long-term

[2021-11-03 22:53] randomvariable commented on #2636
@erockwood Following up on this, I'm guessing approval has been difficult. We can pick this up if you want.

/lifecycle frozen
/priority important-soon
/milestone v1.1

[2021-11-03 22:53] randomvariable commented on #2636
/milestone v1.1.0

[2021-11-04 06:44] Jacobious52 opened #2911 "AWSManagedControlPlane can only install one EKS Addon at a time"
/kind bug

It looks like the Add-on manager has a bug where it will only install the last add-on you specific in the config spec of a AWSManagedControlPlane. This means you cannot use more than one EKS Addon at a time currently.

**What steps did you take and what happened:**

- Create an AWSManagedControlPlane plan with all 3 EKS addons
[code]
- Wait for reconcile. Check EKS console for add ons
<

[2021-11-04 07:54] richardcase opened #2912 "Fix the `AWS.SimpleQueueService.NonExistentQueue` errors"
/kind bug
/help

**What steps did you take and what happened:**

When looking at the logs for e2e test runs, there are a lot of errors like this:

[code]

[Source log file](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-aws/2871/pull-cluster-api-provider-aws-e2e/1455958494833283072/artifacts/clusters/bootstrap/controllers/capa-controller-manager

[2021-11-04 07:57] richardcase commented on #2911
Thanks @Jacobious52. Yeah i think you are right this is probably a loop bug.....may a implicit memory aliasing in a loop bug.

[2021-11-04 07:57] richardcase commented on #2911
/triage accepted