[2022-09-23 17:52] #3742 closed

[2022-09-27 10:29] #3528 closed

[2022-09-27 10:29] #3530 closed

[2022-09-27 18:19] cnmcavoy opened #3756 "Enhance cloud-init to use the data-format and add missing capabilities for parity w/CAPI"
/kind feature

The EKSConfigTemplate currently uses a [bash-style cloud-init user data](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/bootstrap/eks/internal/userdata/node.go#L28). However, [cloud-init supports several user data formats](https://cloudinit.readthedocs.io/en/latest/topics/format.html), including a YAML-based document which has exposes more capabilities than ca

[2022-09-27 18:19] cnmcavoy commented on #3756
/triage accepted

[2022-09-28 10:49] richardcase commented on #3756
/triage accepted

[2022-09-28 16:25] flxw commented on #3325
@sedefsavas - I saw that your name is on most of the releases. Could you kindly give me context on how those are authored? I couldn't find a Github Actions workflow that created the release, so I am assuming it's manual?
My idea is to add a step for SBOM generation and upload into the Sigstore infrastructure into the release process.
Looking forward to your answer!

[2022-09-28 16:41] pacharya-pf9 commented on #3718
@Ankitasw I looked through the changes in https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3743 but can you elaborate a bit more on how that fixes this issue?

[2022-09-28 17:02] Ankitasw commented on #3718
I have not followed this issue.
cc @richcase

[2022-09-28 18:01] zlangbert opened #3760 "`AWSFargateProfiles` missed by `clusterctl move`"
/kind bug

**What steps did you take and what happened:**
When attempting to pivot from a local bootstrap cluster to a management cluster in EKS, `clusterctl move` does not move `AWSFargateProfiles` for the managed clusters.

This can be reproduced by attempting to `clusterctl move` any managed EKS cluster with an associated `AWSFargateProfile` to a new management cluster.

Reconciliation does not

[2022-09-28 21:21] richardcase commented on #3325
@flxw  - we follow these steps when doing a release: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/docs/book/src/development/releasing.md

So manual with some automation.

[2022-09-29 10:19] Skarlso commented on #3760
/triage accepted

[2022-10-03 16:27] sedefsavas commented on #2355
This might need API change as well:
https://github.com/kubernetes-sigs/cluster-api/pull/6412
cc @dlipovetsky

[2022-10-03 16:29] sedefsavas commented on #2316
Related to https://github.com/kubernetes-sigs/cluster-api/pull/6272

[2022-10-04 08:10] Ankitasw commented on #3718
/reopen

[2022-10-06 09:47] codablock commented on #3066
Fyi, https://github.com/kubernetes-sigs/cluster-api/pull/7356 should fix the delay of multiple minutes until capi-controller is functioning properly again

[2022-10-07 09:13] nikimanoledaki commented on #3649
I agree with @Skarlso that services other than EC2 instances tend to be the costliest and should be accounted for, especially NAT Gateways, which are usually created by default for all public EKS clusters.

Note also that the Price List API only supports the following 2 regions. This should be okay for a rough estimate.
[code]

[2022-10-07 09:23] bigkevmcd commented on #3649
@nikimanoledaki I'm not sure that's as true as you think it is...

![image](https://user-images.githubusercontent.com/867746/194520659-cd7dbe3a-aa46-43a8-ad84-a459612b2262.png)

[2022-10-07 09:28] nikimanoledaki commented on #3649
I may be wrong but they are the only regions that I could access info for through the API.

For example, for `eu-north-1`:
[code]

[2022-10-07 09:48] Skarlso commented on #3649
@bigkevmcd Do you have a picture of the NAT gateways prices in there / networking? I would be really interested for a comparison.

[2022-10-07 09:48] bigkevmcd commented on #3649
[code]

[2022-10-07 09:49] bigkevmcd commented on #3649
@Skarlso Not quite sure what you're looking for here?

[2022-10-07 09:51] Skarlso commented on #3649
The price on the networking side. If you don't have NAT gateways, we don't have a comparison. :)

What I saw is that EC2 instances can be at a really low price, meanwhile, networking and NAT gateways ramp up a lot.

[2022-10-07 09:52] bigkevmcd commented on #3649
@Skarlso That's coming from the AWS calculator? https://calculator.aws?

[2022-10-07 09:52] Skarlso commented on #3649
Oh, sorry, I thought they are actual values. :/

[2022-10-07 09:57] nikimanoledaki commented on #3649
@bigkevmcd ah great, `Field=regionCode,Value=eu-west-1` provides the per region capability. Thanks for clarifying this 😄

[2022-10-10 10:03] richardcase commented on #1711
/remove-lifecycle stale

[2022-10-10 10:03] richardcase commented on #1335
/remove-lifecycle stale

[2022-10-10 10:03] richardcase commented on #1166
/remove-lifecycle stale

[2022-10-10 10:05] richardcase commented on #931
/remove-lifecycle stale

[2022-10-10 10:05] richardcase commented on #3553
/remove-lifecycle stale

[2022-10-10 10:05] richardcase commented on #2949
/remove-lifecycle stale

[2022-10-10 10:06] richardcase commented on #2991
/remove-lifecycle stale

[2022-10-10 10:08] richardcase commented on #3066
/remove-lifecycle stale

[2022-10-10 14:49] richardcase commented on #3584
We need this, so:

/remove-lifecycle stale

[2022-10-10 15:38] richardcase commented on #1642
@Skarlso - i think we can handle this by requeing....although this has the added downside of increasing API calls. A good topic for discussion at office hours?

[2022-10-10 15:40] Skarlso commented on #1642
Certainly a good topic indeed. 👍

[2022-10-10 16:06] richardcase commented on #1888
/remove-lifecycle stale

[2022-10-10 16:07] richardcase commented on #2173
/remove-lifecycle stale

[2022-10-10 18:17] AverageMarcus commented on #2849
/remove-lifecycle stale

[2022-10-11 10:45] richardcase commented on #2869
/triage accepted
/priority important-longterm

[2022-10-11 18:11] luthermonson opened #3768 "Nil Pointer Panic in AWSManagedControlPlane Webhook"
/kind bug

**What steps did you take and what happened:**
got this stack trace on a test recently, just want to document it with an issue and I'll make an `aws.StringValue` on [this](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/controlplane/eks/api/v1beta2/awsmanagedcontrolplane_webhook.go#L240) to make it safer.

[code]

**What did you expect to happen:**

**Anything else

[2022-10-11 18:12] Skarlso commented on #3768
/triage accepted

[2022-10-11 18:12] Skarlso commented on #3768
Nice find. :)

[2022-10-11 19:01] Skarlso commented on #2022
I have to read this whole discussion, but is it possible that we just disable certain AWS ASG processes with this PR: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3741?

It would allow to cluster-autoscaler just do its thing?

[2022-10-12 06:36] Skarlso opened #3770 "[E2E Test] Write an e2e test for Suspend and Resume processes"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

A new feature was introduced in this pr: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3741

This is a follow-up ticket to develop a potential e2e test for this scenario.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solvin

[2022-10-12 06:36] Skarlso commented on #3770
/triage accepted

[2022-10-12 07:51] #3712 closed

[2022-10-12 08:37] #3434 closed

[2022-10-12 10:25] Skarlso commented on #3152
/remove-lifecycle rotten

Okay, so now that we conform more with CAPI and use proper logging formats and initiation, I think we can refactor some internal things and have a unified logging interface. Whether that's just a bunch of `const`-ants like:
[code]

or a complete interface like using `Debug` instead of `V(logLevelDebug)` is for us to decide. :)

[2022-10-12 14:04] richardcase commented on #3152
I like the idea of `Debug()` instead of `V(logLevelDebug)` personally.

[2022-10-12 14:12] Skarlso commented on #3152
I second that.

[2022-10-12 14:20] dthorsen commented on #2022
@AverageMarcus I propose we leave this issue open until the required annotation PRs are merged. I have closed my other PR: kubernetes-sigs/cluster-api#5685

[2022-10-12 15:03] #3698 closed

[2022-10-12 15:04] richardcase commented on #3734
/triage accepted
/priority important-soon
/assign luthermonson

[2022-10-13 07:25] Skarlso commented on #3152
/assign

[2022-10-13 07:33] #3734 closed

[2022-10-14 16:06] richardcase commented on #3447
/assign harveyxia
/lifecycle active

[2022-10-14 19:33] #3447 closed

[2022-10-17 16:21] richardcase commented on #3744
From triage:

- We should consider moving to v2 globally
- And having an option to disable completely

/triage accepted
/priority important-soon

[2022-10-17 16:23] richardcase commented on #3729
/triage accepted

[2022-10-17 16:26] richardcase commented on #3721
/triage needs-information

[2022-10-17 16:26] richardcase commented on #3721
@Skarlso

[2022-10-17 16:34] richardcase commented on #3718
From triage:

- We need to get a repo to see whats going on
- We need to check retries with the machine reconcilers

/triage needs-information

[2022-10-17 22:49] dlipovetsky opened #3778 "Resources should define a `.status.observedGeneration` field, and controllers should update its value"
/kind feature

**Describe the solution you'd like**
I update the `.spec` of a custom resource whose `.status` is written by a CAPA controller. For example, the `AWSManagedControlPlane` resource.

I expect the controller to set the `.status.observedGeneration` field when the controller reconciles the resource.

I need to compare `.status.observedGeneration` with `.metadata.generation` to know wheth

[2022-10-18 06:56] Skarlso commented on #3778
/triage accepted

Under what circumstances are these fields checked? Before applying an update, for example?

[2022-10-18 07:21] Skarlso commented on #3721
/assign

[2022-10-18 19:12] Skarlso commented on #3778
Gotcha, thanks. That's a good example. :)

[2022-10-18 21:42] kacole2 opened #3782 "NVIDIA Container Toolkit Daemonset Fails with ImagePullBackOff"
/kind bug

**What steps did you take and what happened:**
I am attempting to install the NVIDIA GPU Components following `kubectl apply -f clusterpolicy-crd.yaml` and `kubectl apply -f gpu-operator-components.yaml`. The `nvidia-container-toolkit-daemonset` pod is failing with `Init:ImagePullBackOff`. That will then make the `nvidia-driver-daemonset` fail with `CrashLoopBackOff`. Does this have any

[2022-10-19 09:23] Skarlso commented on #3088
/assign

[2022-10-19 10:05] #3729 closed

[2022-10-19 20:34] tasdikrahman commented on #3198
apologies for being inactive on the PR, please feel free to pick this issue up again.

[2022-10-20 05:34] Skarlso commented on #3088
Hello all.

So I read through this issue finally. :)

What is the consensus here? Do we just disable IP address preservation, or do we do a similar workaround as Azure did?

@sedefsavas do you have anything on this by any chance? It's okay if not, I'm just gathering as much information as I can. :)

[2022-10-20 11:18] davidstauffer opened #3789 "Allow configuration of API endpoints to target AWS gov cloud"
/kind feature

**Describe the solution you'd like**
As a User, I want to change as a config the AWS endpoints that CAPA is using, so that I can use private regions of AWS like secret regions of the AWS cloud.

We want to use CAPA in a private AWS region, therefore we would like the capability to edit the endpoints that CAPA is targeting.

**Anything else you would like to add:**

**Environment:**

[2022-10-20 11:18] richardcase commented on #3789
/triage accepted

[2022-10-20 11:19] richardcase commented on #3789
/priority important-longterm
/help

[2022-10-20 11:20] Skarlso commented on #3789
Part of https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3711

[2022-10-20 13:08] voor commented on #3088
This comment:

I'm not sure how much of a downside this is, are you implying that when an EC2 instance gets rebooted it might get assigned a new IP Address? That seems like an edge case that might be worth further analysis.  However, when new machines are rolled out they need to be added to the target groups *anyway* -- regardless of ELB or NLB -- and so I don't consider that scenario a "new probl

[2022-10-20 13:16] richardcase commented on #3789
We will need to check the "partition" within the code and iam for any assumptions on `aws`

[2022-10-20 15:47] Ankitasw commented on #3782
We have an E2E test running with the current changes for GPU instances in CAPA clusters, if there was an issue, [that](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-e2e/1582962761116160000) test would fail.

[2022-10-20 15:57] pydctw commented on #3531
It's done and now CAPA is using controller-tools v0.10.0

[2022-10-20 15:57] #3531 closed

[2022-10-20 17:56] Ankitasw commented on #3768
/assign @luthermonson

[2022-10-20 18:26] carlosonunez-vmw commented on #3088
If the NLB target type for each instance is by instance-id, then this seems like a non-issue?

[2022-10-20 19:01] voor commented on #3088
It looks like Amazon has provided better clarity on this, and if you turn off `Preserve client IP addresses` you can have loopback without using IP Addresses explicitly, this however would mean that the API server would always see the NLB's IP Address even for external users, which does not sound good from an audit standpoint.

Sources: https://docs.aws.amazon.com/elasticloadbalancing/latest/netwo

[2022-10-21 07:08] Skarlso commented on #3088
Yeah, we probably will have to do something like what CAPZ did.

[2022-10-21 19:29] dlipovetsky commented on #3778
Counter-argument to my proposal: Instead of defining `.status.observedGeneration` field on the resource, each Condition should define an `observedGeneration` field. This field is part of the [Conditions schema](https://github.com/kubernetes/kubernetes/pull/90454) _recommended_ by Kubernetes core.

However, Cluster API core defines its own Conditions schema. CAPA, and other infrastructure providers

[2022-10-23 17:49] Skarlso commented on #2771
I believe this will be handled by #3757

[2022-10-23 18:35] rymancl commented on #392
/remove-lifecycle stale

[2022-10-24 21:08] cnmcavoy opened #3793 "e2e tests fail with misleading error message when lacking IAM Create User permissions"
/kind bug

**What steps did you take and what happened:**
When running the end to end tests in an AWS account that lacks permissions for IAM Create User or other IAM tasks and they fail in the CloudFormation stack, the error to presented to the user misleads them to believe a timeout was reached.

For example:
[code]

However, the real issue was only visible in the AWS CloudFormation stack:
[code]

[2022-10-24 21:12] cnmcavoy opened #3794 "e2e tests fail if run once before but IAM role "control-plane.cluster-api-provider-aws.sigs.k8s.io" does not exist"
/kind bug

**What steps did you take and what happened:**
When running the end to end tests, if they fail, they can leave an AWS account partially configured. If re-run, then the end to end tests attempt to clean up the CloudFormation. However this cleanup logic explicitly errors if it fails to find and delete the CloudFormation role "control-plane.cluster-api-provider-aws.sigs.k8s.io".

**What di

[2022-10-24 23:58] richardcase commented on #2256
/remove-lifecycle stale

[2022-10-25 00:01] richardcase commented on #3507
/assign
/lifecycle active

[2022-10-25 00:02] richardcase commented on #3166
/remove-lifecycle stale

[2022-10-25 04:49] Skarlso commented on #3088
Okay so last calls. We are going to do something like CAPZ in which they edited the hosts file and added references to the lbs ip as localhost. All in favour say yay all against say nay.

[2022-10-25 05:25] carlosonunez commented on #3088
yayOn Oct 24, 2022, at 23:49, Gergely Brautigam ***@***.***> wrote:﻿
Okay so last calls. We are going to do something like CAPZ in which they edited the hosts file and added references to the lbs ip as localhost. All in favour say yay all against say nay.

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-10-25 06:03] johannesfrey commented on #3088
Just a naive question. Does this affect the kubelet certificate in any way? E.g. that it also has to contain 127.0.0.1 instead only the node IP?

[2022-10-25 07:31] Skarlso commented on #3088
Good question. I don't know. :) I will have to consult some documentation. I would assume so; otherwise, the call to localhost might fail with a certificate issue. But also, the call to localhost does not usually require a certificate.

[2022-10-25 07:31] Skarlso commented on #3088
Certainly. :) That was my intention.

[2022-10-25 07:36] Skarlso commented on #3088
Yeah, since we will add 127.0.0.1 which is the loopback address, I don't think that is required to be added to the certificate. But let's make sure. :)

[2022-10-25 08:04] #3152 closed

[2022-10-25 09:55] Ankitasw commented on #3794
/assign @cnmcavoy

[2022-10-25 09:58] #3794 closed

[2022-10-25 11:49] richardcase commented on #3620
This is in progress.

/lifecycle active

[2022-10-25 14:45] richardcase commented on #3621
/lifecycle active

[2022-10-25 14:52] richardcase commented on #3507
/milestone v2.0.0

[2022-10-26 06:55] Skarlso commented on #3793
/triage accepted

[2022-10-26 06:58] Skarlso commented on #3316
/remove-lifecycle stale

[2022-10-27 08:18] #3756 closed

[2022-10-28 00:42] richardcase commented on #3793
/priority important-soon

[2022-10-28 00:43] richardcase commented on #3770
/priority important-longterm
/help

[2022-10-28 08:00] #3624 closed

[2022-10-28 11:10] #3678 closed

[2022-10-28 21:39] richardcase commented on #3325
/reopen

[2022-10-29 16:51] Skarlso commented on #3088
I started to flash this out. I'm going to try and keep it super simple at first. Let's see how that goes.

[2022-10-30 03:33] #2888 closed

[2022-10-31 13:22] hzxuzhonghu opened #3806 "Help: how is cluster created on EC2 instances"
I can find how cluster is created with EKS, but not for EC2

In AWSClusterReconciler.Reconcile I can see AWSCluster being patched, but not sure how k8s cluster is created base on it.

Appreciate if anyone can help

[2022-10-31 13:43] Skarlso commented on #3088
Hm, I'm in a bit of a pickle. I was wondering if anyone knows this, perhaps.

I have to register an instance with the NLB. ( I'm not 100% sure how much I have to do this manually, and the NLB doesn't do it. I know I could register an NLB with an ASG, but that's even more complex. )

The problem is that to register an instance, I need a specific TargetGroup. And there could be many target groups wi

[2022-10-31 13:57] Skarlso commented on #3088
Eh, for classic we also allow multiple listeners, so there are multiple ports on this thing and each port is a different target group.

And we have no idea what open ports there are on the given instance which we are trying to register.

[2022-10-31 13:59] Skarlso commented on #3088
This is a sample register call:
[code]

The port and targetgroup arn are requires. What if I registered the instance with all of them? :D

[2022-10-31 14:15] voor commented on #3088
The API Server port is typically `6443` as well.  You would add all of the control plane instances to a target group mapping 6443 to 6443 (since you are correct, the instances use host networking and therefore are accessible through 6443 on the instance as well).  This is done since the CNI is not yet available on a new k8s cluster, and you would also be in a bit of a chicken-egg situation if you

[2022-10-31 14:22] Skarlso commented on #3088
Ah, that's interesting and makes sense. However, that means that users will not be able to specify any custom listeners / target groups they want. Which might be fine?

[2022-10-31 16:32] Skarlso commented on #931
/triage accepted

[2022-10-31 16:33] Skarlso commented on #931
This is ultimately a documentation that should define how to install calico using clusterResourceSet or AddonProviders ( which will eventually deprecate ClusterResourceSet ).

[2022-10-31 16:33] dlipovetsky commented on #931
We triaged this on 10/31/2022 and decided that this should remain a documentation ticket. CAPA users are already able to use the AWS VPC CNI.

[2022-10-31 16:35] Skarlso commented on #1506
/triage accepted
/remove-lifecycle stale

[2022-10-31 16:37] Skarlso commented on #1982
/triage accepted
/remove-lifecycle stale
/life-cycle active

[2022-10-31 16:37] Skarlso commented on #1982
/lifecycle active

[2022-10-31 16:38] Skarlso commented on #1982
/priority important-soon

[2022-10-31 18:43] voor commented on #3088
So you'd determine the port by the Cluster spec, think it's under `spec.controlPlaneEndpoint.port` and that NLB would be effectively used only for the API Server.  So if the end user wanted to use 443, they would set that to be 443, or if they wanted 8080, they'd set it to 8080, etc.

The only thing exposed through these load balancers is the API Server, since etcd pooling is conducted elsewhere,

[2022-10-31 18:55] Skarlso commented on #3088
Yep, both are right. I'm doing this:

[code]

which I think is the right way around.. And then the target group is like this:

[code]

which might be the wrong way around. :D not a 100% sure. I'll know more when I test it. :)

[2022-10-31 19:01] pfcurtis opened #3810 "Deleting EC2 Cluster Hangs: The Created VPC is not Deleted"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
We created an EC2 cluster utilizing the current "clusterctl generate" command. (manifest attached). The cluster was then deleted. The current status shows
[code]
The CAPA controller manager logs show:
`I1031 18:41:16.927938       1 awscluster_controller.go:209] controller/awscluster "msg

[2022-10-31 19:03] pfcurtis commented on #3810
`apiVersion: cluster.x-k8s.io/v1beta1
kind: Cluster
metadata:
  name: gartner-group-mgmt
  namespace: default
spec:
  clusterNetwork:
    pods:
      cidrBlocks:
      - 192.168.0.0/16
  controlPlaneRef:
    apiVersion: controlplane.cluster.x-k8s.io/v1beta1
    kind: KubeadmControlPlane
    name: gartner-group-mgmt-control-plane
  infrastructureRef:
    apiVersion: infrastructure.cluster.x-k8s.io/

[2022-10-31 22:07] Skarlso commented on #3810
Hey @pfcurtis 👋 :)

So, I've seen this happening once in a while. This occurs because it takes a bit of time to get rid of the NAT gateways, or the ENIs if I remember correctly. In both cases, however, eventually, capa was able to reconcile a delete.

Though I think I waited for a LOONG time, like, more than 10 minutes.

Did you, by any chance, wait that long for the cluster to be deleted?

[2022-10-31 22:11] Skarlso commented on #3806
Hello. :)

Look for unmanaged clusters. I will write a bit more once I wake up.

It's basically using kubeadm to set things up. There are some sample yamls in the e2e folder that you can take a look at. Look for anything that doesn't have `managed` in the name.

[2022-11-01 00:58] hzxuzhonghu commented on #3806
Thanks for your clarification, will find that

[2022-11-01 08:40] richardcase commented on #2771
Yes it will. My change has stopped in favour of #3757

[2022-11-02 07:38] johannesfrey commented on #2283
Most certainly not all aspects of this issue are addressed by this, but there currently is movement in using NLBs instead of classic load balancers for control-plane machines: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3804

[2022-11-02 11:40] Skarlso commented on #3088
All right. Another question for you peeps.

In case of an NLB you can't define Security Groups. So basically, you either leave client ip preservation on and edit the security group so that it allows clients to connect to 6443, or you create a load balancer SG that allows `0.0.0.0/0` or `::/0` to connect to port 6443. This load balancer SG is then attached to the main instance, but that's basically

[2022-11-02 12:02] Skarlso commented on #3088
As a side note, generally, the consensus on the internet is that you should allow through the SG the client IP to connect to the machine. Which makes sense, I guess. I can determine the client IP of the NLB's DNS record and update the LB SG to allow a connection. That should take care of the Health Check, at the very least.

[2022-11-02 15:03] johannesfrey commented on #3088
Most probably I did not understand it correctly. So with NLBs, do you have to set the IP of the control-plane ec2 instance as **target** in the SG or the IP of the load balancer ec2 instance? The `0.0.0.0/0` you are speaking of means the **source** in the SG? Wouldn't that mean that port 6443 is completely exposed?
Do you know what happens if another SG would be created that uses a more specific s

[2022-11-02 15:31] voor commented on #3088
In my experience, the control plane EC2 instance should reside in a private subnet, so the only means that traffic can reach the EC2 instance is through the NLB that resides in a public subnet.  This remediates opening the EC2 instance security group directly to `0.0.0.0/0`.

[2022-11-02 15:53] Skarlso commented on #3088
@johannesfrey

Correct. That's why I wouldn't do that.

@voor

You still have to open 6443 to internal IPs in the same VPC. Because the NLB doesn't have security groups as the source or assign, it basically acts like any other ec2 or anything that makes requests to an instance. You can't make an NLB a source of something. You can try and detect its IP address and add that specifically, but that do

[2022-11-02 16:02] Skarlso commented on #3088
Uh, that's a good point.

[2022-11-02 16:04] Skarlso commented on #3088
Hmm, I mean, generally having multiple clusters in the same VPC will end up with that cluster be able to access other clusters on the same network sort of, right?

[2022-11-02 16:04] voor commented on #3088
Just wondering if you're over-rotating on something that shouldn't be considered a problem -- what is the concern with something going straight to the EC2 instance's port 6443?  It's not being advertised, and even if something did hit it directly it's the same security as if it went through the NLB.  There is nothing magical happening at the NLB to shape or modify that traffic, the NLB is effectiv

[2022-11-02 16:08] Skarlso commented on #3088
@voor Right. However, opening up 6443 to the world is a bit of a stretch, isn't it? :) Even if it isn't advertised. And yes, NLB is just some traffic routing magic it doesn't modify the request at all. But you still would want some amount of security regarding traffic coming to a port. You generally don't open any ports to the outside world.

[2022-11-02 16:12] Skarlso commented on #3088
BTW, on it being public. With ipv6 there are no private addresses. So this because either a moot. If you use an IPv6 VPC the port will, "technically" be open to the world anyways.

[2022-11-02 16:27] Skarlso commented on #3088
@voor  I get what you are saying, the reason I need the port opened is that right now it only has it open for a security group as a source. Which doesn't work with the NLB. But yes, since the node is in a private network, opening it to `0.0.0.0/0` _shouldn't_ be a problem, but I would like to be absolutely sure about that. :D

For example, I'm not sure / don't know if you can have control plane no

[2022-11-02 16:29] Skarlso commented on #3088
You can technically have control plane nodes in public subnets if you bring your own cluster. I'm saying _technically_ only because it's not really advised... :D

[2022-11-02 20:36] richardcase commented on #3711
Also related to this: https://github.com/kubernetes-sigs/cluster-api/issues/6520

[2022-11-03 18:43] Skarlso commented on #3088
Successfully created an NLB. Now, lots of testing remaining and making it work with IPv6. ( that shouldn't be a problem. :) )

[2022-11-03 19:23] #3128 closed

[2022-11-04 07:20] johannesfrey commented on #3088
I'm just wondering (if opening to `0.0.0.0/0` should be the default way to go here) if we still have a (configurable) way to restrict the access to the api-server for specific clients? Or is this a general "problem" of NLBs, as they don't work with SGs and the SG should rather be seen in the conjunction with the actual EC2 instance of the control-plane? If so, in addition to the client IP that sho

[2022-11-04 07:25] Skarlso commented on #3088
The NLB doesn't really have an internal IP OR it's constantly changing. So that would be a difficult manner. However, since the NLB is part of the VPC, it's enough to add the VPC CIDR to the security group. That way, any IP that the NLB will get will be allowed, and at the very least, it's not `0.0.0.0`. :)

And yes, that seems to be the consensus when dealing with NLBs since they don't have secur

[2022-11-04 07:44] johannesfrey commented on #3088
Ah, sure. `0.0.0.0` is not necessary :slightly_smiling_face:.
Yeah, really a bummer that NLBs do not work with security groups in the usual way.
But speaking of a SG in front of the EC2 instance of the control-plane, it would not suffice to add the client IP as source (with client IP preservation on) because in reality the NLB connects to that instance (with an unknown internal IP)?

On a side not

[2022-11-04 07:58] Skarlso commented on #3088
No problem. :) I like working on this issue. :D It's very complex. :)

I'm not a 100% sure yet to be honest. I don't see with what IP address the nlb tries contacting the instance. If it's using preservation I'm not sure which client ip it preserves.

[2022-11-04 08:10] Skarlso commented on #3088
Incidentally, that might be the cause of my current problem. Namely that the instance is not joining the cluster.

[2022-11-04 09:59] Skarlso commented on #3088
BOOM

[code]

[2022-11-04 11:06] Skarlso commented on #3088
Okay, so this work in _one_ of two ways:

Either:
- Disable client IP preservation and allow for the VPC's private IP address to go through only
Or:
- Enable client IP preservation, but in that case, I have to open it up with `0.0.0.0/0` for it to work

What I'm going to do is, create a parameter/switch that lets the user control this behaviour. Is that okay?

[2022-11-04 11:33] #2727 closed

[2022-11-04 11:40] johannesfrey commented on #3088
Ah ok. So with client IP preservation on you must open it up for `0.0.0.0/0` because you cannot "know" beforehand which clients tries to connect (e.g. from another VPC or externally)? In contrast to client IP preservation being off, the source will always be the NLB, which resides in the same VPC?!

[2022-11-04 11:42] Skarlso commented on #3088
Correct. 👍

[2022-11-04 12:02] johannesfrey commented on #3088
Ok, got it. One naive thought: So instead of prematurely opening it up completely for `0.0.0.0/0` here with CAPA, couldn't we delegate the work to or do it similar to e.g. the aws-load-balancer-controller, which picks up the given CIDR from `service.spec.loadBalancerSourceRanges` and creates the necessary SGs/IngressRules only for this CIDR?

Though, this would depend on a Service of type `LoadBal

[2022-11-04 12:05] Skarlso commented on #3088
This is correct. Without opening it up the node will not join the cluster and kubelet will fail with various errors or things that it can't reach.

Some of which MIGHT be the hair pinning issue which I'm investigating. For example just this:

[code]

Looks very suspiciously like a hair pinning issue where kubelet can't access the node using its domain name.

[2022-11-04 13:33] cablunar opened #3814 "Template examples for MachineHealthCheck missing"
/kind feature

The cluster-api-provider-aws should accomodate self healing kubeadmcontrolplane template examples, in the tempaltes folder.

Proposing to add the following code to `cluster-template-machinepool.yaml`, this enables kubeadmcontrolplanes to heal itself if an instance is taken down or otherwise unhealthy.
This is crutual information for at least production scenarios, where a clusters co

[2022-11-04 13:46] Skarlso commented on #3088
Okay, so I got something working for now. I'm going to roll with that, then iterate over the possible hair pinning issue.

[2022-11-04 14:50] Skarlso commented on #3814
/triage accepted

[2022-11-04 15:10] #2022 closed

[2022-11-04 16:03] dlipovetsky commented on #3742
/cherrypick release-1.5

[2022-11-04 20:24] Skarlso commented on #3770
/assign

After NLB stuff...

[2022-11-05 12:43] #3511 closed

[2022-11-05 15:44] #3296 closed

[2022-11-06 06:23] Skarlso commented on #3088
So I tried the `hosts` rewrite. Sadly, it didn't work. :(

[code]

So for now, I'm staying with my solution. FFW the network loadbalancer doc troubleshoot section also says that we should disable preserve client ip if hairpinning is an issue.

[2022-11-06 11:16] voor commented on #3088
Does it set the X-Forwarded-For request header or X-Real-Ip header?  That way audit logs will still have the client IP somewhere.

[2022-11-06 11:18] Skarlso commented on #3088
It does, yes.

[2022-11-06 12:34] Skarlso commented on #3088
Ah, yeah, I misread the doc. You're right @voor it does not set that header. Something else does if client ip preservation is on.

[2022-11-06 16:58] #2936 closed

[2022-11-06 19:55] Skarlso commented on #3453
/lifecycle active

[2022-11-06 20:00] Skarlso commented on #3096
I love messing with KMS.
/assign

[2022-11-06 20:00] Skarlso commented on #3096
/lifecycle active

[2022-11-07 08:08] Skarlso opened #3820 "[E2E] Add tests for NLB feature"
/kind feature

**Describe the solution you'd like**
The PR for the NLB implementation is getting super big, so I'm extracting and writing an E2E test for it.
Related to this https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3088.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aw

[2022-11-07 08:09] Skarlso commented on #3820
/triage accepted

[2022-11-07 08:09] Skarlso commented on #3820
/assign

After the NLB PR is merged.

[2022-11-07 08:56] richardcase commented on #3096
Oh really, that's good to know 🤣

[2022-11-07 09:22] #3814 closed

[2022-11-07 11:40] ydp opened #3822 "support customize search domain in AWSMachineTemplate"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

I would like to customize search domain of the cluster, but did not find AWSMachineTemplate expose relevant field, changing search domain in preKubeadmCommands is not acceptable since other users might use it as well, may overwrite my value.
Maybe also nameserver.

**Anything else you

[2022-11-07 12:27] Ankitasw opened #3824 "[E2E] Add E2E tests for deletion of VPC when VPC creation limit exceeds"
/kind regression

**Describe the solution you'd like**:
Add E2E tests for scenario of deletion of VPC when VPC creation limit is exceeded. This is a follow up of the PR https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3749.

**Anything else you would like to add:**

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from

[2022-11-07 12:43] Ankitasw commented on #3824
/triage accepted
/priority important-soon

[2022-11-07 12:50] Ankitasw commented on #3824
/remove-kind regression
/area testing

[2022-11-08 09:12] cablunar opened #3828 "Label on AWSMachinePool"
/kind feature

**Describe the solution you'd like**
A label object on the AWSMachinePool, that can be configured in the spec for each of the AWSMachinePools that you run in your cluster. This label, will translate to labels on the kubernetes node obejcts in the cluster.

Goal: `kubectl get nodes -L mylabel | grep something`

Example config:
[code]

**Anything else you would like to add:**
This is

[2022-11-08 14:34] Ankitasw commented on #3510
/reopen

[2022-11-08 15:16] richardcase commented on #2355
We need to review the items on this and see what we need to get in and what can be moved to v1beta3

[2022-11-08 17:36] #3768 closed

[2022-11-09 07:04] Ankitasw commented on #3673
/milestone v2.0.0

[2022-11-09 07:05] Ankitasw commented on #3673
/assign

[2022-11-09 08:02] richardcase commented on #3673
/milestone v2.0.0

[2022-11-09 08:02] richardcase commented on #3536
/milestone v2.0.0

[2022-11-09 08:04] richardcase commented on #3481
/milestone v2.0.0

[2022-11-09 08:04] richardcase commented on #3532
/milestone v2.0.0

[2022-11-09 10:29] Ankitasw commented on #3536
/close

[2022-11-09 10:29] #3536 closed

[2022-11-09 16:10] Ankitasw commented on #3243
This is still missed 😢 I am not sure if we would be able to make it in v2.0.0?

[2022-11-09 16:15] Ankitasw commented on #2355
AWSManagedMachinePool field deprecations as a result of https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3094 can be moved to next API version.

[2022-11-09 16:15] Skarlso commented on #3532
/assign

[2022-11-09 18:08] dlipovetsky commented on #3481
I'll pair on this with @dkoshkin.

/assign

[2022-11-09 19:41] mjnovice commented on #3427
Hey @sedefsavas I refreshed my credentials, even after that, I see this error. Do we need to reinitialize the `aws` infra via `clusterctl` ? Seems, the capa-controller isn't picking up the new credentials. Could you share how could we ascertain this ?

[2022-11-09 23:43] dlipovetsky commented on #3481
/triage accepted
/priority important-soon

[2022-11-10 00:05] dlipovetsky commented on #3481
@dkoshkin and I looked over this today. Here's the plan, roughly:

1. As part of the unmanaged infrastructure test, start exercising ELB creation (this is not done today).
1. As part of the unmanaged infrastructure test, provide an security group override for the loadbalancer subnet (by setting the `spec.network.securityGroupOverrides["lb"]` field on the AWSCluster resource).
    * We expect the t

[2022-11-10 00:35] pydctw commented on #3399
This should have been fixed with SSA support in CAPA.

[2022-11-10 00:35] #3399 closed

[2022-11-10 06:23] akash-gautam commented on #3824
/assign

[2022-11-10 06:38] akash-gautam commented on #3824
@Ankitasw Can you please provide some more info regarding where the this test needs to be added?

[2022-11-10 07:00] akash-gautam commented on #3793
/assign

[2022-11-10 07:05] AverageMarcus commented on #3381
/remove-lifecycle rotten

[2022-11-10 13:42] steve-fraser opened #3839 "EC2 ENIs are not being tagged"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Create a MachineDeplyoment with the following AWSMachineTemplate

apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: AWSMachineTemplate
metadata:
  name: example
spec:
  template:
    spec:
      additionalTags:
        creator: test@test.com
      instanceType: t3.medium
      s

[2022-11-10 15:36] #3532 closed

[2022-11-10 17:13] richardcase commented on #3166
/milestone v2.x

[2022-11-10 17:14] richardcase commented on #3166
This will be possible after v2.0.0 and specifically after #3797 merges.

@pydctw would you still like to work on this or is this something i can pick up?

[2022-11-10 17:22] #3673 closed

[2022-11-11 08:37] Ankitasw commented on #3824
This test has to be added in E2E i guess.
_Originally posted by @richardcase in https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3749#issuecomment-1273469262_

[2022-11-11 11:17] jayesh-srivastava opened #3848 "EKSConfigTemplate specs not being reflected in the bootstrap script"
/kind bug

**What steps did you take and what happened:**
Launched an EKS cluster with the provided template adding two specs namely `useMaxPods` and `kubeletExtraArgs` in the EKSConfigTemplate CRD and providing ref of this CRD in the MachinePool CRD.

These values didn't get reflected in the bootstrap script.

**What did you expect to happen:**
Expected these values to be reflected in the bootstr

[2022-11-11 11:56] Skarlso commented on #3848
/triage accepted

Yeppp

[2022-11-11 17:01] richardcase opened #3849 "Remove `panic` from watch map functions"
/kind bug
/area deflake
/priority critical-urgent
/triage accepted

**What steps did you take and what happened:**

We use `panic` in quite few instances in the map functions used with watches in controller runtime. For example:

[code]
([source](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/controllers/awscluster_controller.go#L403))

**What did you expect to happen:**

We

[2022-11-11 17:02] richardcase commented on #3849
/assign

[2022-11-11 17:02] richardcase commented on #3849
/milestone v2.x

[2022-11-12 01:52] pydctw commented on #3166
Hi @richardcase, do we plan to support ClusterClass for EKS after we re-introduce AWSManagedCluster? Asking because ClusterClass is not yet supported for MachinePool (https://github.com/kubernetes-sigs/cluster-api/issues/5991).

If we decide to support ClusterClass for EKS MachineDeployment flavor, I can work on it.

[2022-11-13 21:06] Aut0R3V commented on #2178
@richardcase I would like to work on this issue. I went through the discussion that you guys had. Could you tell me what needs to be done for this? I would like to assign myself for this issue.
\assign

[2022-11-14 12:50] sadysnaat opened #3851 "capa failes to reconcile `boilerplate-oidc-trust-policy` if status.ARN is present"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Tried creating an EKS cluster with AssociateOIDCProvider
if capa fails to create boilerplate-oidc-trust-policy in target env

[code]

it sets

[code]

but doesn't create `boilerplate-oidc-trust-policy` in next reconcile loops as
https://github.com/kubernetes-sigs/cluster-api-provider-aws

[2022-11-14 13:10] richardcase commented on #2178
/assign Aut0R3V

[2022-11-15 06:37] jayesh-srivastava opened #3852 "AWSLaunchTemplate spec missing in the AWSManagedMachinePool crd yaml."
/kind bug

**What steps did you take and what happened:**
I was trying to launch an eks cluster with a custom ami. Added the awsLaunchTemplate spec in the AWSManagedMachinePool crd and got this error:
`error: error validating "cluster-template-eks.yaml": error validating data: ValidationError(AWSManagedMachinePool.spec): unknown field "awsLaunchTemplate" in io.x-k8s.cluster.infrastructure.v1beta1.

[2022-11-15 15:11] Skarlso commented on #3839
/triage accept
/assign

This is kind of important so resources can be created within an environment that applies control policies in the AWS account.

[2022-11-15 15:11] Skarlso commented on #3839
/priority important-soon

[2022-11-15 15:14] Skarlso commented on #3839
/triage accepted

[2022-11-15 15:16] #3410 closed

[2022-11-15 16:17] richardcase opened #3853 "v1beta3 API Changes"
/kind refactor
/kind api-change
/priority important-soon
/triage accepted

**Describe the solution you'd like**

An issue to track the API changes that are required in the next API version bump.

Changes:

- [ ] Removal of deprecated fields from AWSManagedMachinePool (as a result of the launch template work)

**Anything else you would like to add:**

This captures some changes that didn't make it

[2022-11-15 16:46] Ankitasw commented on #3853
Also #3243

[2022-11-15 17:23] Ankitasw commented on #2355
/close

[2022-11-15 17:24] #2355 closed

[2022-11-15 18:41] richardcase commented on #3853
Added to the list

[2022-11-15 20:32] dlipovetsky opened #3854 "CAPA applies AWS cloud-controller-manager tag to user-owned subnet, but does not delete the tag on cluster delete, leaving the subnet unusable by future clusters"
/kind bug

**What steps did you take and what happened:**
The cloud-controller-manager (CCM) can only use tagged resources; if they're missing, it will not create the ELB to back the LoadBalancer-type Service.

The tag, which I'll refer to as the "CCM tag," is: `kubernetes.io/cluster/<name>: [owned|shared]`. Importantly, a resource may have exactly one such tag. Otherwise, the CCM will [return an

[2022-11-15 20:47] dlipovetsky commented on #3854
Fixing this bug means changing tagging behavior that's been present since v1.0. The possible solutions:

(a) CAPA stops applying the CCM tag to user-owned subnets
(b) CAPA applies (on cluster create) and removes (on cluster delete) the CCM tag to user-owned subnets, security groups, and route tables.

If we cannot do either (a) or (b) in a minor release, then I think we need to address this issue

[2022-11-16 05:48] #3507 closed

[2022-11-16 08:14] richardcase commented on #3854
Thanks for creating this for discussion @dlipovetsky. My thoughts are:

(a) we can't stop applying the tag to user-owned subnets because this was a specific feature request (#2584, from @scottslowe). Reading the original request, this seems like a reasonable feature to have imho.
(b) If we add the CCM tag to anything, then we should be removing the added tag when we delete the cluster. And as you'

[2022-11-16 09:26] richardcase commented on #3854
If we did want to remove the tagging of user managed resources we could introduce this via a feature flag?

[2022-11-16 09:53] Ankitasw commented on #3854
Even I am not in favor of option (a) because of the same reason listed by @richardcase. So option (b) seems to be the way forward to me as well.

Since this is a supported behavior, IMO we should not change it at this point. And we have seen users benefitting from this, so -1 from me.

[2022-11-16 10:21] johannesfrey commented on #3088
Just out of interest, as it's seems not be tracked in a milestone. I assume it won't be part of the [v2.0.0](https://github.com/kubernetes-sigs/cluster-api-provider-aws/milestone/36) milestone?!

[2022-11-16 10:26] AverageMarcus commented on #3854
I was unaware of the previous user request to support this. While I’d still prefer if user provided infra was wholly set up by the user, I can see it is beneficial to others already so I agree to go with option B.

[2022-11-16 10:41] richardcase commented on #3854
@MarcusNoble @Ankitasw - if we had an option (c) which was to gather details of usage of this current behaviour from people like @scottslowe and then consider option (a) in the future - if we give notice of deprecation of this behaviour to give time for users to change their usage and update any automation. Would this change your thoughts?

[2022-11-16 10:54] johannesfrey commented on #3088
Sure, no worries :slightly_smiling_face:. Totally undestand. Just noticed that 2.0.0 is about to be released soon, so I thought I ask. Really nice that 2.0.0 is coming, even though without NLB :slightly_smiling_face:

[2022-11-16 11:04] Ankitasw commented on #3782
/triage needs-information

[2022-11-16 11:05] richardcase commented on #2635
/remove-lifecycle rotten

[2022-11-16 16:13] yastij commented on #3854
catching up on the thread, I think (b) is reasonable, I don't think we can consider it as an API breaking change so I think 2.1.0 would make sense

[2022-11-16 17:05] scottslowe commented on #3854
Also just catching up (I'm on holiday in Spain): Since my request seems to be the culprit that started a portion of this, I figured I should weigh in. 😄

The use case for me was (and is) that I use an infrastructure-as-code tool to stand up a set of shared infrastructure (VPC, subnets, route tables, gateways, etc.) that are then used/leveraged by multiple workload clusters. It's _possible_ that I

[2022-11-16 17:44] dlipovetsky commented on #3854
Thanks all for your thoughtful comments!

It sounds like we agree to go with

And we agree that the remaining work () can be addressed in a 2.x minor release.

1. Apply the CCM tag (`kubernetes.io/cluster/<name>: shared`) to user-owned security groups, route tables, and any other resources that the CCM might use.
2. Remove the CCM tag from user-owned resources when reconciling cluster delete.

I w

[2022-11-16 18:01] dlipovetsky commented on #3854
@AverageMarcus I recognize your concern. But I'm not sure that's what users expect. For example, for every LoadBalancer-type Service, the CCM itself creates a rule in the user-owned security group. Users don't expect to create these rules on behalf of the CCM.

Moreover, without the CCM tag applied to user-owned resources, the CCM will fail to function. Since the CCM tag is specific to the cluster

[2022-11-16 21:34] faiq opened #3856 "metrics port is not exposed properly in default configuration"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
- While trying to debug a cluster I was trying to look up controller runtime metrics. However, when I got onto my prometheus dashboard I wasn't able to see any metrics that pertained to the `cluster-api` controller pod.
- Upon further investigation it looks like the port :8080 is not exp

[2022-11-17 13:44] jonatasbaldin opened #3858 "Upgrade from 1.23.13 to 1.24.x fails"
/kind bug

**What steps did you take and what happened:**
When trying to upgrade a Kubernetes cluster from 1.23.13 to 1.24.x, a failure occurs.

Logs from `capi-kubeadm-control-plane-controller-manager`:
[code]

The Node seems to come up normally, but never takes the role of `master`:
[code]

From the Node conditions, everything seems to be OK:
[code]

The Node events, seems that `kube-proxy` is _

[2022-11-17 15:38] Skarlso commented on #3839
AARGH. This is almost impossible to do nicely. :(

ENIs are created outside of CAPA by all sorts of things like EKS, the LB, EC2 instances, the VPC... etc.

We would have to list all resources, describe each of them, go through all the enis, and tag them accordingly.

There is no single interface for these things. And then we get into the problem of managed, unmanaged ENIs and what to tag and what

[2022-11-17 15:39] Skarlso commented on #3839
I could maybe add one thing. ENIs created by aws-cni.

[2022-11-17 19:59] dlipovetsky opened #3860 "Tag user-owned AWS Route Tables with CCM tag"
/kind feature

**Describe the solution you'd like**
For CCM to use route tables, we need to add the necessary tag for discovery (kubernetes.io/cluster/<cluster-name> ) to both EC2 and EKS clusters.

As of #3838, CAPA applies this tag to CAPA-owned route tables.

CAPA should apply this tag to user-owned route tables on cluster create, and remove the tag on cluster delete.

**Environment:**

- Clust

[2022-11-17 20:01] dlipovetsky commented on #3481
**Important**: As we agreed to in #3854. CAPA should  apply the CCM tag on cluster create, and remove it on cluster delete.

[2022-11-17 20:03] dlipovetsky commented on #3860
/triage accepted
/priority important-longterm

[2022-11-17 20:04] dlipovetsky commented on #3854
/triage accepted
/priority important-longterm

[2022-11-17 22:09] pfcurtis commented on #3810
@Skarlso I waited several hours before manually removing the cluster. The issue is my case is isolated to the security group created for the ELB. If I manually delete the ELB SG, the provider completes the removal the VPC. The CAPI controller then shows the cluster has been deleted.

Both the Cluster and the AWSCluster are removed properly after deleting the ELB SG.

[2022-11-18 06:05] Skarlso commented on #3810
Thanks Paul. I'll look into it!

[2022-11-18 11:39] Skarlso commented on #3810
/assign

[2022-11-18 12:10] #3286 closed

[2022-11-18 16:04] jrbeilke opened #3862 "failed to retrieve AWSManagedMachinePool when creating new cluster after upgrading to infrastructure-aws v2.0.0"
/kind bug

**What steps did you take and what happened:**
Used `clusterctl upgrade apply --contract v1beta1` to upgrade mgmt cluster with infrastructure-aws provider v2.0.0

Generated a new cluster config:
`clusterctl generate cluster jbeilke-test-cluster --kubernetes-version v1.22.0 --flavor eks-managedmachinepool > jbeilke-test-cluster.yaml`

Applied the new cluster config:
`kubectl apply -f jbe

[2022-11-18 18:00] tmad opened #3863 "Invalid annotation key for sigs.k8s.io/cluster-api-provider-aws/v2-last-applied-tags"
/kind bug

**What steps did you take and what happened:**
Upgraded to v2.0.0 with clusterctl

Looked into cluster-api-provider-aws logs. There were issues like:
`Invalid value: \"sigs.k8s.io/cluster-api-provider-aws/v2-last-applied-tags\" a qualified name must consist of alphanumeric characters, '-', '_' or '.', and must start and end with an alphanumeric character (e.g. 'MyName',  or 'my.name',

[2022-11-20 12:54] YanzhaoLi commented on #1955
I hit the same issue.   I didn't use EKS but just follow the get-started guide: https://cluster-api-aws.sigs.k8s.io/getting-started.html

[2022-11-21 12:36] invidian commented on #3055
/remove-lifecycle stale

[2022-11-22 16:22] mnitchev opened #3870 "LoadBalancerReady condition stuck in `Deleting`"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
1. Create AWSCluster WC
1. Wait for cluster to become ready
1. Delete the cluster
1. Notice that the LoadBalancerReadyCondition never becomes `Deleted`

_NOTE:_ The finalizer is eventually removed, but the condition is stuck in `Deleting`.

**What did you expect to happen:**

The conditi

[2022-11-22 16:42] #3863 closed

[2022-11-22 18:15] richardcase commented on #2828
/remove-lifecycle rotten
/priority critical-urgent

[2022-11-22 18:16] richardcase commented on #3481
/milestone v2.1.0

[2022-11-22 18:23] dlipovetsky commented on #3076
For reference:

[2022-11-22 18:24] richardcase opened #3873 "[e2e] EKS e2e tests need to be stabilised"
/kind bug
/area deflake
/area testing
/priority critical-urgent
/triage accepted

**What steps did you take and what happened:**

The periodic EKS e2e tests have been very flakey recently (see [testgrid](https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-aws#periodic-eks-e2e-main)). This is impacting our confidence in doing releases and that we aren't regressing functionality.

**W

[2022-11-22 18:24] richardcase commented on #3873
/milestone v2.1.0

[2022-11-22 18:31] richardcase commented on #3873
/assign
/assign Skarlso

[2022-11-22 20:10] AverageMarcus commented on #1484
/remove-lifecycle rotten

Still relevant and related to https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3711

[2022-11-23 08:59] richardcase commented on #2238
With a focus on improving the e2e the priority of this has changed:

/priority important-critical
/remove-lifecycle rotten
/milestone v2.1.0

[2022-11-23 09:00] richardcase commented on #2238
This time with the right priority:

/priority critical-urgent

[2022-11-23 09:07] richardcase commented on #2582
With the e2e focus:

/remove-lifecycle rotten
/priority-important-soon

And preferably:

/milestone v2.1.0

[2022-11-23 09:07] richardcase commented on #2582
/priority important-soon

[2022-11-23 09:12] richardcase commented on #2141
We could cover this with a template

[2022-11-23 10:34] #3620 closed

[2022-11-23 15:15] Ankitasw opened #3875 "Redeploy lambda function in the heptio account as its not picking new AMIs"
/kind bug
/kind documentation

**What steps did you take and what happened:**
The CAPA [docs](https://cluster-api-aws.sigs.k8s.io/topics/images/built-amis.html) are not getting updated with the recently built CAPA AMIs. We should redeploy the lambda function to take new changes in.

**What did you expect to happen:**
The new AMIs are reflected on the above doc.

**Anything else you would like to a

[2022-11-23 15:37] Ankitasw commented on #3875
/remove kind-bug

[2022-11-23 15:37] Ankitasw commented on #3875
/remove-kind bug

[2022-11-23 17:05] rsadowsk opened #3876 "Documentation Issue: Developer Guide is out of date"
/kind documentation

**What steps did you take and what happened:**
While following the Devloper Guide [official documentation](https://cluster-api-aws.sigs.k8s.io/development/development.html) I ran into an issue while building clusterawsadm where the documented directory of the make file did not exist.

**What did you expect to happen:**
Following the steps and commands in the documentation shou

[2022-11-23 17:43] Ankitasw commented on #3875
Lambda function redeployed. Updated AMIs can be listed [here](https://cluster-api-aws.sigs.k8s.io/topics/images/built-amis.html)

[2022-11-23 17:44] #3875 closed

[2022-11-24 08:16] #3876 closed

[2022-11-24 13:03] AverageMarcus commented on #3853
The `IamInstanceProfile` property on AWSLaunchTemplates should be changed to `IAMInstanceProfile` (capital `IAM`) to be consistent with the same property on `AWSMachineSpec` and Go style guidelines on acronyms.

See: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/3586b3b25153ad525119199dfc9544b69ad0d15f/exp/api/v1beta2/types.go

[2022-11-24 15:26] Ankitasw opened #3879 "[E2E] Update E2E tests to use CAPA v2.0.x"
/area testing

Our E2E tests are using CAPA v1.6.x which should be updated to v 2.0.x as we have be new release in place.
We should also consider upgrading the kubernetes patch version to 1.2.4 which is currently 1.24.0, so as to use the latest AMIs rebuilt with containerd version 1.6.6.

[2022-11-24 15:27] Ankitasw commented on #3879
/triage accepted
/priority important-soon
/assign

[2022-11-24 15:28] Ankitasw opened #3880 "[E2E] Add prow jobs for CAPA release 1.6"
/area testing

Add prow jobs for CAPA release 1.6 in test-infra as the main branch is now in tandem with v2.0.1

[2022-11-24 15:29] Ankitasw commented on #3880
/triage accepted
/priority important-soon

[2022-11-24 15:45] Ankitasw commented on #3880
/remove-area release
/area testing

[2022-11-25 09:43] Skarlso commented on #3848
Okay, so I had a little dig into the code base and some rummaging for examples. Please take a look at `templates/cluster-template-eks-machinepool.yaml`.

Turns out, `MachineDeployment` is the one using EKSConfigTemplate, but a `MachinePool` is using an `EKSConfig`. Note that it's not a `Template`.

Please try it with that and see if that works.

[2022-11-25 15:31] Ankitasw commented on #3880
/assign

[2022-11-28 05:14] joeunlog opened #3883 "SubnetSpec 'ID' must not be required field"
/kind feature

**Describe the solution you'd like**
SubnetSpec 'ID' must not be required field

**Anything else you would like to add:**
I tested creating aws managed control plane with configuring specific subnet cidr.
When I tested it 21 days ago, it worked fine.
And today, I tested same thing but it require subnet's ID, so test was failed.
I found pull request about this, and realize that subne

[2022-11-28 06:02] Ankitasw opened #3884 "[E2E] ClusterClass external infrastructure test is flaky"
/kind flake
/area testing
/priority important-soon
/triage accepted

**What steps did you take and what happened:**
All the recent post-submit runs fails sporadically with nil pointer error.
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-cluster-api-provider-aws-e2e/1595692727079538688
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-cluster-api-provider-aws-e2e/1596020893396504576

[2022-11-28 06:17] Ankitasw commented on #3883
This was introduced as part of new [SSA](https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3530) feature, which cannot be changed back. Please refer [here](https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3748/files#r980991455).

[2022-11-28 06:34] Ankitasw commented on #2941
/reopen
in favor of https://github.com/kubernetes/enhancements/pull/3519/files
/triage accepted
/priority important-soon

[2022-11-28 06:34] Ankitasw commented on #2941
cc @richardcase

[2022-11-28 06:41] Ankitasw commented on #2941
/remove-lifecycle rotten

[2022-11-28 07:10] Ankitasw commented on #3873
I feel testgrid looks good now, do we need to do any more changes here?

[2022-11-28 08:52] #3879 closed

[2022-11-28 09:27] Ankitasw commented on #3510
/remove-lifecycle rotten

[2022-11-28 12:00] Ankitasw commented on #3852
Hello, @jayesh-srivastava  thanks for raising the issue.
I see that we have awsLaunchTemplate defined in the [CRD](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/config/crd/bases/infrastructure.cluster.x-k8s.io_awsmanagedmachinepools.yaml#L80), could you please tell me from where above CRD is referenced?

[2022-11-28 12:02] Ankitasw commented on #3687
The new AMIs have been built with containerd version 1.6.6.
/close

[2022-11-28 12:02] #3687 closed

[2022-11-28 12:04] YanzhaoLi commented on #964
Bring awareness again, because this [KEP](https://github.com/kubernetes/enhancements/pull/3519/files) plans to disable in-tree ccm in k8s 1.27

[2022-11-28 12:07] Ankitasw commented on #3055
I think this should have been solved by #3225 , isn't it @invidian ?

[2022-11-28 12:38] YanzhaoLi opened #3885 "Avoid downtime when migrating HA clusters from in-tree ccm to out-of-tree ccm"
**What did you expect to happen:**
To avoid controller-manager downtime, the [Leader Migration](https://kubernetes.io/docs/tasks/administer-cluster/controller-manager-leader-migration/#background) provides a mechanism by community in which HA clusters can safely migrate "cloud-specific" controllers between the old versioned kube-controller-manager and the new versioned cloud-controller-manager whi

[2022-11-28 15:16] invidian commented on #3055
I don't think so. I still see:
[code]

For example for source `https://github.com/kubernetes-sigs/cluster-api/releases/download/v1.2.6/core-components.yaml` in `test/e2e/data/e2e_conf.yaml`, which does not contain those statements. So as far as I understand, this replacements should be treated appropriately, as mentioned in opening post.

[2022-11-28 17:26] dlipovetsky commented on #3885
Related to #2941 and #964

[2022-11-29 06:19] Ankitasw commented on #3884
/assign

[2022-11-29 18:01] #3884 closed

[2022-11-29 18:06] Ankitasw commented on #3880
/close

[2022-11-29 18:06] #3880 closed

[2022-11-29 22:16] thefirstofthe300 commented on #3560
/remove-lifecycle stale

[2022-11-30 06:35] Ankitasw commented on #3510
/remove-priority longterm
/priority important-soon

[2022-11-30 06:36] Ankitasw commented on #3510
/remove-priority important-longterm