[2022-03-11 18:38] bisakhmondal commented on #3109
Hi @sedefsavas, could you please share some details and context about what needs to be done? Thank you

[2022-03-11 19:04] sedefsavas commented on #3152
A related issue:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2944

[2022-03-11 19:04] #3108 closed

[2022-03-11 19:07] sedefsavas commented on #2944
@bisakhmondal we are considering a refactoring for logging in this issue
https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3152

It'll be good to consider this under that effort as well as we are trying to be consistent in the capi ecosystem.
Feel free to add your findings about what CAPI and other providers are doing in regards to this to the other issue.

[2022-03-11 19:17] zeborg commented on #2944
For additional reference, the need for this change was introduced due to an upgrade from `go-logr` v0.4.0 to the latest one. I believe that finding differences in the `logr.Logger` implementation within the package before and after this change might be helpful.

[2022-03-11 19:55] zeborg commented on #3304
Hey @Ankitasw, it seems like there's no prow job defined for test coverage in `test-infra` till now although we have a `ci-test-coverage.sh` script already present in the `scripts` directory.
Can you please confirm if that script is currently being used anywhere in any of the existing jobs _(prow or otherwise)_ or if we are yet to have it implemented?
Thanks!

[2022-03-11 20:01] pydctw commented on #3304
Similar to what I said in https://github.com/kubernetes-sigs/cluster-api/issues/6297#issuecomment-1065459656, I am not sure if we want to do it.

[2022-03-11 21:28] Ankitasw commented on #3304
Thanka @pydctw for feedback. If others in community feel the same, I am ok to close the discussion.

[2022-03-12 13:02] zeborg commented on #3304
Just for a follow-up on this issue, since the CAPI issue for codecov has been closed, should we proceed with doing the same for CAPA as well or should we wait for a final discussion in the upcoming office hours?

[2022-03-12 17:58] Ankitasw commented on #3304
@zeborg lets hold this till our next office hours.

[2022-03-13 19:13] Skarlso commented on #3152
@sedefsavas Okay, so... I'm okay with following this convention, but that will result in a not very searchable log entry which is what the initial problem also concluded. So I will have to wrap it in something that sets up searchable entries anyways. :)

[2022-03-14 06:33] shivi28 commented on #3295
Thanks @Ankitasw for this issue. I will take a look.
Meanwhile if possible can you please share your findings on how's it's related with [PR](https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3255) as you mentioned in the description.

[2022-03-14 09:31] Ankitasw commented on #3295
Hi @shivi28, I don't have clear evidence to support that this failure is happening only because of the PR mentioned above, that's why raised this issue. Why I suspect it is we didn't test e2e in the above PR before merging and the changes are related to machinepool controller, so as part of this issue, we can find out whether E2E upgrade tests are failing because of above PR merge.

[2022-03-14 13:38] vibhorrawat commented on #2029
@Ankitasw Hi, here is what I have observed during the test run locally-

It looks like the test either failed or running into a loop. I do see a VPC, few subnets, security groups and NAT gateways getting creating in the AWS. However, it is not moving ahead after that.  There are few warnings but no errors in Tilt console.
I'm seeing following error message in `capi_controller`.
[code]
In `capa_con

[2022-03-14 16:54] shivi28 commented on #3295
Actually test was failing only in [upgrade PR](https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3292) because CAPI has enabled [scaling machinePool to zero](https://github.com/kubernetes-sigs/cluster-api/pull/6233) in latest release. To handle this change we need to enable zero as the minimum size for AWSMachinePools in CAPA, which is in progress.

And that's why tests were failing

[2022-03-14 20:33] Ankitasw commented on #3295
Thanks @shivi28 , if we have found the root cause for issue and can be fixed in other PR, we can attach this issue to open PR itself so that it will be closed with the PR. Wdyt?

[2022-03-15 06:19] sedefsavas commented on #3295
@shivi28
Do you know why not allowing scale to 0 caused e2e test failures only during upgrade?
Was there a change in the cluster-api e2e tests we use?

[2022-03-15 06:23] shivi28 commented on #3295
Yes @sedefsavas they have added a new test case `Scaling the machine pool to zero` in [CAPI e2e test](https://github.com/helio/cluster-api/blame/49345de769017d7fa585ab4134497d05abd996c9/test/e2e/machine_pool.go#L116)

[2022-03-15 06:24] #3218 closed

[2022-03-15 10:34] Ankitasw commented on #2029
Hey @vibhorrawat, while the test runs, can you do `kubectl describe clusters` and see at which stage it's stuck?

[2022-03-15 11:06] LucaLanziani opened #3307 "generate provider command should not substitute variables when `--describe` is used"
/kind bug

**What steps did you take and what happened:**

Running the below command I got an error about variable substitution:

[code]

**What did you expect to happen:**

Following the clusterctl [documentation](https://cluster-api.sigs.k8s.io/clusterctl/commands/init.html?highlight=--describe#how-can-i-known-which-variables-a-provider-requires) it looks like the command should skip the substit

[2022-03-15 12:59] Ankitasw commented on #3130
/assign

[2022-03-15 13:52] Ankitasw commented on #2330
@sedefsavas just wanted to confirm before we start, we still need this right? is it done as part of any existing PR?

[2022-03-15 14:04] Ankitasw commented on #2330
@sedefsavas regarding time for expiration of cache, which component will decide that? Shall we hardcode it to some value?

[2022-03-15 14:13] richardcase commented on #2029
It shoulds like the `EKSConfig` isn't there.

It might also be worth upping the verbosity level of the controller.

[2022-03-15 15:01] richardcase commented on #3299
On discussion in slack this was caused by the all the resources being deleted at the same time and not just the `Cluster`. So:

/close

[2022-03-15 15:01] #3299 closed

[2022-03-15 15:09] richardcase commented on #2758
@Ankitasw - yes that seems reasonable as long as its before this check.

[2022-03-15 15:16] richardcase commented on #3284
If we go with this:

[code]

Then we should also consider renaming the vpc side of this confusion:

[code]

Or something like that :smile:

[2022-03-15 15:24] richardcase commented on #2523
/lifecycle frozen

[2022-03-15 15:25] richardcase commented on #2869
/remove-lifecycle stale

[2022-03-15 15:25] richardcase commented on #2741
/close

[2022-03-15 15:26] #2741 closed

[2022-03-15 15:26] richardcase commented on #2990
/remove-lifecycle stale

[2022-03-15 15:31] Ankitasw commented on #2330
Rethinking: is this covered as part of API rate limiting?

[2022-03-15 16:47] josh-ferrell opened #3310 "Specify AZ in internal ELB/peered VPC E2E test"
/kind bug

**What steps did you take and what happened:**
CAPA can create instances in an availability zone that doesn't include a public subnet created by the test.

**What did you expect to happen:**
Instances are created in the same AZ as the public subnets.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-

[2022-03-15 17:32] vibhorrawat commented on #2029
@Ankitasw Here is the output of the `kubectl describe clusters`-
[code]
Kindly note I have masked the control plane's host url

Besides, as @richardcase suggest I do see following error in `capi_controller` logs.
[code]

Kindly suggest the how could I investigate this further with increased verbose logging.
Thank you.

[2022-03-15 18:20] shivi28 commented on #2953
/assign @shivi28

[2022-03-15 19:08] Skarlso commented on #3152
Absolutely.

[2022-03-16 01:22] vince-makelog opened #3313 "Security group rule "Node Port Services" can be more restrictive"
When creating a new AWSCluster, part of the infrastructure is creating Security Groups for machines to use.

Currently, the `Node Port Services` security group allows access from any IP. Should we consider making this bit configurable to a set of pre-defined CIDR blocks, or allow the VPC CIDR's by default?

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/0eee2776780168fa4dd3f2edff

[2022-03-16 01:22] vincepri opened #3314 "Security group rule "Node Port Services" can be more restrictive"
When creating a new AWSCluster, part of the infrastructure is creating Security Groups for machines to use.

Currently, the `Node Port Services` security group allows access from any IP. Should we consider making this bit configurable to a set of pre-defined CIDR blocks, or allow the VPC CIDR's by default?

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/0eee2776780168fa4dd3f2edff

[2022-03-16 02:53] sedefsavas commented on #2978
/remove-lifecycle stale

[2022-03-16 04:37] sedefsavas commented on #2835
/lifecycle active

[2022-03-16 05:15] sedefsavas opened #3315 "Update ASG when AWSMachinePool subnets change"
We only use subnets fields in AWSMachinePool field during ASG creation and do not update Auto Scaling Group if subnets change.
UpdateASG() should return true if a change is detected in the subnets.
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/6ab95625da2aabb209bc5744883eb4c009cc4fba/exp/controllers/awsmachinepool_controller.go#L534

ASG rollouts all machines and bring up new on

[2022-03-16 06:11] Ankitasw commented on #3310
/assign @josh-ferrell

[2022-03-16 08:11] Ankitasw opened #3316 "Refactor reconciler function signatures in controllers"
/kind refactor

**Describe the solution you'd like**
SInce we have got a lot of input scope parameters to reconcile functions in controllers, it would be good to add an input struct for these functions with all the scopes we are passing in.

Example Current code
[code]

Expectation
[code]
We should take care of all such instances in controllers.
cc @richardcase

[2022-03-16 08:43] richardcase commented on #2029
@vibhorrawat - could you share the full santized set of resource kinds for the cluster?

[2022-03-16 08:47] richardcase commented on #3316
/triage accepted
/priority backlog
/help

[2022-03-16 10:56] DiptoChakrabarty commented on #3315
/assign

[2022-03-16 12:12] vibhorrawat commented on #2029
@richardcase  - Sure thing. I'm pretty new to this stuff and terminologies so apologies for asking this question.
Could you please help me with the steps to get the required information? Is it a command or a documentation I can follow. Thank you.

[2022-03-16 16:00] richardcase opened #3319 "Expose `NodegroupUpdateConfig` in `AWSManagedMachinePool`"
/kind feature
/area provider/eks
/triage accepted
/priority important-soon
/help

**Describe the solution you'd like**
I would like to be able to specify the `NodegroupUpdateConfig` for a EKS node group when creating or updating a `AWSManagedMachinePool` as i want to be able to customize the max unavailable.

**Anything else you would like to add:**
See the [docs](https://docs.aws.amazon.com/sdk-f

[2022-03-16 16:53] pydctw opened #3321 "CAPA should not use ObjectMeta.ClusterName"
There is an upstream discussion about dropping ObjectMeta.ClusterName: https://github.com/kubernetes/kubernetes/pull/108717. Related CAPI issue: https://github.com/kubernetes-sigs/cluster-api/issues/6305

This field is not populated by Kubernetes and we should not use it as an CAPA Cluster Name.

This issue is about doing some research where we use it in CAPA and fix it if it is used.

/kind bug

[2022-03-16 16:56] pydctw commented on #3321
/assign

[2022-03-16 18:28] sedefsavas commented on #3307
I also confirmed that this is a bug.

We should move the issue to cluster-api as the fix will go in there.

[2022-03-16 18:34] sedefsavas commented on #3307
I am unable to transfer it by using the transfer button on the right console.
Feel free to close this one and open a new one in cluster api repo.

[2022-03-16 19:23] sedefsavas commented on #3282
cc @meghanajangi

[2022-03-16 19:24] sedefsavas commented on #2857
/remove-lifecycle rotten

@shivi28 I see that there is an open PR for this.
What is the status there?

[2022-03-16 19:27] sedefsavas commented on #2330
No, this is not related to SDK calls.
We cache providers/sessions but do not clean them. For example, identities that are no longer in use will linger until CAPA controller is restarted.

[2022-03-17 00:19] #3310 closed

[2022-03-17 01:53] sedefsavas commented on #3314
Yes, very good point.
SGs are opinionated and not very flexible other than supporting BYO SGs. Modifying existing SGs are not supported. Need to go through a refactoring, tracked here https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/392

Allowing only VPC CIDR by default will break some use cases (like peered VPC) without the flexibility to modify. So will  address this as part o

[2022-03-17 02:12] sedefsavas commented on #392
Another customization to cover under this:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3314

[2022-03-17 02:45] sedefsavas opened #3323 "Divide presubmit e2e tests to shorten test duration"
Our e2e test suite is growing, and as a consequence takes more time ( ~1.5 hours) to finish.

Not all the tests are giving valuable signal to run as a presubmit job, running them in periodic jobs are enough.
We could divide existing tests as pr-e2e-full and pr-e2e-essential (or better naming) to run on PRs.
For instance, BYO infra tests and CSI migration tests are not being affected by most change

[2022-03-17 02:46] sedefsavas commented on #3323
/priority backlog
/kind testing
/milestone v1.x
/triage accepted

[2022-03-17 06:43] meghanajangi commented on #3282
/assign

[2022-03-17 11:47] Ankitasw commented on #2330
We cache providers/sessions but do not clean them. For example, identities that are no longer in use will linger until CAPA controller is restarted.

Got it, so here comes the follow up question, regarding time for expiration of cache, which component will decide that? Shall we hardcode it to some value?

[2022-03-17 12:27] richardcase commented on #2029
Sorry @vibhorrawat - i should've said its just the yaml for your cluster that you kubectl applied

[2022-03-17 12:31] richardcase opened #3325 "Generate SBOM and sign release artefacts"
/kind feature
/area release
/area security
/help
/priority important-soon
/triage accepted

**Describe the solution you'd like**
We should be generating a SBOM for CAPA and also signing this and any other release artefacts.

**Anything else you would like to add:**
We should probably use [sigstore](https://docs.sigstore.dev/)

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes vers

[2022-03-17 13:39] #3321 closed

[2022-03-17 16:01] sedefsavas commented on #3325
Do you have any example how other projects in Kubernetes ecosystem does this?

[2022-03-17 17:15] richardcase commented on #3325
We use it in FluxCD

[2022-03-17 18:35] richardcase commented on #3319
/assign
/lifecycle active

[2022-03-18 09:05] mweibel commented on #3295
making sure this issue is also updated: kubernetes-sigs/cluster-api#6312 is a required fix for #3253 to pass. Not sure if we should skip that E2E for now, until that other PR is merged and released?

[2022-03-18 12:15] Ankitasw commented on #3130
/lifecycle active

[2022-03-19 13:08] LucaLanziani commented on #3307
Issue moved to cluster-api https://github.com/kubernetes-sigs/cluster-api/issues/6316, closing this.

[2022-03-19 13:08] #3307 closed

[2022-03-20 10:28] dntosas commented on #2321
i think issue persists even with latest version of CAPI + CAPA, AWSMachinePool seems not an option to consider until goes stable 🤔

[2022-03-20 11:57] dntosas commented on #2369
@dlipovetsky can you confirm this issue is resolved? i have the same problem with latest CAPI / CAPA versions

[2022-03-20 15:59] dkoshkin opened #3329 "Cannot create Service type LoadBalancer in EKS clusters"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
1. Create a cluster with https://github.com/kubernetes-sigs/cluster-api-provider-aws/releases/download/v1.2.0/cluster-template-eks.yaml with name `my-cluster`
2. Create a `Deployment` and a `Service` with type `LoadBalancer`
[code]
---

Saw an error in the `Service`
[code]

And when enab

[2022-03-21 10:37] vibhorrawat commented on #2029
@richardcase - Sure. Here it is- `templates/cluster-template-eks-machinepool.yaml`

[code]

[2022-03-21 12:03] VibhorChinda commented on #3297
/assign

[2022-03-21 15:12] sedefsavas commented on #3297
During last week's code walkthrough, we went over the repo structure, might be helpful for this issue:
https://www.youtube.com/watch?v=Y6kc7wmyElI&ab_channel=RichardCase

[2022-03-21 15:25] invidian commented on #3243
Just a note, when addressing the feedback in #2271, I've noticed that after making field a pointer type in `cmd/clusterawsadm/api/bootstrap/v1beta1/types.go`, autogenerated code for filling the default values for fields no longer works as expected. I've tried adding some functions like `NewS3Buckets()` or `SetDefaults_S3Buckets()`, but it didn't get picked up as I'd expect.

[2022-03-21 16:29] dlipovetsky commented on #2925
+1 to @sedefsavas's [proposal](https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2925#issuecomment-986628986), and to the [points](https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2925#issuecomment-1063868612) @invidian makes above.

[2022-03-21 18:57] sedefsavas commented on #3315
We need to convert existing subnets in the ASG (`VPCZoneIdentifier`) to `AutoScalingGroup.Subnets` using SDKToAutoScalingGroup() method, it is missing right now.
VPCZoneIdentifier is a comma separated list.

[2022-03-21 18:59] sedefsavas commented on #2941
Not really a good first issue, requires e2e experience.

[2022-03-21 19:24] pydctw commented on #3329
Any reason EC2 instances need to be tagged with `kubernetes.io/cluster/EKS_CLUSTER_NAME=owned` instead of `kubernetes.io/cluster/CAPI_CLUSTER_NAME=owned`?

I know it could be confusing that Cluster and EKSCluster have different names in EKS but wondering if you see any issue with the current tag.

cc @richardcase

[2022-03-21 19:31] dkoshkin commented on #3329
(From my testing) Yes the tags need to match in order for the cloud-controller to be able to find the EC2 instances, otherwise the created ELB did not have instances backing it.

[2022-03-21 20:02] sedefsavas commented on #2941
It is better to start doing this when Kubernetes v1.24 is out, by this way all tests could use >v1.22 version where CSIMigration is enabled by default.

[2022-03-21 20:44] pydctw commented on #2029
EKSConfigTemplate referenced in MachinePool doesn't match the name in EKSConfigTemplate definition and that is why you are getting `failed to retrieve EKSConfigTemplate` error.

MachinePool
[code]

EKSConfigTemplate
[code]

[2022-03-21 21:13] sedefsavas commented on #3329
FYI, in CAPA-managed clusters, we add `kubernetes.io/cluster/CLUSTER_NAME=owned` tag to instances and service type of LB is working there.

After the fix, would be good to append LB creation to an existing e2e test. We have `verifyElbExists` test for CAPA-managed clusters, but that is missing the check if instance is attached to the LB or not, so would have missed this particular bug.

[2022-03-21 21:13] sedefsavas commented on #3329
/triage accepted
/priority important-soon
/milestone v1.x

[2022-03-21 21:15] sedefsavas commented on #3304
Closing this as per the discussions during the office hour.

/close

[2022-03-21 21:15] #3304 closed

[2022-03-21 22:06] sedefsavas commented on #2925
/good-first-issue

as most of the code (other than the libraries in cmd folder) will go to internal.

[2022-03-22 03:37] sedefsavas commented on #3086
@Skarlso is there any update on this issue?

[2022-03-22 05:40] sedefsavas commented on #2369
@dntosas
Could you describe the steps to reproduce?

cc @Ankitasw

[2022-03-22 08:01] matlemb commented on #3271
I want to kindly ask if any further explanation or information is needed? Can i help you out on something?
<sub>Matthias Lembcke <[matthias.lembcke@mercedes-benz.com](mailto:matthias.lembcke@mercedes-benz.com)>, Daimler TSS GmbH ([Provider Information](https://github.com/mercedes-benz/daimler-foss/blob/master/PROVIDER_INFORMATION.md))</sub>

[2022-03-22 08:03] richardcase commented on #2967
/close

[2022-03-22 08:03] #2967 closed

[2022-03-22 08:15] Skarlso commented on #3086
Uh so sorry got bogged down with fever and life. I'm gonna do this this week or weekend. 😔😊 Thanks for the ping!

[2022-03-22 08:46] richardcase opened #3336 "Make target `generate-go-apis` isn't running on an API change"
/kind bug
/area api
/priority critical-urgent
/triage accepted
/help

**What steps did you take and what happened:**
I have made a change to the [API definition](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/exp/api/v1beta1/awsmanagedmachinepool_types.go) for `AWSManagedMachinePool`. I then run `make generate` and i would expect that the [CRD definition](https://github.com/

[2022-03-22 08:56] Ankitasw commented on #3271
Hey @matlemb , I will try to replicate it locally and let you know if I need any more info.

[2022-03-22 09:33] VibhorChinda commented on #3297
Thanks will have a look into this :)

[2022-03-22 16:37] matlemb commented on #3271
@Ankitasw Thank you very much for your feedback.

For every CIDR block item in svc.spec.loadBalancerSourceRanges a rule in the cluster-lb security group gets created with the source of the CIDR block and the port of the nodeport. This is the only needed rule if using NLB with client ip preservation on (no NAT mode like in classic ELB).

We already tested this locally (disabled the suggested code b

[2022-03-22 16:47] matlemb commented on #3271
@Ankitasw Sorry, i forgot one more thing: The LB controller will additionally add rules for health checks of the Loadbalancer so the user doesn't have to think about this thing (usually the LB listener subnets is used as source).
<sub>Matthias Lembcke <[matthias.lembcke@mercedes-benz.com](mailto:matthias.lembcke@mercedes-benz.com)>, Daimler TSS GmbH ([Provider Information](https://github.com/merce

[2022-03-22 17:59] LucaLanziani commented on #3336
I wouldn't mind working on this if it's ok with you.

[2022-03-23 07:00] Ankitasw commented on #3336
@LucaLanziani please go ahead and assign it to yourself.

[2022-03-23 07:02] LucaLanziani commented on #3336
/assign

[2022-03-23 07:04] Ankitasw commented on #3336
@richardcase are you sure that this is valid issue, as I tried adding a field to `AWSManagedMachinePool` and it works fine for me, adds the field into the CRDs.
Maybe can you give it a try after doing `make clean`?

[2022-03-23 07:18] Ankitasw commented on #3271
Thankyou @matlemb for the explanation.
We have an [issue](https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3088) open to support NLB in CAPA going forward, so this issue would be valid wrt it.
@sedefsavas do we want to handle this issue now or shall we take it later with the NLB support? Please provide your feedback.

[2022-03-23 07:31] matlemb commented on #3271
@Ankitasw The [issue](https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3088) is more about how the control-plane API is exposed (defaults to ELB) which is not affected by this current issue at all because the nodeport services rule (30000-32727) does not contain the port range of the control-plane API. So removing the node port services rules would still leave the control-plane A

[2022-03-23 07:33] Ankitasw commented on #3271
@matlemb Yes, you are aboslutely correct, we already have support for NLBs, the issue I mentioned is more about deprecating ELBs and using NLBs :) so sorry for the confusion.

[2022-03-23 08:45] JoelSpeed commented on #3035
/remove-lifecycle stale

I think this is valuable to add, will see if I can find the time to add the additional context from my research late last year

[2022-03-23 08:50] KushalBeniwal commented on #2267
It looks like no-one is working on this issue.

/assign

[2022-03-23 09:34] Ankitasw commented on #2267
/unassign @mevech @Srikrishnabh

[2022-03-23 09:47] vibhorrawat commented on #2029
@pydctw Thank you for pointing out the issue. Kindly allow me to do the change, test the template again and update with the latest. Thank you.

[2022-03-23 09:54] richardcase commented on #3336
Thanks @Ankitasw.

I just tried `make clean` and that did fix the issue i was having. However, if i make another change and run `make generate` again it doesn't run the [.build/generate-go-apis](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/Makefile#L202) target.

We shouldn't need to do `make clean` between every run of this as i may be iterating on a change.

[2022-03-23 10:04] Ankitasw commented on #3336
Yes, I have faced this issue before, even I was not sure why every time we have to so `make clean`.

[2022-03-23 12:01] Ankitasw commented on #3271
Related to https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3314

[2022-03-23 13:09] Ankitasw commented on #3277
/assign

[2022-03-23 13:13] Ankitasw commented on #3277
@sedefsavas would it be sufficient if we add secondary CIDR in one of the existing test case, or do we want a new E2E test case covering this?

[2022-03-23 13:48] richardcase commented on #3181
I didn't get much further due to time constraints so:

/unassign

[2022-03-23 13:49] richardcase commented on #3181
@Ankitasw - is this something you'd still be interested in working on?

[2022-03-23 13:51] richardcase commented on #2968
/close

[2022-03-23 13:52] #2968 closed

[2022-03-23 14:05] Ankitasw commented on #3181
@richardcase I can do it, if you have not started

[2022-03-23 14:13] richardcase commented on #3181
I prefer the functional options route and thats what i had made a start on. But whichever you feel is best

[2022-03-23 14:17] Ankitasw commented on #3181
I think functional options is better if we want to add more services later, in that way the implementation would be flexible and wont require huge changes everytime we add new service.

[2022-03-23 14:17] Ankitasw commented on #3181
/assign

[2022-03-23 20:19] sedefsavas commented on #3325
Relevant to this, there is an effort going on in K8s https://github.com/kubernetes/release/issues/2383

Looks like sigstore is being used there: https://github.com/kubernetes/website/pull/31610/files

[2022-03-23 20:20] sedefsavas commented on #3325
Might worth to come up with a common workflow for cluster-api and other providers too.

[2022-03-23 22:45] LucaLanziani commented on #3336
The PR above should fix the behavior, I tried changing the `API_SRCS` but that adds an unexpected side effect, I'll try to clean that up tomorrow.

[2022-03-23 23:16] sedefsavas commented on #3295
We can wait for https://github.com/kubernetes-sigs/cluster-api/pull/6312 to be in before merging CAPI version, if there are no objections to that. Trying to avoid the risk of forgetting re-enabling the e2e test once disabled.

[2022-03-23 23:47] sedefsavas commented on #2267
@Ankitasw IIRC there were some difficulties triggering reconcile method in the recent tests you added.
Is this still a good first issue?

[2022-03-23 23:53] sedefsavas commented on #3284
I agree, we can remove `unmanaged` word from docs and the code.

For Clusters --> EKS-managed and CAPA-managed
For VPC --> Externally-managed and CAPA-managed

[2022-03-24 04:04] Ankitasw commented on #2267
Good point @sedefsavas will drop good first issue for now and would see if it's still possible to do this.
/unassign @KushalBeniwal
/remove-good-first-issue

[2022-03-24 06:43] sedefsavas commented on #3271
This is the same issue with https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3314

Modifying auto-created SGs are not supported, but a good workaround is providing your own node SG, see https://cluster-api-aws.sigs.k8s.io/topics/bring-your-own-aws-infrastructure.html#security-groups

When a node SG is provided, CAPA will not create the default one.
[code]

Would that solve your i

[2022-03-24 07:08] Ankitasw commented on #3277
/assign

[2022-03-24 08:31] richardcase commented on #3325
I agree @sedefsavas . We'll probably have to make changes to image-builder / the image promoter stuff which would touch all the providers (probably)

[2022-03-24 09:01] matlemb commented on #3271
@sedefsavas Thank you for your suggestion.

Indeed it would solve the creation of those `node port services rules` but then we would need to handle the creation of the group, the tags of the group and the needed default rules of the group (like node-to-node communication etc.) by ourself (another controller). I think there would be a lot burden to the user for just disabling the default rules of E

[2022-03-24 10:42] Ankitasw commented on #3181
@richardcase I have some questions regarding this implementation:

- As mentioned in example, `NewClusterReconciler` should be used while controller creation in main.go. If that is the case, what opts we will be passing from there? If we pass opts like `WithEC2ServiceFactory`, we would need scope there, but we wont have scope created by then.

[2022-03-24 11:19] yandooo commented on #2420
Are there any updates here?

[2022-03-24 13:18] Ankitasw commented on #3181
Update:
I got some idea after thinking out loud, maybe  I will try it once and raise a WIP PR to get your feedback.

[2022-03-24 13:27] richardcase commented on #2420
/unassign randomvariable
/help

[2022-03-24 13:31] richardcase commented on #3181
Great :) The sample code i gave was just a brain dump....i never actually tested it. So i'm keen to see the idea you had :smile:

[2022-03-24 13:57] yandooo commented on #2420
@richardcase would it be possible to share relevant documentation for the topic if any? As per [comment](https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2420#issuecomment-959022716)  there seems like some progress is made towards standardizing CAPI to support dual-stack. Thanks

[2022-03-24 15:58] sedefsavas commented on #3271
I agree, we will need to add modification to SGs, tracking here: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/392

[2022-03-24 16:21] richardcase commented on #2420
There isn't a huge amount of documentation. The doc mentioned in the thread was the start of a doc to capture notes but we didn't much further. Do you have access to that doc?

[2022-03-24 16:24] yandooo commented on #2420
@richardcase don't have it. I requested access linking your comment in the request message. Appreciated it if it can be shared. Thanks

[2022-03-24 16:25] richardcase commented on #2420
Just sent you an email @yandooo :smile:

[2022-03-24 16:56] sedefsavas opened #3346 "Copy a subset of e2e templates to ClusterClass"
We only have a quick start e2e test ported to ClusterClass, missing templates that use ClusterClass patching.

To validate CAPA's ClusterClass support, we need to port some of the e2e tests to ClusterClass templates.

/priority important-soon
/milestone v1.x

[2022-03-24 17:35] sedefsavas commented on #2208
Since AWS Systems Manager support does not exist at every region, we will go with PostKubeadmCommands. Not really need a design.

/unassign

[2022-03-24 17:36] Ankitasw commented on #2208
/assign

[2022-03-24 17:42] sedefsavas commented on #3346
Relevant issue to keep an eye on:
https://github.com/kubernetes-sigs/cluster-api/issues/6320

In the tests, we will need to provide all fields in a list in the templates as a workaround.

[2022-03-24 18:15] Ankitasw opened #3348 "[E2E] Add tests for all the fields of type AWSResourceReference with filters as input"
/area testing

**Describe the solution you'd like**
Since we now have lookup for the `AWSResourceReference` type fields with filters as well, it would be good to have E2E tests with those fields(currently `Subnet` and `AdditionalSecurityGroups` uses the same) having filters as input to test the lookup functionality.
We might also have to test `Subnet.ID` and `AdditionalSecurityGroups.ID` field inp

[2022-03-24 19:18] sedefsavas commented on #3325
There is a nice TGIK talk about what's being done in Kubernetes about this: https://www.youtube.com/watch?v=H1D0fk9sZ8I

[2022-03-24 19:40] sedefsavas commented on #2995
We should not focus on numbers but rather dividing the over-complicated methods into logical parts.
Copying @vincepri's comment on[ this PR](https://github.com/kubernetes-sigs/cluster-api/pull/6183#discussion_r812134821):

[2022-03-25 04:33] #2835 closed

[2022-03-25 04:33] #3170 closed

[2022-03-25 05:05] #3319 closed

[2022-03-25 05:37] sedefsavas commented on #3035
@JoelSpeed
For the necessary drivers you mentioned above, probably we will need some addons mechanism in place before supporting this.

[2022-03-25 06:13] Ankitasw commented on #3273
/assign
Since facing this issue in [this](https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3347) PR's E2E [test](url), will give a combined solution with this.

[2022-03-25 07:26] Ankitasw commented on #3271
Since we are tracking original issue [here](https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/392), do we want to keep this issue open?
cc @sedefsavas @matlemb

[2022-03-25 08:25] Ankitasw commented on #2758
@erkules I am trying to replicate this issue, so wanted to ask what do you mean by:

Do you mean you forgot to set it in `AWSManagedControlPlane` ? As we cannot set network specs in `MachinePool`.

[2022-03-25 09:03] invidian commented on #2753
I also got hit by this couple of times to the point my machine was very slow due to 10+ instances of api server and etcd running.

[2022-03-25 10:29] Ankitasw commented on #2758
Also, if i try to specify a nil vpc in `AWSManagedControlPlane`, it still creates a new vpc for us.

[2022-03-25 10:33] JoelSpeed commented on #3035
I had imagined this could be relatively self service in the first instance until we have something more concrete in place. I'm not sure what the progress of ClusterResourceSet is, but IIUC, that could be one way users ensure the drivers are present within their clusters

[2022-03-25 13:00] yandooo commented on #2420
I tend to agree on getting IPv6 out first and look at dual stack cohesively to unlock AWS EKS ipv6 feature @sedefsavas.

[2022-03-25 14:55] richardcase commented on #2420
I also think that adding IPv6 first is a good way forward.

[2022-03-25 15:07] invidian opened #3352 "Should_successfully_reconcile_AWCluster_creation_with_unmanaged_VPC test is flaky"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Created 2 PRs. Observed twice this test failing randomly: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-aws/3351/pull-cluster-api-provider-aws-test/1507369944281518080

**What did you expect to happen:**

All tests to pass.

[2022-03-25 17:14] sedefsavas commented on #3352
Tags need to be ordered in that test:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-aws/3351/pull-cluster-api-provider-aws-test/1507369944281518080/build-log.txt

/triage accepted
/priority important-soon
/milestone v1.4

cc @Ankitasw

[2022-03-25 17:19] sedefsavas commented on #3348
/triage accepted
/priority backlog
/milestone v1.x

I think we need to also start documenting or adding comments to the tests/manifests that we overload. Multiple functionality tested in a single test is a good idea, but would be good to keep track.

[2022-03-25 19:17] josh-ferrell opened #3353 "[E2E] Modify internal ELB test to only utilize private subnet."
/kind feature

**Describe the solution you'd like**
Modify the internal ELB test to only use the private subnet created.

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2022-03-25 20:36] sedefsavas commented on #3352
This still looks like an ordering problem:
[code]

[2022-03-25 20:47] josh-ferrell commented on #3323
@sedefsavas Is this as simple as adding a 2nd here https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml that uses something more focused than scripts/ci-e2e.sh?

Is there a list of what we'd consider essential?

[2022-03-27 09:24] Skarlso commented on #3086
yay, got covid, so was out with high fever for most of the week. :/

But hopefully I can pick this up today. :)

[2022-03-27 11:16] DiptoChakrabarty commented on #3315
@sedefsavas  so in here https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/6ab95625da2aabb209bc5744883eb4c009cc4fba/exp/controllers/awsmachinepool_controller.go#L534
I create a `autoscaling.Group (from github.com/aws/aws-sdk-go/service/autoscaling)`  using the `*scope.MachinePoolScope` and fit that into SDKToAutoScalingGroup which returns a `expinfrav1.AutoScalingGroup` and compare i

[2022-03-27 23:28] sedefsavas commented on #3086
Hope you are better. This is not urgent at all, take care.

[2022-03-28 06:39] Ankitasw commented on #3352
/assign

[2022-03-28 06:40] Ankitasw commented on #3353
/assign @josh-ferrell

[2022-03-28 08:43] Skarlso commented on #3086
Thanks, yeah it's better today. :)

[2022-03-28 12:10] josh-ferrell commented on #3353
@Ankitasw @sedefsavas Does #3354 satisfy "Provision a Cluster in a VPC with only private subnets" because the AWS Cluster object in that test only references the private subnet but the infra buildout is the typical VPC with both a public and private subnet.

[2022-03-28 17:55] sedefsavas commented on #3315
SDKToAutoScalingGroup() should not need to be called from [awsmachinepool_controller.go](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/6ab95625da2aabb209bc5744883eb4c009cc4fba/exp/controllers/awsmachinepool_controller.go#L534)

**1) Changes that will be done in SDKToAutoScalingGroup() method:**

add 	Subnets field to the conversion:
[code]
You can see how we generate VPCZoneIden

[2022-03-28 18:41] #3352 closed

[2022-03-28 20:26] Skarlso commented on #3086
@sbueringer Hi!

Are you sure that this is the right link? https://github.com/kubernetes-sigs/cluster-api/blob/main/Makefile#L437-L441

This is linking to a docker build make target... I think you meant to use 84-86 maybe? https://github.com/kubernetes-sigs/cluster-api/blob/main/Makefile#L81-L84

Or did this change since? I guess the Makefile was updated or stuff was moved, right?

[2022-03-28 20:33] Skarlso commented on #3086
ah you probably meant this part:

[code]

[2022-03-28 20:37] Skarlso commented on #3086
Ah, yeah okay, I know what to do know. :)

[2022-03-28 21:10] josh-ferrell opened #3360 "[E2E] Merge external infrastructure, peered VPCs, internal ELB and private subnets test"
/kind feature

**Describe the solution you'd like**
Merge the external infrastructure, peered VPCs, internal ELB and private subnets test. This will help alleviate the VPC limit being reached.

**Anything else you would like to add:**

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2022-03-28 23:04] josh-ferrell commented on #3360
This can be assigned to me

[2022-03-28 23:37] #3353 closed

[2022-03-28 23:40] sedefsavas commented on #3360
You should be able to assign yourself.
Does /assign not work?

[2022-03-28 23:41] sedefsavas commented on #3360
/triage accepted
/milestone v1.x
/priority important-soon

[2022-03-29 02:35] josh-ferrell commented on #3360
/assign

[2022-03-29 02:35] josh-ferrell commented on #3360
@sedefsavas Sorry about that

[2022-03-29 04:43] sedefsavas commented on #3323
Yes, we can use Gingko Focus for selecting the tests. We add certain label to test names in this repo then use that label for essential tests.

There is no specific definition I have in mind, for example we have 3 different cluster upgrade tests that are taking too much time, we could only run 1 of them and get a good signal still, especially for small PRs. Idea is to cover different logic with as

[2022-03-29 05:47] VibhorChinda commented on #1746
/assign

[2022-03-29 05:53] sbueringer commented on #3086
@Skarlso Exactly. I should have used a link based on a commit :). Our Makefile changed quite a bit recently.

[2022-03-29 06:03] Skarlso commented on #3086
No worries. :) I found it in the end. :) Now I'm comparing if we do anything extra in `fetch_ext_bins.sh` or if this can just be a drop-in replacement. And I'm wondering where, or if, the cleanup should be called.

[2022-03-29 06:19] matlemb commented on #3271
@Ankitasw Sorry for my late reply, From my understanding by reading through issue 392 and the mentioned issues (3341 for this case) it's okay for me to close this issue as we all have a common understanding what the problem is and how the solution in future should look like.

I just wanted so make everyone aware of the security concerns regarding 3341 when using NLBs.
<sub>Matthias Lembcke <[matth

[2022-03-29 06:21] Ankitasw commented on #3271
Thankyou @matlemb for raising the concern.
/close in favor of https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/392 and https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3341

[2022-03-29 06:22] Ankitasw commented on #3271
/close

[2022-03-29 06:22] #3271 closed

[2022-03-29 06:44] richardcase commented on #2355
Changing this to be a general v1beta2/v1 API changes issue

[2022-03-29 06:50] Ankitasw commented on #2355
ARN field in `AWSResourceReference`.
(couldn't edit the PR description, not enough permissions)

[2022-03-29 07:10] Ankitasw commented on #3348
/assign

[2022-03-29 07:48] mweibel opened #3361 "Missing IAM permissions for SSM"
/kind bug

**What steps did you take and what happened:**
The SSM agent reports some missing permissions, notably: `ssm:ListAssociations`, `ssm:ListInstanceAssociations`, `ec2messages:GetMessages`:

[code]

I'm not sure how important those permissions are - we just saw them and thought to report it.

**What did you expect to happen:**
No errors in ssm worker logs.

**Anything else you would like t

[2022-03-29 09:39] sbueringer commented on #3086
Looks like in CAPI we're not calling it at all. I guess so we "cache" between test runs

[2022-03-29 09:44] Skarlso commented on #3086
There were some interesting things here. Some deprecation, some function wasn't called at all too. ¯\\\_(ツ)\_/¯.

I hope my changes will work. :D I also had to add a `-count 1` so I force a re-run without using the cache. I thought everything is working until I realised that it's not running anything hahahaha.

[2022-03-29 10:26] #3086 closed

[2022-03-29 10:32] richardcase opened #3363 "Use bootstrap data with `AWSManagedMachinePools`"
/kind feature
/area provider/eks
/priority important-soon
/triage accepted

**Describe the solution you'd like**
We should support using the EKS bootstrapper with `AWSManagedMachinePools` as this will allow customization of the EKS cluster and also features like pre/post bootstrap commands.

We shouldn't do this until #3094 has merged as this adds support for launch templates.

**Anything else you

[2022-03-29 14:32] #2656 closed

[2022-03-29 16:25] #1979 closed

[2022-03-29 21:16] sedefsavas commented on #3361
CAPA does not use those calls so the default roles created with clusterawsadm do not come with those permissions. List of permissions needed is here (might be a little out-dated): https://cluster-api-aws.sigs.k8s.io/topics/iam-permissions.html

Additional permissions could be added by passing a config file to clusterawsadm.

[2022-03-30 06:14] #3273 closed

[2022-03-30 06:14] #3277 closed

[2022-03-30 07:49] richardcase commented on #2420
/assign
/assign Skarlso

[2022-03-30 07:52] richardcase commented on #2420
@Skarlso - this was the issue i was thinking og.

[2022-03-30 08:00] Skarlso commented on #2420
Hi! :)

Let's tackle this! :) We have some experience creating the necessary resources in eksctl, so hopefully, I can be of assistance here.

[2022-03-30 08:13] richardcase commented on #2420
/assign Skarlso

[2022-03-30 11:11] nikimanoledaki commented on #2420
I would love to collaborate on this too! I worked on planning IPv6 for eksctl and implementing it alongside @Skarlso. :) See: https://github.com/weaveworks/eksctl/issues/4255

[2022-03-30 11:21] richardcase commented on #2420
Awesome, thanks :+1:

/assign nikimanoledaki

[2022-03-30 13:20] LucaLanziani commented on #3329
@faiq I can see that you are working in this, do you mind assign the issue to yourself :pray: .
This will help when people (like me) are looking for new issues to work on.

[2022-03-30 15:07] VibhorChinda commented on #1746
Hii @Ankitasw @richardcase I was looking into the description of this issue and understood the following :
1. Tags are created for the resources which we create in AWS [System tags (AWS: prefix), user tags]
2. We need to validate the tags which user creates for the resources. Following the rules mentioned here under "Tag naming limits and requirements" [https://docs.aws.amazon.com/general/latest/g

[2022-03-30 16:12] faiq commented on #3329
/assign

[2022-03-31 01:45] LucaLanziani commented on #3316
/assign

[2022-03-31 05:24] mweibel commented on #3361
Ok - thanks for the clarification :+1:

[2022-03-31 05:24] #3361 closed

[2022-03-31 07:06] xylonx commented on #2178
Hi, I am xylonx wanting to sovle the issue by introducing some observation tool like prometheus or jaeger and collecting the metrics info by opentelemetry. Actually, I want to treat it as my GSoC 2022 project. I am new in this community and hope it can encourage my cloud native knowledge and skill. I have used opentelemetry and prometheus / jaeger before, therefore I think I can solve it. Could yo

[2022-03-31 10:24] vibhorrawat commented on #2029
Hi @pydctw  and @richardcase, I think it worked. No more `failed to retrieve EKSConfigTemplate` error messages in the `capi _controller`.
Here is what I'm seeing in the controller logs-

In `capi_controller`::
[code]
In `capa_controller`::
[code]

Question- How could I validate if all the required stuff is deployed using the template? Any command or documentation I could refer to? Kindly suggest.

[2022-03-31 23:00] pydctw opened #3371 "Externally managed security groups e2e test doesn't clean up infrastructure when test fails"
/kind bug

**What steps did you take and what happened:**
Ran e2e test locally, [Externally managed security groups](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/test/e2e/suites/unmanaged/unmanaged_functional_test.go#L687), and the test failed while creating a cluster due to some reason.

Infrastructure created for the test such as vpc, subnets, route table are not cleaned

[2022-03-31 23:00] pydctw commented on #3371
cc @josh-ferrell

[2022-03-31 23:09] pydctw commented on #3371
I think this may be related to VPC exceeded limit issue observed recently as the test doesn't clean up VPC when it fails.

[2022-03-31 23:23] sedefsavas commented on #3371
/triage accepted
/priority important-soon
/milestone v1.4.0

[2022-04-01 13:34] matlemb opened #3372 "capa-controller-manager continously creates new launchtemplate versions"
/kind bug

**What steps did you take and what happened:**
`capa-controller-manager` continously creates new launchtemplate versions even when manual changes are done to the `AWSMachinePool` resource. At first i thought this might be an tag ordering issue because i applied additional tags via `AWSMachinePool.spec.additionalTags` which where ordered differently on each version when checking the laun

[2022-04-01 13:39] richardcase commented on #1746
@VibhorChinda - yes thats correct. For the implementation, we need to ensure that it can be used everywhere where a user can specify tags (and arguably also to the autogenerated tags as well). One thing to be aware of is that we have a [Tags struct](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/api/v1beta1/tags.go) that we use in the code and this may help with the implemen

[2022-04-01 13:40] richardcase commented on #3329
@faiq  - its also good to do this as well when you start to work on an issue:

/lifecycle active

[2022-04-01 13:44] richardcase commented on #2029
@vibhorrawat - do you see the ASG and EC2 instances created for this cluster / machine pool?

[2022-04-01 13:44] Ankitasw commented on #3316
@richardcase I think this refactor should not collide with what I am doing in #3345, is it correct? Yeah but since we will have two PRs raised, we might get merged conflicts.

[2022-04-01 13:54] LucaLanziani commented on #3316
I was looking yesterday at the code and I've seen that in the [tests](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/controllers/awsmachine_controller_test.go#L154) the [reconcideDelete](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/d1fcc96203504a7bb6bf1221266d94ce99b070ca/controllers/awsmachine_controller.go#L286) method is called using multiple cluster s

[2022-04-01 13:59] LucaLanziani commented on #3316
What you are telling me is that I should move faster and try to get my PR in before yours ;P

[2022-04-01 14:07] richardcase commented on #3316
:rofl: I only mentioned it for awareness because you are working on the same controllers.

[2022-04-01 14:11] richardcase commented on #3316
Personally i think we are getting to the point where passing a struct is preferable to the large number of arguments, it would be a bit cleaner. We could call it something like:

[code]

Or something like that.

[2022-04-01 14:18] LucaLanziani commented on #3316
I just realized that I linked the wrong line on the test, I'm ok to change the name of the structure, I was more referring to the fact that we are assigning the same `cs` to `ec2Scope, elbScope, objectStoreScope`

[2022-04-01 14:22] DiptoChakrabarty commented on #3315
@sedefsavas made a PR , just a bit confused on the comparison/diff checking between  `existingASG` and `machinePoolScope.AWSMachinePool.Spec.Subnets` , will follow up any changes requested. Thank you for all the help until now.

[2022-04-01 16:35] sedefsavas commented on #3372
This is a feature, added with https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2354.
TL;DR Bootstrap token expires every 15 min, and when a new template is not created, during scale up, new machines fails to join the cluster.
New launch templates are created on user data (bootstrap token) changes.

One todo left was cleaning up older launch templates. Will checkout if we have an is

[2022-04-02 17:03] Ankitasw commented on #3259
/close

[2022-04-02 17:03] #3259 closed

[2022-04-02 18:31] VibhorChinda commented on #1746
@richardcase thanks for this ig now ik what I can do :)

[2022-04-02 18:38] VibhorChinda commented on #1746
@richardcase @Ankitasw have a look at this [function ](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/api/v1beta1/tags.go#L77) What I am thinking is that we just need to increase the checks in this function.

If we go with above approach, I can implement all check other than below.

"Tag keys and values are case sensitive. As a best practice, decide on a strategy for capital

[2022-04-04 06:06] sedefsavas commented on #2420
I came across this old PR for IPv6 support:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1322 https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1370

Might be useful.

[2022-04-04 06:08] sedefsavas commented on #2420
Also CAPZ IPv6 support implementation: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/646

[2022-04-04 06:18] sedefsavas opened #3381 "Add dual stack support"
Add support to create dual-stack clusters and add e2e test for it.

Dual stack is stable in Kubernetes v1.23: https://kubernetes.io/docs/concepts/services-networking/dual-stack

New AWS networking features to support dual stack: NAT64 and DNS64
https://aws.amazon.com/blogs/aws/let-your-ipv6-only-workloads-connect-to-ipv4-services/

/kind feature
/priority important long-term

Ongoing work for IPv6

[2022-04-04 07:00] sedefsavas commented on #3372
Found this fix on cleaning up the old templates: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2525

Continuous creation of LaunchTemplates are on purpose but are the old versions not being cleaned up in your tests? If so, this is a bug.

[2022-04-04 08:13] Ankitasw commented on #1746
I think we can add this validation as well in our tags like to check whether camel case is followed or not, but we need to decide on which type of tag naming we want to follow like Costcenter, costcenter, or CostCenter. Can we take this up in CAPA office hours today to get the feedback from others as well?

[2022-04-04 08:21] matlemb commented on #3372
@sedefsavas Thank you very much for sharing your insights. Currently there are only 2 additional versions to the default version available so i guess the cleanup works as expected .

I'll close the issue.

<sub>Matthias Lembcke <[matthias.lembcke@mercedes-benz.com](mailto:matthias.lembcke@mercedes-benz.com)>, Daimler TSS GmbH ([Provider Information](https://github.com/mercedes-benz/daimler-foss/bl

[2022-04-04 08:21] #3372 closed

[2022-04-04 08:23] VibhorChinda commented on #1746
Makes sense @Ankitasw once we know what type of naming convention to follow we could add validation for this also :))

But on the other side if I think that we follow CamelCase convention,
"CostCenter" should be ideal tag but how will I know that which character has to be in uppercase if I traverse through the list of tags.

Idk If I could make you understand my point here, but will discuss in off

[2022-04-04 08:25] Ankitasw commented on #1746
"CostCenter" should be ideal tag but how will I know that which character has to be in uppercase if I traverse through the list of tags.

Yes that's why I said we need a common consensus on how we want to follow, if you could join today's office hours, it would be helpful, but it's totally up to you. I can start the discussion in CAPA office hours as well.

[2022-04-04 08:41] VibhorChinda commented on #1746
I will join, will discuss on this.  :)

[2022-04-04 11:46] Madhur97 opened #3384 "Validate and document EFS CSI driver support"
/kind feature

**Describe the solution you'd like**
Add [EFS CSI driver](https://github.com/kubernetes-sigs/aws-efs-csi-driver) to defaults addons manifest so that CAPA clusters running on AWS can manage the lifecycle of [Amazon EFS](https://docs.aws.amazon.com/efs/latest/ug/whatisefs.html) file systems.

[2022-04-04 16:47] pydctw commented on #3346
Continuing discussion from 4/4/22 office hours.

There are ~20 e2e tests in unmanaged test suites (ClusterClass is not supported for EKS cluster at the moment) and only some of tests make sense to run with ClusterClass.

Options I've been thinking
1) Re-use existing tests and make it select different flavors depending on a configuration variable. Existing test-grid pipeline will run as is while we

[2022-04-04 18:23] sedefsavas commented on #3346
@pydctw Thanks for listing out the options.

I'd opt for having a separate folder for ClusterClass test for the following reasons:
- e2e tests are very complicated and have high learning curve as it is. Combining ClusterClass logic into existing tests will make things more complicated as we might have to add customize logic specific to ClusterClass. Debugging will be easier if we have separate fol

[2022-04-04 18:38] pydctw commented on #3346
Thanks for the input and it makes sense. A few follow-up questions

* Where do you suggest to create a new folder? Should it be sth like `unmanaged-clusterclass` under https://github.com/kubernetes-sigs/cluster-api-provider-aws/tree/main/test/e2e/suites?

I agree with this goal in the long term but will start porting individual test first because 1) it is already difficult to write ClusterClass co

[2022-04-04 18:47] sedefsavas opened #3386 "Makefile targets fails with setup-envtest not exist error"
On a clean checkout, I hit the following issue when I run several targets:

[code]

Having setup-envtest is not a requirement for those targets so should not see this error.
This issue goes away after running make test as setup-envtest gets added to bin folder.

This bug is introduced with https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3362
/kind bug
/triage accepted
/priority im

[2022-04-04 18:48] sedefsavas commented on #3386
cc @Skarlso

[2022-04-04 18:50] Skarlso commented on #3386
Huh. :O Oh dang, how the... I'll investigate ASAP.

Thank you for pinging.

[2022-04-04 18:50] Skarlso commented on #3386
/assign

[2022-04-04 19:21] sedefsavas commented on #3384
/triage accepted
/milestone v1.5.0

[2022-04-04 19:37] Skarlso commented on #3386
Oh I see what's wrong. I'll do some shuffling, and then it should be okay. 🤞 :D

[2022-04-04 20:29] sedefsavas commented on #3346
If the purpose is to reduce code duplication, CAPI is doing it by having specs and calling them with different flavors instead of having flags to switch flavors.

My suggestion is not towards combining tests in the first iteration. We can have a separate file/folder and copy paste the test flavors that we want to replicate with ClusterClass. This will make bundling the tests in the next iteration

[2022-04-04 20:55] #3282 closed

[2022-04-04 21:16] pydctw commented on #3346
I think we are saying the same thing. Option 1 proposed is to call different flavors as CAPI does. CAPI can do it without flags because their tests accepts flavors as an input variable while our test does not. I was trying to mimic the behavior using a config variable instead of extracting out each test as a separate file and provide different flavors as an input.

Based on the discussion, I think

[2022-04-05 06:21] #3386 closed

[2022-04-05 16:27] elmiko commented on #2022
in that case though, what is the integration between the cluster api MachinePool object and the cluster autoscaler? does the MachinePool just need to be updated about what has happened in the workload cluster or is there another concern i'm missing?

[2022-04-05 17:59] AverageMarcus commented on #2022
Ideally, this approach: https://github.com/kubernetes-sigs/cluster-api/pull/5685

Allowing something other than cluster-api to handle the desired replicas while still having it control the min/max of a pool.

[2022-04-05 18:53] pydctw opened #3390 "Streamline GINKGO variables usage in Makefile target"
/kind feature

**Describe the solution you'd like**
Our e2e tests are using a mix of E2E_FOCUS and GINKGO_SKIP that are feeding into GINKGO_ARGS.

[code]

It will be great to define GINKGO_FOCUS (replace E2E_FOCUS) and GINKGO_SKIP as separate variables to be consistent with other providers and make it easier to use them in test-infra.

For example, test-e2e make target can be defined as follow.
[c

[2022-04-06 00:16] puerco commented on #3325
Hey I just saw this issue referenced in SIG Release, I'm happy to help out!

[2022-04-06 08:23] Ankitasw commented on #2316
/remove lifecycle-stale
/lifecycle frozen

[2022-04-07 00:17] VictorLeviPeixoto commented on #3056
Since docker buildx is a experimental feature, besides it can simplify the code and run faster multiple arch images it can generate more problems than solutions. Since it is a developing feature it can receive updates that can crash the application and generate bugs and issues
[Source](https://www.docker.com/blog/multi-arch-build-and-images-the-simple-way/)

[2022-04-07 00:55] sedefsavas commented on #3056
AFAIK it's been used by Kubernetes/Kubernetes repo for a while now.
https://pythonspeed.com/articles/docker-buildkit/

The source doc shared above is old.

[2022-04-07 04:05] Madhur97 commented on #3384
Yes, we will validate it with an E2E test.

[2022-04-07 04:06] Madhur97 commented on #3384
/assign

[2022-04-07 11:07] yandooo commented on #2420
Does the following CR creation experience look acceptable?

AWS provided CIDR:

[code]

Fine-graned configuration assuming CIDR block known upfront (from ipv6 pool):

[code]

[2022-04-07 15:06] pydctw commented on #2239
/close

[2022-04-07 15:07] #2239 closed

[2022-04-07 17:35] richardcase commented on #2178
It would be worth having a look at the demo Bryan did in the CAPI office hours on 16th Sept 2021: https://youtu.be/aThFgrYthOc

[2022-04-07 17:37] richardcase commented on #2178
There was an issue on CAPI as well to add this but it was closed as it went stale: https://github.com/kubernetes-sigs/cluster-api/issues/3760.

Adttionally CAPZ added otel support see:

- https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/311
- https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1113

[2022-04-07 23:49] dlmather opened #3394 "Enabling InsecureSkipSecretsManager in AWSMachine CloudInit results in "invalid secret backend" errors"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Set `CloudInit.InsecureSkipSecretsManager` to true in AWSMachineTemplates for our control-plane machines. Machines booted correctly, but during control plane rolls, machines fail to be properly deleted by the capa-controller-manager, with errors like the following:
[code]

https://github

[2022-04-07 23:57] sedefsavas commented on #3394
Thanks for reporting this.

Will need to debug this further but I see in the code path that this is a valid issue.

Also, we are missing an e2e test with this flag on, that is why tests could not catch this.

/triage accepted
/priority important-soon

[2022-04-08 00:00] sedefsavas commented on #3390
/triage accepted
/priority backlog

[2022-04-08 00:56] dlmather commented on #3394
Okay, we might take a stab at raising a fix ourselves, just because we'll likely want to have this working on our clusters in the shorter term. Will reference any PR with this issue if we find success there :)

[2022-04-08 01:01] sedefsavas commented on #3394
Are you working on a fork?

Do you mind sharing the use case where using any of the secret manager backends not an option?

[2022-04-08 01:28] dlmather commented on #3394
I can't remember the exact issue, but we ran into some cloud init bootstrapping issues when spinning up other K8s 1.23.4 clusters and found the suggestion here: https://cluster-api-aws.sigs.k8s.io/topics/userdata-privacy.html#how-cluster-api-secures-tls-secrets. That appeared to resolve the issue and we moved on. Now I've come back to older clusters to upgrade and ran into the deletion issue at th

[2022-04-08 01:33] sedefsavas commented on #3394
If you are interested in working on this, we can make a patch release right after that is merged.

[2022-04-08 08:54] mloiseleur opened #3395 "additionalTags is not set on the VPC"
/kind bug

**What steps did you take and what happened:**
I set a new custom Tag with `additionalTags` on `AWSManagedControlPlane`.

It works well on EC 2 instances, EBS or subnet, but the VPC does not have the additionalTag, only the default tags of this provider.

**What did you expect to happen:**

The VPC should have the additionnalTag, too.

**Anything else you would like to add:**

**Environ

[2022-04-08 08:56] mweibel opened #3396 "Disable Source/Dest Check on network interfaces"
/kind feature

**Describe the solution you'd like**
Calico over VXLAN requires to disable the source/dest check of AWS network interfaces. Currently it is impossible to configure that via CAPA and one needs to run e.g. [a src dest check controller](https://github.com/ottoyiu/k8s-ec2-srcdst) which automatically disables it on the ec2 instances once new nodes come up.

I'd like to be able to disable

[2022-04-08 09:00] mloiseleur commented on #3395
It's weird. Some of them have the tag, some of them have not. I'll close this issue and reopen it when I have clear view on how it can happens.

[2022-04-08 21:13] pydctw opened #3399 "Cluster creation fails with an error, security group and subnet for an instance belong to different networks"
/kind bug

**What steps did you take and what happened:**
Creating a cluster using a ClusterClass fails and the log shows an error indicating that an instance creation failed with an error, `failed to run instance: InvalidParameter: Security group sg-0b2785eae128cccad and subnet subnet-8b13d7d6 belong to different networks`
[code]

AWSCluster
[code]

AWSMachine
[code]

While `sg-0b2785eae128cccad`

[2022-04-08 21:19] pydctw commented on #3399
Investigated the test failure and filed an issue - https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3399

I've ran the tests multiple times locally and it passed except once, which had the same failure as the filed issue.

While the failure doesn't happen all the time, we will probably need to wait for the above issue to be resolved/fixed before merging this PR.

[2022-04-08 21:19] pydctw commented on #3399
/hold

[2022-04-08 22:55] sedefsavas commented on #3399
/triage accepted
/priority critical-urgent
/milestone v1.5.1

[2022-04-08 23:06] #3360 closed

[2022-04-08 23:15] sedefsavas commented on #3399
AFAIK this issue has never being observed with e2e tests without ClusterClass, so may be related to inner-workings of ClusterClass.

[2022-04-11 05:07] nehatomar12 opened #3402 "AWSMachine Reconciler fails with error "invalid secret backend" if insecureSkipSecretsManager: true with latest version 1.4.0"
I am using version v1.4.0
I have `insecureSkipSecretsManager: true` in cloudInit

<img width="592" alt="Screenshot 2022-04-11 at 10 31 23 AM" src="https://user-images.githubusercontent.com/51879259/162668026-9bd8555e-64b4-4891-b952-1e2c66d2a823.png">

as this flag is set `secureSecretsBackend`  value is empty
due to which at the time of reconciliation [flow](https://github.com/platform9/cluster-ap

[2022-04-11 05:41] sedefsavas commented on #3402
Hi @nehatomar12, we had significant changes in v1.14.0 release to support[ ignition based bootstrapping](https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2271).

We are already tracking this issue here:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3394

and will make a release that will fix this soon.

[2022-04-11 05:42] sedefsavas commented on #3402
cc @invidian if you have time to review the fix for this to make sure ignition support is not affected: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3400

[2022-04-11 08:53] richardcase commented on #2055
/lifecycle frozen
/assign richardchen331

[2022-04-11 12:53] Ankitasw commented on #2758
@erkules reminder for the clarification.

[2022-04-11 13:03] mloiseleur opened #3404 "AWSMachineTemplate with spot instance generate false error log"
/kind bug

**What steps did you take and what happened:**
When I declare spotInstance on a new AWSMachineTemplate, like this:

[code]

Everything works fine. MachineDeployment using this template provision the new nodes, etc. They are seen by the management cluster and by the workload cluster.

But it generates a false error log on capi-controller-manager :

[code]

Even though the nodes and the m

[2022-04-11 13:54] Ankitasw commented on #3404
Hey @mloiseleur, I don't think this is really an issue, cause while reconciling the machines, machine controller tries to fetch the machine object from etcd, and if it is not found, it is reconciled again. Till the machine is created, you'll see this error message, and it's not just with spot instances, even with on-demand instances, you'll see this error.

[2022-04-11 14:19] mloiseleur commented on #3404
Hey @Ankitasw :wave:,

The thing is, this error message is not until the machine is created. It never stops to fill the logs, even after the new nodes/machines are created, pods are moved on it and everything is stable.

[2022-04-11 14:19] richardcase opened #3405 "Update the release changelog script to use arguments"
/kind refactor
/priority backlog
/triage accepted
/help
/good-first-issue

**Describe the solution you'd like**
Update the [releasechangelog.sh](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/hack/releasechangelog.sh) script to use arguments instead of relying on the right variables being set out side the script.

We need to ensure that any variable set from the arguments ar

[2022-04-11 17:35] vincepri commented on #3088
Are we planning to convert the existing Classic ELBs to NLBs?

[2022-04-12 00:01] #3394 closed

[2022-04-12 01:51] meghanajangi commented on #3405
/assign

[2022-04-12 06:39] sedefsavas commented on #3402
/close
in favor of https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3394

[2022-04-12 06:39] #3402 closed

[2022-04-12 06:56] #2758 closed

[2022-04-12 08:13] richardcase opened #3410 "Deprecate `DisableVPCCNI` in `AWSManagedControlPlane`"
/kind feature
/area provider/eks
/priority important-longterm
/triage accepted
/help

**Describe the solution you'd like**
With #3374 we are introducing a new struct for settings that relate to the VPC CNI  (a.k.a aws-node). We should add a `Disable` field to this and start deprecation of `DisableVPCCNI`.

Any code that relies on `DisableVPCCNI` should be changed to use a field on the managed cont

[2022-04-13 00:19] sedefsavas commented on #3396
Disabling src/dst check during ec2 creation does not look possible either. So from my understanding, this is something that needs to be done after the cluster is up. Installing an addon to do this might make more sense if this is the case. After the addon proposal is in, we can utilize it to add addons similar to kOps.

[2022-04-13 03:55] sedefsavas opened #3414 "Graduation of EventBridge Feature"
This issue is to track graduation of the Eventbridge feature, which currently only watches instance state change events.

There are other type of CloudWatch events that can be watched and acted upon such as ASG Scale in events and Spot Instance Termination Notices.

Some use cases for these:

- In the current AWSMachinePool implementation, we don't have draining logic and with the use of lifecycle

[2022-04-13 03:56] sedefsavas commented on #3414
/milestone v1.5.0

[2022-04-13 04:07] sedefsavas commented on #3297
cc @Madhur97 created the layout for cluster api repo if you need help.

[2022-04-13 04:48] Ankitasw commented on #3414
/assign

[2022-04-13 07:46] Ankitasw commented on #3414
/adr-required

[2022-04-13 07:47] Ankitasw commented on #3414
/label adr-required

[2022-04-13 07:49] Ankitasw commented on #3414
/adr required

[2022-04-13 14:28] nehatomar12 commented on #3402
@sedefsavas Thanks
is there any documentation regarding how can I configure AWS secret manager with CAPA?

when I am using `insecureSkipSecretsManager: false` default AWS secret manager is used, I am getting cloudinit boot issue
`Exception: [Errno 2] No such file or directory: '/etc/secret-userdata.txt' for url: file:///etc/secret-userdata.txt`

in the documentation, its is mentioned that this wil

[2022-04-13 14:31] nehatomar12 commented on #3394
@dlmather with insecureSkipSecretsManager: false (or the default behaviour ) in cloudInit

are you getting `Exception: [Errno 2] No such file or directory: '/etc/secret-userdata.txt' for url: file:///etc/secret-userdata.txt` for cloud-init ?

[2022-04-13 15:01] nehatomar12 commented on #2309
@dkoshkin did you find any documentation for this?
Please can you explain a bit more on what exactly is `added a secretsmanager VPC endpoint for the init script.`

[2022-04-13 15:46] vibhorrawat commented on #2029
@richardcase Nope I do not see any ASGs or EC2 instances created for the cluster. All I can see a cluster created in EKS.

[2022-04-13 22:31] pydctw commented on #3399
This was such a fascinating and difficult issue to debug.

### Observations
* The issue happens randomly. Instance creation can fail at 1st, 2nd or 3rd CP creation.
* Cluster creation is successful most of the times and it fails with the issue sometimes.
* A cluster that failed an e2e test due to time out while waiting for a control plane eventually created an instance and cluster became ready.

#

[2022-04-14 12:55] nehatomar12 opened #3422 "Replace default userdata created with AWS secret manager with custom userdata"
CAPA version v1.4.0
I want to use AWS secret manager as a backend, so I have set cloudInit to `secureSecretsBackend: secrets-manager`

when I create a workload cluster, by default there is some user data generated for the EC2 instance
[code]

I am using custom kubeadm config, I have correct userdata  present `BootstrapConfig.Status.DataSecretName` `Machine.Spec.Bootstrap.DataSecretName`  `Machine.

[2022-04-14 18:22] sedefsavas opened #3424 "[e2e] Rename Cluster names to match spec name"
Test templates do not reflect which test they are for: https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-e2e/1514452035578105856/artifacts/clusters/bootstrap/

We should use the spec name during cluster name generation similar to how [cluster api ](https://github.com/kubernetes-sigs/cluster-api/blob/61c9e2154106a49ea0d1be8cb48bea1d8391b965/test/e2e/quick_start.go#

[2022-04-14 19:23] aeroniero33 commented on #3074
Hi, is there any update about the above issue? Is it possible for me to help with the PR in any way? :slightly_smiling_face:

[2022-04-14 20:59] #3371 closed

[2022-04-15 08:01] ydarb commented on #3424
I'd like to give this a go.
/assign

[2022-04-15 16:15] soodr opened #3427 "[EKS] Error creating clusters with the quick start guide"
**What steps did you take and what happened:**

Created the management cluster using eksctl :

**eksctl create cluster --profile aaa --name bbb**

All the AWS provider steps from initialization to generating the workload clusters executed successfully.
However the workload cluster is stuck in a provisioning state.

kubectl get clusters
NAME PHASE AGE VERSION
capi-quickstart Provisioning 179m

Envi

[2022-04-15 16:22] sedefsavas commented on #3427
Looks like pod is failing to make SDK calls.

Have you already attached the required permissions to the control plane instances (assuming CAPA controllers are on the EKS control-plane nodes)?
https://cluster-api-aws.sigs.k8s.io/topics/eks/prerequisites.html

[2022-04-15 16:43] sedefsavas commented on #3038
Backports merged.
/close

[2022-04-15 16:43] #3038 closed

[2022-04-15 17:30] soodr commented on #3427
yes. I followed the steps here. https://cluster-api.sigs.k8s.io/user/quick-start.html
specifically the command

[2022-04-16 14:55] #2969 closed

[2022-04-16 17:48] shubhimainalli commented on #3424
/assign

[2022-04-17 03:15] #3424 closed

[2022-04-18 16:27] sedefsavas commented on #2296
/open

[2022-04-18 16:46] #2087 closed

[2022-04-18 20:05] sedefsavas commented on #1746
@VibhorChinda there is an extra # in `Fixes`  section of the PR definition, that is why the issue is not closed automatically.

/close

[2022-04-18 20:05] #1746 closed

[2022-04-19 04:20] sedefsavas commented on #3422
You can use pre and post Kubeadm commands for adding additional logic to run on boot up. An example: https://storage.googleapis.com/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-e2e/1515358559267721216/artifacts/templates/cluster-template-conformance-ci-artifacts.yaml

[2022-04-19 11:09] mimmus opened #3432 "CAPA cluster with private subnets only and a Transit Gateway as default route"
/kind feature

We would like to create a cluster with:
-     already existing VPC and subnets on 3 AZs
-     only private subnets, with a Transit Gateway as default route (no NAT/Internet gw)
?
This is our current setup on AWS, as we deploy only internal services and we have a Direct Connect with on-premises resources.

[2022-04-19 17:05] HeyAdityaPatidar commented on #2178
Hey! @sedefsavas and @richardcase, I'm Aditya, I want to work on the project for GSoC. Is it already assigned to anyone else?
Can you please acknowledge me on this project?
Can you help me with this problem?

[2022-04-19 17:44] sedefsavas opened #3433 "Multitenancy ClusterClass test fails"
[Test](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-e2e/1516446068760383488) errors from the [logs](https://storage.googleapis.com/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-e2e/1516446068760383488/build-log.txt)
[6] Error from server (AlreadyExists): error when creating "STDIN": awsclusterroleidentities.infrastructure.cluster.x-k8s.io "capam

[2022-04-19 17:45] #3348 closed

[2022-04-19 19:57] srm09 opened #3434 "Stale nodes left behind on a workload cluster"
/kind bug

**What steps did you take and what happened:**
- Create a workload cluster with a MHC targeting NotReady worker nodes
- For some reason, the worker nodes of the cluster do not get into the Ready state (the CPI pods do not get deployed)
- MHC reaps the not Ready Machines to retry creating new nodes.
[code]

**What did you expect to happen:**
Reaped nodes by MHC should not show up in the

[2022-04-19 20:15] pydctw commented on #3433
Interesting because the original PR ran both tests multiple times and passed: [logs](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-aws/3389/pull-cluster-api-provider-aws-e2e/1514263594596831232/build-log.txt). Could it be a flake?

Original Multi-tenancy test
[code]

Multi-tenancy test with ClusterClass
[code]

Anyway, as we are separating the

[2022-04-19 21:10] sedefsavas commented on #3433
This is not a flake, the reason this only happens sometimes is it happens if the other multi-tenancy cluster exists in the mgmt cluster at the same time with ClusterClass multi-tenancy.

[2022-04-20 09:38] richardcase opened #3435 "Managed machine pool reconciliation fails with no `UpdateConfig`"
/kind bug
/area provider/eks
/priority critical-urgent
/triage accepted
/assign
/lifecycle active

**What steps did you take and what happened:**
Change #3337 introduced support for specifying the update configuration for an EKS node group. However, if you don't specify an update config:

[code]

You get the following error during reconciliation (after it has created the nodegroup):

[code]

**Wha

[2022-04-21 08:13] richardcase commented on #2178
Hi @HeyAdityaPatidar. I believe the deadline to submit a proposal for [GSoC has now passed](https://developers.google.com/open-source/gsoc/timeline). You could try logging on to the portal to see if it still lets your submit a proposal?

[2022-04-22 10:25] wolfedale opened #3439 "Parameter iamInstanceProfile.name is invalid"
/kind bug

**What steps did you take and what happened:**
Followed what is at: https://cluster-api.sigs.k8s.io/user/quick-start.html

**What did you expect to happen:**
Create k8s cluster in AWS.

** Error **
`I0422 10:16:26.334476       1 awsmachine_controller.go:636]  "msg"="Creating EC2 instance"
E0422 10:16:29.231492       1 awsmachine_controller.go:497]  "msg"="unable to create instance" "err

[2022-04-22 13:00] rvacaru commented on #3405
/assign

[2022-04-22 13:00] wolfedale opened #3441 "Cluster role couldn't be found"
/kind bug

**What steps did you take and what happened:**
I'm trying to create EKS cluster - step by step with the documentation and I'm getting:

`E0422 12:56:32.850296       1 controller.go:317] controller/awsmanagedcontrolplane "msg"="Reconciler error" "error"="failed to reconcile control plane for AWSManagedControlPlane default/capi-eks-quickstart-control-plane: getting role eks-controlplane.c

[2022-04-25 11:27] invidian commented on #3055
/remove-lifecycle stale

This seems to me like something which should be addressed by maintainers.

[2022-04-25 11:34] wolfedale commented on #3439
I found a missing Role. Closing.

[2022-04-25 11:34] #3439 closed

[2022-04-25 11:35] wolfedale commented on #3441
I found a missing Role. Closing.

[2022-04-25 11:35] #3441 closed

[2022-04-25 13:56] invidian opened #3443 "apidiff target verify silently fails and prints errors in CI"
/kind bug

**What steps did you take and what happened:**

CI prints:
[code]

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-aws/3442/pull-cluster-api-provider-aws-verify/1518584914981687296#

Also, the command fails and it's not making the job fail.

**What did you expect to happen:**

CI should work nicely without errors and CI to fail when some

[2022-04-25 15:27] sedefsavas commented on #3443
Does this solve the issue:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3442

[2022-04-25 15:31] invidian commented on #3443
Do you mean, does #3442 solves this issue? If so, then no, this issue is unrelated.

[2022-04-25 16:36] LucaLanziani commented on #3316
/lifecycle active

[2022-04-26 11:20] mweibel opened #3447 "Disable MachinePool ASG instance refresh"
/kind feature

**Describe the solution you'd like**
I'd like the ability to disable automatic instance refresh on a machinepool. Currently when one e.g. changes the AMI of a AWSMachinePool, an instance refresh is automatically started:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/exp/controllers/awsmachinepool_controller.go#L480

**Anything else you would like to add:**
We

[2022-04-27 10:50] meghanajangi commented on #3405
/unassign

[2022-04-28 07:21] Skarlso opened #3453 "The links in the guide are not working"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

https://cluster-api-aws.sigs.k8s.io/getting-started.html?highlight=worker-machine-count#create-your-first-workload-cluster

All of these links in the guide which should lead to somewhere describing the thing I clicked are leading to a 404 page.

[code]

**What did you expect to happen:*

[2022-04-29 07:29] Ankitasw commented on #3453
@Skarlso Thank you for raising this issue. Since this particular doc is inherited from cluster-api project, do you mind raising this issue [there](https://github.com/kubernetes-sigs/cluster-api)?

[2022-04-29 08:17] Ankitasw commented on #3443
I think we are seeing this error log in multiple places and my guess is wherever `git diff` is used, we are getting this. But the same way we are doing in cluster-api project as well.

[2022-04-29 08:48] Skarlso commented on #3453
Yep, will do. :)

[2022-04-29 10:27] voor commented on #3432
Hello, thank you for your post!  This setup is currently possible with Cluster API AWS.  Just populate the existing VPC ID in the `AWSCluster`, include the subnets you want to deploy machines into under the subnet section, and then specify the subnets that the control plane Load Balancer entries would need to go into.

[2022-04-29 10:29] voor opened #3454 "Some log messages are misleading and probably need to be moved to a lower level"
/kind bug

**What steps did you take and what happened:**
`awsmachine_controller.go:763]  "msg"="Deleting unneeded entry from AWS S3"  "secretPrefix"=""`
and
`awsmachine_controller.go:432]  "msg"="Reconciling AWSMachine"`

occur with great frequency in the logs, and neither provides much information or insight into what's going on.  Additionally, CAPA is not actually deleting anything from AWS S3,

[2022-04-29 10:44] Ankitasw commented on #3454
Hey @voor, thanks for raising the issue.
Regarding the below log, we are actually deleting the bootstrap data related to ignition parameters from S3 bucket, while delete reconciliation of AWSMachine, hence the log.

Also, regarding the below log, every time reconcile loop is triggered, it is logged by the awsmachine controller. AFAIK it's followed in other provider's as well.

[2022-04-29 12:13] sedefsavas commented on #3454
We should not log this unless ignition is used.
`awsmachine_controller.go:763] "msg"="Deleting unneeded entry from AWS S3" "secretPrefix"=""`

We can actually increase the log level of the recurring logs like `Reconciling AWSMachine` so that users will have an option to reduce verbosity.

/triage accepted
/good-first-issue
/kind clean-up

[2022-04-29 12:54] #3432 closed

[2022-04-29 18:12] pydctw opened #3455 "Flaky e2e test - external infrastructure test"
/kind bug

**What steps did you take and what happened:**
External infrastructure e2e test has been flaky with the same error.
* https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-e2e/1519889735797968896
* https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-e2e/1519527272044826624
* https://prow.k8s.io/view/gs/kubernetes-jenkins/

[2022-04-29 18:37] josh-ferrell commented on #3455
/assign

[2022-04-29 18:43] sedefsavas commented on #3455
/triage accepted
/priority important-soon

[2022-04-29 18:46] sedefsavas commented on #3453
It is working in cluster-api book:https://cluster-api.sigs.k8s.io/reference/glossary.html#workload-cluster, so we need to fix it here.

/triage-accepted
/good-first-issue

[2022-04-29 18:49] sedefsavas commented on #3443
/triage accepted
/priority backlog
/good-first-issue

[2022-04-29 18:49] Skarlso commented on #3453
@sedefsavas Oh cool! I literally almost hit submit my issue. :D nice timing. :)

[2022-04-29 18:50] sedefsavas commented on #3433
/close
since ClusterClass tests are moved to its own job:
https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-aws#periodic-e2e-main-clusterclass&show-stale-tests=

[2022-04-29 18:50] #3433 closed

[2022-05-01 05:59] richardcase commented on #2336
/reopen

[2022-05-01 18:00] li3 opened #3511 "Unable to install on EKS with custom CNI"
**What steps did you take and what happened:**

1. Create an EKS cluster
2. Remove aws vpc CNI
3. Install a custom CNI like Cilium or Calico running in tunnel mode
4. Run `clusterctl init`
5. Install will timeout waiting for cert manager to become ready.

**What did you expect to happen:**

Actually I think this is expected given the current state of things. With EKS the control plane cannot parti

[2022-05-02 18:17] voor commented on #2902
/remove-lifecycle stale

[2022-05-03 15:40] tasdikrahman commented on #3454
/assign

[2022-05-05 17:58] #3455 closed

[2022-05-12 21:07] josh-ferrell opened #3469 "[E2E] Panic when GetSubnetByName function fails"
/kind bug

**What steps did you take and what happened:**
The external infrastructure tests are still flaky because the GetSubnetByName function can return nil when called too soon after subnet creation.

**What did you expect to happen:**
The test should not proceed before a subnet is returned and should fail gracefully when necessary.

**Anything else you would like to add:**
[Miscellaneous info

[2022-05-12 21:07] josh-ferrell commented on #3469
/assign

[2022-05-16 05:51] khoavo-hatch commented on #3121
/remove-lifecycle stale
#3208 is ready for review

[2022-05-16 13:11] matlemb opened #3477 "sts_regional_endpoints support"
/kind feature

**Describe the solution you'd like**
When using `ClusterRoleIdentity` in an air-gapped environment an AWS endpoint is needed to call the STS service to use AssumeRole. By default there is no option to tell `capa` to use an regional endpoint other than manually editing the `capa` deployment and add the following environment variables:

[code]
It would be great if these environments w

[2022-05-17 10:15] anmolsachan commented on #2029
@richardcase @vibhorrawat I tried using awsmachinepool with eks as well and it does not work. Both CAPI and CAPA controllers keep waiting:

CAPI:

`I0517 10:02:47.001148       1 machinepool_controller_phases.go:271] controller/machinepool "msg"="Infrastructure provider is not ready, requeuing" "cluster"="capi-anmol-eks-machinepool" "name"="capi-anmol-eks-machinepool-mp-0" "namespace"="aws-test" "r

[2022-05-17 17:52] dkoshkin opened #3478 "Cluster deletion fails when a cluster has a LoadBalancer Service type"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
1. Create an AWS cluster following https://cluster-api.sigs.k8s.io/user/quick-start.html
2. Create a `Service` of type `LoadBalancer`
3. Delete the cluster

The cluster does not get fully deleted.

I see that the ELB for the Service does get deleted:
[code]

And the CAPA SGs get deleted,

[2022-05-17 17:58] sedefsavas commented on #3478
This is being tracked in the cluster-api repo: https://github.com/kubernetes-sigs/cluster-api/issues/3075

This happens when external resources are created by CCM/CSI on the cluster VPC and might be an issue for other providers too, so probably requires a generic/common design.

[2022-05-17 18:08] dkoshkin commented on #3478
Thanks @sedefsavas, please feel free to close this one.

[2022-05-18 04:36] mzahorik opened #3479 "Build EKS clusters without kube-proxy"
/kind feature

**Describe the solution you'd like**
Both Calico and Cilium CNIs allow you to replace the k8s default kube-proxy with their own implementations.  Kube-proxy-less Calico and Cilium are desired by administrators building workload clusters with EKS.

Similar to disableVPCCNI which removes AWS VPC CNI's aws-node daemonset, I'd like to suggest disableKubeProxy that would remove the kube-

[2022-05-18 15:24] dkoshkin opened #3481 "Unmanaged SecurityGroups should also get tagged for CCM"
/kind feature

**Describe the solution you'd like**
When using an unmanaged `SecurityGroup` for `[spec.network.securityGroupOverrides.lb](http://spec.network.securitygroupoverrides.lb/)` CAPA should tag it with `kubernetes.io/cluster/<cluster-name>` so that CCM can create ELBs for `LoadBalancer` `Services` without requiring users to tag the `SecurityGroup` themselves.

**Anything else you would li

[2022-05-18 16:49] #2296 closed

[2022-05-19 09:29] photra commented on #3453
While reproducing this bug, I noticed that there are many more instances of links not working.

Some broken links currently follow this format:
`https://cluster-api-aws.sigs.k8s.io/reference/[file].html`
(file here includes `glossary`, `providers`,...)

But they should follow this format in order to work:
`https://cluster-api-aws.sigs.k8s.io/topics/reference/[file].html`
(Visiting [this link](http

[2022-05-19 13:55] voor commented on #3477
I would recommend actually setting the default to go to the regional endpoints, as this also breaks functionality in other partitions of AWS (govcloud, china, etc.) when they attempt to adopt the identities functionality.

[2022-05-19 22:59] photra commented on #3390
Hi @pydctw, do you have a preference on where `GINKGO_FOCUS` and `GINKGO_SKIP` should be declared? I am thinking of inserting them at line 65 in the Makefile.

Since they are now variables, I will remove their definitions feeding into `GINKGO_ARGS` and amend `test-e2e` and `test-e2e-eks` with our new usage.

Additionally, I will submit another PR in `kubernetes/test-infra` to modify the jobs to us

[2022-05-20 11:28] timtsoitt opened #3485 "Unable to delete subnet tag that I did not include in the manifest"
/kind bug

**What steps did you take and what happened:**

I had a EKS control plane (based on AWSManagedControlPlane CRD) built on top of subnet A,
When I tried to delete tags from subnet A, it did not have any effect.
These tags I was deleting were not including in the CR manifests.

Then I stopped the CAPA controller manager, and I could delete the tag successfully.
However after I started CAPA

[2022-05-20 12:27] #3485 closed

[2022-05-20 20:44] dilyevsky opened #3486 "[bootstrap] control-plane role is missing elasticloadbalancing:DeregisterTargets permission"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Creating service type=LoadBalancer with `service.beta.kubernetes.io/aws-load-balancer-type: nlb` annotation for NLB in a capa-managed cluster. Cloud controller complains in the service events:

[code]

**What did you expect to happen:**
`control-plane` role should have `elasticloadbalanc

[2022-05-23 20:16] charlie-haley commented on #3244
/remove-lifecycle stale

[2022-05-25 10:03] matlemb commented on #3477
Well a simple check would be trying to resolve the DNS name of the regional endpoint (`protocol://service-code.region-code.amazonaws.com`), if it is resolvable it is at least existing, reachability on the other hand is up to infrastructure setup (routing, ACLs, VPC endpoint, ...).

imho it would be okay if there would be a switch through clusterctl init to enable/disable regional endpoint and regi

[2022-05-31 05:41] Skarlso commented on #2420
Interesting note:

[code]

Why did kops assign ip in the loop over and over? 🤔 It should be same thing always since it's never updated, right?:D

[2022-05-31 05:42] Skarlso commented on #2420
Thank you @sedefsavas! Good point of reference. :) I started writing the proposal and have some notes in there about the changes needed. I will coordinate with the rest of the team about questions.

Otherwise, I have a pretty good idea on how to proceed and hopefully will have something to look at over the next couple weeks. :)

[2022-05-31 06:14] #2336 closed

[2022-05-31 20:55] pydctw commented on #3390
Hi @photra, thanks for your interest in the issue.

As [here](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/Makefile#L140-L173) is where GINKGO or E2E related variables are used, maybe before those lines but no preference.

The steps you describe sound good to me 👍

[2022-05-31 21:33] warroyo opened #3494 "Additional Tags should not apply to unmanaged subnets"
/kind bug

**What steps did you take and what happened:**

When using existing subnets and `additionalTags` the tags are getting applied to the unmanaged subnets and overwriting any tags that exist on the subnets.

**What did you expect to happen:**

existing resources(unmanaged subnets) should not have tags applied to them since capi does not own those resources

**Environment:**

- Cluster-api-p

[2022-05-31 21:34] sedefsavas commented on #3494
/triage accepted
/priority important-soon

[2022-06-02 15:50] josh-ferrell opened #3498 "[E2E] Disable external infrastructure tests"
/kind bug

**What steps did you take and what happened:**
Disable external infrastructure e2e test until RC can be determined for resource creation failures

**What did you expect to happen:**
AWS resource creation does not fail

**Anything else you would like to add:**

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-re

[2022-06-02 15:50] josh-ferrell commented on #3498
/assign

[2022-06-02 15:51] sedefsavas commented on #3498
/triage accepted

[2022-06-02 17:03] #3498 closed

[2022-06-02 17:06] #2088 closed

[2022-06-02 17:07] sedefsavas commented on #2949
/remove-lifecycle rotten

[2022-06-05 18:33] LucaLanziani commented on #3336
/help

[2022-06-05 18:35] LucaLanziani commented on #3336
The PR was reverted because it was making all following PRs failing. Can we re-open the issue please?

[2022-06-06 06:49] Ankitasw commented on #3336
/reopen
@LucaLanziani please go ahead and make another PR if fix is ready 😄

[2022-06-06 08:34] photra commented on #3390
Hi @pydctw, I just submitted a PR to address this issue. I left the deprecated `E2E_UNMANAGED_FOCUS` intact for removal in a later PR when my `test-infra` merges their side's PR. Let me know if you have any feedback!

[2022-06-06 15:10] sedefsavas commented on #3274
/remove-lifecycle stale

[2022-06-06 15:12] sedefsavas commented on #3287
The management of subnet creation on multiple CIDRs and dealing with addition/deletion of these CIDRs are complicated, we can consider supporting these through external IPAMs. IPAM proposal is merged in the core cluster-api AFAIK.

[2022-06-06 15:12] sedefsavas commented on #3286
/remove-lifecycle stale

[2022-06-06 16:34] sedefsavas commented on #3275
As a note: Multiple VPC CIDRs will affect both managed and unmanaged clusters, so the solution needs to be common.

[2022-06-06 16:36] sedefsavas commented on #3384
/reopen

I think we still need documentation for this @Madhur97.

[2022-06-06 16:37] sedefsavas commented on #3198
Any updates?

/remove-lifecycle stale

[2022-06-06 18:09] sedefsavas opened #3507 "Re-introduce AWSManagedCluster for EKS ClusterClass support"
This issue is to track re-implementation of AWSManagedCluster for ClusterClass support (for details of why we need to do this is [here](https://github.com/kubernetes-sigs/cluster-api/issues/6126)).

We need to decide the best option to implement for CAPA considering the options in [managed K8s proposal](https://docs.google.com/document/d/1dMN4-KppBkA51sxXPSQhYpqETp2AG_kHzByXTmznxFA/edit).

As a fo

[2022-06-07 11:06] pydctw commented on #2355
FailureDomain in `AWSMachine`.

From [CAPI book](https://cluster-api.sigs.k8s.io/developer/providers/machine-infrastructure.html?highlight=failuredomain#data-types)

[2022-06-07 11:15] pydctw commented on #2029
@vibhorrawat, are you still working on it? If not, I would like to look into it to see if there is a real bug.

[2022-06-07 17:37] sedefsavas commented on #2574
/remove-lifecycle rotten

[2022-06-07 17:38] sedefsavas commented on #3166
/remove-lifecycle stale

[2022-06-08 03:24] sedefsavas commented on #3167
After https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3507 is implemented, we can start adding EKS ClusterClass tests.
/remove-lifecycle rotten

[2022-06-08 08:49] richardcase commented on #2355
Refactor the `disableVPCCNI` on the managed control plane so that the disable and extra args are in a struct.

[2022-06-08 08:57] richardcase commented on #2986
/lifecycle frozen

[2022-06-08 08:58] Skarlso commented on #2420
Will do! I literally wanted to comment just now. :D

The proposal is a bit in WIP with lots of random comments on what needs to be changed. I successfully wrote some code last night for subnet splitting using ipv6 which I'm still testing. :) I think, for me at least :D, that was the hardest part. :D

The rest, hopefully, will just be moving stuff around and doing the right routing. :)

[2022-06-08 08:58] richardcase commented on #2986
@sedefsavas - how do we want to handle this issue? I think the operator will handle the original request. Perhaps close?

[2022-06-08 10:01] Ankitasw opened #3510 "docs: Steps to summarize all the options available in CAPA for the credentials to be used when we pivot to management cluster"
To summarize all the options we have to go forward with when we pivot to management cluster so that we can document it together:

- To create a dedicated IAM user for the controller which will be long lived credentials. We can create a bootstrap user in CAPA. These credentials are the ones that need to be encoded.
- To use short lived credentials for the kind cluster only and then pivot into the n

[2022-06-08 11:00] #3130 closed

[2022-06-08 11:00] richardcase commented on #2989
/lifecycle frozen

[2022-06-08 11:01] richardcase commented on #2991
/remove-lifecycle rotten

[2022-06-08 11:04] richardcase commented on #3096
/remove-lifecycle rotten

[2022-06-08 11:11] richardcase commented on #3171
This has been done: https://github.com/kubernetes/test-infra/blob/master/config/prow/plugins.yaml#L1145

/close

[2022-06-08 11:11] #3171 closed

[2022-06-08 12:43] Ankitasw commented on #3494
/assign

[2022-06-08 13:42] steve-fraser commented on #3478
We are experiencing this with `AWSManagedControlPlane` and `AwsManagedMachinePool`

[2022-06-08 16:56] richardcase commented on #2771
/remove-lifecycle stale

[2022-06-08 18:55] sedefsavas commented on #2986
/close

[2022-06-08 18:58] sedefsavas commented on #3510
[Slack thread](https://kubernetes.slack.com/archives/CD6U2V71N/p1648536004859049) this issue is originally discussed.

/triage accepted
/important long-term
/kind documentation

[2022-06-08 19:03] sedefsavas commented on #3478
Same issue https://github.com/kubernetes-sigs/cluster-api/issues/3075 applies to EKS clusters as well since we create the VPC for them too (when external infra is not used).

/close

[2022-06-08 19:04] #3478 closed

[2022-06-09 10:58] richardcase commented on #1718
@sedefsavas  - this issue is impacting some customers so going to reopen with this plan in mind:

- Fix this in CAPA for the time being, so that we can get this fixed quicker for the people its impacting.
- Will put the functionality behind a feature flag.
- Then i'll help with working this into upstream via proposal/change based on https://github.com/kubernetes-sigs/cluster-api/issues/3075
- Once

[2022-06-09 10:59] richardcase commented on #1718
/priority critical-urgent

[2022-06-09 10:59] richardcase commented on #1718
/triage accepted

[2022-06-09 15:45] sedefsavas commented on #2936
/remove-lifecycle rotten

[2022-06-09 15:53] richardcase commented on #1718
Just tested this scenario and it does occur. The delete of the cluster gets stuck because of

[code]

And the load balancer still exists.

[2022-06-09 17:06] sedefsavas commented on #1718
Looks like we only clean up the CCM created ELBs but not NLBs.

[2022-06-09 18:20] sedefsavas commented on #3486
/triage accepted

This looks valid to me. We are missing `ExtraStatements` for control plane role.

We might need to add it to ManagedControlPlane role too.

[2022-06-09 23:16] sedefsavas commented on #3185
Postsubmit tests are passing.

[2022-06-09 23:16] #3185 closed

[2022-06-10 13:54] pydctw commented on #2523
Spot Instance support is already available with AWSManagedMachinePool + MachinePool flavor by specifying `capacityType` in AWSManagedMachinePool spec.

[code]

What are remaining tasks for the issue? (I may lack context on this, hence asking)

[2022-06-10 14:16] Ankitasw commented on #2523
Correct me if I am wrong but I think [this](https://github.com/kubernetes-sigs/cluster-api/blob/main/docs/proposals/20200330-spot-instances.md#support-for-machinepools) is the ask here.

[2022-06-10 14:47] vibhorrawat commented on #2029
Hey @pydctw I would love to continue on this issue; however, as I have updated perviously I'm stuck and not sure how to progress. Let me know your thoughts. Thank you!

[2022-06-10 15:05] pydctw commented on #2523
After reading the proposal, I am still not clear what else is needed for spot instance support in EKS managed node group case (with AWSManagedMachinePool). Could you help elaborate, @Ankitasw?

[2022-06-10 17:06] Prajyot-Parab commented on #2930
/assign @Prajyot-Parab

[2022-06-10 23:29] pydctw commented on #2523
/retitle Spot Instance Support for AWSManagedMachinePool

[2022-06-10 23:44] AustinSiu commented on #2523
@pydctw if this issue is scoped to just AWSManagedMachinePools, do you know what is the state of Spot support in AWSMachinePools/non-managed case? From the [CAPA book](https://cluster-api-aws.sigs.k8s.io/topics/spot-instances.html), I had assumed this issue was tracking both (wasn't aware of the existing EKS support!).

[2022-06-13 10:42] #3479 closed

[2022-06-13 11:57] richardcase commented on #2029
@pydctw - did you want to look into this? Or shall i take a look to see if i can help out?

[2022-06-13 12:08] pydctw commented on #2029
I figured it out a few days ago and working on [adding e2e test](https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2865), which is really needed.

[2022-06-13 12:08] #3390 closed

[2022-06-13 12:09] pydctw commented on #2865
/remove-lifecycle frozen

[2022-06-13 16:33] dlipovetsky commented on #2925
From office hours today:
- The benefits are not clear. We have not had (as of today) had problems as the result of exporting code that should be internal.
- Some maintainers prefer to not move code to `internal`, because it complicated the code layout.
- Instead of moving code to `internal`, we can document that the project guarantees compatibility for APIs, but not the implementation.

[2022-06-13 16:59] pydctw opened #3522 "Spot Instance Support for AWSMachinePool"
/kind feature

**Describe the solution you'd like**
I would like to use spot instances with AWSMachinePool (which is backed by AWS AutoScalingGroup)/ MachinePool to reduce the operational cost of my workload clusters.

**Anything else you would like to add:**
AWSMachinePool can be used both for CAPA-managed and EKS clusters.

**Environment:**
- Cluster-api-provider-aws version:
- Kubernetes versio

[2022-06-13 17:00] pydctw commented on #2523
Created a new issue for AWSMachinePool spot instance support.
* https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3522

[2022-06-13 17:02] pydctw commented on #3522
@Ankitasw

[2022-06-13 18:03] dilyevsky commented on #3486
K thanks I'll send a PR

[2022-06-13 22:24] sedefsavas opened #3525 "K8s main conformance test failing"
It's been failing since https://github.com/kubernetes/kubernetes/pull/109938 is merged and changed the registry.

[code]

/kind failing-test

Related: https://github.com/kubernetes-sigs/cluster-api/pull/6590

[2022-06-13 23:01] sedefsavas commented on #3525
To solve this, we need to change the registry used in [test/framework/kubernetesversions/data/debian_injection_script.envsubst.sh.tpl](https://github.com/kubernetes-sigs/cluster-api/pull/6590/files#diff-dab9bbc5e6be4ec1c1499e40a4909de399e3f8501534b3c5b6e0a1d1a6763b40) to registry.k8s.io.

Solution is already being tracked here: https://github.com/kubernetes-sigs/cluster-api/pull/6590

[2022-06-14 00:11] sedefsavas commented on #2953
/remove-lifecycle stale

[2022-06-14 00:17] sedefsavas commented on #2484
/remove-lifecycle rotten

[2022-06-14 00:17] sedefsavas commented on #3109
/remove-lifecycle stale

[2022-06-14 06:36] richardcase commented on #2869
/lifecycle frozen

[2022-06-14 08:52] Ankitasw commented on #3481
As per the slack thread, we would be doing this in Next milestone, is it correct @sedefsavas ?

[2022-06-14 08:55] Ankitasw commented on #3422
@nehatomar12 is there any additional help required in this issue? Were you able to go forward with above suggestion?

[2022-06-14 08:56] #3422 closed

[2022-06-14 08:57] richardcase commented on #3066
/assign
/lifecycle active

[2022-06-14 09:18] richardcase commented on #3152
/remove-lifecycle stale

[2022-06-14 15:47] jeffwubj opened #3527 "Enable CSI policy wont get csi policy attached with AWSIAMRoleControlPlane"
/kind bug

**What steps did you take and what happened:**
I am writing some codes to create CloudFormation Stack with CSI policy enabled.
I have `template.Spec.ControlPlane.EnableCSIPolicy` set to `true` before call `template.RenderCloudFormation()` them create CloudFormation thru API.

**What did you expect to happen:**
Expect CSI policy is created and `AWSIAMRoleControlPlane` will use this polic

[2022-06-14 17:18] pydctw opened #3528 "Add a required field to SubnetSpec to use as listMapKey in SSA"
/kind feature

**Describe the solution you'd like**
While validating a fix for co-authored slice issue in ClusterClass,
* Issue: https://github.com/kubernetes-sigs/cluster-api/issues/6320
* Fix: https://github.com/kubernetes-sigs/cluster-api/pull/6495
* Doc: [Server-Side Apply](https://kubernetes.io/docs/reference/using-api/server-side-apply/)

It was discovered that we need a required field in [S

[2022-06-14 17:28] sedefsavas commented on #3525
If we use `ci/KubernetesVersion` in the conformance manifest, Kubeadm will pull the images from CI registry so we don't need to rely on downloading packages, importing/tagging images.
https://github.com/kubernetes-sigs/cluster-api/pull/6590#issuecomment-1154702565

[2022-06-14 18:06] sedefsavas commented on #3528
/triage accepted
/priority important-soon
/milestone v1.5.0

Need to make sure whatever option we choose for this, the existing clusters+manifests used by users keep working. Making a field required might break things.
Will take a look more.

[2022-06-14 19:28] #2925 closed

[2022-06-15 11:22] pydctw opened #3530 "Tasks for adopting CAPI's Server Side Apply"
This issue is **tracking** the list of tasks to make CAPI's SSA (Server Side Apply) to work with CAPA.

## Why do we need this?
CAPA's `spec.network.subnets` is coauthored by CAPI and CAPA controllers when using ClusterClass. To properly manage these coauthoring slices and prevent them continuously getting patched by both controllers, CAPI is now using [Server-Side Apply](https://kubernetes.io/doc

[2022-06-15 11:59] rymancl commented on #3314
/remove-lifecycle stale

[2022-06-15 16:27] pydctw opened #3531 "Upgrade to controller-tools v0.9.2"
Upgrade to controller-tools version that includes @chrischdi's PR that allows setting listMapKey, listType at both type and field level. Needed for using Server Side Apply with AWSCluster SubnetSpec.
* https://github.com/kubernetes-sigs/controller-tools/pull/692

Note: feel free to retitle with a correct controller-tools version when it is released.

[2022-06-15 16:55] pydctw commented on #3530
## PoC
While waiting for controller-tools and listMapKey issues to be resolved, did an *Initial PoC* with test purpose CRDs. This required some hacks so the result needs to be confirmed when all the tasks listed in the issue is completed.

#### Hacks
* Used []SubnetSpec, a slice, as a type for Subnets for CRD manifest generation.
[code]
* Made `subnet.id` as a required field in CRD to use as a lis

[2022-06-15 18:14] sedefsavas opened #3532 "Tagging route tables with CCM tag"
For CCM to use route tables, we need to add the necessary tag for discovery (`kubernetes.io/cluster/<cluster-name> `) to both EC2 and EKS clusters.

For example, when kube-controller-manager is started with `--configure-cloud-routes=true` (enabled by default if not provided), CCM tries to find route tables in the VPC by looking at `kubernetes.io/cluster/<cluster-name> ` tag and currently we see th

[2022-06-15 18:18] sedefsavas commented on #3532
Thanks to @yastij for finding out this issue!!

[2022-06-15 18:22] sedefsavas commented on #2978
/remove-lifecycle stale

[2022-06-15 18:35] #2523 closed

[2022-06-15 18:40] luthermonson opened #3533 "Add Windows Support"
/kind feature

**Describe the solution you'd like**
The ability to add [windows worker](https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/) nodes has been around for a while and CAPA should be updated to support both...

1) Add Windows worker nodes for Self Managed clusters - ec2 windows AMIs are great and with <powershell> userdata we could probably get a provisione

[2022-06-15 18:59] #2930 closed

[2022-06-15 19:22] sedefsavas commented on #3533
Thanks for filing the issue @luthermonson.
Looking at CAPZ proposal, they only needed to publish a template and a way to test it, which is a good sign. cc @knabben

/triage accepted
/priority important-longterm

[2022-06-15 19:26] sedefsavas commented on #3531
/triage accepted
/priority important-soon

We can bump this dependency during cluster-api 1.2.0 bump as SSA will go into that release.

[2022-06-15 19:29] sedefsavas commented on #3530
/triage accepted
/priority important-soon

[2022-06-16 11:14] Callisto13 commented on #3443
👋 I have a fix for this, can I be assigned?

[2022-06-16 11:15] Ankitasw commented on #3443
yes sure
/assign @Callisto13

[2022-06-16 11:28] Callisto13 commented on #2704
@richardcase can I take this one?

[2022-06-16 12:21] Callisto13 commented on #3443
The error came in with be85bb3. It is not _technically_ anything to do with `apidiff` (or any other make command).

A var is being set in the root `Makefile`: `APIDIFF_OLD_COMMIT ?= $(shell git rev-parse origin/foo)`.

The `shell` is run when the file is loaded, regardless of whether it is being used. If we were to make it fail, it would fail for every `make` which has not got an `origin/main` or

[2022-06-16 12:34] invidian commented on #3443
Thanks @Callisto13 for having a look. Indeed my original report was mainly about things failing without any effect and polluting the CI logs. As the `apidiff` does not run as part of `verify` target, maybe we can just move this variable definition to the target itself? Like:
[code]

This way it will at least be evaluated only on this specific target as far as I understand.

[2022-06-16 12:39] Callisto13 commented on #3443
👍 yep that makes sense

[2022-06-16 13:48] richardcase commented on #2704
/assign Callisto13

[2022-06-16 16:25] pydctw opened #3536 "Add markers defining merge strategy for Server Side Apply to Subnet spec"
/kind feature

**Describe the solution you'd like**
`listType` and `listMapKey` need to be added to Subnets field to define a merge strategy for Server Side Apply.
[code]

See [markers defining merge strategy for server-side apply](https://kubernetes.io/docs/reference/using-api/server-side-apply/#merge-strategy).

[2022-06-16 16:35] pydctw commented on #3528
@sedefsavas, @yastij and I experimented adding `uuid` field to SubnetSpec with a default with the intention of modifying it in a defaulting webhook.

[code]

Here is the generated CRD.
[code]

When applied, it added `uuid` default value to the spec.
[code]

[2022-06-16 20:07] sedefsavas commented on #3224
/remove-lifecycle stale

[2022-06-19 16:22] invidian commented on #3243
/remove-lifecycle stale

[2022-06-20 10:20] VibhorChinda commented on #3198
Hey @sedefsavas no updates as such.
Sorry for blocking this issue for so long.

Unassigning myself, so that anyone with some bandwidth can take this up.

[2022-06-20 14:40] richardcase commented on #2794
/reopen

[2022-06-20 15:24] richardcase opened #3541 "Configurable garbage collection"
/kind feature
/help

**Describe the solution you'd like**
As a follow-up to #3518 it would be good to allow users to configure the garbage collection. Specifically, it would be good to expose this configuration:
- Selecting clusters where GC will be applied via label selectors on the `Cluster`.
- Selecting which GC tasks will be done (i.e. services, pvc)

**Anything else you would like to add:**
I

[2022-06-21 09:55] #3443 closed

[2022-06-21 10:07] richardcase opened #3544 "[e2e] Create tests that disable vpc cni"
/kind feature
/area provider/eks
/area testing
/help
/priority important-soon

**Describe the solution you'd like**
We need a EKS e2e that covers disabling the VPC CNI.

**Anything else you would like to add:**
This is a follow on from a comment in #3524

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2022-06-21 10:34] richardcase commented on #3329
@faiq - just checking in to see how you are getting on with this?

[2022-06-21 11:16] richardcase commented on #2355
Make sure we don't miss: #3526

[2022-06-22 10:08] richardcase commented on #3284
/lifecycle frozen

[2022-06-22 13:27] faiq commented on #3329
This was solved with this PR https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3343. Unclear why the automation didn't close it

[2022-06-22 15:56] #3329 closed

[2022-06-23 11:29] invidian commented on #2753
/remove-lifecycle stale

[2022-06-23 19:09] banthaherder opened #3551 "docs: Typos in "Multitenancy setup with EKS and Service Account" causing setup issues"
/kind bug

**What steps did you take and what happened:**
Following along with the docs for Multitenancy setup produces a couple errors at the cluster-role-identity step.

1. Typo `sourceidentityRef` needed to be `sourceIdentityRef`
[code]

2. Typo `allowedNamespaces:{}` needed to be `allowedNamespaces:{}`
[code]

3. Typo "manager" to "managed" to prevent confusion during the setup process for the

[2022-06-23 19:40] vivgoyal opened #3553 "EKS control plane config update would fail if there are multiple updates issued at a time"
/kind bug

**What steps did you take and what happened:**
Try updating EKS cluster's logging config and vpc config at a time. EKS doesn't allow multiple types of updates at once and this would fail
aws eks update-cluster-config --name <cluster-name> --resources-vpc-config '{"endpointPrivateAccess":true}'  --logging '{"clusterLogging":[{"types":["authenticator"],"enabled":true}]}'

An error occurre

[2022-06-23 19:44] richardcase commented on #3553
/triage accepted
/priority important-soon
/area provider/eks
/help

[2022-06-23 20:11] #3551 closed

[2022-06-24 02:02] banthaherder opened #3554 "docs: AWSIAMConfiguration for bootstrap-manager-account has incorrect namespace for allowing sts:AssumeRoleWithWebIdentity with OIDC auth"
/kind bug

**What steps did you take and what happened:**
Following the docs for Multitenancy setup causes the capa controller to produce a 403 during an attempt to assume a role when it tries to standup a new managed cluster in the managed account. This is because the bootstrap AWSIAMConfiguration resource incorrectly records the namespace of the capa-controller-manager ServiceAccount as capa-sys

[2022-06-24 10:18] charlie-haley commented on #3410
I'm happy to take a look at this once #3374 has been merged into master

/assign @charlie-haley

[2022-06-24 11:18] charlie-haley commented on #3410
@richardcase do you also think it would make sense to do this https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3544 as part of the same PR?

[2022-06-24 13:11] richardcase commented on #3410
I'd be tempted to do them as 2 separate PRs. Only because the e2e tests can take a while to get working. But if you want to do them as a single PR then thats good as well.

It would be great to improve the e2e coverage on the EKS side, so if you are keen in this area and if would be useful i could do a a brain dump on developing e2e tests in CAPA.

[2022-06-24 13:29] charlie-haley commented on #3410
Sounds good, I can take a look at the e2e tests once these API changes are in, I'll reach out when I start work on them, thanks!

[2022-06-24 13:30] charlie-haley commented on #3544
/assign @charlie-haley

[2022-06-24 18:08] faiq opened #3557 "Specefic role and instance profile for eks worker nodes."
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

As a EKS cluster operator, I'd like to have a specific set of roles for my AWS worker nodes use.

Currently the role `AWSIAMRoleNodes`  is a shared role for workers that are for regular clusters and EKS clusters.

[code]

My proposal is to create a new Instance Profile and Role specif

[2022-06-24 19:04] sedefsavas commented on #3384
@Madhur97 are there any updates on this?

[2022-06-27 07:24] richardcase commented on #3544
/triage accepted

[2022-06-27 18:47] sedefsavas commented on #3531
Related PR in cluster api: https://github.com/kubernetes-sigs/cluster-api/pull/6542

[2022-06-27 20:40] sedefsavas opened #3559 "ClusterClass-only e2e job is running all tests"
The last time it only run ClusterClass tests was June 12:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-e2e-clusterclass/1536184262133288960

Now it runs all 25 tests:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-e2e-clusterclass/1541077651249172480

/kind bug

[2022-06-27 21:00] #3554 closed

[2022-06-27 21:31] thefirstofthe300 opened #3560 "Support for non-EKS IRSA"
/kind feature

IRSA appears to have been complete for EKS clusters in #2054. My company currently uses non-EKS clusters in combination with IRSA. I'd like the ability to install IRSA using the provider. The main piece that is tricky to coordinate is the certificate authority used to sign and validate the JWTs. If these pieces could be automated as part of the ignition config (we also use Flatcar),

[2022-06-28 13:33] #3559 closed

[2022-06-28 14:33] richardcase commented on #3553
I'll take a look at this:

/assign
/lifecycle active

[2022-06-29 07:49] Skarlso opened #3564 "Add Karpenter support"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Add [Karpenter](https://github.com/aws/karpenter) support for node scaling.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

There are a couple of things to consider:

- How do we install it?
  - Using Helm -> How do we keep

[2022-06-29 07:50] Skarlso commented on #3564
/assign

[2022-06-29 07:54] richardcase commented on #3564
Oh yes please :+1:

/triage accepted
/priority important-soon

[2022-06-29 08:32] #3244 closed

[2022-06-29 14:51] li3 opened #3565 "Tags on EC2 Instances created via AWSManagedMachinePool"
/kind feature

**Describe the solution you'd like**
My organization requires a specific tag on all EC2 instances. Currently tags are not propagated down to EC2 instances.

**Anything else you would like to add:**

In theory the service function that creates node groups:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/pkg/cloud/services/eks/nodegroup.go#L209-L219

Could be upd

[2022-06-29 16:31] Skarlso opened #3567 "VPC-CNI Custom environment properties are duplicated and applied continuously"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Have a configuration like that:

[code]

Create a cluster.

Observe environment properties being duplicated:

[code]

Also, the update happens on each run, which shows that the envVar list is not properly cleared.

**What did you expect to happen:**

The list to be deduplicated and no u

[2022-06-29 16:31] Skarlso commented on #3567
/assign

I have a fix up shortly.

[2022-07-01 12:14] Skarlso commented on #3564
One other question, I'll add this to the description as well, is do we want to add support to define Provisioners by configuration?
https://karpenter.sh/v0.13.1/aws/provisioning/

Or, we just don't care and people can configure Karpenter however they want or do we provide a basic configuration for a default AWS provider?

[2022-07-01 16:00] AustinSiu commented on #2022
Hi all, I just wanted to ask what was the latest status of this issue? It looks like there are at least a few possibly related PRs in progress.

[2022-07-01 16:33] faiq commented on #3557
In looking at this we would need to modify this to use the new role as well https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/93897be636031fac812765d95a018fe61dbd689f/pkg/cloud/services/iamauth/reconcile.go#L51

[2022-07-03 06:53] AverageMarcus commented on #3381
/remove-lifecycle stale
/lifecycle frozen

[2022-07-04 15:56] richardcase opened #3572 "Inconsistent `kubernetes.io/cluster/` tag usage with EKS"
/kind bug
/help
/good-first-issue
/priority backlog
/triage accepted

**What steps did you take and what happened:**
When creating an EKS cluster that then has services of type load balancer within it the `kubernetes.io/cluster/` tags are not consistent across the EKS service and tags for resources created by the CCM, such as ELB/NLBs.

Create a cluster with the following manifest:

[code]

When t

[2022-07-04 20:01] knabben commented on #3572
I will give it a try!

/assign

[2022-07-04 22:09] knabben commented on #3572
![image](https://user-images.githubusercontent.com/1223213/177220788-4c09a6cd-3e27-49c6-9db0-8dd0af056473.png)
This seems to happen in the SG and EC2 instances as well. It's using the name of the cluster in the configuration instead... tracking it down...

[2022-07-05 02:20] knabben commented on #3572
https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3329
This was changed to allow LB works with the correct tagging,  probably renaming this function will introduce this regression back.

[2022-07-05 12:25] sadysnaat commented on #3564
Should we create `Provisioner` and `AWSNodeTemplate` to match machineset and machinedeployment from capa specs.

Do we need user to tags resources with `karpenter.sh/discovery` or CAPA will handle this

[2022-07-05 12:43] richardcase commented on #3325
/remove-lifecycle stale

[2022-07-05 15:57] richardcase commented on #3572
Could we change the tag when we create the EKS cluster in AWS?

[2022-07-05 16:22] knabben commented on #3572
the KubernetesClusterID comes from the configuration, that's what I'm trying to understand if it's possible to change this on CCM and use the CAPI value as well -- https://github.com/kubernetes/cloud-provider-aws/blob/1c6194aad0122ab44504de64187e3d1a7415b198/pkg/providers/v1/aws.go#L619

[2022-07-05 16:23] faiq commented on #3572
I consulted  @knabben with what I think should fix it in their PR here https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3573#issuecomment-1175241878

[2022-07-05 16:23] knabben commented on #3572
the KubernetesClusterID comes from the CCM configuration, trying to see if it's possible to change this value on EKS -- https://github.com/kubernetes/cloud-provider-aws/blob/1c6194aad0122ab44504de64187e3d1a7415b198/pkg/providers/v1/aws.go#L619

[2022-07-05 16:38] knabben commented on #3572
If the final tag agreed is the EKS cluster name the change in the EKS createCluster will work. Still wondering if there's a need for parity with the unmanaged cluster.

[2022-07-05 16:50] knabben commented on #3572
If the final tag agreed is the EKS cluster name the change in the EKS `createCluster` will work, changing the PR.
Still wondering if there's a need for parity with the unmanaged cluster tags.

[2022-07-06 12:24] oscr opened #3575 ":book: 404 links in Getting Started"
Hi,

There seems to be some dead links in the Getting Started docs: https://cluster-api-aws.sigs.k8s.io/getting-started.html

For example:
https://cluster-api-aws.sigs.k8s.io/reference/glossary.html#workload-cluster
https://cluster-api-aws.sigs.k8s.io/clusterctl/commands/generate-cluster.html

Are these maybe intended to reference the CAPI book?

[2022-07-06 17:18] sedefsavas opened #3577 "Use CustomValidator with webhooks to support ClusterClass dryrun"
This is needed for all webhooks that do immutability checks, otherwise topology dryrun fails. This is a blocker for upgrading CAPI to v1.2.0rc1.

Details can be found here: [doc](https://github.com/kubernetes-sigs/cluster-api/pull/6710/files#diff-531b360cba021aa4e0cf2df8f2ce8ead9601db1601bf516cab3c916a83622436)

[2022-07-08 21:48] richardcase commented on #2991
/unassign
/help

[2022-07-08 21:50] richardcase commented on #2949
/unassign

[2022-07-08 21:51] richardcase commented on #3096
/unassign
/help

[2022-07-08 21:59] richardcase commented on #931
/remove-lifecycle frozen

[2022-07-08 22:01] richardcase commented on #491
/remove-lifecycle frozen

[2022-07-08 22:01] richardcase commented on #962
/remove-lifecycle frozen

[2022-07-08 22:02] richardcase commented on #964
/remove-lifecycle frozen

[2022-07-08 22:03] richardcase commented on #969
/remove-lifecycle frozen

[2022-07-08 22:03] richardcase commented on #1166
/remove-lifecycle frozen

[2022-07-08 22:04] richardcase commented on #1335
/remove-lifecycle frozen

[2022-07-08 22:04] richardcase commented on #1506
/remove-lifecycle frozen

[2022-07-08 22:05] richardcase commented on #1642
/remove-lifecycle frozen

[2022-07-08 22:05] richardcase commented on #1691
/remove-lifecycle frozen

[2022-07-08 22:05] richardcase commented on #1698
/remove-lifecycle frozen

[2022-07-08 22:05] richardcase commented on #1711
/remove-lifecycle frozen

[2022-07-08 22:06] richardcase commented on #1869
/remove-lifecycle frozen

[2022-07-08 22:08] richardcase commented on #3575
/triage accepted
/help
/good-first-issue
/kind documentation
/priority backlog

[2022-07-08 22:09] richardcase commented on #3567
/triage accepted
/priority important-soon

[2022-07-08 22:10] richardcase commented on #3565
We should consider this as a follow-up to #3094

[2022-07-08 22:10] richardcase commented on #3565
/triage accepted
/priority important-longterm

[2022-07-09 12:00] Mahesh1822 commented on #3575
I would like to work on this issue.

[2022-07-09 13:46] Mahesh1822 commented on #3575
So looked into the issue. Few doc files are being shared between this and cluster-api repository. So links which are using relative path in those docs are not working. So i think we have separate those files.

[2022-07-09 14:47] Mahesh1822 commented on #3453
There are some relative paths used in reference folder. They need to be changed in order to move the folder.

[2022-07-09 15:33] Skarlso commented on #3564
Good questions! The `Provisioner` template sounds good to me. I'm not sure about the tagging. I think CAPA can apply it, right?

[2022-07-09 19:48] #3101 closed

[2022-07-10 03:49] #2932 closed

[2022-07-10 18:58] voor commented on #3088
/remove-lifecycle stale

[2022-07-11 06:59] richardcase commented on #3564
CAPA will be able to apply whatever tags are needed :smile:

[2022-07-11 07:01] richardcase commented on #3575
I think we should discuss this at the office hours.

[2022-07-11 09:20] Skarlso commented on #3564
Fantastic. Let's do that. :)

[2022-07-11 19:29] Skarlso commented on #3564
So the question remains... how do we wish to implement installing Karpenter? Do we use Helm to do the trick? That would probably be the most straightforward one instead of trying to download a release and setting up various things for it on our own which might change from release to release...

[2022-07-12 09:36] richardcase commented on #3564
Do you think that CAPA would do the install of karpenter? Or would we leave that up to the user?

[2022-07-12 09:42] Skarlso commented on #3564
What could CAPA do if not installing and maintaining Karpenter? Like, what would the integration do?

I thought the integration meant that we also install Karpenter itself and take care if the user increases the version for it. But I might be mistaken in that regard or envisioned too much? :)

Otherwise, I guess CAPA could maintain the IAM resources, roles and tags and such, but that's not much to

[2022-07-12 10:09] richardcase opened #3584 "[e2e] Enhance the GC tests to cover ALB"
/kind feature
/area testing
/help
/triage accepted
/priority important-soon

**Describe the solution you'd like**
As a follow-up to #3518 we need to enhance the e2e tests to cover ALBs. Currently, the e2e tests only support ELB/NLB.

This will invlove a number of changes documented here: https://docs.aws.amazon.com/eks/latest/userguide/aws-load-balancer-controller.html

**Environment:**

- Cluster

[2022-07-12 15:03] pydctw opened #3585 "Support a list of instance types in AWSManagedMachinePool"
/kind feature

**Describe the solution you'd like**
`AWSManagedMachinePool` has a field, `instanceType`, for specifying a single instance type. We should support a list of instance types that the underlying node group should use.

This is primarily useful for spec.capacityType: spot, where specifying a set of instances increases your odds of finding an adequate instance, but there's nothing stoppi

[2022-07-12 15:28] richardcase commented on #1484
/remove-lifecycle frozen

[2022-07-12 15:29] richardcase commented on #1982
/remove-lifecycle frozen

[2022-07-12 15:29] richardcase commented on #2009
/remove-lifecycle frozen

[2022-07-12 15:29] richardcase commented on #2029
/remove-lifecycle frozen

[2022-07-12 15:29] richardcase commented on #2055
/remove-lifecycle frozen

[2022-07-12 15:29] richardcase commented on #2105
/remove-lifecycle frozen

[2022-07-12 15:29] richardcase commented on #2141
/remove-lifecycle frozen

[2022-07-12 15:29] richardcase commented on #2146
/remove-lifecycle frozen

[2022-07-12 15:30] richardcase commented on #2178
/remove-lifecycle frozen

[2022-07-12 15:58] Ankitasw commented on #2169
@sedefsavas @richardcase can we close this issue, as we have not got any further response?

[2022-07-12 16:09] richardcase commented on #2208
/remove-lifecycle frozen

[2022-07-12 16:09] richardcase commented on #2212
/remove-lifecycle frozen

[2022-07-12 16:09] richardcase commented on #2224
/remove-lifecycle frozen

[2022-07-12 16:09] richardcase commented on #2225
/remove-lifecycle frozen

[2022-07-12 16:09] richardcase commented on #2238
/remove-lifecycle frozen

[2022-07-12 16:10] richardcase commented on #2251
/remove-lifecycle frozen

[2022-07-12 16:10] richardcase commented on #2256
/remove-lifecycle frozen

[2022-07-12 16:10] richardcase commented on #2268
/remove-lifecycle frozen

[2022-07-12 16:10] richardcase commented on #2272
/remove-lifecycle frozen

[2022-07-12 16:10] richardcase commented on #2283
/remove-lifecycle frozen

[2022-07-12 16:10] richardcase commented on #2309
/remove-lifecycle frozen

[2022-07-12 16:10] richardcase commented on #2316
/remove-lifecycle frozen

[2022-07-12 16:10] richardcase commented on #2317
/remove-lifecycle frozen

[2022-07-12 16:10] richardcase commented on #2320
/remove-lifecycle frozen

[2022-07-12 16:11] richardcase commented on #2335
/remove-lifecycle frozen

[2022-07-12 16:11] richardcase commented on #2351
/remove-lifecycle frozen

[2022-07-12 16:11] richardcase commented on #2355
/remove-lifecycle frozen

[2022-07-12 16:11] richardcase commented on #2371
/remove-lifecycle frozen

[2022-07-12 16:11] richardcase commented on #2380
/remove-lifecycle frozen

[2022-07-12 16:11] richardcase commented on #2397
/remove-lifecycle frozen

[2022-07-12 16:11] richardcase commented on #2420
/remove-lifecycle frozen

[2022-07-12 16:13] richardcase commented on #3381
/remove-lifecycle frozen

[2022-07-12 16:13] richardcase commented on #3284
/remove-lifecycle frozen

[2022-07-12 16:13] richardcase commented on #3181
/remove-lifecycle frozen

[2022-07-12 16:13] richardcase commented on #3105
/remove-lifecycle frozen

[2022-07-12 16:13] richardcase commented on #2989
/remove-lifecycle frozen

[2022-07-12 16:13] richardcase commented on #2869
/remove-lifecycle frozen

[2022-07-12 16:13] richardcase commented on #2858
/remove-lifecycle frozen

[2022-07-12 16:13] richardcase commented on #2855
/remove-lifecycle frozen

[2022-07-12 16:13] richardcase commented on #2849
/remove-lifecycle frozen

[2022-07-12 16:13] richardcase commented on #2844
/remove-lifecycle frozen

[2022-07-12 16:14] richardcase commented on #2840
/remove-lifecycle frozen

[2022-07-12 16:14] richardcase commented on #2828
/remove-lifecycle frozen

[2022-07-12 16:14] richardcase commented on #2819
/remove-lifecycle frozen

[2022-07-12 16:14] richardcase commented on #2816
/remove-lifecycle frozen

[2022-07-12 16:14] richardcase commented on #2752
/remove-lifecycle frozen

[2022-07-12 16:14] richardcase commented on #2704
/remove-lifecycle frozen

[2022-07-12 16:14] richardcase commented on #2582
/remove-lifecycle frozen

[2022-07-12 16:15] richardcase commented on #2540
/remove-lifecycle frozen

[2022-07-12 16:15] richardcase commented on #2508
/remove-lifecycle frozen

[2022-07-12 16:15] richardcase commented on #2449
/remove-lifecycle frozen

[2022-07-12 16:30] dkoshkin commented on #2309
@nehatomar12

For my setup I deployed the bootstrap cluster into a private Subnet (with no InternetGateway or other routing setup to reach the Internet).
When did happens the AWS APIs also become inaccessible. To get around this and have CAPA be able to reach the AWS APIs I created some VPC Endpoints.

Here is what that would look like in Terraform for `secretsmanager`.
[code]

Similarly I created

[2022-07-12 20:56] sedefsavas opened #3589 "[Doc] Create custom quick start documentation"
Current getting-started page points to the CAPI quick start, which is missing CAPA specific details and causes some linking issues (https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3453 and https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3575).

A CAPA specific introduction with a link to CAPI quick start would be easier to follow.

For example, CAPI quick star

[2022-07-12 22:50] pydctw commented on #3531
/assign

[2022-07-12 23:36] pydctw commented on #3399
/remove-lifecycle stale

[2022-07-13 08:19] #3572 closed

[2022-07-13 08:19] richardcase commented on #2169
@Ankitasw - now the lifecycle frozen is removed the usual lifecycle should apply and it will be closed after some inactivity.

However, we appear to have  `ec2:DescribeNatGateways` so lets close.

@lxlxok @dlipovetsky - feel free to reopen if needed.

/close

[2022-07-13 08:19] #2169 closed

[2022-07-13 11:45] oscr commented on #3575
Closing since it's superseded by #3589.

[2022-07-13 11:45] #3575 closed

[2022-07-13 15:55] Ankitasw commented on #3274
/assign

[2022-07-13 20:40] yogeek opened #3594 "For EKS, CAPI truncates the `version` field in AWSManagedControlPlane spec after apply"
/kind bug

**What steps did you take and what happened:**

When setting k8s version for nodegroups in CAPI YAML manifest (`AWSManagedControlPlane.spec.template.spec.version`), EKS only allows MAJOR.MINOR (e.g. `1.22`) but ClusterAPI requires a "semantic version" MAJOR.MINOR.PATCH (e.g. 1.22.10)
- when setting 1.22 in the manifest, clusterAPI error is : `invalid: spec.template.spec.version: Invalid

[2022-07-13 21:52] sedefsavas commented on #3594
MachinePool version looks like having a validation check for updates as well, so should not be changeable to v1.22 looking at this:
https://github.com/kubernetes-sigs/cluster-api/blob/ef7172a853344d3b047fb0ace3f349079f3eef1f/exp/api/v1beta1/machinepool_webhook.go#L149

Could you confirm if MachinePool.spec.template.spec.version is set to v1.22?

[2022-07-13 21:55] sedefsavas commented on #3585
/triage accepted
/priority important-longterm
/area provider/eks

[2022-07-13 22:52] sedefsavas commented on #3527
I replicated the issue, thanks for reporting.

/triage accepted
/priority important-soon

[2022-07-14 13:58] #3567 closed

[2022-07-14 14:49] sedefsavas opened #3599 "Migrate to Ginkgo v2 during cluster-api v1.3 bump"
Starting from CAPI v1.3, Ginkgo v2 will be used (https://github.com/kubernetes-sigs/cluster-api/pull/6906).
For bumping to CAPI 1.3 version, we should also migrate e2e tests to v2.

/triage accepted
/area dependency
/priority important-longterm

[2022-07-14 17:14] sedefsavas opened #3600 "Drop v1alpha3 to v1beta1 upgrade tests"
Considering v1alpha3 support has ended back in February and it only support Kubernetes versions <= v1.22, we can drop this test instead of adding a custom logic to use supported older version. (https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3468 bumps e2e Kubernetes versions to 1.24 so this test fails [here](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-s

[2022-07-15 01:51] #2797 closed

[2022-07-15 01:51] #2899 closed

[2022-07-15 06:56] #2654 closed

[2022-07-16 13:02] #3087 closed

[2022-07-16 20:09] #3224 closed

[2022-07-17 08:21] Skarlso commented on #3564
@richardcase Cool, that makes sense! :) I'll do some research and try out things, see how it works. :)

[2022-07-17 08:23] Skarlso commented on #3564
Hang on, I think I misunderstood the integration with CAPA and Karpenter. But now I see. I thought CAPA should manage Karpenter from 0 and onwards. But now I understand that it should be aware that Karpenter exists on the cluster and work with it?

[2022-07-18 23:10] #3527 closed

[2022-07-19 08:37] yogeek commented on #3594
Hi @sedefsavas thanks for your help
Sorry, I mixed up resources and indeed, it is not `MachinePool` version which was truncated but `AWSManagedControlPlane` version
I am going to update the issue title accordingly

Here is the GIT manifest :
[code]
and the result after cluster api created the cluster /
[code]

[2022-07-19 14:07] li3 opened #3606 "CAPA Reconcile Retry when AWSClusterRoleIdentity Role is Missing"
/kind bug

**What steps did you take and what happened:**
My organization is very restrictive on who/when/where IAM roles / policies can be created. When using CAPA in a multi-tenant way per the [documentation](https://cluster-api-aws.sigs.k8s.io/topics/full-multitenancy-implementation.html), we have created automation that, on `AWSManagedControlPlane` creation, we create the `AWSClusterRoleIdenti

[2022-07-19 17:08] richardcase commented on #3435
/lifecycle active

[2022-07-19 19:51] eringet opened #3608 "Cluster fails to delete, stuck on MachinePool finalizer"
/kind bug

**What steps did you take and what happened:**
We are able to create EKS clusters, but when we delete it, the deletion almost always hangs on the MachinePool, which needs the finalizer to be removed manually.  As far as I can tell everything is correctly cleaned up, once we remove the finalizer.  The capi controller has an error that the kubeconfig secret is gone, and the capa controlle

[2022-07-20 07:18] richardcase commented on #3594
I'm going to re-create this so:

/assign
/lifecycle active

[2022-07-20 07:57] richardcase commented on #3594
If a version number is specified on the `AWSManagedControlPlane` then we "normalize" this [here](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/controlplane/eks/api/v1beta1/awsmanagedcontrolplane_webhook.go#L380:L387). In this instance "normalize" means converting the version number to   **MAJOR.MINOR** format and storing the result back in the spec. So as @yogeek has seen i

[2022-07-20 15:16] richardcase commented on #2355
Change the addons override to default to overwrite: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3513#discussion_r920090162

[2022-07-21 10:54] #2993 closed

[2022-07-22 08:53] #2865 closed

[2022-07-22 15:29] pydctw commented on #3531
/unassign

[2022-07-24 06:24] bhegazy opened #3614 "Broken links under EKS Addons and Multi-tenancy pages"
/kind documentation

While following the guide under [EKS Addons](https://cluster-api-aws.sigs.k8s.io/topics/eks/addons.html) and [Multi-tenancy](https://cluster-api-aws.sigs.k8s.io/topics/multitenancy.html) I found some references to broken links which leads to `Document not found (404)`

Broken Links:
- https://cluster-api-aws.sigs.k8s.io/templates/cluster-template-eks-managedmachinepool-vpccni.

[2022-07-24 07:13] Skarlso commented on #3614
Hi, we are also tracking these things globally here: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3453

Because there are actually quite a lot of broken links in the guide. :)

[2022-07-24 11:45] invidian commented on #3055
It seems it's related to local development #3225?

[2022-07-25 08:19] JoelSpeed commented on #3035
/remove-lifecycle rotten

Still interested in seeing this being supported going forward

[2022-07-25 12:34] mloiseleur commented on #3404
/remove-lifecycle stale

[2022-07-25 12:52] Ankitasw commented on #3404
@mloiseleur please do not remove lifecycle-stale.
Is this issue still reproducible?

[2022-07-25 12:55] Ankitasw commented on #3404
@Madhur97 is there a chance you are still working on this? If not, please unassign yourself.

[2022-07-25 14:27] mloiseleur commented on #3404
@Ankitasw Yes, this issue is still reproducible.

[2022-07-25 15:14] #3614 closed

[2022-07-25 16:52] richardcase commented on #3384
/milestone backlog

[2022-07-25 16:52] richardcase commented on #3384
/milestone Backlog

[2022-07-25 16:54] richardcase commented on #2274
/milestone Backlog

[2022-07-25 16:54] richardcase commented on #2256
/milestone Backlog

[2022-07-25 16:54] richardcase commented on #2105
/milestone Backlog

[2022-07-25 16:54] richardcase commented on #2224
/milestone clear

[2022-07-25 16:55] richardcase commented on #2857
/milestone clear

[2022-07-25 16:55] richardcase commented on #2966
/milestone clear

[2022-07-25 16:55] richardcase commented on #2771
/milestone v1.6.0

[2022-07-25 16:56] richardcase commented on #2828
/milestone clear

[2022-07-25 16:56] richardcase commented on #2371
/milestone clear

[2022-07-25 16:56] richardcase commented on #2819
/milestone clear

[2022-07-25 16:56] richardcase commented on #2316
/milestone clear

[2022-07-25 16:56] richardcase commented on #2858
/milestone clear

[2022-07-25 16:57] richardcase commented on #3105
/milestone clear

[2022-07-25 16:57] richardcase commented on #3109
/milestone clear

[2022-07-25 16:57] richardcase commented on #3131
/milestone clear

[2022-07-25 16:57] richardcase commented on #3166
/milestone clear

[2022-07-25 16:57] richardcase commented on #3167
/milestone clear

[2022-07-25 16:58] richardcase commented on #3414
/milestone v1.6.0

[2022-07-25 16:58] richardcase commented on #3507
/milestone v2.X

[2022-07-25 16:59] richardcase commented on #3507
/milestone v2.x

[2022-07-25 16:59] richardcase commented on #2320
/milestone clear

[2022-07-25 16:59] richardcase commented on #392
/milestone clear

[2022-07-25 17:00] richardcase commented on #1718
/milestone v1.5.0

[2022-07-25 17:01] richardcase commented on #3435
/milestone v1.5.0

[2022-07-25 17:02] richardcase commented on #2420
/milestone v1.6.0

[2022-07-25 17:10] richardcase commented on #1484
/milestone v2.x

[2022-07-25 18:02] yandooo commented on #2420
Can't wait for this to go through :)

[2022-07-25 19:50] Skarlso commented on #2420
Me neither. :D Not much longer now... :))))

[2022-07-26 07:47] Skarlso commented on #3447
/remove-lifecycle stale

[2022-07-26 07:48] Skarlso commented on #3447
eh, I tried. :)

[2022-07-26 07:48] Skarlso commented on #3447
Hello @mweibel.

This is still a desired thing, right?

[2022-07-26 08:51] mweibel commented on #3447
hi @Skarlso
yes :)

[2022-07-26 11:54] Skarlso commented on #3405
@rvacaru Hi. :)

Are you still looking into the regression thing? It's fine if there is just life and delays, that's understandable. Just reaching out for information. :)

/remove-lifecycle stale

[2022-07-26 11:58] Ankitasw commented on #3404
/unassign @Madhur97

[2022-07-27 07:48] richardcase opened #3620 "Update OWNERS for Prow Jobs"
/kind cleanup
/area admin
/triage accepted
/priority important-soon

**Describe the solution you'd like**
We need to update the [OWNERS](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/cluster-api-provider-aws/OWNERS) file for our jobs in Prow to match the current approvers for capa and move others to emeritus.

**Anything else you would like to add:**
[Miscellaneo

[2022-07-27 07:51] richardcase commented on #3620
/assign

[2022-07-27 07:53] richardcase opened #3621 "Update GitHub Team Membership"
/kind cleanup
/area admin
/triage accepted
/priority important-soon

**Describe the solution you'd like**
We need to update the GitHub team memberships for the following teams:

- cluster-api-provider-aws-admins
- cluster-api-provider-aws-maintainers

So that only existing maintainers/admins are members>

[This](https://github.com/kubernetes/org/blob/67e83b2c3cf1a6e7a3d841a686315ced1cb5cef7/config

[2022-07-27 07:53] richardcase commented on #3621
/assign

[2022-07-27 15:57] AverageMarcus opened #3624 "`clusterctl move` not compatible with `AWSMachinePools`"
/kind bug

**What steps did you take and what happened:**

1. Spin up a bootstrap cluster in Kind
2. Create a new target cluster with at least one `AWSMachinePool` defined
3. Wait for target cluster to be created and ready
4. Perform a pivot of the cluster using `clusterctl move` so the target cluster is self-managing.
5. The following error will be reported:
[code]

**What did you expect to happe

[2022-07-27 16:07] sedefsavas commented on #3624
Thanks for reporting this issue!

This is happening because the `deviceName` field under `rootVolume` section is not allowed to be non-nil during creation, but is set by the controllers. During `clusterctl move`, with that field set, creation fails.

For the proper fix, we need to wait for v1beta2 release, as we need webhook/field changes.
But as a workaround, before the move, if users manually de

[2022-07-27 16:11] pydctw commented on #3528
The initial idea of adding uuid with OpenAPI defaulting and use a defaulting webhook to set a unique id doesn't work. See [doc](https://docs.google.com/document/d/1kkEuLWA3igveowtSE8SxNcirSl4eY_lUwdeDkhI7LsA/edit#heading=h.pucaqfofprb1) for more discussion.

This needs to wait for v1beta2 API.

[2022-07-27 16:12] pydctw commented on #2355
Add a required field to SubnetSpec to use as listMapKey in SSA: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3528

[2022-07-27 16:33] richardcase commented on #3316
/remove-lifecycle stale

[2022-07-27 17:31] sedefsavas opened #3626 "Improve logging with following CAPI guideline"
There is a new logging guideline in CAPI and following this guideline and making logs consistent with CAPI will improve UX.

Guideline: https://github.com/kubernetes-sigs/cluster-api/pull/6969

and this is the CAPI implementation: https://github.com/kubernetes-sigs/cluster-api/pull/6150

/area ux
/triage accepted
/priority important-longterm
/help wanted

[2022-07-27 18:27] sedefsavas commented on #2355
Remove `deviceName` from `rootVolume` in AWSMachinePool CR: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3624

[2022-07-27 19:29] Skarlso commented on #3626
Oh, awesome. Can we close the rest of logging related issues then?

[2022-07-27 19:32] Skarlso commented on #3564
@enxebre  Ok, so what would be the flow? The user creates a cluster and installs Karpenter and once CAPA detects that Karpenter was installed it will manage its components? But what does management mean in this case? Bring the nodes under the CAPA umbrella if they are cycled into the cluster?

[2022-07-27 21:00] Skarlso commented on #3564
Some discussion from the Karpenter folks: https://github.com/aws/karpenter/issues/2203

[2022-07-28 14:52] sedefsavas commented on #3626
We can close them if there is nothing additional to capture with those issues. Or consolidate additional improvements we want to see here.

[2022-07-28 17:56] sedefsavas opened #3628 "Unlocking independent API version updates"
Up until now, CAPA was using the same API version with core Cluster API.
I want to open up the discussion to change that and update CAPA API versions as needed.

Some of the providers are already using their own versioning like Openstack and MicroVM and not matching with CAPI versioning. There is no blocker in the core cluster API to block this change. Plus, this makes our innovation/breaking chan

[2022-07-28 18:07] sedefsavas commented on #3088
While implementing this, we can avoid introducing the problem of creating LBs with identical names for clusters created with same name in different namespaces: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/969

NLB names need to be unique in the same AWS account and region.

[2022-07-28 18:08] sedefsavas commented on #2355
NLB support: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3088
with uniques NLB names: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/969

[2022-07-28 19:42] sedefsavas commented on #3530
OCI provider fix for the problem: https://github.com/oracle/cluster-api-provider-oci/pull/116

[2022-07-28 20:40] Skarlso commented on #3564
Basically, for now, we can try working with Karpenter, but there are a couple of things that the peeps are still working on to play nice with CAPI.

Let's wait a bit to see what they will come up with so we can start playing with it.

[2022-07-29 07:47] richardcase commented on #3528
As we are waiting for v1beta2 we can move this from 1.5.0

/milestone v2.x

[2022-07-29 07:59] #3435 closed

[2022-07-29 11:17] #3248 closed

[2022-07-29 13:29] #3242 closed

[2022-07-29 13:29] #3600 closed

[2022-07-31 18:52] voor commented on #2902
/remove-lifecycle stale

[2022-08-01 09:08] fabriziopandini opened #3641 "Test Add labels plugin"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2022-08-01 09:09] fabriziopandini commented on #3641
I'm checking how to gett needs-triage label applied in CAPI...
/close

[2022-08-01 09:10] #3641 closed

[2022-08-01 16:51] voor commented on #3454
@tasdikrahman were you still interested in working on this?

[2022-08-01 17:01] tasdikrahman commented on #3454
Hey sorry for the delay, I missed responding to this, will finish resolving the rest of the comments.

[2022-08-01 17:24] voor commented on #3454
/remove-lifecycle stale

[2022-08-02 02:39] digihunch commented on #3427
I came across this issue even though I have static credential.
* KinD v0.12.0 on MacOS to run management cluster
* clusterctl 1.2.0
* clusterawsadm 1.4.1

[2022-08-04 12:55] richardcase opened #3649 "Provide "estimate" and "cost" of a cluster"
/kind feature
/area clusterawsadm
/priority important-longterm
/triage accepted

**Describe the solution you'd like**

As a user of CAPA i would like to:

-  get an **estimate** of the cost for a cluster before i create it based on the generated manifests. This is termed an **estimate** as it won't take into account all the resources....just the big ticket items such as EC2 instances.
- get the **

[2022-08-04 12:55] richardcase commented on #3649
/assign
/lifecycle active

[2022-08-04 13:01] Skarlso commented on #3649
As a note ( because I was looking at my recent AWS bills :D ) the most spender was actually the NAT Gateway and network traffic. EC2 instances were all zero costs basically, because they were still in the range of my free tier.

Something to consider is we can't count network traffic. Even though the loadbalancer and gateways and such will probably take the majority of the cost. Also, we probably

[2022-08-05 15:16] #3287 closed

[2022-08-05 16:16] #3276 closed

[2022-08-08 20:45] #2944 closed

[2022-08-09 11:02] sedefsavas opened #3660 "GPU e2e test fails"
Since yesterday, the GPU test is failing:
https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-aws#periodic-e2e-main&show-stale-tests=

cc @Ankitasw

/kind failing-test

[2022-08-09 11:03] Ankitasw commented on #3660
I will take a look
/assign

[2022-08-09 11:13] sedefsavas commented on #3660
Could this be related to: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3459?

[2022-08-09 12:44] Ankitasw commented on #3660
@sedefsavas looks like its related to this issue

[2022-08-09 14:03] Ankitasw commented on #3660
I tried updating the imagepull policy as always, but even that is not working, something else is wrong with nvidia-container-toolkit-daemonset

[2022-08-09 15:43] Ankitasw commented on #3660
Related to https://github.com/NVIDIA/gpu-operator/issues/153

[2022-08-09 16:12] sedefsavas commented on #3660
Great, wondering why it stopped working yesterday, the issue is old.

[2022-08-10 06:05] Ankitasw commented on #3660
Yes, looks like even the workaround suggested in above issue also doesn't work ☹️ I will see some other existing issues around this, or else will raise issue in gpu-operator to get support.

[2022-08-10 09:19] Ankitasw commented on #3660
Raised issue : https://github.com/NVIDIA/gpu-operator/issues/388

[2022-08-10 11:19] Ankitasw commented on #3660
We need to update the GPU operator version as they have deprecated use of some of cuda base images in the init containers, there is no way to override this base image version. Trying to test with latest GPU operator version locally, but facing some issues, will fix those and then raise a PR. Meanwhile the test would still fail .

[2022-08-11 05:22] #3454 closed

[2022-08-11 07:26] #3660 closed

[2022-08-11 10:41] Ankitasw commented on #3522
@sedefsavas shall we close this issue, or wait for final changes with node draining?

[2022-08-11 17:30] sedefsavas commented on #3522
I think we can close this one, we are already tracking the draining here: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2574

[2022-08-11 17:30] #3522 closed

[2022-08-11 18:05] luthermonson opened #3663 "Improve EKS AMI Lookups"
/kind feature

**Describe the solution you'd like**
I would like to propose changing the AMI lookups a bit to standardize EKS and create some common terms.

*Problem*: with these two pull requests [1](https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2549/files)[2](https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1817) there was support added for pulling from SSM the

[2022-08-11 18:06] luthermonson commented on #3663
Related Issues

- Helps with windows support for eks: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3533
- Helps with ARM64 support for the entire project: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3121

[2022-08-11 18:22] sedefsavas commented on #3427
Do you see the same error in the issue? Because this looks like a temporary credential issue:
[code]

[2022-08-11 22:30] tasdikrahman commented on #3198
/assign

[2022-08-12 16:26] tasdikrahman commented on #3198
Hello there, I have tried opening a small PR https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3667 to refactor the specs for the cloud/service/network package, please have a look and let me know if that the way in which we would like the changes to go forward for the other packages too.

[2022-08-12 17:28] #2990 closed

[2022-08-12 18:49] dkoshkin opened #3668 "Resource garbage collection feature should work in a private Subnet"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
I was trying the new [resource garbage collection feature](https://cluster-api-aws.sigs.k8s.io/topics/external-resource-gc.html?highlight=resource%20garb#external-resource-garbage-collection) and it worked great for both AWS and EKS clusters 🙏 .

But then I tried with a bootstrap contr

[2022-08-13 05:38] richardcase commented on #3668
/assign

[2022-08-13 05:38] richardcase commented on #3668
/triage accepted

[2022-08-15 15:39] dlipovetsky commented on #3668
https://docs.aws.amazon.com/vpc/latest/privatelink/aws-services-privatelink-support.html lists the AWS services that can be accessed by a VPC endpoint. If the resource tagging service is not on this list, what are our options?

(Also, for reference, this is the list of public endpoints for the tagging service: https://docs.aws.amazon.com/general/latest/gr/arg.html#argtapi)

[2022-08-15 17:20] sedefsavas commented on #3198
Sticking with the camel case test naming convention is another option here.
Core Cluster API is following that and few other providers as well. If there are places we don’t follow that convention we can fix those.
I don't see a major readability benefit of the new convention but don't have a strong opinion, it is just another convention.

[2022-08-15 20:01] tasdikrahman commented on #3198
Thanks for the help, I updated the PR to reflect the test names having camel case, please have a look if that's how I would proceed for the other packages.  https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3667

[2022-08-16 05:30] tasdikrahman commented on #2840
/assign

[2022-08-16 07:02] Skarlso commented on #3663
This looks reasonable to me. But I'm not great in the AMI code lookup part atm. Will take a look at the code review accordingly.

That said, I like this approach. It adds more flexibility to the way we would use AMI lookup and add support of other types much easily if I understand it correctly?

[2022-08-16 10:47] Ankitasw commented on #3198
I think we deviated from what was expected here.
We were talking about the testcase naming conventions, not function naming convention. As mentioned in the description of the issue, we would use any of the naming convention listed [here](https://medium.com/@stefanovskyi/unit-test-naming-conventions-dd9208eadbea) and would be consistent around whole repo.

[2022-08-16 14:35] sedefsavas commented on #3447
/triage accepted

[2022-08-16 14:35] sedefsavas commented on #3447
/help

[2022-08-16 14:41] harveyxia commented on #3447
I am also interested in this feature—we want to use our own tooling for managing instance rotation for existing ASGs, and Cluster API for managing the lifecycle of the ASG itself.

[2022-08-16 18:20] sedefsavas opened #3673 "Clean up internet-facing loadbalancer scheme logic"
To fix a casing issue (https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2768), we had some custom logic implemented [here](https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2801).

With v1beta2 API version, we no longer need this custom logic as users were not allowed to use the incorrect LB scheme (Internet-facing) in v1beta1.

/triage accepted
/priority important

[2022-08-16 18:21] sedefsavas commented on #2355
Internet-facing LB scheme clean up:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3673

[2022-08-19 05:34] #2985 closed

[2022-08-19 08:13] Skarlso opened #3678 "aws-node environment properties can be duplicated"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

In the environment property update code in cni.go the environment properties can have duplicate entries if they exist already.

[code]

Notice `SOME_NAME` is there twice.

**What did you expect to happen:**

De-duplication to happen to the environment properties.

**Anything else you wo

[2022-08-19 11:40] Skarlso commented on #3594
@richardcase I just noticed this. :OOOO This was back in July 😁. I shell read this and answer.

[2022-08-19 11:45] Skarlso commented on #3594
Yeah, I agree with that fix. I can take that on. I'm sure that there was a good reason for that normalization?

[2022-08-19 13:38] richardcase commented on #3594
/assign Skarlso

[2022-08-19 15:18] Skarlso commented on #3594
So, the validation also has to be updated, right? Otherwise, you can't set any value other than MAJOR.MINOR. Which might be okay, because we would do that anyways... I can't pass in a different value during validation because that's an internal process of the webhook service using the regex defined on the field:

[code]

So, what should we do about that?

[2022-08-19 15:22] Skarlso commented on #3594
This is this part in the Handler:
[code]

It fails during marhasling. So I can't really influence that unless I overwrite the spec.Version which we don't want.

So we will have to actually require our restrictions. :D

[2022-08-19 15:26] Skarlso commented on #3594
It appears, just removing the normalise function, works.... gonna run some tests. At least there are no diffs.... So the managed controlplane will now require the version to be passed in correctly.

[2022-08-19 15:35] Skarlso commented on #3594
Yep, cluster appears to be working:

[code]

Will create a PR later on.

[2022-08-19 20:43] com6056 opened #3679 "Support autoscaling from zero"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Add support for autoscaling from zero defined in https://github.com/kubernetes-sigs/cluster-api/blob/main/docs/proposals/20210310-opt-in-autoscaling-from-zero.md

Just implemented upstream in https://github.com/kubernetes/autoscaler/pull/4840

**Anything else you would like to add:**

[2022-08-20 06:12] Skarlso commented on #3679
/triage accepted

I saw this and wanted to do it! :)

[2022-08-20 06:13] Skarlso commented on #3679
/assign Skarlso

[2022-08-20 06:17] Skarlso commented on #3679
Ping @richardcase, @sedefsavas and @Ankitasw for second opinion. :)

[2022-08-20 06:18] Skarlso commented on #3679
Also, now I'm wondering, when and how do we usually do triage-es?

[2022-08-20 11:48] Skarlso commented on #3594
Another option is to relax the regex and edit the version after it has been provided. I think that's what you suggested Richard but I might not have understood it.

So, changing the regex in the cluster config for the version to be different so existing configs don't break. And then we normalise the version internally whenever it's needed.

[2022-08-20 11:52] Skarlso commented on #3594
I'm going to relax the version regex to accommodate 4 scenarios:

- 1.22
- v1.22
- 1.22.0
- v1.22.0

These will make sure no existing configs will break, and internally, we normalise it to the needed format anyways.

[2022-08-21 22:08] #2995 closed

[2022-08-22 09:23] Skarlso commented on #3679
My understanding from reading this is as follows:

- Create a `Status` field in AWSMachineTemplate and reconcile it
- Based on those templates, create annotations on the machine deployment following the names outlined within
- ?
- Profit.

I'm not sure what else is required. Do we just have to add the annotations based on our spec fields and reconcile them back into the status field? Is that it? :

[2022-08-22 09:47] Skarlso commented on #3679
And, ofc, preventing CAPA itself from creating a machine instance where it expects one to be, if these fields are defined.

[2022-08-22 10:05] Skarlso commented on #3679
Aha
[code]

[2022-08-22 13:12] Skarlso commented on #3679
Answer from cluster-api channel:

Yes, it's enough to define the status.
Reference implementation can be found [here](https://github.com/kubernetes-sigs/cluster-api-provider-kubemark/pull/30).

[2022-08-23 05:31] #2029 closed

[2022-08-23 11:20] voor commented on #3477
/remove-lifecycle stale

[2022-08-23 12:31] invidian commented on #3055
/remove-lifecycle rotten

[2022-08-23 16:23] mimmus opened #3687 "Latest capa-ami-centos-7-1.22.13 doesn't come up due to containerd' bug"
/kind bug

**What steps did you take and what happened:**
Trying to create a Kubernetes 1.22.13 cluster using CentOS7 AMI lookup fails because first control plane node never come up as it contains a bugged containerd release with this bug:
https://github.com/containerd/containerd/issues/5130

**What did you expect to happen:**
Instance should go in Ready state and installation proceed.

**Anything

[2022-08-24 17:10] phenixblue opened #3689 "Enable reconciliation for updates to instanceType in AWSManagedMachinePool"
/kind feature

**Describe the solution you'd like**

I'd like for updates to the `instanceType` filed in the `AWSManagedMachinePool` spec to result in a clean reconciliation to the nodes.

In a normal rolling fashion

- Create a new node of the new instanceType
- Drain/Cordon an existing node

I saw this was brought up quite a while ago in [Kubernetes Slack](https://kubernetes.slack.com/archives/C

[2022-08-24 17:22] phenixblue opened #3690 "Ability to define disk type in AWSManagedMachinePool"
/kind feature

**Describe the solution you'd like**

Would like a filed added to allow for defining the disk type (e.g. gp2, io1, etc...) within the AWSManagedMachinePool spec.

**Anything else you would like to add:**

Today the spec only allows for specifying disk size, but maybe something similar to the [volume type](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/f22d6f61d230a

[2022-08-24 17:39] #2267 closed

[2022-08-24 17:39] #2857 closed

[2022-08-24 19:21] unnimona opened #3691 "LoadBalancer stuck in pending"
i have observed external ip is not  issued instead in state of pending

helm install wordpress bitnami/wordpress --values=wordpress.yaml --namespace production --version 15.1.0
wordpress.yaml

wordpressUsername: admin
wordpressPassword: admin
wordpressEmail: contact@admin.com
wordpressFirstName: admin1
wordpressLastName: admin1
wordpressBlogName: admin1.com
ports:
  - port: 80
    targetPort: 8080

[2022-08-24 19:50] Skarlso commented on #3691
Try describing the loadbalancer resource to find out its external address. Or check on the AWS console.

[2022-08-24 21:03] unnimona commented on #3691
i could not find any errors
any commands to check with awscli?

[2022-08-25 21:04] luthermonson commented on #3690
just because i looked into this for like 10min ill leave some notes.

in the go aws sdk for eks there is `CreateNodegroupInput` which has no support for volume types or anything that looks like the volume mapping you can do in ec2.

DiskType says this:
[code]

It's possible we need to implement `CreateNodegroupInput.LaunchTemplate`? The way eksctl [got around](https://github.com/weaveworks/eksctl/

[2022-08-25 21:45] luthermonson opened #3692 "Static (Unmanaged) VPC Placement has Messy Tag Handling"
/kind bug

**What steps did you take and what happened:**
Create two clusters with the same static VPC/Subnets/NAT Gateways
 - CAPA will reconcile both clusters and only the values of the most recently reconciled cluster will apply leading to them playing stomp out every reconciliation loop. This applies to AdditionalTags too which could get dicey if you think of something like a billing tag where

[2022-08-26 06:52] #3323 closed

[2022-08-26 14:03] enxebre opened #3694 "Deletion stuck when instance is terminated and ack in status but creds are invalid"
/kind bug

**What steps did you take and what happened:**
- Instance gets terminated in AWS (and so reflected in .instanceState).
- Break creds.
- Delete awsMachine.
- Deletion is stuck on invalid creds.

**What did you expect to happen:**
Would it be reasonable to let reconcileDelete infer .instanceState before querying the cloud provider and let it go through https://github.com/kubernetes-sigs/c

[2022-08-26 14:19] richardcase commented on #3694
This is similar to #2606

[2022-08-28 07:15] AverageMarcus commented on #2022
There's been a lot of progress on handling this via an annotation on the MachinePool:

* CAPI PR - https://github.com/kubernetes-sigs/cluster-api/pull/7107/files
* CAPA WiP PR - https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3683
* CAPZ merged PR - https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2444

It looks like that is the direction this implementation is g

[2022-08-29 18:14] dlipovetsky commented on #2844
When a controller has to re-initiate a connection to the control plane, does it resync its cache? If it does, there might be a lot of object fetching every time the idle timeout is reached, so increasing it would decrease the load on the API server.

[2022-08-29 18:28] dlipovetsky commented on #491
This is the mechanism we need in order to use CAPA in AWS environments, like GovCloud, where AWS SSM (or other AWS services) use a custom, i.e. user-defined, CA.

[2022-08-29 19:48] dthorsen commented on #2022
@AverageMarcus I think the annotation-based approach will be sufficient for this use-case. This issue is still valid until the annotation-based solution PR's are merged so I'd recommend leaving this open and linking it to the relevant PR's.

[2022-08-30 23:50] thefirstofthe300 commented on #3560
I managed to POC using the built-in well-known OID configuration endpoint in the API server (https://github.com/kubernetes/kubernetes/pull/98553); however, it currently requires bringing my own infra and knowing the CA cert's fingerprint. Here's my configuration:

- BYO load balancer listening on port 443 and forwarding traffic to the API server
- BYO load balancer security group with the proper c

[2022-08-31 15:47] #2055 closed

[2022-09-01 01:01] Jacobious52 opened #3698 "v1.5.0 fails to reconcile EKS cluster when cluster name is not same as eks control plane name"
/kind bug

**What steps did you take and what happened:**

Starting in 1.5.0 with https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3598/files# if the EKS controlplane name is different the cluster name, reconciliation fails with `checking owner of bike is bike-cluster: **%!w(<nil>)**`

For an example:

Cluster object is called `bike-cluster`
[code]

eksClusterName is `bike`
[code]

[2022-09-01 04:54] Skarlso commented on #3698
/assign

[2022-09-01 04:54] Skarlso commented on #3698
/triage-accepted

[2022-09-01 04:55] Skarlso commented on #3698
/triage accepted

[2022-09-01 15:34] pixiono opened #3700 "Userdata seems not working while using AWSManagedMachinePool"
/kind bug

We are trying to build an EKS cluster with NodeGroups, using the AWSManagedMachinePool. Since we are in an almost airgapped environment (i.e. have no internet gateway or similar) we would like to configure a proxy. For this we need [to do a few things](https://aws.amazon.com/de/premiumsupport/knowledge-center/eks-http-proxy-configuration-automation/) on the node hostsystem and would lik

[2022-09-01 16:23] richardcase commented on #3700
For `AWSManagedMachinePool` we don't specify userdata, we rely on the default created userdata (which calls bootstrap.sh).

It feels like we need to expose proxy information via the API (eksconfig???) and then generate additional parts for our userdata, like this:

https://aws.amazon.com/premiumsupport/knowledge-center/eks-http-proxy-configuration-automation/

[2022-09-01 16:27] richardcase commented on #3700
I added this to the agenda for the office hours on 5th September

[2022-09-01 23:52] #3346 closed

[2022-09-02 02:44] Jacobious52 opened #3701 "Incorrect Tags Validation Regex does not allow spaces"
/kind bug

**What steps did you take and what happened:**

The regex check for valid AWS tags does not accept spaces although it says it should and is accepted by AWS

[code]

This was introduced here:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/commit/935b8d6b7f5851f11153f71c19c727de38a60bc6

**What did you expect to happen:**

Valid values with Spaces should be allowed.

**Anythi

[2022-09-02 09:35] richardcase commented on #3690
With #3094 (not released yet) this is possible via the launch template.

[2022-09-02 09:36] richardcase commented on #3690
As this is probably handled:

/priority awaiting-more-evidence

[2022-09-02 09:37] richardcase commented on #3690
/triage needs-information

[2022-09-02 09:38] richardcase commented on #3700
/triage accepted
/priority important-soon
/area provider/eks

[2022-09-02 09:38] richardcase commented on #3701
/triage accapted
/priority backlog

[2022-09-02 09:39] richardcase commented on #3701
/triage accepted

[2022-09-02 09:58] richardcase commented on #2844
/triage accepted
/priority important-longterm
/help

[2022-09-02 10:20] #3594 closed

[2022-09-02 10:22] richardcase opened #3704 "[e2e] Add scale to 0 test"
/kind feature
/area testing
/priority important-longterm
/triage accepted
/help

**Describe the solution you'd like**
As a follow-up to #3684 we should add a e2e test that tests scaling in general and scaling to 0.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version:

[2022-09-02 10:46] richardcase commented on #3663
/triage accepted
/priority important-soon
/milestone v1.6.0
/area provider/eks

[2022-09-02 15:48] #3679 closed

[2022-09-03 16:41] richardcase commented on #3325
This is important for the future, so

/reopen

[2022-09-05 07:52] #3701 closed

[2022-09-05 16:27] richardcase commented on #3692
/triage accepted
/priority important-longterm

[2022-09-05 16:29] richardcase commented on #3691
/triage needs-information

[2022-09-06 05:44] Skarlso commented on #2574
/remove-lifecycle stale

[2022-09-06 07:49] Skarlso opened #3711 "Fully private CAPA clusters"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

This is a catch-all issue for everything that needs to be done related to making private clusters a reality.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes

[2022-09-06 08:26] richardcase commented on #3711
We have an issue where we wanted to re-think the networking and offer different topologies: #1484

A few other issues that are related:

- #3700
-  #2465
- #2484
- #2849
- #3131

[2022-09-06 08:27] richardcase commented on #3711
/triage accepted
/priority important-soon

[2022-09-06 18:52] timothymahoney opened #3712 "Auto Scaling Group Suspend Processes functionality"
/kind feature

**Describe the solution you'd like**
Auto Scaling groups give operators the ability to suspend certain functions on a case-by-case basis

AWS doc here:
https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_SuspendProcesses.html

Go SDK doc here:
https://docs.aws.amazon.com/sdk-for-go/api/service/autoscaling/#AutoScaling.SuspendProcesses

It would be good to be able to perform

[2022-09-06 19:55] richardcase commented on #3712
/triage accepted
/priority backlog
/help

[2022-09-07 09:52] Skarlso commented on #3698
I _might_ have found what's causing this... 🤞

[2022-09-07 11:30] Skarlso commented on #3698
Hm, I couldn't actually reproduce this.

@Jacobious52 Do you have a more involved example? I used this config:

[code]

And got this in the logs:

[code]

[2022-09-07 11:31] Skarlso commented on #3698
As for the other two things, I do have a small PR.

[2022-09-07 11:47] Jacobious52 commented on #3698
@Skarlso awesome thanks for looking into it.

As for reproducing, I can get you a full config tomorrow.

One thing to note is that this occurred when upgrading the controllers from 1.4 to 1.5, with existing worker clusters. A potential idea I have off the top of my head is that the aws tags that the controller puts on the eks object changed since the upgrade, but is only reflected on new control p

[2022-09-07 11:48] Skarlso commented on #3698
Ah yes. The upgrade might have caused this since it was looking for a different tag in 1.5.

[2022-09-07 11:50] Skarlso commented on #3698
BTW, the attached PR _might_ fix your problem, because without updating the clusterName properly it did result in an empty tag. Interesting. :)

[2022-09-07 11:50] Skarlso commented on #3698
So if you can reproduce the problem, please try the attached PR. It might work. :)

[2022-09-07 12:41] Skarlso commented on #2420
IPv6 for EKS has been merged.

Outstanding work is for Unmanaged clusters.

[2022-09-07 14:15] randomvariable commented on #3564
This work should be done in CAPI not a CAPA specific thing that would then need to be deduped later.

@vincepri , @fabriziopandini , can we move this to the CAPI repo?

[2022-09-07 15:25] Skarlso commented on #3564
Do you mean it's CAPI work because Karpenter is aiming to be a general autoscaler?

[2022-09-08 07:23] Skarlso commented on #3692
/assign

[2022-09-08 07:25] Skarlso commented on #3678
Nope, because one of the PRs is still open.

[2022-09-08 07:32] Skarlso commented on #1642
Potentially, we could use a hook/dispatch system to notify listeners of a certain resource. Channels should be quite useful in that regard. Also, there are numerous libraries in Go itself which support async calls. So implementing them shouldn't be too much of a problem.

One popular one is https://github.com/hibiken/asynq. What do you think @sedefsavas @richardcase?

[2022-09-08 07:35] Skarlso commented on #3663
Heh, turns out there is an ancient issue about something like this already here https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1869

[2022-09-08 07:38] Skarlso commented on #3712
/assign

[2022-09-08 11:03] richardcase opened #3715 "Re-think how we manage prerequisites in clusterawsadm"
/kind feature
/area clusterawsadm

**Describe the solution you'd like**

Currently, we use `clusterawsadm` to create the AWS prerequisites (i.e. IAM stuff). This creates a Cloud Formation stack.

Users are running into issues with the clusterawsadm/cloud formation approach because CloudFormation is region specific but IAM is global. Customers end up in the position where the stacks are created in

[2022-09-08 12:28] richardcase commented on #3649
Also some thinking by @bigkevmcd:

https://gist.github.com/bigkevmcd/6f6409b8acbfc54f9e37e51c0dc1d45f

[2022-09-08 12:46] richardcase commented on #3564
@randomvariable -   I agree it would be better if it worked with all providers...i.e. CAPI specific.

[2022-09-08 12:54] Skarlso commented on #3564
Cool, I can open this issue in CAPI repo.

[2022-09-08 19:24] Skarlso commented on #3564
Opened https://github.com/kubernetes-sigs/cluster-api/issues/7198 in CAPI.

[2022-09-09 06:32] Skarlso commented on #3712
There are two choices for UX here:

1. Add another field called `resumedProccess` that the user would like to have resumed because they were suspended before.
    - This approach has the benefit that it's explicit in nature and we don't have to rely on the retrieved settings.
2. We can get the currently suspended processes and if they don't match the existing setting we enable anything that isn't

[2022-09-09 06:33] Skarlso commented on #3712
Further, since this requires an update to the API and we are about to cut a new version `v1beta2` I suggest we hold off on this before the new version is available.

[2022-09-09 12:51] AverageMarcus commented on #3711
@Skarlso @richardcase would I be correct that this relates to both managed and unmanaged VPCs?

If so I know there's some [current logic](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/13617fa198118cf8ffbcf252584da15a23445dd9/pkg/cloud/services/network/subnets.go#L109-L116) that requires a CAPA-managed VPC to have at least 1 public and 1 private subnet. I'm not sure what the cont

[2022-09-09 13:44] mihalycsokas opened #3717 "Documentation issue: invalid combination of new api version and old configuration in the AWSClusterStaticIdentity example"
/kind bug

**What steps did you take and what happened:**
I created the secret then tried to create the AWSClusterStaticIdentity according to the [official documentation](https://cluster-api-aws.sigs.k8s.io/topics/multitenancy.html#awsclusterstaticidentity), [in the source ](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/14f91d84eae9c76ddbb151fc007dd10459956903/docs/book/src/topi

[2022-09-09 13:57] flxw commented on #3325
Hi @richardcase ,
I could help with this one. Would you be ok with using [sigstore](sigstore.dev)?
That would allow you to have publicly verifiable signatures without key management.
How do you create your releases? I quickly checked the workflows, but couldn't find any dedicated workflow for that.

I'd like to split the SBOM generation ticket into a separate issue because we can take care of that

[2022-09-09 14:01] sbueringer commented on #3325
I wonder if there is already infrastructure in place in the kubernetes community that we can just use?

e.g. I noticed that our container images are already signed because signing was added to the Kubernetes image promotion process.

[2022-09-09 14:04] flxw commented on #3325
I think you are referring to [this](https://blog.sigstore.dev/kubernetes-signals-massive-adoption-of-sigstore-for-protecting-open-source-ecosystem-73a6757da73), right? That's the same mechanism I would love to use :)

[2022-09-09 14:31] sbueringer commented on #3325
Ah perfect. Thx for the info, I"m not really familar with how it works :)

[2022-09-09 21:56] pacharya-pf9 opened #3718 "MachinePool and MachineDeployment added to EKS cluster can some times get stuck in scaling up state"
/kind bug

**What steps did you take and what happened:**

When creating EKS clusters through CAPI with AWSManagedControlPlane as the control plane and MachinePool/MachineDeployment as the node group we observed that machines will some times get stuck in "provisioned" state. This causes the corresponding machine pool and machine deployment to remain in "ScalingUp" state.
Upon debugging we observed

[2022-09-10 02:35] #3396 closed

[2022-09-10 05:35] #3297 closed

[2022-09-10 06:24] Skarlso commented on #3711
Correct.

Precisely. CAPA needs to maintain connection and refresh kube config for access. But this could be done via a private connection as well. As long as CAPA is in the same network I guess.

Also, CAPA when it's done creating the cluster (managed EKS), it needs to shut off the public endpoint of the cluster. I have no idea how that will work. But as long as CAPA is in the same network, it sh

[2022-09-10 10:22] AverageMarcus commented on #3711
Sorry, it'd been a long week 😅

What I mean is, should we have an issue to specifically cover removing the hardcoded requirement on having both public and private subnets. I imagine there's more needed than just removing the checks so would be good to collect that info somewhere.

This has reminded me, there also needs to be support for situation where the initial creation of public resources (sub

[2022-09-10 12:07] Skarlso commented on #3711
Ah gotcha. :D Yes, sure, we can track that separately. This ticket is meant to be something akin to an epic basically.

True. Sadly. :D That will be a lot of work. :D But , hmm.. maybe not, because NAT gateways are only created when using public networks so if we don't create those at all, we shouldn't create a nat gateway either, right?

[2022-09-11 06:40] Skarlso commented on #3717
Oh! Nice catch.

In the code:

[code]

For v1beta1... We'll have to fix that. Thanks!

/triage accepted

[2022-09-11 06:44] Skarlso commented on #3717
Ahh. Actually, that was an intentional change. Because we are now only reading secrets from the controller namespace.

Which just means we have to update the Example in the doc. :))

[2022-09-11 06:44] Skarlso commented on #3717
/area docs

[2022-09-11 06:44] Skarlso commented on #3717
/area doc

[2022-09-11 06:45] Skarlso commented on #3717
bummer. :)

[2022-09-11 06:51] Skarlso commented on #3717
/assign

[2022-09-12 06:05] AverageMarcus commented on #3711
In theory, yes.

I'll raise an issue for making the NAT gateway an optional resource for private network clusters and link back to here.

[2022-09-12 06:10] AverageMarcus opened #3721 "Optional NAT Gateway creation for private networks"
/kind feature

**Describe the solution you'd like**
The ability to skip the creation of a NAT Gateway when using CAPI-managed VPC but with [fully private networking](https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3711).

This wouldn't need to be explicitly set and could instead be based on the presence of public subnets existing.
Only private subnets = no NAT Gateway.

**Anythi

[2022-09-12 06:45] Skarlso commented on #3691
Well, you can use [describe-load-balancer](https://docs.aws.amazon.com/cli/latest/reference/elb/describe-load-balancers.html) with the aws cli to get its status.

With kubectl you can only describe the service....

[2022-09-12 06:52] Skarlso commented on #3692
I agree that if the VPC is unmanaged, CAPA shouldn't do anything with it, including messing with the tags even if they are `AdditionalTags`.

That, however, should be clearly documented and is probably a "breaking change". If this feature has been relied upon previsouly.

[2022-09-12 06:59] Skarlso commented on #3692
Hmm, this is interesting. I can't really find the code where additional tags are applied to unmanaged VPCs.

@luthermonson can you give me the cluster yaml you used to replicate this problem?

[2022-09-12 07:01] Harsh0018511 commented on #3434
Hi, I would like to work on this issue as part of our College Project. If possible could you please direct me to some resources where I can understand more about this topic and issue.
/assign

[2022-09-12 07:02] Skarlso commented on #3692
One interesting point might be this... In order for the VPC to become unmanaged, it also needs to be missing the Owned tag:

[code]

Maybe this tag was present in your VPC?

[2022-09-12 07:08] Skarlso commented on #3434
Honestly, this issue is pretty strange.

First, the expected outcome:

[code]

Why not? Also, that's probably not something we can influence; it depends on how `kubectl` works.

Maybe the desired outcome was no reaped nodes?

Second, I'm not sure what MHC is. In my context, it's Machine Health Check, but I could be wrong, and OP is using some kind of load balancer type thing. But in that case, I'm

[2022-09-12 07:09] Harsh0018511 commented on #3434
@Skarlso Sure. Thanks for the reply.

[2022-09-12 07:16] Skarlso commented on #3692
/triage needs-information

[2022-09-12 07:25] Harsh0018511 commented on #3718
Hi @pacharya-pf9
I am a newbie in this domain but I want to learn and understand this topic and work on this issue as part of my college project. If possible could you please direct me to some resources which will help me to start working on this issue. Thanks.
/assign

[2022-09-12 10:58] mihalycsokas commented on #3717
Thank you for the fast response.

[2022-09-12 17:24] judexzhu commented on #3215
@dipendrachaudhary I had the same issue with the Cluster-API quickstart. Your reply really helped, thanks

[2022-09-12 18:34] dlipovetsky commented on #3668
I've asked AWS about this and I'll update when I hear back.

[2022-09-12 18:40] cnmcavoy commented on #3109
I took a stab at this as part of #3728 but this part puzzles me:

Why does an immutable resource need onUpdate logic? The current logic https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/api/v1beta1/awsmachine_webhook.go#L116 enforces the immutability. Is this immutability incorrect? I'm a bit confused at what work remains.

[2022-09-12 19:11] luthermonson opened #3729 "Disable VPC CNI Not Cleaning Up Everything"
/kind bug

**What steps did you take and what happened:**
Disabling VPC CNI is not deleting everything that is pre-installed. Currently it only deletes the `aws-node` DaemonSet and there is still a service account, cluster role and cluster role binding left behind.
1. Disable VPC CNI
2. Install VPC CNI Helm Chart by hand

The first time you install the chart you get...
[code]

If you delete the `a

[2022-09-12 19:30] Skarlso commented on #3729
I... don't think CAPA is the one creating those. That's part of the addon creation phase. We don't tag those, so we don't know what is being created and what is not.

We could add a hardcoded remove service thing, but we have no way of tracking it properly.

DeleteAddon also only deletes the IAM role that is associated with the addon. That MIGHT work. We need to test that.

I defer to others if th

[2022-09-12 19:41] luthermonson commented on #3729
im like 99% sure the VPC CNI and the 4 resources (ds/sa/cr/crb) are auto installed with any EKS cluster on boot and this CAPA code was added to help people install calico or something. we are trying to use it to reinstall the vpc cni helm chart to get more features more easily.

[2022-09-12 19:43] Skarlso commented on #3729
Hmm, if you start out without specifying the cni addon, does it still install stuff for it? I think it shouldn't do anything then.

[2022-09-12 19:56] luthermonson commented on #3729
https://gyazo.com/298e01a5de488210659d9f6ed0c65f52

there is no option in the UI to not install the addon, i thought it wasn't possible to even do. can you not install it via the api? I've never tried

[2022-09-12 19:58] Skarlso commented on #3729
If you create a capa cluster without explicitly defining addons, it will not create addons and EKS shouldn't create all the stuff that it does.

[2022-09-12 20:50] luthermonson commented on #3729
so based upon what im reading...

[code]

you're right but that's not what im seeing in reality as we tested building with no addons and we still got the aws-node ds... im kinda confused and looking further

[2022-09-12 20:57] luthermonson commented on #3729
fyi for most of this it's coming from this: https://github.com/aws/amazon-vpc-cni-k8s/tree/master/charts/aws-vpc-cni#adopting-the-existing-aws-node-resources-in-an-eks-cluster

[2022-09-12 23:04] luthermonson commented on #3729
after some considerable testing i can't seem to get it to not install the vpc cni. every time i make a managed cluster via capa it is kubectl applying a manifest that looks like this one: https://github.com/aws/amazon-vpc-cni-k8s/blob/master/config/master/aws-k8s-cni.yaml

i find the ds/sa/crd/cr/crb when doing something as basic as this:
[code]
and this doc https://github.com/kubernetes-sigs/clus

[2022-09-13 05:22] Skarlso commented on #3729
I'm sort of on the fence with this one. The problem here is that we have no idea what to delete. We can hardcode it, but there is no guarantee that will be enough / will work.

We can add that, but I fear that it just adds confusion.

Ah, also, I just thought about another problem. CAPA doesn't make those. This means if you remove CNI from your cluster, and you decide to include it after a while,

[2022-09-13 12:36] rymancl commented on #3314
/remove-lifecycle stale

[2022-09-13 15:43] luthermonson commented on #3729
```I'm sort of on the fence with this one. The problem here is that we have no idea what to delete. We can hardcode it, but there is no guarantee that will be enough / will work.```

because there's no disable vpc cni in eks to do it for you and all docs point you to deleting these pieces by hand and installing your own cni... that's currently the best effort anyone can do so we might as well codi

[2022-09-13 19:24] Skarlso commented on #3729
Sure, and what about the second concern of not being able to enable the addon any longer?

[2022-09-13 20:56] luthermonson commented on #3729
disableVPCCNI and the addon named "vpc-cni" are mutually exclusive https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/06da7fc1fb1081308d2bc3edbd4e0403e96421ae/controlplane/eks/api/v1beta1/awsmanagedcontrolplane_webhook.go#L368-L379

you would have to turn disableVPCCNI to false and include the addon in the list and the reconciler will add it to the eks cluster. the addon installer sh

[2022-09-13 21:14] luthermonson commented on #3729
confirmed... if you set disableVPCCNI to true it will delete everything. you edit the managedcontrolplane and set to false it will error out in ReconcileCNI because aws-node does not exist and it can't continue. edit managedcontrolplane and add the vpc-cni addon. it will reconcile again and installing the addon and all pieces are there (ds/sa/cr/crb) and it installs successfully and ReconcileCNI w

[2022-09-13 21:18] luthermonson commented on #3729
im testing this scenario... im pretty sure if you make a cluster with no addons and then try to add them after it will add defaults to coredns, vpc-cni and kube-proxy and you'll not be able to add them through the addons api in managedcontrolplane without first deleting all the pre-installed pieces yourself by hand. this could be fixed by adding safe deletes to those three addons if they weren't s

[2022-09-13 21:36] luthermonson commented on #3729
ok so the above.... is wrong but i dont know why because i got this screen shot from yesterday

<img width="1345" alt="image (24)" src="https://user-images.githubusercontent.com/1616909/190013446-08fcf113-f5fe-456d-86d3-b3c6a7b3d922.png">

but today it worked fine. im super confused... i did an addon from the UI and the capa api and no errors or problems after booting a managed cluster with no add

[2022-09-14 01:06] luthermonson opened #3734 "EKS Identity Provider Attach/Detach Loop"
/kind bug

**What steps did you take and what happened:**
When adding an OIDC Provider you end up with something that looks like this in the EKS cluster

![Screen Shot 2022-09-02 at 7 05 59 AM (1)](https://user-images.githubusercontent.com/1616909/190034535-f40434e0-cfbe-4369-8872-c58c3618d055.png)

I know the issue and working on a fix already but writing an issue to document the behavior for pos

[2022-09-14 05:03] Skarlso commented on #3729
Cool, thanks for going the extra mile to figure this out! :)

[2022-09-15 17:14] sedefsavas commented on #2355
Move SSH key validation out of API types:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3720#discussion_r972086935

[2022-09-15 17:36] harshitasao commented on #3198
Hi @Ankitasw, is this issue still open? If so, I'd like to work on it.

[2022-09-16 09:27] richardcase commented on #3564
@Skarlso - for future reference, you can use the `/transfer` command to move issues to another repo :)

[2022-09-16 10:16] Skarlso commented on #3564
Ah that's true! :D

[2022-09-17 16:58] invidian commented on #3243
/remove-lifecycle stale

[2022-09-20 08:08] richardcase commented on #3203
/remove-lifecycle stale

[2022-09-20 08:12] richardcase commented on #3541
/remove-lifecycle stale

[2022-09-20 08:42] richardcase commented on #3243
Should we do this as part of the v1beta2 version bump (#2355)?

@sedefsavas @Ankitasw @Skarlso - wdyt?

[2022-09-20 09:05] Ankitasw commented on #3243
Can we do it following the v1beta2 changes? It wont break anything right, since anyways we are not doing any release with v1beta2 as of now? Please correct me if I am wrong.

[2022-09-20 16:00] flxw commented on #3325
/assign @flxw

[2022-09-21 14:45] invidian commented on #2753
/remove-lifecycle stale

[2022-09-22 05:15] #3717 closed

[2022-09-22 05:15] #3486 closed

[2022-09-22 12:16] cristian-radu opened #3738 "Cannot create awscluster with additionalTags value containing spaces"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I tried to create a cluster that has spec.additionalTags containg a tag with a value that has a space character in it and this failed.

**What did you expect to happen:**

I expected this to succeed.

**Anything else you would like to add:**
[Miscellaneous information that will assist i

[2022-09-22 12:41] Skarlso commented on #3738
Hi. This is a requirement from Kubernetes. If you try to do the same thing using pure Kubernetes you'll get the same error.
[code]

For example, setting the labels for a deployment will result in the above error.

[2022-09-22 13:11] cristian-radu commented on #3738
Actually https://github.com/kubernetes-sigs/cluster-api-provider-aws/commit/4b6959966468987d52ba447c22db52daa4170a82

:)

[2022-09-22 20:48] soggiest commented on #3715
I'm running into this same issue. Another user previously created CAPA IAM roles via clusterawsadm, however they didn't enable EKS so the appropriate roles don't exist. Subsequent bootstrap attempts with EKS enable fail because the cloudformation stack doesn't skip roles that already exists, instead it fails and rolls everything back.

[2022-09-23 06:29] Skarlso commented on #3712
beta2 has been released, so I'm going to pick this up. Also, I'm going to go with the transparency of the AWS settings. Meaning I'll introduce two new fields. Suspend and Resume to make it explicit which ones have to be dealt with.

This has the benefit that it matches the AWS API call, however it's also a bit weird because we reconcile constantly. Meaning it will constantly try to suspend a proce

[2022-09-23 07:22] #3626 closed

[2022-09-23 07:24] Skarlso commented on #3712
Think about this some more, it's not very in-line with the whole, declerative approach. Having a suspend and resume field is like calling the API which is the opposite of having a declerative approach.

It's a lot better to have a single field denoting suspended processes and we constantly check if that situation is still true.

[2022-09-23 09:26] Ankitasw opened #3742 "Noderefs mismatch in machinepool nodes"
**What steps did you take and what happened:**
We are trying to bump CAPI version to v1.2.2 in CAPA, and facing the issue of noderef not getting assigned to machinepool nodes, even though the nodes are up and running in the cluster.
[code]
The root cause for this issue is [this](https://github.com/kubernetes-sigs/cluster-api/pull/6971) PR.
The providerIDList looks something like
[code]
and the pro

[2022-09-23 13:21] AljoschaP opened #3744 "Configuration of the EC2 metadata endpoint"
/kind feature

**Describe the solution you'd like**
As a user I would like to configure a specific metadata version on each EC2 instance started by CAPI and/or disable the metadata endpoint completely. I would prefer to use the AWSMachineTemplate to disable/enable the metadata endpoint, set the metadata version (e.g. IMDSv2) and set the HttpPutResponseHopLimit.

For example:
[code]

**Anything els