[2019-03-05 17:04] vincepri commented on #620
Could you try with minikube bootstrapper? At least we'd be able to rule out KIND as possible cause.

[2019-03-05 17:58] usahai30 commented on #323
If available .. I want to take up this one and get started :) Can I a take up this one? @chuckha

[2019-03-05 18:55] chuckha commented on #323
yes, please @usahai30

/lifecycle active

join us in #cluster-api-aws on the k8s slack if you're not already if you have any questions!

[2019-03-06 01:16] joejulian opened #624 "make docker-build-dev fails"
/kind bug

**What steps did you take and what happened:**
[code]

[code]

**What did you expect to happen:**
I expected a container image to be built

**Anything else you would like to add:**
I'm guessing there's an env variable that should be set? If so, these should be asserted in the makefile before bazel is run.

**Environment:**

- Cluster-api-provider-aws version:
[master@13b5457](https://gi

[2019-03-06 01:55] ashish-amarnath commented on #624
/assign

[2019-03-06 01:55] ashish-amarnath commented on #624
/lifecycle active

[2019-03-06 02:25] joejulian commented on #624
Looks like this has to do with python versions. Arch's default python is 3.7.2.
By updating `httplib2` to the python3 version from v0.12.1 I was able to get past that syntax error and on to the next one.
Replacing `concurrent` with the built-in from the python tree, I was able to successfully download.

[2019-03-06 12:41] randomvariable commented on #624
Yes, need to have Python 2 as the active `python` in the shell for Bazel's Go rules to succeed.

[2019-03-06 12:43] randomvariable commented on #624
Previous tickets on the same issue: #347 and #361

Open to suggestions on how to make this clearer to developers.

[2019-03-06 15:36] ashish-amarnath commented on #624
I had some edits to the developer doc atound how to build an image after
making changes. I’ll see how to include this info as well.

On Wed, Mar 6, 2019 at 4:43 AM Naadir Jeewa <notifications@github.com>
wrote:

[2019-03-06 15:37] randomvariable opened #626 "build/asm_shim package should be build/asm-shim"
/kind bug

Follow up to #625
`build/asm_shim` needs renaming to pass linter rules.

Should be along the lines of:
Renaming `asm_shim` to `asm-shim`, and update `build/go_mock.bzl` to match, testing with `make generate` to ensure nothing else is broken.

[2019-03-06 17:57] usahai30 commented on #323
Thanks @chuckha
I have joined the slack channel too.

Please confirm my understanding for this issue -
1. In order to differ the logs coming from Machine Actuator or Cluster Actuator, we should print some context for same.
2. These logs are **klogs** and just appending context like "[MACHINE]" or "[MACHINE-ACTUATOR]" will do the job.
For Eg -
Current Logs -

To-Be -

3. Also, we require the contex

[2019-03-06 18:07] chuckha commented on #323
It would be nice if there was a way to set this up in the instantiation of the `klog` object instead of changing every logging instance

But yes, you're on the right path!

[2019-03-06 18:21] usahai30 commented on #323
Yeah sure, I agree with that ... Will look around what best I can come up with.

[2019-03-06 19:28] dennisme commented on #323
Semi Related klog issue / feature here: https://github.com/kubernetes/klog/issues/22

[2019-03-06 20:28] ncdc opened #628 "Document alignment with supported Cluster API and Kubernetes versions"
Let's add a section to the README that describes which versions of Cluster API work with which versions of this repository.

Let's also add a section that describes which versions of Kubernetes this provider is able to provision.

Example:

||Cluster API 0.1|Cluster API 0.2|
|-|-|-|
|XYZ Provider 0.1|✓||
|XYZ Provider 0.2||✓|

||Kubernetes 1.11|Kubernetes 1.12|Kubernetes 1.13|Kubernetes 1.14|
|-|-

[2019-03-06 21:59] joejulian commented on #624
One possibility is to force a virtualenv as part of the Makefile

[2019-03-06 22:06] joejulian opened #629 "failed to reconcile load balancers - not authorized to perform: ec2:DescribeAccountAttributes"
/kind bug

**What steps did you take and what happened:**
[code]
provider-components uses an image I built from master and pushed to quay for cluster-api-aws-controller.

[code]

**What did you expect to happen:**
I expected a usable kubernetes cluster. :)

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-p

[2019-03-06 23:13] randomvariable commented on #629
Not necessary, but would love to see the related CloudTrail events, including the ones surrounding it for this if possible.

[2019-03-06 23:19] randomvariable commented on #624
Not in favour of forcing virtualenv on people if they have other ways to get Py 2.7 (system. pyenv, Nix, Guix etc...) to work.

Rather, https://github.com/google/containerregistry/pull/109 or similar should be merged.

[2019-03-07 15:25] chuckha commented on #629
@randomvariable can you expand a little bit on this comment? What's not necessary?

[2019-03-07 15:52] randomvariable commented on #629
I mean, not necessary for close out of this issue as a PR is incoming, I'm more curious as to what triggered it. We don't call it directly, so it's AWS calling it on our behalf as part of another request. CloudTrail should reveal the culprit.

[2019-03-07 15:56] randomvariable commented on #629
For additional context, we've had two instances of this in the past:

#489 dealt with a case on completely new accounts that ELBv1 will call iam:CreateServiceLinkedRole to create a `aws-service-role/elasticloadbalancing.amazonaws.com/AWSServiceRoleForElasticLoadBalancing` role in the user's account if it doesn't exist. Normally done on the first ever request to create a load balancer in an account

[2019-03-07 16:30] randomvariable commented on #608
/remove-lifecycle

I've done some initial feasibility investigations in #612, which should be used as a basis for further work, but will want to have e2e for scoping these down.

[2019-03-07 16:30] randomvariable commented on #608
/remove-lifecycle active

[2019-03-07 16:35] vincepri commented on #299
I'm ok moving this onto Next. The linked PR's changes is heavyweight and we're very close to reaching release.

[2019-03-07 16:37] ncdc commented on #299
/milestone Next

[2019-03-08 13:42] detiber commented on #629
/lifecycle active

[2019-03-08 13:43] detiber commented on #626
/assign
/lifecycle active

[2019-03-08 13:55] detiber commented on #610
/assign
/lifecycle active

[2019-03-08 15:03] #626 closed

[2019-03-08 16:15] #610 closed

[2019-03-08 17:43] rudoi opened #638 "Additional security groups not applied to control plane"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Created a control plane machine with AdditionalSecurityGroups as follows:

[code]

Saw in logs that control plane reconciliation was looping after:
[code]

I added an additional log statement:
[code]

[code]

Looks like we need some additional handling, because IIRC, we would need Modif

[2019-03-08 20:11] detiber commented on #638
/milestone v1alpha1

[2019-03-08 21:42] #122 closed

[2019-03-11 08:39] ashish-amarnath commented on #624
I've documented this in the development doc. https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/639

[2019-03-11 10:01] usahai30 commented on #323
@chuckha I looked at the possibilities and my understandings are -

1. klog doesn't have the structure logging to carry the context with log messages.
2. However, I could see 'klogr' being introduced for structured based logging -
       https://github.com/kubernetes/klog/tree/master/klogr
    but this is still a **BETA implementation** and currently doesn't solve our requirement also as formatted

[2019-03-11 15:46] vincepri commented on #638
/lifecycle active

[2019-03-11 16:58] chuckha opened #641 "Logging as a proper dependency"
/kind feature

**Describe the solution you'd like**
I would like logging to not be global functions but part of the structs using proper dependency injection so we can test and control how the logger behaves if it's important to the test

This allows us to treat logging as a first-class citizen. For example, we cannot append context to log lines without modifying each and every log line.

One solu

[2019-03-11 17:00] chuckha commented on #641
/milestone Next

[2019-03-11 17:09] vincepri commented on #641
[logr](https://github.com/go-logr/glogr) should be a good starting point for context based logging. Controller-runtime already supports it and `klog` can be still be used as logging output.

[2019-03-11 18:05] chuckha commented on #323
@usahai30 Thanks so much for digging into this. I think we'll want to tackle: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/641 first over the course of a release and then make progress on this. So I'm going to remove good first issue and make 641 block this

[2019-03-11 18:07] chuckha commented on #323
/remove-lifecycle active
/remove-help
/remove-good-first-issue

[2019-03-11 18:07] chuckha commented on #323
/remove-priority longterm-important

[2019-03-11 18:07] chuckha commented on #323
/remove-priority important-longterm

[2019-03-11 18:44] #629 closed

[2019-03-11 18:49] vincepri commented on #638
Given that this issue is related to using a different CNI, I'm going to update the milestone to Next. The fix should be pretty straightforward but it requires logic changes which are late for v1alpha1, the security groups should be applied for each ENI attached to a machine in the default scenario. Additional use cases might be needed in case the default behavior isn't sufficient.

/milestone Next

[2019-03-11 19:32] detiber commented on #641
We should make sure not to duplicate some of the work being done to improve klog itself with this work.

[2019-03-11 19:40] chuckha commented on #641
@detiber The only part of this that would duplicate work is writing a context-logger ourselves. That will likely be done in klog and klog will likely use the logr interface and our structs will likely require logr interfaces for logging. The example given was in case `klog` doesn't do exactly what we want, the overall architecture would be flexible enough for us to implement whatever logger we lik

[2019-03-11 21:47] vincepri opened #642 "Cluster creation panics due to IAM profile being nil"
/kind bug

**What steps did you take and what happened:**

Ran `clusterctl create cluster ...` and was expecting to see a new cluster created from the latest master. It seems that in some case (e.g. bastion host) the IAM profile isn't available and the ec2.Instance struct has a nil field.

[code]

**What did you expect to happen:**
Cluster created successfully.

**Anything else you would like to a

[2019-03-11 21:47] vincepri commented on #642
/lifecycle active
/milestone v1alpha1

[2019-03-11 22:12] #642 closed

[2019-03-12 01:23] vincepri commented on #620
/lifecycle active

Need to update cluster-api dep.

[2019-03-12 13:46] #620 closed

[2019-03-12 17:26] ashish-amarnath commented on #624
/remove-lifecycle

[2019-03-12 17:27] ashish-amarnath commented on #624
/remove-lifecycle active

[2019-03-13 18:29] vivgoyal opened #652 "Project dependencies"
What steps did you take and what happened:
In the [getting start document](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/getting-started.md),

There seems to be dependencies between the golang and kind version that needs to be used to try out  cluster-api-provider-aws as per the document. While following the document, I did not find any discussion on dependencies but

[2019-03-13 18:35] lindicvmware opened #653 "AWS account using MFA does not work"
/kind bug

**What steps did you take and what happened:**
In the [getting start document ](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/getting-started.md)
it says that we have to provide AWS region access key id access key. I think this assumes that we are not using MFA so we do not need to provide session key. When I use MFA and provide a session key the steps pro

[2019-03-13 19:34] randomvariable commented on #653
Which step fails?

Generating an access key pair for `bootstrapper.cluster-api-provider-aws.sigs.k8s.io` is actually optional, but is there to illustrate the common path.

`clusterawsadm` includes support for session tokens set as the `AWS_SESSION_TOKEN` environment variable, and should be ingested when you run `./aws/generate_yaml.sh` if you have previously used `aws-vault` or similar to gain a s

[2019-03-13 19:36] randomvariable commented on #624
As per https://github.com/google/containerregistry/pull/109#issuecomment-471439554, there is the possibility to resolve this upstream with the current release of Bazel. The Python mismatch issue is real and documented.

Think this is more of a priority/long-term as we have a workaround.

[2019-03-13 20:09] detiber commented on #624
/priority important-longterm

[2019-03-14 00:02] Lokicity opened #656 "Crash with Invalid memory address or nil pointer dereference"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I followed the https://gist.github.com/detiber/8f61767b6d39d65aceab89d5a92589c4 instruction and if I don't wait for VPC creation to finish before creation of any machine, it will crash the controller and controller is unable to recover from the state.

**What did you expect to happen:**

[2019-03-14 00:06] DheerajSShetty opened #657 "SEG fault in aws-provider-controller-manager"
/kind bug

**What steps did you take and what happened:**
kubectl create -f cmd/clusterctl/examples/aws/provider-components.yaml
kubectl create -f cmd/clusterctl/examples/aws/out/cluster.yaml

Create a controlplane using the yaml shown below
apiVersion: "cluster.k8s.io/v1alpha1"
kind: Machine
metadata:
  name: controlplane-0
  labels:
    cluster.k8s.io/cluster-name: test1
    set: controlplane
sp

[2019-03-14 00:08] vincepri commented on #656
`sigs.k8s.io/cluster-api-provider-aws/pkg/cloud/aws/actuators/machine.(*Actuator).Delete(0xc0004c3940, 0x194a300, 0xc0000460f0, 0xc0005c81a0, 0xc000336000, 0x0, 0x0)`

Seems like the failure is coming from a `Delete` call, which should have been fixed in #654

[2019-03-14 00:09] DheerajSShetty commented on #657
SImilar to the issue
https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/656.
Hence closing this to avoid duplicate bugs.

[2019-03-14 00:09] #657 closed

[2019-03-14 00:09] DheerajSShetty commented on #657
SImilar to the issue
#656.
Hence closing this to avoid duplicate bugs.

[2019-03-14 00:11] vincepri commented on #656
Which version of cluster-api-provider-aws is being used? Latest master or released?

[2019-03-14 00:15] Lokicity commented on #656
This is the top of my tree.

commit 60789ed2e2bd1aa66fd30348eec3bd39d7b66762 (HEAD -> master, origin/master, origin/HEAD)

[2019-03-14 00:16] vincepri commented on #656
Got it! It seems there was a little more information in #657, which seems you're running a `Delete` call right after creation?

[2019-03-14 00:19] Lokicity commented on #656
Yeah if it was not created successfully, I try running the delete call, but at that point the controller has already crashed thus deletion doesn't work either.

[2019-03-14 00:22] vincepri commented on #656
I'd need to replicate the behavior, although I'm not sure how much it can be done. Each actuator call relies on state to be present and populated. In cases like these destroy/recreate is usually how I'd go about getting things back up. There was some talks about supporting rollback in the future, although I'm not sure if that's still on the table.

I'll take a look and try to reproduce locally. 😄

[2019-03-14 00:54] randomvariable commented on #653
Revisiting this, the binaries published at https://github.com/kubernetes-sigs/cluster-api-provider-aws/releases/tag/v0.1.0 which date to Dec 2018 don't support session tokens, but this was later fixed in #518

[2019-03-14 01:02] randomvariable opened #659 "Improve dep experience on slow networks"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

The Makefile used to have the following to reduce the need for a full `dep ensure` run.
`@${DEP} status 2>&1 > /dev/null || make dep-install`

Unfortunately in at least some MacOS configurations, this did not have the expected effect, and was removed in #645. But it does have a seriou

[2019-03-14 01:33] detiber commented on #659
/milestone Next

[2019-03-14 02:21] ashish-amarnath commented on #656
@Lokicity This is what I did in an attempt to repro:
[code]
I wasn't able to repro this crash.
I ran this at commit [6ff9411](https://github.com/kubernetes-sigs/cluster-api-provider-aws/commit/6ff9411c2828ef7e15d94f29b708b1467a6f1d00)

Also, the current master is at [78f45a1](https://github.com/kubernetes-sigs/cluster-api-provider-aws/commit/78f45a1d83efe1bcd28eb7cf24acfb74cf19c3f4)

There is a cr

[2019-03-14 07:05] randomvariable opened #660 "Mismatched binaries in 0.1.0 release"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
`./clusterawsadm-linux-amd64 version` using the release binary from https://github.com/kubernetes-sigs/cluster-api-provider-aws/releases/tag/v0.1.0

Got
[code]

This has the side effect that clusterawsadm doesn't produce the credential's secret in a way that's consumable by the examples

[2019-03-14 07:06] randomvariable commented on #660
/priority critical-urgent
/milestone v1alpha1

Either we kill this release or update the binaries properly?

[2019-03-14 13:41] chuckha opened #661 "Do not use relative tags (:latest) in release YAML"
/kind bug
/priority critical-urgent

**What steps did you take and what happened:**
Release YAML should not have `:latest` hardcoded in the image tag. A release should always reference absolute tags (yes, I know docker tags that are not the SHA of the container image are mutable).

[2019-03-14 13:51] sfzylad commented on #415
I'm wondering how do we want to handle availibility zones in control plane definitions. Is it something we want to leave down to an user, just apply control plane machines blindly or discover subnets somehow and use them?

[2019-03-14 13:55] detiber commented on #661
I think this will be less of an issue once we are vendoring a tag from cluster-api rather than vendoring a point in time version of the master branch.

That said, we should probably cut interim releases of cluster-api to avoid this issue all together.

[2019-03-14 13:56] detiber commented on #660
/assign @chuckha
/lifecycle active

[2019-03-14 14:00] detiber commented on #415
@sfzylad For now when we create a VPC for a user we are only creating a single private subnet in a single AZ. To support multi-AZ today would require the user to bring their own VPC/Subnets and manually override the region for each control plane Machine definition. We'd have to defer better multi-AZ support for post-v1alpha1 where we can address subnet management in a better way.

[2019-03-14 14:15] chuckha commented on #660
@detiber @randomvariable can one of you verify?

[2019-03-14 15:33] detiber commented on #660
@chuckha The version output of the linux binaries looks good to me:

[code]

[2019-03-14 15:33] chuckha commented on #660
awesome, thank you. I checked os x

/close

[2019-03-14 15:33] #660 closed

[2019-03-14 17:36] detiber commented on #653
We've updated the binaries attached to the v0.1.0 release. @lindicvmware can you please try again with the updated binaries?

[2019-03-14 17:58] DheerajSShetty opened #663 "Error reconciling cluster object; ailed to query ec2 for VPCs: NoCredentialProviders: no valid providers in chain"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Followed the setup guide, tried creating a cluster in us-west-2.

Pulled latest code.

built clusterctl and clusterawsadm binary.

ran ./generate-yaml.sh

the provider-components.yaml has a secret appended and looks like this. I am not pasting the secret here.

apiVersion: v1
kind: Secre

[2019-03-14 17:59] DheerajSShetty commented on #663
@randomvariable CCing you.

[2019-03-14 18:03] detiber commented on #663
@DheerajSShetty are you running from the release binaries/images or did you build from `master`? If built from `master` when were the images built? There was a change to the base image and a fix for updating the mount point shortly afterwards to re-align with the base image change here: https://github.com/kubernetes-sigs/cluster-api-provider-aws/commit/83f8bad0bd6430bd186fbbff934ef84cdea8d212

[2019-03-14 18:04] DheerajSShetty commented on #663
Built from master. I built the image yesterday evening.

[2019-03-14 18:07] detiber commented on #663
/milestone v1alpha1

[2019-03-14 19:14] ashish-amarnath commented on #663
/assign
/life-cycle active

[2019-03-14 20:56] timothysc commented on #272
@ncdc - Can we help offload Andrew here in the next couple of days?

[2019-03-14 20:57] akutz commented on #272
Hi @timothysc,

I engaged with Andy on Slack, and he pointed me in the direction of resources. Thank you!

[2019-03-14 21:00] #661 closed

[2019-03-14 21:00] chuckha commented on #661
This isn't really an issue as pointed by Jason

[2019-03-14 21:22] randomvariable commented on #663
This is definitely a lack of credentials being present within kind.

@DheerajSShetty did you have AWS credentials set anywhere in your environment, either as environment variables or default profile at the time of running `./generate-yaml.sh`?

You can test this by running `aws sts get-caller-identity` just before `./generate-yaml.sh`.

Also, can you check the volume mount of the secret in the `pr

[2019-03-14 21:25] detiber commented on #663
After discussing a bit in Slack, we believe the issue comes down to using binaries/manifests generated from the `master` branch along with the images published as part of the v0.1.0 release. So there is a mismatch between the expected location of the aws credentials (image is pre-distroless change, and manifests are expecting the distroless-based image).

[2019-03-14 21:26] DheerajSShetty commented on #663
I checked the volume mounted by the aws control manager for the credentials. The credentials matched.

After discussing with @detiber we suspect the issue is with the image
  image: gcr.io/cluster-api-provider-aws/cluster-api-aws-controller:0.0.4

[2019-03-14 21:27] randomvariable commented on #663
Makes sense.

[2019-03-14 22:21] ashish-amarnath commented on #214
This is still happening at commit [e01bcd1](https://github.com/kubernetes-sigs/cluster-api-provider-aws/commit/e01bcd1c2275a8f8c429bfe6bdf2696896bb981b)

[2019-03-14 23:07] vincepri commented on #214
@ashish-amarnath That's unfortunate :/, in theory this should have been fixed after `NodeRef` PR was merged, although that depends on how you trigger the deletion request. If it's done through `clusterctl` (which I tested) it should work just fine because resources are pivoted back to the ephemeral cluster and then deleted. Can you expand a little on the steps you took and what you saw?

@detiber

[2019-03-14 23:35] ashish-amarnath commented on #214
This is what I did to repro..

$ make create-cluster
# Once the cluster is created and pivoted and kind cluster is deleted
$ kc delete machine controlplane-0

On Thu, Mar 14, 2019 at 4:07 PM Vince Prignano <notifications@github.com>
wrote:

[2019-03-14 23:43] vincepri commented on #214
Got it! I think that's separate from this issue, but I'll let Jason chime in. This issue was mostly around delete, which would break if the machine was deleted before pivoting / other resources. I think with NodeRef and ownerRef resources correctly set, the above shouldn't happen.

[2019-03-15 13:50] detiber commented on #652
/priority important-soon
/milestone v1alpha1
/kind documentation

[2019-03-15 13:51] detiber commented on #663
/priority important-soon

[2019-03-15 14:11] detiber commented on #214
The process for deleting the machine shouldn't matter, the logic is baked into the Machine controller logic in cluster-api: https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/controller/machine/controller.go#L165, which should prevent deletion as long as the NodeRef is set and the NODE_NAME env variable is set for the manager process, which it looks like we should be doing: https://git

[2019-03-15 14:44] ashish-amarnath commented on #214
I can give this a try and make a PR if required if Vince hasn’t started
already.

On Fri, Mar 15, 2019 at 7:11 AM Jason DeTiberus <notifications@github.com>
wrote:

[2019-03-15 14:45] chuckha commented on #214
@ashish-amarnath If it's not marked as active then you're good to grab it and go for it!

[2019-03-15 15:01] ashish-amarnath commented on #214
/assign
/lifecycle active

[2019-03-15 16:23] ashish-amarnath commented on #663
/unassign

[2019-03-17 04:34] ashish-amarnath commented on #214
Added some debug logs in the capi `isDeleteAllowed` method to investigate why deleting the only controlplane machine is being allowed and I see this.
https://github.com/kubernetes-sigs/cluster-api/compare/master...ashish-amarnath:instrumented?expand=1
[code]

[2019-03-18 13:25] detiber commented on #214
It looks like the Node ref that we are creating only has the Name set and we are instead trying to compare on UID....

[2019-03-18 16:38] #214 closed

[2019-03-18 17:04] ashish-amarnath commented on #214
@detiber your PR makes sense. I was kinda expecting magic to happen :)

[2019-03-18 17:19] ncdc commented on #656
@Lokicity could you please give us an update and let us know if Ashish's suggestions helped?

[2019-03-18 18:25] detiber commented on #663
@DheerajSShetty closing since I believe this is resolved now, please re-open if you are still having issues.

[2019-03-18 18:25] #663 closed

[2019-03-18 19:30] ashish-amarnath commented on #539
/remove-good-first-issue

[2019-03-19 06:25] randomvariable commented on #539
In a follow up call with @ashish-amarnath, @detiber, and @chuckha on 2019/03/01, the consensus reached is that we should error on the failure of tagging, and return.

This wouldn't fix this issue, but make it a "wontfix".

The first step would be to update the [AWS resource handling](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/proposal/aws-resource-handling.md) doc

[2019-03-19 14:49] gsadhani commented on #260
@vincepri I looked at the issue and was able to root cause it to kubectl output formatting. I am new to cluster-api-provider-aws, can I take this up?

[2019-03-19 15:00] detiber commented on #260
@gsadhani yes, I will go ahead and set the lifecycle active flag to let others know it is being worked on. If you run into any issues, or decide to no longer work on it please let me know.

/assign
/lifecycle active

[2019-03-19 21:13] ashish-amarnath opened #673 "Improve release management"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
As a CAPA user, I would like to be able to answer questions like:
- What commit was a controller image tag built at?
- What manifest versions are compatible with which controller image tags

Coupling the release version and the image tag will help in user troubleshooting and ensuring c

[2019-03-20 01:10] DheerajSShetty commented on #656
I faced this issue when creating cluster failed in creating VPC, and on deleting the cluster. Thats when I hit the issue again.
kubectl logs -f  -n aws-provider-system aws-provider-controller-manager-0
I0319 20:52:21.339515       1 plugins.go:39] Registered cluster provisioner "aws"
I0319 20:52:21.341314       1 reflector.go:131] Starting reflector *v1alpha1.Cluster (10h0m0s) from pkg/cache/intern

[2019-03-20 01:32] DheerajSShetty commented on #656
Once my VPC creation succeeded, deletion of cluster does not cause panic as there is a valid VPC to delete in the first place.
I tried the method mentioned by @Lokicity as well and coult not recreate the bug.

[2019-03-20 11:44] sfzylad opened #674 "Change `make manifests` to not rely on $PATH"
/kind bug

**What steps did you take and what happened:**
I used `make manifests` (wrapped in `aws-vault exec` command) to generate fresh manifests, then:

[code]

**What did you expect to happen:**
New AWS cluster should be created.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

When tried with `kubectl apply -f cmd/clusterctl/example

[2019-03-20 11:56] randomvariable commented on #674
Probably an out of date `clusterawsadm` in the path.

This `make manifests` part should probably be changed to run via Bazel in a developer environment, this way the versions of the binaries that match the current workspace can be used.

[2019-03-20 12:00] sfzylad commented on #674
Correct. `clusterawsadm` in my `$PATH` was from before prehistory. Closong this issue.

[2019-03-20 12:02] randomvariable commented on #674
Reopening, I think there's still a devx improvement to be had here.

Possibly ties into #299

/milestone next
/kind feature

[2019-03-20 12:05] randomvariable commented on #674
/milestone Next

/remove-kind bug

[2019-03-20 12:05] randomvariable commented on #674
/priority important-soon

[2019-03-20 13:11] randomvariable commented on #673
Concretely, the image tag for `v0.1.1` release is actually `0.0.5`, which is confusing to consumers of Cluster API Provider AWS.

Although this was removed to allow the semi-automated release process to work properly, some of the intent in #580 was as follows:

* Moving versioning into `.bazelrc`, meant a commit could be checked out and it would be clear which release artifacts were still valid. T

[2019-03-20 14:40] vincepri commented on #656
@DheerajSShetty Do you have the error shown when the VP creation failed? I think this particular issue is part of rolling back resources on failure. We don't have support for rollback at this point unfortunately, but that's something we should open an issue for and track for later.

[2019-03-20 18:48] DheerajSShetty commented on #656
We can open a new bug to track rollback issues. at least to avoid panics

[2019-03-21 23:26] ashish-amarnath commented on #653
@lindicvmware  I am assuming you are referring to the [setting-up-aws](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/getting-started.md#setting-up-aws) section of the Getting Started doc.

Can you please follow instructions https://aws.amazon.com/premiumsupport/knowledge-center/authenticate-mfa-cli/ to do this?

[2019-03-25 14:42] ncdc commented on #656
@vincepri @DheerajSShetty is the conclusion that the issue originally reported here is resolved, and we can close this?

[2019-03-25 14:59] ncdc commented on #273
We'll want adequate time to test the pending PR (#528) and the v1alpha1 release is at the end of this week. Given that we have documentation on how to create a multi-node control plane, I'm comfortable deferring this until after the release.

/milestone Next

[2019-03-25 15:29] vincepri commented on #656
I think this can be closed. We should make sure to add a note in the release notes stating that rollbacks aren't supported.

[2019-03-25 16:26] detiber commented on #271
/milestone Next

[2019-03-25 17:04] ncdc commented on #656
/close

@vincepri @DheerajSShetty could one of you please create the issue to track rollback issues, if needed?

[2019-03-25 17:04] #656 closed

[2019-03-25 17:06] ncdc commented on #276
/milestone Next

[2019-03-25 17:08] ncdc commented on #539
/milestone Next

[2019-03-25 17:13] detiber commented on #652
/assign

[2019-03-25 17:41] detiber commented on #276
+1 for github projects, I'd like to avoid overloading the use of milestones.

[2019-03-25 17:43] ncdc commented on #628
/assign

[2019-03-25 20:06] #628 closed

[2019-03-25 21:16] #652 closed

[2019-03-27 15:10] detiber commented on #653
Using a session token should work today. My current workflow uses aws-vault and an account that is MFA-enabled.

[2019-03-27 15:19] detiber commented on #653
I'm unable to replicate locally. If this problem still exits, please reopen this ticket with additional information.

[2019-03-27 15:19] #653 closed

[2019-03-27 15:20] detiber commented on #673
/milestone v1alpha1

[2019-03-27 19:50] #673 closed

[2019-04-01 11:54] #260 closed

[2019-04-01 13:45] detiber commented on #260
This will be fixed when interacting with kubectl >= v1.15

[2019-04-01 15:07] vincepri opened #685 "Add unit tests for Kubeadm defaults"
/kind feature

**Describe the solution you'd like**
We should add some unit tests to [kubeadm's defaulting functions](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/pkg/cloud/aws/services/kubeadm/aws_defaults.go) to ensure the output of those functions match some set of expectations.

[2019-04-01 15:14] #638 closed

[2019-04-02 02:04] erstaples opened #690 "aws-provider-controller-manager (v0.2.0) unrecoverable segfault when processing MachineSet w/o `cluster.k8s.io/cluster-name` label."
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Built images off of v0.2.0 tag and launched cluster. I created a machineset with the following manifest:
[code]
The apiserver did not throw any validation errors and the machineset was created.  The aws-provider-controller-manager falls into a crashloop with the following logs:

[code]
I

[2019-04-02 13:35] detiber commented on #690
/priority critical-urgent
/milestone v1alpha1

[2019-04-02 14:36] #690 closed

[2019-04-02 16:29] sfzylad opened #693 "Control plane security group should pass kubelet."
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I used `clusterctl` to create single master cluster. Then I added two more master nodes. The both joined the first node properly, `kubectl get nodes` showed they are ready. However `kubectl logs` seems to fail with the following error:

[code]
Adding kubelet port to control plane securit

[2019-04-02 16:30] sfzylad commented on #693
/assign

[2019-04-02 16:30] sfzylad commented on #693
/lifecycle active

[2019-04-02 17:50] detiber commented on #693
/milestone v1alpha1

[2019-04-02 19:01] #693 closed

[2019-04-04 12:55] sfzylad commented on #554
/lifecycle active

[2019-04-04 22:00] randomvariable opened #704 "Is Cluster API Provider AWS clashing with cloud provider code?"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Drawing https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/697#issuecomment-480075174 into it's own issue:

We're tagging that cluster-api-provider-aws is managing the resource (`sigs.k8s.io/cluster-api-provider-aws/managed=true`, and we are also tagging everything that is

[2019-04-05 05:16] tahsinrahman opened #705 "Failed to create controlplane machine, User data is limit exceeded"
/kind bug

**What steps did you take and what happened:**

- started minikube
- deployed provider components(except controller statefulset)
- deployed cluster.yaml
- deployed controlplane machine.yaml

- cluster.yaml
[code]

- machine.yaml
[code]

- Then I run `go run cmd/manager/main.go --v=5`
[code]

**Anything else you would like to add:**

**Environment:**

- Cluster-api-provider-aws version:

[2019-04-05 07:37] randomvariable commented on #705
Makes sense. We'll need to gzip the userdata.

/priority critical-urgent
/milestone Next

[2019-04-05 17:32] rudoi commented on #704
:+1: just for the "What did you expect to happen" block

[2019-04-05 17:35] sethp-nr commented on #704
It sounded in #701 like there was enough work colliding here to put on the agenda for Monday's meeting, which sounds like a great time to discuss answers for this.

[2019-04-08 13:18] chuckha commented on #685
/assign
/lifecycle active

[2019-04-08 18:15] chuckha commented on #705
I don't know if gzip is the right solution here, but I'm happy to hear why it might be. My thoughts are that if we've already hit a limit on user data size then we are probably doing something in a way we shouldn't be doing it.

I think the problem could also be solved by something like uploading certs to S3 and sending their location with the user-data, but not sending the certs directly. Or if A

[2019-04-08 18:17] detiber commented on #705
I think longer term we definitely want to leverage some better mechanism for distributing the secrets, but I don't necessarily think we should wait for that to resolve the issue that is being seen here.

[2019-04-08 20:52] #685 closed

[2019-04-09 19:33] vincepri commented on #705
/lifecycle active

[2019-04-09 19:52] vincepri opened #711 "Node join configuration is empty"
/kind bug

**What steps did you take and what happened:**
Created a new cluster, the controlplane went up successfully, but nodes can't join.

**What did you expect to happen:**
Node to join.

**Anything else you would like to add:**
SSH'd into the node and it seems that the join configuration si

[code]

**Environment:**

- Cluster-api-provider-aws version: latest master
- Kubernetes version: (us

[2019-04-09 19:54] vincepri commented on #711
@chuckha Do you mind taking a look at this? Tracing back the changes seems https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/707/files#diff-d847f3bba360ab8ef215b2d78a0034ddL174 was the latest one.

[2019-04-09 21:34] randomvariable commented on #705
Yes, you're right, but this doesn't preclude us from utilising gzip by default, which depending on how we allow other customisations into cloud-init, we are likely to going to need at some point.

The certs may still cause issues in some circumstances due to the lack of compressibility :(

[2019-04-09 22:03] chuckha commented on #711
/lifecycle active

[2019-04-09 22:15] chuckha commented on #711
@vincepri thanks for catching that. The full implementation has fixed it: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/709

[2019-04-10 16:36] #705 closed

[2019-04-10 16:50] #554 closed

[2019-04-11 13:10] chuckha commented on #641
/assign
/lifecycle active

[2019-04-12 15:36] sfzylad commented on #415
/reopen

[2019-04-12 15:38] chuckha opened #716 "Followup from Logging as Dep PR"
This is a checklist of the more minor things to figure out after the major refactor

- [x] https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/714#discussion_r274951956
- [x] https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/714#discussion_r274952021
- [ ] https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/714#discussion_r274953445

/assign
/lifecycle acti

[2019-04-12 20:03] chuckha opened #717 "Failing to retry reconcile properly"
/kind bug

**What steps did you take and what happened:**
Creating a cluster works but takes a long time because after an annotation gets applied the update fails (in `scope.Close()`).

**Anything else you would like to add:**
/assign
/lifecycle active
/milestone Next
/priority important-longterm

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):

[2019-04-16 15:45] #415 closed

[2019-04-16 17:56] sfzylad commented on #611
/lifecycle active

[2019-04-16 17:56] sfzylad commented on #614
/lifecycle active

[2019-04-16 18:11] #674 closed

[2019-04-16 19:06] amy commented on #614
/cc

[2019-04-16 21:51] randomvariable opened #722 "Consistently use BUILD.bazel"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
#343 changed Gazelle's parameters to generate `BUILD.bazel` instead of `BUILD` files to deal with a vendored pkg having a directory called `build`, which broke on OS X.

We didn't however rename the existing files, and this has caused some confusion.

We should rename the rest of the n

[2019-04-16 21:59] #623 closed

[2019-04-17 16:00] chuckha commented on #711
fixed

[2019-04-17 16:00] #711 closed

[2019-04-17 21:22] #722 closed

[2019-04-19 12:16] qingzhhu opened #727 "replace ClusterConfiguration with static pod manifest for kube-apiserver/controller-manager/scheduler ..."
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
remove kubeadm join/kubeadm init happened at boot time.
instead just pass static pod manfiests for kube-apiserver/kube-controller-mannager/kubec-scheduler to the vm with pre-installed images.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solvi

[2019-04-19 17:31] #717 closed

[2019-04-19 23:31] rudoi opened #729 "AWS LoadBalancer doesn't like multiple Security Groups on instances"
/kind bug

**What steps did you take and what happened:**

Created a Service with type `LoadBalancer`:

[code]

**What did you expect to happen:**

Load Balancer is created!

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
I will look into the k/k integration first thing next week and see what's going on...

**Environment:**

- Cluster-ap

[2019-04-21 22:36] tahsinrahman commented on #601
adding ```# gazelle:exclude vendor/k8s.io/kubernetes``` in `BUILD.bazel` removes this warning, but i'm not sure if its the correct way to fix this

[2019-04-22 14:20] detiber commented on #729
Is this related to the `kubernetes.io/cluster/<name>=owned` tags? If so, we can likely get away with just setting that on the "node" security group, there should be no reason that we need to add the "control plane" security group to a Service LoadBalancer.

[2019-04-22 14:23] detiber commented on #729
Part of me also wonders if it would be better to have a "service" security group so that we only expose the Service ports to autogenerated ELBs instead of all of the "node" ports, but that would also cause potential problems for anyone wanting to add additional security groups to hosts.

[2019-04-22 14:27] rudoi commented on #729
Thought about this issue over the weekend and reached this same conclusion. I'll start putting it together and testing it out.

[2019-04-22 16:02] rudoi commented on #729
@detiber any thoughts on why this only popped up this past Friday? We've had LoadBalancers successfully running for quite some time...

[2019-04-22 16:15] detiber commented on #729
@rudoi I suspect it might be related to https://github.com/kubernetes-sigs/cluster-api-provider-aws/commit/c694a556e993c243326d63e38f09ee167dfdd6b8

[2019-04-22 16:21] rudoi commented on #729
@detiber I think #706 will fix this actually...

[2019-04-22 17:45] chuckha opened #730 "Bazel version for periodics is outdated"
/kind bug

We've been seeing consistent failures in the prow periodic job. The [current failure](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-bazel-e2e/1120356433536225283) is a Bazel problem. Prow is using 0.18.1. The output that I reproduced locally with that Bazel version is:

[code]

but with bazel 0.21.0 the build finished successfully.

We must updat

[2019-04-22 19:43] chuckha commented on #730
fixed by https://github.com/kubernetes/test-infra/pull/12306

[2019-04-22 19:43] #730 closed

[2019-04-22 19:44] chuckha commented on #272
/close

this is done

[2019-04-22 19:44] #272 closed

[2019-04-22 19:45] chuckha opened #732 "periodic job is failing"
/kind bug

**What steps did you take and what happened:**
The periodic job is failing and needs to be passing. This issue tracks that work.

/assign
/priority important-longterm
/lifecycle active

[2019-04-22 21:00] chuckha opened #734 "include ha example in release artifacts"
/kind feature

**Describe the solution you'd like**
We should include `machines-ha.yaml` in our release artifacts

**Anything else you would like to add:**

/priority important-soon

[2019-04-22 23:21] ashish-amarnath commented on #734
/assign
/lifecycle active

[2019-04-23 10:39] tahsinrahman opened #737 "No AMI for 1.13.4"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version: master
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-re

[2019-04-23 17:16] ashish-amarnath commented on #737
@tahsinrahman what region are you trying to provision your cluster?

[2019-04-23 17:18] detiber commented on #737
As stated in the docs, we don't necessarily publish AMIs for all Kubernetes versions: https://github.com/kubernetes-sigs/cluster-api-provider-aws#kubernetes-versions-with-published-amis

[2019-04-23 21:36] tahsinrahman commented on #737
us-east-1

[2019-04-23 22:17] sethp-nr opened #740 "Terminating controlplane-0 results in a new cluster"
/kind bug

**What steps did you take and what happened:**
We're running a HA (3 control plane) cluster, and in order to pick up a change to the control plane machines we terminated `controlplane-0` after making a change to its spec.

When it came back up, it had no JoinConfiguration but instead an InitConfiguration, leading to our having two independent clusters. That was more or less OK until we

[2019-04-24 13:24] chuckha commented on #732
It appears the periodics are not actually building and pushing docker images.

It needs to do a `make docker-push` but we need to figure out if that's something a prow job has permission to do. The image they are trying to use that does not exist is `gcr.io/k8s-prow-builds/cluster-api-aws-controller:dev`.

[2019-04-24 13:48] chuckha commented on #732
Boskos does not provide the AWS_REGION or AWS_DEFAULT_REGION or it does and we are simply not using it.

[2019-04-24 17:00] ashish-amarnath commented on #740
/assign
/lifecycle active

[2019-04-25 14:25] chuckha commented on #732
Next up; permissions errors. I've contacted @idvoretskyi about the problem.

[2019-04-25 19:38] #734 closed

[2019-04-28 03:20] vincepri commented on #438
/close

[2019-04-28 03:20] #438 closed

[2019-04-28 03:20] vincepri commented on #426
/remove-lifecycle stale

[2019-04-28 03:20] vincepri commented on #392
/remove-lifecycle stale

[2019-04-28 03:21] vincepri commented on #300
/close

This isn't longer necessary in Kustomize 2

[2019-04-28 03:21] #300 closed

[2019-04-28 03:21] vincepri commented on #275
/remove-lifecycle stale

[2019-04-28 03:21] vincepri commented on #95
/remove-lifecycle stale

[2019-04-28 03:21] vincepri commented on #201
/remove-lifecycle stale

[2019-04-28 03:22] vincepri commented on #130
/remove-lifecycle stale

[2019-04-28 03:22] vincepri commented on #121
/remove-lifecycle stale

[2019-04-28 03:22] vincepri commented on #89
/remove-lifecycle stale

[2019-04-28 03:22] vincepri commented on #94
/remove-lifecycle stale

[2019-04-28 03:23] vincepri commented on #88
/remove-lifecycle stale

[2019-04-28 16:35] vincepri commented on #487
/remove-lifecycle stale

[2019-04-29 14:54] detiber commented on #491
/remove-lifecycle stale

[2019-04-30 08:07] randomvariable commented on #496
We've proven this works now, so closing.

/close

[2019-04-30 08:07] #496 closed

[2019-05-02 21:39] chuckha opened #754 "machine-deployment is missing from `release-artifacts` make target"
I built the release artifacts but it's missing machine-deployments. It has to be added to the Bazel rule that builds the tar file

[2019-05-02 21:56] #754 closed

[2019-05-03 04:58] pickledrick opened #758 "running ./aws/generate-yaml.sh in clusterctl examples references moved file"
/kind bug

**What steps did you take and what happened:**
ran ./aws/generate-yaml.sh

saw

Done generating /Users/$USER/go/src/sigs.k8s.io/cluster-api-provider-aws/cmd/clusterctl/examples/aws/out/cluster.yaml
Done generating /Users/$USER/go/src/sigs.k8s.io/cluster-api-provider-aws/cmd/clusterctl/examples/aws/out/machines.yaml
Done generating /Users/$USER/go/src/sigs.k8s.io/cluster-api-provider-aws

[2019-05-03 13:59] detiber commented on #758
@pickledrick is this still an issue? I believe the missing file is generated by bazel and you should be able to run `make manifests` if trying to generate from the repo rather than the release artifacts.

[2019-05-05 02:30] ashish-amarnath opened #763 "isNodeJoin should be thread safe"
/kind feature

**Describe the solution you'd like**
`isNodeJoin` method in the machine actuator is not thread safe. It is possible for two machines to race to be the first controlplane machine and can result in 2 machines, incorrectly, trying to run `kubeadm init`. This can land the cluster in a bad state.

Also, kubedm, until `v1.15`, doesn't support parallel `init` and `join`.

For these reasons

[2019-05-06 14:30] chuckha commented on #732
Going through the steering committee to get a CNCF service desk issue opened for this.

[2019-05-06 14:48] ncdc opened #764 "Ensure Cluster.Status.APIEndpoints is set regardless of how cluster is created"
/kind bug

**What steps did you take and what happened:**
Create a cluster using any mechanism **other than** `clusterctl create cluster`. The cluster's `status.apiEndpoints` field is not filled in. (It is filled in when you do `clusterctl create cluster`.)

**What did you expect to happen:**
Regardless of how you create a cluster, its apiEndpoints must be populated.

**Anything else you would lik

[2019-05-06 14:50] ncdc commented on #764
Kaushik is going to work on fixing this

[2019-05-06 14:51] ncdc commented on #764
@kaushik229

[2019-05-06 16:56] sethp-nr commented on #763
While the code is racy, it's currently run with a parallelism of 1, right? So until that changes, we won't see it?

[2019-05-06 17:05] detiber commented on #763
@sethp-nr if using `clusterctl`, yes. If interacting with the api directly there are no assurances.

[2019-05-06 17:31] chuckha commented on #732
Fixed! https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-aws#bazel-periodic-e2e

[2019-05-06 17:31] #732 closed

[2019-05-08 21:36] #740 closed

[2019-05-09 02:06] ashoksekar07 opened #769 "DNS lookups from worker nodes failing on CAPA cluster"
/kind bug

I created a CAPA cluster with one control plane node and one worker node. I deployed a pod on  the cluster which ran on the worker node. This pod was not able to access the Core DNS service running inside the cluster. Core DNS and Calico pods were running fine. So, I checked the security groups on the control-plane node and opened the ingress rules to allow all traffic on all ports. As

[2019-05-09 03:55] vikaschoudhary16 commented on #758
`make manifests` also resulting in error:

[code]

[2019-05-09 12:59] chuckha commented on #769
Looking into this

/assign @chuckha

[2019-05-09 14:51] chuckha commented on #769
Interesting I have not been able to reproduce this using these steps:

I've been creating clusters and running a busybox:1.28 which gets scheduled on the worker node and then doing an `nslookup kubernetes.default` which resolves just fine.

I will try a few more things (like actually matching all versions you described 😂)

[2019-05-09 15:11] chuckha commented on #769
This definitely is reproducible on v0.2.0

My guess to why this appeared intermittent for you: you modified the security group, deleted your *instances* and recreated the cluster that used the same instances you had modified. Is that plausible? I believe this is fixed in v0.2.1.

[2019-05-09 15:37] chuckha commented on #769
The security group changed between v0.2.0 and v0.2.1. Please use v0.2.1. This commit is what fixed this particular bug:

https://github.com/kubernetes-sigs/cluster-api-provider-aws/commit/c694a556e993c243326d63e38f09ee167dfdd6b8

[2019-05-09 15:37] #769 closed

[2019-05-09 21:11] #704 closed

[2019-05-10 14:08] #764 closed

[2019-05-13 14:12] christianh814 opened #772 "Add the ability to define a DNS alias"
/kind feature

**Describe the solution you'd like**

I looks like clusterapi sets up an ELB (for example `https://pony-unicorns-apiserver-0123456789.us-west-1.elb.amazonaws.com:6443`). I would like the ability to define a "nice" DNS name in my route53; for example `api.example.com` (which then just points  as an alias or a CNAME to the ELB)

**Anything else you would like to add:**

At first, clus

[2019-05-13 16:06] detiber commented on #772
/priority important-longterm
/milestone next

[2019-05-13 16:07] detiber commented on #772
/milestone Next

[2019-05-13 17:35] detiber opened #773 "Cluster Delete fails when cloud-provider managed resources exist"
/kind bug

**What steps did you take and what happened:**
- Create a cluster
- Deploy a Service of type LoadBalancer
- Delete the cluster

Deletion of Cluster fails with:
[code]

**What did you expect to happen:**
Cluster to be deleted

**Anything else you would like to add:**
Since the cloud-provider managed resources are created with known tagging (kubernetes.io/cluster/<name or id>=owned) and m

[2019-05-13 17:36] detiber commented on #773
/priority important-soon
/milestone Next

[2019-05-14 18:12] ncdc commented on #737
@detiber can we close this or do we intend to publish 1.13.4?

[2019-05-14 18:13] detiber commented on #737
@ncdc Unless there is a use case that 1.13.4 is specifically needed vs a newer 1.13.x release, then I think we can close.

[2019-05-14 18:14] ncdc commented on #737
I'm in favor of closing.

[2019-05-14 18:16] liztio commented on #601
/assign

[2019-05-14 18:18] detiber commented on #737
/close

@tahsinrahman If there is a specific use case for needing version v1.13.4 specifically as opposed to v1.13.5 or v1.13.6, please let us know.

[2019-05-14 18:18] #737 closed

[2019-05-14 18:49] ncdc opened #776 "Makefile improvement suggestions"
/kind feature

**Describe the solution you'd like**
I'd like to propose some changes to our Makefile targets:

- If I'm compiling locally, I only want the clientsets/listers/informers regenerated as-needed; in other words, do not regenerate every time I run any sort of build-related target. The same applies to the `go generate` output.
- If I'm compiling locally, I only want to deal with `dep` as-

[2019-05-15 12:59] lin007pro opened #777 "Deleted machines stay in the list"
/kind bug
When you reduce the MachineDeployment replicas, you expect the Machine to be deleted.
Instead, the Machine gets DeletionTimestamp to be non-null, but it is still in the list from ```kubectl get machines -n kube-system```

**What did you expect to happen:**
The expected behavior is for the machine to disappear.

**Anything else you would like to add:**
[code]
[code]

**Environment:**

- C

[2019-05-15 13:02] detiber commented on #777
Could you check the AWS provider logs to see if there is any additional errors?

[code]

[2019-05-15 13:02] detiber commented on #777
/priority critical-urgent
/milestone Next

[2019-05-16 14:45] akutz opened #778 "Rename build/amis to build/images"
/kind feature

**Describe the solution you'd like**
Please consider renaming `build/amis` to `build/images`. The readme even refers to [_Building base **images**_](https://github.com/kubernetes-sigs/cluster-api-provider-aws/tree/master/build/amis#building-base-images), and the directory structure change (and subsequent dependency changes) would result in a more portable solution for use with other

[2019-05-16 14:47] ncdc commented on #778
/priority important-longterm
/milestone Next

[2019-05-16 15:29] ncdc commented on #763
/assign
/lifecycle active

[2019-05-16 18:45] sfzylad opened #780 "VPC created by cluster actuator doesn't set enableDnsHostnames attribute."
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
`enableDnsHostnames` VPC attribute makes it possible to access instances using Amazon assigned hostnames (that is `ip-10-0-0-X.<region>.compute.internal`). This is how nodes in cluster are named and some services such as `metrics-server` use them.  By default the `enableDnsHostnames` att

[2019-05-16 22:34] vincepri commented on #780
/assign
/lifecycle active

[2019-05-17 16:00] #780 closed

[2019-05-21 14:03] chuckha opened #783 "invalid vpc attributes"
/kind bug

When creating a new vpc I'm getting:

`InvalidParameterCombination: Fields for multiple attribute types specified: enableDnsHostnames, enableDnsSupport`

[2019-05-21 14:03] chuckha commented on #783
https://github.com/aws/aws-sdk-go/issues/415

[2019-05-21 14:08] chuckha opened #784 "gomock is over prescriptive"
/kind feature

**Describe the solution you'd like**
the Gomock framework makes us mix implementation into the tests. For example, I don't care how many times some function was called in the implementation. I just care that the output looks like what I expect it to.

Gomock regularly gives me this error: `aborting test due to missing call(s)` and that is really unnecessary in most cases. Sometimes

[2019-05-22 14:38] vincepri commented on #314
/remove-lifecycle stale

[2019-05-22 14:44] #783 closed

[2019-05-22 17:29] Lokicity opened #787 "Resize machine deployment fails"
/kind bug

For the the current cluster, I tested with machinedeployment replica = 3, created the 3 workers. I then modify the deployment to replica = 2 and something strange happened: one of the worker nodes is terminated on AWS, however, it was brought back by CAPA and recreated again, I double check the machinedeployment and it has replica=2 set.  Error looks like the following:
```E0521 22:39:0

[2019-05-22 17:59] vincepri commented on #787
/kind bug
/milestone v1alpha1
/priority important-soon

[2019-05-22 17:59] vincepri commented on #787
/assign

[2019-05-22 18:39] vincepri commented on #787
These are the logs when I tried to scale down a MachineDeployment

[code]

It does seem one iteration failed to remove the finalizer, which shouldn't happen. Other than that it seems that the deletion was successful.

[2019-05-22 18:52] #601 closed

[2019-05-23 01:06] Lokicity commented on #787
I am able to reproduce the issue and here are more logs from CAPI

I0523 00:58:31.983725       1 controller.go:334] Too many replicas for cluster.k8s.io/v1alpha1, Kind=MachineSet b46ee553b2cc9ff639498178c1dddae0e28c9930/m1745-nodedeployment-m5.large-7dcb6c569, need 2, deleting 1
I0523 00:58:31.983810       1 controller.go:341] Found  delete policy
E0523 00:58:32.004068       1 controller.go:181] F

[2019-05-23 01:10] Lokicity opened #789 "Kubernetes node labels not pass into nodes"
/kind bug

We want the propagate Kubernetes node labels through machinedeployment.

I added the following to the machinedeployment yaml

[code]

Specifically I added the "kubeadmConfiguration" section

The expected behavior is that the when I do "kubectl get node", we should see the node-label that I defined there. It is not there.

I read some of the CAPA code and noticed that:

[code]

It seems

[2019-05-23 01:16] Lokicity commented on #787
This is the updated machine deployment yaml

[code]

[2019-05-23 01:18] Lokicity commented on #787
kubelet: 1.14.0
CAPA version:
[code]

[2019-05-23 01:22] vincepri commented on #789
/assign @chuckha
/priority important-soon
/milestone v1alpha1

[2019-05-23 16:13] rudoi commented on #789
/lifecycle active

Happy to take this one.

[2019-05-23 22:14] randomvariable opened #791 "NAT gateway timing issue"
/kind bug

Possibly related to #241

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
1. Create a cluster
2. Delete it
3. Recreate the cluster using the same manifests again

This results in a new NAT gateway being created, but the old deleted NAT gateway being attached to the routing tables. This occurs because the deleted NAT gateway remains vi

[2019-05-23 22:37] Lokicity opened #792 "AWS node came up however not joined to cluster if version differ."
/kind bug

**What steps did you take and what happened:**
I have a set up with a cluster of 1 master node and 3 worker nodes in a machine deployment. The nodes are version 1.14.0.  I created another machine deployment with version 1.13.6 and the new node is created in AWS however unable to join

Attach is the cloud-init error:

[code]

**What did you expect to happen:**
The new machine deployment

[2019-05-23 23:22] Lokicity opened #793 "Taints not propagated correctly to node object"
/kind bug

**What steps did you take and what happened:**
I want to pass in taints inside of a machine deployment. This is how I defined machine deployment:

[code]

It created the machine deployment and when I run kubectl describe machinedeployment I can see that the taint is part of the machine deployment:
[code]

However, When I actually run kubectl describe node, the node object doesn't contai

[2019-05-23 23:24] Lokicity commented on #787
Did more debugging with @vincepri  and it seems like somehow the operation triggered 2 machineset to be  created for the same machine deployment causing the issue.

[2019-05-24 01:32] vincepri commented on #793
/priority critical-urgent
/milestone v1alpha1

[2019-05-24 01:36] #789 closed

[2019-05-24 01:38] vincepri commented on #792
/milestone Next
/priority important-longterm

I'm not sure if we support joining nodes on N-1 to a cluster running version N.

/cc @detiber @ncdc

[2019-05-24 14:19] chuckha commented on #793
I can take this. This links back to kubeadm and that code is still not good, I'll do a bit of clean up and take care of this issue at the same time

/assign
/lifecycle active

[2019-05-25 15:35] #793 closed

[2019-05-25 21:16] vincepri commented on #776
/priority important-longerm
/milestone Next

[2019-05-25 22:10] davidewatson commented on #776
+1

Usually, regeneration is unnecessary. And when it is it should be caught during CI and added as a separate (intentional) commit.

[2019-05-27 07:06] ashish-amarnath commented on #574
/remove-lifecycle stale

[2019-05-28 19:39] vincepri commented on #78
/remove-lifecycle stale

[2019-05-28 21:17] chuckha opened #795 "Implement usage of the container image promoter process"
/kind feature

**Describe the solution you'd like**
Releasing container images is a manual process today. It requires someone with access to `gcr.io/cluster-api-provider-aws/cluster-api-aws-controller` to push a new image after it is built.

The goal is to automate that process for k8s-sanctioned gcr.io repositories. Take a look here https://github.com/kubernetes-sigs/k8s-container-image-promoter

[2019-05-28 21:18] chuckha commented on #795
cc @amy

[2019-05-28 21:27] liztio commented on #792
/assign

[2019-05-29 17:41] chuckha commented on #795
/lifecycle active
@amy is working on this

[2019-05-29 20:23] chuckha commented on #787
Interesting, I've not been able to reproduce this with the given versions. How are you editing the machine deployment? I was using `kubectl edit machinedeployment <name>`

[2019-05-29 20:26] Lokicity commented on #787
I did `kubectl get -o yaml machinedeployment <name>` and `kubectl apply -f`.

[2019-05-29 20:37] chuckha commented on #787
I noticed the containerID is using docker. This makes me think there may be a management cluster AND a kind(?) cluster both controlling the same machinedeployment. I could imagine this behavior if one of them had 2 replicas and the other had 3. Is this a possible scenario at all?

[2019-05-29 20:38] chuckha commented on #787
I'd be interested to see your entire workflow (how you are creating a cluster from nothing)

[2019-05-29 22:53] Lokicity commented on #787
Provided @chuckha a repro ENV and he was able to repro the issue as well. Also provided my entire workflow. Pending investigation.

[2019-05-29 22:58] vincepri commented on #787
@chuckha If you're working on it, can you mark the issue as active?

/cc @liztio

[2019-05-30 00:18] chuckha commented on #787
/lifecycle active
/assign

[2019-05-30 14:25] ncdc commented on #792
@neolit123 if we have a control plane running 1.14.x, should we be able to join a new 1.13.x node to it?

[2019-05-30 14:50] vincepri commented on #551
/remove-lifecycle stale

[2019-05-30 16:10] neolit123 commented on #792
the short answer is no.
i had a rant here but i omitted it.

[2019-05-30 17:36] Lokicity commented on #792
Is there a way for me to figure out for a given control plane with version X, which sub versions of machine deployment for worker nodes are supported? I know it is based on kubeadm support. Is there a chart or something I can refer to?

[2019-05-30 17:40] ncdc commented on #792
Given control plane version `v1.y.z`, you should be able to join worker nodes `v1.y.<anything>`. The `y` must remain constant.

Given control plane version `v1.y.z`, you should be able to join control plane nodes `v1.y.<anything>` and `v1.<y+1>.<anything>`. You may have to do a bit of hand-editing to do `y+1` but we've had success so far.

[2019-05-30 19:05] Lokicity commented on #792
Closing. Current support is "Given control plane version v1.y.z, you should be able to join worker nodes v1.y.<anything>. The y must remain constant.". If ended up needing given control plane version 1.y.z, join worker 1.y+1.<anything>, will raise a feature request.

[2019-05-30 19:05] #792 closed

[2019-05-30 21:20] chuckha commented on #787
I was able to reproduce this issue by using a typed client to create a MachineDeployment and an undefined creationTimestamp in the providerspec metadata.

This reproduces regularly when you `kubectl get machinedeployments -o yaml > file.yaml`, edit the replicas from 3 to 2 (for example) and `kubectl apply -f file.yaml`. Jordan thinks it's because kubectl apply will remove the field (thus resulting

[2019-05-30 21:22] chuckha commented on #787
Here is a gist containing a script to create a MachineDeployment using the AWS provider with a typed client: https://gist.github.com/chuckha/19628c3e42de3020299a7c3139d98bbd

as well as the yaml for the machine deployment before and after the kubectl apply is issued in addition to the machinesets before and after (there are two after and one before ⚠️ )

[2019-05-30 23:26] amy commented on #795
Update: The image promotion process detailed here: https://github.com/kubernetes/k8s.io/tree/master/k8s.gcr.io is not live yet.

See: https://github.com/kubernetes/k8s.io/issues/157

[2019-05-31 16:51] chuckha commented on #787
/priority important-longterm
/remove-lifecycle active

We now know about this but there is an easy work around; ensure creation time is defined. The fix will be in upstream cluster-api and how machinedeployments detect the machinesets they are responsible for.

[2019-05-31 17:24] Lokicity opened #799 "Support zone for machine deployment"
/kind feature

**Describe the solution you'd like**
For me use case, I want to be able to associate zone to machine deployment instead of using subnet. If we can achieve step 1: cluster-api team to add the list of zones as an extra field in the ```AWSClusterProviderSpec`'s NetworkSpec``` and when creating VPC, creates multiple zones specified in the spec, each associated with a subnet. Then maybe

[2019-05-31 17:44] ncdc commented on #799
Is this related to or a duplicate of #275?

[2019-05-31 17:51] Lokicity commented on #799
@ncdc  I would say this is related but not completely the same. It is hard to tell the scope of the original ticket #275  because it didn't provide more concrete proposal.  My request is more focus on adding the "zone" as part of the network spec for both cluster object and machine deployment object so that cluster API can create the multiple subnets/zones during VPC creation and the zones can be

[2019-05-31 22:21] rudoi commented on #799
This is interesting. Is there anything in `MachineDeployment` right now that is provider specific in this way (aside from the Machine template contained within)?

As of right now, does CAPA even know when a Machine is part of a MachineDeployment? 🤔 Chain of OwnerReferences maybe?

[2019-06-01 00:35] vincepri commented on #799
@rudoi Machines, when part of a deployment, have a controller reference to the MachineSet owned by the MachineDeployment.

As it stands, each MachineDeployment can only use a single subnet. I think @Lokicity is talking about a more automated approach which might pick from multiple subnets (with some strategy) given an AZ.

[2019-06-01 01:56] Lokicity commented on #799
@vincepri is correct in his understanding. I think I need to rethink the use case. As a cluster API user, when creating a machine deployment, will they want to micro manage and pass in the subnetID or  just pass in the zone(s) and have CAPA find/create the subnet(s) for them.

[2019-06-01 03:41] rudoi commented on #799
I definitely think that functionality would be useful. First hand, I've had to run through the exercise of selecting pre-created subnets based on AZ so that a cluster could be spread out.

Telling a MachineDeployment to use a zone would have been much easier.

[2019-06-02 18:36] vincepri commented on #297
/remove-lifecycle stale

[2019-06-03 16:26] detiber commented on #559
/remove-lifecycle stale

[2019-06-04 20:30] aaroniscode commented on #791
I’m going to see if I can reproduce this issue and try to identify root cause

[2019-06-05 15:54] chuckha opened #808 "investigate what happens when a machine with a duplicate name of an existing machine is created in a different namespace"
/kind bug

I think this is a bug and this issue is mostly here to remind me to look into this at some point and flesh out the actual bug details or close if it's not an issue.

When two machines share a name but not a namespace, does everything still work as expected?

[2019-06-05 19:20] detiber commented on #299
We've removed the need for make, so I'll close this PR. Further improvements to the getting started experience can be refined later.

/close

[2019-06-05 19:20] #299 closed

[2019-06-05 19:21] detiber commented on #608
/remove-lifecycle stale

[2019-06-05 19:47] aaroniscode opened #809 "Pivot failing following Getting Started guide in docs"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Using v0.3.0 templates, trying to spin up a cluster following the getting started guide.

[code]

Output on the command line from `clusterctl`
[code]

Last few lines of the logs from the CAPA controller on the KIND cluster
[code]

**What did you expect to happen:**
Cluster to come up cor

[2019-06-05 21:07] aaroniscode commented on #809
Couple updates:

1. I was able to recreate running on the `clusterctl` v0.3.0 binary on the github release page. Just to rule out an issue with my custom build.

2. This looks almost exactly like https://github.com/kubernetes-sigs/cluster-api/issues/815, but there was a fix that was merged.

[2019-06-06 01:40] aaroniscode commented on #809
I think I found the root cause -- a race condition in `clusterctl` during the pivot face. It appears that this was fixed in https://github.com/kubernetes-sigs/cluster-api/pull/944.

This fix is in cluster-api master branch, but CAPA is using the release-0.1 branch.

[2019-06-06 14:19] detiber commented on #809
I'm working on backporting the fix (and other recent fixes) to the release-0.1 branch now.

/assign

[2019-06-06 15:58] detiber commented on #809
Backport PR is here: https://github.com/kubernetes-sigs/cluster-api/pull/986

After that merges, a PR to this repo will need to be done to update the vendored dependency.

[2019-06-06 20:39] detiber commented on #808
I don't expect there to be issues as long as they do not also share the same "cluster" name. That said, we currently do not prevent multiple "clusters" existing in different namespaces, however that would definitely cause issues today.

[2019-06-07 01:33] vincepri commented on #799
/lifecycle active

[2019-06-07 14:26] detiber commented on #809
I'm waiting to create the PR to update the dependency until https://github.com/kubernetes-sigs/cluster-api/pull/989 merges as well.

[2019-06-07 14:42] #799 closed

[2019-06-07 15:36] #809 closed

[2019-06-10 08:32] Sn0rt opened #815 "vpc leak"
/kind bug

**What steps did you take and what happened:**

1: prepare

[code]

2: check the true world (query by AWS CLI

[code]

3: run clusterctl without -v=10

[code]

4. inspect
[code]
5. the log of aws-provider-controller-manager

[code]
and to count the `create new vpc`

[code]

6. check real world by aws cli

[code]

**What did you expect to happen:**

[code]

not create 5 vpcs.

**Environm

[2019-06-10 14:19] detiber commented on #815
@Sn0rt  it looks like the AWS account that you are using is missing some [required permissions](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/getting-started.md#setting-up-aws):

[code]

Since the error is happening prior to setting the tags on the VPC, it is attempting to create a new VPC.

That said, we should likely attempt to make this condition more visible to t

[2019-06-11 00:00] ashoksekar07 opened #816 "Add failure events to the cluster object"
/kind feature

**Describe the solution you'd like**
Right now, when we create a cluster in CAPA, we can see the progress of the cluster being created using the events that are part of the cluster object. This shows up when we do `kubectl describe cluster`. The events which show up are only for the success cases like, a VPC got created, subnet got created, etc. It would be good if this shows failur

[2019-06-11 01:38] vincepri commented on #816
/area ux

[2019-06-11 02:10] Sn0rt commented on #815
@detiber the AWS account TOKEN and KEY has created by `clusterawsadm alpha bootstrap create-stack` command line.

[2019-06-11 03:37] Sn0rt opened #821 "panic:"
/kind bug

instance.go panic

[code]

**What did you expect to happen:**
create a cluster no panic

**Environment:**

- Cluster-api-provider-aws version: Version Info: GitReleaseTag: "v0.3.0", MajorVersion: "0", MinorVersion:"3", GitReleaseCommit:"359991ec850866", GitTreeState:"clean"

[2019-06-11 14:06] vincepri commented on #821
Following the stack trace, it seems that this is more of a permission error. It does look like a panic, but it's actually just a nicely printed stack trace to help with debugging.

It seems you might be missing permissions to `DescribeVolumes`: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/release-0.3/pkg/cloud/aws/services/ec2/instances.go#L759-L762

[2019-06-11 14:07] rudoi opened #822 "KubeletExtraArgs not propagating through to kubeadm config"
/kind bug

**What steps did you take and what happened:**

Created a controlplane Machine with the following init configuration:
[code]

Went to see logs via `kubectl logs` and got an i/o timeout, discovered it was AWS VPC CNI related. That CNI requires the above extra args, so took a look at `/tmp/kubeadm.yaml` and:

[code]

No extra args. :sob:

**What did you expect to happen:**

The extra args

[2019-06-11 14:38] #815 closed

[2019-06-11 14:48] detiber commented on #821
Closing, this is resolved by https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/820
/close

[2019-06-11 15:12] detiber commented on #822
/assign @rudoi

[2019-06-11 16:04] #822 closed

[2019-06-12 02:44] vincepri commented on #659
/remove-lifecycle stale

[2019-06-12 02:44] vincepri commented on #624
/remove-lifecycle stale

[2019-06-12 18:08] ading1977 opened #825 "Failed to deploy metrics-server with connection timeout to kubelet"
/kind bug

**What steps did you take and what happened:**
* Create a cluster via **clusterctl** with one controlplane machine, and then deploy a **machinedeployment** to create two worker nodes
[code]
* Follow [metrics-server deployment](https://github.com/kubernetes-incubator/metrics-server#deployment) instructions, and deploys the metrics-server:
[code]
After a while, I see this:
[code]
Only the

[2019-06-12 18:56] detiber commented on #825
/assign
/lifecycle active

[2019-06-12 20:24] #825 closed

[2019-06-12 21:20] ncdc opened #828 "Additional control plane machines that should join the cluster may inadvertently form new clusters instead"
/kind bug

**What steps did you take and what happened:**
- Create a cluster with multiple control plane nodes
- Remove one of the control plane nodes from the etcd member list
- `kubectl delete` the machine for that node
- While the machine is still being deleted (deletion timestamp is set but the machine resource still exists while the AWS infra is being deleted), create a new control plane mach

[2019-06-12 21:24] ncdc commented on #828
/priority critical-urgent

[2019-06-12 21:24] ncdc commented on #828
/assign

[2019-06-12 21:31] ncdc commented on #828
cc @ashish-amarnath

[2019-06-12 21:31] ncdc commented on #828
I would love someone to double check my assessment of this issue - thanks!

[2019-06-12 22:16] ashish-amarnath commented on #828
@ncdc your assessment is correct. I'll 👀 at your PR.

[2019-06-13 03:08] #828 closed

[2019-06-13 15:49] ncdc commented on #816
@ashoksekar07 if we added Creating/Created/Failed events for the various cluster-scoped AWS resources:
- Internet gateways
- NAT gateways
- Subnets
- VPCs

would that give you enough information for starters?

[2019-06-13 18:21] ashoksekar07 commented on #816
@ncdc That would be a good start. It would be better if we can get other events like success/failure to create bastion node, load balancer, etc. so we can pinpoint the reason for a cluster creation failure.

[2019-06-17 17:19] #611 closed

[2019-06-17 18:32] vivgoyal commented on #777
@detiber I have seen this happens sometime while deletion of machine deployment it delete the existing machine but ends up creating one more which is finally deleted but this leaves up an entry in the kubernetes machine object.

[2019-06-17 21:47] chuckha opened #836 "Add a retry to resource tagging"
/kind bug

**What steps did you take and what happened:**
It is hard to reproduce this, but if a resource fails to tag after creation we will orphan the resource and the cluster will likely encounter problems.

We have reports of security groups failing to tag after being created (thanks amazon) and then on the subsequent try, cluster-api cannot create a duplicate security group but also can't use

[2019-06-18 00:44] detiber commented on #836
This is very likely to be related to the eventual consistency of the AWS APIs: https://docs.aws.amazon.com/AWSEC2/latest/APIReference/query-api-troubleshooting.html#eventual-consistency

+1 to attempting to re-tag the resource assuming it matches the naming we expect.

[2019-06-18 06:41] moshloop commented on #121
Shouldn't this move to CAPI?

[2019-06-18 06:46] moshloop opened #837 "Switch to go modules"
/kind feature

Would make #659 obsolete

[2019-06-18 07:39] moshloop opened #838 "Switch cloud-init generation to use konfigadm"
/kind feature

While I don't have this as a need today for CAPA, I would like to get it into CAPV which would prefer to pull this from CAPA as an upstream change

The benefit of using konfigadm for cloud-init generation is that it would provide a simple way for multiple providers to "reuse" the same bootstrapping logic in all 3 places:

1) as a module to generate the YAML in v1alpha1
2) as a contr

[2019-06-18 16:28] ncdc commented on #121
This probably should be closed, right? We have at least one issue in CAPI to cover this.

[2019-06-18 16:29] detiber commented on #121
+1 on closing

[2019-06-18 16:32] vincepri commented on #121
/close

[2019-06-18 16:32] #121 closed

[2019-06-18 19:40] detiber commented on #837
/milestone Next
/priority backlog

Setting priority based on k8s publishing gomod info only for v1.15+ and dependency on controller-tools and controller-runtime forcing kubernetes 1.13 currently.

[2019-06-19 20:09] detiber opened #845 "Mock generation broken with Bazel 0.27"
/kind bug

**What steps did you take and what happened:**

Using bazel 0.27 run `make generate` returns the following error:

[code]

**What did you expect to happen:**

Mocks to be regenerated

**Anything else you would like to add:**
There is an upstream PR to bazel_gomocks to resolve this issue: https://github.com/jmhodges/bazel_gomock/pull/19

[2019-06-19 20:10] detiber commented on #845
/assign
/priority important-soon
/milestone Next

[2019-06-20 13:59] randomvariable opened #846 "Log user data size"
/kind feature

Related to #705

**Describe the solution you'd like**
Add a log output at a suitable level of verbosity that states the size of the userdata when g'zipped and prior to base-64 encoding.

This will allow us to determine the pace at which we need to find an alternative solution to packing files and X.509 cryptographic material into the userdata.

**Anything else you would like to add:

[2019-06-20 14:02] randomvariable opened #847 "Support laying down arbitrary files on disk"
/kind feature

**Describe the solution you'd like**
Some Kubernetes API server features require additional configuration files.
Add support to the API to be able to lay down these files prior to kubeadm initialization.
cloud-init has a files section that can be utilised to achieve this, but will need to be wary of exceeding the 16KB userdata limit (see #846)

**Anything else you would like to add:

[2019-06-20 14:03] randomvariable commented on #847
Possibly related to #838

[2019-06-20 14:03] detiber commented on #847
/priority important-soon
/milestone Next

[2019-06-20 14:26] ncdc commented on #847
We may want to move this to the kubeadm bootstrapper as part of v1alpha2

[2019-06-20 16:52] ncdc commented on #847
Looking at one CAPV userdata example, it's at around 10kb compressed. That doesn't leave a ton of room for a CA pem, a client cert pem, and a client cert key (use case: support kube-apiserver webhook token authentication). What other mechanisms are worth considering, if we hit the userdata limit on certain providers?

[2019-06-20 16:58] randomvariable commented on #847
I guess either SSM Parameter Store or S3.m

@bryanl had some concerns around using SSM Parameter Store stability.

SSM or S3 will require additional IAM configuration. S3 will also need a globally unique bucket for a customer, and would need explicit configuration in the CRDs, so makes UX a bit trickier. Did originally test using SSM in #189, which did work at the time.

[2019-06-20 16:59] detiber commented on #847
Some initial brainstorming on options:
- If we start installing the agent, we could use AWS systems manager to inject data
  - We currently don't require ssh access and I think this is a better and more auditable way to do the interaction
- downloading from a remote location, such as Naadir suggested.

[2019-06-20 17:00] vincepri commented on #847
+1 for SSM

[2019-06-20 17:00] randomvariable commented on #847
We don't need the SSM agent to inject data. It's a terribly named product - it's actually a suite of 10 different things. Think of Parameter Store as a per-region K/V store just for EC2

[2019-06-20 17:02] detiber commented on #847
The SSM agent probably wouldn't be a horrible thing to add, as it would open the ability to run remote commands later.

[2019-06-20 17:05] randomvariable commented on #847
Yup. Removing the bastion instances also cleans up the cluster controller too.

[2019-06-20 19:11] ncdc commented on #847
I am curious how we might express this in an API that is consistent across different infrastructure providers, and how we would implement it.

[2019-06-20 19:14] vincepri commented on #847
Does it have to be agnostic/generic? For v1alpha2 we can have the infrastructure provider to best decide what to do with the Bootstrap.Data field. Maybe we can add more to the kubeadm provider specification so the data isn't unstructured.

[2019-06-20 19:14] detiber commented on #777
I don't seem to be able to replicate this using the latest release (v0.3.1).

@lin007pro @vivgoyal are either of you able to confirm that you can replicate the behavior using the v0.3.1 release?

[2019-06-20 19:16] ncdc commented on #847
If we go that route, we'd probably want to spec out a standard set of use cases, field names, etc. to provide a firm handshake between the output of a bootstrap provider and an infra provider using it for pre-boot setup.

[2019-06-20 19:17] detiber commented on #847
I don't think we should try to prematurely abstract away an interface for this, I'm +1 for just spec'ing out the use cases and behaviors we expect for v1alpha2.

[2019-06-20 22:07] vivgoyal commented on #777
yes i still see it. I think these are 2 separate issues altogether I think from what I can see.
1. Machine deployment deletion creates one more machine while deletion and deletes it eventually.
2. Deletion machine stay on k8s object list. Sometimes this happens because of point 1 but I have seen it happen otherwise too.

[2019-06-21 04:40] randomvariable commented on #847
Think these are the native options, excluding some more esoteric ones like AWS Cloud Directory.
| Type                | Advantages                                                                                                                                                                                                                                  | Disadvantages

[2019-06-21 07:25] moshloop commented on #847
Another cross-platform option would be Github Secret gists, or just plain Git + Deploy Keys

[2019-06-21 07:49] moshloop commented on #847
Yes - this is the exact use case konfigadm was designed for

[2019-06-21 10:00] moshloop opened #848 "Switch to containerd deb/rpm packages"
/kind feature

Installing binaries makes CVE detection and mitigation really hard. e.g. SSM / Vulnerability scanners can report on versions of installed packages, but not on binaries.

Is there any reason we can't use the docker repo's? they have debs and rpm's for up to containerd 1.2.5

[2019-06-21 11:41] chuckha commented on #847
What kind of files are we talking about? I'd like to see a list of what we want to support before we go too far down any implementation path.

@randomvariable where did this request come from? Which kube-apiserver feature(s) did people want to use?

[2019-06-21 11:47] moshloop commented on #847
My use cases include environment and systemd files for running a consul agent and api-server client-side load balancer.

There might also be other use-cases that a daemonset is not always suitable for e.g. SSH CA certificates, custom networking, remote logging/auditing, MOTD/Issue files, vault tokens

[2019-06-21 13:55] ncdc commented on #847
@chuckha one use case is being able to configure webhook token authentication, which requires setting apiserver flags, writing files to disk (ca pem, client cert pem, client cert key) that ultimately need to be placed inside the kube-apiserver container. If we do find a way to write the certs to the server, do we have a way for kubeadm to get them into the kube-apiserver pod?

[2019-06-21 14:01] randomvariable commented on #847
@chuckha right now anything to do with security, access and authorization. So these will be YAML files, which will technically be typed, so that would be another way to support them (though a huge vendoring annoyance), and PKI material. Those are the only ones I've seen that we specifically need.

Some examples:
- Additional static pod manifests for API server encryption providers
- Static admissi

[2019-06-21 14:02] ncdc commented on #847
@randomvariable thanks for the pointer about `extraVolumes`!

[2019-06-21 20:53] vincepri commented on #787
This should be fixed upstream in https://github.com/kubernetes-sigs/cluster-api/pull/1054

[2019-06-22 17:43] moshloop opened #849 "Switch back to upstream cloud-init"
/kind feature

While I appreciate the "correctness" of adding a kubeadm element to cloud-init, introducing a dependency on a forked package creates some issues.

* Rolling out updates to cloud-init if/when a CVE is reported become problematic
* The forked package needs to be maintained and tested to support different OS's / versions that CAPA will grow to support.

I see 2 paths to resolve this is

[2019-06-24 14:15] vincepri commented on #273
/remove-lifecycle stale

[2019-06-24 14:15] vincepri commented on #539
/remove-lifecycle stale

[2019-06-24 14:15] vincepri commented on #276
/remove-lifecycle stale

[2019-06-24 14:17] ncdc commented on #273
What do you all think about closing this? It's currently possible to create a multi-node control plane with CAPA and v1alpha1. I would imagine any further work will go into the kubeadm bootstrapper and the TBD kubeadm control plane lifecycle manager.

[2019-06-24 14:29] vincepri commented on #273
+1 on that, I checked and all the linked issues also seem to be closed

/close

[2019-06-24 14:29] #273 closed

[2019-06-25 19:49] detiber commented on #848
Unless things have changed, the debs/rpms provided by the docker repo do not have the cri plugin enabled by default, which is why we currently use the binary release.

[2019-06-26 13:17] detiber commented on #836
/assign
/lifecycle active

[2019-06-26 13:17] detiber commented on #777
/assign
/lifecycle active

[2019-06-26 15:44] detiber commented on #613
/remove-lifecycle rotten

This may have to wait until Structural Schemas are available, since currently the CRD definition only defines validations and not the actual properties of the CRD objects: https://kubernetes.io/blog/2019/06/20/crd-structural-schema/

[2019-06-26 17:04] lin007pro commented on #777
Hi,

I don't see that at the moment in my environment.

[2019-06-26 19:16] harishspqr opened #851 "AWS controller recreates VPC when setting attributes fails"
/kind bug

**What steps did you take and what happened:**
Attempt to create a new Cluster using CAPA. When setting VPC attribute fails, the CAPA repeatedly created a new VPC until it hit the limits on each reconcile iteration.

**What did you expect to happen:**
When setting the VPC attribute fails, it must delete the created VPC to retain idempotency.

**Environment:**
This can be easily reproduc

[2019-06-26 19:16] harishspqr commented on #851
/assign @detiber

[2019-06-26 23:16] chuckha opened #852 "v0.3.1 release does not work on os x"
/kind bug

**What steps did you take and what happened:**
I downloaded the release v0.3.1 example tar ball as well as v0.3.1 `clusterctl`. I already have the prerequisites set up in my AWS account, but it doesn't even get that far.

I generate the yaml:
(I deleted the worker node since I do not need it)
[code]

[code]

<details><summary>provider components</summary>
<p>

[code]

</p>
</details>

I

[2019-06-27 13:58] detiber commented on #852
@chuckha out of curiosity, which version of `kubectl` are you using?

[2019-06-27 13:58] detiber commented on #852
/assign

[2019-06-27 13:58] detiber commented on #852
/lifecycle active

[2019-06-27 13:58] chuckha commented on #852
1.14.3

[2019-06-27 13:59] chuckha commented on #852
although...now that you mention it, i was messing around with different versions yesterday. let me reproduce again.

[2019-06-27 14:01] chuckha commented on #852
the (minor) version doesn't seem to affect the outcome, i can reproduce with 1.13.7 as well.

[2019-06-27 14:02] detiber commented on #852
Ok, I'm attempting to reproduce locally

[2019-06-27 14:49] detiber commented on #852
I'm not able to reproduce locally using the linux binaries and yaml templates from the release.

[2019-06-27 14:50] detiber commented on #852
/cancel-lifecycle active

[2019-06-27 15:27] chuckha commented on #852
binaries work on linux, still doesn't work on os x

[2019-06-27 18:19] liztio commented on #846
/assign

[2019-06-28 13:05] #846 closed

[2019-06-28 14:42] stevenolen opened #856 "support alternative cri implementations"
/kind feature

**Describe the solution you'd like**
Support for CRI implementations beyond `containerd`, namely `docker`. A good first pass may just be to avoid overwriting the `criSocket` value in `nodeRegistration` if it is set by the machine spec.

**Anything else you would like to add:**
Our current container environment is dependent on the use of `docker`, which requires setting `kubeadmConfi

[2019-06-28 21:08] detiber opened #861 "clusterctl delete broken on v0.3.2"
/kind bug

**What steps did you take and what happened:**
- Create a cluster using the v0.3.2 release with `clusterctl create`
- Add a machine deployment using aws/out/machine-deployment.yaml
- Run `clusterctl delete cluster`

The delete hangs and will eventually timeout
- The MachineDeployment is blocked on the MachineSet deletion
- The MachineSet deletion is blocked on the Machine deletion
- Con

[2019-06-28 21:09] detiber commented on #861
/priority critical-urgent

[2019-07-01 08:12] sethp-nr commented on #856
A lot of the node bootstrapping flow is going to be different circa v1alpha2, at which point I think this issue would partially be against the [kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm](https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm) repository, if it were still valid.

That said,

Seems like a very reasonable short-term change to make to better support the

[2019-07-01 08:57] #861 closed

[2019-07-01 15:02] ncdc opened #865 "Switch to distroless image"
/kind feature

**Describe the solution you'd like**
Switch to the distroless image to minimize possible attack vectors.

**Anything else you would like to add:**
CAPV PR that made this change: https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/397

**Environment:**

- Cluster-api-provider-aws version: master + release-0.3
- Kubernetes version: (use `kubectl version`): N/A
- OS (e

[2019-07-01 15:19] vincepri commented on #865
This should be already the case, we use `go_image` which builds from https://github.com/bazelbuild/rules_docker/blob/master/go/image.bzl#L52

[2019-07-01 15:20] ncdc commented on #865
TIL, thanks
/close

[2019-07-01 15:20] #865 closed

[2019-07-01 17:16] chuckha commented on #69
we plan to reference this in future issues as this issue itself is too large in scope

[2019-07-01 17:16] #69 closed

[2019-07-01 17:17] chuckha commented on #78
/assign @randomvariable

[2019-07-01 17:17] randomvariable commented on #78
Will sync with SIG Instrumentation to get latest advice

[2019-07-01 17:18] vincepri commented on #88
/close

[2019-07-01 17:18] #88 closed

[2019-07-01 17:21] chuckha commented on #89
/close

[2019-07-01 17:21] #89 closed

[2019-07-01 17:22] chuckha commented on #95
/close

[2019-07-01 17:22] #95 closed

[2019-07-01 17:22] detiber commented on #94
Closing, no longer relevant in the v1alpha2 model

[2019-07-01 17:22] #94 closed

[2019-07-01 17:23] chuckha commented on #130
/close

this is no longer relevant, please reopen if a name change is needed

[2019-07-01 17:23] #130 closed

[2019-07-01 17:26] chuckha commented on #271
/close

we can iterate on existing tests now!

[2019-07-01 17:26] #271 closed

[2019-07-01 17:29] chuckha commented on #276
Please break this down into smaller issues and close this issue when done

[2019-07-01 17:30] chuckha commented on #297
/close

[2019-07-01 17:30] #297 closed

[2019-07-01 17:30] chuckha commented on #314
/close

clusterctl is getting reworked

[2019-07-01 17:30] #314 closed

[2019-07-01 17:40] chuckha commented on #487
/close

[2019-07-01 17:40] #487 closed

[2019-07-01 17:41] chuckha commented on #487
we're hoping this can move to the image builder working group or perhaps revisit after they are further along in the process

[2019-07-01 17:42] ncdc commented on #519
/remove-lifecycle rotten

[2019-07-01 17:43] chuckha commented on #551
/close

we think this is fixed already

[2019-07-01 17:43] #551 closed

[2019-07-01 17:49] chuckha commented on #559
Sounds like we'll move back to bash for now, but we are concerned about the size of user data and where the bash will call kubeadm directly

https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/849

[2019-07-01 17:49] chuckha commented on #574
/close

[2019-07-01 17:49] #574 closed

[2019-07-01 17:52] chuckha commented on #614
/close

michael is working on this against master with node ref

[2019-07-01 17:52] #614 closed

[2019-07-01 17:53] chuckha commented on #624
we now force to python 2

/close

[2019-07-01 17:53] #624 closed

[2019-07-01 17:54] chuckha commented on #659
switching to go module makes this issue closed

/close

[2019-07-01 17:54] #659 closed

[2019-07-01 17:55] chuckha commented on #729
this is fixed

/close

[2019-07-01 17:55] #729 closed

[2019-07-01 18:00] randomvariable commented on #727
We plan to tackle this in kubeadm here https://github.com/kubernetes/kubeadm/issues/1379 and Cluster API should inherit the functionality as a result.

[2019-07-01 18:00] #727 closed

[2019-07-01 21:19] ashish-amarnath opened #866 "Handle stopped/ terminated ec2 instances"
/kind feature

**Describe the solution you'd like**
When an EC2 instance backing a k8s node is stopped or terminated (generalized on 'goes away'), capa actuator should update the actual state of the machine object to "vm-lost" (or something) so the machine goes into an error state.

**Anything else you would like to add:**

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version

[2019-07-02 17:55] #856 closed

[2019-07-03 15:02] ncdc opened #869 "[0.3] Adding a new control plane machine is potentially broken if you have multiple clusters"
/kind bug

**What steps did you take and what happened:**
- Create multiple clusters, each with its own machines
- Try to add a 2nd control plane machine to a cluster
- CAPA thinks it's not a node join, so it does `kubeadm init`

**What did you expect to happen:**
- Node join / `kubeadm join`

**Anything else you would like to add:**
I will be fixing this in master with #779.

For the `release-0.3

[2019-07-03 15:17] ncdc opened #871 "Document infrastructure-ready, control-plane-ready annotations"
/kind documentation

**Describe the solution you'd like**
Once #779 is merged to master, we'll need to document the 2 new annotations it added:

- `aws.cluster.sigs.k8s.io/infrastructure-ready`
- `aws.cluster.sigs.k8s.io/control-plane-ready`

We'll need to cover 2 scenarios:

1. **Upgrade**: I have a cluster that I created with CAPA before v0.3.4 (the first release that expects the annotations) (a

[2019-07-07 06:33] kingdonb opened #873 "Possible to provision API with an internal LB ?"
/kind feature

Is it possible to add configuration to the cluster network, which would permit switching from "internet-facing" scheme, to "internal" for the control plane API?  From my reading of the docs this would be a new feature request.

I went to add a field to my cluster.yaml during clusterctl create, but failed to grok that it's just a status field in the spec, not anything you can actuall

[2019-07-07 22:30] kingdonb commented on #873
I'm going to take a stab at changing the one line in the source code and building my own CAPA which does internal ELB, just to see if it's feasible.  I can't think of any reason that it won't work, but if it works, how likely is the SIG to accept a patch which makes it configurable as an option?

I think I would add `apiServerElb:` to the networkSpec, with `schema:` option that defaults to interne

[2019-07-08 08:00] sethp-nr commented on #873
I'd be happy to review a PR that makes the API server LB type configurable. I wonder what we should do about the CAPA-created VPC case, though – an internal LB presupposes a lot about the network architecture between the CAPA bootstrap cluster and the cluster being created.

It might be as simple as documentation that says "internal ELB probably won't work for CAPA-created VPCs" but it would be ni

[2019-07-08 13:38] detiber commented on #873
Like @sethp-nr mentioned there are a lot of presuppositions that are needed for an internal LB to work, I'm leaning towards saying that we should likely start with only supporting this in the bring-your-own-VPC mode for now, since we wouldn't have enough information to know how to wire up a newly created VPC to the user's network.

[2019-07-08 16:25] timothysc commented on #847
@fabriziopandini ^ Ideally I'd like the kubeadm kustomize arg to allow for the ability to call a URL to pull it's contents

[2019-07-08 18:37] ncdc commented on #847
How would you all feel about adding a new slice to `AWSClusterProviderSpec` to allow users to specify additional file content they'd like to be placed in the ec2 instances? While we may be pushing upwards toward the user-data size limit, this could be a relatively easy "fast path". If nothing else, it at least provides an option, and if it turns out the data is too big, we can investigate the othe

[2019-07-08 19:29] williamsandrew opened #874 "Segfault attempting to delete ELB"
/kind bug

**What steps did you take and what happened:**

CAPA encounters a nil pointer exception while attempting to delete a cluster. Specifically, it appears to be failing while attempting to delete an ELB. Relevant logs are below. This happens on each reconciliation attempt so my pod is in crash loop backoff.

[code]

Here is a sanitized copy of the actual cluster object I believe it is blowi

[2019-07-08 19:35] vincepri commented on #874
This might be related to the fact that there are no security groups in your status https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/pkg/cloud/aws/services/elb/loadbalancer.go#L159

[2019-07-08 19:35] ncdc commented on #874
That would do it. How do you want to handle fixing - should we nil check things?

[2019-07-08 19:39] vincepri commented on #874
/lifecycle active

[2019-07-08 19:39] vincepri commented on #874
I think so @ncdc

[2019-07-08 19:52] vincepri commented on #847
/lifecycle active

[2019-07-08 19:58] #763 closed

[2019-07-08 20:55] vincepri opened #878 "Use plain go to run e2e tests"
/kind feature

**Describe the solution you'd like**
The e2e test suites uses Bazel to run go tests, which turns compilation issues in something like
[code]

Which is hard to understand (or almost impossible) until you actually run `go test` or `go build`. Given that the Go toolkit is very easy to use, we should switch to using plain go tools where we can and avoid to over-complicate the developmen

[2019-07-09 19:50] williamsandrew opened #880 "Duplicate entries on status.apiEndpoints"
/kind bug

**What steps did you take and what happened:**

While debugging an unrelated CAPA issue I noticed we have a few cluster objects that have many duplicates in the `.status.apiEndpoints` field. So far I believe this is only cosmetic.

[code]

Sanitized and truncated cluster object is below. If need be, I can provide the whole object.

[code]

**Environment:**

- Cluster-api-provider-aws ve

[2019-07-09 19:55] vincepri commented on #880
/lifecycle active

[2019-07-09 20:08] #880 closed

[2019-07-09 22:08] vincepri commented on #837
/priority important-soon
/assign @chuckha

I opened up a PR today to move `release-0.1` CAPI branch to https://github.com/kubernetes-sigs/cluster-api/pull/1132 and some utilities for vendoring that you might find useful https://github.com/kubernetes-sigs/cluster-api/pull/1134

[2019-07-10 15:52] #847 closed

[2019-07-10 18:00] ncdc commented on #836
@detiber is this still active for you?

[2019-07-10 18:04] ncdc commented on #777
This was fixed by https://github.com/kubernetes-sigs/cluster-api/pull/953 and is in cluster-api v0.1.4+.

@vivgoyal are you still seeing this anywhere, or can we close?

[2019-07-10 20:06] vivgoyal commented on #777
@ncdc haven't observed much on capi 0.1.4+. If this has been fixed we can close it. In case I see this again, will go ahead and re-open.

[2019-07-10 20:06] vincepri commented on #777
/close

[2019-07-10 20:06] #777 closed

[2019-07-10 20:13] vincepri opened #882 "Migrate to Cluster API master / v1alpha2"
/kind feature

**Describe the solution you'd like**
In an effort to move this provider to v1alpha2 CAPI types, we should update the dependency to Cluster API latest master release after the switch to Go Modules.

[2019-07-10 20:14] vincepri opened #883 "Create v1alpha2 types"
/kind feature

**Describe the solution you'd like**
- [x] Create and define AWSMachine CRD.
- [ ] Create and define AWSMachineTemplate CRD.
- [x] Copy the Cluster logic for v1alpha1.

[2019-07-10 20:15] vincepri opened #884 "[v1alpha2] Remove bootstrapping code (kubeadm, cloud-init)"
/kind feature

**Describe the solution you'd like**
In CAPI v1alpha2, the bootstrap logic is externalized to bootstrap providers. As part of the next release, we should remove all the code that generates user-data for AWS instances.

[2019-07-10 20:16] detiber commented on #836
/remove-lifecycle active

[2019-07-10 20:18] #874 closed

[2019-07-10 20:19] vincepri opened #885 "[v1alpha2] AWSMachine controller"
After the v1alpha2 types are created, we need a new Kubebuilder controller that watches AWSMachine and Machines events. This controller replaces v1alpha1's actuator logic and it should follow the specs detailed in [Machine states and preboot proposal](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/20190610-machine-states-preboot-bootstrapping.md).

[2019-07-10 20:19] vincepri commented on #885
/kind feature

[2019-07-10 20:21] vincepri opened #886 "Add validating webhooks"
/kind feature

**Describe the solution you'd like**
Using validating webhook, we need to add validation logic for AWSMachineTemplate objects to achieve immutability.

[2019-07-10 21:29] williamsandrew opened #889 "Controller can generate an ELB name that is too long"
/kind bug

**What steps did you take and what happened:**

I created a cluster with the name "this-is-too-long-right-1". CAPA provisioned much of the infrastructure (VPC, subnets, bastion host, etc) but fails creating an ELB with the following error:

[code]

I believe this is because it attempts to create an ELB called "this-is-too-long-right-1-apiserver".

**What did you expect to happen:**

My

[2019-07-11 13:30] chuckha commented on #884
Doing the kubeadm stuff, not cloud init yet

/assign
/lifecycle active

[2019-07-11 13:38] chuckha commented on #884
ok, never mind, i'm not ready to break master. Will revisit in a bit.

/remove-lifecycle active

[2019-07-11 14:32] sethp-nr opened #890 "Failure to tag security group prevents cluster reconciliation"
/kind bug

**What steps did you take and what happened:**

1. Followed our usual process for pivoting a new cluster
2. Part way through, the EC2 API's eventual consistency whacked us with a 404 trying to tag the security group CAPA had just created (see log message below)
3. From then on out, CAPA couldn't find the security group, so it tried to create it again, getting a conflict error on the SG'

[2019-07-11 14:37] sethp-nr commented on #890
I think there's a quick fix and a harder fix path here. The quick fix is (maybe) to yank the tag filter from the SG search.

The harder path would be a combination of retries on the initial tag call, and some way to heal from this situation, like parsing the "this resource already exists" error out of the create security group response.

[2019-07-11 14:56] detiber commented on #890
@sethp-nr I hate to say it, but considering the eventual consistency, we probably need to implement retries with backoffs in quite a few different places anyway.

[2019-07-11 14:58] rudoi commented on #890
I think the harder path is probably the better one. :\ I think having the system attempt to heal itself in any way it can with respect to the EC2 APIs is a great direction to move in.

[2019-07-11 15:08] rudoi commented on #889
The Cluster object can map to a multitude of underlying providers (AWS, Azure, etc), each of which probably has differing limitations on load balancer name length. For example, it's 32 in AWS but 80 in Azure. I don't know if it would be appropriate to have the schema limit the length to the lowest limit found in the providers.

Maybe we need some ValidatingWebhook action here to provide the most f

[2019-07-11 15:13] rudoi commented on #890
Also I believe related to #836

[2019-07-11 15:16] ncdc commented on #889
It might be better to have code here in CAPA that does something like a consistent hash of the cluster name that is <= 32 characters - that way we wouldn't introduce a provider-specific limitation on cluster name.

[2019-07-11 15:20] #837 closed

[2019-07-11 15:22] detiber commented on #889
No objection to using a hash for resource naming, as long as we make sure that we still use the full name for tags and descriptions.

[2019-07-11 15:24] rudoi commented on #889
Is there any way we can meet the length requirements while maintaining a user-friendly name? I don't think anyone is super thrilled with the hashed names that currently exist in the Kubernetes cloud providers.

[2019-07-11 15:26] ncdc commented on #889
If the cluster's name is > 32 chars, we could use something like the first 24 + an 8-char hash of the cluster's name (replace 24 & 8 with reasonable values to avoid collisions, but you get the idea).

[2019-07-11 15:28] sethp-nr commented on #890
@detiber Is there a "I don't enjoy giving this a +1, but begrudgingly accept its necessity" emoji?

[2019-07-11 15:29] rudoi commented on #889
Love it, ship it.

[2019-07-11 15:35] detiber commented on #890
@sethp-nr not that I'm aware of, but I share the same sentiment. It'd be great if they built handling of this into the SDKs.

[2019-07-11 16:48] vincepri commented on #882
/lifecycle active

[2019-07-11 17:25] detiber commented on #884
We may not be able to fully remove, since we'll still need to inject cloud-init data into the bastion host.

[2019-07-11 17:27] ncdc commented on #884
Agreed - we chatted about this but it didn't get recorded above.

[2019-07-11 17:32] moshloop commented on #838
/close with v1alpha2 this would move to the bootstrap provider

[2019-07-11 17:32] moshloop commented on #838
/close

[2019-07-11 17:32] #838 closed

[2019-07-11 17:34] moshloop commented on #849
/close
Moving to bootstrap provider

[2019-07-11 17:34] #849 closed

[2019-07-11 17:42] vivgoyal opened #891 "Failure in cluster deletion [unable to remove finalizer from cluster CRD]"
/kind bug

**What steps did you take and what happened:**
Deletion of cluster sometimes gets stuck in a state in which it is unable to remove finalizer from the cluster CRD. It gets into an endless loop.
Error: cluster_controller.go:133] Error removing finalizer from cluster object cl-34bbaad7; Operation cannot be fulfilled on clusters.cluster.k8s.io "cl-34bbaad7": the object has been modified; pl

[2019-07-11 17:52] ncdc commented on #891
I do know that in the cluster actuator's Delete() call, it will update the cluster, which gives it a new resourceVersion. Once the Delete() call returns successfully, the CAPI cluster controller then tries to update the cluster to remove the finalizer. This fails with the conflict error you've shown above. It should retry and eventually succeed, but it would be nicer to re-get the cluster after th

[2019-07-12 17:13] #883 closed

[2019-07-15 17:08] ncdc commented on #778
The image building is moving to a new repo, so we can close this.
/close

[2019-07-15 17:08] #778 closed

[2019-07-15 17:11] moshloop commented on #784
Could try a mock external ec2 api server: https://github.com/spulec/moto

[2019-07-15 17:17] moshloop commented on #848
/close
moving to image-builder repo

[2019-07-15 17:17] #848 closed

[2019-07-15 17:20] vincepri commented on #787
This is going to be fixed in v1alpha2.

@Lokicity Let me know if you need this to be patched in v1alpha1 as well, we can probably work to backport a fix.

[2019-07-15 17:22] Lokicity commented on #787
We will port CAPI 0.1.6 and CAPA 0.3.4 later this week. It should be good. Thanks @vincepri

[2019-07-15 17:26] ncdc commented on #845
Jason to doublecheck & close if appropriate

[2019-07-15 17:26] ncdc commented on #851
Part of #836

[2019-07-15 17:27] ncdc commented on #852
@chuckha please try v0.3.4 & report back

[2019-07-15 17:34] calebamiles commented on #836
@detiber, @chuckha what I was asking in the meeting is whether we were already using "resource waiters" everywhere possible. In my experience using resource waiters can be helpful for hiding the polling logic to ensure that a specific API object has a desired state.

- [an example](https://github.com/cloudfoundry/bosh-aws-light-stemcell-builder/blob/master/src/light-stemcell-builder/driver/copy_am

[2019-07-15 17:34] ncdc commented on #878
@vincepri to update the description to mention just e2es

[2019-07-15 17:36] vincepri commented on #885
/lifecycle active

[2019-07-15 17:37] ncdc commented on #886
@vincepri to flesh out details

[2019-07-15 18:01] detiber commented on #836
@calebamiles I think it would definitely help to use the waiters, but according to the docs, it is likely not sufficient and we should also add backoffs and retries to subsequent commands for a given resource as well: https://docs.aws.amazon.com/AWSEC2/latest/APIReference/query-api-troubleshooting.html#eventual-consistency

[2019-07-15 18:20] detiber commented on #845
I can no longer reproduce this.
/close

[2019-07-15 18:20] #845 closed

[2019-07-15 18:20] williamsandrew opened #899 "Unable to delete machine when ELB is not present"
/kind bug

**What steps did you take and what happened:**

I attempted to delete a cluster but was unable to] because the cluster is being affected by this (now fixed) bug: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/893. However, I'm also seeing an error on this same cluster where a machine cannot be deleted because the controller cannot find the associated load balancer. Log

[2019-07-15 18:50] ncdc commented on #869
#779 was backported to release-0.3 in #876
/close

[2019-07-15 18:50] #869 closed

[2019-07-16 03:45] dlipovetsky opened #903 "Bootstrap cluster cleaned up despite failed pivot"
/kind bug

When the `clusterdeployer.Create` method fails _after_ deploying the control plane machine, but _before_ pivoting (i.e. copying over the CAPI and CAPA control planes, and Cluster, Machine, and ancillary objects to the workload cluster), the bootstrap cluster is cleaned up.

Without the Cluster, Machine, and ancillary objects, it is not possible to use clusterctl to delete the AWS resour

[2019-07-16 03:47] dlipovetsky commented on #903
If that's uncontroversial, I'm happy to take up the fix.

[2019-07-16 13:08] tahsinrahman commented on #886
can i take this, if nobody is assigned?

[2019-07-16 13:17] chuckha commented on #903
There is a flag for this!

`clusterctl create cluster --bootstrap-cluster-cleanup=false <other args>...`

[2019-07-16 14:55] ncdc commented on #891
/lifecycle active

[2019-07-16 15:44] vincepri commented on #886
@tahsinrahman Definitely, that'd be great!

We'd need to spec out the details a little more given that the webhook support just landed in controller-runtime v0.2 and seems to need some automation around generating certificates.

We should make sure that the webhook integration with this provider is seamless to users. Do you think you'd be able to put up a plan together on what that looks like?

[2019-07-16 17:40] dlipovetsky commented on #903
Thanks @chuckha! I filed this on the wrong repo.

Does an admin want move this issue to cluster-api, or should I just close and file a new one?

[2019-07-16 17:41] vincepri commented on #903
I can try, not sure what's gonna happen though :D

[2019-07-16 23:34] dlipovetsky commented on #889
Another constraint for ELB names besides length and uniqueness within region: A CAPI cluster name must be a valid Kubernetes object name. But there might be characters that are valid in a Kubernetes object name, but invalid in some external API's name.

Valid [Kubernetes names](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/identifiers.md). (The foll

[2019-07-16 23:50] dlipovetsky commented on #889
The provider implementation might need to translate names to identify external resources. And an end user might need to translate names to do the same thing, perhaps to do something "out of band" with
those resources.

My intuition is to leave the translation to each provider. However, it would be nice for the end user to get the translation from the provider. (Maybe nicest of all would be for the

[2019-07-17 09:15] Sn0rt opened #906 "manager support set MetricsBindAddress"
/kind feature

[code]

support set manager  MetricsBindAddress

[code]

[2019-07-17 14:33] detiber commented on #889
+1 on handling name mangling in the providers, since it allows each provider to handle their own particular needs without forcing all of those requirements into core cluster-api.

[2019-07-17 19:42] detiber commented on #899
@williamsandrew I'm trying to diagnose this issue a bit more and from what I can tell, this shouldn't be hit if the Machine is being deleted, only if the machine is attempting to reconcile without the presence of a load balancer.

[2019-07-17 19:53] detiber commented on #899
Digging into this, I did notice that we are reconciling load balancer attachments and providerID in Exists, when we should likely be doing it in Update instead. This wouldn't impact Deletion, though since Exists is only called if the DeletionTimestamp is not set.

[2019-07-17 21:17] ncdc commented on #891
@vivgoyal I have only been able to reproduce this once. Do you have a set of steps the reproduce this consistently for you?

[2019-07-17 21:21] vivgoyal commented on #891
@ncdc this is not reproduced any differently. It happens every once in a while for the same set of steps that I run.

[2019-07-17 21:29] ashish-amarnath commented on #808
This will be a problem based on how we, currently, look if a machine exists. Specifically, when we look for instances by tags. https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/release-0.3/pkg/cloud/aws/services/ec2/instances.go#L66
Even more specifically, that problem is
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/release-0.3/pkg/cloud/aws/services/ec2/instance

[2019-07-17 21:30] ncdc commented on #891
@vivgoyal can you share those steps?

[2019-07-17 21:33] ncdc commented on #808
I'm curious why we need to query for an instance by tags if we have instance ID?

[2019-07-17 22:12] ashish-amarnath commented on #808
We query by tags only when we don't find the instanceID
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/release-0.3/pkg/cloud/aws/services/ec2/instances.go#L481

But when there is a naming conflict, I think, we'll end up w/ 2 machine objects being liked to the same instance ID.

[2019-07-18 02:00] Sn0rt commented on #906
@ncdc

[2019-07-18 13:27] ncdc commented on #808
Right, but _why_? 😄

IMHO, if a `Machine` does not have `spec.providerID`, we must do a `create` operation. If it does have `spec.providerID`, then we should be doing existence/health checks and setting the error state appropriately if the VM is not pending or running (+ maybe shutting down & stopped too).

[2019-07-18 13:33] detiber commented on #808
@ncdc The reason for the check is in case we create the instance but we are not able to update the Machine object for some reason.

[2019-07-18 13:35] ncdc commented on #808
Ok, that's fair.

[2019-07-18 13:46] #906 closed

[2019-07-18 14:37] ncdc commented on #891
I am fairly confident this is the root cause of the issue:

1. During the initial cluster reconcile loop iteration, CAPA creates the ELB for the cluster, but it's not ready yet, and we set cluster.status.apiEndpoints[0].host to `""` (the empty string).
1. During each subsequent cluster reconcile loop iteration, we infinitely append the correct host as a new endpoint to the cluster.status.apiEndpoi

[2019-07-18 17:33] dlipovetsky commented on #275
There are pitfalls to nodes spanning multiple AZs. Here is one that I believe is well known: EBS volumes do not span AZs, so a workload using storage backed directly by EBS cannot be moved to another AZ in case of an AZ outage. However, it is possible to use a separate cross-AZ replication mechanism on top of EBS.

I worry that end users will use multiple AZs without being aware of the pitfalls, o

[2019-07-18 17:51] dlipovetsky commented on #873
Why does the network architecture matter? Is it to ensure that the workload cluster's API can be reached?

Here's a guess. If you can correct my mistakes, I'd appreciate it.
1. If the user wants to pivot, then clusterctl must be able to reach the target cluster's API to perform the pivot
2. If the user does not want to pivot, then the CAPA controllers running in the management cluster must be able

[2019-07-18 18:12] ncdc commented on #873
FYI, regardless of pivot, the CAPI pod requires network connectivity to the workload (target) cluster to determine/set a machine's node ref, and to be able to perform machine readiness checks in the machineset controller.

[2019-07-18 19:13] dlipovetsky commented on #873
Thanks @ncdc!

If the requirement is indeed just for CAPI control plane to reach the workload cluster, I think a network-layer solution will work. (Off the top of my head: a reverse TCP tunnel combined with a transparent HTTPS proxy).

Of course, the CAPA control plane will need to know where to reach the workload cluster's API. We use [`Cluster.Spec.APIEndpoints`](https://github.com/kubernetes-si

[2019-07-18 19:17] detiber commented on #873
@dlipovetsky fully agree that we should strive towards supporting this, I do worry about having to support an additional component to automatically try and provision and configure a tunneled proxy or trying to automate vpn configuration.

[2019-07-18 20:01] dlipovetsky commented on #873
@detiber I agree. In fact, given the many different solutions to the problem, I worry that supporting one specific solution may be worse than supporting none! :slightly_smiling_face:

I think CAPI should be isolated from this problem as much as possible. And because the problem is not limited to AWS, I'd prefer a solution that works with many infra providers.

I'll run an experiment and share my t

[2019-07-19 18:33] tahsinrahman opened #912 "manager panics `no matches for kind "AWSMachine" in version "infrastructure.cluster.sigs.k8s.io/v1alpha2"`"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
[code]

**What did you expect to happen:**

manager should not panic

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.

[2019-07-19 18:39] vincepri commented on #912
Have you installed the CRDs in your target Kubernetes cluster from `config/crds`?

[2019-07-20 17:10] tahsinrahman commented on #912
yes, i've applied the crds, but same error :(

[code]

[2019-07-22 16:19] detiber opened #913 "[v1alpha2] Forward ports needed"
Some fixes/updates were added to release-0.3 that will need to be forward ported to master when it is more stable:

- [x] https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/910 - cluster events (PR: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/961)
- [x] https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/908 - LB fix (@chuckha)
- [x] https://github.c

[2019-07-22 16:19] detiber commented on #913
/assign
/milestone v0.4

[2019-07-22 16:19] detiber commented on #913
/priority important-soon

[2019-07-22 19:44] detiber commented on #890
/assign
/lifecycle active

[2019-07-23 15:07] ncdc opened #917 "[v1alpha2] Conversion tool from v1alpha1"
/kind feature

**Describe the solution you'd like**
We need to be able to take existing v1alpha1 resources and convert them to v1alpha2 resources that function with v1alpha2 components. We hopefully can reuse portions of this for other kubeadm-based providers (such as CAPV), but for now, we can start building a tool that is specific to CAPA.

This should be a standalone executable that we can run

[2019-07-23 15:08] ncdc commented on #917
cc @liztio @chuckha @amy @vincepri @detiber

[2019-07-23 15:10] ncdc commented on #917
xref https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/issues/46

[2019-07-23 15:32] vincepri opened #918 "Switch kubebuilder domain to cluster.x-k8s.io"
/kind feature

**Describe the solution you'd like**
The kubebuilder domain and generated APIs should fall under `cluster.x-k8s.io` domain.

[2019-07-23 15:58] vincepri opened #920 "[v1alpha2] Implement finalizers and handle deletion in AWSMachine controller"
/kind feature

**Describe the solution you'd like**
The v1alpha2 `AWSMachine` controller doesn't have support for deletion and finalizers. The code should be ported from the old [actuator](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/release-0.3/pkg/cloud/aws/actuators/machine/actuator.go#L244) and [cluster-api machine controller](https://github.com/kubernetes-sigs/cluster-api/

[2019-07-23 15:58] vincepri opened #921 "Implement finalizers and handle deletion in AWSMachine controller"
/kind feature

**Describe the solution you'd like**
The v1alpha2 `AWSMachine` controller doesn't have support for deletion and finalizers. The code should be ported from the old [actuator](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/release-0.3/pkg/cloud/aws/actuators/machine/actuator.go#L244) and [cluster-api machine controller](https://github.com/kubernetes-sigs/cluster-api/

[2019-07-23 15:58] vincepri commented on #921
/close

[2019-07-23 15:58] #921 closed

[2019-07-23 16:41] #918 closed

[2019-07-23 18:32] jiatongw opened #924 "No Dockerfile for manager in releases 0.2 and 0.3"
There is no `Dockerfile` for building manager image in any of the release versions. But I see the Dockerfile in `master` branch. `manager` image is necessary while using CAPA.

cc @figo

[2019-07-23 18:34] detiber commented on #924
The container images are built using Bazel for the `release-0.2` and `release-0.3` branches.

[2019-07-23 22:11] ncdc opened #925 "[0.3] Need to set the owner reference to the cluster for the kubeconfig secret"
/kind bug

**What steps did you take and what happened:**
1. Create a cluster
1. Create a control plane machine
1. Wait for the kubeconfig secret to be generated
1. Delete the machine
1. Delete the cluster
1. kubeconfig secret is still there

**What did you expect to happen:**
1. kubeconfig secret should be deleted

**Anything else you would like to add:**
We need to add an owner reference from th

[2019-07-23 23:07] vincepri commented on #925
/lifecycle active

[2019-07-23 23:49] vincepri opened #928 "[0.3] SEGV when trying to create a new cluster"
/kind bug

**What steps did you take and what happened:**
Create a new cluster using the management cluster workflow, the actuator throws a panic with the following:
[code]

Which points to ProviderID in `MachineScope.Close` that could be nil in case the instance hasn't been created yet. This situation can happen for example when the cluster isn't ready yet.

**What did you expect to happen:**
Man

[2019-07-23 23:49] vincepri commented on #928
/lifecycle active

[2019-07-24 06:50] Sn0rt opened #929 "PANIC: NodeRef controller"
/kind bug

[code]
**Environment:**

- Cluster-api-provider-aws version:
`us.gcr.io/k8s-artifacts-prod/cluster-api/cluster-api-controller:v0.1.6`

- Kubernetes version: (use `kubectl version`):
[code]
- OS (e.g. from `/etc/os-release`):

[2019-07-24 07:17] Sn0rt commented on #929
https://github.com/kubernetes-sigs/cluster-api/issues/1104

[2019-07-24 13:50] ncdc commented on #929
This will be fixed in the next v0.3.x release, which has cluster-api v0.1.8.

/assign @detiber

[2019-07-24 14:08] detiber commented on #928
/close

[2019-07-24 14:08] #928 closed

[2019-07-24 14:08] detiber commented on #925
/close

[2019-07-24 14:08] #925 closed

[2019-07-24 16:57] dlipovetsky commented on #873
Findings:

The problem is that management cluster's CAPI controllers need to reach the workload cluster API server in a network where ingress from the internet is not possible, but egress is.

A very common solution is to create a reverse TCP tunnel.

I have prototyped a client-server solution that allows the CAPI controllers to access the workload cluster's API via a Service on the management clu

[2019-07-24 19:25] dlipovetsky commented on #873
@kingdonb Would what I describe above work for you? If not, can you please share your requirements? Thanks!

[2019-07-24 20:58] detiber commented on #929
This should be resolved now that [v0.3.6](https://github.com/kubernetes-sigs/cluster-api-provider-aws/releases/tag/v0.3.6) has been released

[2019-07-24 20:58] detiber commented on #929
/close

[2019-07-24 20:58] #929 closed

[2019-07-24 22:11] dlipovetsky commented on #873
Here's a variation on the tunnel idea above: The client can be deployed natively on a non-cluster machine, instead of as a cluster addon.

I think the drawbacks include:
- Increased operational complexity: A non-cluster machine can't be managed with CAPI, so you'll need different tooling to bring up a non-cluster machine in every infrastructure you use.
- Increased cost: You're paying for another

[2019-07-25 13:16] detiber commented on #873
Yet another option longer term may be to leverage [SSM Session Manager tunneling](https://aws.amazon.com/about-aws/whats-new/2019/07/session-manager-launches-tunneling-support-for-ssh-and-scp/). Ideally it would support more than just ssh/scp, but there might still be a way to leverage it against an existing instance without requiring a bastion host.

[2019-07-25 17:29] dlipovetsky commented on #873
@detiber News to me, thanks! If SSM tunneling supports standard ssh clients, then static or dynamic local port forwarding can be used.

Though I would prefer a solution that can work with many infrastructures.

[2019-07-25 18:32] ncdc commented on #924
@jiatongw did Jason's answer clear things up?

[2019-07-25 18:41] ncdc commented on #912
/assign
/lifecycle active

[2019-07-25 18:46] ncdc commented on #912
I am not able to reproduce this. I manually applied the following CRDs from github.com/kubernetes-sigs/cluster-api master:
- config/crds/cluster.x-k8s.io_clusters.yaml
- config/crds/cluster.x-k8s.io_machines.yaml

And from this repo, master:
- config/crds/infrastructure.cluster.x-k8s.io_awsmachines.yaml

Once I did that, the manager started.

[2019-07-25 18:46] ncdc commented on #912
@tahsinrahman could you please try what I wrote above and report back? Thanks!

[2019-07-25 18:48] ncdc commented on #891
The CAPI fix merged and has been incorporated into CAPA v0.3.6.
/close

[2019-07-25 18:48] #891 closed

[2019-07-25 18:49] ncdc commented on #852
@chuckha ping?

[2019-07-25 18:52] ncdc commented on #795
@detiber I'm thinking all that's left to close this out is to update the releasing.md documentation to talk about the image promoter?

[2019-07-25 18:54] detiber commented on #795
@ncdc indeed, I just need to forward port the docs changes back to the `master` branch :)

[2019-07-25 19:12] vincepri commented on #885
/close

[2019-07-25 19:12] #885 closed

[2019-07-25 19:12] vincepri commented on #882
/close

[2019-07-25 19:12] #882 closed

[2019-07-25 19:12] vincepri commented on #878
/help

[2019-07-25 19:14] vincepri commented on #920
/priority important-critical

[2019-07-25 19:25] ncdc commented on #559
In v1alpha2, cloud-init bootstrapping is moving to a bootstrap provider. I believe we are trying to move away from a forked copy of cloud-init. If that's the case, closing this makes sense. Otherwise, we could transfer this to https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm. Thoughts?

[2019-07-25 19:25] ncdc commented on #426
@detiber should we transfer this to https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm?

[2019-07-25 19:26] ncdc commented on #920
@vincepri you want this critical-urgent or important-soon?

[2019-07-25 19:27] detiber commented on #426
Indeed, I'll transfer it now.

[2019-07-25 19:27] detiber commented on #426
Or maybe not, it's not showing cluster-api-bootstrap-provider-kubeadm as a repo that I can transfer issues to.

[2019-07-25 19:28] ncdc commented on #426
Maybe @chuckha can?

[2019-07-25 19:32] ncdc commented on #920
/assign
/lifecycle active

[2019-07-25 20:38] vincepri commented on #920
I categorized it as P0 because it's the last (and required) functionality to finish up the AWSMachine controller

[2019-07-25 20:38] ncdc commented on #920
I agree - just checking b/c you mixed the 2 😄
/priority critical-urgent

[2019-07-25 20:41] vincepri commented on #920
Whoops, thanks for catching that!

[2019-07-26 04:49] kingdonb commented on #873
Perhaps it will help if I explain my specific network architecture in a little bit more terse detail, and explain where my experiment with CAPA went wrong with it.

My VPC has public and private subnets, which are routed to various places on campus.  The zones are Public, Campus, DC - both Campus and DC are internal zones, while Public is perhaps obviously an internet-facing zone.

I provision my

[2019-07-26 08:54] Sn0rt opened #930 "Add documentation for how to create a control plane that spans multiple AZs"
I generate the file which is controlplane-machine-ha, and find that the master machineList file no specified detail of HA.

in fact, the user want to create a cluster is high available, that means is the cluster is HA with whole region, whole VPC. not create three master with same subnet.

/kind feature

[2019-07-26 09:32] Sn0rt opened #931 "Add flavour for using AWS VPC CNI"
/kind feature

from my backgroup, I consider to use native network work with k8s, like `EKS`.
however, cluster-api-provider-aws not support it yet.
can we consider to support  amazon-vpc-cni-k8s support  ?
or accept a PR to implement this feature ?

[2019-07-26 13:19] ncdc commented on #816
Fixed in #910
/close

[2019-07-26 13:19] #816 closed

[2019-07-26 14:40] detiber commented on #931
@Sn0rt I don't see any issues with adding support for `amazon-vpc-cni-k8s`.

At a cursory glance I believe it would require:
- Swapping out the Calico manifests in `addons.yaml` with the [manifests](https://github.com/aws/amazon-vpc-cni-k8s/blob/master/config) for `amazon-vpc-cni-k8s`
- Updating the `nodes.cluster-api-provider-aws.sigs.k8s.io` policy as per the [docs](https://github.com/aws/amazon

[2019-07-26 15:22] #795 closed

[2019-07-26 15:34] vincepri commented on #930
To accomplish this today, you'll need to have 3 different subnets in a VPC and specify the `AvailabilityZone` field manually for each Machine.

[2019-07-26 15:56] vincepri opened #933 "[v1alpha2] Implement AWSCluster controller"
/kind feature

**Describe the solution you'd like**
- [ ] Update Cluster API module dependency to the latest master release.
- [ ] Scaffold a new controller and type with kubebuilder using `kubebuilder create api --version v1alpha2 --group infrastructure --resource=true --controller=true --kind AWSCluster --make=false`.
- [ ] Migrate `AWSClusterProviderSpec` fields to the newly created `AWSCluster

[2019-07-26 17:13] rudoi commented on #931
:+1:

We're big VPC CNI users and would be happy to help out on this.

/cc @sethp-nr

[2019-07-26 17:33] sethp-nr commented on #930
FWIW, what @vincepri suggested is (almost) what we do – we specify the subnets directly – and it works really well.

We've found that the examples in this repo are a helpful starting point, but we pretty quickly ran into the need to template out our own configs that matched our needs.

[2019-07-26 18:21] detiber commented on #930
It is also possible to define multiple subnets when creating a Cluster with a "managed VPC" by setting Cluster.Spec.ProviderSpec.NetworkConfig.Subnets[*].AvailabilityZone for each Availability zone you wanted created in the managed VPC. When paired with setting the `AvailabilityZone` on the Machine, this allows you to pre-create Cluster and Machine resources without needing to pre-define the VPC o

[2019-07-26 19:05] jiatongw commented on #924
Thanks @detiber .
Hi Andy, it's clear for me now. Do we need to consider to add a second way to make the build more flexible and compatible to more users? For some reasons, although it's officially provided bazel build,I am now writing my own Dockerfile to build.

[2019-07-26 19:09] ncdc commented on #924
We will be using the Dockerfile in master going forward. I guess what I'm asking is if you need one for 0.3.x?

[2019-07-26 19:12] jiatongw commented on #924
Yes. For each build I am using a specific tag to checkout to the related version

[2019-07-26 19:14] jiatongw commented on #924
But that's fine if we don't have plan to use Dockerfile in each release. ^^

[2019-07-26 19:18] ncdc commented on #924
Going forward, any release branched from master will have a Dockerfile. I'm guessing you'd just need one for 0.3.x in the short term, right?

[2019-07-26 19:53] jiatongw commented on #924
Ah, yup. Sorry I misunderstood what you said.

[2019-07-26 21:49] jiatongw commented on #924
I think it's save to close now. Thanks!
/close

[2019-07-26 21:49] #924 closed

[2019-07-27 00:59] dlipovetsky opened #936 "[0.3] If all control plane machine(s) are deleted after the Cluster is marked ready, new control plane machines will not be reconciled."
/kind bug

**What steps did you take and what happened:**
I created a control plane Machine, which deployed successfully. But because I had chosen the wrong AMIs, additional machines deployed, but failed to bootstrap. I decided to delete all machines and re-deploy with the correct AMI. I deleted the control plane Machine, and created a new control plane Machine, but it could not be reconciled. The

[2019-07-29 12:50] tahsinrahman commented on #912
@ncdc thanks, it was panicing because i didn't apply the yamls from `cluster-api`

[2019-07-29 12:50] #912 closed

[2019-07-29 13:38] ncdc commented on #936
/good-first-issue
/help

[2019-07-29 14:09] detiber commented on #936
@ncdc We'll likely need to track something similar for v1alpha2 as well.

[2019-07-29 14:10] ncdc commented on #936
@detiber yes but in the kubeadm bootstrapper repo most likely

[2019-07-29 14:31] randomvariable commented on #931
Can do either of the following:
* Create a new policy and attach it to the node manually
* Add an option to the CloudFormation generation to do it automatically. Might be better not to modify the existing policies.

[2019-07-29 17:28] sethp-nr commented on #931
FWIW this works today by applying a custom policy to the control plane machines and worker nodes with the Machine's `spec.providerSpec.value.iamInstanceProfile`. It doesn't look like any of the ENI stuff is scoped to the CAPA tag(s), despite some evidence that we wanted to – @rudoi do you remember if we tried to get the CNI permissions to be scoped to just the CAPA machines?

[2019-07-29 18:25] detiber commented on #773
For Load Balancers this will need to take into account both Classic ELBs and elbv2 NLB's. Currently we only create a client for Classic ELBs

[2019-07-29 18:52] dlipovetsky commented on #936
/lifecycle active
I can take this up today. Should I work off the release-0.3 branch?

[2019-07-29 18:55] ncdc commented on #936
@dlipovetsky thanks! And yes, release-0.3

[2019-07-29 20:36] #920 closed

[2019-07-29 20:44] detiber opened #937 "Document manual release-blocking test for HA cluster"
/kind feature

**Describe the solution you'd like**

Create a manual test plan for testing HA cluster creation using:
- Default Ubuntu-based AWS images for k8s v1.15.x
- 3 Control Plane Machines
- 1 MachineDeployment for Worker nodes
- Calico for CNI

Where each Control Plane Machine is deployed to a different AWS AZ:
- Cluster.Spec.ProviderSpec.NetworkConfig.Subnets[*].AvailabilityZone set approp

[2019-07-29 20:45] detiber opened #938 "Document manual release-blocking test for non-HA cluster"
/kind feature

**Describe the solution you'd like**

Create a manual test plan for testing HA cluster creation using:
- Default Ubuntu-based AWS images for k8s v1.15.x
- 1 Control Plane Machine
- 1 MachineDeployment for Worker nodes
- Calico for CNI

Scenarios to test:
- `clusterctl create cluster` succeeds
- Created cluster passes Sonobuoy Conformance test
- Scale up/down of MachineDeployment wor

[2019-07-29 20:51] detiber opened #939 "Document manual release-blocking test for exceptional AWS events"
/kind feature

**Describe the solution you'd like**

Given a non-HA Cluster, such as the one defined in #938, and a group of worker Nodes managed by a MachineDeployment, ensure that the controllers can handle the following exceptional cases:
- instance backing a (worker node) Machine is deleted via the AWS web console, cli, or sdk
- the API server ELB is deleted via the AWS web console, cli, or sd

[2019-07-29 20:56] detiber opened #940 "Document manual release-blocking test for AWS functionality"
/kind feature

**Describe the solution you'd like**
Given a cluster, such as the one defined in #938, and a group of worker Nodes managed by a MachineDeployment, ensure that the AWS cloud provider functionality works as expected:

- Service w/ Type=LoadBalancer is created/deleted on request as appropriate
- Dynamic Persistent Volumes backed by EBS are functional

[2019-07-30 19:14] ncdc commented on #933
/assign
/lifecycle active

[2019-07-31 17:28] vivgoyal opened #943 "Cluster deletion fails because there is no VPC present."
/kind bug

**What steps did you take and what happened:**
I tried to create a cluster and it failed because I was hitting maximum VPC limit in my AWS account. Next I tried to delete the cluster but it failed because it couldn't find any avaialble VPC.

**What did you expect to happen:**
I would expect deletion to proceed to next steps if there is no VPC present.

**Anything else you would like to

[2019-07-31 17:29] detiber commented on #943
/assign
/milestone 0.3.x

[2019-07-31 17:29] detiber commented on #943
/priority important-soon

[2019-07-31 20:43] dlipovetsky commented on #873
Thanks a lot for the details @kingdonb! Let me know if I understood correctly:
- You're running the bootstrap cluster inside an existing VPC
- You want CAPA to deploy a cluster into that VPC
- You want CAPA to create an internal LB

[2019-07-31 20:59] dlipovetsky commented on #873
@sethp-nr

I think you're on the right track. Let's make the _control plane-to-workload cluster API connectivity_ requirement abundantly clear in the CAPA documentation, and call it out again in whatever type we add to CAPA's `networkSpec`.

Whether CAPA creates the VPC or not, CAPA will require the end-user to provide connectivity. The end user can create a tunnel, add the newly created VPC to a

[2019-07-31 22:38] sb1975 opened #944 "Documentation Clarity"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
It would help either there is a requirement.sh that handles the requirements automatically or if the steps could be explained further what is expected to be done.

    Linux or MacOS (Windows isn't supported at the moment):
Does it mean a Linux VM on AWS ?
    A set of AWS credentials su

[2019-08-01 01:09] ncdc commented on #899
Hi @williamsandrew, I reviewed the code in v0.3.2, and @detiber is correct - based on the logs you pasted above, the error

[code]

only shows up if the machine has not been deleted. Given that #908 fixes the flow that generated the error from your logs, would it be ok to close this? Or have you seen any other times when you tried to delete a Machine and encountered an issue with the ELB not being

[2019-08-01 01:40] ncdc commented on #936
941 has merged.
/close

[2019-08-01 01:40] #936 closed

[2019-08-01 01:41] ncdc commented on #866
This is implemented in master. Also xref https://github.com/kubernetes-sigs/cluster-api/issues/1205
/close

[2019-08-01 01:41] #866 closed

[2019-08-01 01:42] ncdc commented on #852
Closing without prejudice due to age 😄.

Please reopen if newer v0.3.x releases have problems on macOS.

/close

[2019-08-01 01:42] #852 closed

[2019-08-01 01:44] ncdc commented on #559
/close

Let me know if you think this needs to be reopened.

[2019-08-01 01:44] #559 closed

[2019-08-01 01:45] ncdc commented on #426
I'm going to close this and open a new issue in the other repo.
/close

[2019-08-01 01:45] #426 closed

[2019-08-01 14:14] ncdc commented on #933
Fixed by #942
/close

[2019-08-01 14:14] #933 closed

[2019-08-01 18:32] dlipovetsky commented on #392
Some notes:
There are two ways to allow end users to customize rules:
1. Modify rules in CAPA-reconciled security groups
2. Add security groups

Security groups are just collections of rules. An instance can have multiple security groups; AWS[ internally merges them all into one group](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-network-security.html#security-group-rules), which is t

[2019-08-01 18:56] detiber commented on #392
@dlipovetsky One potential downside to separating out everything into separate groups is that we could start running into AWS limits on the number of Security Groups that can be attached to an instance.

Based on the [docs](https://docs.aws.amazon.com/vpc/latest/userguide/amazon-vpc-limits.html), it looks like we are limited to a maximum of 5 security groups per network interface, which means if w

[2019-08-01 19:05] dlipovetsky commented on #392
@detiber Good point, thanks.

[2019-08-01 19:19] detiber opened #947 "Remove bastion host requirement"
/kind feature

**Describe the solution you'd like**
With the announcement of AWS Session Manager support for tunneling of SSH and SCP, we can remove the Bastion host requirement.

This would require a few different tasks:
- Add installation of SSM agent >= 2.3.672.0 on Cluster API images: https://docs.aws.amazon.com/systems-manager/latest/userguide/sysman-install-ssm-agent.html
- Documentation upd

[2019-08-01 19:19] detiber commented on #947
/priority important-longterm
/milestone v1alpha2

[2019-08-01 19:19] detiber commented on #947
/milestone v0.4

[2019-08-02 04:01] Sn0rt opened #950 "premission required: failed to describe vpc attribute"
/kind bug

`
E0802 03:18:33.901229       1 cluster_controller.go:166] Error reconciling cluster object manage-cluster; failed to reconcile network for cluster "manage-cluster": failed to to set vpc attributes for "vpc-0a42fc6644d299113": failed to describe vpc attribute: UnauthorizedOperation: You are not authorized to perform this operation.
	status code: 403, request id: db498bbf-e4ed-45d2-9ab1-

[2019-08-02 07:27] Sn0rt opened #952 "need correct time in pod: AWS was not able to validate the provided access credentials"
/kind bug

`
E0802 07:01:46.220550       1 cluster_controller.go:166] Error reconciling cluster object test1; failed to reconcile network for cluster "test1": failed to describe VPCs: failed to query ec2 for VPCs: AuthFailure: AWS was not able to validate the provided access credentials
`

Maybe we need set timezone with controller pod.
or
update time info from NTP server

the local host time is

[2019-08-02 13:27] detiber commented on #950
Closing, since #951 has merged
/close

[2019-08-02 13:27] #950 closed

[2019-08-02 18:43] williamsandrew commented on #899
Yes I think we can close this.

[2019-08-02 18:43] #899 closed

[2019-08-03 23:29] sb1975 opened #954 "The cluster creation process is not working"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

root@ubuntu:~# clusterctl create cluster -v 3   --bootstrap-type kind   --provider aws   -m ./aws/out/machines.yaml   -c ./aws/out/cluster.yaml   -p ./aws/out/provider-components.yaml   -a ./aws/out/addons.yaml
I0803 17:28:37.443145   16067 createbootstrapcluster.go:27] Preparing bootst

[2019-08-05 03:18] Sn0rt commented on #952
[code]

and the local time as follow:

[code]

[2019-08-05 14:29] kingdonb commented on #873
@dlipovetsky You said it in 3 bullet points, that's exactly right.  I appreciate your taking the time to understand my use case.  I think your intentions as stated here are likely to meet my requirement.

[2019-08-05 16:55] sethp-nr commented on #954
Would you provide the [logs from your controller process](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/getting-started.md#bootstrap-running-but-resources-arent-being-created):

[code]

[2019-08-05 23:49] sb1975 commented on #954
Now I am getting lot of other errors :

~# export KUBECONFIG=$(kind get kubeconfig-path --name="clusterapi")
No command 'kind' found, did you mean:
 Command 'find' from package 'findutils' (main)
 Command 'kfind' from package 'kfind' (universe)
 Command 'kid' from package 'python-kid' (universe)
 Command 'king' from package 'king' (universe)
 Command 'kino' from package 'kino' (universe)
kind: com

[2019-08-05 23:50] sb1975 opened #956 "quickstart script for Getting started with cluster-api-provider-aws"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
There is too much troubleshooting involved to get the "Getting started with cluster-api-provider-aws" working.
There is a need to build a quickstart script that would seamlessly build a default setup to be able to understand how it works and then help towards enhancing it further.

**A

[2019-08-06 00:03] sethp-nr commented on #954
I'm a little confused. In the output you pasted above, I see a lot of `kind` interactions, including:

Which suggests that you had `kind` installed wherever you ran `clusterctl`.

The `kind` cluster also gets created at the start of the `clusterctl` command and cleaned up at the end, so if you want to capture the meaningful logs you'll need to run the commands I referenced while the `I0803 17:57:1

[2019-08-06 18:45] randomvariable opened #959 "Support alternative identity partitions for IAM roles"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
In the IAM roles produced by clusterawsadm, ARNs are generated in the format `arn:aws`. However, AWS has completely separate identity partitions, namely `arn:aws-us-gov` for GovCloud and `arn:aws-cn` for AWS China.

For clusterawsadm to be able to support these environments, would need

[2019-08-06 18:49] randomvariable commented on #959
There's no other hardcoding of the `arn:aws` identity partition in the codebase in the controller code.

[2019-08-06 20:25] randomvariable opened #960 "Instruct Packer to make EBS snapshots public"
/kind feature
/assign
/lifecycle active

**Describe the solution you'd like**
If the underlying EBS snapshot of an AMI is public, then a user can copy the AMI to any region or account they like, and also encrypt it upon copying, which also then theoretically allows the use of encrypted root volumes for the cluster instances with copies of the public AMIs. Organizations may want to move the Packer

[2019-08-06 21:14] ncdc opened #962 "Move AWS resource reconciliation logic into the controllers"
/kind feature

**Describe the solution you'd like**
It should be much easier if we keep the AWS service layer as a convenience layer for translating CRD data to AWS requests. Having the reconciliation logic in the controller layer makes it easier for us to make sure we're generating events for the correct objects and at the right time.

**Anything else you would like to add:**
[Miscellaneous infor

[2019-08-06 21:19] timothysc opened #964 "Default to out-of-tree cloud provider for v1alpha2+"
**Describe the solution you'd like**
Default to use out-of-tree cloud provider for v1alpha2+
In tree is deprecated and we will be able to upgrade in the future.

/cc @andrewsykim
/kind feature

[2019-08-07 08:12] Sn0rt opened #965 "HA Cluster: Unable to acquire control plane configmap lock - requeuing"
/kind bug

I want to create a HA cluster with whole region, that means create a master node pre AZ.

however, a problem has been encountered while create the second master instance, the key log is  `Unable to acquire control plane configmap lock - requeuing`

the machine controrller can't take the configMap lock for create ec2 instance.

[code]

the master machineList as follow

[code]

the cluste

[2019-08-07 08:55] Sn0rt commented on #952
this's fine after reset the docker Application

[2019-08-07 08:55] #952 closed

[2019-08-07 09:07] Sn0rt commented on #965
after I delete the configmap manually

[code]
now, the CAPA controller output as follow

[code]

[2019-08-07 09:21] Sn0rt opened #966 "HA cluster: ha cluster apiserver lb look like not for mutil-zone"
/kind bug

I want to create a three master Cluster, and the pre master node pre AZ.

the cluster spec as follow

[code]

now the elb looks like not for mutil-zone, is it expected ?

[code]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2019-08-07 10:12] Sn0rt opened #967 "ha cluster: subnet reconcile miss to check and create route table"
/kind bug

I want to create ha cluster with three node and the three located in different AZ.

I try the POC as follow step:

1: set the ENV
2: generate the yaml of cluster
3: apply the Cluster YAML to managerCluster
4: create two subnetes and get the subnet id // this is by manually
5: modify the control-plane machine to set the subnet ID
6: apply the the control-plane MachineList

but, now the r

[2019-08-07 14:10] detiber commented on #716
@chuckha is this issue still valid?

[2019-08-07 14:16] chuckha opened #968 "Update config/"
/kind feature

**Describe the solution you'd like**
I'd like the `config/` directory to be in line with the other providers for v1alpha2. This will allow us to have a consistent developer experience across v1alpha2 providers.

kubebuilder v0.2 offers a single place to kustomize the entire `config/` directory, namely `config/default/kustomize.yaml`.

I think we could run `controller-gen` and then f

[2019-08-07 14:18] liztio opened #969 "Cluster with reused name in different namespace fails to boot"
/kind bug

**What steps did you take and what happened:**
1. Boot a cluster with a given name in the default namespace
2. Wait for that cluster to successfully come up
3. Create a new namespace
4. Boot a cluster with an identical name to the first in the new namespace
5. Cluster does not create a new VPC or any associated resources

**What did you expect to happen:**
A new VPC, set of machines, an

[2019-08-07 14:18] ncdc commented on #965
I wouldn't recommend deleting the configmap if you're in the middle of creating a multi-member control plane. That will yield unpredictable and probably incorrect results.

Do you still have the complete logs from the CAPA controller pod? If so, could you please share? After the first control plane machine succeeds its initialization, the `Cluster` resource should get an annotation on it called `a

[2019-08-07 14:19] chuckha opened #970 "standardize makefile to look more like a kubebuilder Makefile"
/kind feature

**Describe the solution you'd like**
The makefile for this provider should look more like the makefile we expect from a kubebuilder project.

As we are using bazel this likely will only have the same targets but use our bazel build to build a given target.

I'd recommend generating a new Makefile with kubebuilder and then porting functionality to it from our current makefile/bazel b

[2019-08-07 14:20] ncdc commented on #967
@detiber what is our stance on this - if you create your own subnet, should you also have to manually complete the rest of the steps, or should CAPA take care of configuring the route table correctly, even with manually created subnets?

[2019-08-07 14:25] ncdc commented on #969
The cluster name needs to be unique per <AWS account, region>.

[2019-08-07 14:25] detiber commented on #969
Currently we treat the cluster name as a unique value. We have a few options here:
- Add some type of validation that the cluster name is indeed unique
  - This would still present issues where the controllers are scoped to a single namespace or running under different management clusters
- Prefix everywhere we use the cluster name for naming, tagging, etc with the namespace name
  - This would st

[2019-08-07 14:27] detiber commented on #969
@ncdc that limitation only exists because of the current design, but we do need to have a unique "cluster name" that we set that is used for the integrated or external cloud-provider integration.

[2019-08-07 14:28] ncdc commented on #969
@detiber which is still per account+region, unless I'm mistaken?

[2019-08-07 14:35] detiber commented on #969
@ncdc correct

[2019-08-07 14:39] detiber commented on #967
@ncdc I'm against trying to configure the route tables, since we would not know the intentions of the user providing an existing subnet. Do they intend to use a NAT gateway or handle routing a different way? If so, which NAT gateway if there are multiple?

[2019-08-07 15:00] ncdc commented on #967
@detiber that's how I'm leaning as well. Just so I'm clear - @Sn0rt did you let CAPA create everything **except** for the subnets? i.e. did CAPA create the route table?

[2019-08-07 16:07] liztio opened #972 "Bootstrap failure detection"
**Describe the solution you'd like**
If bootstrapping doesn't succeed, set AWSMachine.Status.FailureReason and FailureMessage to indicate there was an error.

**Anything else you would like to add:**
More information in https://github.com/kubernetes-sigs/cluster-api/issues/2554.

We may need to amend the bootstrap provider contract to require them to write a sentinel file indicating success to a s

[2019-08-07 16:08] liztio commented on #972
/cc @ncdc

[2019-08-07 16:09] ncdc commented on #972
Thanks for the writeup @liztio.

@detiber @randomvariable is there any easy & consistent way, as an external/AWS client, to know if cloud-init failed?

[2019-08-07 16:10] ncdc commented on #972
@liztio you could potentially retitle this to "Bad user experience if CoudInit fails"

[2019-08-07 16:21] chuckha commented on #913
Working on the first item, #910

[2019-08-07 16:21] ncdc commented on #913
I've got 910 covered

[2019-08-07 16:24] chuckha commented on #913
jk doing #908

[2019-08-07 16:47] detiber commented on #972
@ncdc we've discussed a few different ways of determining the status of cloud-init.

- Having a process write back to the management cluster to update the status of it's resource
  - requires having a connection back to the management server (no worky with kind clusters without some type of reverse proxy)
- Having a process write to an S3 bucket or some other aws facility
  - Adds a new AWS depend

[2019-08-07 17:02] randomvariable commented on #972
Same thoughts, but using SNS+SQS which is the model used in autoscaling lifecycle hooks, i.e. CAPA listens to an SQS queue subscribed to an SNS stream that instances post status to. At what stages in the instance bootstrapping process you'd want to do that - there's some guidance in the [AutoScaling docs themselves](https://docs.aws.amazon.com/autoscaling/ec2/userguide/lifecycle-hooks.html).

http

[2019-08-07 17:04] detiber commented on #972
I'm not sure if there is any cloud-init data that is logged to the console, but we could potentially use EC2.GetConsoleOutput to parse that output as well.

[2019-08-07 17:07] chuckha commented on #913
#908 needs no action.

It makes two changes:

1. It will update the load balancer on Update instead of Exists. The v1alpha2 code already exhibits this behavior: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/pkg/controller/awsmachine/awsmachine_controller.go#L268 This happens just after setting the provider id. This is the normal path of reconcile and there is no early-exi

[2019-08-07 18:25] aaroniscode commented on #852
I hit the same error. Was able to determine it was a YAML error. Cut/paste of some additional YAML changes the indentation so keys weren't where they were expected. If anyone else hits this error, check your YAML

[2019-08-07 19:30] aaroniscode opened #977 "cluster names with . in the name error as ELB can't contain characters that are not letters, or digits or the dash"
/kind bug

**What steps did you take and what happened:**
Created a cluster with a `.` in the name, ie:

[code]
**What did you expect to happen:**
Cluster to come up. Perhaps either converting or removing invalid characters.

**Anything else you would like to add:**
Relevant error message below:
[code]

**Environment:**

- Cluster-api-provider-aws version: v0.3.7
- Kubernetes version: (use `kubect

[2019-08-07 19:40] detiber commented on #977
/priority important-soon
/milestone 0.3.x

[2019-08-07 19:41] detiber commented on #977
I'm wondering if we should consider this more broadly as a validation/translation issue around cluster name, since we also have other cases where a cluster name may be too long when we are munging the name for resource creation.

[2019-08-07 20:02] rudoi commented on #977
@detiber I agree with tackling this broadly. There are a bunch of places across all the providers where the cluster name is used to name resources, and I think there are a bunch of issues out there that basically have "lol we should probably handle that..." in a comment :laugh:.

Could it be validating webhook time?

[2019-08-07 20:05] ncdc commented on #977
I think we're finally at a point where we could consider upgrading to kubebuilder v2, which is supposed to have better support for webhooks.

[2019-08-07 20:06] detiber commented on #977
Maybe? we probably need to start with documenting what the limitations are for where we use Cluster.Name currently.

[2019-08-07 20:42] liztio commented on #972
I think it'd be good if we had some way of annotating which control plane node had been selected as the initial one. Either an annotation or updating the control-plane lock.

[2019-08-07 20:48] sethp-nr commented on #966
CAPA assign every public subnet to the LB: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/pkg/cloud/services/elb/loadbalancer.go#L169-L171

In your cluster's status, I only see one public subnet, so that's why it's only in one AZ.

[2019-08-07 20:49] liztio commented on #972
We could also change the error message from "failed to acquire lock" to "awaiting first control plane boot"

[2019-08-07 21:09] ncdc commented on #972
We can change the log message, but it's important to remember that it's not ultimately a user-facing message.

@liztio re the control plane lock, could you please file a separate issue for discussing improvements to it (such as keeping track of the initial machine)?

[2019-08-07 21:34] randomvariable commented on #972
Would prefer not to have to parse console output across distros and account for line returns etc... think it would be extremely brittle.

Not only that, it's only the last 64KB and only supported on Nitro (KVM) backed instances

[2019-08-07 22:30] vivgoyal commented on #943
@detiber I am not sure if this goes here but I am also seeing similar sort of error with instance/subnets deletion. It may be happening at other places too.

I0807 22:15:25.007734       1 actuator.go:248] [machine-actuator] "level"=0 "msg"="Deleting machine in cluster"  "cluster-name"="kkkk-730159" "machine-name"="control-plane-kkkk-730159-2" "machine-namespace"="512eae6d04d45be2e8aff9470334dd8fec

[2019-08-07 23:10] ncdc commented on #943
Please file new issues

On Aug 7, 2019, at 6:30 PM, vivgoyal <notifications@github.com<mailto:notifications@github.com>> wrote:

@detiber<https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fdetiber&data=02%7C01%7Cgoldsteina%40vmware.com%7C2e1f1a5ccb9f41e40a2308d71b86d14b%7Cb39138ca3cee4b4aa4d6cd83d9dd62f0%7C0%7C0%7C637008138160805598&sdata=DpxTqVVmtVTxByFwJRhjNdEBQsYGQOx

[2019-08-08 00:03] aaroniscode opened #978 "Amazon Linux AMI build skipping `configure cloud-init` in Ansible playbook"
/kind bug

**What steps did you take and what happened:**
`packer build -only=amazon-2 packer.json`

[code]

This results in a user `centos` being created and you can't login as `ec2-user` and must login as `centos`

**What did you expect to happen:**
[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api

[2019-08-08 01:59] Sn0rt commented on #966
thx， got it

[2019-08-08 01:59] #966 closed

[2019-08-08 02:23] Sn0rt commented on #965
the log of create cluster ha01
[code]

[2019-08-08 06:17] Sn0rt commented on #967
in fact, I want use CAPA to create every things such as subnet, and its route table.

however, I am not found a useful guide to tell me how to create a HA cluster with whole region.

I just found a example yaml from `creating-multinode-controlplane-clusters.md`  file.

[code]

[2019-08-08 07:02] #965 closed

[2019-08-08 07:11] Sn0rt commented on #930
I successfully created a cluster of ha, but in a semi-manual manner.
I create a three node HA-Cluster, but the subnet and route table set is manually.

[2019-08-08 07:38] Sn0rt commented on #930
is it means the HA info is cluster level not control-panel machine level ?

[2019-08-08 08:35] Sn0rt opened #980 "user story: use CAPA to create a mamanger cluster which is for deploy user Cluster"
/kind feature

create a CAPA cluster by CAPA Cluster

1:  create a bootstrap cluster by CAPA ( provider is kind
2: deploy provider-components to bootstrap cluster
3: create a cluster by the controller which run in the bootstrap cluster

and I find the document about this

[code]

[2019-08-08 12:26] liztio commented on #972
@ncdc what do you mean by "not a user-facing message?" I think people are going to have to consume these logs one way or another, these things are going to fail sometimes

[2019-08-08 12:29] liztio opened #981 "Control Plane Lock should record which machine has been elected"
/kind feature

**Describe the solution you'd like**
Right now, the Control Plane Lock does not document what machine has been chosen to be the first control plane (the one that gets `kubeadm init` instead of `kubeadm join`).

If we recorded this, we could have better log messages, record events, and potentially even restart a failed machine creation.

**Anything else you would like to add:**
[Misc

[2019-08-08 12:30] liztio commented on #972
Created #981

[2019-08-08 13:39] ncdc commented on #980
If you create a cluster in AWS, either with `clusterctl create cluster`, or by manually performing similar steps (create a kind bootstrap cluster, deploy CAPA, create a `Cluster` and `Machines`, etc), you end up with a cluster that can act as a management cluster. The `clusterctl` approach makes this pretty easy, since it pivots. Could you please clarify what you're looking for?

[2019-08-08 13:41] ncdc commented on #972
If someone else manages the Cluster API installation, I, as a user, may not have access to view the log messages in the CAPI and CAPA controllers. We should therefore both improve the log message, and improve the UX for the end user when you get into a situation where the lock is stale for whatever reason.

[2019-08-08 13:55] #978 closed

[2019-08-08 14:07] detiber commented on #930
It is both, since the shared infrastructure is created at the "Cluster level" and each control plane Machine needs to specify which subnet/AZ it should belong in.

[2019-08-08 14:19] detiber commented on #967
@Sn0rt I haven't tested it, but something similar to below should work for creating the required subnets for us-east-1, given a user that has us-east-1a, us-east-1b, us-east-1c, and us-east-1d availability zones.

[code]

[2019-08-08 14:20] ncdc commented on #967
And you can reference the subnet each machine should use by `availabilityZone` name (https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/e6a57dc61826b8c7806eba22a513c9722c420754/pkg/apis/awsprovider/v1alpha1/awsmachineproviderconfig_types.go#L75).

[2019-08-08 14:59] #960 closed

[2019-08-08 15:07] liztio commented on #981
Proposed flow:
1. Write out a configmap that references the machine that was elected
2. Requeue immediately
3. Retrieve Machine listed in ConfigMap
4. Call GetOrCreate()
5. Update [Instance](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/release-0.3/pkg/apis/awsprovider/v1alpha1/types.go#L411)
6. Requeue if not ready

[2019-08-08 15:09] liztio commented on #981
GetOrCreate() will reacquire any orphaned EC2 instances
The arl will be populated immediately for easier debugging

I'm worried about duplicating instances during 4) though

[2019-08-08 15:17] ncdc commented on #981
Are you suggesting this instead of allowing the winner to immediately proceed so that we only have a single code path & flow to test?

[2019-08-08 15:18] liztio commented on #981
It's so we can be sure that the etcd commit was actually successful

[2019-08-08 15:19] ncdc commented on #981
commit of what resource?

[2019-08-08 15:19] liztio commented on #981
the lock

[2019-08-08 15:20] ncdc commented on #981
`ConfigMaps(foo).Create(&cm)` will only return a `nil` error if it succeeded. We don't need to requeue to ensure the ConfigMap was written to etcd.

[2019-08-08 15:23] liztio commented on #981
Fair enough, just being defensive

[2019-08-08 15:25] ncdc commented on #981
It _could_ be easier to test if we do what you're suggesting. Otherwise, we do have 2 flows:

1. Create lock, proceed because it was successful
1. Handle case where lock was created but something went wrong and we didn't get a happy VM (i.e. proceed b/c Machine name/uid matches what's in the lock)

If we do what you're suggesting, it's:

1. Iteration 1: create lock
1. Iteration 2: query lock & pro

[2019-08-08 15:26] liztio commented on #981
Yeah, exactly. I don't have a sense of how long our backlog queue usually is, but if it's long on a busy server splitting up could add increased latency

[2019-08-08 15:28] liztio commented on #981
We could write an idempotency token to the configmap to keep step 4) from being deleted

[2019-08-08 15:28] ncdc commented on #981
We currently reconcile 1 machine at a time, and given this is strictly about the initialization of the control plane, anything else that were to get reconciled after we exit iteration 1 would either quickly be requeued (wrong machine) or quickly proceed (correct machine).

[2019-08-08 15:29] ncdc commented on #981
It's ok to call GetOrCreate multiple times, as long as it only ever creates once. Do you think there is anything wrong with GetOrCreate that would cause the Get portion of it to fail after we have an ec2 instance?

[2019-08-08 15:40] detiber commented on #981
@ncdc There is the possibility of a small window related to ec2 eventual consistency where we create a new instance, the controller dies or for some other reason, the wait for instance ready fails to complete, and the requeue happens fast enough that the subsequent describe call fails to return the previously created instance.

[2019-08-08 15:41] liztio commented on #981
I'm worried about the eventual consistency issues @detiber described, where we would've already called create but the machine isn't quite available in the instance

[2019-08-08 15:42] chuckha commented on #913
@detiber Can you confirm my logic for #908 above?

If that's sound then this issue can be closed

[2019-08-08 15:45] detiber commented on #913
@chuckha I agree it appears to be a noop given the new reconciliation behavior.
/close

[2019-08-08 15:45] #913 closed

[2019-08-08 15:48] detiber commented on #964
We discussed this during the weekly meeting and agreed that it should likely be a blocker for entering Beta, but should not be a requirement for v1alpha2 since the AWS and GCP external providers are not yet feature complete compared to the in-tree providers.
/milestone Next
/priority important-longterm

[2019-08-08 16:37] aaroniscode opened #983 "cloud-init fails on Amazon Linux and CentOS AMI's, "Error persisting instance-data.json""
/kind bug

**What steps did you take and what happened:**
Create a CAPA cluster and choose an Amazon Linux AMI. I tried `ami-092d9d6a36468257d` which is for k8s v1.14.4.

I also tried with a custom built AMI for k8s 1.15.2 and both fail with the same error.

cloud-init fails very early in the process in `sources/__init__.py`.
```2019-08-08 12:31:38,951 - __init__.py[WARNING]: Error persisting inst

[2019-08-08 16:48] randomvariable commented on #983
There is some string parsing differences between Python versions so very well could be related to that. We would expect CentOS 7 to break in the same way.

[2019-08-08 17:08] mauilion commented on #983
I think @randomvariable is on the right track:

Further evidence: https://bugs.launchpad.net/cloud-init/+bug/1801364

A work around for this may be to bring the version of python installed up to the "known working" version.

[2019-08-08 17:08] vincepri commented on #969
I really like the 3rd option @detiber suggested, which might be part of a larger naming refactor. AWS resources are notoriously limited in how many chars they can use, it'd be great if we could come up with a consistent naming scheme that can be used across all resources and solve this issue as well.

[2019-08-08 18:31] detiber commented on #943
I created a PR to address the case where a Machine is missing an instanceID: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/984

I was not able to see an obvious place where we would hit issues with the other resources, though (since we are generally querying the resources before deletion). If you do hit an issue with one of the other resources, please do create a new issue with

[2019-08-08 18:57] liztio commented on #981
/lifecycle active

[2019-08-08 19:08] aaroniscode commented on #983
Tested on CentOS and it fails with the same error as Amazon Linux 2.
```2019-08-08 19:05:50,543 - __init__.py[WARNING]: Error persisting instance-data.json: 'utf8' codec can't decode byte 0x8b in position 1: invalid start byte```

This was with `ami-0cf28ce2e4d1c46bf` from https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/amis.md#centos-7-1

[2019-08-08 19:17] aaroniscode commented on #983
This issue might be related: https://github.com/hashicorp/terraform/issues/4794#issuecomment-176858792

[2019-08-08 21:02] dlipovetsky opened #986 "Cluster's private subnet not discovered, preventing cluster delete"
/kind bug

Note: I haven't yet reproduced this. I'll try to do that soon, but am filing in the meantime.

**What steps did you take and what happened:**
I created a Cluster object. CAPA reconciled it successfully. I then force-deleted the Cluster object such that CAPA did not reconcile it. Finally, I created the same Cluster object. CAPA reconciled it. Finally, I deleted the Cluster object. CAPA r

[2019-08-08 21:14] randomvariable commented on #983
Thanks for investigating. I'll keep track of support
/assign

[2019-08-09 02:25] Sn0rt commented on #967
thanks, I will try to create HA cluster by to set availabilityzone again

[2019-08-09 02:28] Sn0rt commented on #980
this is it.

[2019-08-09 02:28] #980 closed

[2019-08-09 05:50] Sn0rt commented on #931
I finished a POC

1: create a cluster

[code]

2: create machine deployment

[code]

3: create the IAM permission

create a policy, there is assign permission to the node.

[code]

4:  attache the permission policy of AWS-ENI-CNI to `nodes.cluster-api-provider-aws.sigs.k8s.io` role, which is set to work node

`guohao@buffer ~ $ aws iam   list-attached-role-policies --role-name nodes.cluster-api-pr

[2019-08-09 09:29] Sn0rt opened #987 "meaning kubeconfig name: rename the kubeconfig to <CLUSTER>-kubeconfig"
/kind feature

can we consider to rename the kubeconfig as <CLUSTER>-kubeconfig ?

[code]

[2019-08-09 12:17] randomvariable commented on #983
/lifecycle active

[2019-08-09 12:53] vincepri commented on #987
@Sn0rt Which kubeconfig are you referring to in this issue? It's not clear to me what's being suggested here, there seems to be already a kubeconfig flag in the command?

[2019-08-09 14:13] liztio commented on #981
![image](https://user-images.githubusercontent.com/33235082/62785274-54a91400-ba8e-11e9-98fb-25b386278d5c.png)

[2019-08-09 15:27] liztio commented on #981
![image](https://user-images.githubusercontent.com/33235082/62790228-a3f44200-ba98-11e9-86a6-9fab6cc02b2e.png)

[2019-08-09 15:49] chuckha opened #989 "Convert project to kubebuilder v2"
/kind feature

**Describe the solution you'd like**
A tracking issue for all the tasks needed to convert this to a kubebuilder v2 project to be in line with the other providers.

- [ ] #970 Convert makefile to be more kubebuilder-like
- [ ] #968 Convert conifg/ to be more kubebuilder-like
- [ ] #1004 Move cmd/manager/main.go to the top level
- [ ] #1005 Move api to expected place for kubebuilder g

[2019-08-09 15:50] chuckha commented on #989
/assign
/lifecycle active

[2019-08-09 15:50] chuckha commented on #989
I'm going to see how much work is involved here and update the issues accordingly

[2019-08-09 15:55] randomvariable opened #990 "logs for kubeadm cloud-init module"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Have a failed kubeadm join on a node

**What did you expect to happen:**
Expect to see kubeadm output in `/var/log/cloud-init-output.log`

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
The module doesn't capture output at the

[2019-08-09 17:56] vivgoyal commented on #943
Sure. I dont have a repro right now. If it happens again, I would go ahead and create one but for now this should be good.

[2019-08-09 17:56] ncdc commented on #943
Fixed in #955
/close

[2019-08-09 17:56] #943 closed

[2019-08-09 18:02] ncdc commented on #836
Fixed in v0.3.7
/close

[2019-08-09 18:02] #836 closed

[2019-08-09 21:10] timothysc opened #993 "Remove local image builder"
/kind cleanup
Once https://github.com/kubernetes-sigs/image-builder/issues/11 is done we should remove the local builder here to reduce confusion.

/assign @codenrhoden
/cc @detiber

[2019-08-11 03:47] Sn0rt commented on #987
ok, got it. If the default name of kubeconfig is <CLUSTERNAME>-kubeconfig will be better, what do you think ?

[2019-08-11 03:47] #987 closed

[2019-08-12 03:26] johnharris85 opened #998 "Make fails when sh is not bash"
/kind bug

**What steps did you take and what happened:**
Ran `make docker-build REGISTRY="my-registry"`. Got an error:

[code]

**What did you expect to happen:**
Successful docker image build

**Anything else you would like to add:**
Some googling around and apparently Make uses `sh` by default. If this isn't `bash` then the `[[` syntax is invalid and fails. Maybe we should set `SHELL := /bin/ba

[2019-08-12 03:49] johnharris85 opened #1000 "Change ELB Healthcheck to SSL to avoid APIServer log TLS handshake spamming"
/kind feature

**Describe the solution you'd like**
When the healthcheck protocol is TCP the APIServer logs are
constantly spammed with Handshake EOF errors.
[code]

**Anything else you would like to add:**
This doesn't cause any degradation in functionality, it just makes the APIServer logs really noisy and harder to find things when debugging. Setting the healthcheck target to `SSL:6443` rather

[2019-08-12 13:04] liztio commented on #981
`aws-provide…┊ I0812 13:03:43.068069       1 control_plane_init_locker.go:81] [machine-actuator] "level"=0 "msg"="waiting on on another machine to initialize" "cluster-name"="ponyville" "configmap-name"="009cd091-bd01-11e9-a06a-0242ac110002-controlplane" "machine-name"="ponyville-controlplane-2" "namespace"="equestria" "init-machine"="ponyville-controlplane-0"`

[2019-08-12 14:19] detiber commented on #772
/remove-lifecycle stale

[2019-08-12 14:47] #1000 closed

[2019-08-12 17:43] detiber commented on #944
/assign @dlipovetsky
/milestone v0.4
/priority important-soon

[2019-08-12 17:45] detiber commented on #956
/priority important-longterm
/help

[2019-08-12 17:45] detiber commented on #956
/milestone Next

[2019-08-12 17:46] vincepri commented on #954
@sb1975 The master branch is currently broken and not ready for consumption, can you retry using the `release-0.3` branch or using the latest [release](https://github.com/kubernetes-sigs/cluster-api-provider-aws/releases)?

[2019-08-12 17:46] vincepri commented on #954
/priority awaiting-more-evidence

[2019-08-12 17:47] detiber commented on #959
/priority important-longterm
/milestone Next

[2019-08-12 17:47] vincepri commented on #959
/help

[2019-08-12 17:47] detiber commented on #962
/milestone Next

[2019-08-12 17:49] detiber commented on #968
/assign @chuckha
/milestone v0.4
/lifecycle active

[2019-08-12 17:50] chuckha commented on #970
/priority longterm-important

[2019-08-12 17:50] chuckha commented on #970
/milestone v0.4

[2019-08-12 17:50] chuckha commented on #970
/priority important-longterm

[2019-08-12 17:50] detiber commented on #969
/priority important-soon
/milestone v0.4

[2019-08-12 17:52] detiber commented on #972
/priority important-longterm
/milestone Next

[2019-08-12 17:54] detiber commented on #986
/priority important-soon
/milestone v0.4

[2019-08-12 17:55] detiber commented on #993
/priority important-longterm

[2019-08-12 17:57] detiber commented on #967
@Sn0rt are you still running into issues with this?

[2019-08-12 18:26] dlipovetsky commented on #873
Discussed at the 08/12/19 meeting. There are two ways to go here:
(a) Allow internal ELB when CAPA deploys to an [existing VPC](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/getting-started.md#using-an-existing-vpc).
(b) Allow internal ELB when CAPA creates the VPC.

In either case, the user must ensure that the CAPA controllers can reach the workload cluster. If the

[2019-08-12 18:29] dlipovetsky commented on #873
I don't think anyone objected to having to change the CAPA API to support an ELB type. But just in case anyone is wondering:

Supporting (b) requires changing the CAPA API.

Today, CAPA creates the ELB whether or not the user specifies an existing VPC. However, if CAPA can delegate ELB creation to the user in the existing VPC case, then it should be possible to support (a) without changing the CAP

[2019-08-12 18:55] vincepri commented on #873
Adding a new filed shouldn't be an issue, especially for v1alpha2.

[2019-08-13 02:43] Sn0rt commented on #967
no, this issues is walkaround.

I create the subnet manually and configure the route table correctly.

I think the subnet create by CAPA is a better solution.

I should close this issues, what are you thinking?

[2019-08-13 02:45] Sn0rt commented on #967
maybe， the number of Availability Zones should be in accordance with the 2f+1 principle

[2019-08-13 12:36] chuckha opened #1004 "Move main.go to top level and fix up bazel/make issues"
/kind feature

**Describe the solution you'd like**
After #994 merges there are still a few more things to do.

Move cmd/manager/main.go to the top level of the project.

This will allow kubebuidler to properly modify main.go automatically when adding new api groups as well as web hooks and things like that.

This also requires fixing some bazel and probably some make as well.

/priority important

[2019-08-13 12:58] chuckha opened #1005 "move pkg/apis/infrastructure to /api"
/kind feature

**Describe the solution you'd like**
The `pkg` directory goes away in kubebuilderv2. If we want code generation via kubebuilder to work then we should move pkg/apis/infrastructure/v1alpha2 out to /api/v1alpha2.

[2019-08-13 18:33] rbankston opened #1007 "Enhance the generate-yaml.sh script"
/kind feature

**Describe the solution you'd like**
When using the generate-yaml.sh script I'd like the output directory to match the cluster name so I could generate new clusters using the script without having to move or delete the previous running of that script as long as the $CLUSTER_NAME variable had been changed

**Anything else you would like to add:**

[code]

to:

[code]

**Environment:*

[2019-08-13 20:17] aaroniscode commented on #791
I have not been able to reproduce this and have created/deleted a good number of clusters.

[2019-08-13 20:29] detiber commented on #791
Yay, thank you for attempting to reproduce the issue. I'm going to go ahead and close this issue then :)

/close

[2019-08-13 20:29] #791 closed

[2019-08-13 20:35] aaroniscode opened #1008 "service of type LoadBalancer stuck in pending, missing tag on subnets"
/kind bug

**What steps did you take and what happened:**
deployed CAPA v0.3.7 succesfully
`kubectl run test1 --image=nginx`
`kubectl expose deploy test1 --port=80 --type=LoadBalancer`

[code]

**What did you expect to happen:**
The ELB to be created by the `LoadBalancer` service type.

**Anything else you would like to add:**
Manually adding `kubernetes.io/cluster/<name>` tag with value `owned` t

[2019-08-13 20:36] detiber commented on #1008
/priority important-soon
/milestone 0.3.x

[2019-08-13 20:37] detiber commented on #1008
/assign
/lifecycle active

[2019-08-13 21:35] vincepri opened #1012 "[0.3] Add unit test for missing instanceID on delete"
**Describe the solution you'd like**
We should add a unit test for https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/984, which guards against missing InstanceID when we're in the deletion process.

The PR should be against the `release-0.3` branch.

/kind cleanup
/good-first-issue
/help

[2019-08-14 00:21] dlipovetsky opened #1013 "Release artifact clusterawsadm reports a missing or incorrect version"
/kind bug

**What steps did you take and what happened:**
In v0.3.7, clusterawsadm reports no version:
[code]

In v0.3.6, it reports version v0.3.5:
[code]

In v0.3.4, it reports the right version! :smile:
[code]

**What did you expect to happen:**
`clustersawsadm version` should report the release version

**Anything else you would like to add:**

**Environment:**

- Cluster-api-provider-aws vers

[2019-08-14 00:25] dlipovetsky commented on #1013
Credit to @agrahamlincoln for finding this. Thanks!

[2019-08-14 13:10] detiber commented on #1013
/priority important-soon
/milestone 0.3.x

[2019-08-14 14:45] chuckha opened #1014 "Define the image building process + kustomize"
/kind feature

**Describe the solution you'd like**
When using kubebuilderv2 the default is to modify the patch for usage during a `make docker-build`. We should consider if this is the best option or if there is an alternative approach we prefer

cc @detiber

/priority important-longterm

[2019-08-14 14:47] chuckha opened #1015 "Figure out what to do with bazel"
/kind feature

**Describe the solution you'd like**
It feels like we are moving away from bazel for many things. We no longer need to generate YAML like we used to and the go toolchain seems to be satisfactory for other cluster-* providers.

Should we remove all of bazel? some of bazel?

/priority important-longterm
/milestone Next

[2019-08-14 14:48] chuckha commented on #1015
We have also defined kustomize rules in bazel as well as image building which we should absolutely reduce to one way to do it.

[2019-08-14 14:53] chuckha opened #1016 "Rename `controller-manager` in the config/ directory"
/kind bug

**What steps did you take and what happened:**
kubebuilder users `controller-manager` as the default name but we can name it something else now. Something more relevant to a Cluster API Infrastructure Provider controller manager.

This will collide with any other default kubebuilder project running in the same namespace unless we change it. That's not a huge problem since the NS is pret

[2019-08-14 15:23] chuckha commented on #968
/close

Fixed by #989

[2019-08-14 15:23] #968 closed

[2019-08-14 15:24] chuckha commented on #968
oops, I meant #994

[2019-08-14 15:24] chuckha commented on #1004
Fixed with #994

[2019-08-14 15:24] chuckha commented on #1004
/close

[2019-08-14 15:24] #1004 closed

[2019-08-14 15:24] chuckha commented on #1005
fixed by #994
/close

[2019-08-14 15:25] #1005 closed

[2019-08-14 16:59] dlipovetsky commented on #986
I haven't had a chance to repro, but will report back as soon as I do

[2019-08-14 17:20] randomvariable commented on #1015
Think we need to be all in on Bazel so we get the full benefits of caching, or not use it at all.

[2019-08-14 17:21] vincepri commented on #1015
We should remove it as much as we can. It's useful for things like aligning on CI tooling versions (like golangci-lint). If we can get rid of that as well, we can remove all of it.

[2019-08-14 17:24] chuckha commented on #1015
@randomvariable is there some centralized k8s cache we can use or is this bring your own cache sorta deal?

[2019-08-14 17:35] randomvariable commented on #1015
@chuckha There's a centralised k8s cache for PR tests, at least during the v1alpha1 time, it would have reduced our build times from 10 mins to 2mins with the integration tests.

I'm not sure if caches actually work well over the WAN, depending on how Bazel chunks cache objects - large numbers of small objects could possibly take longer to download than compile locally.

There are some areas that

[2019-08-14 21:01] amy opened #1018 "Generate examples for v1alpha2"
We need to be able to generate example clusters (to also include into release artifacts for each release). From v1alpha1 to v1alpha2, in v1alpha1 each provider vendored Cluster API's YAML and built on top of it. For v1alpha2 each provider is responsible for its own yaml because it does not vendor cluster-api.

Related: Examples generation scripts were removed here https://github.com/kubernetes-sig

[2019-08-14 21:03] amy commented on #1018
/kind feature
/priority important-longterm

[2019-08-14 21:11] timothysc commented on #1015
what's the overall benefit that we get here?  If it's just caching I think we can rely on moore's law, and the code base is really not that large in comparison to k/k.  Which I can compile form 0 in under 2 minutes on my machine now a day.

[2019-08-14 21:12] vincepri commented on #1015
I'd also add that we've seen decreased build time switching to Go Modules (which also removed Bazel). If there was a benefit, it seems we're definitely past it 🙂

[2019-08-14 22:26] dennisme commented on #1012
/assign

[2019-08-14 22:28] dlipovetsky commented on #392
Per the docs linked, I want to note that while the default limit is 5 security groups per network interface, the limit can be increased on request, though there's no guarantee it would be.

End users should not have to request limit increases just to use CAPA's default security group configuration. But can end users be asked to request limit increases to be able to use CAP with custom security gro

[2019-08-14 22:35] dlipovetsky commented on #392
Another user story: Prometheus is a popular solution for monitoring. The Node Exporter is a popular way of collecting host-level metrics for Prometheus. Frequently, Prometheus "scrapes" (queries) Node Exporter endpoints. One Node Exporter runs on every host, and it runs in the host's network namespace. Therefore Node Exporter serves metrics on the host's IP, on some unprivileged port (typically 91

[2019-08-15 14:21] xrmzju opened #1019 "Status being overwritten in some cases prior to patching status"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
related issue: https://github.com/kubernetes-sigs/cluster-api/issues/1259

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes v

[2019-08-15 14:59] detiber commented on #1015
So, some of the reasons that drove us to bazel originally:
- Alternating PRs updating the `go fmt`ing of code based on client go versions being different between contributors.
- Different versions of client tooling (kustomize, kubectl, etc) causing different behaviors and hard to replicate issues between contributors
- Differences between contributor local environments causing issues, such as diff

[2019-08-15 17:45] dlipovetsky commented on #944
/lifecycle active

[2019-08-15 21:36] vincepri commented on #986
/priority awaiting-more-evidence

[2019-08-15 22:00] DheerajSShetty opened #1022 "'Failed to run instance' error should not include the instance object"
/kind feature

**Describe the solution you'd like**
When there is a Warning event recorded by CAPA, they usually wrap errors from layers below. They may have some object structure embedded in those messages which may not be necessary

**Anything else you would like to add:**
Example of a Warning Event

`Failed to create instance: failed to run instance: &{  r4.8xlarge subnet-00813b56bfdcb2d64 ami-

[2019-08-16 00:54] aaroniscode commented on #1008
Tested PR #1010 and this adds the tags to the private subnet and the controller manager still outputs the same error. Looks like the tag needs to be on the public subnet.

[2019-08-16 01:32] aaroniscode commented on #1008
did some testing and I believe we want the tag on both the private and public subnet. The default service will create an Internet facing ELB which requires the tag on the public subnet.

But if you use the annotation `service.beta.kubernetes.io/aws-load-balancer-internal: "true"` it will create an internal ELB and can use the private subnet.

[2019-08-16 05:46] Sn0rt commented on #931
hi, are you still work this feature?

[2019-08-16 05:47] Sn0rt commented on #930
/assign

[2019-08-16 05:49] Sn0rt commented on #931
/assign

[2019-08-16 14:50] chuckha commented on #1015
for certain tools we can leverage the tools.go + go.mod + // +build tags to enforce versions of dependencies, but that would require everything to go through a makefile (or somewhere that would enforce *which* tool to use).

An alternative to the versions problem is to have a script that prints out the versions of your current environment. Basically a shell script that says "are you using the righ

[2019-08-16 15:31] randomvariable commented on #983
/remove-lifecycle active
/close

We intend to fix this as part of v1alpha2, so closing in favour of https://github.com/kubernetes-sigs/image-builder/issues/17

[2019-08-16 15:31] #983 closed

[2019-08-16 17:04] dlipovetsky commented on #944
@sb1975 I forgot to tag you on the PR. Let me know if you think the doc needs more work. If it's good, we can close this issue. Thanks!

[2019-08-16 17:41] vincepri commented on #1015
I'm fine picking the right tool for the right job. Bazel has been working fine in CAPI for linting purposes, so I'm +1 keeping just for that

[2019-08-16 17:45] vincepri commented on #931
Folks, just as a reminder to use `/lifecycle active` if you're actively working on something 😃

[2019-08-16 19:55] chuckha opened #1026 "Port old controllers to the new controller"
/kind feature

**Describe the solution you'd like**
Now that we're moving to kubebuilder v2 we have the new-style controllers, we ned to port the old reconcile over to the new reconcile.

**Anything else you would like to add:**

**Environment:**

/milestone v0.4
/priority critical-urgent

Should probably do this one at a time as this is a major overhaul

[2019-08-16 20:16] chuckha commented on #1026
/assign

[2019-08-16 21:54] sethp-nr commented on #931
@Sn0rt It's working for us as-is, so we haven't touched it in quite a while. Feel free to pick this ticket up!

[2019-08-17 00:27] chuckha commented on #1026
/lifecycle active

[2019-08-17 16:22] aaroniscode commented on #959
Going to take a stab at this. I'm pretty sure the `/` commands won't work, but:
/assign
/lifecycle-active

[2019-08-18 10:00] Sn0rt commented on #931
/lifecycle active

[2019-08-19 08:04] Sn0rt commented on #931
@sethp-nr

We should consider a cluster-level flag to indicate the current cluster's CNI solution.

The max-pod parameter of `amazon-vpc-cni-k8s` depends on the type of instance which can be found  [here](https://github.com/aws/amazon-vpc-cni-k8s/blob/master/pkg/awsutils/vpc_ip_resource_limit.go).

such as I consider set a cluster-level label as follow.

[code]

then the `CAPA controller` can set

[2019-08-19 14:16] rudoi opened #1032 "Status.Ready is never set on AWSMachines"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
- spun up CAPI/CAPA/CABPK
- applied some YAML for controlplane
- infrastructure is provisioned, everything seems cool
- applied some YAML for a worker node

The node doesn't join because InfrastructureReady is not set on the controlplane Machine. Did some digging and found that CAPA neve

[2019-08-19 14:18] rudoi commented on #1032
/assign

[2019-08-19 14:18] rudoi commented on #1032
/lifecycle active

[2019-08-19 14:36] vincepri commented on #1032
/milestone v0.4

[2019-08-19 14:36] vincepri commented on #1032
/priority critical-urgent

[2019-08-19 15:43] rudoi opened #1035 "Unit testing for AWSMachine controller"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
We should have some more comprehensive unit testing around AWSMachine reconciliation, perhaps using mocks and stuff.

We should test AWSMachines as they move through phases.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**

[2019-08-19 15:44] vincepri commented on #1035
/priority important-soon
/milestone v0.4

[2019-08-19 15:47] #1032 closed

[2019-08-19 17:05] #1026 closed

[2019-08-19 17:07] ncdc commented on #1022
Fixed by #1024
/close

[2019-08-19 17:07] #1022 closed

[2019-08-19 17:07] ncdc opened #1037 "Don't requeue AWSCluster if it's missing Cluster ownerReference"
/kind bug

**What steps did you take and what happened:**
When reconciling an AWSCluster instance, if it does not have an ownerReference to a Cluster, we requeue it:

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/e66ab0471d8119bec71b644d882853e168f214bf/pkg/controller/awscluster/awscluster_controller.go#L130-L133

**What did you expect to happen:**
We should not need to requeue.

[2019-08-19 19:01] ncdc commented on #787
@Lokicity is this still an issue for you?

[2019-08-19 19:01] ncdc commented on #851
Fixed by #916
/close

[2019-08-19 19:01] #851 closed

[2019-08-19 19:06] ncdc commented on #884
@rudoi are you working on this? If not, I can take it on. LMK!

[2019-08-19 19:07] ncdc commented on #890
Fixed by #916
/close

[2019-08-19 19:07] #890 closed

[2019-08-19 20:37] Lokicity commented on #787
@ncdc  This issue has been fixed. Closing the ticket. Thanks

[2019-08-19 20:37] #787 closed

[2019-08-19 21:09] #959 closed

[2019-08-19 22:33] #1008 closed

[2019-08-19 23:08] williamsandrew opened #1041 "No events are generated with bad AWS credentials"
/kind feature

**Describe the solution you'd like**

Currently if you provide CAPA with credentials that are valid but lack the proper IAM permissions, an event will be generated for most common cases. For example, if a user cannot create a VPC you will see the following event:

[code]

However, if you provide CAPA with credentials that are invalid, no events will be generated. At this point you c

[2019-08-19 23:40] vincepri commented on #1041
/assign @detiber
/milestone 0.3.x
/priority important-soon

[2019-08-20 14:12] rudoi commented on #884
@ncdc no I haven't done any work on this.

/unassign

thanks!

[2019-08-20 14:20] ncdc commented on #884
/assign
/lifecycle active

[2019-08-20 16:16] #884 closed

[2019-08-20 18:23] ncdc commented on #889
/assign
/lifecycle active
/help cancel

[2019-08-20 18:31] ncdc commented on #889
A few things:

If we make a change to the ELB naming convention, clusters created prior to the change will end up creating a 2nd ELB using the new naming convention, unless we come up with an upgrade strategy.

The current convention appends `-apiserver`, which takes up 10 of our 32 characters. Do we want to preserve this?

Thoughts?