[2019-08-20 18:39] detiber commented on #889
I'm good with removing the `-apiserver` suffix, for a migration strategy, we could keep a fallback lookup based on the old naming convention.

[2019-08-20 18:41] ncdc commented on #889
+1 to fallback

[2019-08-20 19:36] ncdc commented on #889
I'm worried about the naming convention & possible collisions if we try to combine the cluster name with a truncated hash.

What if we did this? Generate a UUID, have the AWSCluster controller store it as `awscluster.spec.elbName`, and use that value for the ELB name. We would continue to use tags to associate the ELB with a cluster. I know the names won't be pretty, but they'd be unique.

[2019-08-20 19:46] chuckha commented on #889
That sounds good. I'd want unique over nice names. Plus we can add the `Name=nice-name` tag and get a better looking AWS Console.

[2019-08-20 19:48] detiber commented on #889
Doesn't the elb name affect the dns name provided? If so, it may be worth generating something nice'ish rather than a pure UUID.

[2019-08-20 19:51] ncdc commented on #889
It does, but I doubt we can generate truly unique names unless it's a UUID. We _could_ use the first 16 characters of the cluster name (the "nice" half) followed by 16 characters that would be the md5 hash of the full cluster name, truncated to the first 64 bits of the hash. I imagine the risk of collision is low, but it's still possible.

[2019-08-20 21:27] #1037 closed

[2019-08-21 11:32] Sn0rt opened #1049 ""error"="no matches for kind \"AWSMachine\" in version \"infrastructure.cluster.x-k8s.io/v1alpha2\"" "controller"="AWSMachine""
/kind bug

I want to improve the CAPA controller.

firstly, I have tried to build a self controller by `make docker-build REGISTRY="wangguohao"` command line.

secondly, I pushed the image to `docker.io/wangguohao/cluster-api-aws-controller:dev` and lastly, I modified the `provider-components.yaml ` file,  to update the image source of CAPA controller from `us.gcr.io/k8s-artifacts-prod/cluster-api

[2019-08-21 11:43] Sn0rt commented on #1049
this look like that the controller need v1alpha2  but actual is v1alpha1

[2019-08-21 13:00] detiber commented on #1049
@Sn0rt The instructions you are following are for the v1alpha1/v0.3.x releases, We don't yet have documentation around standing up the v1alpha2/v0.4.x version yet.

I'm currently using the [Tilt](tilt.dev) based environment here: https://github.com/detiber/capi-dev for testing.

We are planning on updating the docs as we continue to work out the deployment challenges of v1alpha2 vs v1alpha1 and as

[2019-08-21 13:01] detiber commented on #1049
If you want to keep developing/testing against v1alpha1 you can do so from the `release-0.3` branch as well.

[2019-08-21 15:24] rudoi opened #1050 "Can't delete AWSMachine if owner Machine has already been deleted"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Create MachineDeployment
Delete MachineDeployment

[code]

forever and ever

**What did you expect to happen:**
AWSMachine deletes properly

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
This is because the first thing the AWS

[2019-08-21 15:24] rudoi commented on #1050
/assign
/lifecycle active

[2019-08-21 15:26] detiber commented on #1050
/priority important-soon
/milestone v0.4

[2019-08-21 15:26] rudoi commented on #1050
This may be a CAPI issue because I thought CAPI was supposed to not delete Machine finalizer until object referenced in infraRef was deleted. Will confirm.

[2019-08-21 15:53] rudoi commented on #1050
Confirmed CAPI issue: https://github.com/kubernetes-sigs/cluster-api/issues/1297

/close

[2019-08-21 15:53] #1050 closed

[2019-08-21 18:59] ncdc opened #1051 "Surface all 401/403 errors (unauthorized, invalid client id, etc) as events"
/kind feature

**Describe the solution you'd like**
If the user has any combination of invalid credentials, expired credentials, or credentials that don't have the appropriate IAM permissions, we should surface this information to the user so they are aware.

We could define a single event type such as `CredentialsError`, or we could have individual ones if that makes more sense. The event should

[2019-08-21 19:18] williamsandrew commented on #1041
Closing in lieu of https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1051 which has more details.

[2019-08-21 19:18] #1041 closed

[2019-08-21 19:30] liztio opened #1052 "[v1alpha1] Machines with replaced instances do not re-join the cluster"
/kind bug

**What steps did you take and what happened:**
1. Create a v1a1 CAPA management cluster
2. Add a workload cluster
3. Apply an HA cluster (I used the one from `cmd/clusterctl/examples/aws/out/controlplane-machines-ha`)
4. Wait for the cluster to be ready
5. Delete one of the instances for the cluster in the AWS console
6. Wait for the instance to be replaced (The reconcile loop runs ever

[2019-08-21 19:31] ncdc commented on #1052
We actually need to mark the Machine as permanently failed, rather than recreating a new EC2 instance.

[2019-08-21 19:36] ncdc commented on #1052
Right @detiber? xref https://github.com/kubernetes-sigs/cluster-api/issues/1205

[2019-08-21 19:37] detiber commented on #1052
@ncdc for v1alpha2, yes. I suspect there is some wiggle room for how we handle it for v1alpha1.

[2019-08-21 19:39] ncdc commented on #1052
For alpha1, do you want to regen a bootstrap token & let the replacement instance join?

[2019-08-21 19:41] detiber commented on #1052
Considering the additional implications if we do this on a Machine that is part of the control plane, I would likely say it is safer to make it a hard failure similar to v1alpha2, otherwise we would need to differentiate control plane vs worker node.

[2019-08-21 20:02] #1018 closed

[2019-08-21 20:50] liztio opened #1054 "[v1alpha1] non-control plane nodes can be selected for `kubeadm init`"
/kind bug

**What steps did you take and what happened:**
When the machine controller selects a machine to run `kubeadm init` on, it doesn't make sure that it's selecting a control-plane node. If it selects a worker node, creation will block indefinitely.

**What did you expect to happen:**
the machine controller should only select a control-plane node for the init lock.

**Anything else you would

[2019-08-21 20:52] ncdc commented on #1054
/priority critical-urgent
/milestone v0.3.x

[2019-08-21 20:52] ncdc commented on #1054
/milestone 0.3.x

[2019-08-21 21:13] vincepri commented on #1054
/lifecycle active
/assign

[2019-08-21 21:19] dlipovetsky opened #1055 "Ubuntu 18.04 v1.14.4 AMI filesystem has kubelet cert/key"
/kind bug

**What steps did you take and what happened:**
I [deployed metrics-server](https://github.com/kubernetes-incubator/metrics-server#deployment) on an a CAPA cluster. The metrics-server get metrics from kubelets because their server cert was not valid for their respective host addresses:
[code]

After opening an ssh session to the host, I noticed that the kubelet cert was much older than t

[2019-08-21 21:28] dlipovetsky commented on #1055
I can't exhaustively check all AMIs, but I can confirm this issue doesn't affect the Ubuntu 18.04 v1.15.1 AMI.
[code]

[2019-08-21 22:24] vincepri commented on #1054
/close

[2019-08-21 22:24] #1054 closed

[2019-08-22 02:52] Sn0rt commented on #1049
thx a lot

[2019-08-22 02:52] #1049 closed

[2019-08-22 05:34] dinomiteX opened #1057 "add opportunity to modify listeners for ELB"
/kind feature

**Describe the solution you'd like**
I would like to have the opportunity to add listeners to the ELB of the controlpanel.
At the moment its only one listener with port 6443, and this is hardcoded at [https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/87331ba1900892bb04be5ef58ba993ee78ae8be6/pkg/cloud/services/elb/loadbalancer.go#L138](url)

and the reconciling only us

[2019-08-22 13:26] detiber commented on #1057
You are correct. This gets a bit more complicated in v1alpha2, though with the separate bootstrap provider. I'm wondering if we need to add an optional field to the `Cluster` object to allow for overriding the API port in a single location that can be referenced from the infrastructure provider cluster, infrastructure provider machine, and the bootstrapping provider?

@vincepri @ncdc thoughts?

[2019-08-22 14:42] vincepri commented on #1057
Would it make sense to add the port field under `Cluster.Spec.ClusterNetwork`? I'd fine adding the field (without the related logic) for now and then address that after v1alpha2 is released.

[2019-08-22 14:52] detiber commented on #1057
Seems as good a place as any to me until we have proper control plane management.

[2019-08-22 19:14] detiber opened #1059 "Deleting Cluster results in failed AWSMachine deletion"
/kind bug

**What steps did you take and what happened:**
- created a single control plane cluster
- attempted to delete the cluster with `kubectl delete cluster`
- AWSMachine controller fails to delete with the following error
[code]
- This further blocks deletion of the AWSCluster because of dependency issues.

**What did you expect to happen:**
Cluster and AWSMachine deletion to be successful

[2019-08-22 19:36] vincepri commented on #1059
I guess this is because the Machine has been deleted and we always try to fetch it?

[2019-08-23 05:07] dinomiteX commented on #1057
Sounds good for me, thanks

[2019-08-23 18:01] aaroniscode opened #1066 "[0.3] Using unmanaged VPC with subnets in different AZ's, ELB for API Server is not configured correctly"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Created a terraform module to represent the required configuration for "unmanaged" VPC to use with CAPA. I didn't specify the AZ for the `private` and `public` subnets and they were created in different AZ's.

The ELB `<clustername>-apiserver` was attached to only one availability zone a

[2019-08-23 18:23] detiber commented on #1059
This seems to be resolved with the latest changes to cluster-api for v1alpha2
/close

[2019-08-23 18:23] #1059 closed

[2019-08-25 02:26] #1019 closed

[2019-08-26 13:33] detiber opened #1068 "Losing AWSCluster events on deletion"
/kind bug

**What steps did you take and what happened:**
- Delete an AWSCluster
- Last deletion related event seen is:
[code]

**What did you expect to happen:**
Expected to see additional deletion related events for NATGateway, Internet Gateway, Subnets, VPC, etc

**Environment:**

- Cluster-api-provider-aws version: latest from master
- Kubernetes version: (use `kubectl version`): kind v1.15.1

[2019-08-26 15:21] ncdc opened #1069 "Default wait backoff is waaaaaaay too long"
/kind bug

**What steps did you take and what happened:**
This is our default wait backoff:
[code]

Taking into account jitter, if I'm doing the math correctly, we could end up sleeping over 90 billion years before we error out (2 * 2 * (1 - 1.5^100) / (1 - 1.5) seconds).

**What did you expect to happen:**
We should have a reasonable maximum wait, maybe somewhere between roughly 15 and 60 minutes

[2019-08-26 18:44] joonas opened #1074 "Make Manager SyncPeriod configurable via a flag"
/kind feature

**Describe the solution you'd like**

It should be possible to configure the [SyncPeriod](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/manager#Options.SyncPeriod) (how often watched resources are re-queued to be reconciled) that’s used to configure the [Manager](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/12ab064cd2d108ee81e69808dfd23103fbd5dbe6/main.go#

[2019-08-27 20:03] #1069 closed, assigned to nobody

[2019-08-29 01:54] detiber commented on #1074
/priority important-soon

[2019-08-29 01:55] detiber commented on #1074
/help

[2019-08-29 05:21] vivgoyal opened #1084 "Machine deletions fails if there is no ELB"
/kind bug

**What steps did you take and what happened:**
I deleted AWS resources manually and then initiated machine and cluster deletion from CAPA.
As a result of this what I saw is delete machine deployments failing continuously because of:
[code]

**What did you expect to happen:**
What I expected was that deletions would succeed since the resources are NOT FOUND.

**Anything else you would li

[2019-08-29 15:12] vincepri commented on #1074
/good-first-issue

[2019-08-29 15:32] joonas commented on #1052
Given this is targeted at v1alpha1, I believe the milestone should be updated to [v0.3.x (v1alpha1)](https://github.com/kubernetes-sigs/cluster-api-provider-aws/milestone/10) instead of [v0.4.0 (v1alpha2)](https://github.com/kubernetes-sigs/cluster-api-provider-aws/milestone/9)

[2019-08-29 16:28] vincepri commented on #1084
How would we connect to the cluster without an elb? 🤔

[2019-08-29 18:38] vivgoyal commented on #1084
@vincepri Should we reconcile elb on "NotFound" and then try deletion?
Also what more worrying is the part I mentioned in "Anything else you would like to add".

[2019-08-30 12:38] detiber commented on #1084
/priority important-soon

[2019-08-30 13:35] #1074 closed

[2019-08-30 15:18] chuckha opened #1092 "NPE if MachineVersion is not set."
/kind bug

**What steps did you take and what happened:**
I tried to create a machine and got an NPE because I forgot to set the Machine version.

**What did you expect to happen:**
I expected a default value

**Anything else you would like to add:**
This is the line throwing the NPE https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/89e8ab62a6ee0de8f6644ae44cb7f224fc202f38/pkg/cloud

[2019-08-30 15:18] chuckha commented on #1092
/priority longterm-imporatant
/milestone Next

[2019-08-30 15:20] ncdc commented on #1092
@chuckha please update the link to the source code line to a specific commit (you can press `y` in the browser and it will change from `master` to a commit) - thanks!

[2019-08-30 15:24] chuckha commented on #1092
yes, very good call. thx

[2019-08-30 15:33] chuckha opened #1093 "Inconsistent json fields"
/kind bug

**What steps did you take and what happened:**
I expected the same field to be represented by the same key:

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/89e8ab62a6ee0de8f6644ae44cb7f224fc202f38/api/v1alpha2/awscluster_types.go#L38

and

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/89e8ab62a6ee0de8f6644ae44cb7f224fc202f38/api/v1alpha2/awsmachine_t

[2019-08-30 15:33] chuckha commented on #1093
actually i suppose this is an api change

/milestone Next

[2019-08-30 15:33] chuckha commented on #1093
/priority important-longterm

[2019-08-30 15:36] liztio commented on #773
/remove-lifecycle active

got my hands full right now

[2019-08-30 15:39] vincepri commented on #1093
Let's fix it before release?

[2019-08-30 15:40] detiber commented on #1093
+1 to fixing before release

[2019-08-30 15:40] vincepri commented on #1093
/lifecycle active

[2019-08-30 15:51] #1093 closed

[2019-08-31 20:33] tahsinrahman commented on #1092
@chuckha @ncdc if you’re not working on this, can take this? Thanks!

[2019-09-03 13:34] chuckha commented on #1092
@tahsinrahman yes, absolutely

/assign @tahsinrahman

[2019-09-03 14:21] chris-cmsoft opened #1097 "Calico CNI settings not being setup correctly, cni setup hanging rest of setup"
/kind bug

**What steps did you take and what happened:**

* Download clustercl binary from v0.3.7
* Download example tar from v0.3.7
* untar
* `./aws/generate-yaml.sh`
* `clusterctl create cluster -v 3   --bootstrap-type kind --provider aws   -m ./aws/out/machines.yaml   -c ./aws/cluster.yaml   -p ./aws/out/provider-components.yaml`

[code]
* waited 15 minutes for node to start.
* Bastion into co

[2019-09-03 14:23] ncdc commented on #1097
@chris-cmsoft you need an `addons.yaml` file that has the Calico components in it, and you specify it using the `-a` flag to `clusterctl`.

[2019-09-03 14:24] chris-cmsoft commented on #1097
For some reason my terminal cut it off. Thanks for your time @ncdc

[2019-09-03 14:24] #1097 closed

[2019-09-03 14:25] ncdc commented on #1097
No worries! Our example is in https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/release-0.3/cmd/clusterctl/examples/aws/addons.yaml if that helps any.

[2019-09-03 14:30] chris-cmsoft commented on #1097
Thanks. I already had the addons generated and thought it was part of the command.
Good old up - up - Enter.
I have added `-a` and am rerunning. Thanks !

[2019-09-03 17:14] ncdc opened #1099 "`make release` needs to build clusterawsadm"
/kind bug

**What steps did you take and what happened:**
1. Run `make release`
1. No `clusterawsadm`

**What did you expect to happen:**
1. `clusterawsadm` for all ARCHes

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `

[2019-09-03 20:17] chuckha opened #1100 "Default Cluster Region?"
/kind bug

**What steps did you take and what happened:**
It would be great to default the AWScluster's Region to whatever the credentials are set to. I'm probably missing some context for why this isn't defaulted.

[2019-09-03 20:17] chuckha commented on #1100
/kind question

[2019-09-03 20:20] chuckha commented on #1092
/lifecycle active

[2019-09-03 20:43] chuckha opened #1101 "sshKeyName on awsmachine should adopt sshKeyName on awscluster"
/kind bug

The sshkeyname for cluster and machine should match because the sshkeyname used for the cluster is used on the bastion while the sshkeyname used for the machine is used on the actual instance. If they are different then you will need two keys to get onto an instance. One to ssh to the bastion and then one to ssh from the bastion to the instance.

Are we intentionally allowing this use c

[2019-09-04 01:15] detiber commented on #1101
I would suggest this defaulting path:
- If user set (on either AWSCluster or AWSMachine) honor it
- If not set on AWSMachine, and set on AWSCluster, use value from AWSCluster
- If not set on AWSMachine, and not set on AWSCluster, use default value from shared constant

[2019-09-04 01:16] detiber commented on #1100
I'm fine with this approach, but we'll need a way to detect that the region is actually set for the provided credentials, otherwise we'll likely get an error when attempting to create the session.

[2019-09-04 13:15] chuckha commented on #1092
The lifecycle active is for @tahsinrahman so that other people do not swoop in and take this issue away from them.

[2019-09-04 15:14] liztio commented on #1068
/assign

[2019-09-04 15:17] liztio commented on #1068
[code]

All these events are getting emitted by the code, but for some reason they never make it to the API

[2019-09-04 15:37] ncdc commented on #1068
Because we are repeatedly attempting to delete the security group. Presumably that's a bug. The `86s (x11 over 16m)` is the client-side event consolidation logic, which updates the existing event instead of creating multiple duplicates.

Is there any chance the AWSCluster is deleted, and the events are getting deleted too?

[2019-09-04 15:40] detiber commented on #1068
If that is the case they don't even appear during a live watch of events during the deletion process (before the patch removing the finalizer is submitted).

[2019-09-04 15:41] liztio commented on #1068
No, because I add a fake finalizer so the deletion can't succeed.

[2019-09-04 15:42] ncdc commented on #1068
The consolidation is technically from client-go. I don't believe there is any batching, but maybe there is.

We can run our manager process with `--v=8` (some high log level; I can never remember specifically which one emits the actual http requests) and see what it's doing re these missing events. We could also enable audit logging and/or up the apiserver log level to record requests & responses.

[2019-09-04 15:54] chuckha opened #1102 "Add APIVersion and Kind to Template references in Machinedeployment example"
/kind bug

The [MachineDeployment Config and InfrastructureRef are missing](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/e7cff682f95eb314d4e3c967c7b8de837a4cbd30/examples/machinedeployment/machinedeployment.yaml#L22-L25) `kind` and `apiVersion`. The `Get` that is used in cluster API requires those to be set:

https://github.com/kubernetes-sigs/cluster-api/blob/13ecbf0897cf6ecb8

[2019-09-04 15:55] chuckha commented on #1102
/milestone v0.4.x (v1alpha2)
/priority important-longterm

[2019-09-04 16:00] chuckha commented on #1102
/lifecycle active
/assign

[2019-09-04 16:01] liztio commented on #1068
Looking at the logs, I can see when the events are recorded, but they never get posted to the API server. The startup events do, so I can tell that my logging is working, but there's no http requests to `/events`

[2019-09-04 16:05] #1102 closed

[2019-09-04 16:21] vincepri commented on #1099
/lifecycle active

[2019-09-04 18:30] liztio commented on #1068
One of my working theories was conflicts due to resource version, but that isn't happening: the resourceversion being logged is the same as the object version

(plus, there's still no sign of HTTP requests)

[2019-09-04 18:33] ncdc commented on #1068
Events are separate objects - I think the only time you'd potentially see a conflict is if 2 patches for correlation updates somehow got in the way of each other.

[2019-09-04 18:34] liztio commented on #1068
yeah, so that's not it. I'm in the depths of controller manager right now, trying to figure out where the conditionals could be

[2019-09-04 19:54] tahsinrahman commented on #1092
In kubeadm bootstrapper does the following
- kubernetes version defined in `machine.Spec.Version`, not in kubeadm cluster config, uses the `machine.Spec.Version`
- Not defined in `machine.Spec.Version`, but defined in kubeadm cluster config, then it uses kubeadm cluster config
- Defined in both `machine.Spec.Version` and kubeadm cluster config, then it uses the kubeadm config
- Not defined anywher

[2019-09-04 19:58] ncdc commented on #1092
Worth pointing out: we only do an AMI lookup if you haven't specified an AMI to use in your AWSMachine spec.

[2019-09-04 20:08] tahsinrahman commented on #1092
IMO, both the versions should be consistent. If one take precedence over the other, the other field should be updated

[2019-09-05 15:35] liztio commented on #1068
I added some logging, and I've discovered some issues in the correlater: https://github.com/liztio/client-go/blob/logging/tools/record/event.go#L132-L136

All these events that aren't showing up have Skip: True. Now I just need to figure out why.

[2019-09-05 15:41] ncdc commented on #1068
EventSourceObjectSpamFilter?

[2019-09-05 15:44] liztio commented on #1068
yeah, I'm looking into the spam filter now. Maybe it's because startup emits too many events?

[2019-09-05 15:45] ncdc commented on #1068
Rate limiting is a possibility, yeah

[2019-09-05 15:46] liztio commented on #1068
That'd explain why I _sometimes_ see the events, it happens when I wait long enough after creation to start deletion

[2019-09-05 15:47] ncdc commented on #1068
[code]

[2019-09-05 15:50] detiber commented on #1068
:grimacing: I'm hoping that we can override that behavior.

[2019-09-05 15:59] detiber commented on #1068
We *might* be able to override the broadcaster created by controller-runtime here: https://github.com/kubernetes-sigs/controller-runtime/blob/67e28744a963c78a34108c3b52aadbc5e02f4384/pkg/internal/recorder/recorder.go somehow, It looks like we would need `NewBroadcasterWithCorrelatorOptions` instead of `NewBroadcaster` which is used here: https://github.com/kubernetes/client-go/blob/c597d117149bd72

[2019-09-05 17:57] ncdc opened #1105 "Ability to add user-defined tags to all CAPA-managed AWS resources"
/kind feature

**Describe the solution you'd like**
We already have the ability to add user-defined tags to EC2 instances. It would be nice to have a similar setting for AWSCluster that applies to all the other AWS resources CAPA creates and manages (VPC, security groups, etc).

[2019-09-06 12:30] chris-cmsoft opened #1106 "Cannot access workload cluster with admin config"
/kind bug

**What steps did you take and what happened:**

Applied a workload cluster which created correctly.
If I access the cluster from the control plane, the admin conf works perfectly.
If I copy the admin config to local:
[code]
If I read the kubeconfig from the secrets created for that cluster, I get the same error

Endpoint is correctly setup for LB

**What did you expect to happen:**

Exp

[2019-09-06 14:05] ncdc commented on #1106
What do you mean by "admin conf"?

Copy what to where? 😄

For this and the other (admin conf) attempts, could you please indicate how you were specifying the kubeconfig ($KUBECONFIG or --kubeconfig or ?), and could you please also paste snippets of the various kubeconfigs, making sure to redact sensitive information such as certificate data and URLs?

[2019-09-06 14:06] ncdc commented on #1105
/assign
/lifecycle active

[2019-09-06 14:29] ncdc commented on #1105
#1107 has the API change. Implementation to follow.

[2019-09-06 15:34] chris-cmsoft commented on #1106
Admin config as in The Kubernetes Config file located at /etc/kubernetes/admin.conf on the control plane for the Kubernetes Admin.

If I use it directly on the control-plane using either --kubeconfig , or copying it to `~/.kube`, changing the owner to the `ubuntu` user and setting `$KUBECONFIG`, it works perfectly.

If however I copy the kubeconfig to my local machine, using old-school copy, paste

[2019-09-06 15:40] chuckha commented on #716
/remove-lifecycle rotten

I'll look into these and see if they are still relevant.

[2019-09-06 15:41] chris-cmsoft commented on #1106
Issue had to do with my Router

[2019-09-06 15:41] #1106 closed

[2019-09-06 15:49] vincepri commented on #716
I think we solved this issue when we moved to Kubebuilder v2 and the new loggers

[2019-09-06 15:55] chuckha commented on #716
two were invalid one was still a valid unhandled/unlogged error, I opened a PR to fix the unhandled error.

[2019-09-06 15:55] chuckha commented on #716
/lifecycle active

[2019-09-06 15:56] #716 closed

[2019-09-06 16:58] liztio commented on #1068
It's not that easy (which I discovered after making a PR that did just that...)

https://github.com/kubernetes/client-go/blob/master/tools/record/events_cache.go#L429-L432

The spam filter is totally un-parameterised. We're going to have to get changes into client-go itself if we want to fix this.

[2019-09-06 16:59] liztio commented on #1068
Wait, nevermind, wrong func. Maybe this will still work...

[2019-09-06 17:05] liztio commented on #1068
I've solved this locally, but we'll need to get kubernetes-sigs/controller-runtime#587 through before we solve it in production. What kind of relationship do we have with them?

[2019-09-06 17:13] liztio commented on #1068
/remove-priority awaiting-more-evidence

[2019-09-06 17:13] liztio commented on #1068
/priority important-soon

[2019-09-06 20:39] liztio commented on #1068
[code]

here's the patch for when that PR is merged (in case I'm not around to apply it)

[2019-09-08 15:17] tahsinrahman commented on #886
/assign
/lifecycle active

[2019-09-08 15:29] tahsinrahman commented on #886
@vincepri i was able to get validating wehbook working!

I think we need to discuss about how to deploy cert-manager on the cluster.
- direct deploy them from cluster-api(clusterctl), so providers don't need to do anything
- copy the yamls in `config` directory
- use makefile to download cert-manager yamls and add to provider-components.yaml

[2019-09-08 23:50] vincepri commented on #886
That's awesome! There should be a certmanager folder under `config/`, so maybe we can put them there?

[2019-09-09 02:08] tahsinrahman commented on #886
kustomize then replaces all namespaces with `capa-system` and adds nameprefix `capa-` to certmanager yamls.

[2019-09-09 17:50] ncdc commented on #954
Closing due to age. Please reopen if you're still encountering issues.

/close

[2019-09-09 17:50] #954 closed

[2019-09-09 17:54] ncdc commented on #1100
Let's test encoding the credentials secret with a region + making AWSCluster.spec.region optional and see if it works.

[2019-09-09 19:24] liztio commented on #1068
[code]

If kubernetes-sigs/controller-runtime#591 gets merged instead

[2019-09-09 19:50] liztio commented on #773
/lifecycle active

[2019-09-10 00:46] arzarif commented on #873
@dlipovetsky - I've been following this ticket for the past couple of months. Appreciate the updates/summaries you've been providing!

I'm looking to leverage Cluster API with an existing VPC, however, our VPCs are typically configured without public subnets. Is the ability to accommodate case (a) (ie. user brings their own VPC and is responsible for ensuring connectivity) something that could be

[2019-09-10 12:35] tahsinrahman opened #1114 "`generate-examples` should build `clusterawsadm`, instead of searching for it in path"
/kind bug

**What steps did you take and what happened:**

I was trying to generate example yamls
[code]
I was getting the above error. After digging for some time, I found that I was using very old version of `clusterawsadm`

[code]

**Anything else you would like to add:**
`generate-examples` should build `clusterawsadm` binary each time and use that binary instead of searching for it in path

*

[2019-09-10 12:35] tahsinrahman commented on #1114
/assign
/lifecycle active

[2019-09-10 14:09] liztio commented on #773
Our solution is to add load-balancer deletion as part of cluster deletion.

[2019-09-10 14:10] ncdc commented on #773
/assin @liztio

[2019-09-10 14:10] ncdc commented on #773
/assign @liztio

[2019-09-10 15:44] #1114 closed

[2019-09-10 18:48] #917 closed

[2019-09-10 19:30] #1105 closed

[2019-09-10 20:22] harishspqr opened #1117 "The readme on the docs directory is pointing to broken link for getting started guide."
/kind bug

**What steps did you take and what happened:**
Open docs directory github. click

**What did you expect to happen:**
The getting started link must point to https://cluster-api.sigs.k8s.io/user/quick-start.html.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes v

[2019-09-10 21:19] soggiest opened #1118 "AWSMachineSpec type should specify measurement unit for RootDeviceSize"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
The comment associated with RootDeviceSize should define what measurement unit it is using.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version: N/A
- Kubernetes version: (use

[2019-09-10 21:40] #1118 closed

[2019-09-11 14:44] joonas opened #1120 "Make the webhook server port configurable via flag"
/kind feature

**Describe the solution you'd like**

It was [pointed out](https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1116#discussion_r322925177) that in some cases the [default value (443)](https://github.com/kubernetes-sigs/controller-runtime/blob/699340657992a5ffe4d400a9f68330420fb4a689/pkg/webhook/server.go#L42) for the [webhook server port](https://godoc.org/sigs.k8s.io/c

[2019-09-11 14:46] ncdc opened #1121 "Controller log names are too verbose"
We have log "names" (`r.Log.WithName()`) that are too verbose. Here is an example for the AWSCluster controller, and we have a similar issue with AWSMachine.

[code]

If we break that apart:

1. `controllers/AWSCluster` comes from https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/a745288a721d0509fe853ff271683f7973302914/main.go#L142
1. `awscluster-controller` is a repeat of the prev

[2019-09-11 14:48] joonas commented on #1120
/help
/good-first-issue
/priority important-longterm

[2019-09-11 14:50] detiber commented on #1121
In addition to seeing if we can change the separator, I would also like to see us remove separate entries for namespace and name, and rather collapse them down to a single reference to `namespace/name`

[2019-09-11 14:51] ncdc commented on #1121
We currently use klogr, which hardcodes the separator to `/`

[2019-09-11 14:52] ncdc commented on #1121
[code]

hmmm

[2019-09-11 14:53] vincepri commented on #1121
We should definitely remove the APIVersion from the field, doesn't really provide any useful information IMO

[2019-09-11 19:46] liztio commented on #773
[code]

here's my proof-of-concept resource lister. I was going to update [loadbalancer.go] to use this code.
[loadbalancer.go]: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/pkg/cloud/services/elb/loadbalancer.go#L81-L101

[2019-09-11 19:47] liztio commented on #773
/unassign
/remove-lifecycle active

[2019-09-12 17:02] ncdc opened #1128 "Should CAPA (provider) events target provider resources or Cluster/Machine?"
In v1alpha1, all events that we generated were either associated with a Cluster or a Machine. With v1alpha2, we updated the CAPA code to have all events be associated with AWSCluster and AWSMachine. As an end user who might be using multiple infrastructure providers, for consistency and ease of use, would it make more sense to have events associated with Cluster and Machine?

[2019-09-12 17:18] ncdc opened #1130 "Add go mod verification to CI"
/kind feature

**Describe the solution you'd like**
We should ensure that our go.mod/go.sum files don't get out of date. We should add a check to our CI for this.

/priority important-soon
/help

[2019-09-12 19:50] delpic opened #1132 "Cluster hangs on provisioning phase"
/kind bug

**What steps did you take and what happened:**
Followed steps on quick start: https://cluster-api.sigs.k8s.io/user/quick-start.html

Ran all the steps up till getting the Kubeconfig for the target cluster.

**What did you expect to happen:**
Cluster to provision

**Environment:**

- Cluster-api-provider-aws version: v0.2.1
- Kubernetes version: (use `kubectl version`): v1.15.3
- OS (e.g

[2019-09-12 23:43] harishspqr opened #1134 "CAPA fails silently when the instance profile of machine is incorrectly specified"
/kind bug

**What steps did you take and what happened:**
Create a new cluster. Specify a different/wrong instance profile role for controlplane than whats available on the account.
CAPA fails silently with no errors or events being generated.

**What did you expect to happen:**
CAPA must log the failure and generate a warning/error event indicating the reason.

**Anything else you would like to a

[2019-09-13 09:27] tahsinrahman commented on #1121
/assign

[2019-09-13 09:41] tahsinrahman commented on #1121
do we want to keep the both?
[code]

[2019-09-13 09:47] tahsinrahman commented on #1121
what about keeping the name as `AWSCluster` or `awscluster-controller`, and use other info as `log.WithValues`?

[2019-09-13 13:05] ncdc commented on #1132
@delpic can we see the logs from the capa pod? The cabpk logs indicate the capa cluster infrastructure is not ready.

[2019-09-13 13:45] delpic commented on #1132
Quick question @ncdc, I had to reboot my mac and I am getting the following:
[code]
Do I need to rebuild my mgmt cluster, which I had setup with kind? Is there a way to restart the current one I have on my laptop:
[code]
Thanks!

[2019-09-13 13:48] ncdc commented on #1132
Unfortunately I don't believe `kind` can survive a restart of the docker daemon (including a computer restart). @chuckha or @vincepri have you ever been able to recover a kind cluster?

[2019-09-13 14:29] rudoi opened #1135 "Specify existing ENI as primary interface for new EC2 instance"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

We have a handful of use cases where we need to specify an existing ENI when creating a new EC2 instance.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

I believe this would be another field in AWSMachine to be passed thro

[2019-09-13 14:45] vincepri commented on #1121
I'd keep only the controller name, the AWSCluster, AWSMachine, and specify the other fields as part of the WithValues calls as you mentioned

[2019-09-13 14:46] vincepri commented on #1132
You'll need to remove and recreate the cluster, there is still an issue open to solve this https://github.com/kubernetes-sigs/kind/issues/148

[2019-09-13 14:47] ncdc commented on #1134
I'm guessing 0.3.7 or 0.3.8

[2019-09-13 14:48] vincepri commented on #1134
I'm not sure if we should backport this issue to v0.3.x, but I set the milestone at least

[2019-09-13 14:48] ncdc commented on #1134
I'm going to move it to 0.4.x

[2019-09-13 14:48] detiber commented on #1135
Since this is proposing the addition of another field, I'm wondering if v0.4.x is appropriate here.

[2019-09-13 14:49] ncdc commented on #1134
/assign

[2019-09-13 14:52] delpic commented on #1132
Does that also mean removing all of the resources from aws that was created @vincepri?

[2019-09-13 14:57] vincepri commented on #1132
Correct. I'd suggest to remove at least the created instances in AWS. If you use the same Cluster name, the other resources like VPC, Subnets, ELB, etc, will be adopted

[2019-09-13 14:59] vincepri commented on #1135
Adding a new field should be ok, as long as it's contained within CAPA and doesn't change the default behaviors

[2019-09-13 15:01] ncdc commented on #1134
Reproduces in v0.4.0. CAPA pod logs:

[code]

[2019-09-13 15:02] rudoi commented on #1135
/assign
/lifecycle active

:D

[2019-09-13 15:19] ncdc commented on #1134
[code]

[2019-09-13 15:19] ncdc commented on #1134
I guess `InvalidParameterValue` is considered a failed dependency? @detiber?

[2019-09-13 15:21] detiber commented on #1134
I'm not sure it should be considered a failed dependency in general, since giving something like an invalid instance type would also likely result in a similar failure.

[2019-09-13 15:22] ncdc commented on #1134
[code]

Am in interpreting this correctly - we get `InvalidParameterValue` and `awserrors.IsFailedDependency` considers it a "failed dependency" so we don't record the event?

[2019-09-13 15:24] ncdc commented on #1134
Hmm the status code listed above in the log is 400, not 424.

[2019-09-13 15:26] detiber commented on #1134
@ncdc Ah, gotcha, it's the http status code that is causing it to be a failed dependency here.

This is tricky, do we mark a Machine as hard failed in these cases? There could be eventual consistency related concerns with things like Security Groups, but I wouldn't expect similar for IAM profile because it would require an external actor to intervene.

[2019-09-13 15:29] vincepri commented on #1134
I'd appreciate if we allow users to fix errors, if these occur before creating the actual machine

[2019-09-13 15:33] detiber commented on #1134
@vincepri I'm torn there, on one hand it would be nice, but on the other how long do we continue failing for before it should be considered a permanent error? Especially since events are ephemeral and the only way we have to really highlight errors to users otherwise is via ErrorMessage/ErrorReason.

[2019-09-13 15:37] vincepri commented on #1134
Yeah, what if we write warning events to users and leave the Machine in a pending state? Truthfully, a user will notice that the machines aren't coming up and start describing the objects.

In both cases (ErrorMessage/ErrorReason) or warning event, we'd require a user to describe to take any action.

I'd like to prioritize UX in this case mostly because it seems that these kind of errors can be fr

[2019-09-13 15:39] detiber commented on #1134
The issue is that with events if a user creates a machine, walks away and comes back in an hour or so it is no longer there...  Which is also a sub-par UX...

[2019-09-13 15:40] vincepri commented on #1134
Wouldn't we keep writing the warnings though? 🤔

[2019-09-13 15:43] detiber commented on #1134
I think the key here is what warnings are actionable vs inactionable...

Another thing to keep in mind is higher level abstractions too, how would this surface in a MachineSet or a MachineDeployment?

[2019-09-13 15:59] vincepri commented on #1134
Either way seems we have bad UX, not sure what the right answer is

[2019-09-13 16:02] ncdc commented on #1134
I'm still confused why what appears to be http 400 is considered a failed dep. I want to investigate more.

[2019-09-13 19:40] harishspqr commented on #1134
This was in version v0.3.7.

[2019-09-13 19:44] harishspqr commented on #1134
https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1134#issuecomment-531272816 - @ncdc  I did not see this error log as well.

[2019-09-13 19:52] delpic commented on #1132
Apologies for the delay in getting the logs to you @ncdc. Here they are:
[code]

[2019-09-13 20:01] ncdc commented on #1132
@delpic that looks like the cabpk pod logs. Could you please share capa?

[2019-09-13 20:10] delpic commented on #1132
Actually, the controlplane is up now. Not sure what happened as I did the same thing today as I did yesterday.

I can run through the steps next week to see if I run into this again. Thanks for your help.

[2019-09-13 20:10] #1132 closed

[2019-09-13 20:14] delpic commented on #1132
Here are the logs from capa.
[code]

[2019-09-14 17:37] andrewmyhre opened #1137 "BYO security groups"
/kind feature

**Describe the solution you'd like**
In our organization security group management is tightly controlled - it is not possible to grant processes or users the permission to manage security groups. They are pre-provisioned through a partially manual process. There are also specific security groups our organization requires attached to all instances, so we need to bring those into the

[2019-09-16 22:50] #1051 closed

[2019-09-16 23:22] Lokicity opened #1138 "v1alpha2 delete hangs when create the AWSMachine with wrong invalid key"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

1. Create a cluster and AWSCluster object.
2. create controlplane AWSmachine with invalid SSH
3. delete the Cluster object by using "kubectl cluster delete ".

The deletion of AWSCluster object hangs.
I can see the AWSmachine object is not deleted. Manually run `kubectl delete awsmachin

[2019-09-17 14:30] vincepri commented on #1138
/priority important-soon

[2019-09-17 23:26] chuckha opened #1139 "Debugging hanging deletes is hard"
/kind bug

It is hard, given the error logs today, to understand what is happening when a Cluster fails to delete. CAPA/CAPI/CABPK do not provide insight into what is hanging when it gets deleted.

I want to know what **exactly** is trying to be deleted. If it's hanging, the last log I should see is "trying to delete ..." or similar.

If we were able to understand why deletes are hanging then we c

[2019-09-17 23:26] chuckha commented on #1139
cc @lokicity

[2019-09-18 00:01] chuckha commented on #1139
This might be resolved with increasing verbosity of the manager to at least -v=2

[2019-09-18 00:11] Lokicity commented on #1139
I have a machine stuck in `deleting` state for quite a while. After turning capa to v=2, in one iteration, it provided the log
[code]

It added the line ```"Looking for existing machine instance by tags"  ``` but still not clear on why the machine is stuck in deleting

[2019-09-18 00:15] arzarif commented on #1137
I think it'd be valuable to consider this request together with:

https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/392

Seems like both requests would inform the requirements associated with any redesign of CAPA's management of security groups.

[2019-09-18 07:29] Sn0rt opened #1140 "set capa controller set with hostnetwork with true"
/kind feature

the CAPA controller pod generated by the CAPA controller STS.

The robustness of the capa controller depends on the robustness of the container network and the VPC network. If hostnetwork set with `true`, the robustness of the capa controller depends only on the robustness of the VPC network.

This can improve the robustness of the system.

[2019-09-19 17:50] delpic opened #1141 "Issues with kubelet?"
/kind bug

**What steps did you take and what happened:**
I deployed a statefulset to my cluster and I noticed that it was stuck in pending. I thought it had to do with not having the correct permissions for pulling the image from ecr, but I confirmed that it had so via IAM. I logged into the worker and saw the following:
[code]

**What did you expect to happen:**
Statefulset be deployed with no i

[2019-09-20 03:34] Sn0rt opened #1142 "Set up tags required for cloud provider integration"
/kind feature

the alb-ingress-controller need set correct tag with the subnet, and the EKS Cluster set the follow tags too.

[code]

[2019-09-20 20:57] detiber commented on #1142
/priority important-soon
/milestone v0.4.x

[2019-09-20 20:59] detiber commented on #1141
@delpic can you share the Cluster, AWSCluster, KubeadmConfig, Machine, and AWSMachine resources that were used when you encountered this error?

[2019-09-22 17:52] luigi-riefolo commented on #1120
@joonas I'd like to work on this. Could you please provide an example of the desired functionality and/or how to run it?

[2019-09-23 02:17] Sn0rt opened #1143 "the cluster network field always has been overwrite"
/kind bug

if the user set a tag to the subnet of the cluster, and the CAPA controller will overwrite the tag always.

[code]

[2019-09-23 12:13] kingdonb commented on #873
I'm still interested in this feature, and I wonder if anyone has started work on it.

I understand there is a `AWS Cluster API Meeting` every two weeks and am considering dropping in.  I won't make it this week.  But I saw the `help wanted` label and I'm interested to get started on this feature, if someone does not mind providing reviews for a fairly green go coder.

[2019-09-23 13:43] detiber commented on #873
@kingdonb would love to discuss this further at a future meeting.

I'm also happy to review any PRs that come in to provide this feature, but we would likely also require documentation for the feature in addition to the implementation.

[2019-09-23 14:01] detiber commented on #1143
@Sn0rt Just to clarify are you expecting that a user would set a tag on a CAPA managed subnet externally and for that tag to not be removed during future reconciliation?

Or is the issue that we are not respecting the Tags defined in Cluster.Spec.NetworkSpec.Subnets[*].Tags?

[2019-09-23 14:27] vincepri commented on #1143
This seems like a duplicate of #1142, or at least gives more information to solve the other issue

[2019-09-23 15:02] vincepri commented on #1057
@dinomiteX #1126 adds support to customize the APIServer load balancer port as we discussed, is this sufficient to fix your issue?

[2019-09-23 15:18] detiber commented on #1140
I worry a bit about this requested change, especially if multiple cluster-api related controller managers are also configured this way on smaller management clusters. We'll quickly get into port conflicts around the default port values.

[2019-09-23 15:19] ncdc commented on #1140
My stance: if you want to use hostNetwork, you may make that change in your deployments, but I'd prefer we continue to use pod networking as the default.

[2019-09-23 17:29] ncdc commented on #1117
This is fixed.
/close

[2019-09-23 17:29] #1117 closed

[2019-09-23 17:35] joonas commented on #1117
Fixed in https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1111

[2019-09-23 17:41] randomvariable commented on #1141
@delpic Can you also gather logs from kubelet using `journalctl -u kubelet -b0`. Running `kubelet` from the terminal probably won't give useful information.

[2019-09-23 17:43] vincepri commented on #1137
@andrewmyhre Sounds like a good feature to implement, although the proposed solution seems to be a little different with how the current APIs are implemented. Would you be able to write-up a more detailed proposal taking into account the current behavior that we have today for bringing in your vpc or subnets.

[2019-09-23 18:16] joonas commented on #1120
@luigi-riefolo Great!

I believe what we should look at doing is adding a new flag (say `webhook-port`) that you can pass in to the CAPA manager (see how [existing flags are setup](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/a745288a721d0509fe853ff271683f7973302914/main.go#L54-L110)), which then subsequently gets passed down as an option when [initializing the controller-runti

[2019-09-24 04:17] tahsinrahman commented on #1120
@joonas  should we set default value to `443`? then it'll always fail if we don't define value via flag

[2019-09-24 13:59] detiber commented on #1120
@tahsinrahman I think having the default be `443` for the binary would be good, then we can add a kustomize patch to config/default/ to override the argument to a more appropriate port for our use case.

[2019-09-24 14:06] ncdc commented on #1120
Wouldn't it make more sense to use a higher port so it doesn't require root? I'd go with 8443 for the  default (assuming no conflicts with e.g. the metrics server or something else).

[2019-09-24 15:26] ncdc opened #1145 "Should we wait on AWS operations to complete when reconciling?"
In #1144, there was some discussion about whether we should wait for AWS operations to complete, or if we should check their status the next time we reconcile. For example, when terminating an ec2 instance, should we wait for it to finish before returning a reconcile result, or should we return early, and the next time we reconcile the AWSMachine, check the termination status.

I'd like to propose

[2019-09-24 15:33] #1141 closed

[2019-09-24 15:37] ncdc commented on #1145
That's fine, too, although I 100% want to get rid of RequeueAfterError and have things return a real `Result` instead with the requeue after details.

[2019-09-24 15:38] vincepri commented on #1145
FWIW, in GCP we wait for operations to finish before giving up, although we raised the default concurrency to 10 for each controller. In this way, we have enough space for operations to take place, but we also allow for each operation to finish properly

[2019-09-24 15:48] detiber commented on #1145
Upping the concurrency only buys us so much for scalability, requeueing while we are waiting potentially buys us a lot more.

[2019-09-24 15:53] detiber commented on #613
/lifecycle frozen

[2019-09-24 16:01] vincepri commented on #1120
+1 on having a higher port and use non-root user

[2019-09-24 22:32] andrewmyhre commented on #1137
So, I've finally been able to dig in and get more familiar with the controller implementation and I agree.

In our organization there are specific security groups that must be applied to every instance, but only instances - not load balancers. Applying them to load balances as well might be fine but I would rather adhere to least-privileges.

We compose security groups together on our kubernetes i

[2019-09-25 07:52] dinomiteX commented on #1057
@vincepri I will check it thank you

[2019-09-25 13:56] #1130 closed

[2019-09-25 16:10] #1121 closed

[2019-09-26 06:14] dinomiteX commented on #1057
This looks pretty good, i will close this issue. :)

[2019-09-26 06:14] #1057 closed

[2019-09-26 15:02] ncdc commented on #1084
I filed https://github.com/kubernetes-sigs/cluster-api/issues/1446 to try to delete the Node multiple times, then move on without considering it an error.

[2019-09-26 20:09] rudoi opened #1151 "AdditionalSecurityGroups are not applied"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Have AWSMachine with additionalSecurityGroups specified. Were not applied.

**What did you expect to happen:**

Security groups applied.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

/assign
/lifecycle active

**Environment

[2019-09-26 20:22] rudoi commented on #1151
UGH RBAC PLS

`ec2:DescribeNetworkInterfaceAttribute` is required now. I broke this. Sorry y'all. PR incoming.

[2019-09-26 21:39] #1151 closed

[2019-09-27 13:50] ncdc commented on #78
@randomvariable I assume you're not actively working on this?

[2019-09-27 13:53] ncdc commented on #758
In v0.4.x, we no longer have generate-yaml.sh.
/close

[2019-09-27 13:53] #758 closed

[2019-09-27 13:53] ncdc commented on #776
We've addressed a number of my complaints during the v1alpha2 development cycle.
/close

[2019-09-27 13:53] #776 closed

[2019-09-27 13:54] ncdc commented on #878
@vincepri ok to close?

[2019-09-27 13:54] randomvariable commented on #78
Nope, would have lifecycled/active'd it if I were.

I didn't provide an update at the time because I think SIG Instrumentation was in the process of considering OpenCensus, which has been added to container runtime now.

[2019-09-27 13:55] ncdc commented on #78
Do you still want to be assigned?

[2019-09-27 13:55] randomvariable commented on #78
Sure. Now we're upgraded, this is implementable.

[2019-09-27 13:55] ncdc commented on #956
I propose we close this now that we have the v1alpha2 quickstart docs - thoughts?

[2019-09-27 13:56] randomvariable commented on #276
I think we should close this now that we have the quick start guide?

[2019-09-27 14:01] ncdc commented on #1007
We don't have generate-yaml.sh any more. @vincepri is this still relevant in the current state of things?

[2019-09-27 14:45] vincepri commented on #878
Yep 🎉
/close

[2019-09-27 14:45] #878 closed

[2019-09-27 14:46] vincepri commented on #956
+1 as well, we can always reopen if necessary later

/close

[2019-09-27 14:46] #956 closed

[2019-09-27 14:46] vincepri commented on #276
/close

[2019-09-27 14:46] #276 closed

[2019-09-27 14:47] vincepri commented on #1007
We do have `examples/generate.sh`. In general, I don't know if we should go out of our way to support the examples, apart from basic ones. I think the issue reported might be solved later on with clusteradm or similar tools

[2019-09-27 14:47] ncdc commented on #1012
@vincepri ok to close?

[2019-09-27 14:52] ncdc commented on #1052
Now that v0.4 is out, we are not really maintaining v0.3 any more. This has been addressed in v0.4 as a permanent failure condition.

/close

[2019-09-27 14:52] #1052 closed

[2019-09-27 14:53] ncdc commented on #1084
The node deletion issue was fixed by https://github.com/kubernetes-sigs/cluster-api/pull/1452, which will be in a future CAPI v0.2.x release. @vivgoyal PTAL and let us know if you think that's sufficient. Thanks!

[2019-09-27 14:59] ncdc commented on #1092
cc @chuckha @fabriziopandini - PTAL at the logic described above and let me know if you have any thoughts.

[2019-09-27 15:48] vincepri commented on #1012
Yep

/close

[2019-09-27 15:48] #1012 closed

[2019-09-29 20:07] andrewmyhre opened #1156 "Option to launch instances without an SSH key pair"
/kind feature

**Describe the solution you'd like**
Our organization handles SSH authentication in a specific way, I'm not familiar with the internals and it ties in to our SSO / MFA and I believe it's completely proprietary, but the TL;DR is our policy is to not use SSH keys and instead execute a process during boot to enable SSH. As such we need the option to launch instances without using an SS

[2019-09-29 20:12] andrewmyhre opened #1157 "Allow customizing the control plane ELB listen port"
/kind feature

**Describe the solution you'd like**
Our existing Kubernetes infrastructure has adopted the convention that control plane load balancers listen on port 443 rather than 6443. We'd like to be able to keep this convention as we adopt cluster-api, so we can avoid modifying our architecture specifications and security groups (in our organization these are heavy processes which require in

[2019-09-30 08:24] fabriziopandini commented on #1092
If for the AWS providers only there are specific consistency requirements around versions, at least at a first sight, I find a little bit weird to delegate the enforcement of such requirements to the bootstrap provider. So I don't think the bootstrap provider should update in any case `machine.Spec.Version`.

[2019-09-30 13:21] randomvariable commented on #201
This is more or less resolved by moving away from the idea of pivoting by default, which has been done in the quick start.

/close

[2019-09-30 13:21] #201 closed

[2019-09-30 13:22] randomvariable commented on #491
/remove-lifecycle stale
/lifecycle frozen

[2019-09-30 14:35] #1068 closed

[2019-09-30 16:00] detiber commented on #1157
This should already be possible by setting `Cluster.Spec.ClusterNetwork.APIServerPort`

[2019-09-30 16:32] vincepri commented on #1157
/priority awaiting-more-evidence

[2019-09-30 16:51] andrewmyhre commented on #1157
Ah you're right, this was added to master recently. Closing.

[2019-09-30 16:51] #1157 closed

[2019-09-30 17:38] vincepri commented on #1156
You should be able to specify an empty string value for `sshKeyName` https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/api/v1alpha2/types.go#L493 to achieve the suggested behavior

[2019-09-30 17:40] vincepri commented on #1156
/priority awaiting-more-evidence

[2019-10-01 17:22] wfernandes commented on #1120
@luigi-riefolo Could you `/assign` and `/lifecycle active` this issue if you are actively working on it?

[2019-10-01 18:20] detiber opened #1160 "Expand e2e test to support deploying and scaling of MachineDeployments"
/kind feature

**Describe the solution you'd like**
Building on https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1122, extend the e2e tests to also deploy and scale MachineDeployments

/priority important-soon
/milestone v0.4.x

[2019-10-01 18:22] detiber opened #1161 "Extend e2e test to support regions other than us-east-1"
/kind feature

**Describe the solution you'd like**
Building on https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1122, extend the e2e tests to support running in regions other than us-east-1

/priority important-soon
/milestone v0.4.x

[2019-10-02 13:53] ncdc commented on #1092
For CAPA, if machine.spec.version is nil or empty, possible options could include:

1. Set the AWSMachine's status.error* fields to indicate a permanent failure
1. Record an event on the AWSMachine indicating the Machine needs a version
1. Record an event on the Machine indicating it needs a version

Does any of these make sense? Anything I'm missing?

[2019-10-02 15:17] detiber commented on #1092
@ncdc I'd like to avoid 1, since manually fixing it would require a user to remove ErrorMessage/ErrorReason in addition to adding the version.

I like the idea of 2 or 3, but it is not persistent, so maybe we need a `Conditions` field or similar to record it in a more persistent way?

[2019-10-02 15:17] randomvariable opened #1164 "Determine scalability limits and improvements"
/kind feature

**Describe the solution you'd like**
#1163 proposes to increase the default concurrency limit for EC2 instance
reconciliation. For this PR, @rudoi reported that New Relic set the concurrency limit to 12 for their clusters (which are self-managed).

A test plan should be developed to determine a sensible default for concurrency limits, combined with feedback from end users of Cluster

[2019-10-02 15:18] detiber commented on #1092
Alternatively, we could register a validation webhook as part of deploying CAPA that could enforce the requirement.

[2019-10-02 15:19] vincepri commented on #1164
/priority important-soon

[2019-10-02 15:47] ncdc commented on #1092
I originally left out the webhook as an option because I didn't think it would cover all the cases, but now I'm thinking it should work.

Are we able to state that webhooks are required for correct operation? In other words, can we assume that things like machine.spec.version will always be populated because the validating webhook guards against that?

[2019-10-02 15:49] vincepri commented on #1092
Is the webhook you're talking about a CAPI one or an additional one that CAPA runs only on Machines that are attached to AWSMachines?

[2019-10-02 15:49] ncdc commented on #1092
CAPA on Machines with infra ref = AWSMachine

[2019-10-02 15:50] detiber commented on #1092
I think once we have webhooks it is more than reasonable to say that they are required for correct operation

[2019-10-02 15:51] ncdc commented on #1092
🎶 to my ears

[2019-10-02 17:18] vivgoyal commented on #1084
Looks good to close. I haven't tested it yet though. If I find any issues, I can anyday open a new one.

[2019-10-02 17:19] ncdc commented on #1084
Let's leave it open until you can test it with CAPI v0.2.3 or newer (v1alpha2)

[2019-10-02 18:49] ncdc commented on #1134
/unassign
/assign @liztio

thanks for taking this over!

[2019-10-02 19:41] liztio commented on #1134
Added the following log line to https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/pkg/cloud/services/ec2/instances.go#L190
`s.scope.V(2).Info("Error running instance", "cause", fmt.Sprintf("%v", errors.Cause(err)), "isFailed", awserrors.IsFailedDependency(errors.Cause(err)))`

and it produces:

`I1002 19:38:09.709996       1 instances.go:190] controllers/AWSMachine "msg"="Err

[2019-10-02 19:44] vincepri commented on #1134
It might be that your PR to the broadcaster fixed this issue, where before we'd have lost the event after a while?

[2019-10-02 19:45] liztio commented on #1134
that sounds likely to me!

[2019-10-02 19:53] liztio commented on #1134
So v0.4.1, but I don't know if it's going to be possible to port those broadcaster changes back to v0.3.x

[2019-10-02 19:58] liztio commented on #1134
@harishspqr are you able to upgrade to v1alpha2/0.4.x? if so we can close this out

[2019-10-02 20:02] liztio commented on #1138
/assign

[2019-10-02 20:28] liztio commented on #1138
I'm unable to reproduce this, I suspect #1144 fixed it. @Lokicity Are you able try again with v0.4.1?

[2019-10-03 01:09] Lokicity commented on #1138
Could you please let me know the exact capi/capa version for this fix? Is it published?

[2019-10-03 10:20] luigi-riefolo commented on #1120
/assign
/lifecycle active

[2019-10-03 10:23] luigi-riefolo commented on #1120
@joonas it is

[2019-10-03 12:18] liztio commented on #1138
https://github.com/kubernetes-sigs/cluster-api-provider-aws/releases/tag/v0.4.1 should have it, and any capi version that supports v1alpha2 should work, try https://github.com/kubernetes-sigs/cluster-api/releases/tag/v0.2.3

[2019-10-03 13:20] liztio commented on #773
/assign
/lifecycle active

guess this never got picked up!

[2019-10-03 18:18] ncdc opened #1166 "Migrate away from using sigs.k8s.io in AWS tags"
/kind feature

**Describe the solution you'd like**
We should migrate away from using sigs.k8s.io in AWS tag names and instead use x-k8s.io. This applies to all tags prefixed with `sigs.k8s.io/cluster-api-provider-aws/`.

We must provide a migration path that automatically copies an old tag name to a new one, and we need to define the period of time during which we need to support both naming conv

[2019-10-03 18:27] vincepri commented on #1166
Next version or current v0.4.x?

[2019-10-03 18:27] ncdc commented on #1166
Not 0.4

[2019-10-03 18:33] egernst opened #1167 "panic in capa after adding additionalSecurityGroup to running AWSMachine"
/kind bug

**What steps did you take and what happened:**

capa-system panic, see below.

**What did you expect to happen:**

success.

Additional security group to be applied to the machines

**Anything else you would like to add:**

Initially I bring up the cluster and then control plane without any problems. I next add a security group assocaited with the cluster-api-created VPC, with rules spe

[2019-10-03 18:41] egernst commented on #1167
/cc @mrcastelino @krsna1729 @tgraf

[2019-10-03 18:57] liztio commented on #773
I've got LB deletion working, but now we need to clean up the security groups generated by the ELBs.

[2019-10-03 19:34] detiber commented on #1166
I'd suggest that we maintain the backwards compat logic for the duration of the 0.5.x (or whatever the next version is) release, and then drop at v0.6.x (or vNext +1)

[2019-10-03 22:12] vincepri commented on #1166
Wouldn’t an upgrade tool or document handle covering the breaking change? I wonder if it’s worth maintaining backward logic while we are in alpha phase

[2019-10-04 12:15] detiber commented on #1166
We need to start to make a clear distinction between the alpha version of the types and the support that we provide for the greater project, which IMO is beyond alpha at this point.

[2019-10-04 13:16] luigi-riefolo commented on #1120
@joonas which version should I use as base branch for the PR?
master: does not contain `clusterctl`, therefore `make create-cluster-management` fails
release-0.3:  does not contain [main.go](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/a745288a721d0509fe853ff271683f7973302914/main.go#L54-L110) with all the flags you were referring to

[2019-10-04 15:23] joonas commented on #1120
@luigi-riefolo I would recommend working against the `master` branch (for the current `v1alpha2` release).

`clusterctl` has been moved from the provider-specific code to [core cluster-api](https://github.com/kubernetes-sigs/cluster-api/tree/master/cmd/clusterctl) instead, so you would have to first get a copy of it from the `cluster-api` repository.

@detiber @ncdc @vincepri thoughts on having a

[2019-10-04 15:48] vincepri commented on #1120
While we don't ship clusterctl as part of the release, the Makefile builds it in a local directory before using it https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/Makefile#L109-L110

[2019-10-04 15:52] luigi-riefolo commented on #1120
@vincepri the above make target generates this error:

[code]

[2019-10-04 15:53] vincepri commented on #1120
That's unfortunate, can you file a different issue? Seems something broke somewhere in modules

[2019-10-04 16:10] vincepri opened #1169 "make bin/clusterctl fails with go mod errors"
/kind bug

**What steps did you take and what happened:**
Run `make bin/clusterctl`:
[code]

**What did you expect to happen:**
Build to succeed

**Anything else you would like to add:**
This error was likely introduced when we started importing kubeadm provider as a depedency to this repository, which had a mistmatched version of Azure autorest library.

[2019-10-04 16:10] vincepri commented on #1120
Filed https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1169

[2019-10-04 16:24] vincepri commented on #1169
/lifecycle active

[2019-10-04 17:14] underrun commented on #947
If the goal is to replace the bastion requirement with SSM, I would like to see this made optional as well as moving to SSM.

In production environments I'd like to be able to eliminate/minimize the possibility of direct node access and allow this type/level of access to be controlled and managed explicitly/externally to cluster lifecycle.

This feels like the right issue as we're talking about re

[2019-10-04 17:31] liztio commented on #1142
/active
/assign

[2019-10-04 17:32] liztio commented on #1142
/lifecycle active

[2019-10-04 17:52] egernst commented on #1164
Some initial feedback:
- a higher limit definitely makes sense, otherwise you're waiting all day. I'm not sure the downside of having a higher number, but I've tested with concurrency 100 and 256 without any real issues.
- the real limiting for scaling in these scenarios are the token's time limit.  When scaling, we see that the tokens are created early on, AWS provides machines at a reasonable ra

[2019-10-04 17:58] randomvariable commented on #1164
I think ideally we'd have very short-lived tokens that were used only once per machine, but the post v1alpha1 data model makes that slightly awkward.

Downside of long-lived tokens is that someone scraping the metadata endpoint can register themselves as nodes.

[2019-10-04 18:01] randomvariable opened #1171 "Extend FAQ"
/milestone v0.4.x
/kind documentation
/priority important-soon
/assign
Rather than creating several dozen issues, just going to add them add them as comments

[2019-10-04 18:04] randomvariable commented on #1171
- [ ] Can't access the created cluster, can't add worker nodes because TCP port 6443 is firewalled
- [ ] Token lifetime
- [ ] Reconciliation limits

[2019-10-04 18:10] egernst commented on #1164
The hard part for 'very short lived' is the delay between creation and that 800th node trying to register itself.

Understand.

[2019-10-04 18:40] rosskukulinski commented on #1100
I'm confused by this.  AWS credentials are global and work across all AWS regions. Furthermore, we want a management cluster to support provisioning clusters in different regions.

[2019-10-04 18:42] detiber commented on #1100
This is more about having a default and not requiring that a specific region be set in config. The ability to override region should not be impacted

[2019-10-04 18:43] vincepri opened #1172 "Allow setting LeaderID in controller manager options"
**What steps did you take and what happened:**
Running CAPA in the same namespace with CAPI or CABPK results in leader election errors. More details https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/issues/271

/kind bug
/milestone v0.4.x
/priority important-soon
/assign
/lifecycle active
/cc @noamran

[2019-10-04 19:53] randomvariable commented on #1142
Docs are:
* https://kubernetes-sigs.github.io/aws-alb-ingress-controller/guide/controller/config/#subnet-auto-discovery
* https://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html

[2019-10-04 21:31] liztio commented on #1143
/assign
/lifecycle active

I dug this up as part of #1142, I will drop a solution soon

[2019-10-04 21:57] liztio opened #1173 "Cannot create two public subnets"
/kind bug

**What steps did you take and what happened:**

[code]

Creating multiple subnets allocates multiple NAT gateways, but they will both try to use the same EIP:
![image](https://user-images.githubusercontent.com/33235082/66242652-0308b880-e6d0-11e9-9238-45b23420d442.png)

Only one elastic IP is ever created: https://github.com/liztio/cluster-api-provider-aws/blob/d3c1b7f/pkg/cloud/service

[2019-10-04 22:14] liztio opened #1175 "Setting a natGatewayId on a subnet causes segfaults"
/kind bug

**What steps did you take and what happened:**
I was trying to work arround #1173, so I set one subnet's natGatewayId to another's existing natGateway. Then I got a bunch of segfaults:

https://gist.github.com/liztio/6a336cbaec7e85d76e5b54f019a27c04

**What did you expect to happen:**
Some error messages at worst, an actual successful gateway provision at best

**Anything else you would

[2019-10-05 22:01] vincepri commented on #1175
IIRC this is intentional and should be a read-only field, maybe we should make it clear for users

[2019-10-07 11:49] luigi-riefolo commented on #1173
@liztio I can help with this
/assign

[2019-10-07 13:40] randomvariable commented on #1139
/assign
/lifecycle active

[2019-10-07 15:19] randomvariable commented on #1139
@Lokicity There's a possibility you are hitting this:
[code]
in which case you need to bump to `-v=3`

Intending to add an event for this as well.

If it isn't the instance not existing, then if you have a test case, would appreciate it.

[2019-10-07 17:25] #1142 closed

[2019-10-07 17:39] #1172 closed

[2019-10-07 17:58] andrewmyhre opened #1180 "Allow specifying control plane load balancer subnets"
/kind feature

**Describe the solution you'd like**
In our organization subnet creation is tightly controlled. We are given a set of subnets in our VPCs which we are permitted to use. There are also subnets we are not permitted to use.
I would like to be able to specify existing subnets by ID in the AWSCluster spec, which may not be public and may not be named or tagged by any convention (relating

[2019-10-07 19:08] liztio commented on #1175
/assign
/lifecycle active

gonna fix this while I remember the context

[2019-10-07 20:17] andrewmyhre commented on #1156
Here's the relevant code:

[code]

Providing `sshKeyName: ""` on the `AWSMachine` specs causes the controller to try to use the default SSH key pair name which is `default`, which doesn't exist in our accounts (and we don't want to use key pairs at all).

[2019-10-07 20:18] andrewmyhre commented on #1156
Here's the key pair selection code for bastions:

[code]

Results in the same behavior.. there is no code path allowing for 'no key pair'.

[2019-10-07 20:22] andrewmyhre commented on #1156
I'm thinking something like this (in `instances.go`):

[code]

But it's not great is it.

[2019-10-07 20:34] detiber commented on #1156
It sounds like if we want to support `""`, then we likely will need to turn `SSHKeyName` into a pointer to know when we'd want to set it to the default vs not.

[2019-10-07 20:35] liztio commented on #1175
/remove-lifecycle active

The easiest solution from my perspective is a check to make sure `natGatewayId` isn't set unless id is, and it makes sense to wait for #1116.

[2019-10-07 21:00] andrewmyhre commented on #1156
If that's the case, making `nil` = default and `""` = no key pair might make sense, because it requires a user to explicitly specify 'no key pair', and I believe the idea is to default to using a key pair here.

[2019-10-08 12:34] detiber commented on #1156
One potential gotcha with updating to a pointer is that it will definitely be a breaking API change and we'll need to take care during the upgrade (ideally with a webhook-based migration) to update the current empty value of `""` to `nil` during the migration.

[2019-10-08 13:42] andrewmyhre commented on #1156
That's a great call-out.. I haven't looked at the conversion code very closely yet but I guess I should amend that to handle this?
Also I found a small issue with my logic last night which I need to rectify, and I want to write some tests around it as well. So not ready to merge just yet.

[2019-10-08 14:33] #1143 closed

[2019-10-08 14:43] #773 closed

[2019-10-08 15:35] liztio commented on #969
/assign
/lifecycle active

[2019-10-08 15:40] detiber commented on #969
There are multiple issues related to clusters with the same name in different namespaces, including breakage with cloud-provider integration based on the tagging scheme we use.

We would need to update the naming/tagging that we do for our resource ownership, but also for the cloud-provider integration tags. We'd likely also need to update the way we are handling setting the Cluster Name in the ku

[2019-10-08 15:57] liztio commented on #1035
/assign
/lifecycle active

[2019-10-08 17:57] andrewmyhre commented on #1137
So, setting desired security groups on AWSMachine resources makes AWSCluster reconciliation a little tricky. It would need to skip that reconciliation for role security groups if the machines had security groups provided.

[2019-10-08 18:07] #873 closed

[2019-10-08 18:28] vincepri commented on #1137
It sounds like we might need a new field to specify the authoritative list of security groups of a Machine, while in the current state, we only allow users to _add_ new ones

[2019-10-08 20:11] liztio commented on #1035
/unassign
/remove-lifecycle active

This is a hairy problem. The machine controller has several hundred-line functions, takes in multiple giant blocks of mutable state, and has almost no modularity. I don't have any confidence in my ability to write tests that will actually get used.

[2019-10-08 20:11] liztio commented on #1160
/assign
/lifecycle active

[2019-10-08 20:45] vivgoyal opened #1185 "Cluster deletion fails for failed created cluster"
/kind bug

I tried create a cluster and because of low memory assignment to CAPA pod, it crashed mid-way cluster creation.
Following this, I initiated a delete for the cluster and also increased the memory limit.
This left me with the below error on every reconcilation:

[code]

The CAPA pod would just print this log forever and never finish out successfully.
On checking more, the problem appeared

[2019-10-09 03:26] Sn0rt opened #1187 "alb ingress controller support"
/kind feature

TODO: need region HA cluster feature

the cluster created by CAPA controller that can use ingress to expose k8s service to internet.

[2019-10-09 15:54] liztio commented on #1035
![image](https://user-images.githubusercontent.com/33235082/66498065-7709de80-ea8b-11e9-84ce-a3996ffe6634.png)
here's my diagram of the requirements of just one reconcile function

[2019-10-09 16:57] #1120 closed

[2019-10-09 20:42] liztio commented on #1035
/assign
/lifecycle active

past!liz was a coward, present!liz is forging onwards

[2019-10-10 01:29] Lokicity opened #1190 "CAPA crashing with nil pointer"
/kind bug

[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:  staging latest image

[2019-10-10 01:43] vincepri commented on #1190
The line suggest the Machine is missing the Kubernetes version field

/priority awaiting-more-evidence

[2019-10-10 01:53] Lokicity commented on #1190
@vincepri  Yea that is likely. Should CAPA ever throw nil pointer? Maybe there could be a fix on CAPA side to catch `missing version field` . Let me check on my side

[2019-10-10 06:21] tahsinrahman commented on #1190
similar to this? https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1092

[2019-10-10 06:40] Sn0rt opened #1191 "user/bootstrapper.cluster-api-provider-aws.sigs.k8s.io not authorized to perform"
/kind bug

[code]

**What did you expect to happen:**

if I delete the cluster resource directly, no delete the machine firstly, the controller can't clean the ELB.

and the error information as before.

**Environment:**

- Cluster-api-provider-aws version: `gcr.io/k8s-staging-cluster-api-aws/cluster-api-aws-controller:latest`

[code]

[2019-10-10 07:13] Sn0rt commented on #1191
how to fix

1: add the permission at web console

 modify the arn:aws:iam::179516646050:policy/controllers.cluster-api-provider-aws.sigs.k8s.io add new permission

[code]

2: delete the cluster and check the log
[code]

[2019-10-10 11:19] ncdc commented on #1190
Yes, this is probably a duplicate

[2019-10-10 11:21] ncdc commented on #1191
cc @liztio I think this comes from #1168

[2019-10-10 14:04] ncdc commented on #1138
@Lokicity have you had a chance to test this again?

[2019-10-10 15:04] ncdc commented on #931
/milestone v0.5.0

[2019-10-10 15:04] ncdc commented on #937
@detiber can we retarget this to v0.5.0?

[2019-10-10 15:04] ncdc commented on #938
@detiber can we retarget this to v0.5.0?

[2019-10-10 15:04] ncdc commented on #940
@detiber can we retarget this to v0.5.0?

[2019-10-10 15:05] ncdc commented on #977
/milestone v0.5.0

[2019-10-10 15:07] ncdc commented on #871
These are no longer relevant in v1alpha2 and newer
/close

[2019-10-10 15:07] #871 closed

[2019-10-10 15:23] #1134 closed, assigned to liztio

[2019-10-10 15:23] ncdc commented on #1135
@rudoi are you still working on this?
/milestone v0.5.0

[2019-10-10 15:24] ncdc commented on #1101
/milestone v0.5.0

[2019-10-10 15:24] ncdc commented on #1092
/milestone v0.5.0

[2019-10-10 15:24] ncdc commented on #519
/milestone v0.5.0

[2019-10-10 15:44] detiber commented on #938
/milestone v0.5.0

[2019-10-10 15:44] detiber commented on #939
/milestone v0.5.0

[2019-10-10 15:45] detiber commented on #937
/milestone v0.5.0

[2019-10-10 15:45] detiber commented on #940
/milestone v0.5.0

[2019-10-10 17:04] ncdc commented on #1190
@Lokicity can you confirm you didn't have the version field set?

[2019-10-10 17:07] ncdc commented on #608
Actually going to clear the milestone so we re-triage
/milestone clear

[2019-10-10 17:11] ncdc commented on #539
Going to remove milestone so we can re-triage
/milestone clear

[2019-10-10 17:12] ncdc commented on #1007
@rbankston would you be ok closing this in favor of the proposed work in https://docs.google.com/document/d/1FvdObVNkZt9aHAZ-7X-UKS-VjWx3e0UJzuoKVeNXAaE/edit?

[2019-10-10 17:17] Lokicity commented on #1190
Yes, I can confirm I dont have the version field set. Close it due to duplicate bug: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1092

[2019-10-10 17:17] #1190 closed

[2019-10-10 17:46] rbankston commented on #1007
@ncdc would be 100% okay in favor of that. Closing now.

[2019-10-10 17:46] #1007 closed

[2019-10-10 17:54] ncdc commented on #1169
@vincepri I have a fix for this locally. It requires copying the `replace` directives in CAPA for k8s.io/api, k8s.io/apimachinery, and k8s.io/client-go to CAPI's go.mod. With those in place, I'm able to `make bin/clusterctl`. I'm not yet sure if there are any negative implications.

[2019-10-10 17:56] vincepri commented on #1169
Maybe this is more of a CAPA issue than CAPI?

[2019-10-10 17:56] ncdc commented on #1169
All CAPI & CAPA `make test` pass

[2019-10-10 17:56] vincepri commented on #1169
Sounds good

[2019-10-10 17:56] vincepri commented on #1169
/assign @ncdc

:)

[2019-10-10 17:57] ncdc commented on #1169
We're using a newer version of client-go in CAPA (because of https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1124/files#r329224733)

[2019-10-10 18:01] ncdc commented on #1169
Alternatively we make installing `clusterctl` a prerequisite to be able to use the make targets that need it?

[2019-10-10 18:06] vincepri commented on #1169
Yeah, that could work

[2019-10-10 18:09] vincepri commented on #1169
Actually, we might just want to wait for the next release of controller-runtime, which updates the dependencies https://github.com/kubernetes-sigs/controller-runtime/commit/18b1edf84c456b3fb7d85e67a248642a5aee39c3

[2019-10-10 19:16] ncdc opened #1195 "Unable to use a go client to create an AWSCluster with subnets"
/kind bug

**What steps did you take and what happened:**
1. Create an `AWSCluster` in go and make sure `Spec.NetworkSpec.Subnets` has at least one item.
1. Try to use a client-go/controller-runtime client to create the `AWSCluster`
1. Get the following error:

[code]

**What did you expect to happen:**
No error

**Anything else you would like to add:**
This is because `RouteTableID` is a pointer,

[2019-10-10 19:43] #1195 closed

[2019-10-11 12:01] #1191 closed

[2019-10-11 13:07] #1139 closed

[2019-10-11 15:55] #1169 closed

[2019-10-11 16:31] liztio commented on #1160
/remove-lifecycle active

[2019-10-11 16:32] liztio commented on #969
/remove-lifecycle active

[2019-10-11 16:36] liztio commented on #1084
/priority awaiting-evidence

[2019-10-11 16:37] liztio commented on #1084
/priority awaiting-more-evidence

[2019-10-11 16:56] liztio commented on #1175
/milestone v0.5.0

[2019-10-11 17:00] liztio commented on #1138
/remove-priority important-soon
/priority awaiting-more-evidence

[2019-10-11 17:01] ncdc commented on #1101
Should we consider removing the ssh key name from AWSMachine?

[2019-10-11 17:02] vincepri commented on #1101
Folks might want to use different SSH keys depending on the MachineDeployment

[2019-10-11 17:43] ncdc commented on #1101
Good point

[2019-10-11 17:57] #1101 closed

[2019-10-11 19:29] ncdc opened #1202 "Add v1alpha3 API types"
We need to create the v1alpha3 API version to allow for breaking API changes in the next minor version.

- Copy types from api/v1alpha2.
- Rewrite imports.
- Set the storage version to v1alpha3 types.
- Make sure the generated CRDs contain both v1alpha2 and 3.

/kind feature
/milestone v0.5.0
/priority important-soon

[2019-10-11 19:30] ncdc opened #1203 "Remove all v1alpha1 code"
Remove v1alpha1 types, conversion functions, and anything else referencing v1alpha1

/kind feature
/milestone v0.5.0
/priority important-soon
/help

[2019-10-11 19:31] tahsinrahman commented on #1203
/assign

[2019-10-11 19:31] ncdc opened #1204 "Add v1alpha2 to v1alpha3 conversion webhooks"
After merging the v1alpha3 types (#1202), we need to work on making sure we have conversion webhooks in place to allow for upgrades.

/priority important-soon
/milestone v0.5.0
/kind feature
/help

[2019-10-11 19:33] ncdc opened #1205 "[0.4] Change the default image in manifests to target release-0.4"
Now that master is open to v1alpha3, we want to change the tag referenced by default https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/release-0.4/config/default/manager_image_patch.yaml#L11 to be `release-0.4`, given that `latest` would yield the wrong image.

/kind feature
/priority important-soon
/milestone v0.5.0
/help

[2019-10-11 19:34] ncdc commented on #1203
Thanks @tahsinrahman! When you start working on this, please add the comment `<slash>lifecycle active`

[2019-10-11 19:37] tahsinrahman commented on #1203
/lifecycle active

[2019-10-11 20:02] tahsinrahman commented on #1205
/assign
/lifecycle active

[2019-10-13 18:28] alexbrand opened #1209 "Crash when trying to create NAT gateway"
/kind bug

**What steps did you take and what happened:**
Followed the quick start guide but for some reason CAPA is unable to create NAT Gateways. I am assuming the problem is specific to my AWS account.

I can't quite tell what the issue is because there is a nil pointer deref that prevents CAPA from logging the error message. I believe the problem is `*out.NatGateway.NatGatewayId` here: https:/

[2019-10-13 19:10] alexbrand commented on #1209
To get past the issue, I changed `natgateways.go:L178` so that it doesn't attempt to dereference `*out`. This was still not enough, as it seems `wait.WaitForWithRetryable` swallows the error and logs `timed out waiting for condition`. Is that expected?

I had to add a log line in `natgateways.go:L174` to be able to see the actual issue with creating the NAT gateway.

[2019-10-14 13:58] #1203 closed

[2019-10-14 15:27] tahsinrahman commented on #1202
hi @ncdc can i work on this issue? :)

[2019-10-14 15:46] tahsinrahman commented on #1202
/assign
/lifecycle active

[2019-10-14 15:48] ncdc commented on #1202
Sure thing!

[2019-10-14 16:10] #1202 closed

[2019-10-14 17:33] ncdc commented on #1209
Thanks for reporting this. The `wait` functions unfortunately swallow errors. Do you have a branch with a fix & do you want to submit a pull request?

[2019-10-14 17:35] ncdc commented on #1209
We could probably adjust `WaitForWithRetryable` to return the inner error, instead of the generic timeout one, since this is a function we own. WDYT @vincepri?

[2019-10-14 17:48] wfernandes opened #1211 "Double registration causing CAPA controller manager to panic"
/kind bug

**What steps did you take and what happened:**
1. `make generate-examples`
1. `clusterctl create cluster -v 4 --bootstrap-type kind -c examples/_out/cluster.yaml -m examples/_out/controlplane.yaml -p examples/_out/provider-components.yaml -a examples/addons.yaml`
1. Once the bootstrap cluster is up and running, you will notice that the capa-controller-manager is crash looping.

**What d

[2019-10-14 18:06] #1211 closed

[2019-10-14 20:56] alexbrand commented on #1209
Created a PR @ncdc :)

I think it would be great to surface underlying errors. That would greatly improve the troubleshooting experience when things go wrong.

[2019-10-14 20:59] #1209 closed

[2019-10-14 21:00] ncdc opened #1214 "[0.4] Crash when trying to create NAT gateway"
/kind bug

Original issue: #1209

Need to backport #1213 to release-0.4

[2019-10-14 21:02] ncdc opened #1215 "Surface inner error from WaitForWithRetryable"
/kind feature

**Describe the solution you'd like**
When `wait.WaitForWithRetryable` times out, the only error it returns is `timed out waiting for condition`. It would be better to wrap/combine that with whatever the most recent inner error that occurred, if applicable.

/help
/good-first-issue

[2019-10-14 21:02] ncdc commented on #1209
#1215 for surfacing inner error

[2019-10-15 03:49] tahsinrahman commented on #1215
/assign

[2019-10-15 13:29] #886 closed

[2019-10-15 15:37] #1215 closed

[2019-10-15 15:38] ncdc commented on #1214
PR merged

[2019-10-15 15:38] #1214 closed

[2019-10-15 20:20] ashoksekar07 opened #1222 "Pulling images from a private registry doesn't seem to work"
/kind bug

**What steps did you take and what happened:**
I created a Kubernetes cluster using CAPA. I tried to create a pod which uses an image from a private registry. The pod fails when pulling the image with
`no available registry endpoint: unexpected status code https://<registry>/<image>: 401 Unauthorized`.

I have the image pull secret configured correctly. And the same pod and image pull s

[2019-10-16 19:08] detiber commented on #275
/lifecycle frozen

[2019-10-17 13:04] alexbrand commented on #947
Having the option to have SSM installed on the nodes would be great!

[2019-10-18 17:35] alexbrand opened #1227 "Add additional printer columns to the CRDs"
/kind feature

**Describe the solution you'd like**
Add additional printer columns to the CRDs

**Anything else you would like to add:**
As a user, I was somewhat surprised when I did `kubectl get awsmachine` and noticed a bunch of instances that I thought I had deleted.

I believe the underlying problem is that these machines will be listed as long as the AWS API returns them in our queries.

I t

[2019-10-18 18:24] ncdc commented on #1227
+1 to your suggestion.

FYI, `AWSMachine` is a standalone custom resource in Kubernetes. While it does have a 1:1 relationship with an ec2 instance, we'll continue to list an `AWSMachine` as long as it exists in etcd. It's possible, for example, to terminate an ec2 instance, but an `AWSMachine` will be there until someone (user) / something (controller) deletes it.

[2019-10-20 22:19] aaroniscode commented on #1013
/assign aaroniscode
/lifecycle active

[2019-10-21 11:32] wfernandes opened #1233 "Unable to generate examples with cert-manager definitions"
/kind bug

**What steps did you take and what happened:**
When I run the following command:
`CAPI_BRANCH=master SSH_KEY_NAME=my-ssh-key CLUSTER_NAME=oct21-cluster make generate-examples`
I get the following output:
[code]

**What did you expect to happen:**
I was expecting the `examples/_out/provider-components.yaml` to include all the cert-manager CRD definitions, etc...

**Anything else you woul

[2019-10-21 11:36] tahsinrahman commented on #1233
as cabpk is already merged to capi, capi now generates cabpk manifests too
this error is coming from this line https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/24430fd9c01755cdfadd921a212370afb44e1de0/examples/generate.sh#L132

as capi master now generates cabpk manifests, we don't need to download from old cabpk repo

[2019-10-21 14:20] randomvariable opened #1235 "Internal ELB for API server needs to filter on private subnets"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1179/files introduced the ability to create internal facing load balancers, but it still picks public subnets for placement.

**What did you expect to happen:**
Should pick internal subnets.

**Anything else you would like

[2019-10-21 14:47] detiber opened #1236 "Document how to use IAM Roles for Service Accounts for management cluster auth."
/kind feature

**Describe the solution you'd like**
Now that https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1234 has merged, we should document how to use the IAM Roles for Service Accounts feature for authentication rather than the current documented approach of using KIAM for role assumption.

Additional information here: https://aws.amazon.com/blogs/opensource/introducing-fine

[2019-10-21 17:09] ncdc commented on #539
@randomvariable bumped the AWS SDK and there might be new features available for better retrying. Will investigate.

/assign @randomvariable
/milestone v0.5.0
/unassign @detiber

[2019-10-21 17:17] ncdc commented on #1222
@ashoksekar07 do you have step by step instructions for how to reproduce?

[2019-10-21 18:16] #1035 closed

[2019-10-21 18:24] #1013 closed

[2019-10-22 10:27] randomvariable commented on #1236
/assign

[2019-10-22 11:03] erwinvaneyk opened #1237 "[0.4] Add version info to clusterawsadm"
/kind bug

The binaries included in the releases do not seem contain versioning info. A minor issue, but it makes it a bit annoying to see which version of clusterawsadm is installed.

For example, when using clusterawsadm from 0.4.3:
[code]

**Environment:**

- Cluster-api-provider-aws version: tested with both 0.4.3 and 0.4.2
- OS (e.g. from `/etc/os-release`): Darwin

[2019-10-22 11:20] ncdc commented on #1237
Need to backport #1232 to the release-0.4 branch

[2019-10-22 11:23] randomvariable opened #1238 "Log entry for every event"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Debugging a machine that hasn't reconciled correctly which has an InvalidUpdate
entry in its Events, but didn't see a corresponding log entry.

**What did you expect to happen:**
A log entry published in addition to the Event.

**Anything else you would like to add:**
[Miscellaneous info

[2019-10-22 11:24] randomvariable commented on #1238
/assign
/lifecycle active

[2019-10-22 11:44] randomvariable opened #1239 "Terminated instance not detected"
/kind bug

**What steps did you take and what happened:**
If an EC2 instance is deleted from when the AWSMachine is in a Running state, warning InvalidUpdate events will be recorded, but the AWSMachine does not transition to Error.

**What did you expect to happen:**
AWSMachine transitions to Error for user deletion.

**Anything else you would like to add:**
Missing log entries related to the publ

[2019-10-22 11:47] randomvariable commented on #1239
Example AWSMachine with underlying EC2 instance deleted
[code]
with CAPA logs:
[code]

[2019-10-22 12:17] randomvariable commented on #1239
When the EC2 instance is shutting down, parameters such as IAM role are still visible.

[2019-10-22 12:44] randomvariable commented on #1239
Can trivially reproduce this.
/lifecycle active

[2019-10-22 14:43] randomvariable opened #1242 "Set user-agent for calls to AWS"
/kind feature

**Describe the solution you'd like**
For debugging, I go through CloudTrail logs in Athena, e.g.

[code]

eventtime | eventsource | eventname | useragent
-- | -- | -- | --
2019-10-22T13:42:17Z | ec2.amazonaws.com | DescribeInstances | kubernetes/v1.15.3 aws-sdk-go/1.16.26 (go1.12.9; linux; amd64)
2019-10-22T12:34:16Z | elasticloadbalancing.amazonaws.com | RegisterInstancesWithLoadBa

[2019-10-22 14:44] vincepri commented on #1242
/priority important-soon

[2019-10-22 14:44] vincepri commented on #1242
/help

[2019-10-22 18:40] ashoksekar07 commented on #1222
**Steps to repro**

Create an image pull secret pointing to a container registry which requires authentication. The image pull secret should be of type `dockerconfigjson` with the json content like this:
[code]
Then create a pod which uses the image pull secret to pull its image:
[code]
Pod should fail with an image pull error.

[2019-10-22 18:58] ashish-amarnath commented on #1222
@ashoksekar07 suggest doing a `base64 --decode` on the secret data to confirm that the credentials being used are correct.
Also, this is an upstream kubernetes behavior and CAPA doesn't do anything to alter it.

[2019-10-22 19:06] ashoksekar07 commented on #1222
@ashish-amarnath I've verified the secret and I've used the same secret to successfully pull image on a Kind cluster and another cluster that was not setup using CAPA. I've also verified that from within my CAPA instance, I have connectivity to the registry.

So, my suspicion is that the AMI that comes with CAPA has some missing configuration or the containerd version that ships with this AMI has

[2019-10-22 19:33] chuckha commented on #1239
I reproduced this and then came to file this bug and then found this bug. Thanks @randomvariable !

[2019-10-22 19:33] chuckha commented on #1239
cc @vivgoyal

[2019-10-22 22:48] amila-ku commented on #1227
i would like to work on this.

[2019-10-24 02:29] aaroniscode commented on #1237
/assign @aaroniscode
/lifecycle active

[2019-10-24 03:24] aaroniscode commented on #1167
@egernst I was unable to reproduce this. I created a cluster with a single control plane node and no `additionalSecurityGroups` and then edited the `AWSMachine`. The security group was added:

[code]

[2019-10-24 03:31] aaroniscode commented on #1167
/assign @aaroniscode

[2019-10-24 13:47] ncdc commented on #1227
Thanks!
/assign @amila-ku

Please comment `/lifecycle active` when you start working on this.

[2019-10-24 16:22] detiber commented on #1237
It looks like this has landed in both master and release-0.4 now, so closing.
/close

[2019-10-24 16:22] #1237 closed

[2019-10-24 18:05] aaroniscode commented on #1173
@liztio Just taking a quick look at this. Shouldn't the public subnets use the Internet Gateway and only the private subnets have a NAT gateway in them?  Your example above only has one private subnet so I would only expect one NAT gateway.

Am I looking at this wrong?

[2019-10-24 18:16] aaroniscode commented on #1167
/priority awaiting-more-evidence

[2019-10-24 18:36] aaroniscode commented on #1235
/assign @aaroniscode
/lifecycle active

[2019-10-24 19:00] vincepri commented on #1173
You'll need to have at least 1 private subnet for each 1 public subnet for each distinct AZ

[2019-10-24 19:01] vincepri commented on #1173
This issue is a good candidate for validation webhooks :)

[2019-10-25 11:00] wfernandes commented on #1233
/assign
/lifecycle active

[2019-10-25 13:18] wfernandes commented on #1233
@tahsinrahman @ncdc Do we need to support the variable `CAPI_BRANCH=stable` in `examples.generate.sh`?

So for example, when we run `make generate-examples` it builds the aws provider components by running `kustomize build config/default`. These components include references to cert-manager objects like `Issuer` and `Certificate`.
However, this check below only adds the CAPI cert-manager component

[2019-10-25 13:21] #1235 closed

[2019-10-25 14:29] #1185 closed

[2019-10-25 21:29] randomvariable commented on #539
Have had reports of issues with EC2 from 2019-10-24 onwards.
Specifically, the following types of resources intermittently fail a tagging operation with the following errors:
* Client.InvalidGroup.NotFound
* Client.InvalidRouteTableID.NotFound
* Client.InvalidInternetGatewayID.NotFound
* Client.InvalidSubnetID.NotFound

[2019-10-25 21:35] vincepri opened #1274 "Events are being split between Machine and AWSMachine"
/kind bug
/priority important-soon

Events coming from AWSMachine controller are being written inconsistently to either Machine or AWSMachine objects. We should make sure to write only to one of the objects, possibly AWSMachine and provide a consistent user experience

[2019-10-25 21:55] randomvariable opened #1275 "Throttling errors on DescribeLoadBalancers"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Reviewing CloudTrail logs for an account with around 20 provisioned clusters, frequent ThrottlingException events are found in for the `DescribeLoadbalancers`, which are then surrounded by `AccessPointNotFoundException`

**What did you expect to happen:**
Not throttling at this level (20

[2019-10-25 22:09] randomvariable commented on #1274
Got any examples?
Grepping for `recorder.event` showed everything going to AWSMachine

[2019-10-25 22:45] randomvariable commented on #1274
Update: machine controller uses AWSMachine, stuff in the services code tends to use Machine.

[2019-10-26 01:57] #1274 closed

[2019-10-27 01:22] aaroniscode commented on #1242
going to give this one a try
/assign @aaroniscode
/lifecycle active

[2019-10-27 10:54] luigi-riefolo commented on #1173
@vincepri do you mean that I need to add webhook validation for the changes?

[2019-10-27 14:27] luigi-riefolo commented on #1173
@vincepri running `make create-cluster-management` causes this error:

[code]

I'm using the master branch, any idea why this is happening?

[2019-10-28 01:05] vincepri commented on #1173
master might be broken given that we're starting to work on v1alpha3, @liztio can you confirm if this bug was found in v1alpha2?

[2019-10-28 15:35] randomvariable commented on #1242
@aaroniscode I was experimenting with adding logging to the AWS SDK handlers, which is also where you'd add the user-agent string, so have some bits that might be useful in https://github.com/randomvariable/cluster-api-provider-aws/commit/08afc7105f622c67c4d3cd6e941d05ba24efd6e2

[2019-10-28 15:38] detiber commented on #1173
master is currently functional based on the recent fixes to the e2e testing: https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-cluster-api-provider-aws#periodic-e2e-release-0-4 (that isn't to say that it is bug free)

[2019-10-28 15:53] detiber commented on #1275
@randomvariable what was the concurrency in use where this was seen?

[2019-10-28 18:06] aaroniscode commented on #1242
thanks @randomvariable

I got it working over the weekend, but didn't like that I had to add a function to the `cmd/versioninfo` package as the version stuff didn't really belong there and was looking at options.

If your code, you have refactored that into a separate version package. Should I wait for you to merge that code and I'll just use that version package?

[2019-10-28 18:52] vivgoyal commented on #1275
Default, i.e. 1

[2019-10-28 20:25] ncdc opened #1283 "Our exponential backoff isn't running as long as we need it to"
/kind bug

**What steps did you take and what happened:**
1. Create a Cluster + AWSCluster
1. Occasional timeouts performing AWS operations, such as tagging a route table using retries
1. Timeout occurred after ~ 1 minute

**What did you expect to happen:**
1. Timeout should have been longer (9.5 minutes based on what's coded) (although it really should be 5 minutes)

**Anything else you would lik

[2019-10-28 20:47] ncdc commented on #1205
Fixed by #1207
/close

[2019-10-28 20:47] #1205 closed

[2019-10-28 20:50] ncdc commented on #1222
This may be a bug with containerd talking to artifactory (bintray). I've seen some issues out there about this, but they don't match up 100% with the errors we're seeing. We're using containerd 1.2.8, I believe.

[2019-10-28 20:52] randomvariable commented on #1283
Related to #539

[2019-10-28 21:30] randomvariable commented on #1242
@aaroniscode Nah, just steal it. I can work on something else.

[2019-10-28 21:50] amila-ku commented on #1227
/assign @randomvariable

[2019-10-28 22:10] #1283 closed

[2019-10-28 22:34] #1227 closed

[2019-10-29 15:19] detiber opened #1291 "Expose ability to filter the image lookup based on base OS"
/kind feature

**Describe the solution you'd like**
Currently we hardcode the naming convention of the Ubuntu images built by the image-builder for our image lookups, instead we should expose selection of the underlying base OS to the users to allow them to consume any of the images that we publish (Ubuntu, CentOS, Amazon Linux 2).

We should add a field to the AWSMachineSpec for `ImageLookupBaseO

[2019-10-29 15:21] detiber opened #1292 "Add ImageLookupOrg to AWSClusterSpec"
/kind feature

**Describe the solution you'd like**
Currently we expose awsMachine.Spec.ImageLookupOrg to override the org used for image lookups, we should also expose this under the AWSClusterSpec to allow per-cluster overriding of this value similar to the way that we handle the defaulting for `SSHKeyName`

[2019-10-29 17:08] noamran commented on #1204
/assign

[2019-10-29 21:16] luigi-riefolo commented on #1173
[code]

that was in the latest master. If it's still broken, could you please just tell me a stable branch?

[2019-10-29 21:21] vincepri commented on #1173
`release-0.4` is the v1alpha2 one

[2019-10-30 12:41] luigi-riefolo commented on #1173
thanks @vincepri but in that branch I'm getting:
[code]

any idea?

[2019-10-30 13:56] vincepri commented on #1173
@luigi-riefolo Can you open a different issue for that error with the steps to reproduce it? It doesn’t seem related to this bug

[2019-10-30 17:32] luigi-riefolo commented on #1173
@vincepri sure, but what about this issue?

[2019-10-30 17:35] luigi-riefolo opened #1300 "in release-0.4 branch make create-cluster-management fails"
/kind bug

**What steps did you take and what happened:**
in branch `release-0.4` running `make create-cluster-management` produces the following error:

[code]

**What did you expect to happen:**
`make create-cluster-management` to successfully create a development Kubernetes cluster on AWS in a KIND management cluster.

**Anything else you would like to add:**
[Miscellaneous information that wil

[2019-10-30 17:39] vincepri commented on #1300
/milestone v0.4.0
/priority important-soon
/help

[2019-10-31 12:59] alexbrand commented on #1292
I'd like to work on this if no one is already.

[2019-10-31 13:00] detiber commented on #1292
@alexbrand all yours
/assign @alexbrand

[2019-10-31 13:00] detiber commented on #1292
/lifecycle active

[2019-10-31 19:48] #1292 closed

[2019-11-01 03:48] tahsinrahman commented on #1300
@luigi-riefolo I can't reproduce it in release-0.4 branch. Can you check again? Also, make sure you've don't have `CAPI_BRANCH` env var set

[2019-11-01 03:50] tahsinrahman commented on #1233
@wfernandes this should be fix now, can you check it again?

[2019-11-01 11:36] luigi-riefolo commented on #1300
@tahsinrahman thanks, the `CAPI_BRANCH` was not set.

I did a git pull and this is what I'm encountering now:

[code]

any idea?

[2019-11-01 12:07] alexbrand commented on #1291
I'd like to work on this one.
/assign

[2019-11-01 13:54] alexbrand commented on #1291
@detiber How do we want to handle base OS version?

[2019-11-01 14:00] detiber commented on #1291
@alexbrand I think it'll have to be part of the "Base OS" name.

The other alternative would be to have a separate field, but that would require dynamic defaulting, which I'm not sure we want to take on.

My initial reaction is that we can take a simplistic approach and document the naming used by the image-builder for the first iteration:
- ubuntu-18.04
- centos-7
- amazon-2

[2019-11-01 14:07] alexbrand commented on #1291
Got it. At the moment, base OS name and base OS version are treated separately throughout the codebase. For example: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/pkg/cloud/services/ec2/ami.go#L53

I'll have to see how big of a refactor would be required to treat base OS name and version as a single unit. I am open to ideas if you have thought about this already, or if I

[2019-11-04 13:13] Kevin-fqh opened #1323 "only create one NatGateWay in a vpc, instead of one NatGW in every public subnet"
/kind feature

**Describe the solution you'd like**

we are charged for creating and using a NAT gateway in our account , and it takes too long to create/delete a NAT gateway.

so can we only create one NatGateWay in a vpc, instead of one NatGW in every public subnet ?

Correspondingly, all private subnet 's RouteTable , will has a route lead to the only one NatGateWay.

The only one NatGateWay is

[2019-11-04 16:20] rudoi commented on #1275
Worth mentioning that EC2 actually batches Describe calls together: https://docs.aws.amazon.com/AWSEC2/latest/APIReference/throttling.html

So while the errors may be most prominent for DescribeLoadBalancer, I believe all describe requests count. Also, these limits are scoped per account, not by role/user/etc. :\

[2019-11-04 17:08] detiber commented on #1323
@Kevin-fqh I think this is one of those scenarios that present challenges either way. If there is only a single NAT gateway, then all NAT traffic will be subject to cross-AZ data transfer costs.

@randomvariable do you have thoughts here?

[2019-11-04 18:06] chuckha commented on #1323
/milestone v0.5.0
/priority important-longterm

[2019-11-04 18:09] chuckha commented on #930
/milestone v0.4.x
/priority important-soon

[2019-11-04 18:12] chuckha commented on #930
This is something that was brought up in the meeting: https://blog.scottlowe.org/2019/09/05/highly-available-kubernetes-clusters-on-aws-with-cluster-api/

We could adopt some of this for the v0.4 milestone and rework them for the v0.5 milestone

[2019-11-04 18:14] randomvariable commented on #1275
We will probably need to sort out metrics in #78 before resolving this entirely.

[2019-11-04 18:16] randomvariable commented on #1275
Noted. AWS TAM had told us the same. DescribeLoadBalancer is in the elasticloadbalancing API not EC2, which is why I think it's of special interest and seems to be rate limited to a greater extant than EC2.

[2019-11-04 18:21] vivgoyal commented on #1275
Another case I am currently trying is simultaneous reconciliations. I tried 50, then 30, then 25. In all 3 cases, I hit Throttling errors on DescribeLoadBalancers. Still trying to figure out how many simultaneous reconciles can be supported without throttling.

[2019-11-04 18:37] rudoi commented on #1275
Ah, you're totally right. elasticloadbalancing not included.

[2019-11-04 18:58] wfernandes commented on #1233
@tahsinrahman So it still fails because the `cluster-api-provider-components.yaml` contains objects referring to `Issuer` and `Certificate`. These objects were defined in `cert-manager.yaml` however as per this commit (https://github.com/kubernetes-sigs/cluster-api/commit/e0fb83a839b2755b14fbefbe6f93db9a58c76952) cert-manager components are no longer being shipped with cluster-api.

[2019-11-04 19:11] wfernandes commented on #1233
@tahsinrahman Let me know if that makes sense. I can provide more detailed steps for reproduction if you'd like.

[2019-11-04 19:28] randomvariable commented on #1323
Believe we should return to the original feature list and solve the topology support issue cohesively. My fear is we're getting a bit too fragmented by adding things in a piecemeal fashion. Happy to come up with a proposal for the next meeting, which is likely to be 2019/12/2 because of kubecon.

[2019-11-04 19:54] wfernandes commented on #1233
Actually I have a "simple" workaround for this. I'll create a PR asap. Thanks.

[2019-11-05 06:59] Kevin-fqh commented on #1323
follow `https://docs.aws.amazon.com/zh_cn/eks/latest/userguide/getting-started-eksctl.html`， we use eksctl to create an eks,  it has three public and there private subnet, but only has a single NATGateWay in a vpc as above.

[code]

![image](https://user-images.githubusercontent.com/21018604/68185541-b66d1180-ffdc-11e9-8d4a-0206588f3c59.png)

![image](https://user-images.githubusercontent.com/2101

[2019-11-05 21:42] chuckha opened #1328 "Deletes are too slow"
/kind bug

**What steps did you take and what happened:**
It took over 5 minutes to delete a 3 node control plane cluster is too slow. I expect we should be reconciling on deletes more quickly.

I looked at the logs and it seems to be the EIP is not releasing. It took over 4 minutes just to release the EIP. If that's just how AWS works then there's not much we can do.

**What did you expect to hap

[2019-11-06 11:20] sirao opened #1331 "volumes dynamically provisioned in different zone from the nodes zone blocked statefulset pods to come up"
/kind bug

**What steps did you take and what happened:**
I have done the following after creating the cluster
1. Created the management cluster
2. Created Cluster API infrastructure
3. Created CABPK infrastructure
4. Created AWS user stack
5. Set AWS Credentials as Environment variables
6. Created CAPA infrastructure
7. Created Cluster
8. Created subnets(private&public with Auto assign public IPv

[2019-11-06 14:51] detiber commented on #1328
There are a few blockers here...
1) Termination of the instances takes quite a bit of time (I believe due to waiting for services to stop during the shutdown request and we might be able to improve this behavior)
2) NAT Gateway and associated EIP deletion takes a while (not much we can do about this one)

[2019-11-06 15:08] vincepri commented on #1323
It sounds like this might qualify (for the time being / until we have a proposal on how to address topologies) for bringing your own network, rather than relying on CAPA to create one for you.

[2019-11-06 16:23] #1233 closed

[2019-11-06 16:40] vincepri commented on #964
/remove-lifecycle stale

[2019-11-06 16:40] vincepri commented on #964
/lifecycle frozen

[2019-11-06 17:01] andrewsykim commented on #964
cc @nckturner @jaypipes

[2019-11-06 19:37] rsmitty opened #1332 "move away from SDKToInstance function in converters package"
/kind feature

**Describe the solution you'd like**
After talking with @vincepri earlier today, it seems that there are two implementations of the `SDKToInstance` function. One in the converters package and one in the ec2 package.

The SDKToInstance function in converters is not really supposed to be used any longer from what I understand. Most of the calls to `SDKToInstance` are calling the funct

[2019-11-06 21:39] vincepri commented on #1332
/help

[2019-11-06 22:04] rsmitty commented on #1332
I'll assign myself to this and hack on it tomorrow morning.

[2019-11-06 22:05] rsmitty commented on #1332
/assign @rsmitty

[2019-11-07 09:52] erwinvaneyk opened #1335 "Ignore deleting components that were never created"
/kind bug

**What steps did you take and what happened:**
1. I created a capa cluster, with an account that was missing a required permission (ELB).
1. The controller provisioned parts of the cluster, until it tried to deploy the ELB.
1. I tried to delete the cluster.
1. The controller then became stuck deleting the cluster, because it lacked the permission again.
1. Other cluster components (e.g.

[2019-11-07 14:59] #1332 closed

[2019-11-07 15:47] detiber commented on #1335
I think it is probably okay to continue with deletion, skipping over resources that we do not have permissions to delete, assuming that we also attempt to describe the resource first.

It's probably a safe bet that if we lack permissions to describe or delete the resource, then we most likely lacked the permissions to create the resource and the chance of orphaning a resource would be slim to none

[2019-11-07 15:59] ncdc commented on #1300
There is a new issue with this in `release-0.4` because of an `${IMAGE_ID}` placeholder that was recently added for e2e conformance testing. I have opened #1336 to fix this.

[2019-11-07 19:27] ncdc commented on #1300
Now that #1336 has merged, you should be able to do `make create-cluster-management` again. Please open a new issue if you encounter future problems (as this issue has already bounced around a bit for different root causes).

/close

[2019-11-07 19:27] #1300 closed

[2019-11-07 21:17] #977 closed

[2019-11-07 21:17] #889 closed

[2019-11-07 22:24] #1204 closed

[2019-11-08 03:39] Kevin-fqh commented on #1323
yes, agree

[2019-11-08 19:54] #1238 closed

[2019-11-08 19:54] #1239 closed

[2019-11-08 21:04] #1291 closed

[2019-11-08 22:08] randomvariable commented on #1239
@vivgoyal @chuckha does this need backporting?

[2019-11-08 22:08] randomvariable commented on #1239
/remove lifecycle-active

[2019-11-08 23:19] jzhoucliqr opened #1342 "Nil pointer when register instance to apiserver elb"
/kind bug

- Cluster-api-provider-aws v0.4.4
- Kubernetes version: v1.15.3

I have a AWSCluster which span across 3 AZs. During the bootstrap process, the subnetID info in AWSCluster.Spec.NetworkSpec is overwritten by a bug in my app. When control plane comes up, machine controller try to attach ELB, but AWSCluster.Spec.NetworkSpec.Subnets.IDs are missing, which cause nil pointer.

When pod crash

[2019-11-08 23:20] harishspqr opened #1343 "Must raise a warning event on machine/cluster when the AWS session creation fails due to missing credentials."
/kind bug

**What steps did you take and what happened:**
Try to delete the cluster with an invalid AWS credentials (after the cluster is successfully created).

**What did you expect to happen:**
The cluster deletion fail. There must be a warning event on the machine/cluster that failed to delete

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the

[2019-11-08 23:28] harishspqr opened #1344 "Categorize events to distinguish between create/delete events."
/kind feature

**Describe the solution you'd like**
Currently events are generated on Machines/Clusters but not enough metadata is available as to what type of event it is. We would like to categorize if events are related to creating or deleting the resources.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-

[2019-11-09 00:31] jzhoucliqr commented on #1342
Figured out that the subnetID overwritten is because of a bug in my app.  The fix in #1342 checks for nil pointer is still helpful.

[2019-11-10 17:57] vincepri commented on #772
/lifecycle frozen

[2019-11-11 12:24] randomvariable commented on #972
/remove-lifecycle stale
/lifecycle frozen

[2019-11-11 15:22] randomvariable commented on #1343
/assign
/lifecycle active

[2019-11-11 15:24] vincepri commented on #1343
/milestone v0.5.0

[2019-11-11 15:24] vincepri commented on #1344
/milestone v0.5.0
/priority important-longterm
/help

[2019-11-11 16:30] vincepri commented on #962
/lifecycle active
/priority backlog

[2019-11-11 16:30] vincepri commented on #962
/lifecycle frozen

[2019-11-11 18:39] noamran commented on #1344
/assign

[2019-11-13 22:17] harishspqr opened #1346 "Events not generated when Create/Release/Disassociate elastic IP fails"
/kind bug

**What steps did you take and what happened:**
Tried the create a new cluster on an AWS account where elastic IP limit is already reached

**What did you expect to happen:**
An event generated that the Elastic IP could not be created.

**Anything else you would like to add:**

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g.

[2019-11-13 22:23] harishspqr opened #1347 "Audit CAPA code to generate events for all AWS calls (write operations) if missing"
/kind bug

**What steps did you take and what happened:**
It was noticed that the CAPA does not generate events for some of the AWS calls that fails.
It would be good to audit the CAPA code to generate events if missing.

**What did you expect to happen:**
Events are generated any time an AWS call fails (if it matters).

**Anything else you would like to add:**
[Miscellaneous information that will

[2019-11-14 19:08] noamran opened #1350 "Rename ErrorMessage and ErrorReason to FailureMessage and FailureReason"
This issue is a follow up on-  https://github.com/kubernetes-sigs/cluster-api/issues/1670.

Once the rename is merged, a similar rename should be done in this provider.

[2019-11-14 19:08] noamran commented on #1350
/assign

[2019-11-14 20:39] randomvariable opened #1351 "Duplicate EC2 instances created in 0.4.4"
/kind bug

**What steps did you take and what happened:**
Duplicate EC2 instances were created for the same given machine:

[code]

The first machine was subsequently never cleaned up upon cluster deletion

**What did you expect to happen:**
Single machine created

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
Additionally throwing a wa

[2019-11-14 20:42] randomvariable commented on #1351
/milestone v0.4.x
/priority important-soon

[2019-11-14 21:20] ncdc commented on #1351
Steps we're doing in the code:
1. GetOrCreate ec2 instance (create in this case)
1. Validate & return early if it fails
1. Store ec2 instance ID as machine.spec.providerID
1. ...
1. Patch AWSMachine

We at least need to move setting the provider id before validation.

I'm also unclear why the root volume size is going from 0 to 50?

[2019-11-14 23:04] chuckha commented on #784
bigger fish to fry

/close

[2019-11-14 23:04] #784 closed

[2019-11-15 11:08] randomvariable commented on #1351
@ncdc there's a code path where CAPA describes the root volumes, and that value is the default one coming from the AMI, and we're then saving that value back in to object.

[2019-11-15 15:48] vincepri commented on #808
/lifecycle frozen

[2019-11-15 15:56] vincepri commented on #1351
Priority wise this seems pretty critical, should we bump it?

[2019-11-15 15:56] ncdc commented on #1351
Done

[2019-11-15 16:08] vincepri commented on #1351
/lifecycle active

[2019-11-15 16:21] #1343 closed

[2019-11-15 17:46] ncdc opened #1359 "[0.4] test/e2e/go.mod has the wrong module name"
/kind bug

**What steps did you take and what happened:**
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/release-0.4/test/e2e/go.mod#L1 has the module name as `bhargavmad/cluster-api-provider-aws/test/e2e`.

**What did you expect to happen:**
The name should be `sigs.k8s.io/cluster-api-provider-aws/test/e2e`

**Anything else you would like to add:**
[Miscellaneous information tha

[2019-11-15 18:02] #1350 closed

[2019-11-15 19:37] ncdc opened #1361 "[0.4] docs/releasing.md has outdated info"
/kind bug

**What steps did you take and what happened:**
It says `make release-artifacts`

**What did you expect to happen:**
It should say `make release`

We also need to remove the step that says to run `make docker-build...`. This is included as part of `make release`.

**Environment:**

- Cluster-api-provider-aws version: release-0.4 branch

/help
/good-first-issue
/priority important-soon
/m

[2019-11-15 19:59] ncdc opened #1362 "GitBranch in version info is problematic and should be removed"
/kind bug

**What steps did you take and what happened:**
1. `git checkout v0.4.5`
1. `make release` which calls `make release-binaries`
...
[code]

**What did you expect to happen:**
No error

**Anything else you would like to add:**
The code in `hack/version.sh` runs this to determine the "git branch:

[code]

This is problematic when you have a detached head when you check out a tag such as v0.

[2019-11-15 20:15] ncdc commented on #1361
/assign
/lifecycle active

[2019-11-15 20:41] ncdc commented on #1362
/assign
/lifecycle active

[2019-11-15 20:48] ncdc commented on #1359
/assign @detiber
/lifecycle active
/help cancel
/good-first-issue cancel

I assume these tags are appropriate?

[2019-11-16 18:25] #1362 closed

[2019-11-18 21:36] harishspqr opened #1368 "Deleting the control-plane AWS instance of a cluster in provisioned state repeatedly creates many more controlplanes"
/kind bug

**What steps did you take and what happened:**
Create a cluster
Delete the controlplane instance in AWS.

**What did you expect to happen:**
Cluster API provider AWS creates a new instance for controlplane and updates the API endpoint.
Instead the API end point is apparently not updated and CAPA repeatedly creates new instances for controlplane until AWS instance limit is hit.

**Anythi

[2019-11-18 23:05] ncdc commented on #1368
@harishspqr I'm pretty sure this is the same issue that we just fixed in v0.4.5. Could you please test with the newer version and report back if that fixes the problem? Thanks!

[2019-11-18 23:08] ncdc commented on #1351
Closed by 1357
/close

[2019-11-18 23:08] #1351 closed

[2019-11-18 23:09] ncdc commented on #1368
Also: do the CAPA pod logs look similar to what's in #1351?

[2019-11-19 15:37] ncdc commented on #1368
We're still looking into this. However, I did want to clarify something:

Instead the API end point is apparently not updated

If something or someone outside of CAPA deletes an ec2 instance for an AWSMachine, CAPA is supposed to set AWSMachine.Status.ErrorMessage/Reason and that Machine + AWSMachine is considered in a terminal error state.

CAPA must not create a new ec2 instance to replace a man

[2019-11-20 16:40] randomvariable commented on #1368
This should be fixed in https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1369

[2019-11-20 19:57] harishspqr commented on #1368
Sure. I ll verify it on v0.4.5 and comment here.

[2019-11-20 20:23] ncdc commented on #1368
1369 is not in a release yet. So the bug might still be in v0.4.5. But please try to reproduce and gather full logs + `kubectl get cluster-api -o yaml` + gathering events would be useful too. Thanks!

[2019-11-22 19:01] harishspqr opened #1373 "Failure in creating the worker node - bootstrap provider not ready."
[capi_logs_create_worker_failure.txt](https://github.com/kubernetes-sigs/cluster-api-provider-aws/files/3880962/capi_logs_create_worker_failure.txt)
[capa_logs_create_worker_failure.txt](https://github.com/kubernetes-sigs/cluster-api-provider-aws/files/3880963/capa_logs_create_worker_failure.txt)
[capbk_logs_create_worker_failure.txt](https://github.com/kubernetes-sigs/cluster-api-provider-aws/fil

[2019-11-22 20:41] ncdc commented on #1373
The control plane never initialized successfully. This log line:

[code]

indicates that the Kubeadm Boostrap provider is unable to process a worker machine at the moment, because it's still waiting on the control plane to be initialized.

In the capi pod logs, I see this repeatedly:

[code]

Because of this, I decided to check on the AWSMachine for the first control plane machine in the capa logs

[2019-11-22 22:25] harishspqr commented on #1373
[code]
Describing the failed machine:
[code]
Get Machine -o yaml
[code]

[2019-11-22 22:33] harishspqr commented on #1373
AWS machine:
[code]
get machine -o yaml
[code]

[2019-11-22 22:34] ncdc commented on #1373
[code]

That's the problem

[2019-11-22 22:35] ncdc commented on #1373
Should be fixed by https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1369. Not yet in a CAPA release.

[2019-11-25 15:43] ncdc commented on #1373
@vincepri sounds like we should do a new v0.4.x release

[2019-11-25 16:30] vincepri commented on #392
/remove-lifecycle stale
/lifecycle frozen

[2019-11-25 19:16] harishspqr commented on #1373
@ncdc Should we make it part of a release ?

[2019-11-25 19:21] ncdc commented on #1373
Fixed by v0.4.6
/close

[2019-11-25 19:22] #1373 closed

[2019-11-25 19:36] williamsandrew opened #1375 "Cluster deletion fails when VpcID is an empty string"
/kind bug

This seems similar to the v1alpha1 issue here: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/943.

If a cluster cannot be created due to hitting a VPC limit, the VPC ID field will remain blank and will then block deletion of the cluster. The workaround appears to be dropping the finalizer.

[code]

Discussion here: https://kubernetes.slack.com/archives/CD6U2V71N/p15

[2019-11-26 23:20] rudoi opened #1376 "AWSCluster AdditionalTags aren't reconciled on the API Server ELB"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I added some tags to the cluster via the AWSCluster's AdditionalTags field. This correctly added tags to security groups and EC2 instances, but not the API Server ELB.

**What did you expect to happen:**
API Server ELB to be tagged.

**Anything else you would like to add:**
[Miscellaneou

[2019-11-27 14:47] ncdc commented on #1376
@rudoi what CAPA version, please?

[2019-11-27 15:40] rudoi commented on #1376
@ncdc oh, sorry, `0.4.6`.

[2019-11-27 15:51] rudoi commented on #1376
I don't think the reconciliation loop actually checks the tags:

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/2e77a1b1cecdd8c96a0b860c8658c1bd498a981f/pkg/cloud/services/elb/loadbalancer.go#L42-L89

/assign
/lifecycle active

[2019-12-01 15:06] luigi-riefolo commented on #1173
@liztio I cannot reproduce the issue. This is what I get when declaring two public subnets:
[code]

<img width="1439" alt="Screenshot 2019-12-01 at 15 01 03" src="https://user-images.githubusercontent.com/4227453/69915876-eed10580-144b-11ea-8d42-66c7375f9b10.png">
<img width="1439" alt="Screenshot 2019-12-01 at 15 01 52" src="https://user-images.githubusercontent.com/4227453/69915877-eed10580-144b

[2019-12-02 17:02] ncdc commented on #1361
/close

[2019-12-02 17:02] #1361 closed

[2019-12-02 17:08] ncdc opened #1378 "Test failure: periodic-cluster-api-provider-aws-e2e-master"
**What steps did you take and what happened:**
[code]

**What did you expect to happen:**
No failure

**Anything else you would like to add:**
This has been failing for multiple days.

**Environment:**

- Cluster-api-provider-aws version: master

[2019-12-02 17:09] ncdc commented on #1378
Most recent failure from testgrid: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-e2e-master/1201515412462768128

[2019-12-02 18:03] #1376 closed

[2019-12-02 18:13] ncdc commented on #1331
@randomvariable to take a look
/assign @randomvariable

[2019-12-02 18:16] ncdc commented on #1335
@randomvariable please add some info on the dependency ordering of AWS components

[2019-12-02 18:21] ncdc commented on #1368
@harishspqr could you please retest with v0.4.6?

[2019-12-02 18:29] ncdc commented on #1378
Looks like we need https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1372 to merge

[2019-12-02 19:24] ncdc commented on #1378
Now that #1372 is in, we have a package import issue. Fix is in #1380

[2019-12-02 20:26] ncdc commented on #1378
#1380 is in. The postsubmit [job](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-cluster-api-provider-aws-e2e-master/1201585254410752000) failed, but it looks like the kind cluster went belly-up. Waiting for the next periodic to run at the top of the hour.

[2019-12-02 20:28] ncdc commented on #1378
[Periodic](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-cluster-api-provider-aws-e2e-master/1201585254410752000) error from CAPA pod:

[code]

@detiber do we need to do something to grant more permissions?

[2019-12-02 20:31] ncdc commented on #1378
Nevermind, new permission required from #1377

[2019-12-02 20:31] ncdc commented on #1378
cc @rudoi

[2019-12-02 20:41] ncdc opened #1381 "Missing some ELB permissions"
/kind bug

**What steps did you take and what happened:**
#1377 added reconciling ELB tags, but it requires 3 new ELB permissions to describe, add, and remove tags.

Example error from CI:

[code]

**What did you expect to happen:**
No permissions errors.

[2019-12-02 20:46] ncdc commented on #1378
I filed #1381 and opened #1382 to try to fix.

[2019-12-02 20:46] ncdc commented on #1378
Running a PR e2e test at https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-aws/1382/pull-cluster-api-provider-aws-e2e/1201602958572130304

[2019-12-02 21:20] ncdc commented on #1378
PR e2e passed.

[2019-12-02 21:21] #1381 closed

[2019-12-02 21:26] ncdc commented on #1378
Waiting on next periodic run

[2019-12-03 12:43] ncdc commented on #1378
Tests are green now.
/close

[2019-12-03 12:43] #1378 closed

[2019-12-03 12:49] ncdc opened #1383 "Test failure: ci-cluster-api-provider-aws-make-conformance-master"
As seen in e.g. https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-cluster-api-provider-aws-make-conformance-master/1201824548337487872:

[code]

Need to update examples/machinedeployment/kustomizeconfig.yaml and machinedeployment.yaml to change the apiVersion to cluster.x-k8s.io/v1alpha3

[2019-12-04 00:39] harishspqr commented on #1368
Sure.

[2019-12-04 15:58] #1383 closed

[2019-12-04 16:33] ncdc opened #1387 "Don't store sensitive information (certificates) in ec2 user data"
/kind feature

**Describe the solution you'd like**
We need to stop storing sensitive information (certificates, keys, etc) in ec2 user data, as users with `ec2:DescribeInstances` permission or users running pods that can access the ec2 metadata service have access to this sensitive information.

Previous idea:
Clear out the user data post-boot by calling ModifyInstanceAttributes, but that only wo

[2019-12-04 16:40] vincepri commented on #1387
Maybe the same annotation can also be used to disable this behavior? In the past looking at the user data has been useful for debugging purposes.

[2019-12-04 16:44] detiber commented on #1387
@vincepri the same data should still be available on the Machine resource and/or referenced secret, so I don't think we necessarily lose much for debugging here.

[2019-12-04 17:21] vincepri commented on #1387
Fair enough :)

[2019-12-04 20:26] ncdc opened #1389 "Test failure: capa-conformance-stable*"
Recent failures:
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-cluster-api-provider-aws-make-conformance-stable/1202280071990087680
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-cluster-api-provider-aws-make-conformance-stable-k8s-ci-artifacts/1202280072006864896

Both seem to have similar errors:

[code]

We have an issue where we are currently unable to retrieve log files

[2019-12-05 01:42] johnharris85 opened #1390 "Clusterawsadm: Enable adding of additional policies to control plane & node roles"
/kind feature

**Describe the solution you'd like**
A situation I've come across a few times is having a common policy / set of policies that I want to add to my control plane and / or node instances. Right now that's an activity after the fact to attach those policies to the relevant roles (or the alternative of generating the capa policies and manually creating my roles ahead of time).

Wondered

[2019-12-05 12:07] ncdc commented on #1389
I didn't realize these jobs were against release-0.4, and #1388 is for master 😦. I've cherry-picked it in #1391 for 0.4.

[2019-12-05 12:47] ncdc commented on #1389
Failure with logs: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-aws/1391/pull-cluster-api-provider-aws-make-conformance/1202559795685494786

It appears that cloud-init isn't running our bootstrap at all - see https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-aws/1391/pull-cluster-api-provider-aws

[2019-12-05 12:47] ncdc commented on #1389
Unless that's the bastion?

[2019-12-05 12:48] ncdc commented on #1389
Yeah that's the bastion. Nevermind

[2019-12-05 14:22] ncdc commented on #1389
I think I'm going to have to try to run this locally to see if I can reproduce. For some reason gathering logs is not seeing the first control plane VM, which is what we need to determine why the apiserver isn't coming online.

[2019-12-05 15:07] ncdc commented on #1389
Ok, I'm not 100% sure I got the manual run all the way correct, but here's what I'm seeing:

[code]

[2019-12-05 15:07] ncdc commented on #1389
Heh, looks like some of my env vars got interpreted for the gsutil PATH

[2019-12-05 15:12] detiber commented on #1389
:grimacing:

[2019-12-05 15:20] ncdc commented on #1389
No, that's not the issue. It's because of the bad PATH for gsutil (because it came from my Mac and there's a path with a space in it). I'm working on updating the gsutil bits to not manipulate PATH at all.

[2019-12-05 16:11] ncdc commented on #1389
Ok, now I have gsutil working & pulling the right things, I think. But it's still trying to prepull, and failing:

[code]

[2019-12-05 17:09] ncdc commented on #1389
@dims for some reason the log dumping code is only seeing the bastion host and not the first control plane instance - need to figure that out

[2019-12-05 17:33] rudoi opened #1392 "Forward port of 1394 - EC2 root volume should inherit additionalTags from instance"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Additional tags should pass through to EC2 instance root volumes. This makes analyzing resources in a shared account much simpler.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

I already have this working in a branch, but

[2019-12-05 17:35] ncdc commented on #1392
SGTM. @randomvariable?

[2019-12-05 19:19] neolit123 commented on #1389
as mentioned on slack the tag:
`v1.18.0-alpha.0.1455_bcc6b22121d3f7`

does not have corresponding CI images.

gcr.io/kubernetes-ci-images/kube-scheduler:v1.18.0-alpha.0.1455_bcc6b22121d3f7

https://console.cloud.google.com/gcr/images/kubernetes-ci-images/GLOBAL/kube-scheduler?gcrImageListsize=30&gcrImageListquery=%255B%257B_22k_22_3A_22_22_2C_22t_22_3A10_2C_22v_22_3A_22_5C_22v1.18.0-alpha.0_5C_22_

[2019-12-05 19:21] ncdc commented on #1389
`kubernetesVersion: ci/v1.18.0-alpha.0.1455+bcc6b22121d3f7`

[2019-12-05 19:42] ncdc commented on #1389
I have been mixing and matching the periodic test `ci-cluster-api-provider-aws-make-conformance-stable` with a per-PR version `pull-cluster-api-provider-aws-make-conformance`. This issue is about the former, and there are differences between the two. The former is hard-coded today to test Kubernetes v1.16.3. The latter uses `ci/latest`.

I'm going to go back to focusing on the periodic job, now th

[2019-12-05 19:52] neolit123 commented on #1389
so this is a kubeadm bug and we are reverting the recent PR that changed this behavior:
https://github.com/kubernetes/kubernetes/pull/85965

has 1.16.3 been released?

[2019-12-05 20:02] fabriziopandini commented on #1389
@ncdc  to get image preload working with containerd I use
[code]

start continerd
pipe all the image tars to ctr import, setting the k8s.io namespace
remove the tars

[2019-12-05 20:16] ncdc commented on #1389
yes.

This turns out to be a problem with how we have our test configured + the script backing it. I need to do some thinking how to fix this, but lowering the priority for now.

[2019-12-05 20:18] ncdc opened #1395 "periodic-cluster-api-provider-aws-e2e-conformance-release-0-4 consistently times out"
/kind bug

**What steps did you take and what happened:**
The job periodic-cluster-api-provider-aws-e2e-conformance-release-0-4 consistently times out before completing.

[code]

**What did you expect to happen:**
No timeout

**Anything else you would like to add:**
I plan to increase the prow job timeout.

/kind failing-test
/priority critical-urgent
/milestone v0.4.x
/assign
/lifecycle active

[2019-12-05 21:26] ncdc commented on #1395
Increased the timeout in https://github.com/kubernetes/test-infra/pull/15497. Will wait for tomorrow's run to find out if it helped.

[2019-12-06 13:21] randomvariable commented on #1392
This is fine, since the affected resource is static and chargeable.

[2019-12-06 13:22] randomvariable commented on #1392
Is there a case for v1alpha3 to have a rootDevice map, rather than separate fields for size, tags, etc...

[2019-12-06 15:20] rudoi commented on #1392
I think there is. I almost implemented it that way but realized that would be breaking against v1a2. Instead of doing a standard forward-port, I'd be happy to implement it as a struct for master.

[2019-12-06 16:56] vincepri commented on #1173
Closing, feel free to re-open if the problem persists

/close

[2019-12-06 16:56] #1173 closed

[2019-12-06 18:29] detiber commented on #539
We could do some better guarding than we do today by generating an idempotency token for resources that do not support tagging on create, persisting that token to the api server (and ensuring success) prior to the creation of the aws resource.

I'm not sure every resource that we use that does not support tagging on create actually supports idempotency tokens, though.

[2019-12-06 18:30] #937 closed

[2019-12-06 18:30] #938 closed

[2019-12-06 18:30] #939 closed

[2019-12-06 18:30] #940 closed

[2019-12-06 18:33] ncdc commented on #1135
@rudoi ping?

[2019-12-06 18:34] ncdc commented on #1160
This is done
/close

[2019-12-06 18:34] #1160 closed

[2019-12-06 18:34] ncdc commented on #1160
@detiber if we need to forward port to master, could you please create a new issue?

[2019-12-06 18:35] ncdc commented on #1161
Done
/close

[2019-12-06 18:35] #1161 closed

[2019-12-06 18:36] ncdc commented on #1167
@egernst is this still an issue for you?

[2019-12-06 18:39] ncdc commented on #1180
Can we close this in favor of https://github.com/kubernetes-sigs/cluster-api/issues/1647?

[2019-12-06 18:41] ncdc commented on #1242
@aaroniscode still working on this?

[2019-12-06 18:43] ncdc commented on #1342
/help

[2019-12-06 20:32] ncdc opened #1402 "Add liveness and readiness probes"
**User Story**

As a developer/user/operator I would like to have liveness and readiness probes for the Cluster API manager so that I am better informed when it is operational and ready to receive requests.

**Detailed Description**

See user story.

**Anything else you would like to add:**

It would be ideal if the readiness probe could only return true once the webhook server is online and ready

[2019-12-06 22:08] egernst commented on #1167
Thanks @ncdc.  I can't reproduce at this point; closing!

[2019-12-06 22:08] #1167 closed

[2019-12-06 23:22] jzhoucliqr commented on #1342
already fixed in #1341

[2019-12-06 23:23] jzhoucliqr commented on #1342
/close

[2019-12-06 23:23] #1342 closed

[2019-12-07 02:06] AlainRoy opened #1403 "Ability to configure node disks"
/kind feature

**User Story**
When creating nodes in a cluster, it would be useful to be able to request disk characteristics to control performance, space, and cost. Specifically, it would be good to be able to configure:

* Root disk size (I think this is already possible)
* Disk type (gp2, etc)
* IOPS

[2019-12-09 20:52] ncdc commented on #1368
@harishspqr any updates here?

[2019-12-10 18:12] noamran commented on #1387
/assign

[2019-12-10 20:36] ncdc opened #1410 "Add unit test for MachineScope.GetBootstrapData()"
To ensure we don't regress on base64 encoding

/help
/good-first-issue
/milestone v0.5.0
/priority important-longterm

[2019-12-10 20:38] vincepri commented on #1410
We should also have a unit test in one of the create instance mock functions

[2019-12-10 21:40] ncdc opened #1411 "Our awserrors.IsNotFound() doesn't work for at least ec2 instances"
/kind bug

**What steps did you take and what happened:**
If you terminate an ec2 instance out of band (manually i.e. CAPA didn't do it) and wait long enough such that the instance is no longer returned by a DescribeInstances call, this logic does not work correctly:

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/e19e0e50ada52312f7c1b5decc761e0700f17d5b/pkg/cloud/services/ec2/in

[2019-12-10 21:41] ncdc commented on #1411
Or maybe we need to do a regex match on `^Invalid[^.]+\.NotFound$`?

[2019-12-10 21:45] vincepri commented on #1411
I'd just add another case for now, unless you prefer the regex thing

[2019-12-10 21:45] aaroniscode commented on #1242
@ncdc  I was 90% done on the PR and got pulled into other items.  My goal is to get done this week or weekend. If I can't find the time, I'll post what I did.

If you are on a time crunch to get this done, just let me know and I'll let you know whether I can create time to make it happen.

[2019-12-10 21:46] ncdc commented on #1242
No rush - just checking in!

[2019-12-11 09:28] bhargavmad opened #1413 "Machine phase stuck in "provisioned" after NAT gateway reconcilation"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
1. Created a workload cluster with a single ControlPlane and a MachineDeployment with 2 replicas
2. Manually deleted the NAT Gateway of the cluster
3. Tried to create a new MachineDeployment within the same cluster

**What happened**:
1. A new NAT gateway gets created
2. New EC2 instance

[2019-12-11 15:33] ncdc opened #1414 "make create-cluster: base64 call is not cross-OS compatible"
/kind bug

**What steps did you take and what happened:**
1. Run `make create-cluster` on Linux
1. Error trying to get the kubeconfig secret:

[code]

**What did you expect to happen:**
No error

**Anything else you would like to add:**
I think if we use `--decode` instead of `-D` it should work everywhere

This is breaking https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-aws#cap

[2019-12-11 15:35] ncdc commented on #1414
/assign
/lifecycle active

[2019-12-11 15:46] #1414 closed

[2019-12-11 15:53] sirao opened #1416 "Cross-Zone Load Balancing is disabled for Load Balancer when cluster crated with Multi AZ configuration"
It is observed that when Created the cluster with Multi AZ configuration, the load balancer which was provisioned have Cross-Zone Load Balancing Disabled.

For better Load Balancing and HA, it would be good to enable Cross-Zone Load Balancing

[2019-12-11 16:00] vincepri commented on #1413
/priority awaiting-more-evidence

If you remove the NAT gateway, the instances are not going to be able to communicate with the load balancer, which uses an external public IP.

[2019-12-11 16:01] sirao opened #1417 "Route Tables created for every subnet configured in cluster networkspec"
/kind feature

On deploying a cluster with multi AZ support by adding subnet configuration, the VPC have route tables created for every subnet configuration rather than associating Multiple subnets to the route tables.

`apiVersion: infrastructure.cluster.x-k8s.io/v1alpha2
kind: AWSCluster
metadata:
  name: capi-qs1
  namespace: test-kr
spec:
  region: us-east-2
  sshKeyName: default
  networkSpec

[2019-12-11 16:01] vincepri commented on #1368
/priority awaiting-more-evidence

[2019-12-11 16:03] vincepri commented on #1417
Is there an actual benefit of having 1 single route table for all subnets instead one each? The current design follows AWS' best practices when creating a VPC. For any other configuration users should bring their own pre-created externally managed network.

/priority awaiting-more-evidence

[2019-12-11 16:06] vincepri commented on #1416
We can probably add a flag to give the option to enable this, following https://docs.aws.amazon.com/elasticloadbalancing/latest/classic/enable-disable-crosszone-lb.html?icmpid=docs_elb_console.

/kind feature
/priority important-longterm
/milestone v0.4.0

[2019-12-11 16:06] vincepri commented on #1416
/milestone v0.5.0

[2019-12-11 16:13] bhargavmad commented on #1413
Okay. The NAT gateway is being created once again when i try to create a new MachineDeployment. This means that the new machines should be using the new NAT and everything should run as if nothing happened. Right?

[2019-12-11 16:16] vincepri commented on #1413
I need to double check, but I don't think CAPA is smart enough to detect changes to the NAT gateway currently. It'll definitely create it, but the routing tables aren't getting updated. Which means that the outgoing traffic will be lost.

Can you check the routing tables for the subnet in question and see if the route is still pointing to the old gateway?

[2019-12-12 11:04] bhargavmad opened #1418 ""Elastic IP address [xxx] is already associated" error during MultiAZ deployment"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Tried to create a cluster across multiple AZs

**Observed**:
When I check the NAT gateways, I can see the new NAT gateways sometimes fail with
[code]
and tries to create a new one. This slows down the infrastructure creation.

**What did you expect to happen:**
NAT gateways for multiple

[2019-12-12 14:41] ncdc opened #1419 "Add a project roadmap document"
**Describe the solution you'd like**
As a developer, I would like to know what features are coming in the future and their rough schedule, so that I can know what to work on next.

As a user, I would like to know what features are coming in the future.

**Anything else you would like to add:**
Here is a super rough draft of a potential feature list. Please edit/comment! https://docs.google.com/doc

[2019-12-12 17:07] detiber commented on #1390
I think this seems like a reasonable request.

How long do you think it would take for you to knock out an implementation @johnharris85 (mainly for figuring out if it should be in the v0.5.0 milestone or next)?

[2019-12-12 20:18] joonas commented on #1387
/lifecycle active

[2019-12-12 22:55] rudoi commented on #1135
oh this is totally done and merged already @ncdc. sorry i missed the ping!

/close

[2019-12-12 22:55] #1135 closed

[2019-12-13 10:29] bhargavmad commented on #1413
@vincepri Yes. The route table is still pointing to the old NAT gateway and route status says `blackhole`
I updated the route table manually and the machine status eventually changed to `running`

[2019-12-13 16:10] vincepri commented on #1413
I'll take a look later today

[2019-12-13 17:27] vincepri commented on #1413
/lifecycle active

[2019-12-15 04:19] aaroniscode opened #1423 "Error creating internet-facing ELB, missing subnets"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

`make create-cluster`

Errors:

`I1215 03:50:34.802856       1 awsmachine_controller.go:270] controllers/AWSMachine "msg"="Reconciling AWSMachine" "awsCluster"="capa-dev" "awsMachine"="capa-dev-controlplane-2" "cluster"="capa-dev" "machine"="capa-dev-controlplane-2" "namespace"="default

[2019-12-16 12:32] sirao opened #1425 "Warning Events were not available for awsmachine even though errors occurred during reconciling"
/kind bug

1. Create the management cluster
2. Create Cluster API infrastructure
3. Create CABPK infrastructure
4. Create AWS user stack
5. Set AWS Credentials as Environment variables
6. Create CAPA infrastructure
7. Create Cluster
8. Create MachineDeployment where AWSMachineTemplate spec has Availability Zone which was no configured during cluster configuration

Expecting that AWSMachine object

[2019-12-16 15:31] #1423 closed

[2019-12-16 18:29] ncdc commented on #1175
/help

[2019-12-16 18:30] joonas commented on #1390
/lifecycle active

[2019-12-16 18:32] joonas commented on #1392
/lifecycle active

[2019-12-16 18:35] ncdc commented on #1411
/help
/good-first-issue
/milestone v0.5.0

[2019-12-16 18:37] johnharris85 commented on #1403
Add encryption to this list as well?

[2019-12-16 18:38] ncdc commented on #1418
@bhargavmad would you be able to provide additional details - logs, yaml, etc?

[2019-12-16 18:43] #1390 closed

[2019-12-16 18:43] joonas commented on #1390
/assign @johnharris85

[2019-12-16 18:44] joonas commented on #1392
/assign @rudoi

[2019-12-16 18:44] ncdc commented on #1425
/help

[2019-12-16 18:44] ncdc commented on #1425
The code should be in place to generate an event in this scenario. It's possible we might be seeing the events get throttled.

[2019-12-16 20:11] ncdc opened #1428 "ci-cluster-api-provider-aws-e2e-master is broken"
#1426 made a change that breaks the e2e code and keeps it from compiling: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-cluster-api-provider-aws-e2e-master/1206646250376531968

[2019-12-16 20:14] ncdc opened #1429 "CI presubmits should make sure that test/e2e/... compiles"
#1426 passed all presubmits but broke compilation of test/e2e. We should verify that all the test code can build and compile in our presubmits (but leave running the tests to other jobs).

[2019-12-16 23:34] amy commented on #1346
@harishspqr To replicate the issue, can you go into more detail about how you're hitting the elastic IP limit in relation to cluster api? Thank you.

[2019-12-17 09:57] bhargavmad commented on #1418
This is the yaml file
[code]

logs
[code]
Error from AWS
[code]

[2019-12-17 10:21] sirao commented on #1425
I have tested this scenario with single controlplane and single machine deployment. There shouldn't be much throttling

[2019-12-17 15:42] #1428 closed

[2019-12-17 17:45] #1242 closed

[2019-12-17 19:43] vincepri commented on #1175
/lifecycle active

[2019-12-17 19:45] vincepri commented on #1175
Actually before I do this, are documentation on the fields and create webhook errors sufficient to solve this?

[2019-12-17 21:01] akutz opened #1435 "Adopt the Cluster API e2e testing framework"
/kind feature

**Describe the solution you'd like**
CAPA should likely adopt the CAPI e2e testing framework to:
* Provide consistent e2e expectations across infrastructure providers
* Ensure the e2e framework covers all platforms

**Anything else you would like to add:**
CAPV recently made the switch to the CAPI e2e testing framework, so perhaps https://github.com/kubernetes-sigs/cluster-api-provi

[2019-12-18 01:26] harishspqr commented on #1346
Its easy to replicate by creating many elastic IPs manually on an AWS account with elastic IP limit set to a low value like 5 as is the case with mine. If your account limit is high you can adjust it by going to the account settings.

[2019-12-18 17:12] benmoss commented on #392
This is a pain for us trying to add Windows support, since Calico only supports Windows with their "premium" product from Tigera. The main OSS CNI with good Windows support is Flannel, so we're stuck [documenting](https://github.com/benmoss/kubeadm-windows/tree/master/cluster-api-aws#adding-a-windows-node-to-your-aws-cluster-api-cluster) how to create SGs manually. This will also likely break clus

[2019-12-18 18:34] detiber opened #1437 "Automated Conformance Testing for tagged releases"
/kind feature

Related to https://github.com/kubernetes-sigs/cluster-api/issues/1882

**Describe the solution you'd like**
Since we already have an [automated post-submit job for conformance](https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-cluster-api-provider-aws#ci-e2e-conformance-release-0-4) and we are looking to automate image builds on tagging, we should also be able to automate the c

[2019-12-18 18:47] #1413 closed

[2019-12-18 20:53] ncdc commented on #1395
This has been fixed.
/close

[2019-12-18 20:53] #1395 closed

[2019-12-19 16:22] ncdc opened #1439 "Audit & review our e2e & conformance Prow jobs"
I created a spreadsheet that attempts to describe our various e2e and conformance Prow jobs: https://docs.google.com/spreadsheets/d/1uu7bSkOvbV2qa6ul1rvfgqkXatoviJf1MIFkPHMNC8I/edit?folder=0AP4mO3u-5wuhUk9PVA#gid=0.

We currently have some issues with some jobs because they build the `e2e.test` from the Kubernetes master branch and try to run the tests against older clusters (master is now 1.17+ b

[2019-12-19 16:30] ncdc commented on #1439
In the future, "test examples" probably turns into "test clusterctl"

[2019-12-19 19:15] ncdc commented on #1439
Current list of failing CI jobs as of 12/19/2019:

**Periodics**
- ci-cluster-api-provider-aws-make-conformance-master: running conformance tests from k/k master against a 1.16.x cluster, and the tests require a 1.17 cluster
- ci-cluster-api-provider-aws-make-conformance-stable: unable to correctly override using released Kubernetes bits (#1436 might fix)

**Postsubmits**
- ci-cluster-api-provider

[2019-12-19 21:50] detiber commented on #1439
@ncdc This mostly lines up with my thoughts on where we want to get to for testing as well...  One caveat is that I don't think that having a test that compares both capa/master and k8s/master for conformance testing will be too valuable and we should focus on keeping at least one of the two projects at "stable" version for testing.

[2019-12-19 21:55] ncdc commented on #1439
Thanks. I agree that too much instability between capa & k8s will probably yield a lot of spurious failures. Maybe we limit conformance to capa release branches, and create a release-0.5 when we're getting close to releasing v1alpha3?

[2019-12-19 22:00] detiber commented on #1439
@ncdc I do like the idea of testing conformance of the clusters we create with the head of our development branch, but think we should limit it to just released versions of k8s, so that we know it is likely some change we made to the way we are deploying the clusters rather than a new bug in k8s :)

[2019-12-19 22:00] ncdc commented on #1439
Ok, that sounds reasonable!

[2019-12-19 22:01] ncdc commented on #1439
So capa release branches can test against k/k master, but capa master only tests against released k/k.

[2019-12-19 22:03] ncdc commented on #1439
Ok, so now on to AMIs.

1. How do you want to handle building them - ideally we could automate?
1. How should we get the jobs updated to test against the latest patch releases of each minor version?

[2019-12-19 22:04] ncdc commented on #1439
I would love to be able to edit a single kubernetes version setting in a single file and have a postsubmit job build an ami for that version if it doesn't already exist...

[2019-12-19 22:06] vincepri commented on #1439
This should be very doable with AWS and correct permissions. Either prow or github actions can push the images from image-builder repository.

We can probably query EC2 APIs for the latest patch image, instead of getting a fixed one like we're doing today?

[2019-12-19 22:07] detiber commented on #1439
This probably ties into work being done on the image-builder side. I know @moshloop has started digging into this, but we basically need to work with wg-k8s-infra to get some dedicated cloud accounts for this, likely a dedicated prow cluster, and ideally some automation in place to create/publish images as needed.

+1 to @vincepri's suggestion of querying EC2 to determine the latest published imag

[2019-12-19 22:07] ncdc commented on #1439
Rather than updating the jobs, if we do ^^^ for image building, but have something a bit more expanded like
[code]

And then in the prow jobs, we have one each for 1.15.x, 1.16.x, 1.17.x, and each job would have an env var indicating which minor version to test, and then we'd find a way to connect the dots from the env var to the json file to a `kubernetesVersion` that matches the right minor vers

[2019-12-19 22:10] vincepri commented on #1439
Can we just say we want to test against 1.15.x, 1.16.x, etc? Then the controller picks whatever latest image we have published upon creation

[2019-12-19 22:10] ncdc commented on #1439
We don't have any code that does that? Don't we have to specify major.minor.patch to get the AMI lookup to work?

[2019-12-19 22:13] vincepri commented on #1439
We do, but it includes the patch version. I'm thinking about what Azure and GCP provider do today, which is to allow images to be picked by `major.minor`, and exclude the patch from the lookup

[2019-12-19 22:15] detiber commented on #1439
Since the images are public, we could query the list of images with the proper organization id, and determine which versions have published images that way as well.

[2019-12-20 09:48] sirao opened #1440 "Panic error during reconciliation of awsmachine"
/kind bug

1. Create the management cluster
2. Create Cluster API infrastructure
3. Create CABPK infrastructure
4. Create Cloud user stack
5. Set Target Cloud Credentials as Environment variables
6. Create Cloud(eg.AWS) infrastructure
7. Create Cluster
8. Create control plane machine
9. Delete the EC2 instance which is referenced in worker node, manually.

`I1220 09:35:53.883037       1 awsmachine

[2019-12-20 18:04] vivgoyal opened #1441 "Allow bastion host to use user specified image"
/kind feature

**Describe the solution you'd like**
Allow bastion host to use user specified image even in the managed mode. I can use my images for control plane and worker nodes today but not bastion host in managed mode.

**Environment:**

- Cluster-api-provider-aws version: 0.4.6

[2019-12-20 19:10] joonas commented on #1092
@tahsinrahman is this something you're still interested in implementing?

[2019-12-20 19:14] joonas commented on #1180
@andrewmyhre please take a look at the above

[2019-12-20 19:15] joonas commented on #1335
@randomvariable bump

[2019-12-20 19:16] joonas commented on #1344
Also being discussed in CAPI: https://github.com/kubernetes-sigs/cluster-api/issues/1743

[2019-12-20 19:19] joonas commented on #1402
Related: https://github.com/kubernetes-sigs/cluster-api/issues/1855

[2019-12-20 19:19] ncdc commented on #1389
So #1436 fixed the problem of not being able to load v1.16.3 bits. Now the tests are running properly. However, we still have the problem that we're using the master (1.17+) e2e.test binary against a 1.16.3 cluster, which will always fail. I'm going to close this at this point, and keep #1439 open as a working issue.

/close

[2019-12-20 19:19] #1389 closed

[2019-12-20 19:21] joonas commented on #1416
/help

[2019-12-20 19:55] vincepri commented on #1416
/assign
/lifecycle active

[2019-12-20 20:19] ncdc commented on #1441
As @vincepri pointed out, we probably will need to expose the user data for the VM (a ref to a Secret?) with a fallback to our default script, because there's no guarantee that the default script will work with any arbitrary AMI.

From a design standpoint, I would probably add fields to AWSCluster: BastionImageID and BastionImageUserDataSecretName (wordsmith). For each field, if it is "", fall bac

[2019-12-20 20:40] detiber commented on #1441
Alternatively we could add a flag to disable creation of the bastion and suggest users use Session Manager for accessing instances directly instead of tunneling through a bastion: https://aws.amazon.com/about-aws/whats-new/2019/07/session-manager-launches-tunneling-support-for-ssh-and-scp/

[2019-12-20 21:21] andrewmyhre commented on #1180
Hi, yes we can close this.

[2019-12-20 21:21] #1180 closed

[2019-12-21 05:10] sirao commented on #1440
After encountering this panic error, further reconciliations didn't happen

[2019-12-21 12:46] cpanato commented on #1411
Can i pick this one and try?

[2019-12-21 12:48] ncdc commented on #1411
Please do!

[2019-12-21 17:45] aaroniscode commented on #1387
@ncdc While trying to implement this got an error back from the AWS API. It appears that userData cannot be modified on a running instance.

Was able to replicate the error using the AWS CLI
[code]

Looked in the docs, and while it doesn't explicitly say modifying can't be done on a running instance, it instructs you to stop the instance to modify userData

https://docs.aws.amazon.com/AWSEC2/lates

[2019-12-21 17:53] vincepri commented on #1440
/assign
/lifecycle active

[2019-12-22 02:47] aaroniscode commented on #1425
going to take a look at this one

/assign
/lifecycle active

[2019-12-22 09:14] tahsinrahman commented on #1092
/unassign
/remove lifecycle-active

[2019-12-23 01:04] aaroniscode commented on #1346
/assign
/lifecycle active

[2019-12-23 03:32] aaroniscode commented on #1092
/assign

[2019-12-23 03:40] aaroniscode commented on #1375
@randomvariable happy to work on this ... not sure if you started work already.

FYI -- I was just testing some event code and ended up testing this same issue. The VPC couldn't be created because of VPC limit, but I was able to delete the `Cluster` object. This was on `master`.

[2019-12-23 14:42] detiber commented on #1375
@aaroniscode @randomvariable is on vacation, feel free to pick this up if you plan on working on it before the holidays are over :)

[2019-12-23 14:55] #1440 closed

[2019-12-26 17:20] aaroniscode commented on #1375
/assign
/lifecycle active

Also I was able to reproduce the behavior on `master`. Not quite sure how I was able to delete before as I mentioned above. It's possible I deleted quickly the first time and was able to start the delete before the controller had hit a certain point.

[2019-12-27 19:40] vivgoyal opened #1452 "Wrong security group assigned to load balancer"
/kind bug

**What steps did you take and what happened:**
I modified the ELB listening port to 443 which by default is 6443. The control plane came up but I was not able to connect to the cluster using the kubeconfig. I verified that kubeconfig had the correct port value.
Further investigation showed that wrong security group is assigned to the load balancer. Today it reuses the control plane secu

[2019-12-27 22:36] neeleshkorade commented on #1410
/assign

[2019-12-28 18:39] aaroniscode opened #1454 "Creating and deleting Cluster/AWSCluster quickly results orphaned AWS resources"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
[code]

The Cluster/AWSCluster is created and deleted but the VPC still exists with Subnets, Routes, InternetGateway, NAT, Bastion host, etc.

**What did you expect to happen:**
The VPC to be deleted with the AWSCluster object.

**Anything else you would like to add:**
[Miscellaneous inf

[2019-12-28 18:39] aaroniscode commented on #1454
/assign
/lifecycle active

[2019-12-28 18:45] aaroniscode commented on #1454
Note:  I'm still new to Kubebuilder and Controller Runtime.

I modeled this fix after the section in the Kubebuilder book regarding finalizers. They persist the finalizer right after setting it: https://book.kubebuilder.io/reference/using-finalizers.html

[2019-12-28 20:36] aaroniscode commented on #1452
/assign
/lifecycle active

[2019-12-28 21:14] vincepri commented on #1452
How was the ELB listening port modified to 443?

Usually we suggest using `spec.clusterNetwork.apiServerPort`, which is exposed [here](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/release-0.4/controllers/awscluster_controller.go#L164) in `AWSCluster.Status.APIEndpoints` and used [here](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/release-0.4/pkg/cloud/servic

[2019-12-29 23:26] vivgoyal commented on #1452
I used spec.clusterNetwork.apiServerPort to specify the ELB listening port.

[2019-12-30 03:13] aaroniscode opened #1459 "Review EIP disassociate/release process"
During review of PR #1447, a few concerns were discussed around the EIP disassociate/release process. Opening this to track the review of the EIP code.

Copy/pasting some of the comments below:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/pkg/cloud/services/ec2/eips.go#L120

@detiber
... it seems really odd that we are disassociating here, but also calling the `disassoci

[2019-12-30 16:29] #1346 closed

[2020-01-02 15:43] detiber commented on #1166
/lifecycle frozen

[2020-01-02 18:58] detiber commented on #1100
/lifecycle frozen

[2020-01-05 18:12] vincepri commented on #1145
/lifecycle frozen

[2020-01-06 16:06] vincepri commented on #1156
/lifecycle frozen

[2020-01-06 16:06] vincepri commented on #1156
/help

[2020-01-06 18:43] vincepri commented on #1137
/lifecycle frozen

[2020-01-08 18:30] harishspqr commented on #1368
@ncdc @randomvariable
I tried reproducing this on v0.4.6. This time I didn't hit the original issue reported here but instead found that only the bastian node was created and no controlplane nor workers were created after they are terminated. Should we close this and file a different issue ?

[2020-01-08 18:54] randomvariable commented on #1368
@harishspqr Yes, if you can get the logs for the new weirdness, that'd be appreciated.

[2020-01-08 18:54] randomvariable commented on #1368
/close

[2020-01-08 18:55] #1368 closed

[2020-01-09 15:57] #1375 closed

[2020-01-09 16:10] cpanato commented on #1411
@ncdc can i reach you in the K8s slack to ask a few questions?

[2020-01-09 16:29] ncdc commented on #1411
@cpanato sure thing! #cluster-api-aws channel

[2020-01-09 16:51] ncdc commented on #1403
@rudoi you still planning on working on this?

[2020-01-09 17:10] johnharris85 commented on #1403
I have some availability next week, so if you don't have cycles @rudoi I might be able to pick this up.

[2020-01-09 20:02] ncdc commented on #1387
@aaroniscode thanks for looking into this, and it's unfortunate we can't use this easy fix.

I'm going to retitle/rewrite this to be more generic and hand it over to @randomvariable for the time being.

[2020-01-10 08:34] yujunz opened #1473 "Allow configuration of allowed CIDR in ingress rule"
/kind feature

**Describe the solution you'd like**

It seems to be hardcoded at the moment

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/75271f7b51f4a1e358792754a1c890b167d62460/pkg/cloud/services/ec2/securitygroups.go#L370

Would be nice to make it configurable.

**Anything else you would like to add:**

None

**Environment:**

Not relevant

[2020-01-10 14:48] ncdc commented on #1473
The line you referenced is for the bastion host. Is this a request specifically for the bastion host?

We also have a WIP in #1189 to allow you to specify the ingress CIDR blocks for the control plane load balancer.

[2020-01-10 17:44] #1452 closed

[2020-01-10 17:47] vincepri commented on #1084
This should have been fixed

/close

[2020-01-10 17:47] #1084 closed

[2020-01-10 17:51] randomvariable opened #1475 "Consider adding the EBS CSI driver to the default addons"
/kind feature

**Describe the solution you'd like**
The in-tree provider support for EBS volumes has been deprecated in Kubernetes 1.17 in favour of the [CSI driver](https://github.com/kubernetes-sigs/aws-ebs-csi-driver).

May be worth considering adding to the default addons manifest and make appropriate changes, if needed, to the IAM policies.

[2020-01-10 20:16] vincepri opened #1478 "Revisit control plane security group rule"
/kind cleanup

Given that we're now adding a new security group for the ELB, we should probably consider changing this line https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1456/files#diff-b0ffc0997fd2bffcad9bd812a56adccbR382 that allows everyone to access the control plane port, regardless of network. We can probably make sure that the control plane security group is allowed to ta

[2020-01-10 20:16] vincepri commented on #1478
/help

[2020-01-11 01:55] yujunz commented on #1473
It could be two different configuration. I was looking for the equivalence to https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md#sshaccess
and https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md#kubernetesapiaccess

[2020-01-12 08:48] cpanato commented on #1411
PR: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1480

[2020-01-13 15:01] #1411 closed

[2020-01-13 18:12] randomvariable commented on #1459
/assign @randomvariable

[2020-01-13 18:13] randomvariable commented on #1478
/assign @aaroniscode

[2020-01-13 18:15] randomvariable commented on #1473
/important long-term
/milestone next
/assign @aaroniscode

[2020-01-14 02:01] aaroniscode commented on #1478
/lifecycle active

[2020-01-14 15:08] cpanato commented on #1402
i can try this one if possible

[2020-01-15 09:11] cpanato commented on #1402
/assign

[2020-01-15 12:47] #947 closed

[2020-01-15 12:48] randomvariable opened #1484 "VPC and Networking Topologies"
/kind feature

**Describe the solution you'd like**
There are differing options on how to run Kubernetes clusters in AWS, these include:

* IPv6 vs IPv4
* NAT gateways for internet connectivity, vs. DirectConnect vs. internal only
* A plethora of CNIs
* Multiple load balancer implementation for Kubernetes services

How does a user figure out what one to use, and how best can we enable them?

Relat

[2020-01-15 12:48] randomvariable commented on #1484
@fabriziopandini if you have any thoughts on this, would be appreciated.

[2020-01-15 14:24] michaelgugino opened #1485 "clusterawsadm bootstrap encode credentials redirect error"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Following the quick start guide, I exported AWS_REGION, AWS_SECRET_ACCESS_KEY, AWS_ACCESS_KEY_ID, and run ```clusterawsadm alpha bootstrap encode-aws-credentials```

I get a 302 redirect error.

Tried with both 0.4.8 and 0.4.6 binary linux releases from: https://github.com/kubernetes-si

[2020-01-15 14:34] michaelgugino commented on #1485
Also, error handling is not great here:

[code]

[2020-01-15 14:51] michaelgugino commented on #1485
Looks like the results of that command are just a b64 encode aws credentials file.  We should add some docs to produce it that way instead.

[2020-01-15 15:40] michaelgugino opened #1486 "aws quickstart cluster x509: certificate signed by unknown authority"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Following the quickstart guide for AWS, I have control plane and worker machines deployed, along with who knows what other infrastructure that is deployed (no good indication in the docs as to where to look if there are any issues with deployment).

I was able to decode the kubeconfig s

[2020-01-15 15:55] michaelgugino commented on #1486
Trying with curl by decoding certs/keys from generated kubeconfig:

[code]

[2020-01-15 15:55] fabriziopandini commented on #1484
@randomvariable I have something similar in the radar, but I dubt we can workout details during this iteration
rif https://github.com/kubernetes-sigs/cluster-api/issues/1729

In order to ^^^, it should be defined a way for clusterctl to interact with each provider while creating the cluster template, because the providers are the owner of the knowledge of what can be configured or not, and conside

[2020-01-15 16:22] michaelgugino commented on #1486
Okay, this is most likely because someone already create a cluster with default name in our account.  Will file an RFE for pre-flight check in quickstart docs.

[2020-01-15 16:34] #1486 closed

[2020-01-15 21:50] #1478 closed

[2020-01-16 16:09] neeleshkorade commented on #1410
@vincepri could you elaborate this bit more? Particularly- could you point me to a `create instance mock function`?

[2020-01-16 16:55] vincepri commented on #1410
I was talking about this function https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/pkg/cloud/services/ec2/instances_test.go#L262. You can either add a new test or modify an existing one to test the behavior we expect.

[2020-01-17 18:07] ncdc commented on #539
Do we think we'll have time to do anything about this for the upcoming release?

[2020-01-17 18:08] ncdc commented on #969
Going through open unassigned issues in the v0.5.0 milestone. We have a decent amount of work left to do on CAPI features (control plane, clusterctl, etc). While this is an unfortunately ugly bug, I think we need to defer it to v0.5.

/milestone Next
/remove-priority important-soon
/priority important-longterm

[2020-01-17 18:14] ncdc commented on #1092
Recording some Slack discussions: because we can't control or guarantee the order that the Machine & AWSMachine are created, and we also don't have an OwnerReference until after the AWSMachine is initially persisted, I don't think this is a very easy problem to solve. We could instead:

1. Mark the AWSMachine as terminally failed and require the user to delete it, update the machine with a version

[2020-01-17 18:15] ncdc commented on #1092
Trying to minimize the scope of 0.5, so I'm going to move this to Next. If we get a fix in before the release, that's great too. We can document this is a known issue until a fix is in place.

/milestone Next

[2020-01-17 18:18] ncdc commented on #1164
In #1308 we did increase the concurrency levels.

Trying to de-scope v0.5. This is important but not a release blocker.

/remove-lifecycle stale
/priority important-longterm
/remove-priority important-soon
/milestone Next

[2020-01-17 18:20] ncdc commented on #1275
Trying to de-scope v0.5.
/milestone Next

[2020-01-17 18:21] ncdc commented on #1335
Trying to de-scope v0.5. Moved to Next.

[2020-01-17 18:22] ncdc commented on #1344
xref https://github.com/kubernetes-sigs/cluster-api/issues/1743#issuecomment-568040912
xref https://github.com/kubernetes-sigs/cluster-api/issues/1743#issuecomment-573149601

/milestone Next

[2020-01-17 18:25] rudoi commented on #1403
@johnharris85 please feel free! I apologize I missed these notifications. I'm happy to still work on this but likely won't get to it within the next week.

[2020-01-17 18:26] joonas commented on #1429
/good-first-issue

[2020-01-17 18:39] ncdc commented on #1475
@randomvariable I think based on a chat you & I had yesterday we can move this to Next?

[2020-01-17 19:12] aaroniscode commented on #1485
@michaelgugino I'm not getting a 302 redirect error. I'm wondering if perhaps this is due to the region you are using. Can you share which region you exported so I can try to reproduce the issue?

[2020-01-17 20:25] #1454 closed

[2020-01-21 15:22] michaelgugino commented on #1485
@aaroniscode I tried a variety of regions.  Primarily I was wanting to use us-east-1.

I use other go libraries with the same credentials, I never have this issue.

[2020-01-21 15:30] michaelgugino commented on #1485
Okay, with some help locally, I've sorted this out.  I downloaded the binary release using curl, which doesn't follow the 302's by default.  Thus, bash is trying to execute that 302 error as a script instead of the actual binary.

[2020-01-21 15:30] #1485 closed

[2020-01-21 19:23] vincepri commented on #1140
Closing this given that folks can use kustomize to patch the default yaml files

/close

[2020-01-21 19:23] #1140 closed

[2020-01-21 22:33] ncdc opened #1491 "e2e: log streaming errors should not cause overall test failures"
/kind failing-test

**What steps did you take and what happened:**
See e.g. https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-e2e-master/1219706915278295042 - the functional tests passed but the pod log streaming failed and cause the entire test to fail.

**What did you expect to happen:**
Log streaming failures should not cause the entire test to fail.

**Anyt

[2020-01-21 22:38] ncdc commented on #1491
Potential fix: #1492

[2020-01-22 13:56] #1491 closed

[2020-01-22 14:45] ncdc commented on #1128
We're eventually switching to conditions, and I agree that the event/condition should be associated with the closest/most direct resource. We may consider copying status up (e.g. from AWSMachine to Machine), but that can be discussed in the conditions issue in CAPI.

/close

[2020-01-22 14:46] #1128 closed

[2020-01-23 15:03] johnharris85 commented on #1403
/assign
/lifecycle active

[2020-01-27 16:42] r5sec5cyl commented on #1137
/remove-lifecycle frozen

[2020-01-27 17:37] vincepri commented on #1137
@r5sec5cyl  Are you planning to work on this feature? If so, use `/lifecycle active`

[2020-01-27 17:38] r5sec5cyl commented on #1137
/lifecycle active

[2020-01-27 17:46] r5sec5cyl commented on #1137
Both the [reconciler](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/83fceb0/controllers/awsmachine_controller.go#L364) (via [ensureSecurityGroups](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/83fceb0/controllers/awsmachine_security_groups.go#L47)) and [CreateInstance](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/83fceb0/pkg/cloud/services/

[2020-01-27 17:47] r5sec5cyl commented on #1137
Thank you @vincepri - I made the update

[2020-01-27 18:16] ncdc commented on #539
Going to reevaluate for v1alpha4 planning.
/milestone Next

[2020-01-27 18:16] ncdc commented on #1171
Going to reevaluate for v1alpha4 planning.
/milestone Next

[2020-01-27 18:19] ncdc commented on #1347
This is still a nice to have, but it won't be a release blocker. If we don't do this for v1alpha3, the plan is to close it and switch to status conditions.

[2020-01-27 18:21] ncdc commented on #1410
@neeleshkorade are you still interested in working on this?

[2020-01-27 18:25] ncdc commented on #1441
@vivgoyal you found a workaround for this, right?

[2020-01-27 19:34] neeleshkorade commented on #1410
Yes, I am. I am traveling so couldn’t get to it.  Would be great if you
could allow me couple days more.

On Tue, Jan 28, 2020 at 2:21 AM Andy Goldstein <notifications@github.com>
wrote:

[2020-01-27 19:37] ncdc commented on #1410
Sure thing - just checking in. Thanks!

[2020-01-27 22:12] aveshagarwal opened #1499 "Tags on resources are being updated during reconciliation even if those tags are not changed."
/kind bug

In our environment, we are noticing that tags on some AWS resources are being updated even if there is no change in them. It happens when there are external tags on those AWS resources created by some external entities dynamically.

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Created external tags on some AWS resources like secur

[2020-01-27 22:12] aveshagarwal commented on #1499
@ncdc

[2020-01-27 22:14] ncdc commented on #1499
cc @vincepri @randomvariable

[2020-01-27 22:15] ncdc commented on #1499
cc @rudoi

[2020-01-27 22:25] vincepri commented on #1499
Is this something you can use `AdditionalTags` for? https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/api/v1alpha3/awsmachine_types.go#L53

The code behaves according to our initial spec, which is to always overwrite the whole set of tags. This behavior was preferred because the call to change tags applies to the whole set, you can't set/unset a specific tag for a resource af

[2020-01-27 22:41] aveshagarwal commented on #1499
We have looked into additional tags, but in our environment, those external tags are created by external processes dynamically and are random, and we do not have any control on them.

In our testing, we have seen that it only affects the set of tags being updated (if there is any change) and not other external tags, so works as expected.

[2020-01-27 23:03] vincepri commented on #1499
Got it! Seems we should be able to add a check to `Ensure` to only apply the tags if they're not a subset of the current ones.

[2020-01-27 23:23] aveshagarwal commented on #1499
So here are the code changes we are using right now https://github.com/aveshagarwal/cluster-api-provider-aws/commit/b65a99b54f00b6885fe56546d06e1a3ef19506b8

If it looks good, i can create a PR.

[2020-01-27 23:50] wfernandes opened #1500 "Support clusterctl by implementing provider contract"
/kind feature

**Describe the solution you'd like**
After following instructions [in the quickstart](https://master.cluster-api.sigs.k8s.io/clusterctl/overview.html)
I get the following error when running `clusterctl config cluster my-cluster`
[code]
I'm using `clusterctl-settings.json`.
[code]

We need to follow the [provider contract and provide the workload cluster template](https://master.clus

[2020-01-28 15:07] ncdc commented on #1499
The [AWS docs](https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_CreateTags.html) say this:

It definitely sounds like it only affects the tags you specify in the input, and that it's not a wholesale delete-all followed by a set operation.

@detiber or @randomvariable do you concur? Also, @aveshagarwal your commit seems reasonable to me. It'd be nice to have some tests for this, too (I re

[2020-01-28 15:08] aveshagarwal commented on #1499
Exactly that is our undrstanding too.

Sure, i can add unit tests for this.

[2020-01-28 15:45] detiber commented on #1499
Indeed, that is my understanding as well.

[2020-01-28 19:49] randomvariable commented on #1410
@neeleshkorade maybe worth holding on slightly. i've had to refactor those calls a bit to clean up the use of Secrets Manager in #1490

[2020-01-28 21:08] randomvariable commented on #1499
Concur with everything here :)

[2020-01-29 12:50] prksu commented on #1435
@akutz @ncdc can i go for it?

[2020-01-29 14:05] detiber commented on #1435
@prksu We're looking at trying to forward port some of the testing from the `release-0.4` branch before we attempt migrating to the new testing framework. https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1501 is the first PR for the forward porting attempts.

[2020-01-29 15:08] randomvariable commented on #1475
Just as a record of the conversation:

We'd like to see the CSI driver move to the v1beta1 CSI types first before spending too much time on this.

[2020-01-29 15:34] randomvariable commented on #1335
Definitely next. Quite a bit of refactoring to be done to make this happen.

[2020-01-29 16:18] rudoi commented on #1499
+1 from me here as well. We've never hit this in our environment because we manage all of our tags through the AWSCluster object.

[2020-01-29 16:24] rudoi commented on #1500
/assign
/lifecycle active

working on this with @mytunguyen

[2020-01-29 17:36] vincepri opened #1503 "Add the ability to customize IngressCIDRBlock on control plane ELB"
/kind feature

**Describe the solution you'd like**
This is a follow-up issue from https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1189, we need a new field added to the v1alpha3 types that allows users to customize the control plane load balancer ingress block.

[2020-01-29 17:37] vincepri commented on #1503
/milestone Next

[2020-01-29 22:18] rudoi commented on #1500
@wfernandes, some quick questions:

- CAPA has a bunch of examples YAML already, but the available env vars don't quite add up. Were you thinking this should be held completely separate from those?
- Should the local hack script be updated as part of this issue to support fetching these default templates locally?

[2020-01-30 08:25] bhargavmad commented on #1418
@ncdc Please have a look at this.

[2020-01-30 14:38] aveshagarwal commented on #1499
PR: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1504

[2020-01-30 16:07] ncdc commented on #1418
@rudoi do you all deploy like this & have you ever seen this?

[2020-01-30 18:31] temujin9 opened #1505 "Missing nodepool instance is not replaced"
/kind bug

**What steps did you take and what happened:**
Followed the Cluster API quickstart instructions. Once the MachinePool instance was connected and healthy, deleted its corresponding instance from the AWS console.

**What did you expect to happen:**
After a reasonable delay, the awsmachine should be replaced.

**Anything else you would like to add:**
The awsmachine does notice loss of the

[2020-01-30 18:53] ncdc commented on #1505
Hi @temujin9, thank you for your report.

Cluster API does not currently support automatically deleting failed machines and replacing them. We have work in flight for our next release that will add a new machine health check feature that hopefully will cover this. We have also updated Cluster API to update the phase (e.g. ready or not) instead of it always saying ready.

This is not an issue speci

[2020-01-30 18:58] temujin9 commented on #1505
Ah, fair. Documentation mislead me about it being implemented already.

I'll close this, and watch that instead.

[2020-01-30 18:58] #1505 closed

[2020-01-30 19:00] ncdc commented on #1505
@temujin9 which documentation?

[2020-01-30 19:16] temujin9 commented on #1505
@ncdc I'm not finding it, might have been just my own misreading. If I find it later I'll ping here.

[2020-01-30 20:10] wfernandes commented on #1500
@rudoi Sorry for the late response. I'm still trying to learn the intricacies of clusterctl.  @fabriziopandini can hopefully provide some insight into what the provider contract expects from `config-kubeadm.yaml`.

[2020-01-30 21:07] randomvariable opened #1506 "Clean up AWS*Templates"
/kind feature

**Describe the solution you'd like**
AWSMachineTemplate uses AWSMachineSpec in Spec.Template.Spec.

However, because of our data persistent requirements, we store some per-instance information from AWS APIs in the spec, in particular, the ProviderID, and introduced by #1407 AWS Secrets Manager ARN.

Should this be cleaned up such that the fields are not present at all in the templat

[2020-01-30 21:20] #1499 closed

[2020-01-30 22:24] chuckha opened #1508 "Remove deprecated AvailabilityZone field on machine spec"
Please see this comment for context: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1507#discussion_r373213811

I believe it's safe to simply remove the `AvailabilityZone` field, but @vincepri or @detiber can correct me if I'm wrong. No deprecation policy needs to be maintained here as these are alpha types.

/milestone v0.5.0
/priority important-soon
/kind cleanup

I'm marking t

[2020-01-30 22:26] detiber commented on #1508
+1 on removal, since we have a field to replace the contents we can just handle the automatic migration with conversion without needing to deal with the deprecated field in v1alpha3.

[2020-01-31 03:51] vincepri commented on #1508
/assign
/lifecycle active

[2020-01-31 04:12] vincepri commented on #1506
I'd rather keep the two the same, and specify which field don't apply to a template in a comment. This eliminates the need for code to be kept in sync, or modified in two places.

[2020-01-31 07:30] fabriziopandini commented on #1500
From a certain point of view, clusterctl is an effort to standardize some behaviors across providers.
Said that it is up to providers to choose if to provide cluster templates for clusterctl, if to provide the user a different approach for generating YAML, or both.

I'm personally for converging as much as possible because this was the goal of the community effort around clusterctl v2, but I have

[2020-01-31 13:55] neeleshkorade commented on #1410
Thanks @randomvariable will wait for #1490 to go in

[2020-01-31 14:54] detiber commented on #1506
If we do indeed keep the shared data type (+1 from me on this, btw), then in addition to documenting via comments which fields are not meant to be used in template types, we should also add validation that they are not set via the validation webhook for the template types.

[2020-01-31 15:30] #1092 closed

[2020-01-31 15:36] randomvariable commented on #1506
I've added the validation in #1490, which is what prompted the question.

What prohibits something like this working?

[code]

[2020-01-31 15:40] detiber commented on #1506
With the proper json tagging for the embedded type, that could likely work.

[2020-01-31 16:06] detiber opened #1510 "Handle backup/restore of ImageLookupBaseOS field during conversion"
/kind bug

We currently aren't handling the backup/restore of the ImageLookupBaseOS field on Machine/Cluster resources. We'll need this for release to avoid lossy conversions

/priority important-soon
/milestone v0.5.0

[2020-01-31 16:21] randomvariable commented on #1510
/assign

[2020-01-31 16:28] rudoi commented on #1418
@ncdc unfortunately we don't manage networking through CAPI for the most part. i'm confused as to how this could happen in AWS in general. Maybe we're leaking a reference somewhere or something...

[2020-01-31 17:31] randomvariable commented on #1510
/lifecycle active

fixed up in #1490

[2020-01-31 18:25] r5sec5cyl commented on #1137
I believe we can classify configurations into three types:
1. non-BYO SG configurations - default SGs are acceptable, do NOT have own SGs
2. plus-BYO SG configurations - default SGs are acceptable, have own SGs
3. only-BYO SG configurations - default SGs are NOT acceptable, have own SGs

Assumptions:
 - This affects all instance types and clusters.
 - Any solution should be backwards compatible an

[2020-01-31 18:33] #1508 closed

[2020-01-31 18:55] johnharris85 opened #1511 "Add docs for consuming existing AWS infrastructure"
**Describe the solution you'd like**
The current quickstart / docs assume CAPA will be creating all infrastructure (VPC etc).

We should add a section describing the requirements (resources / tags / etc...) for consuming existing infrastructure.

cc/ @scottslowe

/kind feature

[2020-02-03 19:37] #1416 closed

[2020-02-03 22:04] detiber commented on #930
/remove-lifecycle stale

[2020-02-04 18:11] #1387 closed

[2020-02-04 18:11] #1410 closed

[2020-02-04 18:11] #1510 closed

[2020-02-04 21:15] ncdc opened #1520 "Panic in getAPIServerClassicELBSpec"
**What steps did you take and what happened:**
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-e2e-master/1224459024594898945 is failing because the capa pod is panicking.

https://storage.googleapis.com/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-e2e-master/1224459024594898945/artifacts/logs/capa-controller-manager/capa-controller-manager-768c8

[2020-02-04 21:16] ncdc commented on #1520
Broken by https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1442

[2020-02-04 21:20] vincepri commented on #1520
@ncdc working on a fix or you want me to?

[2020-02-04 21:23] ncdc commented on #1520
I'm on it

[2020-02-04 21:23] ncdc commented on #1520
/lifecycle active

[2020-02-04 21:44] #1520 closed

[2020-02-05 09:32] sirao opened #1522 "Panic Error during cluster provisioning"
/kind bug

Running E2E tests through test grid and seeing all the tests are failing as the cluster provisioning is not getting completed.

Expectation: Cluster provisioning should be completed with no issues.

When checked the CAPA logs, observed that panic error occurred during ClassicELBProvisioning blocking the provisioning and below is the error message:

`I0204 20:47:19.973318       1 gateway

[2020-02-05 09:33] sirao commented on #1522
All components logs can be accessed here: https://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-aws/1501/pull-cluster-api-provider-aws-e2e/1224792986341085184/artifacts/logs/

[2020-02-05 11:33] ncdc commented on #1522
We fixed this yesterday: #1521

[2020-02-05 11:33] ncdc commented on #1522
/close

[2020-02-05 11:33] #1522 closed

[2020-02-05 11:36] ncdc opened #1523 "AccessDeniedException: secretsmanager:TagResource"
/kind bug

**What steps did you take and what happened:**
From https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-e2e-master/1224989335258927106

Log: https://storage.googleapis.com/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-e2e-master/1224989335258927106/artifacts/logs/capa-controller-manager/capa-controller-manager-768c8cb9fc-4zzmw/manager.log

[2020-02-05 12:53] #1523 closed

[2020-02-06 09:37] sirao opened #1530 "Machine NodeRef is not getting assigned as the request to LB is timing out"
Run the E2E tests.

Should be able to create the control plane after successful completion cluster provisioning.

In CAPI logs, below error messages seen:
`E0206 09:16:47.033204       1 controller.go:258] controller-runtime/controller "msg"="Reconciler error" "error"="Get https://test-31mn8o-apiserver-182030076.us-west-2.elb.amazonaws.com:6443/api?timeout=32s: EOF"  "controller"="machine" "request

[2020-02-06 19:23] ncdc commented on #1530
Since this is a test against the master branch, I assume the CAPI version is not v0.2.6 but actually CAPI for v1alpha3, right?

[2020-02-06 19:25] ncdc commented on #1530
I don't see `journalctl` log output in the prow artifacts. I don't think we'll be able to debug without that. Any chance you can adjust the PR to do more log gathering, similar to what's in https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/aad48bd4140f10703d6f05bc83a66a284350734a/hack/ci/e2e-conformance.sh#L32-L93?

[2020-02-06 19:26] ncdc commented on #1530
It's possible this is running into a newly discovered issue with moving the bootstrap data to AWS Secrets Manager (a 10kb limit). We'll be filing an issue for that shortly.

[2020-02-06 19:30] vivgoyal opened #1531 "Validation exception because secret crosses 10k limit on creation of a machine"
/kind bug
I am seeing validation exception because secret crosses 10k limit on creation of a machine.
"msg"="Reconciler error" "error"="ValidationException: 1 validation error detected: Value at 'secretBinary' failed to satisfy constraint: Member must have length less than or equal to 10240\n\tstatus code: 400

**What steps did you take and what happened:**
[A clear and concise description of what

[2020-02-06 19:35] ncdc commented on #1531
AWS Secrets Manager maxes the secret data at 10240 bytes per secret. Will need to chunk, store multiple secrets, and then stitch back together in the cloud-init script.

[2020-02-06 21:50] wfernandes opened #1532 "Fix make generate-examples"
/kind bug
/help
/good-first-issue

**What steps did you take and what happened:**
`make generate-examples` fails.
[code]

**What did you expect to happen:**
Expected to generate examples.

**Anything else you would like to add:**
When I commented the section below the command passed.
[code]

**Environment:**

- Cluster-api-provider-aws version: aad48bd4140f10703d6f05bc83a66a284350734a

[2020-02-07 05:03] sirao commented on #1530
Yes. CAPI for v1alpha3.

[2020-02-07 15:49] vincepri commented on #1532
It seems that the issue might be upstream rather than here given that there seems to be two identical capi-controller-manager patches

[2020-02-07 16:33] richardcase opened #1534 "[Umbrella] Support for EKS"
/kind feature

**Describe the solution you'd like**
I'd like to see the ability to create/manage EKS clusters using Cluster API. This is the parent issue for implementing EKS. There are sub tasks and issues listed below for implementation of specific functionality.

**Anything else you would like to add:**
This comes up quite a bit in discussions with customers around capi. Especially in hybrid on

[2020-02-07 23:47] vincepri opened #1537 "cleanup: enable `unused` linter"
After #1535, we updated the golangci-lint to the latest version and matched the upstream Cluster API format for the linter, it seems there were a bunch of linters missing.

- Head over to [.golanci-lint.yaml](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/.golangci.yml) in the root of this repository.
- Remove the linter from the `linters.disable` list.
- Run `make lint-fu

[2020-02-07 23:48] vincepri opened #1538 "cleanup: enable `stylecheck` linter"
After #1535, we updated the golangci-lint to the latest version and matched the upstream Cluster API format for the linter, it seems there were a bunch of linters missing.

- Head over to [.golanci-lint.yaml](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/.golangci.yml) in the root of this repository.
- Remove the linter from the `linters.disable` list.
- Run `make lint-fu

[2020-02-07 23:48] vincepri opened #1539 "cleanup: enable `gosimple` linter"
After #1535, we updated the golangci-lint to the latest version and matched the upstream Cluster API format for the linter, it seems there were a bunch of linters missing.

- Head over to [.golanci-lint.yaml](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/.golangci.yml) in the root of this repository.
- Remove the linter from the `linters.disable` list.
- Run `make lint-fu

[2020-02-07 23:48] vincepri opened #1540 "cleanup: enable `staticcheck` linter"
After #1535, we updated the golangci-lint to the latest version and matched the upstream Cluster API format for the linter, it seems there were a bunch of linters missing.

- Head over to [.golanci-lint.yaml](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/.golangci.yml) in the root of this repository.
- Remove the linter from the `linters.disable` list.
- Run `make lint-fu

[2020-02-07 23:48] vincepri opened #1541 "cleanup: enable `errcheck` linter"
After #1535, we updated the golangci-lint to the latest version and matched the upstream Cluster API format for the linter, it seems there were a bunch of linters missing.

- Head over to [.golanci-lint.yaml](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/.golangci.yml) in the root of this repository.
- Remove the linter from the `linters.disable` list.
- Run `make lint-fu

[2020-02-07 23:48] vincepri opened #1542 "cleanup: enable `scopelint` linter"
After #1535, we updated the golangci-lint to the latest version and matched the upstream Cluster API format for the linter, it seems there were a bunch of linters missing.

- Head over to [.golanci-lint.yaml](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/.golangci.yml) in the root of this repository.
- Remove the linter from the `linters.disable` list.
- Run `make lint-fu