[2021-11-04 07:58] richardcase commented on #2911
/priority critical-urgent
/area provider/eks
/assign
/lifecycle active

[2021-11-04 08:06] #2886 closed

[2021-11-04 08:21] sayantani11 opened #2913 "Change branch from master to main in few files"
/kind bug

**What steps did you take and what happened:**
The branch in capa has been renamed to main quite some time ago. As per https://cs.k8s.io/?q=cluster-api%2Fblob%2Fmaster&i=nope&files=&excludeFiles=&repos= there are still a few files in which the branch is still not changed from master.

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
-

[2021-11-04 08:22] sayantani11 commented on #2913
/assign
cc @richardcase @nader-ziada

[2021-11-04 08:23] sayantani11 commented on #2913
cc @randomvariable @richardcase

[2021-11-04 09:47] richardcase commented on #2911
And looking back over the code all the test assume just installing 1 addon.....at the time there was only 1 addon available. I am updating the e2e as part of this as well.

[2021-11-04 09:49] richardcase commented on #2913
So just in comments but we should change these:

/triage accepted
/help
/good-first-issue
/priority backlog

[2021-11-04 09:49] richardcase commented on #2912
/triage accepted
/priority backlog

[2021-11-04 11:06] randomvariable commented on #2913
Yup, this seems reasonable. We couldn't change those before because the Cluster API repo didn't switch over until relatively recently (in the last 2 months). We can definitely clean it up now.

[2021-11-04 20:04] DiptoChakrabarty commented on #2913
hey would like to take it up

[2021-11-04 20:04] DiptoChakrabarty commented on #2913
/assign

[2021-11-05 02:32] sedefsavas opened #2915 "Creating a new ec2 instance for the same AWSMachine"
/kind bug

**What steps did you take and what happened:**

In a fully functional v1alpha3 cluster, while a healthy ec2 instance exists, a second instance is created by the AWSMachine controller for the same `AWSMachine` due to unknown reasons.

During AWSMachine `reconcileNormal()`, we check if the instance exists; if not, a new instance is created: https://github.com/kubernetes-sigs/cluster-api-p

[2021-11-05 02:32] sedefsavas commented on #2915
/triage accepted
/priority important-soon

[2021-11-05 05:03] sayantani11 commented on #2913
@DiptoChakrabarty I already am assigned this if you see. Sorry but can you take another issue.
Thanks.

[2021-11-05 05:05] sayantani11 commented on #2913
/unassign @DiptoChakrabarty

[2021-11-05 14:37] #2913 closed

[2021-11-05 14:48] randomvariable commented on #2420
/assign

for initial scoping

[2021-11-06 20:00] richardcase commented on #2911
Going to cherrypick this back to 0.6 and 0.7.

[2021-11-06 20:01] richardcase commented on #2908
/triage accepted
/priority critical-urgent
/area provider/eks
/help

[2021-11-06 20:03] richardcase commented on #2239
/unassign
/help

[2021-11-06 20:05] richardcase commented on #2764
/unassign
/priority awaiting-more-evidence

[2021-11-07 16:31] 10hin opened #2918 "EKS control plane failed to allocate ELB instance"
/kind bug

**What steps did you take and what happened:**

I create a cluster with EKS control plane and managed machine pool according to document:
https://cluster-api-aws.sigs.k8s.io/topics/eks/creating-a-cluster.html
Then, create Service resource in the cluster with type=LoadBalancer.
But cloud-controller-manager failed to assign ELB instance to the Service resource.
By my investigation, this p

[2021-11-08 18:14] randomvariable commented on #2239
@richardcase can you add priority?

[2021-11-08 18:15] randomvariable commented on #2238
Can you prioritise @richardcase ?

[2021-11-08 18:15] randomvariable commented on #2298
/lifecycle frozen

[2021-11-08 18:19] randomvariable opened #2924 "Add documentation for use of failure domains in CAPA with single-AZ constraints"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

In discussions around whether or not MDs should support multiple AZs, I believe we've reached the conclusion that this is not a thing we want to support as it hides failure domains from consumers such as Cluster Autoscaler. We should make clear in documentation and APIs where this con

[2021-11-08 18:19] randomvariable commented on #2924
/priority important-soon
/triage accepted
/area api
/milestone v1.x

[2021-11-08 18:20] randomvariable commented on #2298
We've had a bunch of discussion since this was opened and the outcome is in #2924

Apologies!

/close

[2021-11-08 18:20] #2298 closed

[2021-11-08 18:21] randomvariable commented on #2316
/priority important-soon
/triage accepted
/area networking
/milestone v1.x

[2021-11-08 18:32] randomvariable commented on #2584
Released in v0.7.1 and v1.0.0

/close

[2021-11-08 18:32] #2584 closed

[2021-11-08 18:34] randomvariable commented on #2055
Is this still active?

[2021-11-08 18:35] randomvariable commented on #2654
@bishtsaurabh5 do you still want to work on this?

[2021-11-08 18:36] randomvariable commented on #2653
@pydctw make sure not to leave a space between # and the issue number in `Fixes #<Issue>`

/close

[2021-11-08 18:37] randomvariable commented on #2169
/lifecycle frozen

[2021-11-08 18:38] randomvariable commented on #392
/priority important-soon

[2021-11-08 18:38] randomvariable commented on #392
/unassign

[2021-11-08 18:43] randomvariable commented on #2397
@Madhur97 the issue is a discussion point. Don't open a PR until we've made a discussion.

If you're not working on this, remove yourself from assignment.

[2021-11-08 18:43] randomvariable commented on #2397
/lifecycle frozen
/priority important-longterm

[2021-11-08 18:44] randomvariable commented on #2380
/help

Chat to me if you're interested

[2021-11-08 18:44] randomvariable commented on #2336
/assign @Madhur97
/lifecycle active

[2021-11-08 18:45] randomvariable commented on #2335
/lifecycle frozen
/area security
/priority important-soon
/triage accepted

[2021-11-08 18:46] randomvariable commented on #2309
/lifecycle frozen

[2021-11-08 18:47] randomvariable commented on #2283
/priority backlog

[2021-11-08 18:53] randomvariable commented on #2272
/priority backlog
/triage accepted
/help

[2021-11-08 18:55] randomvariable commented on #2268
@sfzylad , let's chat about this at some point too.

[2021-11-08 18:55] randomvariable commented on #2268
/priority important-longterm

[2021-11-08 18:58] randomvariable commented on #2267
/priority backlog
/triage accepted

[2021-11-08 18:59] randomvariable commented on #2256
/priority important-soon
/triage accepted

[2021-11-08 18:59] randomvariable commented on #2251
/priority backlog

[2021-11-08 19:01] randomvariable commented on #2212
/priority backlog
/triage accepted

[2021-11-08 19:02] randomvariable commented on #2208
/triage accepted
/priority important-longterm

[2021-11-08 19:02] randomvariable commented on #2208
/lifecycle frozen

[2021-11-08 19:03] randomvariable commented on #2208
/help

Need to understand cloud-init a bit if you're going to pick it up. Do reach out.

[2021-11-08 19:04] randomvariable commented on #2146
Do we still want to do this given we merged the controllers together?

[2021-11-08 19:05] randomvariable commented on #2146
/triage cancel

[2021-11-08 19:05] randomvariable commented on #2146
/untriage

[2021-11-08 19:05] randomvariable commented on #2146
/triage ?

[2021-11-08 19:05] randomvariable commented on #2146
/priority awaiting-more-evidence

[2021-11-08 19:06] randomvariable commented on #2105
Should be done in conjunction with #2274

[2021-11-08 19:07] randomvariable commented on #2105
/lifecycle frozen

[2021-11-08 19:07] randomvariable commented on #2146
/remove triage

[2021-11-08 19:08] #2075 closed

[2021-11-08 19:09] randomvariable commented on #2022
@dthorsen from the discussion in Slack, I think in your fork you have the API change in CAPI rather than CAPA. Can you open up an issue there? We can continue with this one for tracking...

[2021-11-08 19:09] randomvariable commented on #2022
/priority important-soon

[2021-11-08 19:10] randomvariable commented on #1951
/priority backlog

[2021-11-08 19:10] randomvariable commented on #1951
/area security

[2021-11-08 19:11] randomvariable commented on #1875
/close
in favour of https://github.com/kubernetes-sigs/cluster-api/issues/5294

[2021-11-08 19:11] #1875 closed

[2021-11-08 19:12] randomvariable commented on #1829
Superseded by https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2924

[2021-11-08 19:13] randomvariable commented on #1829
/close

[2021-11-08 19:13] #1829 closed

[2021-11-08 19:18] randomvariable opened #2925 "Move non-exposable code to internal"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2021-11-08 19:18] randomvariable commented on #2925
/assign @sedefsavas

[2021-11-08 19:19] randomvariable commented on #962
Do as follow up to https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2925

[2021-11-08 19:19] randomvariable commented on #613
/lifecycle active
/milestone v1.2.0

[2021-11-08 19:19] #613 closed

[2021-11-08 19:20] randomvariable commented on #519
Superseded by #1256

[2021-11-08 19:20] #519 closed

[2021-11-08 19:21] randomvariable commented on #491
/priority backlog
/triage accepted

[2021-11-08 19:21] randomvariable commented on #2317
/priority backlog
/milestone Backlog

[2021-11-08 19:22] randomvariable commented on #2484
/priority backlog
/triage accepted

[2021-11-08 19:22] randomvariable commented on #2508
/priority backlog

[2021-11-08 19:23] randomvariable commented on #2412
/priority important-soon

[2021-11-08 19:24] randomvariable commented on #2330
/area performance
/priority important-soon

[2021-11-08 19:25] randomvariable commented on #2180
Is this error still a thing?

[2021-11-08 19:25] randomvariable commented on #2078
We can close this out since controllers are now merged

/close

[2021-11-08 19:25] #2078 closed

[2021-11-08 19:27] randomvariable commented on #2219
/priority backlog

[2021-11-08 19:28] randomvariable commented on #1955
/priority backlog

[2021-11-08 19:28] randomvariable commented on #2141
/priority backlog

[2021-11-08 19:29] randomvariable commented on #2218
/priority important-soon

[2021-11-08 19:30] randomvariable commented on #2178
/priority backlog

[2021-11-08 19:30] randomvariable commented on #964
/priority important-soon

[2021-11-08 19:31] randomvariable commented on #2173
/priority backlog

However, we might want to start using this sooner to start testing some edge scenarios for Cluster API in general

[2021-11-08 19:33] randomvariable commented on #1746
/priority important-soon

[2021-11-09 08:49] calvix commented on #2609
jumping back on this, @randomvariable  where is type SubnetReference located? in which package?

[2021-11-09 09:13] #2905 closed

[2021-11-09 09:25] #2911 closed

[2021-11-09 15:00] sedefsavas commented on #2609
@calvix I `SubnetReference` would be a new struct which holds only the fields that is used (for instance if ARN is not used, it should not be there) but we can no longer do any changes in the api (AWSResourceRef to SubnetRef) until v1beta2 release, so that change has to wait for a bit.
We can proceed with implementing what is necessary to consider filters for AWSMachinePools.

[2021-11-09 16:50] sedefsavas opened #2930 "Make CAPA tooling work on arm64"
We should remove some hard-coded `amd64` to allow dev tooling to work on Darwin/arm64 following cluster-api.

See kubernetes-sigs/cluster-api#5547

[2021-11-09 16:51] sedefsavas commented on #2930
/triage accepted
/priority backlog
/milestone Backlog

[2021-11-09 16:52] sedefsavas commented on #2930
/help

[2021-11-09 21:52] sedefsavas commented on #1642
Just dumping some findings:

Currently, Azure SDK supports non-blocking, asynchronous calls via `Future` constructs, which makes it easy to make CAPZ re-entrant. CAPZ controllers don't need to make a new call to get the status of a resource at each reconcile (which causes hitting API limits). When a resource is created, `Future` result appears.

I see that AWS SDK Java introduced async clients but

[2021-11-10 15:26] sbueringer commented on #2834
@randomvariable Bug has been fixed in CR.

PR to pick up the fix in CAPI v1.0.x: https://github.com/kubernetes-sigs/cluster-api/pull/5632/files

not sure when it will land on CAPI main (https://github.com/kubernetes-sigs/cluster-api/issues/5576)

[2021-11-10 16:12] sedefsavas opened #2932 "Serve book in v1alpha3 and v1alpha4 versions"
We only serve main branch book link.
It would be good to serve book in multiple versions like cluster api does.

- [Current stable release](https://cluster-api.sigs.k8s.io)
- [Tip of the main branch](https://main.cluster-api.sigs.k8s.io/)
- [v1alpha4 release branch](https://release-0-4.cluster-api.sigs.k8s.io/)
- [v1alpha3 release branch](https://release-0-3.cluster-api.sigs.k8s.io/)

It requires

[2021-11-10 17:55] vibhorrawat commented on #2029
@richardcase Hey there, Latest on this issue- I'm ready with the required template (added the aforementioned suggestions); however, I'm struggling to test that locally.

Here is what I have done till date-

- I have followed the developer [guide](https://cluster-api-aws.sigs.k8s.io/development/tilt-setup.html#run-tilt) to build the `kind cluster` locally using `tilt`. Thanks to @sedefsavas I was u

[2021-11-10 18:58] sedefsavas opened #2935 "Replace conformance test with ClusterUpgradeConformanceSpec"
We should replace the [conformance test ](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/aae8297d9e576028f9c7bb378455cac7cc513302/test/e2e/suites/conformance/conformance_test.go#L38)with [ClusterUpgradeConformanceSpec](https://github.com/kubernetes-sigs/cluster-api/blob/bbefd811f2424cbb3f31d336f17f58f235061b3c/test/e2e/cluster_upgrade_test.go#L28) which upgrades a cluster and the

[2021-11-10 20:58] sedefsavas opened #2936 "Convert identity management into a library"
We reconcile CAPA resources by creating sessions based on the identity reference provided in their corresponding `AWSCluster`.

For creating those sessions, we use some helper functions for creating an AWS SDK identity provider based on the CAPA identity resource. These helper functions would be useful for external providers that reconcile CAPA resources and want to support multi-tenancy.

This PR

[2021-11-10 20:58] sedefsavas commented on #2936
/priority important-soon
/triage accepted
/milestone v1.x

[2021-11-10 22:03] dlipovetsky commented on #2915
Thanks for filing this! I have seen at least two internal reports of what appears to be this issue. The reports are for CAPA v0.7.0. If we can create a failing test for this issue, let's check if it also fails on the release-0.7 branch.

[2021-11-10 23:13] dlipovetsky commented on #2915
The EC2 API is eventually consistent: One server might fulfill the RunInstances API call. Later another server, without the latest information on the set of created instances, might fulfill the DescribeInstances call, and return no matching instances.

[2021-11-11 04:25] dlipovetsky commented on #2915
To address the issue of eventual consistency, we should make our RunInstances API calls idempotent.

We'll need to create a client token (64 character string), store it with the AWSMachine, and use that token every time we call RunInstances for that AWSMachine.

See https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html#run-instances-idempotency

[2021-11-11 12:09] vibhorrawat commented on #2029
Thank you @sedefsavas. I will give another try for it.

[2021-11-11 13:11] richardcase commented on #2029
@vibhorrawat - feel free to ping me on slack as well if you need help.

[2021-11-11 13:14] #2504 closed

[2021-11-11 16:20] sbueringer opened #2939 "Add quickstart e2e test with ClusterClass"
/kind feature

**Describe the solution you'd like**

It would be nice if we could add a first e2e test to test ClusterClass with CAPA

**Anything else you would like to add:**

My idea would be to take the regular CAPA quickstart e2e test and implement it with ClusterClass (similar to the ClusterClass quickstart e2e test we already have in the cluster-api core repo).

Note:
* This depends on https

[2021-11-11 16:20] sbueringer commented on #2939
/assign
/are testing

[2021-11-11 16:20] sbueringer commented on #2939
/area testing

[2021-11-11 16:22] sedefsavas commented on #2939
/triage accepted
/milestone v1.x
/priority backlog

[2021-11-11 16:31] sbueringer opened #2940 "Bump to latest CAPI main version for Go 1.17 / CR v0.11+ / k8s.io v1.23.0-alpha4"
/kind feature

It would be nice to bump CAPA to the latest CAPI version to pickup the new Go / controller-runtime and k8s.io/ versions

Note:
* This also requires bumping the CAPA periodics / presubmits / postsubmits roughly at the same time from ~ `gcr.io/k8s-staging-test-infra/kubekins-e2e:v20211110-cdea54775d-1.21` to `gcr.io/k8s-staging-test-infra/kubekins-e2e:v20211110-cdea54775d-master` (so

[2021-11-11 17:03] sedefsavas commented on #2915
@dlipovetsky
We wait until instances come up before proceeding (`WaitUntilInstanceRunningWithContext`), it should be enough time to propagate the info and be consistent about the existence of the instance.

In the issue I observed, instances did not spawned back to back. The first instance works for several months, and for some reason at a later point in time, `DescribeInstance()` returns `not fou

[2021-11-11 17:15] sbueringer commented on #2940
/assign

[2021-11-11 17:21] sedefsavas opened #2941 "[e2e] Enable out-of-tree cloud-provider and CSI in e2e tests"
Since we are getting close to the release where in-tree cloud providers are removed from Kubernetes repo, it would be good to enable out-of-tree cloud providers by default in all of our e2e tests.

This gets us closer to defaulting to out-of-tree cloud provider issue is: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/964

/area testing
/priority important-soon
/milestone v1.x
/

[2021-11-11 17:25] sbueringer commented on #2940
I'll give it a try, might need some help, let's see.

[2021-11-11 17:51] sedefsavas opened #2942 "Add AWSClusterTemplate type for ClusterClass support"
/kind api-change

**Describe the solution you'd like**

Add a new CRD named AWSClusterTemplate. This is needed for ClusterClass.
In the short term this type will not be used outside of ClusterClass.

[2021-11-11 18:05] sedefsavas commented on #2942
/priority important-soon
/triage accepted

[2021-11-11 19:42] randomvariable opened #2944 "Migrate to updated go-logr interface"
go-logr changed the Logger interface to a struct and introduced a LogSink interface which is slightly different.

I've opted for embedding the old interface, because I think otherwise we would have to refactor a lot of code.

Not sure if that's okay / there are better alternatives

_Originally posted by @sbueringer in https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2943#r747734949

[2021-11-11 20:54] #2940 closed

[2021-11-11 20:59] sbueringer commented on #2602
Has been fixed in https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2685

/close

[2021-11-11 21:00] #2602 closed

[2021-11-11 21:13] sbueringer commented on #2942
@sedefsavas I think this might already be implemented: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2575

[2021-11-11 21:40] sedefsavas commented on #2942
I was on vacation when it was merged :smile:, missed it. Thanks @sbueringer

[2021-11-11 21:40] #2942 closed

[2021-11-11 21:44] sbueringer commented on #2942
@sedefsavas Some additional info. I have to wait until https://github.com/kubernetes-sigs/cluster-api/pull/5583 is merged in core CAPI, but apart from that I have a CAPA ClusterClass quickstart test working (https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2945)

[2021-11-12 17:49] dthorsen commented on #2022
@randomvariable The field is set in CAPI, but the implementation is delegated to the providers. So I will have a PR to both CAPI and CAPA when I'm done. I'm starting on this now.

[2021-11-12 20:13] dthorsen commented on #2022
@devigned In the case of something like Azure Managed Machine Pools, I think the upgrade has to be handled by the cloud provider anyway. For the unmanaged AzureMachinePools, I am not sure yet. AWS has a concept of Instance Refresh we use to rotate the instances at the cloud provider level, so it is not an issue there. Does VMSS have a similar API?

[2021-11-12 23:06] dlipovetsky commented on #2915
Interesting! In this case, the AWSMachine has a ProviderID, and the DescribeInstance query returns a NotFound error.

That _should_ only happen if the instance has been deleted. While it is true that, for about an hour after the instance is deleted, its record should be found, eventually the record is removed.

Of course, we can file an issue with AWS, because the EC2 service returned a false reco

[2021-11-12 23:12] dlipovetsky commented on #2915
We could tag every instance with a unique identifier derived from the AWSMachine. When we reconcile the AWSMachine, we look for all instances matching this unique identifier. If we find more than instance that matches, we raise a warning to the user by setting a Condition, and recording an Event.

While we _could_ use a heuristic to delete all but one matching instance, I think that could have uni

[2021-11-15 05:37] Ankitasw commented on #2674
/lifecycle active

[2021-11-15 14:04] voor commented on #2797
This is definitely still occurring with extreme irregularity, but we were able to change our kapp config to handle the changes.  Rather than iterate through each index, kapp just ignores the entirety of the subnet block.

Since we fixed the issue elsewhere, and it happens with such an extremely small chance, I highly doubt I'll be able to recreate it.

Instead of:
[code]
We now just have:
[code]

[2021-11-15 14:06] voor commented on #2797
Suggest we change this issue to be some kind of warning or documentation that this occurs with extreme infrequency, and to plan accordingly.  Since this is consistently inconsistent with all AWS queries based on tags, it might be worth noting in a more common place.  I would say this is a misalignment with Kubernetes philosophy and justifies a call-out.

[2021-11-15 14:57] sedefsavas commented on #2797
/milestone 1.x
/priority important-soon

[2021-11-15 14:58] sedefsavas commented on #2797
/milestone v1.x

[2021-11-15 18:29] #2834 closed

[2021-11-15 18:32] sedefsavas commented on #2794
@shivi28 is there any update on this bug?

[2021-11-15 18:32] sedefsavas commented on #2793
/assign

[2021-11-15 18:33] sedefsavas commented on #2788
/assign

[2021-11-15 18:34] sedefsavas commented on #2778
/close
We will track the remaining issues in their own thread.

[2021-11-15 18:34] #2778 closed

[2021-11-15 18:48] sedefsavas commented on #2274
TODO: Remove the KIAM documents and point to Multi-tenancy instead.

[2021-11-15 19:57] richardchen-db opened #2949 "Requeue after EKS cluster creation request is sent / cluster transitioned to UPDATING"
/kind refactor

**Describe the solution you'd like**
Currently, CAPA does not requeue for EKS cluster creation / update, instead, it continues on reconciliation.
- Creation: It waits for cluster to be active (https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/pkg/cloud/services/eks/cluster.go#L58-L79)
- Update: It continues on reconciliation for example for cluster version updat

[2021-11-15 21:01] sedefsavas opened #2951 "Backporting EKS multiple addons support to v1alpha3 release"
Creating this issue to remember backporting https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2914 before we make the v0.6.10 release this week.

[2021-11-15 21:02] sedefsavas commented on #2951
/assign @richardcase
/triage accepted

[2021-11-15 22:11] sedefsavas opened #2953 "Parallelizing resource creation"
/kind feature

There is room for improvement for AWSCluster/AWSMachine creation time by parallelizing resource creation furter.

Similar to [NAT gateway creation parallelization](https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1792), we can evaluate which resource can be created without waiting which others with a dependency graph.

Some examples on what we can do further:

1. S

[2021-11-15 23:10] sedefsavas opened #2954 "Migrate all e2e templates to ClusterClass"
It will be a good exercise to confirm everything is working with ClusterClass.

Could be done after https://github.com/kubernetes-sigs/cluster-api/pull/5583 gets merged.

/priority backlog
/milestone Backlog
/triage accepted

[2021-11-15 23:14] wmgroot opened #2955 "Error: failed to list objects for the "infrastructure.cluster.x-k8s.io/v1alpha4, Kind=AWSClusterControllerIdentity" during upgrade to CAPI 1.0"
/kind bug

**What steps did you take and what happened:**
I am trying to upgrade a cluster from CAPI 0.3 to CAPI 1.0.

I've successfully updated our test cluster from 0.3 to 0.4 by following these steps

1. Download clusterctl 0.4.4
2. Run `clusterctl upgrade plan` and `clusterctl upgrade apply`
3. Ensure all CRDs are now using alpha4 instead of alpha3
4. Verify by rolling all nodes in the cluster

[2021-11-15 23:17] sedefsavas commented on #2955
@randomvariable any ideas why this error shows up:
`Error: failed to list objects for the "infrastructure.cluster.x-k8s.io/v1alpha4, Kind=AWSClusterControllerIdentity" GroupVersionKind: conversion webhook for infrastructure.cluster.x-k8s.io/v1alpha3, Kind=AWSClusterControllerIdentity failed: Post "https://capa-webhook-service.capa-system.svc:443/convert?timeout=30s": dial tcp 44.145.89.35:443: con

[2021-11-16 03:39] pydctw commented on #2935
/assign

[2021-11-16 08:54] richardcase commented on #2951
/lifecycle active
/area provider/eks
/priority critical-urgent
/kind bug

[2021-11-16 08:55] richardcase commented on #2949
/area provider/eks
/priority important-soon
/help

[2021-11-16 09:06] richardcase commented on #2949
To give some extra detail/background:

* [creation](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/pkg/cloud/services/eks/cluster.go#L58-L79) - the original implementation of EKS in CAPA made a lot of use of the `Wait` functions in the AWS SDK to pause (i.e. wait) reconciliation until the EKS cluster reached the desired status. After discussions over a number of different is

[2021-11-16 09:15] #2674 closed

[2021-11-16 09:29] #2788 closed

[2021-11-16 10:39] #2636 closed

[2021-11-16 12:22] Ankitasw commented on #2222
/assign

[2021-11-16 17:02] sedefsavas commented on #2955
There is a fix that will be in the next cluster-api release for this in clusterctl side: https://github.com/kubernetes-sigs/cluster-api/pull/5681

[2021-11-16 17:18] wmgroot commented on #2955
When was the capa-webhook-service introduced?

I can see that it does not exist on our clusters running capi 0.3, provider-aws 0.6.7.
[code]

However, it does exist after attempting to run the upgrade from capi 0.4 to 1.0
[code]

I believe the error is a direct result of the Pods for this Service not being available, the timeout occurs because no Pod exists to serve the request made to capa-webhoo

[2021-11-16 17:19] wmgroot commented on #2955
Just saw your note, thanks for the update.

[2021-11-16 18:37] #2222 closed

[2021-11-16 19:54] shivi28 commented on #2794
Hey @sedefsavas, I am going to add debouncing logic and introduce a debouncing window in AWSCluster and AWSMachine reconcilers. Will raise a PR in this week

[2021-11-16 20:16] richardchen-db opened #2966 "Add Creating/Updating conditions to EKS node group"
/kind feature

**Describe the solution you'd like**
We have [Ready/Creating/Updating conditions](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/4274a5ab5c9dc391045840d6e45e17fe0cbab3dc/controlplane/eks/api/v1beta1/conditions_consts.go#L23-L29) for EKS control plan, however there is only [Ready condition](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/4274a5ab5c9

[2021-11-16 20:31] sedefsavas commented on #2793
Fixed in https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2950

[2021-11-16 20:31] #2793 closed

[2021-11-16 20:32] sedefsavas commented on #2464
Since this is documentation, I am bumping the milestone to the next release.
/milestone v1.2.0

[2021-11-16 20:59] richardcase commented on #2966
/area provider/eks
/help
/priority important-soon
/triage accepted

[2021-11-16 21:07] richardcase commented on #2966
/milestone v1.2.0

[2021-11-16 21:09] richardcase commented on #2853
/milestone v1.2.0

[2021-11-16 21:10] richardcase commented on #2891
/milestone v1.2.0

[2021-11-16 22:40] devigned commented on #2022
For AMMP, that would be an update to AKS and then it would handled there. AKS also has the min / max settings for autoscaling, and that should soon be configurable on the AMMP.

As for AMP, replicas `nil` kind of makes sense when using CA to manage pools directly through the cloud's API rather than through CAPI. However, some of the work going on in the [MachinePoolMachines proposal](https://docs.

[2021-11-17 01:00] dthorsen commented on #2022
In the implementation in our fork of CAPI/CAPA, we have used the `externallyManagedReplicaCount` field on the MachinePool to reverse the flow of reconciliation. The infrastructure provider updates the `spec.replicas` and relevant status fields on the MachinePool every reconciliation loop. So the replicas are not nil, in fact if I recall correctly it isn't possible to have replicas be nil. If it is

[2021-11-17 11:13] richardcase commented on #2771
Moving miletone

/milestone v1.2.0

[2021-11-17 11:14] richardcase commented on #2828
Moving as the bootstrap command feature isn't quite ready:

/milestone v1.2.0

[2021-11-17 12:48] richardcase opened #2967 "[e2e] EKS tests failing for 0.6"
/kind bug
/area provider/eks
/area testing
/priority critical-urgent

**What steps did you take and what happened:**
The EKS e2e tests are failing for the release-0.6 branch:

[code]

I suspect they have been failing for some time. So we need to fix the tests before the next release of 0.6 and also we need to add periodic testing.

**What did you expect to happen:**
I expect the eks e2e tests to p

[2021-11-17 12:48] richardcase commented on #2967
/assign
/lifecycle active

[2021-11-17 12:50] richardcase opened #2968 "[e2e] Enable periodic EKS e2e tests for release-0.6"
/kind feature
/area provider/eks
/area testing
/priority critical-urgent

**Describe the solution you'd like**
We need to enable periodic running of the eks e2e on the release-0.6 branch.

**Anything else you would like to add:**
The eks e2e are failing on release-0.6 see #2967

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/e

[2021-11-17 12:51] richardcase commented on #2968
/assign

[2021-11-17 12:52] richardcase opened #2969 "[e2e] Enable periodic EKS e2e tests for release-0.7"
/kind feature
/area provider/eks
/area testing
/priority critical-urgent

**Describe the solution you'd like**
We need to enable periodic running of the eks e2e on the release-0.7 branch.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
-

[2021-11-17 12:52] richardcase commented on #2969
/assign

[2021-11-17 12:53] richardcase commented on #2969
/triage accepted

[2021-11-17 12:53] richardcase commented on #2968
/triage accepted
/milestone v0.6.10

[2021-11-17 12:54] richardcase commented on #2967
/triage accepted
/milestone v0.6.10

[2021-11-17 22:15] #2915 closed

[2021-11-18 11:26] randomvariable commented on #392
/unassign

design is needed.

[2021-11-18 14:35] Ankitasw commented on #392
/unassign

[2021-11-19 10:44] Ankitasw commented on #2912
/assign

[2021-11-19 14:02] Ankitasw commented on #2912
@richardcase Does it look fine now?
[Recent logs after the fix](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-aws/2976/pull-cluster-api-provider-aws-e2e/1461647520751947776/artifacts/clusters/bootstrap/controllers/capa-controller-manager/capa-controller-manager-7bd56cd58-mtpk8/manager.log)

[2021-11-19 14:48] richardcase commented on #2912
@Ankitasw - the logs look a lot better :+1: I haven't looked at the PR yet....what was the problem?

[2021-11-19 14:53] Ankitasw commented on #2912
Whenever we are trying to fetch the queue URL, in awsinstancestate controller, I checked for this error to skip. Not sure if that's fine to skip or shall we still throw those error.

[2021-11-19 20:47] #2935 closed

[2021-11-19 21:10] sedefsavas opened #2978 "Add documentation for the EventBridge feature"
Last year, we added a feature called `EventBridgeInstanceState` to immediately trigger AWSMachine reconciliation when there are ec2 instance state changes. (PR: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2037)

We are missing documentation of it.

/kind documentation
/priority important-soon
/milestone v1.2.0

[2021-11-19 21:11] sedefsavas commented on #2978
/triage accepted

[2021-11-23 06:42] matthewhembree opened #2981 "docs: Incorrect output format for AWS CLI (create-key-pair)."
/kind documentation

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

1. Set AWS CLI output format to YAML.
2. Followed the procedure here: https://cluster-api-aws.sigs.k8s.io/topics/using-clusterawsadm-to-fulfill-prerequisites.html#ssh-key-pair

[code]

**What did you expect to happen:**
Piping to `jq` would fail as my output format it YAML. Wo

[2021-11-23 07:24] matthewhembree opened #2983 "String literal value in template cluster-template-eks-fargate.yaml"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
The cluster name parameter in the template https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/60803851f4d691290e4a83b72afffe8378883fb3/templates/cluster-template-eks-fargate.yaml#L38 is statically defined.

**What did you expect to happen:**
The cluster name will be templat

[2021-11-23 07:59] richardcase commented on #2983
/triage accepted

[2021-11-23 08:06] #2983 closed

[2021-11-23 15:28] alon-z opened #2985 "SecondaryCidrBlock feature"
Hey, we are trying to create a vpc with multiple cidr blocks.
Seems like it needs to be done with a **SecondaryCidrBlock** but this feature is currently not implemented.
Also I could not find any issue regarding this.

What is required for this feature? Looks like some code in the reconciler is already implemented.

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/328cb4faa0f7aba5b

[2021-11-24 16:10] #2939 closed

[2021-11-25 07:19] szucsitg opened #2986 "Kustomize based install for CAPA"
/kind feature

**Describe the solution you'd like**
I'd like to install CAPA with pure* Kustomize based install, so I can manage it with GitOps based tooling declaratively.
Currently with heavy reliance on envvar substitution it's very tedious and error-prone to fix all references within the manifest.
I attached my current working solution, which still might have some issues.

_\* = IAM roles cann

[2021-11-25 11:00] richardcase commented on #2986
@szucsitg - a [CAPI provider operator](https://github.com/kubernetes-sigs/cluster-api/blob/main/docs/proposals/20201020-capi-provider-operator.md) is being worked on that will make the install and management of providers declarative and GitOps friendly. To give an example from the proposal to use CAPA:

[code]

[2021-11-25 11:03] richardcase commented on #2986
Also, it would be good to capture some of the other issues you list in the `Anything else you would like to add` as separate issues so they can be tracked/commented on.

[2021-11-25 15:40] szucsitg commented on #2986
@richardcase sure, I'll open up follow-up issues so we can discuss them one by one. I could not find the repo or if any work was put into the Provider operator, but it'd definitely would be a more consistent experience.

However some of the current hacks required to deploy it without `clusterawsadm` could be improved, I believe. Some options, but probably there are better ones:
* controller flag e

[2021-11-25 15:43] szucsitg opened #2989 "Role ARN annotation for CAPA controller-manager's Deployment resource"
/kind bug

**What steps did you take and what happened:**
Deploy CAPA 1.1.0

**What did you expect to happen:**
Not have annotation for the Deployment with key: `iam.amazonaws.com/role`

**Anything else you would like to add:**
I believe it's deprecated and superseded by IRSA and annotating the ServiceAccount.
Related to: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2986

**E

[2021-11-25 15:51] szucsitg opened #2990 "Mandatory mount of bootstrap credentials for controller-manager"
/kind bug

**What steps did you take and what happened:**
Install CAPA 1.1.0.

**What did you expect to happen:**
I expect to rely solely on IRSA therefore I can safely remove the secret containing base64 encoded credentials. It is mandatory to be mounted for the deployment.

**Anything else you would like to add:**
Current documentation only seems to suggest to use it during the initial bootstrap

[2021-11-25 16:05] szucsitg commented on #2986
I currently cannot reproduce the ServiceAccount name issue, which definitely resulted in not working role binding, hence I created the patching. the other two issue has been opened and referenced.

[2021-11-26 08:58] matthewhembree opened #2991 "AWSManagedMachinePool with availabilityZones mapped are getting public IP addresses"
/kind bug

**What steps did you take and what happened:**
Cluster with spec:
[code]

Yields the following AWSManagedControlPlane:
[code]

With the following EC2 instances:
[code]

Both subnets are being attached to the managed node group:
[code]

**What did you expect to happen:**
Based on #2302, I expect only the private subnet to be utilized for interface attachments.

Thank you.

**Anything els

[2021-11-27 14:41] dhess commented on #2075
So what happened with this issue, in the end? Is it the case that, post-bootstrap, the production management cluster will need the IAM user and credentials used in the `clusterawsadm bootstrap iam create-cloudformation-stack` step in order to perform its operations? Or does #2100 mean that the IAM user can be deleted post-bootstrap?

[2021-11-29 14:49] randomvariable commented on #2075
We don't create the IAM user by default anymore and haven't done for a long time.

`clusterawsadm bootstrap credentials encode-as-profile` takes your existing credentials and encodes them, following the same logic as the AWS CLI. Because these creds need to land inside a container without access to your home directory or env vars, they need to be temporarily present. If you're running on an EC2 in

[2021-11-29 15:11] dhess commented on #2075
Thanks for the clarification! I was in fact able to `clusterctl init` using credentials I'd generated via AWS SSO, which is perfect for our case.

[2021-11-29 15:23] sedefsavas opened #2993 "[e2e] Replace conformance test with ClusterUpgradeConformance spec"
CAPI e2e tests are taking 30 min longer after adding `ClusterUpgradeConformanceSpec`  https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2935, as it runs conformance tests.

There is a redundancy now, we are running conformance  tests in 2 different prow jobs.

There is one issue with replacing  conformance test suite with `ClusterUpgradeConformanceSpec`, we run conformance tests o

[2021-11-29 15:23] sedefsavas commented on #2993
cc @pydctw

[2021-11-29 15:35] richardcase commented on #2990
/triage accepted

[2021-11-29 18:17] dlipovetsky commented on #2449
For refrerence, the `"failed to wait for \"capi-quickstart\" ELB deletions: timed out waiting for the condition"` error originates here: https://github.com/kubernetes-sigs/cluster-api-provider-aws//blob/8a81ce6890e5728d4c23f95363643b10ab89efb6/pkg/cloud/services/elb/loadbalancer.go#L142-L157

[2021-11-29 18:19] randomvariable commented on #2465
cc @sedefsavas

[2021-11-29 18:20] richardcase commented on #2523
/priority important-soon
/milestone v1.x

[2021-11-29 18:21] richardcase commented on #2569
/milestone v1.x
/priority important-soon
/triage accepted

[2021-11-29 18:25] richardcase commented on #2606
/lifecycle frozen
/milestone v1.x
/triage accepted
/priority important-soon

[2021-11-29 18:30] richardcase commented on #2608
Block creation exactly like EC2 instance re-creation.

If we do the NLB work sooner then this issue will be rectified.

/milestone v1.x
/triage accepted
/priority important-soon

[2021-11-29 18:33] richardcase commented on #2609
/milestone v1.2.0
/triage accepted
/priority important-soon

[2021-11-29 18:34] richardcase commented on #2610
/priority backlog
/triage accepted

[2021-11-29 18:37] richardcase commented on #2635
/help
/milestone v1.x
/triage accepted
/priority important-longterm

[2021-11-29 18:41] richardcase commented on #2727
@bishtsaurabh5 - are you still interested in working on this?

/milestone v1.x
/triage accepted
/priority important-soon

[2021-11-29 18:42] richardcase commented on #2732
Fixed in #2728 so:

/close

[2021-11-29 18:45] richardcase commented on #2752
/triage accepted
/milestone backlog

[2021-11-29 18:46] richardcase commented on #2753
/triage accepted
/milestone backlog

[2021-11-29 18:48] richardcase commented on #2758
/triage accepted
/milestone v1.2.0

[2021-11-29 18:50] richardcase commented on #2764
/assign

/triage accepted
/milestone v1.2.0

[2021-11-29 18:52] richardcase commented on #2802
@tahirali-endurance - as you said it's working, we will close. Please re-open if it becomes an issue again.

/close

[2021-11-29 18:56] richardcase commented on #2849
Blocked by https://github.com/kubernetes-sigs/cluster-api/issues/5295

/triage accepted
/priority important-longterm
/milestone backlog

cc @lubronzhan

[2021-11-29 18:58] richardcase commented on #2869
/triage accepted
/milestone backlog
/priority backlog

[2021-11-29 18:59] richardcase commented on #2741
@erkules - if this still an issue please re-open the issue.

After discussion in the refinement session:

/close

[2021-11-29 19:00] richardcase commented on #2668
Closing the issue as discussed in the refinement session.

/close

@pieterv-icloud-com - if you are still having issues with this please re-open.

[2021-11-29 19:02] richardcase commented on #2465
/triage accepted
/priority important-soon

[2021-11-29 19:03] richardcase commented on #2449
/triage accepted
/priority backlog

[2021-11-30 08:24] #2981 closed

[2021-11-30 17:08] sedefsavas opened #2995 "Reduce cyclomatic complexity"
We have high cyclomatic complexity which makes the codebase harder to navigate, maintain, and test.

`gocyclo` linter is enabled but the default is set to 30, which is quite high. We have several functions with >20 complexity.

[code]
Initially, let's target to reduce complexity to ~10 by [Ref1]

- Divide longer functions into smaller ones.
- Use Decorator pattern [Ref2]
- Reduce if-else-switch st

[2021-11-30 17:09] sedefsavas commented on #2995
/triage accepted
/priority important-soon
/milestone v1.x
/kind refactor

[2021-11-30 22:14] pydctw commented on #2993
I also noticed it.

My plan is
* Skip conformance test for ClusterUpgradeConformanceSpec in CAPI e2e test. We will only test cluster upgrade functionality here.
* Looks like we can replace currently [disabled KCPUpgradeSpecs](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/test/e2e/suites/unmanaged/unmanaged_CAPI_test.go#L44) with ClusterUpgradeConformanceSpec. Asking clarify

[2021-11-30 22:17] sedefsavas commented on #2993
Sounds good. If you can replace conformance suite with the upgrade spec, then you won't need to test it in CAPI e2e tests anymore, so only second and third point is needed.

[2021-11-30 22:25] pydctw commented on #2993
/assign

[2021-12-01 09:24] khoa-hatch opened #2997 "Support running with public subnets only"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Allows:
- creating VPC with only public subnets
- place the managed nodes group to those public subnets if no private subnets defined in the cluster spec.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
We have an usecase to

[2021-12-01 09:37] randomvariable commented on #2336
No, it's a separate issue.

[2021-12-02 20:20] sedefsavas opened #3000 "AWSMachine controller tries to update some immutable fields"
/kind bug

**What steps did you take and what happened:**
During creation of a cluster, seeing a couple of updates coming to `AWSMachine` that is denied by the webhook. Can be observed in e2e tests too: [example](https://storage.googleapis.com/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-e2e/1466421813729824768/artifacts/clusters/bootstrap/controllers/capa-controller-manager/capa-cont

[2021-12-03 02:22] pydctw commented on #2993
Submitted a PR to address the first two points.

[2021-12-03 02:32] pydctw commented on #2993
Questions for replacing the existing conformance suite.
* Are there gaps in the existing conformance test that ClusterUpgradeConformanceSpec will address? Trying to understand the why.
* If I understand it correctly, we are running two conformance tests, one with stable k8s version, the other against k8s main branch. I am not sure how to do it in ClusterUpgradeConformance test. The test uses `KUBE

[2021-12-03 02:52] pydctw commented on #3000
For the e2e test, there is a difference in rootVolume spec and the update is rejected as it is an immutable field.

oldAWSMachineSpec
[code]

newAWSMachineSpec
[code]

Do we know where this update in rootVolume's deviceName can come from? Reading the code, the `rootVolume.deviceName` should be empty during creation and looks like sth is trying to update it after instance creation.

[2021-12-03 06:30] #2891 closed

[2021-12-03 17:36] bishtsaurabh5 commented on #2727
Yes @richardcase would be picking this up coming week

[2021-12-06 12:06] sedefsavas commented on #392
[CNIIngressRules field](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/461ef72c3b647e729298ec5507c3387dabf7b015/api/v1beta1/network_types.go#L337) will be deprecated.

This feature will solve https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1503

[2021-12-06 12:07] sedefsavas commented on #1503
Closing in favor of https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/392

[2021-12-06 12:13] sedefsavas commented on #2798
Closing in favor of https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/392

[2021-12-06 12:14] #2798 closed

[2021-12-06 12:14] #1503 closed

[2021-12-06 12:20] sedefsavas commented on #2955
Closing as this issue should be fixed with https://github.com/kubernetes-sigs/cluster-api/pull/5684
We have v1alpha3 --> v1beta1 e2e test passing.

[2021-12-06 12:20] #2955 closed

[2021-12-06 13:07] sedefsavas commented on #1506
This is an api change. Bumping milestone to 2.x.

[2021-12-06 13:40] sedefsavas commented on #2606
This issue is a sub-problem of https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1335

We should be thinking about not blocking deletion in general.

[2021-12-06 16:07] bsideup commented on #392
@sedefsavas thanks for sharing! Are there any short term plans to implement this issue then? e.g. by accepting https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2876 ?

[2021-12-06 17:15] shivi28 commented on #2320
assign @shivi28

[2021-12-06 18:43] lubronzhan commented on #2849
I assume CAPI still need corresponding change?
CAPA could expose both endpoint in the cluster but CAPI would be responsible for generating kubeconfig for both endpoints.

[2021-12-06 19:18] sedefsavas commented on #2910
This is issue should be covered here: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2569

[2021-12-06 21:09] pydctw commented on #3000
/assign

[2021-12-06 21:22] sedefsavas opened #3003 "V1.1.0 is not compatible with v1.0.0 release due to setting up an optional field in the controller"
In our community meetings, we have decided to only do minor releases starting from v1 and do a major release for breaking changes. So, all v1.x releases need to be compatible with each other.

In v1.1.0, we introduced a bug by adding an optional field

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/3e61428d885f2eaeab1a7dffc4d17270a20c6675/api/v1beta1/awscluster_types.go#L156

and

[2021-12-06 22:04] sedefsavas commented on #3003
@dilyevsky What would not be working if we remove the LB name assignment in BYO LB?

[2021-12-06 23:54] dlipovetsky commented on #3003
The external controller doesn't know about the Name field, and the defaulting webhook is setting it to nil, but the Name field has already been set by the v1.1.0 CAPA controller, so that's causing the validating webhook to reject the update as a change?

@sedefsavas and I talked about possible workarounds.

The first option I'll try is to generate the default ELB name in the code, and to _not_ per

[2021-12-07 22:53] k8s-triage-robot opened #3006 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-08 04:26] justaugustus commented on #3006
Thank you for creating a SECURITY_CONTACTS file. Please `/close` the issue.
/close

[2021-12-08 04:26] #3006 closed

[2021-12-08 10:48] sbueringer opened #3008 "Drop unused KCPTemplate fields in ClusterClass quickstart e2e test"
Hey folks,
just wanted to let you know that we're dropping some unused fields in KCPTemplate in CAPI core (https://github.com/kubernetes-sigs/cluster-api/pull/5788).

Those fields had to be used in the ClusterClass quickstart e2e test (https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/test/e2e/data/infrastructure-aws/kustomize_sources/topology/clusterclass-quick-start.yaml).

O

[2021-12-08 18:43] #3003 closed

[2021-12-08 22:54] k8s-triage-robot opened #3010 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-08 23:28] pydctw commented on #3000
This issue was observed fist in gpu e2e test because it is the only test using a template with rootVolume field but the same issue happens whenever AWSMachine spec has rootVolume field defined. Verified it by modifying templates for other e2e test.

[2021-12-09 03:02] justaugustus commented on #3010
This issue may have been opened in error due to a bug in the logic for discovering SECURITY_CONTACTS files.
For more information, please see this notice to [kubernetes-dev](https://groups.google.com/g/kubernetes-dev/c/yFlPFIYJCt8).

As this has [re]opened multiple issues across Kubernetes orgs, I will not attempt to answer comments on individual issues.
Feel free to reply to the linked kubernetes-

[2021-12-09 03:02] #3010 closed

[2021-12-09 08:26] Ankitasw commented on #2910
This is a WIP list for the scenarios to be covered in aws cluster controller tests which are missing till date:

1. Reconcile AWSCluster successfully:
- Should set LoadBalancerReady on cluster object if load balancer created successfully
- Should set awscluster status as ready if reconcile is successful
- Should add finalizer to awscluster
2. Reconcile AWSCluster errors:
- Should not set ClusterSe

[2021-12-09 09:35] invidian commented on #1979
CABPK PR kubernetes-sigs/cluster-api#4172 has been merged and will be part of v1.1 release, so we're getting closer getting this resolved :tada:

[2021-12-09 19:46] jonathanbeber opened #3015 "Allow to define tags in the bootstrap cloudformation stack"
/kind feature

**Describe the solution you'd like**
When creating a bootstrap IAM Cloudformation stack via `clusterawsadm bootstrap iam create-cloudformation-stack` we could have a `--tags` parameter, so that we don't need to run a new command to modify the stack adding tags.

**Anything else you would like to add:**
None.

**Environment:**

clusterawsadm version: `&version.Info{Major:"1", Minor:"

[2021-12-09 20:11] #3000 closed

[2021-12-10 00:02] sedefsavas opened #3017 "Use ConditionSeverityError only if the error is non-transient"
Some conditions are set incorrectly to false with error severity, even if the failures are transient.
Transient failures mostly happen during the cluster creation, and when AWSCluster conditions are set to false with Error severity, it bubbles up to Cluster Ready() condition with error severity and could be interpreted as an unrecoverable error.

We should set transient errors with Warning severit

[2021-12-10 07:35] shivi28 commented on #2320
/assign @shivi28

[2021-12-10 09:17] richardcase commented on #2055
I'm going to introduce a new `AWSLaunchTemplate` kind with associated controller that will create launch templates and a reference to this can be used in `AWSManagedMachinePool`. Any objections / concerns?

[2021-12-10 10:08] JoelSpeed commented on #2055
Sounds good to me, let me know when you need review

[2021-12-10 12:11] #2912 closed

[2021-12-10 12:43] #3017 closed

[2021-12-10 13:18] Ankitasw commented on #2225
/unassign for now based on the priority

[2021-12-10 13:19] Ankitasw commented on #2316
/assign

[2021-12-10 13:34] Ankitasw commented on #2169
/assign

[2021-12-10 14:42] sedefsavas opened #3023 "EKS conversion tests not failing upon missing conversions"
EKS Bootstrap package's conversion tests are not failing when there are conversion issues although the conversion tests are in place.

/kind bug
/triage accepted

[2021-12-10 15:19] #2853 closed, assigned to richardcase

[2021-12-11 07:55] abhinavnagaraj opened #3026 "EKS bastion security-group is created when bastion is disabled"
/kind bug

**What steps did you take and what happened:**
Create an EKS cluster with bastion disabled
[code]
**What did you expect to happen:**
The security group '**capi-eks-quickstart-bastion**' should not be created.

**Anything else you would like to add:**

**Environment:**

- Cluster-api-provider-aws version: 1.2.0
- Kubernetes version: (use `kubectl version`): 1.21
- OS (e.g. from `/etc/os-

[2021-12-11 13:59] richardcase commented on #2029
/lifecycle frozen

[2021-12-12 08:45] shivi28 commented on #2335
/assign @shivi28

[2021-12-12 08:45] shivi28 commented on #2978
/assign @shivi28

[2021-12-13 04:21] Madhur97 commented on #2380
/assign @Madhur97

[2021-12-14 15:21] #3026 closed

[2021-12-14 17:41] bishtsaurabh5 commented on #2727
Removing assign right now as I currently do not have enough bandwidth to pick this up :)

[2021-12-14 21:53] jonathanbeber opened #3032 "Panic in the conversion tests"
The conversion tests in [v1alpha4](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/bootstrap/eks/api/v1alpha4/conversion_test.go) and [v1alpha3](https://github.com/kubernetes-sigs/cluster-api-provider-aws/tree/main/bootstrap/eks/api/v1alpha3) result in panics. The panic is being hidden by the tear down strategy in
https://github.com/kubernetes-sigs/cluster-api-provider-aws/bl

[2021-12-14 21:57] sedefsavas commented on #3032
/triage accepted
/priority important-soon
/milestone v1.3.0

Thanks for debugging and finding this out.

cc @richardcase this is why we were not catching last weeks conversion issues.

[2021-12-14 21:58] sedefsavas commented on #3032
/triage accepted
/priority important-soon
/milestone v1.3.0

[2021-12-14 22:00] sedefsavas commented on #3032
Changing the priority as without this, our conversion test failures are not showing up in unit tests.

/priority critical-urgent

[2021-12-14 22:02] sedefsavas commented on #3032
/assign @jonathanbeber

[2021-12-14 22:32] sedefsavas commented on #2997
Given that there needs to be added multiple if/else cases in the code base to support this, we can add this as a requirement to the [issue](https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1484) that tracks upcoming networking API changes to support various networking topologies.

Feel free to bring this up to the community meeting if you think this is a critical use case.

[2021-12-14 22:34] sedefsavas commented on #1484
Another use case is using only public subnets: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2997

[2021-12-15 02:27] pydctw commented on #3023
/assign

[2021-12-15 02:28] pydctw commented on #3032
The issue is fixed as part of https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3033

[2021-12-15 02:28] pydctw commented on #3032
/unassign @jonathanbeber
/assign

[2021-12-15 09:52] #3023 closed

[2021-12-15 13:50] sedefsavas commented on #3032
/assign @jonathanbeber

[2021-12-15 16:13] enxebre opened #3035 "AWS Elastic Fabric Adapter support"
/kind feature

**Describe the solution you'd like**
Ability to specify Network Interface Instance Type "efa" so users can choose AWS Elastic Fabric Adapter for their workloads.

**Anything else you would like to add:**
Currently, there is no way to specify the Network Interface Instance Type in the machine spec in order to get the "efa" network interface on the EC2 instance.

**Environment:**

- C

[2021-12-15 16:13] enxebre commented on #3035
cc @JoelSpeed

[2021-12-15 16:44] JoelSpeed commented on #3035
EFA is a complex feature and has some additional requirements to actually be usable by workloads, that aside, it can't be used at all without the EC2 instance being created with an EFA network interface, so I think supporting this would be useful for the high performance networking requirements some of our users may have.

I've been playing with this feature a little recently, and as far as I can

[2021-12-15 16:45] enxebre commented on #1484
kinda related https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3035

[2021-12-15 17:01] #3015 closed

[2021-12-15 19:11] sedefsavas commented on #2771
We may need to take this into account during Launch Templates design: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2771

[2021-12-15 19:59] sedefsavas commented on #2173
We should try to invest more on the resiliency aspects. Moved this to v1.x milestone.

We might also check other CNCF chaos generators, I see they simulate infra failures too such as:
https://litmuschaos.io/
https://chaos-mesh.org/

[2021-12-15 21:11] #3032 closed

[2021-12-15 21:27] sedefsavas opened #3038 "Backport #3036 test fix"
Cherry pick failed, we need to manually backport this fix.

[2021-12-16 00:15] sedefsavas commented on #2771
Since this is not only relevant to MachinePools, we need to come up with a generic solution for all Machines as @richardcase pointed.

This is blocking enabling clusterctl upgrade tests, which will help to catch conversion related issues, so adding release-blocking tag.

[2021-12-16 09:34] jonathanbeber commented on #3038
/assign

[2021-12-21 14:20] #2908 closed

[2021-12-28 11:41] xvzf commented on #2180
@randomvariable yep, happens here as well

[2021-12-29 18:15] DiptoChakrabarty commented on #2251
@richardcase can this issue still be worked on , do we have to use the ```EKSControlPlaneUpdating``` condition within this case https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/18ba5a5968fcd6289f50994e3ffff856066c154d/test/e2e/suites/managed/control_plane_helpers.go#L58-L60

I would like to try it out

[2021-12-29 21:11] richardcase commented on #2635
/lifecycle frozen

[2021-12-29 21:11] richardcase commented on #2609
/lifecycle frozen

[2022-01-02 07:14] abhinavnagaraj opened #3051 "EKS cluster with fargateprofile throws admission webhook error"
/kind bug

**What steps did you take and what happened:**
Launched an EKS cluster with fargate using clusterctl version v1.0.2
[code]

The capa-controller-manager pod throws this error:
[code]

**What did you expect to happen:**
Expected the EKS cluster with fargate profile to be launched successfully.

**Anything else you would like to add:**
The issue is with update validation. Initially if the

[2022-01-03 19:09] sedefsavas commented on #2610
/lifecycle stale

[2022-01-03 19:48] sedefsavas commented on #2087
lifecycle/stale

[2022-01-03 19:57] sedefsavas commented on #2668
This issue tried to be closed above but somehow still open. Retrying to close it.

[2022-01-03 19:57] #2668 closed

[2022-01-03 23:29] invidian opened #3054 "ClusterClass quickstart e2e test fails with CAPI v1.1.0-beta.1 update"
/kind bug

**What steps did you take and what happened:**
Running e2e tests as part of #2271, e2e tests sometimes fails with unrelated error. See https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-aws/2271/pull-cluster-api-provider-aws-e2e/1478140086141849600.

**What did you expect to happen:**

Untouched e2e tests to pass on every run.

[2022-01-03 23:47] invidian opened #3055 ""imagePullPolicy: Always" and "--metrics-bind-addr=127.0.0.1:8080" replacements not needed anymore?"
/kind bug

**What steps did you take and what happened:**

While playing with e2e configuration, I noticed that patterns for replacement in upstream manifests may not be applies to used manifests, as upstream manifests no longer include such patterns.

Logs:
[code]

**What did you expect to happen:**

I'd expect one of 3 things:
- If patterns are no longer needed, they should be removed.
- If patt

[2022-01-03 23:56] sedefsavas commented on #3054
I don't see any flakiness in the periodic tests:
https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-aws#periodic-e2e-main&show-stale-tests=

[2022-01-04 00:00] sedefsavas opened #3056 "Simplify build with `docker buildx`"
Investigate the benefits of using `docker buildx` plugin.
Looks like some simplification in Makefile is possible for building multi-arch/OS images:
<img width="498" alt="Screen Shot 2022-01-03 at 3 59 09 PM" src="https://user-images.githubusercontent.com/58447606/147992946-8e0e4253-6b39-48bd-b654-53ac8bd3dc74.png">

If there is enough benefit, we may want to switch to that.

[2022-01-04 00:02] invidian opened #3057 "Nightly manifests overrides types from CAPI v1beta1 manifests"
/kind bug

**What steps did you take and what happened:**

Right now (https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/671166141dbfb2fa7ec30f5dd7625f12ed7b6ba8/test/e2e/data/e2e_conf.yaml), in `test/e2e/data/e2e_conf.yaml` file, there are both v1beta1 release manifests defined (here version v1.0.2) and nightly manifests (v1.1.99). Right now, if both of those manifests contains e.g.

[2022-01-04 00:06] invidian commented on #3054
There error in the job is the following:
[code]

It might be related to my updates to CAPI v1.1.0-beta1 and nightlies, or maybe it's some sort of race related to #3057, as it seems I'm able to reproduce it quite reliably right now. It seems it is still worth investigating, as the error message looks rather bizarre.

[2022-01-04 00:11] sedefsavas commented on #3057
CAPA calls cluster api methods for creating test repos. If there is a bug around this, it should be fixed on cluster-api side.
I don't know how to move an issue there, you can create a new one in cluster-api repo.

[2022-01-04 01:08] sedefsavas commented on #3054
Let's wait to see if this happens when using consistent CAPI version with manifests + binary.
Nightly build we use and the beta release are not necessarily compatible.

[2022-01-04 11:09] invidian commented on #3057
Hmm, I might have hit caching in `_artifacts` directory, as changing the URL for providers to broken links does not result in any errors...

[2022-01-04 12:02] invidian commented on #3054
It looks like this is related to CAPI v1.1.0-beta.1 update, hitting in #3058 as well.

[2022-01-04 16:09] invidian commented on #3054
Pushed fixes in #2271 where tests are passing now, this PR includes #3058 changes, so feel free to pull my fixes there, if applicable. I'll close this one.

[2022-01-04 16:09] #3054 closed

[2022-01-04 18:01] sedefsavas commented on #3057
Might be. Feel free to close this if you confirmed that is the case.

[2022-01-04 20:06] sedefsavas commented on #2993
We can move forward with the rest of the changes as cluster-api removed KCPUpgrade spec.
Updating the cluster api version in this PR:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3058

[2022-01-04 22:49] sedefsavas commented on #1982
/lifecycle frozen

[2022-01-05 19:35] sedefsavas opened #3061 "AMIs with some versions (e.g., vx.x.0) not showing up on the AMI list"
We have a lambda function that updates automatically the list of AMIs we list in the [docs](https://cluster-api-aws.sigs.k8s.io/topics/images/built-amis.html).

AMIs with Kubernetes v1.23.0 is released but not showing up on that list. We were not publishing AMIs with .0 patch releases before so probably the logic is not supporting it currently. This must be a very minor fix.

/assign @Ankitasw

/k

[2022-01-06 01:22] sedefsavas commented on #1506
/lifecycle frozen

[2022-01-06 01:23] sedefsavas commented on #1506
/reopen

[2022-01-06 04:26] #3051 closed

[2022-01-06 06:30] Ankitasw commented on #2316
/lifecycle active

[2022-01-06 06:53] sedefsavas opened #3062 "Getting OpenSSF security badge"
OpenSSF provides a manual way of checking if projects follow the best practices in terms of security.
https://bestpractices.coreinfrastructure.org/en

It might be useful to do this to see CAPA's security posture, depending on the result we may do some improvements.

/area security
/priority backlog
/triage accepted

[2022-01-06 10:08] Ankitasw commented on #3061
@sedefsavas do we need to directly update the document or change the logic for AMI with x.x.0 release?

[2022-01-06 13:38] Ankitasw commented on #2924
/assign

[2022-01-06 18:17] sedefsavas opened #3064 "Add CodeQL workflow to Github to check security vulnerabilities"
CodeQL is an opensource tool that saves the codebase to a database and by making queries to it find possible vulnerabilities, bad patterns in the code.

https://codeql.github.com/

/area security

[2022-01-06 18:18] sedefsavas commented on #3064
It is merged:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/.github/workflows/codeql-analysis.yml

It runs periodically every month and could be seen in actions tab.

[2022-01-06 18:18] #3064 closed

[2022-01-07 10:04] xvzf opened #3066 "ClusterAPI is deleting machines after cluster-nodes cannot be retrieved (Unauthorized)"
Note: This is a duplicate of https://github.com/kubernetes-sigs/cluster-api/issues/5914, it's been suggested to check the AWS specific bits first.

**What steps did you take and what happened:**
With the cluster-api-provider-aws, the `kubeconfig` secret contains a hinted token which is retrieved by the AWS STS service (check [here](https://github.com/kubernetes-sigs/aws-iam-authenticator#api-autho

[2022-01-07 13:59] JoelSpeed commented on #1888
Are there any detailed plans formed around this feature request? Just wondering, as this seems to suggest extending the existing failure domain primitives, how one would use placement groups in conjunction with availability zones.

As far as I understand, the two are not mutually exclusive and so I would expect the failure domain to stay as the availability zone, but also have the ability to speci

[2022-01-10 08:08] richardcase commented on #2826
/lifecycle frozen

[2022-01-10 08:09] richardcase commented on #2816
/lifecycle frozen

[2022-01-10 08:32] richardcase commented on #2610
@sedefsavas - we should probably discuss this one in office hours. I am not sure if there is any benefit moving away from a "standard"

[2022-01-10 08:34] richardcase commented on #2449
/lifecycle frozen

[2022-01-10 08:36] richardcase commented on #2251
@DiptoChakrabarty - there is some discussion on this in PR #3027

[2022-01-10 14:08] xvzf commented on #3066
The root cause of the node deletion has been an _assumingly_ terminated instance of cluster-autoscaler with a different configuration (it was still up in containerd).

The issue with the "dying autoscaler" and issues for cluster-api to communicate is still relevant though. Adapted the issue for this.

[2022-01-10 18:28] richardcase commented on #2610
Discussed in the office hours call on 2022-01-10 and the consensus was that there should be significant improvments to switching to overcome the cost of switching from make to something else. We should improve the make experience and fix any issues that people have with it.

[2022-01-11 05:58] sedefsavas commented on #2610
We can create new issues if there are areas we should improve in the Makefile as this issue will not be closely relevant.
Closing the issue as per Richard's explanation.

[2022-01-11 05:58] #2610 closed

[2022-01-11 06:17] Ankitasw commented on #2910
/assign
I will be working on `controllers` package, but it might happen that few scenarios(listed above) might cover some parts of `pkg` package as well

[2022-01-11 09:33] sedefsavas commented on #1888
@JoelSpeed There is no active work going on for this.
Availability zones, placement groups and possibly other points in the issue all may be suitable to group together considering that they are related to instance distribution. I haven't checked what CAPZ is doing yet.
It would be great to have a proposal or ADR for this one.

[2022-01-11 09:35] sedefsavas commented on #2656
I reopened but @richardcase is this still TODO?

[2022-01-11 10:43] richardcase commented on #2656
It is needed still.  I need to update the docs url.

/triage accepted

[2022-01-11 10:44] richardcase commented on #2656
I'll reopen the PR and fix it up

[2022-01-11 19:28] sedefsavas commented on #3057
Can we close this issue @invidian ?

[2022-01-11 23:58] invidian commented on #3057
I'd have to double check, but from my observation, manifests from `https://storage.googleapis.com/artifacts.k8s-staging-cluster-api.appspot.com/components/nightly_main_20211122/core-components.yaml` were overriding manifests from https://github.com/kubernetes-sigs/cluster-api/releases/download/v1.0.2/core-components.yaml, at least CRDs, which I'd say is undesired, as when you think you test agains

[2022-01-12 00:01] sedefsavas commented on #3057
We could check this by looking at the PROW tests to see if they are overwritten or not.

[2022-01-12 18:40] aeroniero33 opened #3074 "Deleting a cluster with unmanaged subnets doesn't clean up the tags in the Subnet AWS Resource resulting into clusters being unable to be provisioned"
/kind bug

**What steps did you take and what happened:**
I have a usecase where I need to create and delete 10s of clusters with unmanaged subnets every day and one day I noticed that my clusters stopped being able to be provisioned with the following error:

[code]

Which didn't make sense because the subnets were all working fine. After further investigation I realized that CAPI was attempting

[2022-01-13 07:58] sedefsavas commented on #3074
Strange, CAPA does not share tags between clusters.
Can you provide the yamls used for creating cluster/lewistest and cluster/lewistest2? I just want to see how they are created to understand how this happened.

[2022-01-13 10:21] aeroniero33 commented on #3074
Hi @sedefsavas, thank you for looking into this!

I clarified my original post a bit, CAPA indeed doesn't share tags between clusters directly, but it syncs their tags with the Subnet AWS Resource which in turn shares them indirectly.

So if a cluster (A) is created, the new cluster tag (A=shared) is added to the Subnet Resource. Then the cluster will sync the rest of the Subnet tags (tags like Sc

[2022-01-13 21:36] sedefsavas commented on #3074
Now makes sense, thanks for giving more info. To summary, when using your own VPC and bringing up clusters on the same VPC, the subnet tags do not get cleaned up after clusters are deleted.

/triage accepted
/priority important-soon

[2022-01-14 16:41] dkoshkin opened #3076 "imageLookupFormat should support Kubernetes versions with build metadata, e.g. +fips"
/kind feature

**Describe the solution you'd like**

I'm trying to use `imageLookupFormat: my-ami-{{.BaseOS}}-fips-release-?{{.K8sVersion}}-*` with a custom AMIs and a Kubernetes version that has some build metadata `v1.21.8+fips.0`.
AWS AMIs do not support `+` in the name, and when we build our AMIs using Packer we use [clean_resource_name](https://www.packer.io/docs/templates/legacy_json_templat

[2022-01-15 14:25] Ankitasw commented on #2169
@sedefsavas do we still need to keep this issue?

[2022-01-18 17:36] pydctw opened #3077 "Enable additional linters"
/kind cleanup

Core cluster-api repo has some additional linters enabled, it'd be good for consistency and contributor experience to enable same linters.

Missing linters in CAPA compared to CAPI:
* gci
* predeclared
* thelper
* unused

As a reference, CAPA uses additional linters that are not used in CAPI.
* goheader
* noctc

See https://golangci-lint.run/usage/linters/.

[2022-01-18 17:52] pydctw commented on #3077
cc @sbueringer

[2022-01-19 06:07] sedefsavas commented on #2993
@pydctw

One extra signal we are getting by using  `ClusterUpgradeConformanceSpec` is upgraded cluster is passing the conformance,  not just the standalone cluster with that particular version.
Also, we won't need to maintain conformance suit if we move to `ClusterUpgradeConformanceSpec` and this will make tests more standardized. e2e tests are already complex so calling cluster-api specs wherever

[2022-01-19 06:19] shivi28 commented on #2910
/assign
I will start working on `pkd/cloud/services/ec2` package

[2022-01-19 06:23] Madhur97 commented on #2910
/assign
Will start working on `pkg/cloud/services/autoscaling` package

[2022-01-19 06:51] richardcase commented on #2855
/lifecycle frozen

[2022-01-19 07:48] sedefsavas commented on #2840
Are you still working on this @amustaque97? Otherwise feel free to unassign.

[2022-01-19 07:48] sedefsavas commented on #2840
/lifecycle frozen

[2022-01-19 07:50] sedefsavas commented on #2858
/lifecycle frozen

[2022-01-19 07:51] sedefsavas commented on #2858
/assign

[2022-01-19 08:08] sedefsavas commented on #3076
There is a change in the AMI name, search logic specifically needs to handle `+` to `-` conversion.
 With a generic logic, not sure if this specific case can be solved.

[Runtime-extensions proposal ](https://github.com/kubernetes-sigs/cluster-api/issues/5175)in cluster-api might be useful to solve this issue: an extension can generate a replaced regex and then that regex is used in CAPA AMI searc

[2022-01-19 15:42] lackhoa opened #3082 "Bastion host not created"
/kind bug

**What steps did you take and what happened:**
I enabled bastion host in the AWSManagedControlPlane `kv-test-stream-control-plane`, and created the cluster. However the bastion instance wasn't created, only the security group.

**What did you expect to happen:**
Bastion instance created, so that I can ssh to the worker nodes.

**Anything else you would like to add:**

**Environment:**

[2022-01-19 16:01] richardcase commented on #3082
Thanks @lackhoa . I had a look at the logs and i see this error:

[code]

And extracting the error `InvalidGroup.Duplicate: The security group 'test-stream-bastion' already exists for VPC 'vpc-05c4ae097f226b765`

[2022-01-19 16:10] lackhoa commented on #3082
@richardcase Btw I forgot to mention, there is also another cluster called `test-stream` (the one I have issue with is `kv-test-stream`. So the security group `test-stream-bastion` isn't related in this bug.

[2022-01-19 16:27] richardcase commented on #3082
Ah ok, so the capa logs attached are for the other cluster (`test-stream`) and for the cluster declared above `kv-test-stream`.

[2022-01-19 16:34] richardcase commented on #3082
So i see the same error for the `kv-test-stream` cluster:

[code]

There is also this error:
[code]
Which is because `associateOIDCProvider: true` but the `EKSEnableIAM` feature flag isn't set to true which you can turn on by `export CAPA_EKS_IAM=true` before doing `clusterctl init`, see [this](https://cluster-api-aws.sigs.k8s.io/topics/eks/enabling.html#iam-roles-per-cluster).

[2022-01-19 18:19] sedefsavas commented on #3066
cc @richardcase

[2022-01-20 12:42] richardcase commented on #3066
I need to look at the code but seems like a upstream CAPI issue....if the token/kubeconfig has been refreshed in CAPA.

[2022-01-20 12:43] richardcase commented on #3066
The reason we have a max sync period of 10mins in CAPA when using EKS is so that the we refresh the token/kubeconfig before the 15min token expiry.

[2022-01-20 13:56] Ankitasw commented on #2910
WIP list for scenarios covered for AWSMachine controller:
- [ ]  Reconcile AWSMachine, should fail to find instance if no provider ID provided
- [ ]  Reconcile AWSMachine, when instance creation succeeds,
    1. should not do anything if control plane ELB is already registered
    2. should attach control plane ELB to instance
    3. Should store userdata using AWS Secrets Manager
    4. should fa

[2022-01-20 14:27] sbueringer opened #3085 "Conversion is not completely implemented for all API types"
/kind bug

Hey folks,
in core CAPI we have a tool called conversion-verifier which loops over all types and ensures the controller-runtime conversion interfaces are implemented correctly, i.e. it checks the types have the Hub / ConvertTo / ConvertFrom functions.

The results for CAPA are:
* type "infrastructure.cluster.x-k8s.io/AWSClusterTemplateList" in package "sigs.k8s.io/cluster-api-provider-a

[2022-01-20 14:45] sbueringer opened #3086 "Use controller-runtime setup-envtest instead of fetch_ext_bins.sh"
/kind feature

Hey folks,

just wanted to make you aware of that there is a tool by controller-runtime which can be used to setup the controller-runtime envtest binaries (https://github.com/kubernetes-sigs/controller-runtime/tree/master/tools/setup-envtest).

It's already used in core CAPI: https://github.com/kubernetes-sigs/cluster-api/blob/main/Makefile#L437-L441

I think this could be a good fi

[2022-01-20 18:56] sedefsavas commented on #3085
Thanks for the detailed explanation @sbueringer

This is not critical as ClusterClass support is in v1beta1, but we need to fix it anyway.

/triage accepted
/priority important-soon
/milestone v1.3.0

[2022-01-20 19:50] sedefsavas commented on #3086
/triage accepted
/priority backlog
/good-first-issue
/milestone v1.x

[2022-01-20 20:53] sedefsavas opened #3087 "Run periodic tests against the minimum supported Kubernetes version"
We already test the maximum K8s version (have a conformance test that is running against the main K8s branch), we should also do the same for the minimum supported version.

Replicating this from https://github.com/kubernetes-sigs/cluster-api/issues/5963, see it for more details.

[2022-01-20 21:55] carlosonunez opened #3088 "NLB support"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

As an engineer looking to deploy Kubernetes with CAPA
I would like my control plane to be fronted by a Network Load Balancer instead of Classic ELBs
So that I can continue to use CAPA after AWS deprecates them

**Anything else you would like to add:**
[Miscellaneous information that w

[2022-01-20 21:57] sedefsavas commented on #3088
Thanks for bringing this up @carlosonunez
I think we are tracking this somewhere else, will find out and link these.
There is an ongoing test to see how to deal with hairpinning issue comes with NLBs (when LB directs Kubelet traffic to the api-server on the same node).

[2022-01-20 21:59] carlosonunez commented on #3088
That's great that this is being tracked elsewhere! I couldn't find any issues pertaining to it and thought "That can't be right!" :)

[2022-01-21 06:49] #3077 closed

[2022-01-21 10:29] sedefsavas commented on #2794
This issue related to:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1764

[2022-01-21 11:16] sedefsavas commented on #2993
Also we have a disabled test:
	`ginkgo.PDescribe("[Serial] Upgrade to main branch Kubernetes", func() `

We should probably delete this, looks redundant.

[2022-01-21 13:39] ksiadz opened #3089 "CRD awscluster state is not updated after succesful change regarding bastion"
**What steps did you take and what happened:**

I modified existing clusters to not have bastion enabled. The events logs suggested it worked fine but awsclusters CRDs state was not updated.

**What did you expect to happen:**
`kubectl get awsclusters`
Output:
`NAMESPACE           NAME                CLUSTER             READY   VPC                     BASTION IP`
`clusters-dev        dev-db

[2022-01-21 21:47] #3089 closed

[2022-01-21 21:47] rayterrill opened #3092 "Specifying KMS encryption results in envelope encryption being set, but controller is trying to back it out"
/kind bug

**What steps did you take and what happened:**
Built a new cluster with CAPA using KMS envelope encryption. Encryption was successfully enabled (checked via the aws console), but the controller is attempting to back that out per the console logs:
[code]

KMS config setting:
[code]
**What did you expect to happen:**
KMS encryption should be enabled and the controller should show success.

[2022-01-21 21:58] richardcase commented on #3092
I will investigate this so:

/assign

[2022-01-22 16:25] #2881 closed

[2022-01-22 17:08] richardcase commented on #3092
@rayterrill - with the key you are using do you have an alias for it that starts with [cluster-api-provider-aws-](https://cluster-api-aws.sigs.k8s.io/topics/eks/encryption.html) ?

[2022-01-22 17:20] richardcase commented on #3092
Great, i've managed to recreate the issue.

[2022-01-22 19:44] richardcase opened #3096 "Allow using KMS alias ARN for EKS encryption"
/kind feature
/area provider/eks
/triage accepted
/priority important-soon

**Describe the solution you'd like**
If i enable EKS encryption using the ARN of the alias in `AWSManagedControlPlane`:

[code]

The EKS cluster will actually be created with the key ARN of the KMS key for the supplied alias. When we later get the details of the cluster it returns the key arn and not the alias arn. This ca

[2022-01-22 19:45] richardcase commented on #3096
/assign
/lifecycle active

[2022-01-23 08:09] Ankitasw commented on #2764
/close as EKS E2E tests looks good now

[2022-01-23 08:09] #2764 closed

[2022-01-24 07:33] Madhur97 commented on #2910
I will start working on pkd/cloud/services/ssm package

[2022-01-24 09:46] lackhoa opened #3101 "Include searchable severity level in log lines"
/kind feature

**Describe the solution you'd like**
Currently logs produced by the capa controller does not include an obvious "grep"-able severity level, which makes it hard to search for errors or warnings, for example
[code]

I suggest including a severity level in the log lines, such as this...
[code]
... or this
[code]

The above are just some ideas; the exact format can be something else.

*

[2022-01-24 17:42] cbusch-pivotal commented on #3088
Any update on whether this truly is being tracked? thanks

[2022-01-24 18:31] sedefsavas commented on #3057
@invidian do you still have this issue?

[2022-01-24 18:34] sedefsavas commented on #3055
We still have those fields in the manifests published, is this only related to e2e tests?

[2022-01-24 18:36] sedefsavas commented on #2997
Closing this one as it will be tracked in #1484

[2022-01-24 18:36] #2997 closed

[2022-01-24 18:38] richardcase commented on #2991
/assign

[2022-01-24 18:44] sedefsavas commented on #2986
I think this issue is discussed on Slack, @richardcase mentioned there is a[ cluster-api operator](https://github.com/kubernetes-sigs/cluster-api-operator) coming soon.
You may want to create an issue in that repo to make sure they are GitOps friendly.

[2022-01-24 18:49] richardcase commented on #2918
To investigate:

/assign

[2022-01-24 18:58] dlipovetsky commented on #3088
I haven't seen issue tracking NLB support, but we considered using NLB back in 2018: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/115#discussion_r220562864

[2022-01-24 19:05] dlipovetsky commented on #3088
For reference, CAPZ also has a hairpinning issue, although specifically when using an _internal_ load balancer: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1033#issuecomment-1007789608. The current workaround is to prevent requests from kubelet on the control plane machines from going through the LB, by resolving NLB DNS record to 127.0.0.1.

[2022-01-24 19:45] invidian commented on #3057
I don't actively work with CAPA right now, so it is not an issue directly affecting me. Feel free to close it if for example you think this is nothing to worry about or if it's not important enough to spend time on.

[2022-01-24 19:46] invidian commented on #3055
Yes, this is only for e2e tests, as it is only about CAPI manifests, not CAPA.

[2022-01-24 21:50] jonathanbeber opened #3102 "AWSCluster additional tags accepts empty key tags"
/kind bug

**What steps did you take and what happened:**
Create an `AWSCluster` resource with an additional tag where the key is empty (don't ask me why I did this):

[code]

This leaves the capa controller failing to apply resources:

[code]

**What did you expect to happen:**

[AWS docs](https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html) says that:

So I'd expect the CRD to not eve

[2022-01-24 21:50] jonathanbeber commented on #3102
I'd like to work on that if possible!

[2022-01-24 22:25] sedefsavas commented on #3057
Thanks, I could not replicate this, closing.

[2022-01-24 22:25] #3057 closed

[2022-01-24 22:30] sedefsavas commented on #3088
I could not find a specific issue for this, I see this was discussed in CAPA v1alpha4 API changes document but during today's office hours, we triaged this issue and keeping this issue.

[2022-01-24 22:33] sedefsavas commented on #3088
Thanks @dlipovetsky, good to know there is an example workaround. If I can't make it work by disabling client IP preservation, this might be the way to go.

[2022-01-25 21:29] jonathanbeber commented on #3102
From what I see there's no easy way to validate a key in a `map[]` with kubebuilder, because it just becomes an object to OpenAPI and is never validated. I tried something like:

[code]

but that results in changes just for the keys:

[code]
and no change at all for the keys.

From what I understood another option would be to change the type of `AdditionalTags` from `map[string]string` to a struct

[2022-01-25 22:37] lubronzhan commented on #3088
As suggested by @sedefsavas, changing the target group type from instance to IP, can also workaround this issue https://aws.amazon.com/premiumsupport/knowledge-center/target-connection-fails-load-balancer/
But the downside of this is the IP of instance might change during lifecycle, the corresponding target group needs to be updated, also the NLB's listeners needs to be updated as well. This could

[2022-01-26 13:35] neolit123 opened #3104 "unknown field "emeritus_maintainers" in the OWNERS file"
there is a [new tool](https://github.com/dims/maintainers) for parsing the kubernetes/community/sigs.yaml file and it reports an error in the OWNERS file in this repository:

**solution**

1) move the entries under `emeritus_maintainers` https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/OWNERS#L19-L24 to `emeritus_approvers`.

2) remove the `emeritus_maintainers` key.

[2022-01-26 13:35] neolit123 commented on #3104
/kind bug
/good-first-issue
/help
(see instructions in the OP)

[2022-01-26 14:25] jonathanbeber commented on #3102
I was pointed to [this part](https://github.com/kubernetes/community/blob/f8148d406c36cf46783f62a38bae40352b760d34/contributors/devel/sig-architecture/api-conventions.md#lists-of-named-subobjects-preferred-over-maps) of the API conventions that suggests the use of a list of named subobjects instead of maps. Although the convention itself presents an exception to "pure maps"

[2022-01-27 03:18] #3092 closed

[2022-01-27 04:47] Madhur97 commented on #2910
..
..
..

Adding more cases which can be covered as part of cluster controller tests:
1. Should not reconcile if owner Cluster is marked as paused
2. Should fail reconciliation and patch PrincipalCredentialRetrieved condition as unknown when source identity is not authorized
3. Should fail reconciliation if AWSClusterControllerIdentity’s name is not default
4. Should fail reconciliation and mark P

[2022-01-27 05:43] Ankitasw commented on #2910
This is already covered

I think 2-10 can be taken care in scope package, wdyt?

Already covered in vpc_test.go

Can be taken care in vpc_test.go if not already covered.

Already covered in subnets_test.go

Already covered in securitygroups_test.go

Can be covered in securitygroups_test.go if not already covered.

Can be covered in bastion_test.go

Can be covered in bastion_test.go

Can be covered

[2022-01-27 06:05] dntosas opened #3105 "Can't create additional nonRootVolumes for Etcd Persistency"
/kind bug

**What steps did you take and what happened:**
I am creating a self-managed AWSCluster successfully. Then I need to attach more `nonRootVolumes` to the instances of the Control Plane in order to utilize them for Etcd persistency. Unfortunately, creation of either `AWSMachine` or `AWSMachineTemplate` fails either on validation or CAPA panics with the following error:
[code]

Attaching my

[2022-01-27 10:43] dntosas commented on #3105
nvm, that happened because of some configuration on kubeAdmControlPlane missing ^^

posting for reference in case anyone ends up in here:
[code]

[2022-01-27 12:21] t-lo opened #3107 "Provide Flatcar Container Linux CAPA images on AWS"
/kind feature

This issue is to track the status of a recurring CAPA office hours item - to provide CAPA images of Flatcar Container Linux on AWS (see e.g. [here](https://docs.google.com/document/d/1_cUJiz07tIPir1aghccxvq4get67uvzPsn_yYwPTdFA/edit#heading=h.kqv8cgn6kfpe)). Image availability will foster e2e testing aims to provide a point of reference for using Flatcar Container Linux with the CAP

[2022-01-27 12:21] t-lo commented on #3107
CC: @sedefsavas

[2022-01-27 14:15] dongsupark commented on #3107
Thanks for creating the issue.
I will try to add more details.

Each Flatcar CAPA AMI name has a format of `capa-ami-flatcar-[channel]-[k8s-version]-00-[timestamp]`, e.g. `capa-ami-flatcar-stable-1.23.1-00-1639733395`.

So far AMIs were created for all Flatcar channels, i.e. `stable`, `beta`, and `alpha`.
AMIs for each channel have been created for 3 recent Kubernetes versions, e.g. `1.21`, `1.22`

[2022-01-27 16:03] pydctw commented on #3074
/assign

[2022-01-27 20:03] sedefsavas opened #3108 "Use AMI lookup for bastion hosts instead of using hardcoded values"
We are using Ubuntu images published on AWS community AMIs for bastion host if an image id is not provided.

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/50af6ec5ce7a183b67d23a187e687c42fef24176/pkg/cloud/services/ec2/ami.go#L191-L195

Currently, default AMIs used for bastion are hardcoded. To use the latest published images to avoid any security issues, we can do a lookup and

[2022-01-27 21:52] sedefsavas opened #3109 "AWSMachine and AWSMachineTemplate.Spec creation validation should be consistent"
/kind cleanup

Creation validation of MachineSpec should be consistent everywhere.
There is a bug https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3105 for example in AWSMachine validation which is fixed in AWSMachineTemplate:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/2969152895a268fdaf022156e3b14777d9bcfd8f/api/v1beta1/awsmachine_webhook.go#L172
vs
https:/

[2022-01-27 21:52] sedefsavas commented on #3105
@dntosas Thanks for reporting this.

This bug is valid:

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/2969152895a268fdaf022156e3b14777d9bcfd8f/api/v1beta1/awsmachine_webhook.go#L172

We are checking `r.Spec.RootVolume.Type` instead of `nonrootVolume`'s type.

I will provide a solution combined with https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3109

[2022-01-27 23:08] sedefsavas commented on #3102
I think we can do validation similar to conditions in api machinery:  https://github.com/kubernetes/apimachinery/blob/7149480564b7d40046f19040efa20171b49059ae/pkg/apis/meta/v1/validation/validation.go#L213

Or more similar to tags, we can checkout how metadata.labels and annotations throw error.
Because when I try to update labels I see these errors which we would want:
[code]

[2022-01-27 23:13] sedefsavas commented on #3102
List of objects are suitable to use for tags but we need to wait for a major release to do this change as we may break workflows.
In the meantime, we could implement a workaround. WDYT?

[2022-01-27 23:38] sedefsavas commented on #2993
@pydctw
We don't need worker machines during KCP upgrade tests, it is supported to use 0 worker machines:
https://github.com/kubernetes-sigs/cluster-api/pull/5926

[2022-01-27 23:40] sedefsavas opened #3112 "Update cluster-api to 1.1.0-rc.0"
We should bump cluster-api and cluster-api-test modules and update e2e test config.

[2022-01-27 23:43] pydctw commented on #2993
Yes, when I submitted the PR, having 0 worker machines were not supported in CAPI yet.
When I come back to this issue, will refactor the code. Thanks for the info.

[2022-01-28 00:15] sedefsavas commented on #3108
We already install updates with a cron job in the bastion host:

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/ab3afdef21ab208a780810034f615fe0b48a6c1a/pkg/cloud/services/userdata/bastion.go#L23

So this is not critical in terms of security.

[2022-01-28 06:40] sedefsavas commented on #2910
@Madhur97 @Ankitasw
In general, we cannot cover every edge case in the integration tests, we should be mindful of test durations.

Our aim is to make the code base well tested by using webhook tests, integration, unit, and e2e tests wherever suitable. For instance, #3 can be a webhook test, #4, #5, #6, #7 etc could all be tested well with unit tests.

[2022-01-28 06:59] sedefsavas commented on #2910
Also, in integration tests, we can try to merge multiple scenarios into a single test, which saves us time.

[2022-01-28 07:22] Skarlso opened #3113 "Deprecate golint and replace it with revive"
golint is now a deprecated project. A must better replacement, is [revive](https://github.com/mgechev/revive).

[2022-01-28 07:23] Skarlso commented on #3113
Uh, never mind. :D I misread the config. It's disabled. :) Revive is already enabled. :)

[2022-01-28 07:23] #3113 closed

[2022-01-28 07:30] Skarlso commented on #3104
/assign

[2022-01-28 07:36] Skarlso commented on #3104
@neolit123 Hi. :)

How likely is this change going to break existing tooling which isn't updated yet to use this new tooling?

I wonder if there is a way of rather ignoring certain fields or having both in the file until such a time comes when only the new tooling is used?

[2022-01-28 08:00] Ankitasw commented on #2910
Missed scenarios in autoscaling pkg:

- Test cases for `StartASGInstanceRefresh` func(which will also cover `createSDKMixedInstancesPolicy` func)
- Should fetch subnets from infra cluster if no subnets specified in AWSMachinePool
- Should fail in getting subnets for ASG
- Should fail if AWSMachinePool has no LaunchTemplateID

[2022-01-28 08:03] Skarlso commented on #3104
Would have been helpful to include that it's the `export` command that fails... :)

[2022-01-28 08:09] Skarlso commented on #3104
I feel like this tool is too new to be taken seriously. It has zero tests, no validations, no guidelines, PR checks, releases or relevant information. How come this was picked up or why is it not under the kube-sigs project structure.

[2022-01-28 08:13] Ankitasw commented on #2910
Missed scenarios in launchtemplate.go unit tests:

- Should return computed userdata if userdata is nil in launchtemplate
- In TestService_LaunchTemplateNeedsUpdate func:
1. Should return true if incoming IamInstanceProfile is not same as existing IamInstanceProfile
2. Should return true if incoming InstanceType is not same as existing InstanceType
3. Should return false if failed to get core node

[2022-01-28 08:55] Skarlso commented on #3101
/assign

[2022-01-28 09:58] Skarlso commented on #3104
Sorry, I didn't mean to sound so pendantic. Just please help me understand the adoption process of a new tool in this ecosystem. 😊

[2022-01-28 10:12] richardcase commented on #3104
@Skarlso - when you make this change could you move the existing `emeritus_approvers` into the `emeritus_reviewers` list? And then change `emeritus_maintainers` to `emeritus_approvers`?

[2022-01-28 10:16] Skarlso commented on #3104
Yes, and thank you for the background and clarifications! :)

[2022-01-28 10:35] neolit123 commented on #3104
It can take some time before a tool like that becomes stable. I think what
matters in this case is that there is no such field (_maintainers) defined
in the YAML spec of the bot that reads the owners files.
On Jan 28, 2022 11:58, "Gergely Brautigam" ***@***.***> wrote:

[2022-01-28 11:03] Skarlso commented on #3104
`emeritus_reviewers` -> is also an unknown field

[2022-01-28 11:16] neolit123 commented on #3104
Related issue https://github.com/kubernetes/community/issues/6334
On Jan 28, 2022 13:03, "Gergely Brautigam" ***@***.***> wrote:

[2022-01-28 11:19] Skarlso commented on #3104
@neolit123 Oh thank you! So. Umm... what do we change `emeritus_reviewers` into?

[2022-01-28 11:21] Skarlso commented on #3104
Oh I see the attached doc to the issue. I'll read that and try to come with something with Richard.

[2022-01-28 11:24] neolit123 commented on #3104
There is only an _approvers field. Leaving the decisions to the current
maintainers.
On Jan 28, 2022 13:19, "Gergely Brautigam" ***@***.***> wrote:

[2022-01-28 11:37] richardcase commented on #3104
@Skarlso - what do you think to this then:

- Remove `emeritus_approvers`
- Rename `emeritus_maintainers` to `emeritus_approvers`

I think we should still acknowledge emeritus reviewers/approvers in general. So how about we add a section in the README.md that under the `Our contributors` (before the image of all the contributors) where we add something like  `Thank you to all our contributores and

[2022-01-28 11:49] Skarlso commented on #3104
@richardcase Yep, sounds good to me.

[2022-01-28 13:04] #3104 closed

[2022-01-28 14:17] Ankitasw commented on #2910
I will work on package `pkg/cloud/tags`

[2022-01-28 17:33] Ankitasw commented on #2169
@sedefsavas do we still need to keep this issue open?

[2022-01-29 18:43] Skarlso commented on #3101
@lackhoa The log in the controller begins with a character that represents the log level.
`I -> INFO`
`D -> DEBUG`
`E -> ERROR`

grep for info:

[code]

grep for errors:

[code]

It think this works pretty well.

[2022-01-30 15:23] Skarlso commented on #3086
/assign

[2022-01-30 20:49] voor commented on #2902
Still very much a strongly desired feature.

/remove-lifecycle stale

[2022-01-31 06:11] lackhoa commented on #3101
@Skarlso Nice idea but unfortunately if you use stern, the log isn't at the beginning anymore.
[code]

[2022-01-31 06:59] Skarlso commented on #3101
The "problem" here is that we are using `logr` which is used by k8s. They have a different opinion on log levels based on numbers, which do make sense. Also, if I recall, stern is a defunct project, right? :)

Further, it is still pretty much grep-able since `manager` is a constant ( the name of the container ). So you can grep `manager [I|E]`.

I'll look into providing a header, but the header th

[2022-01-31 07:51] Ankitasw commented on #2924
I found one such reference but we have already mentioned about using only one AZ [here](https://cluster-api-aws.sigs.k8s.io/topics/consuming-existing-aws-infrastructure.html#placing-ec2-instances-in-specific-azs)

[2022-01-31 09:43] lackhoa commented on #3101
@Skarlso I didn't know stern was a defunct project, but my point wasn't about stern. It was about how grepping based on line opening can fail when you integrate with other things.

I guess everything is greppable if you put enough effort into it. I could also use awk to parse the log lines and then grep. But the point is that it should be easy, right?
I'd like to add another point is that `I0122`

[2022-01-31 10:25] richardcase opened #3121 "Support looking up EKS optimized image for ARM"
/kind bug

**What steps did you take and what happened:**
When creating an EKS based cluster if we don't specify any of the image properties we [look up the default EKS optimized  AMIs using SSM].

We only support looking up the base AL2 [EKS ami](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/50af6ec5ce7a183b67d23a187e687c42fef24176/pkg/cloud/services/ec2/ami.go#L59) and the [GP

[2022-01-31 10:28] richardcase commented on #3121
/triage accepted
/priority important-soon

[2022-01-31 10:34] Skarlso commented on #3101
@lackhoa I get your point, and it's a valid one. We'll figure something out in the next community meeting as this affects the whole project ( so we are consistent over other controllers as well.

Maybe something like `level=INFO` in amongst the values of the logger. The header is sadly not changeable as it's set based on severity. You can disable it, but that's about it. :))

[2022-01-31 17:04] sedefsavas commented on #1657
/reopen

[2022-01-31 17:07] Ankitasw commented on #1657
/assign

[2022-01-31 23:21] 10hin commented on #2918
At following line, reconciler creates subnet tag from s.scope.Name().
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/ba3fa47bf5d0019d035dde12916eb7057724424f/pkg/cloud/services/network/subnets.go#L421
this should be decided according to name specified to EKS cluster. For example, the value of field eksClusterName in AWSManagedControlPlaneSpec.

[2022-02-01 06:24] Ankitasw commented on #1657
@sedefsavas just to clarify, we have not changed the scope of this issue right, we want classic ELB health check to use TCP instead of SSL, that's all?

[2022-02-01 14:14] rayandas commented on #3087
@sedefsavas Can I work on this?

[2022-02-01 18:08] pydctw commented on #2918
Thanks for reporting the bug. When I added the tag to the subnets, I didn't realize EKSCluster has a name field that can be generated differently. This is a valid.

[2022-02-01 18:08] pydctw commented on #2918
/triage accepted

[2022-02-01 20:42] sedefsavas commented on #2924
@Ankitasw
We should document this in a more generic place, because this constraint does not only exist when you use externally managed network resources.

I think we should consider having a failure domains support documentation similar to CAPZ: https://capz.sigs.k8s.io/topics/failure-domains.html?highlight=%23%23%20Failure%20domains%20in%20Azure#failure-domains-in-azure

This new document should

[2022-02-01 21:07] #2890 closed

[2022-02-01 21:24] sedefsavas opened #3127 "Add conversion-verifier to CI"
Populating this issue from https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3085 to track conversion-verifier addition separately.

[code]

/good-first-issue
/priority backlog

[2022-02-01 22:19] sedefsavas commented on #3087
/assign @rayandas

[2022-02-01 22:24] sedefsavas commented on #3087
@pydctw could you follow up on this for pointers if needed?

[2022-02-02 00:31] sedefsavas commented on #2941
Also, we should bump their versions. We are using 1.20 CCM in our tests and an older version of CSI driver.

[2022-02-02 00:58] sedefsavas commented on #2888
/remove-lifecycle stale

[2022-02-02 01:06] pydctw opened #3128 "Add documentation clarifying managed vs. unmanaged"
I find CAPA's use of managed and unmanaged terminologies confusing.

For VPC, CAPA created one is called a managed VPC while an existing VPC provided by a user is called an unmanaged VPC. And I heard that this is opposite in EKS clusters.
Also, EKS uses managed control planes and managed machine pools, which I assume managed in this case means AWS managed.

Could we add documentation to clarify th

[2022-02-02 03:13] RishiKumarRay commented on #3127
Can you give Me any reference where i can read about this, i want to go for this issue

[2022-02-02 03:26] shivi28 commented on #3112
/assign @shivi28

[2022-02-02 05:31] geetikabatra commented on #2088
/reopen
/remove-lifecycle rotten

[2022-02-02 06:15] sedefsavas commented on #1982
Related to this issue: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2088

[2022-02-02 06:17] Ankitasw commented on #2924
@sedefsavas do we want to change the scope of this issue to add failure domains doc such that we can specify above constraint in failure domain doc?

[2022-02-02 07:24] sedefsavas commented on #3127
Hi @RishiKumarRay

We want to add this conversion verifier to our `verify` target in Makefile very similar to how it is implemented in core cluster-api Makefile:

@sbueringer what is the best way to use the conversion verifier code without copying?
 https://github.com/kubernetes-sigs/cluster-api/tree/main/hack/tools/conversion-verifier

[2022-02-02 07:27] sedefsavas commented on #2924
Yes, feel free to change the title.

[2022-02-02 07:33] sedefsavas commented on #3112
Just copying from slack to keep this in the issue itself for future reference:

Regarding bumping CAPI version to v1.1.0-rc.0 in e2e config, we should update all v1.1.0-beta.1 references to rc version and also would be good to update main branch references to test the latest changes.

Main branch manifests & images are published daily, I don’t recall what time they are built but you can safely use

[2022-02-02 07:53] sedefsavas commented on #2169
To avoid making `DescribeNatGateways()` call, we need to add an API field (something like `isUsingNAT`) and get information, otherwise I don't see an easy way to detect if the existing infrastructure uses NatGateways or not.

BTW, we only make this call to fill out the ID field on the spec when VPC hence NAT gateways are externally managed, but it is still useful to fill out this info on `AWSClust

[2022-02-02 09:09] sbueringer commented on #3127
Every provider seems to do this slightly differently but for CAPA it should be ca.:
* Add `CONVERSION_VERIFIER` here: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/4274a5ab5c9dc391045840d6e45e17fe0cbab3dc/Makefile#L48
* Add `CONVERSION_VERIFIER` here: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/cb0a385b53fd75327956834bed126edc67a7daa7/hack/tools/Makefile#L75

[2022-02-02 09:21] sedefsavas opened #3130 "Document how to use IAM roles instead of the credentials CAPA started with"
/kind documentation

We need documentation for the steps on how to make CAPA use the instance profiles (IAM roles) attached to a ec2 instance.

A possible scenario for CAPA-managed clusters:

- Init bootstrap cluster with temporary credentials
- Create a workload cluster
- Control plane nodes on the workload cluster will have IAM roles attached which is enough for CAPA to work.
- Want to move the

[2022-02-02 10:18] Ankitasw commented on #2924
CAPI issue: https://github.com/kubernetes-sigs/cluster-api/issues/5542

[2022-02-02 16:15] rayandas commented on #3087
I need few inputs here:
What would be the job name, testgrid tab name, min supported K8s version that we want to add and the ideal interval?

@pydctw

[2022-02-02 18:14] pydctw commented on #3087
@sedefsavas, a clarifying question before I give an answer to @rayandas.

The CAPI issue kubernetes-sigs/cluster-api#5963 is about adding a periodic test to run `unit/integration` test against min k8s version.
We have periodic e2e tests but no periodic unit/integration test. Is this issue about adding a periodic conformance test or unit/integration test?

[2022-02-02 19:03] sedefsavas opened #3131 "Add documentation on how to use proxies and Service Endpoints with CAPA"
/kind documentation

For air-gapped management clusters, there are 2 ways to reach AWS services:
1) Using a proxy service
CAPA supports using proxy services set in the pod itself by setting `HTTP_PROXY`/`HTTPS_PROXY` variables and mounting the necessary cert files. CAPA does not have any special logic to support proxy env variables, the fact that it is using client-go HTTP packages makes it work w

[2022-02-02 21:11] josh-ferrell opened #3132 "e2e unmanaged suite failing because of ECR creation/lookup"
/kind bug

**What steps did you take and what happened:**
Test failed running `make test-e2e` when trying to recreate a "capa/up" ECR but then looking for "capa/update"

**What did you expect to happen:**
`make test-e2e` runs successfully if the ECR has previously been created.

**Anything else you would like to add:**
The tests seem fine when specifying the same ECR name. Perhaps I'm not getting

[2022-02-03 03:17] sedefsavas commented on #3132
Interesting, this should fail in the Prow if the error we are checking was wrong.
Regardless, the repo names should match.

As a side note, we still have work to do to clean up created ecr public repos in Boskos (see [issue](https://github.com/kubernetes-sigs/boskos/issues/110))

[2022-02-03 03:53] #3061 closed

[2022-02-03 04:03] #3132 closed

[2022-02-03 06:06] shivi28 opened #3134 "Update CAPI to v1.1.0"
We should bump cluster-api and cluster-api-test modules and update e2e test config.

[2022-02-03 09:32] Madhur97 commented on #2910
[pkg/cloud/services/autoscaling](https://github.com/kubernetes-sigs/cluster-api-provider-aws/tree/main/pkg/cloud/services/autoscaling):
Need to check past issues occurred related to autoscaling package and cover them in test files.

[2022-02-03 09:53] shivi28 commented on #3134
/priority/critical-urgent

[2022-02-03 09:54] shivi28 commented on #3134
/triage accepted

[2022-02-03 09:57] #3134 closed

[2022-02-03 17:42] pydctw commented on #3074
Waiting for #3123 to be merged.

[2022-02-03 19:56] shivi28 opened #3141 "Update CAPI to v0.4.7 in CAPA release-0.7 branch"
We should bump cluster-api and cluster-api-test modules and update e2e test config.

[2022-02-03 19:56] shivi28 commented on #3141
/assign @shivi28

[2022-02-03 20:26] pydctw opened #3143 "Make logging for creating/deleting AWS resources consistent"
While reviewing e2e test output, I noticed that logging for AWS resource creation/deletion is inconsistent. Some has only creation log while others (e.g. security groups) don't have any logging.

For example, CAPA log shows that there are creation logs for subnet, IGW and NGW (note that NGW log format could be consistent) while there are more logs for deletion.

[code]

This is due to some resourc

[2022-02-03 20:26] pydctw commented on #3143
/assign

[2022-02-03 20:27] pydctw commented on #3143
I think `Deleted association between route table and subnet` can be moved back to level 2 logging.

[2022-02-04 02:34] sedefsavas commented on #3141
/close
PR is merged.

[2022-02-04 02:34] #3141 closed

[2022-02-04 02:35] sedefsavas commented on #3112
Closing in favor of https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3134

[2022-02-04 02:35] #3112 closed

[2022-02-04 08:34] shivi28 opened #3148 "Add branch variable in v0.7 release makefile"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
During release we hardcoded `branch=main` in makefile, needs to update the makefile to get current branch name

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api

[2022-02-04 08:35] shivi28 commented on #3148
/assign @shivi28

[2022-02-04 14:13] Ankitasw commented on #2608
@sedefsavas since you are working on NLB, is this needed?

[2022-02-04 14:34] lackhoa commented on #3082
I believe the issue happened because we were using a custom version of the capa controller manager, which changes some VPC configuration.
I have tested a similar configuration on a vanilla capa controller, and the bastion host was created just fine.
Closing this issue now. I'm really sorry if this wasted your time.

[2022-02-04 14:34] #3082 closed

[2022-02-04 18:01] pydctw opened #3152 "Consistent Logging"
I've found that the use of log format and logging levels are inconsistent in the repo.

A few examples
1) Different log levels are used across reconcilers.
[code]

2) Log formats are different for the main controllers.
[code]

3) Logging for AWS resource creation/deletion is inconsistent. The reason for using V(0) for `Deleted association between route table and subnet` while using V(2) for `Delet

[2022-02-04 18:20] sedefsavas commented on #3148
Merged.

[2022-02-04 18:20] #3148 closed

[2022-02-04 18:28] sedefsavas commented on #3087
@pydctw
I was thinking about adding e2e tests like this: https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#capi-periodic-upgrade-main-1-19-1-20&show-stale-tests=

I don't see much benefit of periodically running unit tests as PRs have blocking unit tests, but let's research on this to decide.

[2022-02-04 21:28] sedefsavas opened #3153 "Failing to build release-notes binary"
Looks like a version incompatibility issue.

[code]

/kind bug

[2022-02-04 21:29] sedefsavas commented on #3153
/good-first-issue

[2022-02-04 21:51] richardcase commented on #3153
I've been wondering for a while if we should change to use the GH release notes generation instead.

[2022-02-05 18:47] richardchen331 opened #3155 "Skip AWSMMP reconciliation if the owning Cluster or AWSMMP itself is paused"
/kind feature

We skip AWSMCP reconciliation when the owning Cluster or the AWSMCP itself is paused (https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/controlplane/eks/controllers/awsmanagedcontrolplane_controller.go#L137). We should add the same logic for AWSMMP.

**Describe the solution you'd like**
Add logic to AWSMMP controller similar to this (https://github.com/kubernetes

[2022-02-05 18:47] richardchen331 commented on #3155
/assign

[2022-02-05 18:52] richardchen331 commented on #2180
This is still happening consistently when I looked at recent e2e runs at https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-cluster-api-provider-aws-e2e-eks

Example: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-aws/3095/pull-cluster-api-provider-aws-e2e-eks/1486250029256544256/artifacts/clusters/bootstrap/controllers

[2022-02-06 02:47] zeborg commented on #3127
Hi @sbueringer! I think I've got the idea here, and would like to make a PR for this issue soon if it's not assigned to anybody yet. Thanks!

[2022-02-06 03:01] sedefsavas commented on #3127
@RishiKumarRay, would you like to work on this issue? If so, I will assign it to you.

@zeborg, let's wait for the answer as they've already shown interest.

[2022-02-06 06:18] RishiKumarRay commented on #3127
@sbueringer thankyou for mentioning , please assign @zeborg since he has the idea and i haven't figured out this as i was busy with something else.

[2022-02-06 08:22] sedefsavas commented on #3127
Thanks for responding @RishiKumarRay.

@zeborg Feel free to assign yourself.

[2022-02-06 09:06] zeborg commented on #3127
/assign

[2022-02-06 11:51] zeborg commented on #3127
Hey @sedefsavas, I've made some changes locally but I would like to know the appropriate way in which I could test them. Can you please tell me how I can verify if the changes would work properly once implemented in the repo?

I tried to run `make verify` on my local system, but it seems to throw the following error:
[code]
which makes me think that either there must be some steps prior to executi

[2022-02-07 05:05] sedefsavas commented on #3107
Published Kubernetes 1.23.3 Flatcar-stable images:

[code]

Given that these are reference images, publishing and testing `stable` releases would be more sustainable IMO compared to publishing also `alpha`, `beta` releases which will not be used by end users. We can discuss this further during the office hours.

[2022-02-07 05:19] akash-gautam commented on #2574
PR will be out soon, most of the work is done.
/lifecycle active

[2022-02-07 05:33] sedefsavas commented on #3107
There were few things I needed to change in the config to build them. Added these to the config:

Could not make it work without setting the checksum.

The complete config I used to build the images is here: https://gist.github.com/sedefsavas/9e145e8ee0cf81cfdbb439edc8663e66

[2022-02-07 07:01] meghanajangi commented on #3153
/assign

[2022-02-07 08:19] sedefsavas commented on #3153
I am using GH release to double check we are not missing any changes.
Only thing is it is missing categorization, we need to go over each of them to decide bug/cleanup etc.
We can possibly do something similar to what [cluster-api has ](https://github.com/kubernetes-sigs/cluster-api/tree/main/hack/tools/release)using GH release notes.

[2022-02-07 09:52] richardcase commented on #2180
We had this issue with the eks e2e in release-0.6 as well. Depending on the fix it may be worth us backporting this.

[2022-02-07 09:54] richardcase commented on #2865
/lifecycle frozen

[2022-02-07 09:55] richardcase commented on #2704
/lifecycle frozen
/good-first-issue

[2022-02-07 09:57] richardcase commented on #2224
This is going to be fixed by #3094

[2022-02-07 09:57] richardcase commented on #2224
/lifecycle frozen

[2022-02-07 10:04] richardcase commented on #3153
I have done this with a different project, we can probably get away without custom code. You can customize the GH release notes generation using a config file placed in `.github/release.yml`. [This](https://github.com/weaveworks/flintlock/blob/main/.github/release.yml) is an example. The configuration options can be found [here](https://docs.github.com/en/repositories/releasing-projects-on-github/

[2022-02-07 10:09] richardcase commented on #3152
@pydctw - we also have #3101 which is related. I know @Skarlso was looking at standardizing log levels as part of that work. It would be worth you both chatting.

[2022-02-07 10:10] richardcase commented on #2704
/lifecycle frozen

[2022-02-07 10:23] meghanajangi commented on #3153
Yes, I would like to work on it.

[2022-02-07 10:25] Skarlso commented on #3152
Oh nice! I have been working on a POC to replace that stuff. It's a bit difficult to find out though which was supposed to do what. And it will be a rather large change I'm afraid.

[2022-02-07 11:27] Ankitasw commented on #2608
/assign

[2022-02-07 11:29] Ankitasw commented on #2924
/retitle Add documentation for use of failure domains in CAPA with multi-AZ constraints

[2022-02-07 12:18] richardcase commented on #2608
My feeling is that if we change to use NLBs via #3088 then we probably don't need this? wdyt @sedefsavas ?

[2022-02-07 12:40] Ankitasw commented on #2924
/retitle Add documentation for use of failure domains in CAPA with single-AZ constraints

[2022-02-07 13:41] richardcase opened #3165 "Add missing conversion functions"
/kind bug

**What steps did you take and what happened:**
As part of #3127 it has highlighted that there a number of missing conversion functions:

[code]

We should fix these as part of the same change so that the CI passes.

**What did you expect to happen:**
I would expect the missing conversion functions to be there so that CO doesn't fail

**Anything else you would like to add:**
[Miscellaneo

[2022-02-07 13:43] richardcase commented on #3165
/assign zebory
/triage accepted
/priority important-soon

[2022-02-07 13:44] richardcase commented on #3165
/assign zeborg

[2022-02-07 13:47] zeborg commented on #3165
/assign

[2022-02-07 17:55] #3165 closed

[2022-02-07 18:04] richardcase commented on #3085
As discussed in the office hours i think you need to do this as well for AWSClusterTemplateList conversion:

* Create a new file `api/v1alpha4/awsclustertemplate_conversion.go` that contains something like this:

[code]

Also make sure that the `/api/v1beta1/conversion.go` has the `Hub` function for `AWSClusterTemplateList`.

You should then be able to run `make generate-go-apis` and then your new

[2022-02-07 18:14] richardchen331 commented on #2180
Here's the proposed fix https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3157

[2022-02-07 18:22] zeborg commented on #3085
/assign

[2022-02-07 20:53] pydctw commented on #3152
@Skarlso, I would love to hear what you are thinking. Let's sync up.

[2022-02-07 20:55] Skarlso commented on #3152
@pydctw Sure, will write up a detailed POC and link a WIP PR tomorrow. :)

[2022-02-07 22:57] sedefsavas opened #3166 "Add AWSManagedControlPlaneTemplate type"
Add a new CRD named `AWSManagedControlPlaneTemplate`, that will be used with `ClusterClass`.

This should have the same webhooks with `AWSManagedControlPlane`.
(Example `AWSClusterTemplate` PR: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2585)

/kind feature

[2022-02-07 23:06] sedefsavas opened #3167 "Add EKS e2e tests with ClusterClass"
After https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3166 is implemented, we should add some e2e tests to validate that ClusterClass works with EKS-managed clusters.

Testing `AWSManagedControlPlane` + `MachineDeployments` is a good start.

Eventually, we want tests added for `AWSManagedMachinePools` and `AWSFargateProfile` support.

We should not replace existing tests with th

[2022-02-08 00:14] pydctw commented on #3166
/assign

[2022-02-08 03:37] sedefsavas commented on #2608
Even if with NLB changes, we will only deprecate ELB, will not block their usage. Existing clusters will keep using ELB for a while so it is good to have.

[2022-02-08 03:40] sedefsavas commented on #2954
Given that ClusterClass is still experimental, we don't need to move all test cases to it yet.

Tracking individual cases instead like https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3167
Closing for now.

[2022-02-08 03:40] #2954 closed

[2022-02-08 04:30] sedefsavas opened #3169 "Add apidiff target to the Makefile"
We should add a Make target that takes a diff on API changes and create a optional pre-submit job that calls that target.

We can follow what CAPI already has:
Adding a [Makefile target to build apidiff](https://github.com/kubernetes-sigs/cluster-api/blob/main/Makefile#L746-L747)
Adding a [Makefile target to run apidiff locally against origin/main](https://github.com/kubernetes-sigs/cluster-api/bl

[2022-02-08 04:31] sedefsavas commented on #3169
/good-first-issue
/priority backlog
/triage accepted

[2022-02-08 06:34] meghanajangi commented on #3169
/assign

[2022-02-08 10:58] JoelSpeed commented on #1888
Just wanted to post a little more colour to the placement group discussion, we've been discussing this quite a bit within OpenShift and in particular talking about how placement groups should be configured.

Originally we had proposed that the configuration would be part of the MachineTemplate and that the group would be created based on the configuration in the template, however, it was identifie

[2022-02-08 11:56] richardcase opened #3170 "Use GitHub Release Note Generation"
/kind feature
/help
/good-first-issue
/triage accepted
/priority important-soon
/area release

**Describe the solution you'd like**
Change the release process to use [GitHub Release Notes](https://docs.github.com/en/repositories/releasing-projects-on-github/automatically-generated-release-notes) instead of the `release-notes` cli.

Some of the tasks

- [ ] Change the [`release-changelog`](https://

[2022-02-08 11:56] richardcase commented on #3170
/assign meghanajangi

[2022-02-08 11:58] richardcase commented on #3153
Added #3170 with the details of implementing github release notes.

[2022-02-08 11:58] meghanajangi commented on #3170
/assign

[2022-02-08 12:01] richardcase opened #3171 "Remove the release-notes plugin from Prow"
/kind feature
/triage accepted
/priority important-soon
/area release

**Describe the solution you'd like**
Once we have moved to using GitHub release note generation (#3170) we need to disable the release notes plugin in Prow.

**Anything else you would like to add:**

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-rel

[2022-02-08 12:48] dallasmarlow opened #3172 "Controller manager secrets volume mount race conditions"
/kind bug

**What steps did you take and what happened:**

After initial bootstrapping of CAPA services to a K8S cluster some controller manager pods are created before a secret referenced by the "cert" volume is created. When this race condition occurs leader election fails within the pods and does not seem to recover automatically until the pods are restarted.

**What did you expect to happen:**

[2022-02-08 18:18] pydctw opened #3174 "Add apidiff to Makefile target"
There are a few Makefile targets that are used in other cluster api projects that will be great to add to CAPA.

One of them is `apidiff` which diffs API changes on PRs.

Refer to [cluster-api](https://github.com/kubernetes-sigs/cluster-api/blob/main/Makefile#L309-L311)

[2022-02-08 18:18] pydctw commented on #3174
/good-first-issue

[2022-02-08 18:21] pydctw opened #3175 "Add verify-shellcheck to Makefile target"
There are a few Makefile targets that are used in other cluster api projects that will be great to add to CAPA.

One of them is `verify-shellcheck`.

Refer to [cluster-api](https://github.com/kubernetes-sigs/cluster-api/blob/main/Makefile#L352-L354) to see how it is implemented.

[2022-02-08 18:21] pydctw commented on #3175
/good-first-issue

[2022-02-08 18:23] pydctw opened #3176 "Add verify-book-links to Makefile target"
There are a few Makefile targets that are used in other cluster api projects that will be great to add to CAPA.

One of them is `verify-book-links` which checks if book links are correct

Refer to [cluster-api](https://github.com/kubernetes-sigs/cluster-api/blob/main/Makefile#L365-L367) for implementation details.

[2022-02-08 18:24] pydctw commented on #3176
/good-first-issue

[2022-02-08 18:29] sedefsavas commented on #3176
/triage accepted
/priority backlog

[2022-02-08 18:29] sedefsavas commented on #3174
Closing in favor of https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3169

[2022-02-08 18:29] #3174 closed

[2022-02-08 18:31] sedefsavas commented on #3175
/triage accepted
/priority backlog

[2022-02-08 18:31] pydctw commented on #3174
didn't see the other issue. Thanks!

[2022-02-08 18:33] sedefsavas commented on #3153
Closing this issue as it will not be a problem once we move to GH release notes. #3170

[2022-02-08 18:33] #3153 closed

[2022-02-08 19:25] sbueringer commented on #3102
I think using a string=>string map should be fine. Sounds to me like it's a very similar use case to annotations/labels.

I also think implementing the validation in the webhook instead of via OpenAPI schema is absolutely okay.

[2022-02-08 20:16] zeborg commented on #3175
/assign

[2022-02-08 20:16] zeborg commented on #3176
/assign

[2022-02-08 21:52] #3085 closed

[2022-02-08 21:52] #3127 closed

[2022-02-08 22:35] sedefsavas commented on #2936
/remove-lifecycle stale

[2022-02-08 23:04] pydctw commented on #3087
Sounds great, @sedefsavas

@rayandas, as you will be adding a periodic e2e test running against min k8s version, I would pick sth like `periodic-e2e-mink8s-main` as testgrid tab name. Current min k8s version is 1.19. For other parameters, you can decide accordingly.

You can review the [existing test](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/cluster-api-prov

[2022-02-09 02:04] sedefsavas commented on #3172
Hi @dallasmarlow
How are you deploying controllers? I am guessing without `clusterctl`
Are you using custom certs or cert-manager?
Certs need to be ready during startup, if not, once pod is up, we don't have special handling. So, the only way to fix this situation is as you mentioned restarting the pod.

[2022-02-09 02:08] #3175 closed

[2022-02-09 02:22] #2918 closed

[2022-02-09 04:30] rayandas commented on #3087
Alright! thanks. @pydctw :)

[2022-02-09 07:48] shivi28 commented on #2910
Added all the above scenarios in the updated PR

[2022-02-09 10:19] Madhur97 opened #3179 "Errors missed out due to wrong usage of error.Wrapf()"
/kind bug

**What steps did you take and what happened:**
While writing the tests for `pkg/cloud/services/natgateway` package, I encountered [this](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/pkg/cloud/services/network/natgateways.go#L290) line of code. Here the expectation was to return an error if `len(out.NatGateways)` is zero but actually it will return error as nil.

[2022-02-09 10:35] shivi28 commented on #3179
Thanks @Madhur97 for creating this issue.
This issue can be useful for new contributors, so IMO we can mark it as
/good-first-issue

[2022-02-09 13:28] richardcase opened #3181 "Refactor the reconciler creation"
/kind feature
/priority backlog
/area testing
/triage accepted

**Describe the solution you'd like**
As part of reviewing #3073 there was a [suggestion](https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3073#discussion_r801902690) that we change how we create instances of our reconcilers and how we inject mocked dependencies for testing purposes  so that we can remove utility functi

[2022-02-09 13:28] richardcase commented on #3181
/assign

[2022-02-09 16:08] josh-ferrell opened #3183 "Add e2e test for provisioning a cluster with a specific AMI"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Add an E2E test to create a cluster with the AMI ID set in AWSMachineTemplate. This would validate the provisioning machines with a custom AMI use case.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Clu

[2022-02-09 18:19] sedefsavas commented on #3152
We should also consider adding JSON support during this refactoring, which is being discussed in CAPI:
https://github.com/kubernetes-sigs/cluster-api/issues/5571#issuecomment-1034000389

[2022-02-09 18:20] sedefsavas commented on #3101
Copying comment from #3152

[2022-02-09 18:36] josh-ferrell commented on #3183
Closing after talking with @sedefsavas as this is covered by conformance

[2022-02-09 18:36] #3183 closed

[2022-02-09 18:51] richardcase opened #3185 "Post-submit EKS e2e tests are failing"
/kind bug
/area testing
/priority important-soon

**What steps did you take and what happened:**
The post submit job that runs [e2e eks](https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-aws#postsubmit-eks-e2e-main) is failing sometimes with the following error:

[code]

**What did you expect to happen:**

I expect the post-submit job to pass.

**Anything else you would like to ad

[2022-02-09 18:51] richardcase commented on #3185
/assign
/lifecycle active

[2022-02-09 18:52] richardcase commented on #3185
/triage accepted

[2022-02-09 18:53] DiptoChakrabarty commented on #3179
Hi I wanted to work on this just wondering if its okay to return a custom error (using something like fmt.Errorf) when err is nil (checked using if else in case of error)

/assign

[2022-02-09 21:56] sedefsavas commented on #3179
Hello @DiptoChakrabarty
We can use this instead:
`errors.New("AWSClusterControllerIdentity is immutable")`

/triage accepted

[2022-02-10 00:32] dallasmarlow commented on #3172
Hello @sedefsavas

This issue occurred 1 out of 7 times when bootstrapping with `clusterctl`. I am not using custom certificates, but this bootstrapping process does install cert-manager automatically and use it for the secrets I mentioned above.

I think it may make sense for these processes to crash if they can not perform leader election after a specified interval or incorporate leader election

[2022-02-10 01:29] sedefsavas commented on #3172
And does it only happen for capa pods or does it happen with capi pods as well?

[2022-02-10 01:32] sedefsavas commented on #3172
@fabriziopandini @sbueringer
As far as I know, clusterctl proceeds only after cert-manager pods are up, are we doing any special handling in capi if the pods come up earlier than cert secrets being available?

[2022-02-10 02:08] sedefsavas commented on #2930
Didn't look too careful but looks like a single line of change in Makefile:

`ARCH ?= $(shell go env GOARCH)`

/good-first-issue
/remove-lifecycle stale

[2022-02-10 02:14] sedefsavas commented on #2932
Going forward we will always maintain multiple versions with lots of changes in the book for each version, so this will be good to have.

[2022-02-10 02:22] sedefsavas commented on #2654
/remove-lifecycle stale

@bishtsaurabh5 are you still working on this issue?

We already support nonRootVolumes in AWSMachine Spec
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/50af6ec5ce7a183b67d23a187e687c42fef24176/api/v1beta1/types.go#L187

We should add that field to AWSLaunchTemplates https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/8343acd0aff76aec600caeb2

[2022-02-10 02:32] sedefsavas commented on #2484
/remove-lifecycle stale

[2022-02-10 02:49] #3107 closed

[2022-02-10 08:00] Skarlso commented on #3152
@sedefsavas I would rather do a single thing / PR. This will be a bit of a pain as is anyways. :D I worked out a clean API for logging but I have to replace a LOT of log lines. :))))) We can do it in a followup PR? :)

[2022-02-10 08:01] Skarlso commented on #3152
Hmm, I read the whole thing. I guess I can use a different logger, like zerolog?

[2022-02-10 09:12] shivi28 opened #3187 "Re-deploy amilist lambda function in heptio aws account"
There was [one issue](https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3061) where we were not able to list CAPA AMI for kubernetes patch version in CAPA book.
[PR](https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3125) to fetch last 4 k8s release is merged
Now we need to redeploy this lambda function to AWS account.

[2022-02-10 09:13] shivi28 commented on #3187
/assign @shivi28

[2022-02-10 11:42] shivi28 opened #3188 "Modifying makefile in CAPA"
/kind feature

**Describe the solution you'd like**

In CAPI repository I have seen they have listed the `makefile` commands in different section to make it more readable.

<img width="1494" alt="Screenshot 2022-02-10 at 5 06 46 PM" src="https://user-images.githubusercontent.com/15645218/153401947-ab6311b3-1823-46f5-9c44-d5725174ff4d.png">

We can do something similar to this in CAPA `makefile`.

[2022-02-10 11:42] shivi28 commented on #3188
/assign @shivi28

[2022-02-10 12:17] Ankitasw commented on #3188
@shivi28 Can this qualify for good-first-issue ?

[2022-02-10 14:28] dallasmarlow commented on #3172
@sedefsavas it happened for both CAPI and CAPA pods in the instance I included logs for above. The pods were running on a `c6g.xlarge` EC2 instance, so I don't think it is related to a CPU starvation or throttling issue.

[2022-02-10 17:20] sedefsavas commented on #2941
/good-first-issue

[2022-02-10 18:02] sedefsavas commented on #2656
/remove-lifecycle rotten

[2022-02-10 18:03] sedefsavas commented on #3187
/priority backlog
/triage accepted
/milestone 1.x

[2022-02-10 18:48] invidian commented on #3107
So, it seems new images are missing e.g. https://github.com/kubernetes-sigs/image-builder/commit/f4864de5cad4a826aff80259bf6681e37a49f18d patch (and likely others), which we rely on to simplify the user configuration for CAPA. This is why e2e tests are failing right now.

@sedefsavas do you know what image-builder version was used to build new AMIs? Can we update/rebase it somehow?

[2022-02-10 18:49] sedefsavas commented on #3107
Not sure why it fails, I see kindest node for v1.23.3 is published.

But about to publish 1.23.0 images.

[2022-02-10 18:53] invidian commented on #3107
Hmm, https://github.com/kubernetes-sigs/image-builder/commit/f4864de5cad4a826aff80259bf6681e37a49f18d is only included in `master` and `[v0.1.11](https://github.com/kubernetes-sigs/image-builder/releases/tag/v0.1.11)`, according to GitHub :thinking:

[2022-02-10 19:18] shivi28 commented on #3188
/good-first-issue

[2022-02-10 19:21] sedefsavas commented on #3107
New v1.23.3 images published with image-builder v0.1.11:

--> flatcar-stable: AMIs were created:
ap-northeast-1: ami-0644b9a8c22af19f0
ap-northeast-2: ami-081a93f256696060e
ap-south-1: ami-078caddc6c8d8b3e8
ap-southeast-1: ami-01a56a3c987b4f56a
ap-southeast-2: ami-0e303cafee81a9466
ca-central-1: ami-07fbef0a507436f69
eu-central-1: ami-0c1408c802a43f808
eu-west-1: ami-0b0ff0d076a82b34f
eu-west-2: a

[2022-02-10 19:36] sedefsavas commented on #3152
Thanks for making progress on this @Skarlso

Since we are doing refactoring, it might be a good time to think about having consistency with cluster-api so that users won't have to grep differently to collect logs from different managers in the same management cluster.

It might worth further discussing this including other providers to see if a common approach could be adopted instead of having a

[2022-02-10 19:49] Skarlso commented on #3152
For sure, I'm open for suggestions as to which logger to adopt. :) I can use whatever we want as long as it's consistent with everything else, I guess.

[2022-02-10 19:58] zeborg commented on #3176
Update:
The implementation here is fairly simple, but I'm running behind due to my system's arch's _(arm64)_ incompatibility with the [image](https://hub.docker.com/_/maven?tab=tags&page=1&name=3-jdk-14) _(amd64)_ provide here:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/d4e16e42b26126a95e643091b7647bd525f37c72/hack/tools/plantuml.Dockerfile#L30

@pydctw I'd like to know if it

[2022-02-10 20:34] sbueringer commented on #3152
Hey,
just a short info for now. In core CAPI we are only (or at least in almost all cases) logging with the standard log interface used in controller-runtime (which is [logr.Logger](https://github.com/kubernetes-sigs/controller-runtime/blob/master/go.mod#L8).

So we don't really have our own log interface/implementation in core CAPI like CAPA has (as far as I know).

Core CAPI currently uses klog

[2022-02-10 20:38] Skarlso commented on #3152
@sbueringer Hey Stefan. We didn't have one until now. :) CAPA is also using klog and context logger and logr.

However, it's not very user friendly. It's difficult to grep for keywords, and the notion of doing this: `log.V(5).Info` is just not very developer friendly. And they you'll have to remember at which log level you used what output.

I was in the process of making a unified interface which

[2022-02-10 20:40] Jont828 opened #3193 "Version info/LDFLAGS is missing in postsubmit image push job"
/kind bug

**What steps did you take and what happened:**
In the [post-cluster-api-provider-aws-push-images](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-cluster-api-provider-aws-push-images/1491605296307507200) job, the LDFLAGS are missing in the [build logs](https://storage.googleapis.com/kubernetes-jenkins/logs/post-cluster-api-provider-aws-push-images/1491605296307507200/artifacts/

[2022-02-10 20:42] sedefsavas commented on #3193
We are tracking this https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2218

Feel free to close this if you think that covers this issue.

[2022-02-10 21:01] Jont828 commented on #3193
Yep sounds good. I'll reply in that thread in that case.

[2022-02-10 21:01] #3193 closed

[2022-02-10 21:02] sedefsavas commented on #2218
@Jont828 feel free to assign yourself on this issue.

[2022-02-10 21:05] Jont828 commented on #2218
I synced with @sbueringer today since I found the same issue in CAPZ. The issue is the `.git` folder doesn't get copied when we try to get the folder on gcloud. I opened a [PR on CAPZ](https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2068) with a simple fix to clone the `.git` folder. The version script is coming from [here](https://github.com/kubernetes/kubernetes/blob/master/ha

[2022-02-10 22:02] pydctw commented on #3176
I guess it should be fine if the upgraded image support both. However, I don't have much context on how platuml is used in CAPA.

@sedefsavas, could you comment?

[2022-02-10 22:19] sedefsavas commented on #3176
@zeborg Yes, this is one of the things we want to achieve as part of https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2930
If you could find such image, feel free to use here.

[2022-02-10 22:53] sedefsavas commented on #3172
I don't see how this could be an RBAC problem with clusterctl using the default manifests.
And if that is the case, an auto recovery might be possible as leader election retries.

[2022-02-11 01:37] sedefsavas commented on #2930
Related work for this:
https://github.com/kubernetes-sigs/cluster-api/pull/6092

[2022-02-11 06:05] Ankitasw commented on #3181
@sedefsavas then shall we wait for this change to merge before merging/starting integration tests for AWSCluster and AWSMachine controllers?

[2022-02-11 06:25] richardcase commented on #3181
If this will help with the integration tests then yes it may be worth waiting. But if not I can always refractor them, no problem

[2022-02-11 07:06] sbueringer commented on #3172
I agree.

But I don't think that the mount is the issue. If the webhook cert doesn't exist the controller would fail on startup because then it can't create the webhook server.
This can be reproduced by running the controller via `go run main.go` locally (against a cluster setup with `tilt up`). This produces logs like:
[code]
I also think that Kubernetes won't start a container when a volume cann

[2022-02-11 08:07] sbueringer commented on #3008
/close

Implemented as part of #3058

[2022-02-11 08:07] #3008 closed

[2022-02-11 08:20] sbueringer commented on #3152
Ah, got your point.

So it's about having a thin layer on top of go-logr which essentially provides the usual info/debug/... log levels instead of V(i) (in the code as well as additional "level": "x", k/v pair). I think I need more time to think this over :).

cc @fabriziopandini

[2022-02-11 08:22] Madhur97 opened #3198 "Testcase naming convention"
/area testing

We have started following test naming convention for new test cases in CAPA, we can also do this for existing test cases to bring consistency.

We use [this]( https://medium.com/@stefanovskyi/unit-test-naming-conventions-dd9208eadbea) blog for reference.
Sample PRs:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3160
https://github.com/kubernetes-sigs/cluster-api-p

[2022-02-11 08:36] sedefsavas commented on #3181
No need to wait, we can rebase IMO.

[2022-02-11 08:37] Ankitasw commented on #3181
Yes, what I meant was we first need this refactoring and then rebase changes in integration tests and we need these tests as soon as possible.
If @richardcase doesn't have any efforts as of now, I am happy to do it.

[2022-02-11 11:11] richardcase opened #3203 "Default to spread worker nodes across failure domains"
/kind feature

**Describe the solution you'd like**
Currently, CAPI  will spread control plane machines across the reported failure domains (i.e. availability zones). It doesn't do this for worker nodes,  machines in a machine deployment (or machines on their own).

Current advice is to create separate machine deployments and manually assign an az (via `FailureDomain`) to each of the machine deplo

[2022-02-11 11:29] shivi28 opened #3204 "pull-cluster-api-provider-aws-test check is failing in PRs"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When I am raising PR, `pull-cluster-api-provider-aws-test` check is failing.
Getting following logs
<img width="1451" alt="Screenshot 2022-02-11 at 4 46 54 PM" src="https://user-images.githubusercontent.com/15645218/153582500-102fb3b8-9b5d-4f34-a824-95317dd324ff.png">

**What did you exp

[2022-02-11 11:34] Ankitasw commented on #3204
I will take a look
/assign

[2022-02-11 11:53] Ankitasw commented on #3204
I tried reproducing locally, but couldn't get the issue, so I have raised a PR with some modifications which might help resolve the flake. I will run the tests multiple times in PR to check if we still face the issue.

[2022-02-11 13:12] khoavo-hatch commented on #3121
@richardcase Can you assign this to me? I will push a PR soon.

[2022-02-11 14:41] fabriziopandini commented on #3152
I don't have strong opinions about logging interfaces, because all of them have both pros and cons.
However, I'm strongly in favor of consistency across the ecosystems and in CAPI we are using the following documents as a north star

- https://kubernetes.io/docs/concepts/cluster-administration/system-logs/
- https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation

[2022-02-11 14:54] Skarlso commented on #3152
Regarding this bit:

* klog.InfoS() has multiple levels:
  * klog.V(0) - Generally useful for this to ALWAYS be visible to an operator
    * Programmer errors
    * Logging extra info about a panic
    * CLI argument handling
  * klog.V(1) - A reasonable default log level if you don't want verbosity.
    * Information about config (listening on X, watching Y)
    * Errors that repeat frequently th

[2022-02-11 16:35] sedefsavas commented on #3204
Let's revert the PR that caused this issue to unblock other PRs.

[2022-02-11 16:48] fabriziopandini commented on #3152
@Skarlso I personally appreciate and I'm truly thankful for your opinion, and I don't have problems in saying that there are a couple of points I agree with. My intent above was just to provide some context on how we are tackling this problem in CAPI. The final call here is clearly up to the CAPA community, not to me.

[2022-02-11 17:19] sedefsavas commented on #3152
I have some concerns regarding diverging from the cluster-api ecosystem. But I think it'd be worth to discuss this during our community meeting on Feb 21st at 9 am PT.

[2022-02-11 17:22] sedefsavas commented on #3152
Thanks all for chiming in and sharing your opinions on this.

[2022-02-11 18:12] Skarlso commented on #3152
Cool, and thanks to all! 😊👍

[2022-02-11 19:50] jonathanbeber commented on #3102
@sedefsavas I guess we can close this one? WDYT?

As @sbueringer mentioned and we discussed in [slack](https://kubernetes.slack.com/archives/C8TSNPY4T/p1644347460545489) doesn't seem like CAPA/CAPI without webhooks is a reality, and I prefer the `map[string]string` better instead of a list of named subobjects for that, due to the similarity with annotations/labels.

I'd be happy to be in the next

[2022-02-11 23:22] sedefsavas commented on #3102
Yes, let's close this.
No need to make any API changes as AWS tags only have key-value fields, no benefit of making it a list as you solved the validation in webhook and it is merged.

[2022-02-12 18:31] shivi28 opened #3209 "Add Go report and build passing badges in CAPA project"
/kind feature

**Describe the solution you'd like**

We can add `build passing` and `go report` badge in CAPA project.

This will add following badges in CAPA README.md
<img src="https://goreportcard.com/badge/sigs.k8s.io/cluster-api-provider-aws"></a>
<img alt="Build Status" src="https://prow.k8s.io/badge.svg?jobs=post-cluster-api-provider-aws-push-images"></a>

[2022-02-12 18:40] shivi28 commented on #3209
/assign @shivi28

[2022-02-13 13:55] dipendrachaudhary opened #3211 "clusterawsadm bootstrap iam create-cloudformation-stack error"
I tried this command and it fails. I also tried in another region and it shows same issue
[code]

[2022-02-14 08:15] #3188 closed

[2022-02-14 08:31] #2924 closed

[2022-02-14 08:41] dipendrachaudhary opened #3216 "InstanceProvisionFailed @ Machine while trying to create cluster with clusterAPI in k8s"
I'm trying to create and manage eks cluster using clusterAPI.
I have applied the yaml file with cluster name c1-eks.
This is the yaml file
[code]

This is the result of `kubectl get cluster`

[code]

When I describe cluster with clusterctl it shows error and says `InstanceProvisionFailed`
[code]

This is the result of `kubectl describe Machine/c1-eks-control-plane-w5rrd`
[code]

And `kubeadmcontro

[2022-02-14 08:41] #3179 closed

[2022-02-14 09:04] #3102 closed

[2022-02-14 09:37] richardcase commented on #2911
This is fixed in the 0.7 and 1.x release series. So closing

/close

[2022-02-14 12:50] richardcase commented on #2951
As 0.6 is being deprecated soon and this has already been fixed on 0.7 & 1.x release series this will not be backported.

[2022-02-14 12:51] #2569 closed

[2022-02-14 13:29] richardcase commented on #3121
/lifecycle active

[2022-02-14 13:30] richardcase commented on #2844
/lifecycle frozen

[2022-02-14 13:58] dipendrachaudhary opened #3215 "InstanceProvisionFailed @ Machine while trying to create eks cluster with clusterAPI in k8s"
I'm trying to create and manage eks cluster using clusterAPI.
I have applied the yaml file with cluster name c1-eks.
This is the yaml file
[code]

This is the result of `kubectl get cluster`

[code]

When I describe cluster with clusterctl it shows error and says `InstanceProvisionFailed`
[code]

This is the result of `kubectl describe Machine/c1-eks-control-plane-w5rrd`
[code]

And `kubeadmcontro

[2022-02-14 13:59] dipendrachaudhary commented on #3215
CC @richardcase @sedefsavas

[2022-02-14 14:01] richardcase commented on #3215
@dipendrachaudhary - i see from your example manifests you are using `AWSCluster` and `Kubeadm*` resource kinds. These are for unmanaged (i.e. non-EKS clusters). For an EKS based cluster you need to use `AWSManagedControlPlane` instead. These may be of some use:

- Docs on creating EKS cluster:  https://cluster-api-aws.sigs.k8s.io/topics/eks/creating-a-cluster.html
- Templates: https://github.com/

[2022-02-14 15:23] vincepri commented on #3216
Migrated the issue to CAPA repository

[2022-02-14 16:32] #3216 closed, assigned to nobody

[2022-02-14 20:02] Jont828 commented on #2218
Opened this [PR](https://github.com/kubernetes/test-infra/pull/25251) to fix this in test-infra

[2022-02-14 21:52] richardcase commented on #2966
/assign jon-fearer
/lifecycle active

[2022-02-14 21:57] sedefsavas commented on #3087
@rayandas The PR open does not work as is because we do not have special handling implemented like CAPZ.
Image resolution fails when an unpublished image version is provided like stable-1.19
https://github.com/kubernetes/test-infra/pull/25249

`ClusterctlUpgradeTests` would be better to use for this issue as pointed above, and I guess @pydctw would be a good resource as she moved some of our tests

[2022-02-14 22:25] sedefsavas commented on #2953
/remove-lifecycle stale

[2022-02-14 23:00] sedefsavas commented on #3155
/milestone v1.4.0
/triage accepted

[2022-02-14 23:48] sedefsavas commented on #3211
Hi @dipendrachaudhary Can you paste `eks.config` file here?

[2022-02-14 23:50] sedefsavas commented on #2797
/kind documentation
/remove-lifecycle stale

[2022-02-14 23:50] sedefsavas commented on #2899
/remove-lifecycle stale

[2022-02-15 01:50] #3155 closed

[2022-02-15 04:23] dipendrachaudhary commented on #3211
@sedefsavas this is my `eks.config` file
[code]

[2022-02-15 05:05] bishtsaurabh5 commented on #2654
@sedefsavas yes I am working on this . Thanks for your inputs :)

[2022-02-15 05:37] shivi28 commented on #3209
Not putting `build passing` bade as the core of our tests are in prow jobs

[2022-02-15 06:22] #3209 closed

[2022-02-15 07:02] shivi28 commented on #3187
Deployed the lambda function. Now all AMIs are coming properly in the book https://cluster-api-aws.sigs.k8s.io/topics/images/built-amis.html

[2022-02-15 07:02] #3187 closed

[2022-02-15 07:15] sedefsavas commented on #3211
I run the same command with the config and it works, must be some credential issue (might be missing permissions). You can go to AWS console and  check what errors are shown in the CloudFormation itself to understand the reason of the failure.

[2022-02-15 07:18] #3204 closed

[2022-02-15 07:28] dipendrachaudhary commented on #3211
Basically it shows this when I run the command
[code]

This is the result of `events` in `ClousFormation`
[code]

[2022-02-15 08:05] sedefsavas commented on #3211
Can you check all possible regions you might have run the command before and delete all existing CloudFormations in all regions?

Looks like to me, there is a second CloudFormation on the account.

[2022-02-15 13:53] elmiko commented on #2022
not sure if this will satisfy this issue, but i did see that @mboersma put up this wip pr to the autoscaler, https://github.com/kubernetes/autoscaler/pull/4676

i'm excited to see the progress here =)

/remove-lifecycle stale

[2022-02-15 14:06] dipendrachaudhary commented on #3211
oh yes. there was in another region.I deleted it. Thanks it worked

[2022-02-15 14:09] #3215 closed

[2022-02-15 16:43] Ankitasw commented on #2371
/remove lifecycle-stale

[2022-02-15 16:44] Ankitasw commented on #2371
/remove-lifecycle stale

[2022-02-15 16:58] #3176 closed

[2022-02-15 17:37] sedefsavas commented on #2828
/remove-lifecycle stale

[2022-02-15 21:42] sedefsavas opened #3218 "Add e2e upgrade test for K8s v1.22 to 1.23 with external CCM/CSI"
`CSIMigrationAWS` flag is on starting from Kubernetes v1.23. Existing volumes automatically will be migrated to out-of-tree CSI driver, and it will expect to have the external driver installed.

We already have a single test that installs external CCM and CSI with ClusterResourceSet ([here](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/1d9cf5dbf69ca0977c9f186134afa6723cfecd88/te

[2022-02-16 00:51] sedefsavas commented on #3087
@rayandas
Rethinking about this issue and discussing with @pydctw offline, as per @pydctw's suggestion let's make this much simpler in the first iteration:

We will have this test in test infra:
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main-upgrades.yaml#L3

But instead of passing ["stable-1.19"

[2022-02-16 06:06] rayandas commented on #3087
Ah! Alright. @sedefsavas So the value `GINKGO_FOCUS` will be only `K8s-Upgrade` for the new test right?

[2022-02-16 07:03] sedefsavas commented on #3087
Yes, just created a PR so that we can use focus to call all cluster upgrade tests from different Prow jobs.
https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3220

[2022-02-16 08:05] richardcase commented on #2828
/lifecycle frozen

[2022-02-16 10:24] rayandas commented on #3087
@sedefsavas I raised the PR, please review it and let me know if any changes are required. I added the test under `cluster-api-provider-aws-periodics.yaml`, if we're going to add other upgrade tests in future, then maybe we can create a new yaml file and keep the upgrade tests there (e.g. cluster-api-provider-azure-periodics-main-upgrades.yaml)

[2022-02-16 10:50] invidian commented on #3198
Have you considered the following, property-based convention, which is even easier to read and more informative? https://youtu.be/tWn8RA_DEic?t=3069

[2022-02-16 15:19] randomvariable opened #3224 "Cluster API Security Self-Assessment: Produce end-user security guide"
/kind feature

**Describe the solution you'd like**

As a cluster operator, I want to know how to use Cluster API securely.

**Anything else you would like to add:**

Related to https://github.com/kubernetes-sigs/cluster-api/issues/6152

Should include the following:

- Strongly advise users to seperate workload clusters into different AWS accounts or Azure subscriptions.

**Environment:**

- Clus

[2022-02-16 15:19] randomvariable commented on #3224
/area security

[2022-02-16 18:04] sedefsavas commented on #3224
/triage accepted
/milestone v1.x

[2022-02-16 21:29] fabriziopandini opened #3225 "Consider if to add --metrics-bind-addr=127.0.0.1:8080 in manager.yaml"
While working on https://github.com/kubernetes-sigs/cluster-api/pull/6117 we noticed that latest CAPA doesn't have "--metrics-bind-addr=127.0.0.1:8080" in your manager.yaml (see
https://cluster-api.sigs.k8s.io/developer/providers/v0.3-to-v0.4.html#required-kustomize-changes-to-have-a-single-manager-watching-all-namespaces-and-answer-to-webhook-calls).

Applying this change is not mandatory, but FY

[2022-02-16 21:47] sedefsavas commented on #3225
Thanks @fabriziopandini

We had this in v1alpha4, but not have it in v1beta1.

This is a simple change, we need to add this line:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/de756c7a98f9876c928e510deaf8ddae94d11ec9/config/manager/manager.yaml#L21

and this
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/v0.7.3/config/rbac/auth_proxy_service.yaml

/good-first-i

[2022-02-17 01:28] Matheusafonsouza commented on #3225
Can i be responsible for this one?

[2022-02-17 01:30] Matheusafonsouza commented on #3225
/assign

[2022-02-17 06:09] #3225 closed

[2022-02-17 07:59] sedefsavas commented on #3088
Just a correction on retirement of Classic load balancers mentioned in the issue:

**EC2 Classic Networking** is being retired not the **Classic Load Balancers**.
Classic Load Balancers that are being used in EC2 Classic networking will need to be migrated to an LB in a VPC. If Classic Load Balancers are already in a VPC, they won't be affected.

TL;DR August 2022 retirement date is not for Classi

[2022-02-17 10:26] sbueringer commented on #3152
I'm with Fabrizio on that one. I also see some benefit in other log levels, but I prefer to stay consistent with the Kubernetes ecosystem.

We also have to take into account that we are using a lot of upstream libraries like controller-runtime and client-go. They are all logging with the `.V(x)` option. I'm not sure if client-go is doing it already but they at least want to use the logger we pass

[2022-02-17 15:26] carlosonunez commented on #3088
The language is SUPER confusing, but according to this AWS article, ELBs (aka Classic LBs) are in scope for retirement as well: https://docs.aws.amazon.com/elasticloadbalancing/latest/userguide/migrate-classic-load-balancer.html#migrate-step-by-step-classiclink
On Feb 17, 2022, 01:59 -0600, sedefsavas ***@***.***>, wrote:

[2022-02-17 20:43] sedefsavas commented on #2819
/remove-lifecycle stale

[2022-02-17 22:48] pydctw opened #3228 "Enable EKS e2e upgrade test"
/area provider/eks
/area testing

EKS e2e upgrade test has been disabled for a while due to a long test time and AWS resource issues.

As CAPA recently increased AWS resource quota, we should enable it to test the upgrade functionality of EKS. This will also help prepare the upcoming ClusterClass based EKS test.

[2022-02-17 22:48] pydctw commented on #3228
cc @richardcase, created the issue based on our discussion

[2022-02-18 08:20] richardcase commented on #2967
With the deprecation of 0.6 imminent, should we fix this?

@sedefsavas - wdyt?

[2022-02-18 08:33] sedefsavas commented on #2967
I think providing a working migration path should be enough.

[2022-02-18 08:37] sedefsavas commented on #2967
We will no longer backport fixes etc so don't really need a signal IMO.

[2022-02-18 17:10] sedefsavas commented on #2608
How about this suggestion pointed above?

It is problematic to use the conditions for decisions that is set in the same controller.

[2022-02-18 17:57] Ankitasw commented on #2608
Just to clarify, does `CAPI Cluster endpoint` mean `clusterSpec.ControlPlaneEndpoint`?

[2022-02-18 21:24] josh-ferrell opened #3235 "Add AWS Service functions to e2e test shared"
/kind feature

**Describe the solution you'd like**
Add some basic CRUD functions for VPCs, subnets, NatGW, IGW, route tables, routes and peering connections to be used by the e2e test suite for building out infrastructure prior to test.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version

[2022-02-18 21:25] sedefsavas commented on #3235
/triage accepted
/milestone v1.x
/priority backlog

[2022-02-18 21:32] sedefsavas commented on #3235
Thanks @josh-ferrell, this is a great step to test different topologies.

We have a few of these under test/e2e/suites/unmanaged/helpers_test.go.
We can move them to a shared folder with the new ones as well.

[2022-02-20 10:40] #1764 closed

[2022-02-21 17:54] richardcase commented on #2225
This is a really helpful write up that will be useful:

https://github.com/weaveworks/eksctl/issues/3215

[2022-02-21 22:21] sedefsavas commented on #2225
Thanks @richardcase
One concern was the missing interfaces.
In that issue, there are some  good options to work around that.

@pydctw mentioned KOPS still uses AWS SDK v1 and ACK also uses that version.

We should consider what we are missing by delaying this move. If it will be the same amount of work, we could wait and see how other major repositories move to v2.

[2022-02-22 09:52] mweibel opened #3242 "AWSMachinePool minSize should be allowed to go to 0"
/kind bug

**What steps did you take and what happened:**
I tried to set the AWSMachinePool minSize to 0 but this failed to apply

The current validation rule of [`AWSMachinePoolSpec.minSize`](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/exp/api/v1beta1/awsmachinepool_types.go#L45) specifies a validation rule of `Minimum=1`.
An ASG does not have such a minimum and therefor

[2022-02-22 10:11] richardcase commented on #3242
/triage accepted
/priority important-longterm
/help

[2022-02-22 10:12] richardcase commented on #3242
When doing this we should also update the e2e tests to test scale to 0.

[2022-02-22 10:53] invidian opened #3243 "Make optional API fields consistently pointers (or not pointers)"
/kind feature

**Describe the solution you'd like**
As discussed in https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2271#discussion_r811789340, some API fields marked as optional are value fields, not pointers, others are pointers. Perhaps this should be unified at some point.

[2022-02-22 10:58] richardcase commented on #3243
Thanks @invidian

There is some inconsistency in how we represent optional fields....to pointer or not to pointer, that is the question. We have had some issues with the code gen tools in the past not liking slices of pointers to structs as well.

We should some up with clear guidance and do any refactoring as required.

/triage accepted
/priority backlog
/area api

[2022-02-22 10:58] richardcase commented on #3243
/help

[2022-02-22 12:16] VibhorChinda commented on #3198
Is this PR up for grab?? @Madhur97 @Ankitasw

[2022-02-22 12:23] Ankitasw commented on #3198
Hey @VibhorChinda, sure let me assign it to you.
/assign @VibhorChinda

[2022-02-22 13:06] Ankitasw commented on #3243
Just thinking out loudly to help understand issue, below are the Pros and cons of using pointers:
Pros:
- If you need to modify something in the field we should use pointers. Although, this can be avoided if we use getters and setters for each field if we are against using pointers.
- Validations which exists as of today in webhooks are based on nil checks which can be done effectively in case of

[2022-02-22 15:11] VibhorChinda commented on #3198
@Ankitasw thanks for assigning it to me :)

@Ankitasw @Madhur97 I was looking at the PR mentioned in the description for reference. I saw that the naming convention used is like "TestService_ServiceName" like "TestService_Delete". This naming convention has to be followed everywhere or I am heading in the wrong direction ?

And could you please point out to the directories I need to look for tests

[2022-02-22 15:21] charlie-haley opened #3244 "Ability to add custom environment variables to the `aws-node` DaemonSet"
/kind feature

**Describe the solution you'd like**
Ability to add custom environment variables to the `aws-node` DaemonSet, ideally through an existing CRD such as `AWSManagedControlPlane`

**Anything else you would like to add:**
I've recently needed to bump up the pod limits on our EKS clusters and as a result, needed to set `ENABLE_PREFIX_DELEGATION=true` on the `aws-node` DaemonSet - having t

[2022-02-22 15:27] richardcase commented on #3244
Thanks @charlie-haley. I think this is a reasonable request and if you'd like to create a PR that would be fantastic....feel free to reach out here or in slack if you need any help.

/triage accepted
/priority important-longterm
/help

[2022-02-22 15:28] richardcase commented on #3244
I meant to say, feel free to assign the issue to yourself.

[2022-02-22 15:29] charlie-haley commented on #3244
Awesome, thanks @richardcase!

/assign @charlie-haley

[2022-02-22 16:37] richardcase commented on #3244
@charlie-haley - we have some existing code around aws-node...it may be worth looking at [this package](https://github.com/kubernetes-sigs/cluster-api-provider-aws/tree/24e3ea2e372e5c6deff3c32bb6e72e4207f0f24a/pkg/cloud/services/awsnode).

[2022-02-22 18:05] sedefsavas commented on #3218
Few things we can validate here:

1) Both CSI and CCM is migrated to out-of-tree
-   v1.22 cluster has in-tree CCM and in-tree CSI
-   v1.23 cluster has out-of-tree CCM and out-of-tree CSI

2) Should not need to use external CCM
- v1.22 cluster has in-tree CCM and in-tree CSI
- v1.23 cluster has in-tree CCM and out-of-tree CSI

3) Only migrate CCM to out-of-tree
- v1.22 cluster has in-tree CCM and

[2022-02-23 05:58] Ankitasw commented on #3243
What about the primitive types field like string, int32 etc. in case we don't use pointer, suppose for int32 field how would w know if it is 0 or is not set in JSON response ?

[2022-02-23 06:50] sedefsavas commented on #3243
For the rest, pointers are suggested in Kubernetes API conventions doc:

https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#optional-vs-required

[2022-02-23 07:02] Ankitasw commented on #3243
Then I totally agree with what you suggested [here](https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3243#issuecomment-1048397420).
But as suggested in the issue, we cannot be purely consistent about using only pointers or non-pointers. We will have some exceptions, what we can do is we can be consistent about primitive types being used as pointers and other fields as non pointer

[2022-02-23 10:48] #3235 closed

[2022-02-23 11:15] Ankitasw opened #3246 "Documentation for usage of spot instances in CAPA"
/kind documentation

**Describe the solution you'd like**
Since we have support for spot instances for AWSMachine in CAPA, it would be good to have a documentation around usage of those in CAPA. It is also used in our E2E tests so it would be good to depict how it works in CAPA ecosystem.

**Anything else you would like to add:**

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes

[2022-02-23 11:17] Ankitasw commented on #2412
/assign

[2022-02-23 11:34] Ankitasw commented on #3246
/assign

[2022-02-23 13:56] Ankitasw commented on #2412
/lifecycle active

[2022-02-23 15:19] Ankitasw opened #3248 "Make Troubleshooting doc more reliable"
/kind documentation

**Describe the solution you'd like**
Troubleshooting doc has to be modified based on known issues. There are some of TODO sections as well which has to be filled out.

**Anything else you would like to add:**

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2022-02-23 15:22] Ankitasw commented on #3246
Since spot instance support is not yet in, closing this.

[2022-02-23 15:50] josh-ferrell opened #3249 "Create E2E tests for managed infrastructure"
/kind feature

**Describe the solution you'd like**
Create additional e2e tests to validate the following use cases for the AWSCluster code base.
- Provision a Cluster with externally managed Security Groups
- Provision a Cluster with internal ELB
- Provision Management and Workload Clusters in peered VPCs

**Anything else you would like to add:**
Some of the functions to support this were added i

[2022-02-23 16:46] Ankitasw commented on #3249
/remove kind-feature
/area testing

[2022-02-23 16:46] Ankitasw commented on #3249
/remove-kind feature

[2022-02-23 16:53] pydctw commented on #3166
Adding clusterclass for EKS is blocked until we have a resolution on https://github.com/kubernetes-sigs/cluster-api/issues/6126

[2022-02-23 18:58] sedefsavas commented on #3249
/priority important-longterm
/milestone v1.x
/triage accepted

[2022-02-23 19:20] josh-ferrell opened #3250 "Add additional SecurityGroup functions, change subnet tagging"
/kind feature

**Describe the solution you'd like**
Add
- security group functions for e2e tests
- list functions for VPC subnets, route tables and route tables associated to certain subnets
- relevant CCM tags to subnets https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2584

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue

[2022-02-23 22:47] #3250 closed

[2022-02-24 06:52] Ankitasw commented on #2087
/assign

[2022-02-24 09:58] Ankitasw commented on #2608
/lifecycle active

[2022-02-24 09:59] Ankitasw commented on #1657
/lifecycle active

[2022-02-25 06:43] shivi28 opened #3254 "Use AWSMachinePoolSpec Subnets.Filters field in fetching subnetIDs"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

`AWSMachinePoolSpec` has a field `subnets` which is an array of subnet configurations and user can pass `subnetIDs` and `Filters` based on which we can fetch particular subnetIDs and create resources on them.
[code]

So we should enable the code to use Filters field also in calculatin

[2022-02-25 06:55] shivi28 commented on #3254
/assign @shivi28

[2022-02-25 07:12] Ankitasw commented on #3254
@sedefsavas Will this solve the problem mentioned in https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2087 ?

[2022-02-25 07:52] Ankitasw commented on #2087
@sedefsavas @richardcase Just to clarify, here we need to implement lookup logic for fields which are of type  `AWSResourceReference` and using any of the properties(ID, Filters) from `AWSResourceReference` in the respective codes.

[2022-02-25 15:48] Ankitasw commented on #2087
/unassign @randomvariable

[2022-02-25 15:54] Ankitasw commented on #2087
/lifecycle active

[2022-02-28 12:30] Ankitasw opened #3259 "Use go-cmp instead of reflect.DeepEqual()"
/kind feature

**Describe the solution you'd like**
We have many instances in code which uses `reflect.DeepEqual()` which can be little tricky to rely-on in some cases, we should consider using `go-cmp` in such cases. We should see the feasibility of `go-cmp` vs `reflect.DeepEqual` to check if we are really benefitted from it.

**Anything else you would like to add:**
Details about go-cmp can be f

[2022-02-28 13:46] Ankitasw commented on #3062
/assign

[2022-02-28 13:46] Ankitasw commented on #3062
/lifecycle active

[2022-02-28 17:49] pydctw commented on #2802
/close

[2022-02-28 17:49] #2802 closed

[2022-03-01 05:32] sedefsavas commented on #2995
/remove-lifecycle stale

[2022-03-01 08:18] sedefsavas commented on #2753
/remove-lifecycle stale

[2022-03-01 08:19] sedefsavas commented on #2758
/remove-lifecycle stale

[2022-03-01 08:23] #3062 closed

[2022-03-01 08:32] sedefsavas commented on #2732
Already fixed.

[2022-03-01 08:32] #2732 closed

[2022-03-01 08:47] #2608 closed

[2022-03-01 09:08] Ankitasw commented on #2758
/assign

[2022-03-01 09:23] #1657 closed

[2022-03-01 09:58] Ankitasw commented on #3254
There is already an issue and PR for this https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2609.
@shivi28 we might want to close this issue and use original issue, and look for the discussions and existing [PR](https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2609).

[2022-03-01 10:00] Ankitasw commented on #3254
/close

[2022-03-01 10:00] #3254 closed

[2022-03-01 10:03] Ankitasw commented on #3248
TODO: brainstorm scenarios that we face regularly and document them.

[2022-03-01 10:32] anmolsachan commented on #3088
I just wanted to comment, this feature is very much required in the market irrespective of the CLB still being there.

[2022-03-01 16:12] richardcase commented on #3259
/triage accepted
/priority important-longterm
/kind refactor
/help

[2022-03-01 23:39] #2180 closed

[2022-03-02 00:03] #3228 closed

[2022-03-02 08:14] shivi28 opened #3268 "Should we use ANDed or ORed approach in CRD fields"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

When we have multiple fields in any struct like AWSResourceReference, then should we use ANDed or ORed approach?
Eg: In Kubernetes selectors, matchLabels and matchExpressions are ANDed.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving th

[2022-03-02 09:49] Ankitasw commented on #2609
/assign @shivi28

[2022-03-02 11:42] shivi28 commented on #2087
Pasting slack discussion here for others reference:
Scope of this issue is
[code]
But currently in our code we are only doing lookup by IDs.

So a [PR](https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3255) is raised which will implement above logic for `AWSResourceReference` in `AWSMachinePool.Spec.Subnets` during ASG creation/updation.

/assign @shivi28

[2022-03-02 11:48] Ankitasw commented on #2087
I have [this](https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2609) issue assigned to you which handles all the things mentioned above.
Do we still need this issue on your name?

[2022-03-03 13:00] matlemb opened #3271 "<clustername>-node security group contains a rule that overshadows <clustername>-lb security group rules"
/kind bug

**What steps did you take and what happened:**
When deploying a kubernetes cluster on AWS with `capa-controller-manager` a security group `<clustername>-node` gets created which contains a [rule](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/40a8e0a70fffa69d165ddb8b47eed5368656804e/pkg/cloud/services/securitygroup/securitygroups.go#L520-L526) to allow access from `0.0

[2022-03-04 12:20] meghanajangi opened #3272 "pull-cluster-api-provider-aws-apidiff-main test is failing"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
The prow job [pull-cluster-api-provider-aws-apidiff-main test is failing ](https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-cluster-api-provider-aws-apidiff-main)

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous info

[2022-03-04 16:28] sedefsavas commented on #3272
Issue is this target is not using PULL_BASE_SHA.

`hack/tools/bin/go-apidiff origin/main --print-compatible
`

[2022-03-04 23:48] richardchen331 opened #3273 "clusterawsadm does not provision the controller role with ec2:AssociateVpcCidrBlock permission"
/kind bug

**What steps did you take and what happened:**
`clusterawsadm` does not provision the controller role with `ec2:AssociateVpcCidrBlock` permission, which is required when there is secondary cidr specified (https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/pkg/cloud/services/network/secondarycidr.go#L55).

**What did you expect to happen:**
`clusterawsadm` should provi

[2022-03-04 23:50] richardchen331 opened #3274 "CAPA webhook should allow more SecondaryCidrBlock ranges"
/kind feature

**Describe the solution you'd like**
Currently the webhook only allows 100.64.0.0/10 or 198.19.0.0/16 CIDR range (https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/controlplane/eks/api/v1beta1/awsmanagedcontrolplane_webhook.go#L299). However AWS doc shows that CIDRs like 10.0.0.0/8 and 172.16.0.0/12 are also allowed (https://docs.aws.amazon.com/vpc/latest/usergui

[2022-03-04 23:52] richardchen331 opened #3275 "Support multiple VPC secondary CIDRs in AWSMCP"
/kind feature

**Describe the solution you'd like**
Currently AWSMCP only allows one secondary CIDR (https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/controlplane/eks/api/v1beta1/awsmanagedcontrolplane_types.go#L49). However we'd like to add support for multiple secondary CIDRs to create larger EKS clusters.

**Anything else you would like to add:**
[Miscellaneous information

[2022-03-04 23:54] richardchen331 commented on #3275
I can see two options to support this:
1) Introduce a new field `SecondaryCidrBlocks` of type `[]string`, and deprecate the existing field `SecondaryCidrBlock`
2) Change the current field `SecondaryCidrBlock` from type `*string` to `[]string`
I prefer the first one. If anyone has thoughts/suggestions, please let me know :) Thanks!

[2022-03-04 23:57] richardchen331 opened #3276 "Only split SecondaryCidrBlock when there is no subnets specified in AWSMCP"
/kind bug

**What steps did you take and what happened:**
Currently when there's secondary CIDR block specified in AWSMCP, CAPA will automatically split the secondary CIDR into multiple subnets (https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/pkg/cloud/services/network/subnets.go#L85-L110), even if the user manually specified subnets in AWSMCP. There is no way for the user to

[2022-03-05 05:33] richardchen331 opened #3277 "CAPA should disassociate secondary CIDR after subnets are deleted"
/kind bug

**What steps did you take and what happened:**
Currently CAPA disassociates secondary CIDR before subnets are deleted (https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/pkg/cloud/services/network/network.go#L95), this won't work if there's still subnet in use.

**What did you expect to happen:**
CAPA should disassociate secondary CIDR after subnets are deleted

**Any

[2022-03-05 12:56] bisakhmondal commented on #2178
Hi guys, I am Bisakh, wish to improve/add the observability of this module through tracing and metrics-based monitoring with Prometheus as part of GSoC 2022. I am new to this project and want to get myself involved into the core infrastructure. Could you please guide me here by passing on some of your workloads so that I can learn by doing different things?
Eagerly waiting for your reply. Thanks :

[2022-03-07 12:04] #3272 closed

[2022-03-07 12:26] shivi28 commented on #3268
Linking [thread discussion](https://kubernetes.slack.com/archives/C8TSNPY4T/p1646646144966339) for reference

[2022-03-07 13:48] Ankitasw commented on #3259
/assign

[2022-03-07 17:20] richardcase commented on #3259
/good-first-issue

[2022-03-07 17:59] Ankitasw opened #3282 "Enable apidiff to report only actual breaking changes"
/kind feature

**What steps did you take and what happened:**
Currently, apidiff reports any change in exposed field or in an exposed function as a breaking change. While apidiff is useful for reviewers to check the api changes which are compatible vs incompatible, the reviewers still have to make an informed decision on whether or not to promote this change.

**What did you expect to happen:**
ap

[2022-03-07 18:09] sedefsavas commented on #3282
/triage accepted
/milestone v1.x
/priority important-longterm

[2022-03-07 19:20] josh-ferrell opened #3283 "Change Gomega assertion for DetachInternetGateway function in managed sec groups/VPC e2e test"
/kind bug

**What steps did you take and what happened:**
Change the assertion for the DetachInternetGateway function to be Eventually.

**What did you expect to happen:**
Provide a timeout for achieving the IGW detachment so that the test does not fail despite validating use of managed security groups, VPCs and subnets.

**Anything else you would like to add:**
N/A

**Environment:**

- Cluster-ap

[2022-03-07 19:20] josh-ferrell commented on #3283
This can be assigned to me if you'd like.

[2022-03-07 19:34] sedefsavas commented on #3282
Given that most of CAPA code is designed for internal consumption, we can add a warning to the book stating that which parts of the code is safe to use.

clusterawsadm libraries are probably the only bits that we would want to expose.

Instead of moving everything to internal packages, how about we only document this fact and change apidiff to check only api packages?

Following Cluster API conven

[2022-03-07 19:39] pydctw commented on #3282
+1 to change apidiff to check only api packages.

[2022-03-07 19:50] sedefsavas commented on #3273
/triage accepted
/priority important-soon
/milestone v1.x

[2022-03-07 19:53] sedefsavas commented on #3274
Thanks for reporting this.
Looks like there is a change in the supported CIDRs as secondary CIDRs since the time this was implemented.

Existing code is following this:
https://aws.amazon.com/about-aws/whats-new/2018/10/amazon-eks-now-supports-additional-vpc-cidr-blocks/

After fixing it, we should probably have an e2e test for this. A new test is not needed, could simply append a secondary CIDR t

[2022-03-07 20:09] sedefsavas commented on #3275
If we want to do this in the 1.x release, we should go with option to 2 as option 1 is breaking change.

One thing to decide, are we going to support deletion and addition to that list (like we do in tags, we keep things consistent, list of tags in the CAPA resource matches the list of tags in the AWS resource)?

cc @richardcase

[2022-03-07 20:28] sedefsavas opened #3284 "Renaming managed and unmanaged clusters for clarity"
Since managed/unmanaged words are overloaded in CAPA (unmanaged VPC means externally managed VPC, unmanaged cluster means control plane is managed by cluster api), I think we should find better a naming for differentiating EKS-managed control planes with KCP managed control planes:

unmanaged clusters --> Cluster-API-managed clusters
managed clusters --> EKS-managed clusters

Any other ideas?

[2022-03-07 20:29] sedefsavas commented on #3284
Or we can choose to improve documentation.

cc @richardcase

[2022-03-07 20:41] richardchen331 commented on #3275
Thanks for the feedback.

I think we can at least start with not allowing deletion/addition to that list, since the logic of that could be quite complex (e.g. what if user specified subnets/machine pools that uses a secondary CIDR).

[2022-03-07 21:34] #3246 closed

[2022-03-07 23:18] sedefsavas opened #3286 "[e2e] Add test that uses AWS VPC CNI"
It will useful to add tests for the AWS native CNI.

Adding a template with necessary kubelet arguments to use AWS native CNI is tracked here: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/931

There is a very good example implemented before CRS was available here: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1158

We need to create policies required for AW

[2022-03-07 23:46] sedefsavas opened #3287 "Secondary CIDR support for CAPA-managed clusters"
We have support for providing secondary CIDRs to EKS-managed (managed) clusters.

This issue is to investigate if supporting secondary CIDRs with CAPA-managed (a.k.a unmanaged) clusters is a wanted feature.

Some discussions around this: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2065

Secondary CIDR is only relevant when AWS native CNI is being used, that CIDR block is use

[2022-03-08 00:45] sedefsavas commented on #3276
In case where subnets are not specified, just using VPC CIDR block and dividing that into subnets could be an option, isn't it? So, we do not necessarily need to use Secondary CIDR block for Subnet CIDRs.

For instance, if we want to leave SecondaryCIDR block to pod networking only for AWS native CNI (as this is the initial reason they had in mind while supporting this [feat](https://github.com/aw

[2022-03-08 00:51] sedefsavas commented on #3275
Sorry my numbering mixed up in my comment above, it is the other way around:

First option above is non-breaking and we should go with it.

[2022-03-08 00:52] richardchen331 commented on #3276
@sedefsavas IIUC, the largest primary CIDR block of a VPC allowed is /16 (https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Subnets.html). In our use case, we'd like to create an EKS cluster with one subnet per AZ, and for each subnet, we need a /16 CIDR. AFAIK this could not be achieved without secondary CIDRs. Please let me know if you have other questions, happy to provide more context.

[2022-03-08 00:53] sedefsavas commented on #3275
I am okay with not allow any modification once SecondaryCIDRs are set initially.

[2022-03-08 02:50] sedefsavas commented on #3283
/assign @josh-ferrell

/triage accepted

[2022-03-08 02:53] sedefsavas commented on #3268
Is there any action items for this issue as per our discussion today in office hours? If not, can close the issue.

[2022-03-08 04:38] sedefsavas commented on #2178
Hi @bisakhmondal, welcome to the community.

You can start with some issues with good-first-issue label to get a grip on the project.
Here is the getting started doc: https://cluster-api-aws.sigs.k8s.io/getting-started.html
Feel free to reach us at #cluster-api-aws slack channel for questions.

We haven't started working on the design yet.
Applications for GSoC will start in April AFAIK, and it is

[2022-03-08 04:42] sedefsavas commented on #3277
/triage accepted
/priority important-soon
/milestone v1.x

This bug shows the need to have an e2e test for SecondryCIDR support.

[2022-03-08 05:29] Ankitasw commented on #3284
managed clusters --> EKS-managed clusters

+1 for this renaming.

[2022-03-08 07:59] Ankitasw opened #3288 "Update developer guide for clear distinction between unit and integration tests"
/kind documentation

**Describe the solution you'd like**
As part of https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2910, we have added few integration and unit tests in controllers. We have separated two files *_unit_test.go specifically for unit tests and *_test.go for integration tests.
We need to make this clear in our developer docs.

[2022-03-08 07:59] Ankitasw commented on #3288
/assign

[2022-03-08 08:48] AverageMarcus commented on #2849
Can we get a

/lifecycle frozen

added to this to match the CAPI issue blocking this (https://github.com/kubernetes-sigs/cluster-api/issues/5295)

[2022-03-08 08:50] sedefsavas commented on #3275
Rethinking, we definitely would want to support addition to the list considering that a general use case for this is running out of IPs in the current CIDR, so I'd expect users will not know if they want to add more CIDRs from the start.

[2022-03-08 10:09] Ankitasw commented on #3198
Hey @VibhorChinda sorry for delayed response.
The naming convention you mentioned above is for functions. What we are trying to achieve here is each test case names should follow a naming convention. Till now, we have followed naming convention like this: `Should_ExpectedBehavior_When_StateUnderTest` as mentioned in the reference blog [here](https://medium.com/@stefanovskyi/unit-test-naming-conven

[2022-03-08 10:36] #2609 closed

[2022-03-08 14:09] VibhorChinda commented on #3259
/assign

[2022-03-08 15:25] Ankitasw commented on #2727
@AvineshTripathi this issue is still up for grab if you are looking out.

[2022-03-08 15:26] Ankitasw commented on #2267
/remove-lifecycle stale

[2022-03-08 15:26] Ankitasw commented on #2267
Hey @mevech are you still working on this issue?

[2022-03-08 15:27] Ankitasw commented on #2029
Hey @vibhorrawat are you still working on this issue?

[2022-03-08 20:44] pydctw commented on #3152
@Skarlso, we wanted to discuss this issue during yesterday's CAPA office hour but since you were not there, following up on the issue.

This is my understanding reading comments above but to confirm - you are ok for CAPA to follow k8s ecosystem's logging convention of using V(0)-V(10) messages instead of a logging interface from the [PoC](https://github.com/kubernetes-sigs/cluster-api-provider-aws

[2022-03-08 21:04] #3283 closed

[2022-03-09 02:24] sedefsavas commented on #3268
/close

Since there is no general convention, we will make a decision on a case by case basis.

[2022-03-09 02:24] #3268 closed

[2022-03-09 03:24] Ankitasw commented on #2029
@vibhorrawat yes, please share your observation, will try to help.

[2022-03-09 06:42] Ankitasw commented on #2758
@richardcase @sedefsavas since we are handling unmanaged VPC deletion [here](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/pkg/cloud/services/network/vpc.go#L205), so will it be enough to put a nil check for VPC ID and skip reconciliation before this condition?

[2022-03-09 06:58] Ankitasw commented on #2218
@Jont828 anything else to be done here or shall we close the issue?

[2022-03-09 07:12] Ankitasw commented on #3108
/assign

[2022-03-09 07:24] sbueringer commented on #2218
I think it's fixed > https://storage.googleapis.com/kubernetes-jenkins/logs/post-cluster-api-provider-aws-push-images/1501302836586090496/artifacts/build.log (LDFLAGS are set)

[2022-03-09 10:18] invidian commented on #1979
/remove-lifecycle stale

This is still in progress.

[2022-03-09 10:39] Ankitasw commented on #3108
@sedefsavas Since bastion is in `ClusterScope`, is there a way to get the kubernetes version used in the bastion, as it will be required to perform default AMI lookup?
As of now we can get kubernetes version only in `MachineScope`. To solve above issue, shall we introduce new field `kubernetesVersion` into the `Bastion`?

[2022-03-09 11:42] Ankitasw opened #3295 "[E2E] Tests for MachinePool failing in open PRs"
/kind bug

**What steps did you take and what happened:**
E2E tests for machinepools failing with below error

**What did you expect to happen:**
E2E tests should pass

**Anything else you would like to add:**
Probably happened because of https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3255

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl

[2022-03-09 11:42] Ankitasw commented on #3295
/assign @shivi28

[2022-03-09 12:12] Ankitasw commented on #2995
List of functions which require cyclomatic complexity to be >10 :

- **cmd/clusterawsadm/cmd/eks/addons/list_available.go:53**:1: cyclomatic complexity 14 of func `listAvailableAddons` is high (> 10) (gocyclo)
- **cmd/clusterawsadm/cmd/eks/addons/list_installed.go:53**:1: cyclomatic complexity 12 of func `listInstalledAddons` is high (> 10) (gocyclo)
- **pkg/eks/identityprovider/plan.go:50**:1: cy

[2022-03-09 12:14] Ankitasw commented on #3295
/kind-failing test

[2022-03-09 12:14] Ankitasw commented on #3295
/kind ?

[2022-03-09 12:16] Ankitasw commented on #3295
/kind failing-test

[2022-03-09 12:17] Ankitasw commented on #3295
I think it might be flaky as it didn't fail for [this](https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3293) PR

[2022-03-09 13:26] Ankitasw commented on #2995
/assign

[2022-03-09 18:51] invidian commented on #2925
/remove-lifecycle stale

This is a good practice and in context of #3282, it make more sense IMO.

[2022-03-09 19:26] sedefsavas commented on #2925
@invidian copying a comment I left to #3282:

clusterawsadm libraries are probably the only bits that we would want to expose.
Instead of moving everything to internal packages, how about we only document this fact and change apidiff to check only api packages?

WDYT?

[2022-03-09 19:46] josh-ferrell opened #3296 "[E2E] test to validate CAPA clusters in Internet restricted environments"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Add an E2E test that will validate CAPA clusters can be created in private subnets pulling the necessary images from a privately hosted container registry with ECR private registry.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the iss

[2022-03-09 19:51] sedefsavas commented on #3296
/triage accepted
/priority important-longterm

Some PRs related to this are already in, would be good to link this issue to them to track the work that are in related to this.

[2022-03-09 20:18] cnmcavoy commented on #2771
Interested in this functionality and trying to understand where it is at...given that #2854 was closed in preference to #2965 and neither addressed the missing bootstrapping features for this issue.

Is working on this issue blocked on #3024 being merged? What work remains before a PR could be submitted to add this functionality?

[2022-03-09 21:18] #2412 closed

[2022-03-09 23:53] VictorLeviPeixoto commented on #3056
/assign

[2022-03-10 04:38] sedefsavas commented on #2218
/close

[2022-03-10 04:39] #2218 closed

[2022-03-10 04:45] #3249 closed

[2022-03-10 06:35] sedefsavas opened #3297 "Add repository layout to the book"
Similar to cluster-api https://github.com/kubernetes-sigs/cluster-api/pull/6282, would be good to add the layout to CAPA book too.

/good-first-issue
/triage accepted
/kind documentation
/priority backlog

[2022-03-10 09:42] Skarlso commented on #3152
Thanks, sorry, I was out on vacation. :) will take a look.

[2022-03-10 09:54] invidian commented on #2925
I think it's worth moving, even for the sake of just following the best practices, as there might not actually be many users of this code in the wild. The change is small and takes a fixed cost (sed+ it's likely to make conflicts to existing PRs), as opposed to leaving it as it is, where it will eventually gather users and then either break their workflow when breaking changes are introduced or wi

[2022-03-10 13:36] richardcase opened #3299 "AWSManagedMachinePool doesn't always cleanly delete"
/kind bug
/area provider/eks
/priority awaiting-more-evidence

**What steps did you take and what happened:**
When deleting a cluster that uses AWSManagedMachinePool its been reported that sometimes the `Machine` is left behind, even after the cluster has been deleted.

Logs:

[code]

**What did you expect to happen:**
We expect no orphaned resources.

Reported by @ray

**Anything else you would l

[2022-03-10 13:36] Ankitasw opened #3300 "Unmanaged VPC renamed if CIDR is set in VPC spec"
/kind bug

**What steps did you take and what happened:**
Created AWS cluster with existing(unmanaged) VPC, with the CIDR set in VPC spec which results in the VPC name changing (i.e, the Name tag on the VPC is overwritten).

**What did you expect to happen:**
It should not allow CIDR to be set in case of unmanaged VPC.

**Anything else you would like to add:**

**Environment:**

- Cluster-api-prov

[2022-03-10 13:36] Ankitasw commented on #3300
/assign

[2022-03-10 13:45] richardcase commented on #3299
This part seems a little weird to me:

[code]

This is implying that an update has been made to `AWSManagedControlPlane` after the delete of the cluster has started.

Need to find out how the cluster is being deleted.

[2022-03-10 15:46] richardcase commented on #2055
I need to make some small updates based on the feedback

[2022-03-10 18:59] sedefsavas commented on #2029
@vibhorrawat
There is an example here https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3094/files for AWSManagedMachinePool with LaunchTemplates.
Might be useful as a reference.

[2022-03-10 20:19] sedefsavas commented on #2208
I will write an ADR for this with @shysank to explain how  AWS Systems Manager would be a good fit for this clean up.
https://docs.aws.amazon.com/systems-manager/latest/userguide/execute-remote-commands.html

CAPZ has a similar mechanism to run commands in VMs post deployment, called VM extensions. They are not using this mechanism to clean up sensitive data yet, just using it for setting conditio

[2022-03-10 20:31] sedefsavas commented on #2208
cc @srm09 for CAPV

[2022-03-10 20:42] voor commented on #2208
Just make sure it's toggle-able, since AWS still operates a few locations without AWS Systems Manager

[2022-03-10 20:46] sedefsavas commented on #2208
Thanks for the early feedback @voor.
Was thinking once this is in, we could benefit from using AWS Systems Manager for collecting more info from the instances in the future.

Then, postKubeadmConfig script might be a solution that'd work everywhere.

[2022-03-10 20:50] sedefsavas commented on #2208
Looking at this list, looks like it exists in all regions:
https://aws.amazon.com/about-aws/global-infrastructure/regional-product-services/

[2022-03-11 06:17] Ankitasw commented on #3300
Will try to reproduce it locally first.

[2022-03-11 14:37] Ankitasw opened #3304 "Add Codecov badge to CAPA repo"
Codecov gives you a glance into the status of your project’s percentage of code coverage.

It would be good to see CAPA's code coverage on day-to-day basis since we have added a good amount of unit tests coverage recently. Based on the results we may do some more improvements.
Also, keeping in mind that each new PR covers/tests the new code added.

Document to refer: https://docs.codecov.com/docs/

[2022-03-11 14:43] Ankitasw commented on #3304
/assign @shivi28

[2022-03-11 14:55] shivi28 commented on #3304
Let's keep it open @Ankitasw for the community. I will assign it later as per my bandwidth. Meanwhile if someone else wants to pick they can pick.

[2022-03-11 14:55] shivi28 commented on #3304
/unassign @shivi28

[2022-03-11 14:56] Ankitasw commented on #3304
Good call @shivi28 I thought you are already working on this some time back so thought of assigning you

[2022-03-11 15:38] shivi28 commented on #3304
No I think there might be some confusion, I discussed to do this work for CAPA but did not start on this.
But ya thanks for creating this issue for tracking and it would be good if we let the contributors to assign the issues by themselves as per their bandwidth.

[2022-03-11 16:44] Ankitasw commented on #3304
I totally understand that, sorry for assigning it to you without asking you.
/good-first-issue

[2022-03-11 17:31] zeborg commented on #3304
/assign

[2022-03-11 18:01] bisakhmondal commented on #2178
Hi @sedefsavas, thanks for the detailed reply. I'll start working on the issues then.

No issues, I can also help there. Feel free to include me in your design meeting.

Yes, the first week of April. I have a huge interest in cloud-native stuffs and recently I am working with monitoring tools and solutions so I want to explore more. Just curious, what do you mean by the selection here? I see the p

[2022-03-11 18:35] bisakhmondal commented on #2944
Just took a good look there. I am having certain doubts.
What do we want to achieve here - remove the `cloud.Logger` interface that we had to add extra?
It would be really trickier because of this extra `Init` method inside the `LogSink` interface ( [ref](https://github.com/go-logr/logr/blob/28755ae811e8511239e62a7b90b5ca808b691fca/logr.go#L419) ).

[code]

the klogr actually returns a logr.Logger