[2018-07-20 10:21] paulfantom opened #2 "Create CI pipeline"
It would be good to have CI in place.

cluster-api-provider-openstack already done this in https://github.com/kubernetes/test-infra/pull/8660 so it should be quite easy to follow thet example.

[2018-07-20 17:52] detiber commented on #2
/assign

[2018-07-20 18:42] #2 closed

[2018-07-25 19:14] timothysc opened #3 "Rally on a spec."
The goal of this effort is to produce a spec to rally on with interested parties, then break down the work items in this repo.

I'd suggest PR-ing a KEP to this repo that we can agree on.

[2018-08-08 21:59] timothysc commented on #3
In conversing on a kickoff meeting we'll start with 2 docs to feed into a local spec that we can rally on.
The recording is here - https://youtu.be/_ewtDZsDNjM

1. ) History document to serve as lessons learned
2.)  Enumerate options and taxonomy to allow for feeding of requirements.

[2018-08-09 15:35] timothysc opened #5 "Setting up test infra automation"
Required mundge github
bots
talk with @spiffxp about where we are going to release artifacts
setup integration with testgrid
talk with @roberthbailey about having a separate cluster-api specific suite.
...

[2018-08-09 16:35] timothysc commented on #5
/assign @chuckha

[2018-08-10 06:38] errordeveloper opened #6 "This is this a subproject of sig-cluster-lifecycle exclusively?"
I presume subprojects may span multiple SIGs, and I think it'd make sense for this subproject to also be linked to sig-aws.

[2018-08-10 15:09] chuckha commented on #5
So far there are already specific suites for each provider and cluster-api.

Please see:

[cluster-api-provider-aws](https://github.com/kubernetes/test-infra/tree/master/config/jobs/kubernetes-sigs/cluster-api-provider-aws) and [cluster-api](https://github.com/kubernetes/test-infra/tree/master/config/jobs/kubernetes-sigs/cluster-api)

[2018-08-17 16:05] chuckha commented on #5
[mungegithub is deprecated](https://github.com/kubernetes/test-infra/tree/master/mungegithub#deprecation-warning) and we should be using prow plugins.

[2018-08-17 16:34] detiber commented on #5
@timothysc release artifacts came up during the cluster-api meeting this week and currently the gcr.io/k8s-cluster-api bucket currently requires a Googler to push to, but @roberthbailey has offered to support pushing images until permissions can be granted to provider repo owners.

[2018-08-18 14:26] timothysc commented on #6
It is from the beginning, and I've looped in the appropriate parties.
/cc @d-nishi

[2018-08-18 14:27] timothysc commented on #6
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/OWNERS_ALIASES#L26

Closing this, as folks have looped in the appropriate lists since epoch.

[2018-08-18 14:27] #6 closed

[2018-08-20 16:38] timothysc opened #11 "UMBRELLA: Add common aws code."
Common utilities and wrappers can be incorporated now and doesn't need to wait on some of the design fronts.

We can distill and crib from kubicorn/prototypes/kops etc.

/assign @chuckha

Subtickets:

- [x] #23 VPC
- [ ] #24 Instance
- [x] #28 Internet Gateway
- [x] #29 Subnet
- [x] #30 RouteTable
- [x] #35 NAT Gateway
- [x] #36 Security Groups
- [x] #37 ELB

[2018-08-20 16:58] timothysc commented on #11
/cc @detiber

[2018-08-20 19:48] chuckha commented on #5
I think this ticket is closed. @timothysc We have test infra now and we have release binaries figured out. Please open issues with more detail if more needs to be done. For example, what functionality does mungegithub provide that we don't have that we might want out of a prow plugin?

[2018-08-20 19:48] #5 closed

[2018-08-20 19:58] timothysc commented on #5
Awesome, thx @chuckha @detiber !

[2018-08-20 20:53] timothysc commented on #3
Per subproject discussion:

@detiber will PR the doc + refs to this repo and we will start breaking down work items

/assign @detiber

[2018-08-21 14:29] timothysc opened #12 "Port image stamping to this repo"
There are a couple of different image stamping repo's using ansible and packer.

Let trim one down and port it in.

[2018-08-21 15:08] timothysc opened #13 "Bazel the build"
Update the build to use bazel

/assign @liztio

[2018-08-21 15:11] timothysc commented on #13
In the future post alpha release talk with @roberthbailey about bazel-ing all the things.

[2018-08-21 15:22] timothysc commented on #12
/assign @vincepri

[2018-08-21 15:26] timothysc opened #14 "Define the Cluster Spec"

[2018-08-21 15:28] timothysc opened #15 "Define the security groups we need."
todo also figure out VPC.

[2018-08-21 15:29] timothysc commented on #11
This can be an umbrella ticket that needs to be broken down.

[2018-08-21 15:32] timothysc opened #16 "Cloud-init module"
todo - fill in here
/assign @chuckha

[2018-08-21 15:33] timothysc opened #17 "kubeadm config integration through provider-config"
/assign @chuckha @detiber

[2018-08-21 15:34] timothysc opened #18 "UMBRELLA: Machine Actuator"

[2018-08-21 15:35] timothysc opened #19 "UMBRELLA:Cluster Actuator"

[2018-08-21 17:04] errordeveloper commented on #6
👍

[2018-08-23 18:18] chuckha opened #23 "[aws] Add vpc code"
We need code to create/delete a vpc

related to #11

[2018-08-23 18:26] chuckha opened #24 "[aws] Add instance code"
add code to manage instance

[2018-08-27 19:52] chuckha commented on #24
ref #11

[2018-08-27 20:00] chuckha opened #28 "[aws] Add Internet Gateway code"
Add code to interface with an internet gateway

[2018-08-27 20:01] chuckha opened #29 "[aws] Add Subnet code"
The cluster actuator needs to be able to create aws subnets for the VPC

[2018-08-27 21:50] chuckha opened #30 "[aws] Add RouteTable code"
need to manage aws route table

[2018-08-27 21:57] chuckha opened #31 "[machine actuator] Implement Create"

[2018-08-27 21:58] chuckha opened #32 "[machine actuator] Implement Delete"

[2018-08-27 21:59] chuckha opened #33 "[machine actuator] Implement Update"

[2018-08-27 21:59] chuckha opened #34 "[machine actuator] Implement Exists"

[2018-08-28 13:23] detiber opened #35 "[aws] Add NAT gateway management"
The MVP will require the ability to idempotently manage a NAT gateway for the private subnet(s)

[2018-08-28 13:26] detiber opened #36 "[aws] Add security group management"
The MVP requires the ability to idempotently manage security groups.

[2018-08-28 13:29] detiber opened #37 "[aws] Add ELB management"
The MVP requires the ability to idempotently manage a Classic ELB configured for TCP-passthrough to support load balancing of the API server.

[2018-08-28 13:48] detiber opened #38 "[cluster actuator] Reconcile VPC"
The MVP requires that the cluster actuator be able to idempotently manage a VPC.

- Attempting to update the VPC after creation should probably result in an error
- The actuator should also be able to use an existing VPC defined in the Provider Config.

[2018-08-28 13:49] detiber opened #39 "[cluster actuator] Delete VPC"
The cluster actuator should be able to delete a VPC that was created by the actuator. It *should not* delete a VPC that was defined by the user in the ProviderConfig.

[2018-08-28 14:47] detiber opened #40 "[cluster actuator] Reconcile Internet Gateway"
The MVP requires that the VPC created be configured with an Internet Gateway.

Outstanding question: Should this step be skipped if the user provides an existing VPC through the ProviderConfig?

[2018-08-28 14:49] detiber opened #41 "[cluster actuator] Delete Internet Gateway"
The MVP requires that the cluster actuator be able to delete a managed Internet Gateway.

This *should not* delete an Internet Gateway that is attached to non-cluster actuator managed VPC.

[2018-08-28 14:52] detiber opened #42 "[cluster actuator] reconcile public subnet"
The MVP requires a public subnet for hosting a bastion host. This subnet should only be created if the user does not provide configuration to suggest that a public subnet already exists. What exactly that configuration looks like is TBD.

[2018-08-28 14:54] detiber opened #43 "[cluster actuator] delete public subnet"
The cluster actuator should be able to delete a managed public subnet. It *should not* delete a pre-existing subnet.

[2018-08-28 15:04] detiber commented on #35
/kind feature
/priority important-soon

[2018-08-28 15:04] detiber commented on #36
/kind feature
/priority important-soon

[2018-08-28 15:04] detiber commented on #37
/kind feature
/priority important-soon

[2018-08-28 15:04] detiber commented on #38
/kind feature
/priority important-soon

[2018-08-28 15:04] detiber commented on #40
/kind feature
/priority important-soon

[2018-08-28 15:04] detiber commented on #41
/kind feature
/priority important-soon

[2018-08-28 15:05] detiber commented on #42
/kind feature
/priority important-soon

[2018-08-28 15:05] detiber commented on #43
/kind feature
/priority important-soon

[2018-08-28 15:47] detiber opened #44 "[cluster actuator] Reconcile routes for public subnet"
If the cluster actuator is managing a public subnet it should created the needed routes. The actuator *should not* manage routes if a user is specifying an existing public subnet should be used through config.

Depends on #42
/kind feature
/priority important-soon

[2018-08-28 15:51] detiber opened #45 "[cluster actuator] Reconcile bastion security group"
If the cluster actuator is managing the public bastion environment, then it should create a security group for the bastion host. The actuator *should not* create the security group if a user defines a pre-existing bastion environment through config.

/kind feature
/priority important-soon

[2018-08-28 16:13] detiber opened #46 "[cluster actuator] Reconcile bastion host"
The cluster actuator should create and manage a bastion host if it is managing the bastion environment. The actuator *should not* create the bastion host if the user-provided config indicates that an existing bastion environment should be used.

/kind feature
/priority important-soon

[2018-08-28 16:15] detiber commented on #3
Closing since #26 has merged.

[2018-08-28 16:15] #3 closed

[2018-08-28 16:19] detiber opened #47 "[cluster actuator] Reconcile private subnet[s]"
The cluster actuator should be able to create and manage private subnet(s) if the config does not indicate that the user is providing a pre-existing subnet(s).

The MVP only requires a single subnet, but there are future plans to support multi-AZ deployments, so the implementation should take that into account, such as ensuring that the subnet does not use the full cidr range of the VPC.

/kind fe

[2018-08-28 16:31] detiber opened #48 "[cluster actuator] Reconcile routes for private subnet(s)"
The cluster actuator should create and manage route configuration for actuator-managed private subnets. It *should not* create routes for user-provided pre-existing private subnets that are provided through the ProviderConfig.

Depends on: #47, #38, #30

/kind feature
/priority important-soon

[2018-08-28 16:50] detiber opened #49 "[cluster actuator] Reconcile NAT Gateway"
The cluster actuator should create and manage NAT gateway configuration for actuator-managed private subnets. It should not create a NAT gateway for user-provided pre-existing private subnets that are provided through the ProviderConfig.

Depends on: #47, #38, #35

/kind feature
/priority important-soon

[2018-08-28 16:55] detiber opened #50 "[cluster actuator] Reconcile control plane node security group"
The cluster actuator should create and manage a security group for the control plane nodes if a user does not provide an existing security group.

Depends on: #38, #36

/kind feature
/priority important-soon

[2018-08-28 16:56] detiber opened #51 "[cluster actuator] Reconcile worker node security group"
The cluster actuator should create and manage a security group for the control plane nodes if a user does not provide an existing security group.

Depends on: #38, #36

/kind feature
/priority important-soon

[2018-08-28 16:58] detiber opened #52 "[cluster actuator] Reconcile apiserver Load Balancer"
The cluster actuator should create and manage a load balancer for the apiserver if a user does not provide an existing load balancer.

The load balancer should be a classic ELB configured for tcp-passthrough.

Outstanding question: Should the cluster actuator or the machine actuator update membership for this load balancer?

Depends on: #37

/kind feature
/priority important-soon

[2018-08-29 15:42] chuckha opened #53 "[aws] Idempotent create instance"
There was talk of tokens and tags and opinions and I'd like to capture those ideas here.

cc @kris-nova @csrwng

[2018-08-29 16:08] csrwng commented on #53
For creating instances we can use client tokens to ensure uniqueness of the instance to create. Info here: https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html
One option would be to use the machine UID as the token. Or if we want to not rely on a specific UID, we could generate a hash based on Name + Namespace.

[2018-08-29 16:08] detiber commented on #53
Updating priority because I think we want to solve this before we get too far into the implementation

/priority important-soon

[2018-08-29 16:15] detiber commented on #53
I think we also want to get general agreement into the contract we want to provide about idempotent creation and deletion of AWS resources to ensure that we are not leaving users with orphaned resources.

kops relies heavily on tags applied to created resources
kubicorn relies on storing the resource ids as part of the state and relies on deleting resources when failures are hit.

Some conditions

[2018-08-29 16:18] detiber opened #54 "[aws] Test framework and implementation for AWS."
In order to avoid having to manually build out fake interfaces for all AWS APIs we are interacting with we should look into leveraging some auto-generation or automation.

We can potentially leverage existing work from KOPS or openshift/cluster-operator here.

cc @csrwng
/kind feature
/priority important-soon

[2018-08-30 15:31] detiber commented on #23
/kind feature

[2018-08-30 15:41] detiber commented on #11
/kind feature

[2018-08-30 15:42] detiber commented on #12
/kind feature
/lifecycle active

[2018-08-30 15:44] detiber commented on #17
/kind feature

[2018-08-30 15:45] detiber commented on #31
/priority important-soon

[2018-08-30 15:46] detiber commented on #18
/kind feature

[2018-08-30 15:46] detiber commented on #19
/kind feature

[2018-08-30 15:47] detiber commented on #53
/priority critical-urgent

[2018-08-30 15:49] detiber commented on #16
/kind feature

[2018-08-30 15:53] detiber commented on #14
/kind feature

[2018-08-30 15:53] detiber commented on #14
/kind design

[2018-08-30 15:54] detiber commented on #15
/kind documentation

[2018-08-30 16:03] detiber opened #56 "[cluster actuator] Delete routes for public subnet"
/kind feature
/priority important-soon

[2018-08-30 16:03] detiber opened #57 "[cluster actuator] Delete bastion security group"
/kind feature
/priority important-soon

[2018-08-30 16:04] detiber opened #58 "[cluster actuator] Delete bastion host"
/kind feature
/priority important-soon

[2018-08-30 16:05] detiber opened #59 "[cluster actuator] Delete private subnet"
/kind feature
/priority important-soon

[2018-08-30 16:05] detiber opened #60 "[cluster actuator] Delete routes for private subnet"
/kind feature
/priority important-soon

[2018-08-30 16:06] detiber opened #61 "[cluster actuator] Delete NAT Gateway"
/kind feature
/priority important-soon

[2018-08-30 16:07] detiber opened #62 "[cluster actuator] Delete control plane node security group"
/kind feature
/priority important-soon

[2018-08-30 16:07] detiber opened #63 "[cluster actuator] Delete worker node security group"
/kind feature
/priority important-soon

[2018-08-30 16:08] detiber opened #64 "[cluster actuator] Delete load balancer"
/kind feature
/priority important-soon

[2018-08-31 20:55] chuckha commented on #54
I'm hoping we're able to scope down the interfaces enough to make test mocking less onerous.

[2018-09-04 10:13] phyber commented on #39
I'm taking a look at this to hopefully get to grips with the codebase. If anyone else was also going to look at this, please don't let me stop you, as I have no idea how long it will be until I have something to PR.

[2018-09-04 17:16] errordeveloper opened #69 "UMBRELLA: Variants"
As we've discussed a few different use-cases, and it became immediately clear that certain use-cases are significantly different, yet there is enough overlap in certain areas, larger when it comes down to general AWS things.

Example use cases:

- Control plane flavours:
   - Hosted, i.e. EKS
   - Hosted in other provider, e.g. GKE
   - Control plane as pods in management cluster
   - Control plan

[2018-09-04 17:17] errordeveloper commented on #69
For the purpose of moving the discussion forward, I'd like to follow up with a straw man proposal of EKS flavour, based on eksctl. Once we have a clearer idea and a common conceptual framework, we can proceed to implementing and see how other flavours may fit in. Hopefully EKS flavour would be significantly representative of the type of what are common differences between flavours.

[2018-09-05 02:52] timothysc commented on #69
@errordeveloper Could you work with @davidewatson on writing up a simple spec that we could use to rally other folks around?

[2018-09-05 10:06] errordeveloper commented on #69
@timothysc sure, happy to do that!

[2018-09-05 13:19] chuckha opened #70 "[aws] DHCP options & association"
Add code to create and associate dhcp options and association with our vpc

[2018-09-05 19:59] chuckha commented on #70
assigning this to you since it fits into the vpc path you're working on. It might not even be necessary, so feel free to close if you don't think we need to do this.

[2018-09-05 20:07] vincepri commented on #29
/lifecycle active

[2018-09-05 20:07] vincepri commented on #30
/lifecycle active

[2018-09-05 20:08] vincepri commented on #28
/lifecycle active

[2018-09-05 20:08] vincepri commented on #70
/lifecycle active

[2018-09-06 17:38] vincepri commented on #70
@chuckha As per our discussion this morning, moving this to be long term.

[2018-09-07 10:19] randomvariable commented on #39
#68 at least partially addressed this.

[2018-09-07 10:20] randomvariable commented on #38
Initial implementation in #68

[2018-09-10 11:34] randomvariable commented on #69
Linking https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/proposal/features.md here for the history

[2018-09-10 12:59] randomvariable commented on #35
/lifecycle active

[2018-09-11 15:09] randomvariable opened #78 "Metrics/Tracing"
Would be good to get at least metrics added early on.

A cluster operator may want to metrics from the controllers available in their monitoring system of choice, e.g. Prometheus. I would be interested in metrics with regards to the creation, deletion, mutation and failure rates of AWS APIs, and the state of their objects at least to help diagnose when limits have been reached.

Specifically, addi

[2018-09-11 17:03] randomvariable commented on #78
if there's a strong preference for prometheus client_golang, also fine.

[2018-09-12 14:11] phyber commented on #34
This is being worked on in https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/67

[2018-09-12 14:11] phyber commented on #34
/lifecycle active

[2018-09-12 14:54] phyber commented on #32
/lifecycle active

[2018-09-12 14:55] phyber commented on #32
I'm looking at implementing this. Will link a PR to it shortly.

[2018-09-13 04:32] chuckha opened #79 "Expose service interfaces"
There are some private interfaces that should be public, such as

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/cloud/aws/services/ec2/instances.go#L25

These should all be public instead of private

[2018-09-17 09:54] randomvariable commented on #61
/lifecycle active

[2018-09-17 09:54] randomvariable commented on #60
/lifecycle active

[2018-09-17 09:55] randomvariable commented on #59
/lifecycle active

[2018-09-17 09:55] randomvariable commented on #47
/lifecycle active

[2018-09-17 09:55] randomvariable commented on #48
/lifecycle active

[2018-09-17 09:55] randomvariable commented on #49
/lifecycle active

[2018-09-17 16:56] #29 closed

[2018-09-18 14:57] detiber commented on #16
/lifecycle active

[2018-09-18 18:34] vincepri commented on #54
@detiber @chuckha given that this is covered by gomock, is it ok to close?

[2018-09-18 18:35] chuckha commented on #54
gomock gets the job done.

[2018-09-18 18:35] #54 closed

[2018-09-18 18:40] vincepri commented on #36
/lifecycle active

[2018-09-18 18:47] vincepri commented on #37
/lifecycle active

[2018-09-18 18:49] vincepri commented on #30
Blocked on #35

[2018-09-18 20:27] #28 closed

[2018-09-18 20:35] vincepri commented on #79
@chuckha Going to close this, interfaces were removed in #77

[2018-09-18 20:35] #79 closed

[2018-09-18 20:36] vincepri commented on #78
We should have some umbrella issue to track this, not sure what the standards is across k8s components.

CC @detiber

[2018-09-18 21:00] vincepri opened #87 "Add unit tests for ec2 service internet gateways"
Followup from #85

[2018-09-18 21:01] vincepri commented on #87
/lifecycle active

[2018-09-18 21:27] vincepri opened #88 "Variants and providerconfig"
We need to start thinking about how to structure versioning of `providerconfig` to handle variants (discussed in #69).

[2018-09-18 21:36] vincepri commented on #47
@randomvariable @detiber @chuckha  Given that the reconcile loop is `ReconcileNetwork`, we could reconcile routes and subnets, which would make it easier to treat the AWS network as a single unit composed of VPC/Subnets/Gateways/Routes/SG etc. This would also help when we'll implement the delete part. Thoughts?

The code on master already partially does this, but I'm happy to change it if we have

[2018-09-18 22:51] randomvariable commented on #78
Found them. https://github.com/kubernetes/community/blob/master/contributors/devel/instrumentation.md

https://docs.google.com/document/d/1U_h7osUDF6plKn_nkDF2Y-EjZA6BY8RR6LfTezrFBwM/edit?ts=5b926ad1 may also be useful.

[2018-09-18 22:55] randomvariable commented on #78
From the new KEP, this seems to be important:

[2018-09-18 23:55] vincepri opened #89 "NAT Gateways variants and configs"
Follow-up issue from https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/81#discussion_r218624179.

Long term, we need to check user demand for different configurations around NAT in AWS.

[2018-09-19 17:59] #87 closed

[2018-09-19 19:52] vincepri commented on #47
I'll close these for now, let me know if there is any pushback.

[2018-09-19 19:52] #47 closed

[2018-09-19 19:52] vincepri commented on #42
Closing, see https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/47#issuecomment-422564463

[2018-09-19 19:52] #42 closed

[2018-09-19 19:52] vincepri commented on #44
Closing, see https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/47#issuecomment-422564463

[2018-09-19 19:52] #44 closed

[2018-09-19 19:52] vincepri commented on #40
Closing see https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/47#issuecomment-422564463

[2018-09-19 19:52] #40 closed

[2018-09-19 19:53] vincepri commented on #49
Closing, see https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/47#issuecomment-422564463.

[2018-09-19 19:53] #49 closed

[2018-09-20 10:22] phyber commented on #18
The first post here may need updating, either to say that pieces have been completed, or to further clarify what is needed to consider them complete. Hopefully this post is useful for people wondering what's being worked on while glancing at this umbrella issue.

The following appear to be complete:
  - Create: PR https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/27

These are being

[2018-09-20 10:49] phyber commented on #33
I'm starting to take a look at this. WIP PR coming soon.

[2018-09-20 10:56] phyber commented on #33
/lifecycle active

[2018-09-20 10:56] phyber commented on #33
Work on this happening in PR https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/91

[2018-09-20 14:00] phyber commented on #32
This may be closable now. I forgot to set an appropriate comment on my PR to close the issue automatically.

[2018-09-20 15:08] detiber commented on #32
@phyber indeed, thanks for working on this!

[2018-09-20 15:08] #32 closed

[2018-09-20 15:28] detiber commented on #78
@randomvariable I like this idea very much, should we also track this at the more generic cluster-api level as well?

[2018-09-20 15:29] detiber commented on #78
@vincepri I think we can use this issue as the umbrella issue and spawn out more specific issues to address as identified.

[2018-09-20 15:38] detiber commented on #88
Personally, I foresee each variant having separate providerconfigs and being versioned independently. The current code in the actuator to decode from `*runtime.RawExtension` would need to be extended to be able to handle the multiple types that could be returned and also call the custom methods for the proper variant associated with the returned config.

[2018-09-20 15:50] detiber commented on #69
/assign @errordeveloper
/assign @davidewatson

[2018-09-20 17:15] #35 closed

[2018-09-21 13:18] detiber opened #94 "Support mutation of certain attributes of machine object during Update"
- User tries to mutate attributes of the machine that cannot be done in place
  - either fail to update, bubbling up appropriate error message to Machine object
  - or potentially delete and recreate the machine
    - would need to take into account if the machine is a control plane node or not
    - would need to be able to attempt to gracefully cordon/drain the node prior to removing the existin

[2018-09-21 13:20] detiber opened #95 "Support upgrade of machine object through Update"
User attempts to perform an upgrade on the machine.

The workflow(s) for this would need to be designed, scoped, and implemented.

[2018-09-21 13:35] phyber commented on #33
Complete implementation of this also depends upon #94 and #95. #91 implements a naive `Update` that only updates object status.

[2018-09-21 13:38] phyber commented on #34
The work here from #67 has now been merged and this appears to be complete.

[2018-09-21 13:40] detiber commented on #34
/close

[2018-09-21 13:40] #34 closed

[2018-09-21 20:33] vincepri commented on #48
@randomvariable I think this might also be a leftover (https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/47#issuecomment-422564463). Is this ok to close?

[2018-09-24 13:11] randomvariable commented on #48
sure

[2018-09-24 13:12] randomvariable commented on #48
/close

[2018-09-24 13:12] #48 closed

[2018-09-24 18:32] randomvariable commented on #16
An idea for improving on polling and timeouts for success or failure of the node:

1. Bake `rando_name.timer` systemd-timer unit that communicates status using the AWS CLI, reading an EnvFile with the SNS topic (probably some bash thing).

2. User is required to add IAM policy for actuator to create SNS and SQS queues with a prefix that belongs to the cluster, e.g.:

For Cluster API:
[code]
For wo

[2018-09-24 18:48] randomvariable commented on #16
For distribution of the bootstrap token:

1. User creates the following IAM policies:

For worker nodes:
[code]

Anything running cluster API:
[code]

2. During bootstrap of control plane, use the AWS CLI to upload the bootstrap token, and on the
worker nodes, use the same to download.

There's a slight issue in that the key ID will need to be resolved from the SSM parameter alias.
Think we might

[2018-09-24 23:44] johanneswuerbach opened #103 "VPC is created multiple-time"
Not sure whether this is due to https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/98, but the error in https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/102 caused the aws-cluster-controller to create VPC until the max VPC limit had been reached.

Assumably the VPC Id should be stored into the cluster spec once successfully created to prevent recreation.

[2018-09-24 23:50] detiber commented on #103
/assign @vincepri
/kind bug

[2018-09-25 00:09] vincepri commented on #103
The describe method uses the VPC id that in from the Network configuration, if this is empty, the VPC is created. What's probably happening is that the id is never stored and it goes into a loop trying to recreate the VPC multiple times.

We need to find a way to persist important information in the Cluster actuator and use tags to discover pre-created resources based on a cluster identifier.

[2018-09-25 10:16] phyber commented on #33
Commenting to re-open this. Closed by mistake due to earlier PR comment.

Still to go here:
  - Update Tags
  - Update Security Groups
  - Error when trying to update immutable state

[2018-09-25 10:52] phyber commented on #33
/reopen

[2018-09-25 10:54] randomvariable commented on #33
/reopen

[2018-09-25 15:12] vincepri commented on #51
/lifecycle active

[2018-09-25 15:12] vincepri commented on #38
/lifecycle active

[2018-09-25 19:42] liztio commented on #13
do we want to require everyone to use Bazel, or should it be optional like it is in k8s?

[2018-09-25 20:18] chuckha commented on #103
fixed by #106

[2018-09-25 20:20] johanneswuerbach commented on #103
I don't think so as #106 won't be able to resume a errored out network reconciliation and probably recreate the VPC.

Instead I think tagging and discovery based on that tags might be a better safe-guard to also handle NPE and other failures between creating resources and persisting the state.

I've implemented something basic in https://github.com/virtual-kubelet/virtual-kubelet/blob/master/provi

[2018-09-25 20:29] johanneswuerbach commented on #103
Yes, I also meant both should be done. Having the ids of the created resources inside the spec is also really helpful for debugging and not just correctness.

[2018-09-25 20:31] vincepri commented on #103
I'd rephrase the issue as a future improvement, the immediate bug (loop) was fixed in #106. I agree though that we should do both longer term, given that we can gather a cluster id somewhere. I think we also haven't standardized on tagging / identifiers yet.

[2018-09-25 22:01] johanneswuerbach commented on #103
I created an example implementation of tagging the VPC and trying to discover it based on said tag, comments more then welcome https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/112

[2018-09-26 05:22] vincepri opened #114 "Further improve development experience"
/kind feature

**Describe the solution you'd like**
A developer should be able to have a smooth experience developing and testing cluster-api aws implementation.

Possible areas for improvement:
- Remove gcloud / gcr. This would help simplify the automation scripts and reduce the overhead to think "Am I using GCR or ECS?", "Did I setup proper permissions for both, neither, some?"
- Add prerequisit

[2018-09-26 17:07] vincepri commented on #114
Thanks @detiber for the comments, I think it might be valuable to have different docs to setup the development environment and have some reference envs as such.

One other thing @chuckha and I just found out is that `minikube` defaults to v1.10 but cluster-api targets v1.9.x, which was the main blocker for me yesterday to get up and running.

Also +1 on clarifying what's a requirement and what's a

[2018-09-26 19:20] ashish-amarnath commented on #52
/assign

[2018-09-26 19:21] ashish-amarnath commented on #52
/lifecycle-active

[2018-09-26 19:27] detiber commented on #52
Assigning to Vince for tracking purposes only.
/assign @vincepri
/lifecycle active

[2018-09-27 15:05] liztio opened #120 "README is too focused on developers"
/kind docs

Right now, the README is focused almost exclusively on developers. The README should have instructions for "getting started," "getting help," "filing issues" etc, instead of just how to compile the project like we have now.

[2018-09-27 15:09] timothysc opened #121 "RFE: Rationalize / dedupe clusterctl across providers"
/kind feature

**Describe the solution you'd like**
There should be only 1 clusterctl and many providers that can plugin to a single clusterctl.

From the consumer perspective this can be a issue if they wish to support multiple providers from a single CLI.

[2018-09-27 15:24] timothysc opened #122 "Automation of Publishing Artifacts"
**Describe the solution you'd like**
In an ideal world we would like to publish the following artifacts

--> Containers & AMI [Stable/Testing(alpha/beta/rc)/Periodic(sha)]
@dims - Where do we want to host this stuff.

Annotated Tags applied to the promotion of artifacts
-alpha/beta -> Testing
- vX.Y.Z -> Stable

NOTE: This will affect test integration with kubeadm

/kind feature

[2018-09-27 15:31] liztio opened #123 "More closely align repository structure to upstream"
/kind bug

./scripts/* -> ./hack (or ./build?)
./cloud/aws -> ./pkg/cloud/aws
./clusterctl -> ./cmd/clusterctl
`go get sigs.k8s.io/cluster-api-provider-aws` should install clusterctl
./images -> ./build/amis

[2018-09-27 15:33] liztio opened #125 "Add README to ./cloud/aws"
/kind docs

What is an actuator? what is a controller? How much of this is boiler plate? The meat of the code is here, some explanations would be useful.

[2018-09-27 15:34] liztio commented on #125
/kind documentation

[2018-09-27 15:34] liztio commented on #120
/kind documentation

[2018-09-27 15:39] liztio opened #126 "Reevaluate controller structure on CRD converesions"
/kind feature

Cluster controller currently cannot exit cleanly, or doesn't obviously do so. the `select {}` statement is confusing, and `RunAsync` is a misnomer.

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/cloud/aws/controllers/cluster/controller.go#L87-L89

A lot of cruft is a result of of the apibuilder, and once we move to CRDs we should cull as much as possible.

[2018-09-27 15:46] dims commented on #122
Added it to the infra team meeting agenda tomorrow.

[2018-09-27 15:46] liztio opened #127 "Events should be recorded into the events API"
/kind feature

Events recorded as part of bootstrapping the cluster should be added to the k8s-wide Events API

[2018-09-27 15:54] liztio opened #128 "Provide a concrete implementation for a test cluster"
/kind feature

@timothysc please link to cluster API / etcd API examples

[2018-09-27 15:59] liztio opened #129 "`const`ify providerconfig/types"
/kind feature

A lot of the fields in cloud/aws/providerconfig are strings right now. Using custom types with `const` values would make it more obvious what expected values and default values are.

[2018-09-27 16:05] liztio opened #130 "Better name for `/cloud/aws/services`"
/kind feature

This name is very confusing and overloaded. A better name is needed.

Bikeshed away!

[2018-09-27 16:10] liztio commented on #130
Also discuss what `/services` should be: is it a wrapper? Is it for reconciliation? Right now it does both, but these should be separated out.

[2018-09-27 16:46] chuckha commented on #130
It originally was a wrapper

It has become more than that and I almost want another layer between the two. The ec2 wrapper and then the infra that defines a cluster which uses the ec2 wrapper.

* network
* control plane
* nodes
* security/iam

I could see this being a good point for the variants to plug into. The actuator uses the infra interface and then the infra implementation uses the ec2 wrap

[2018-09-28 14:32] vincepri commented on #114
@detiber @chuckha I'll take care of some docs today regarding this if that's ok

[2018-09-28 14:49] chuckha commented on #123
What upstream are we talking about?

I don't think there is really an upstream for this repository. We copy/pasta'd from a skeleton repo and these patterns don't match cluster-api so I'm curious what 'upstream' is referenced in this ticket.

[2018-09-28 14:53] chuckha commented on #123
followup: upstream referenced here is kubernetes/kubernetes.

This is a trade off. Either the repo becomes a bit easier to understand for folks coming from k/k or we keep it as is and keep it consistent for folks coming from other cluster-providers. I'd prefer the latter but don't care too much. What I do care about is that we make sure the time invested in moving code is worth the effort.

[2018-09-28 19:15] vincepri commented on #30
/close

[2018-09-28 19:15] #30 closed

[2018-09-28 19:15] vincepri commented on #23
/close

[2018-09-28 19:15] #23 closed

[2018-09-28 19:17] vincepri commented on #37
/assign @ashish-amarnath

[2018-10-01 14:42] chuckha opened #137 "Add helpers to generate AWSProvider* for tests"
/kind feature

**Describe the solution you'd like**
I'd like a few functions where I can define an AWS{Cluster|Machine}Provider{Config|Status} and get back something ([]byte) that can be used as a `*runtime.RawExtension` so I don't have to manually write JSON in my tests.

**Anything else you would like to add:**
Nope

[2018-10-01 14:43] detiber commented on #137
/priority important-long-term

[2018-10-01 14:58] chuckha opened #138 "Images should be discoverable"
/kind bug

**What steps did you take and what happened:**
There is no way to filter for images built with the packer script from this project. I looked for a script to do this in heptiolabs/wardroom that @liztio mentioned but could not find it.

**What did you expect to happen:**
I expect our images to be tagged with something easy to filter on.

**Anything else you would like to add:**
There are

[2018-10-01 17:43] randomvariable commented on #138
Try to avoid using tags to match on images because:

Tags don't get copied when the AMI is copied, for which an example use case is that a user wants encrypted root volumes, which means they must own the AMI.

Below is a slightly modified copy of a proposal we had earlier:

#### AMI Name:

[code]

#### Tags:

- Cluster API's Version
- platform codename (on Linux: same as LSB Distributor ID)
- upst

[2018-10-01 20:18] chuckha commented on #36
For the MVP can the security group please allow port 22 traffic from 0.0.0.0/0

[2018-10-01 20:18] chuckha commented on #50
closing in favor of #36

[2018-10-01 20:18] #50 closed

[2018-10-01 20:18] chuckha commented on #51
closing in favor of #36

[2018-10-01 20:18] #51 closed

[2018-10-02 13:10] chuckha opened #142 "Images built with packer from this repo have user directory"
/kind bug

**What steps did you take and what happened:**
I just spun up an instance using an image in the README and saw this:

[code]

**What did you expect to happen:**
I did not expect to see a user dir in here.

**Anything else you would like to add:**
no

[2018-10-02 13:49] chuckha opened #144 "Create an EC2 client per-region as necessary"
/kind feature

**Describe the solution you'd like**
Right now we only define one ec2 client. If we were to create an HA cluster across multiple regions then we would need more than one ec2 client.

[2018-10-02 14:51] #53 closed

[2018-10-02 15:32] detiber commented on #128
Improving integration level testing.

[2018-10-02 15:52] detiber commented on #16
/close

[2018-10-02 15:52] #16 closed

[2018-10-02 15:52] detiber commented on #15
/close

[2018-10-02 15:52] #15 closed

[2018-10-02 15:54] detiber commented on #38
/close

[2018-10-02 15:54] #38 closed

[2018-10-02 15:56] vincepri commented on #11
@detiber I think me might be able to close this, given that most of the work is in https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/19

[2018-10-02 16:37] vincepri opened #145 "Implement equality method for Ingress Rule"
/kind feature

Follow up from https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/141#discussion_r222014810

[2018-10-02 17:13] #36 closed

[2018-10-02 18:08] #114 closed

[2018-10-02 19:43] #45 closed

[2018-10-03 06:38] #144 closed

[2018-10-03 23:38] vincepri commented on #46
/lifecycle active

[2018-10-03 23:38] vincepri commented on #70
/unassign

[2018-10-04 10:00] randomvariable commented on #120
We also need:

- IAM policy to use the Cluster API implementation, and also with a CloudFormation template to set up the IAM policy and instance profiles / roles.
  - Optionally a user account to use for bootstrapping?
  - Should be YAML
  - Any customisation should probably use https://github.com/kubernetes-sigs/kustomize in keeping with the CRD implementation of cluster-api.
- Where to get binar

[2018-10-04 10:00] randomvariable commented on #120
/assign

[2018-10-04 10:01] randomvariable commented on #120
/lifecycle active

[2018-10-04 10:02] randomvariable commented on #63
/lifecycle active

[2018-10-04 10:02] randomvariable commented on #56
/lifecycle active

[2018-10-04 10:02] randomvariable commented on #62
/lifecycle active

[2018-10-04 10:02] randomvariable commented on #39
/lifecycle active

[2018-10-04 10:02] randomvariable commented on #43
/lifecycle active

[2018-10-04 10:02] randomvariable commented on #41
/lifecycle active

[2018-10-04 12:07] #46 closed

[2018-10-04 17:20] vincepri commented on #37
Closing this in favor of #52.

/close

[2018-10-04 17:20] #37 closed

[2018-10-04 18:35] randomvariable commented on #127
Tried to give this a go to see if this was straightforward. I think we'll need to pass context around to functions to include the cluster context for the event recorder.

We could also use the same for logging (atm functions can't say what cluster they're operating on) if we replace glog, and also use it for monitoring, as per #78

[2018-10-05 10:30] randomvariable commented on #137
/good-first-issue

[2018-10-05 13:37] detiber commented on #63
/close

[2018-10-05 13:37] #63 closed

[2018-10-05 13:37] detiber commented on #62
/close

[2018-10-05 13:37] #62 closed

[2018-10-05 13:37] #61 closed

[2018-10-05 13:38] #60 closed

[2018-10-05 13:38] #59 closed

[2018-10-05 13:38] #56 closed

[2018-10-05 13:39] #39 closed

[2018-10-05 13:39] #41 closed

[2018-10-05 13:39] #43 closed

[2018-10-05 13:41] detiber commented on #52
closing now that https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/158 has merged

[2018-10-05 13:41] #52 closed

[2018-10-05 13:46] detiber commented on #31
/close

[2018-10-05 13:46] #31 closed

[2018-10-05 15:52] detiber opened #165 "Reconciling a cluster after manually deleting resources in AWS console broken"
/kind bug

**What steps did you take and what happened:**
Manually deleting the VPC (or other components) in ec2 causes the cluster reconciliation to break

**What did you expect to happen:**
The cluster actuator should either throw a non-retryable error (setting ErrorMessage/ErrorReason on the cluster status) or re-create the missing resources.

Current workaround is to edit the cluster object an

[2018-10-05 15:59] #142 closed

[2018-10-05 19:26] detiber opened #168 "Automated testing should run `make check`"
/kind feature

Currently the automated testing does not verify that `go fmt` or `go vet` run, there is a make target `check` that covers this. We should have this automated for PRs.

/priority important-soon

[2018-10-05 20:39] #24 closed

[2018-10-05 22:32] chuckha opened #173 "Need to reconcile instances better"
/kind bug

We aren't tagging or looking up instances by tag, so we end up creating a new one each iteration.

**What did you expect to happen:**
I expect instances to be reused if tagged appropriately

[2018-10-06 04:03] gyuho commented on #69
@errordeveloper @davidewatson Any updates?

[2018-10-06 13:15] #168 closed

[2018-10-06 13:39] detiber commented on #69
@gyuho things have been a bit hectic lately as we've been working on getting the initial release out.
we will be using the Oct 15th [AWS Provider Office Hours](https://docs.google.com/document/d/10dq54Fd-xa6P5Iy3p46VY1YTFqugGMd1PygDIpuRw6c/edit#) to do planning and prioritization for the next release, and I highly suspect that variants will end up relatively high on the list there.

[2018-10-08 10:14] randomvariable commented on #173
Tasks related to this I think are:
* Add kubernetes.io/cluster/<cluster-name>/machine/<machine-name>
* Add glog.V(2) logging to the instances code
* Get instance profiles working
* If it's an API Server, then register with the ELB

[2018-10-08 10:14] randomvariable commented on #173
/assign @phyber

[2018-10-08 10:36] randomvariable commented on #78
/assign

[2018-10-08 11:57] randomvariable commented on #11
This looks like a
/close

to me

[2018-10-08 11:57] #11 closed

[2018-10-08 12:00] randomvariable opened #187 "Document mvp assumptions and methodologies"
/kind feature

To aid users understand what they're getting, and probably help devs understand
behaviour, we should document the implementation decisions such as how we
handle subnets, gateways etc...

This will also help with feature prioritisation and discussion over #88

[2018-10-08 12:00] randomvariable commented on #187
/priority important-soon

[2018-10-08 13:03] phyber commented on #173
- [x] glog added to more of instance code in #183

[2018-10-08 14:43] randomvariable opened #188 "Document how to get onto instances"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Had completely forgotten what the default user for SSH
was on Ubuntu 18.04, which we also haven't stated is the default OS choice.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws

[2018-10-08 14:44] detiber commented on #188
/kind documentation
/priority important-soon

[2018-10-08 15:19] #58 closed

[2018-10-08 15:30] randomvariable opened #190 "Extend clusterawsadm to show IAM policy templates for non-CloudFormation users"
/kind feature

**Describe the solution you'd like**

Given that the IAM policy is a code construct, it should be possible to show
the IAM policy document without the surrounding CloudFormation for users using
Terraform, the console or other tooling.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider

[2018-10-08 15:31] detiber commented on #190
/priority important-soon

[2018-10-08 15:40] randomvariable opened #191 "Improve clusterawsadm UX"
/kind feature
/good-first-issue

**Describe the solution you'd like**

The `clusterawsadm` command has some terrible UX:

e.g. you need to provide an account ID to this command.

[code]
But it doesn't tell you what the argument is supposed to be.
Neither does it check that it's an account id.

It also reuses the glog tooling from the controllers, which is not
best for human readability, as in this

[2018-10-08 20:01] xmudrii commented on #191
I want to take on the issue in the morning if that is okay and not late. :slightly_smiling_face:

/assign

[2018-10-09 09:16] randomvariable commented on #127
#194 has the work in progress poc. @liztio I could only find a v1 events API though?

[2018-10-09 09:20] randomvariable commented on #17
This is highlighted in the context of #196 where I've hard-coded the pod CIDR range
for use by the default Calico manifests, where our intention was to be CNI agnostic.

[2018-10-09 09:38] randomvariable opened #200 "Remove hard-coded Calico install"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

As per the [feature model](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/proposal/features.md#out-of-scope), the provider
is meant to be CNI agnostic - or more specifically agnostic of anything
that can be applied as a manifest.

#170 added a Calico inst

[2018-10-09 09:59] randomvariable opened #201 "Better AWS credentials management post-pivot"
/kind feature

**Describe the solution you'd like**

As part of the bootstrap, users need to provide AWS credentials
in the provider components manifest so that the controllers
can spin up AWS infrastructure from minikube.

It then pivots the manifests to the new cluster, however,
`clusterawsadm` creates an IAM role and instance profile
for this purpose, so some way of removing the env vars
for th

[2018-10-09 11:54] randomvariable opened #202 "Slow down retries if EC2 public key isn't available"
/kind feature

**Describe the solution you'd like**

It's likely that a user may forget to upload an EC2 public key.

The create instance method used by both actuators returns an error and the object
gets requeued immediately, retried 10 times and then errors out.

We should use mark this as failed dependency and then requeue with a 1m delay
giving time for the user to rectify the error in a reaso

[2018-10-09 15:59] detiber opened #203 "clusterctl error when setting the cluster endpoint after pivoting"
/kind bug

/assign @randomvariable
/priority critical-urgent
/lifecycle active

[2018-10-09 16:00] randomvariable opened #204 "Move CNI install to cluster actuator and out of userdata"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Related to #200

- Move calico manifests to add-ons.yaml (or potentially cluster actuator)

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kub

[2018-10-09 16:00] detiber commented on #200
The calico manifest application should happen either through cluster addons or through the cluster actuator.

/kind bug
/priority critical-urgent

[2018-10-09 16:01] detiber commented on #173
/assign @detiber
/priority critical-urgent
/lifecycle active

[2018-10-09 16:02] detiber commented on #200
/kind feature
/priority important-soon

[2018-10-09 16:02] detiber commented on #204
/kind bug
/priority critical-urgent

[2018-10-09 16:04] detiber opened #205 "Switch machine actuator to use cloud-config rather than startup script"
/kind bug

/priority critical-urgent

[2018-10-09 16:05] detiber commented on #64
I believe this has already been addressed
/close

[2018-10-09 16:05] #64 closed

[2018-10-09 16:05] detiber commented on #57
/close

[2018-10-09 16:05] #57 closed

[2018-10-09 16:12] randomvariable opened #206 "Check for instance in clusterawsadm console output"
/kind bug

**What steps did you take and what happened:**
Running  `clusterawsadm alpha ec2 console-output` against a machine not yet created in
EC2 panics:

[code]

**What did you expect to happen:**
Message that the ec2 instance doesn't exist

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws

[2018-10-09 16:15] detiber commented on #206
/assign
/lifecycle active

[2018-10-09 18:52] detiber opened #208 "Better handle cluster identification to take into account that clusters/machines are namespaced"
/kind bug

/priority important-soon

[2018-10-09 21:13] #173 closed

[2018-10-09 21:35] #203 closed

[2018-10-10 01:56] detiber opened #213 "Need to overall error handling to be more consistent"
/kind bug

Currently we use a combination of errors.Wrap and comparing AWS errors in various places, but we don't consistently use errors.Cause when testing the AWS errors. There are other cases where we are "creating new AWS errors", we need bring some consistency to this to avoid mishandling of errors.

/priority important-soon

[2018-10-10 13:19] detiber opened #214 "Prevent deletion of machine and cluster hosting cluster-api's api-server"
/kind bug

Currently it is possible to delete the Machine Object (and transitively the Instance backing that machine) that is hosting the Control Plane for the cluster that is running the Cluster API CRDs/Controllers. If this happens, then all other Machine Instances and other corresponding AWS resources attached to the Cluster Object are orphaned.

There is some checking within the upstream Clust

[2018-10-10 14:05] randomvariable commented on #214
Conversely, deleting the cluster also leads to *fun*/a partially deleted VPC and an inaccessible API server.

[2018-10-10 14:08] detiber opened #215 "Properly handle deleting a cluster when machines exist"
/kind bug

Need to determine what the proper behavior here should be.
- Should deleting a cluster recursively delete all machinedeployments, machinesets, and machines in a cluster?
- Should deleting a cluster error or be blocked on existing machines?
- Should deleting a cluster that is hosting the cluster-api have any special behavior?

/priority important-soon

[2018-10-10 14:09] detiber commented on #214
Created https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/215 to track better handling of deleting a cluster when machines are present.

[2018-10-10 20:38] johanneswuerbach opened #218 "Tag resource if missing tags"
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/3f7039c7dc1bc458a3842bad742957b7f749e54c/docs/proposal/aws-resource-handling.md#resources-that-support-client-tokens-but-require-separate-tagging mentions that a resource not supporting tags on create missing tags, should be tagged on reconcile.

I don't think this is easily possible without requiring users to tag shared resources wi

[2018-10-10 21:58] #213 closed

[2018-10-10 23:24] randomvariable opened #221 "Integration tests"
/kind feature
/important soon

Related to #216

**Describe the solution you'd like**

We need integration tests as unit testing can only get us so
far with regards to AWS APIs.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. f

[2018-10-11 09:15] phyber commented on #215
Thinking of this in terms of `rm` on a directory, I might have:

 - `rm cluster`: Error if cluster still contains things (like `rmdir` would if a directory contained stuff), otherwise remove the cluster.
 - `rm -r cluster`: Recursively delete the cluster. Delete the machines, then delete the cluster.
 - `rm -rf cluster`: Delete the cluster recursively and if it's a special cluster, try to delete i

[2018-10-11 12:21] randomvariable commented on #125
/lifecycle active
/assign @randomvariable
/assign @phyber

[2018-10-12 14:39] kris-nova opened #233 "Unable to run generate-yaml.sh on MacOSx"
/kind bug

**What steps did you take and what happened:**
[code]

[2018-10-12 14:40] kris-nova commented on #233
It's in `homebrew` in the `gettext` package

[code]

[2018-10-12 14:41] detiber commented on #233
/kind documentation
/priority important-soon

[2018-10-12 15:04] kris-nova opened #234 "Failure creating new cluster"
/kind bug

**What steps did you take and what happened:**

[code]

[2018-10-12 15:05] kris-nova commented on #234
Here is Amazon account after the fact:

<img width="1460" alt="screen shot 2018-10-12 at 8 05 15 am" src="https://user-images.githubusercontent.com/13757818/46877376-94af5400-cdf5-11e8-9e29-00ce707214df.png">

[2018-10-12 15:06] kris-nova commented on #234
Abandoning resources 😢 we were supposed to have solved this problem with the cluster API

[2018-10-12 15:07] kris-nova commented on #234
Running the `create` command again for good measure

[2018-10-12 15:10] detiber commented on #234
This is more an artifact of clusterctl than cluster-api itself. There is more work in general around safety needed still, though.

[2018-10-12 15:12] kris-nova commented on #234
2nd try

[code]

[2018-10-12 15:18] detiber commented on #234
clusterctl will create a couple of kubeconfigs during operation. `kubeconfig.minikube` for accessing the minikube bootstrap cluster, and `kubeconfig` for accessing the remote cluster. Both of these are currently orphaned when clusterctl fails.

For the initial failure, I suspect that there was an issue with either the cluster or machine controller, which is being hidden when clusterctl tears down

[2018-10-12 15:43] vincepri commented on #233
Seems like this was only in the development docs https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/development.md#base-requirements, needs to be added to the getting started as well.

[2018-10-12 16:16] randomvariable commented on #233
@phyber , there's something else you need to do to link it isn't there?

[2018-10-12 16:20] randomvariable commented on #234
`cluster-api-dev-helper testing controller-logs` is there if you need it.

[2018-10-12 17:43] kris-nova opened #236 "Incorrect Documentation (openstack)"
/kind bug

https://github.com/kubernetes-sigs/cluster-api-provider-aws/tree/master/clusterctl/examples/aws#openstack-example-files

[2018-10-12 18:22] #236 closed

[2018-10-12 19:13] randomvariable opened #239 "go fmt silently errors"
/kind bug

**What steps did you take and what happened:**

Changing from `/hack/verify-gofmt.sh` to `go fmt ./pkg/...` now just swallows errors.

[code]

**What did you expect to happen:**

Should have exited with an error code

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

Go 1.10 and 1.11 have different opinions on whitespace alignme

[2018-10-12 19:13] randomvariable commented on #239
/assign
/lifecycle active

[2018-10-12 21:18] kris-nova opened #241 "NAT Gateway Error"
/kind bug

[code]

Ping me if you have any questions

[2018-10-12 21:18] detiber commented on #241
/priority critical-urgent

[2018-10-12 22:13] randomvariable commented on #241
would it be possible to see `cluster.yaml`

[2018-10-12 22:57] randomvariable commented on #241
nm. nothing exciting in there apart from region.

[2018-10-14 08:34] davidewatson commented on #123
This is important for the general migration from AAs to CRDs. A number of providers have been created using https://github.com/davidewatson/cluster-api-provider-skeleton @chuckha has updated this repo for CRDs. We should consider standardizing on a workflow for creating new providers which makes it easy to follow the conventions.

Personally, I am mostly in favor of the k/k layout. There are alrea

[2018-10-14 15:11] xmudrii commented on #191
Created PR #244 which should fix the issue

[2018-10-15 08:57] randomvariable commented on #234
/assign
/lifecycle active

I believe we're doing some checks of existing resources wrong. If you could list me any pre existing VPCs, and particularly NAT gateways, it'd be much appreciated so we can capture these as test cases.

[2018-10-15 10:52] randomvariable opened #245 "Update development docs"
/kind bug

**What steps did you take and what happened:**
Development docs are out of date post-CRD migration.
Need docs to show new development process.

**What did you expect to happen:**
To be able to know what to do.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes ve

[2018-10-15 10:52] randomvariable commented on #245
/assign
/lifecycle active

[2018-10-15 13:32] #191 closed

[2018-10-15 14:23] randomvariable opened #247 "UMBRELLA: CRD Migration"
/kind feature

**Describe the solution you'd like**
Umbrella issue for outstanding post-CRD migration steps

- [X] Update documentation (#253)
- [x] Generate and set up CRDs in bootstrap cluster (#252)
- [x] Enable status updates (#288)

[2018-10-15 15:17] chuckha opened #252 "Generate CRDs with kubebuilder"
/kind feature

**Describe the solution you'd like**
Instead of copy/pasting CRDs from the gcp project we should generate them ourselves

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`): @

[2018-10-15 15:48] randomvariable opened #253 "Panic: No AWSClusterProviderConfig type available [CRD]"
/kind bug

Part of #247

**What steps did you take and what happened:**

After placing CRD types into the same namespace as the AWS controller and into provider components, attempted to start. Controller attempts to read object, and then fails:

[code]

**What did you expect to happen:**
Should have started reconciliation.

**Anything else you would like to add:**
[Miscellaneous information that w

[2018-10-15 15:49] randomvariable commented on #253
/priority critical-urgent

[2018-10-15 15:50] randomvariable commented on #252
Related to #253

[2018-10-15 15:51] randomvariable commented on #253
My branch in https://github.com/randomvariable/cluster-api-provider-aws/pull/new/253-more-info

[2018-10-16 11:11] randomvariable opened #259 "Logs are extremely noisy"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Started controllers, and viewing pod logs, and got extremely noisy traces for normal behaviour.

Part of #247

[code]

**What did you expect to happen:**
Warning information, maybe line of code at most.

**Anything else you would like to add:**
[Miscellaneous information that will assis

[2018-10-16 12:07] randomvariable opened #260 "Tags look odd in kubectl describe"
/kind bug

**What steps did you take and what happened:**
This was also an issue pre-CRD, but running `kubectl describe` returns a tag field in the cluster status that looks like this:

[code]

**What did you expect to happen:**
Tags to be:

[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-

[2018-10-16 16:33] vincepri commented on #260
Is this an issue with kubectl or with our tag system?

[2018-10-16 17:03] randomvariable commented on #260
Not sure if it's kubectl trying to auto format delimiters. Might be a way to stop it if so?
Forgot the kubectl version, in any case, it's the latest binaries, and this was against a 1.12.1 API server too.
[code]

Haven't investigated too deeply - saw it pre alpha v1 but it wasn't breaking anything, so left it.

[2018-10-16 19:23] #252 closed

[2018-10-17 15:01] detiber opened #266 "Functional node join"
/kind feature

Currently node join isn't fully wired up.

/priority critical-urgent
/assign

[2018-10-17 15:01] detiber commented on #205
/assign

[2018-10-17 15:04] detiber commented on #260
/priority important-longterm

[2018-10-17 15:04] detiber commented on #259
/priority important-longterm

[2018-10-17 15:05] detiber commented on #247
/priority critical-urgent

[2018-10-17 15:05] detiber commented on #245
/priority critical-urgent

[2018-10-17 15:06] detiber commented on #239
/priority important-soon

[2018-10-17 15:10] detiber commented on #218
/kind feature
/priority important-soon

[2018-10-17 15:11] detiber commented on #234
/priority critical-urgent

[2018-10-17 15:11] detiber commented on #221
/priority critical-urgent

[2018-10-17 15:14] detiber opened #267 "Support existing VPC infrastructure"
/kind feature

Currently we only support creating infrastructure on demand, we also need to support users bringing existing infrastructure.

/priority important-soon
/assign @randomvariable

[2018-10-17 15:25] detiber opened #268 "Umbrella: Improved Testing"
/kind feature

- [ ] [Integration tests](#221)
- [ ] [Bazel support](#13)
- [ ] [automated publishing](#270)
- [ ] [pr-blocking integration tests](#271)
- [ ] [periodic e2e tests](#272)

[2018-10-17 15:28] detiber opened #269 "autobuild integration"
/kind feature

hook into k8s autobuild tooling

/assign @liztio

[2018-10-17 15:29] detiber opened #270 "automated artifact publishing"
/kind feature

hook into k8s automated artifact publishing

/assign @liztio

[2018-10-17 15:31] detiber opened #271 "PR Blocking test(s)"
/kind feature

create and wire up pr-blocking integration tests

/assign @liztio

[2018-10-17 15:32] detiber opened #272 "Periodic e2e testing"
/kind feature

wire up periodic full e2e tests

/assign @liztio

[2018-10-17 15:35] detiber opened #273 "Umbrella: multi node control plane support"
/kind feature

Currently only a single control plane host is configured and deployable, but we should be able to deploy a full HA control plane (using colocated etcd and control plane).

- [x] Update deployed k8s version to v1.13 #412
- [x] Add machine actuator support for control plane join #413
- [x] Document manual steps for creating an HA cluster using clusterctl phases #414
- [ ] Binary for a

[2018-10-17 15:39] detiber opened #274 "Umbrella: Idempotency improvements"
/kind feature

General issue to track various idempotency improvements needed

- Consistent handling of resource idempotency
- Ensuring proper cleanup of resources if rollback is needed (especially in the clusterctl scenario, since it currently orphans resources if it encounters an issue)
- Verify consistent tag use
- Leverage client token support where possible

/priority important-soon

[2018-10-17 15:42] detiber opened #275 "multi-az deployment proposal"
/kind feature

The current deployment leverages a single AZ, but there is demand for a deployment that spans multiple AZs. This issue is for tracking the creation of a proposal for how the current implementation can be extended to support multi-az deployments.

/priority important-soon
/assign @randomvariable

[2018-10-17 15:49] detiber opened #276 "Umbrella: UX and "getting started" experience improvements"
/kind feature
/priority important-soon

The current getting started experience and general user UX is pretty hostile.

- Help reduce user confusion between bootstrapping the cluster-api components, cluster creation, and pivoting.
- Ensure prerequisites are clear and fully defined
- Documentation around how to configure cluster/machines
- Explain how to scale a cluster
- etc...

/assign @detiber @r

[2018-10-17 15:51] detiber commented on #69
/assign @gyuho @randomvariable

[2018-10-17 16:13] #126 closed

[2018-10-17 16:20] vincepri opened #277 "Generate manifests with kustomize"
/kind feature
/lifecycle active

**Describe the solution you'd like**
Ideally this repository should use kustomize to generate manifests and files.

**Anything else you would like to add:**
Getting started should also be updated

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2018-10-17 16:33] liztio commented on #271
what sort of things qualify as "integration tests" here? What's our test for completion?

[2018-10-17 16:57] detiber commented on #271
@liztio ideally we'd do a live test where we actually exercise the creation of a cluster using cluster-api and perform a minimal smoke test that the cluster appears to be functional. I do not think that this needs to include the full clusterctl workflow, since that introduces additional cleanup/teardown issues and also drastically increases the test time.

[2018-10-17 20:08] kris-nova opened #280 "make clusterctl failue"
/kind bug

[code]

[2018-10-17 20:46] kris-nova commented on #280
Yeah I just checked it out - it's because of the important path.Mind if I PR a doc change and a check in the Makefile?

[2018-10-17 20:49] detiber commented on #280
@kris-nova PRs always accepted :)

[2018-10-17 21:09] #280 closed

[2018-10-18 15:18] randomvariable commented on #277
/assign

[2018-10-18 16:00] randomvariable commented on #277
/unassign
/assign @vincepri

[2018-10-18 16:02] randomvariable commented on #200
/lifecycle active
/assign

Supporting PR in https://github.com/kubernetes-sigs/cluster-api/pull/550

[2018-10-18 21:00] vincepri opened #287 "NPE in machine actuator"
/kind bug

**What steps did you take and what happened:**
The controller manager outputs the following NPE:
[code]

**What did you expect to happen:**
No NPE

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-releas

[2018-10-18 21:02] vincepri commented on #287
/priority critical-urgent

[2018-10-18 22:10] vincepri commented on #287
/active

[2018-10-18 22:11] vincepri opened #288 "Status doesn't get updated"
/kind bug

After the move to CRDs, we don't update the internal `Status` anymore, which should be updated. This issue should track possible shortcomings of the current approach and solutions.

[2018-10-18 22:12] vincepri commented on #287
/lifecycle active

[2018-10-19 01:03] detiber commented on #288
/priority important-soon

[2018-10-19 01:04] detiber commented on #277
/priority important-soon

[2018-10-19 12:57] randomvariable commented on #200
/remove-lifecycle active

[2018-10-19 12:58] randomvariable commented on #200
pre-req has been merged. bootstrap script in machine actuator needs updating and then tested with an appropriate addons.yaml

[2018-10-22 14:15] randomvariable commented on #239
Working on this now.

[2018-10-22 14:37] detiber commented on #239
/lifecycle active

[2018-10-22 17:33] #13 closed

[2018-10-22 17:59] detiber commented on #201
Upstream cluster-api issue: https://github.com/kubernetes-sigs/cluster-api/issues/556

[2018-10-22 18:10] randomvariable commented on #145
Related: #94

[2018-10-22 18:28] randomvariable commented on #138
We should rename the issue description so it's clear that it's about image discovery, not just a hard requirement to tag.

[2018-10-22 18:30] randomvariable commented on #206
This was done in #199

[2018-10-22 18:30] #206 closed

[2018-10-22 18:34] randomvariable commented on #14
Related issues:
#267 - Existing VPC support
#88 - Variants
#89 - NAT Gateway variants

[2018-10-22 18:36] randomvariable commented on #123
#286 moves clusterctl

[2018-10-22 18:38] randomvariable commented on #129
Some, but not all of this was done in various PRs in the lead up to TGIK.

[2018-10-22 18:54] #287 closed

[2018-10-22 20:14] timothysc opened #292 "RFE: Modify Makefile to just call bazel"
**Describe the solution you'd like**
Modify the Makefile to reduce the number of targets and to have a .PHONY precondition, requiring that developer install bazel with a link to the simplified instructions.

This is standard operating procedure, for many build systems as they migrate.  e.g. It's normal to add a `make deps` that outlines the dependencies needed.

https://suva.sh/posts/well-document

[2018-10-23 09:30] randomvariable commented on #253
Fixed in 286

[2018-10-23 09:30] #253 closed

[2018-10-23 09:33] randomvariable opened #294 "Getting started instructions are out of date"
/kind bug
/priority critical-urgent

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
#286 changed how to start a cluster but there is no documentation on how to use it.

**What did you expect to happen:**
To be able to follow instructions and start a cluster.

**Anything else you would like to add:**
[Miscellaneous information that will assist i

[2018-10-23 09:36] randomvariable commented on #292
i'm going to change #290 into tackling this as having a consistent Go toolchain is needed to be able to get consistent results with `go fmt` because parameter alignment preferences changed.

[2018-10-23 11:11] randomvariable commented on #292
/assign
/lifecycle active

[2018-10-23 12:44] detiber commented on #277
Closing since #286 has merged.

[2018-10-23 12:44] #277 closed

[2018-10-23 13:06] detiber opened #296 "Describe the clusterctl bootstrapping process better"
/kind documentation
/priority important-soon

- [ ] Explain the need for minikube
- [ ] Discuss the different stages of bootstrapping a cluster-api provider (creating bootstrap cluster, deploying the cluster-api components, creating the target cluster control plane, pivoting the cluster-api components, etc)
- [ ] Better differentiate between cluster-api bootstrapping and using cluster-api

[2018-10-23 13:12] detiber opened #297 "Exclude aws credentials when pivoting cluster"
/kind feature
/priority important-soon

Depends on: https://github.com/kubernetes-sigs/cluster-api/issues/556

Currently w hen clusterctl pivots the cluster-api components, the aws credentials secret which is used for the bootstrapping cluster is also pivoted to the target cluster. Since the target cluster requires an existing IAM profile that provides all of the required permissions for the clust

[2018-10-23 14:54] randomvariable opened #299 "Remove requirement for GNU Make, envsubst & gettext for end-user experience"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Part of #276

Having gettext, envsubst and GNU Make installed is unusual for end-user
software, and it's extra things that will need to be
`brew/apt/dnf` installed, as Make in particular is not installed
by default on all systems.

**Anything else you would like to add:**
[Miscellaneou

[2018-10-23 15:06] randomvariable opened #300 "Find alternative to adding a prefix to the namespace resource in Kustomize"
/kind bug
Part of #276

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Running `kustomize` as part of `make manifests`

[code]

A solution to having to apply the name prefix to the namespace resource should be found.

**What did you expect to happen:**
N/A

**Anything else you would like to add:**
[Miscellaneous information that will assist in

[2018-10-23 17:51] randomvariable opened #302 "Clarify git process (squash vs. history) for contributors"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
A number of PRs have had the "please squash commits" prior to merge.

There are differing opinions on whether that is a good thing or not, but it
should be clarified in CONTRIBUTING.md

**What did you expect to happen:**
CONTRIBUTING.md explains project preferences for squashing commits

[2018-10-23 19:39] vincepri commented on #302
I wanna add that so far, we've been squashing commits before merging as general rule of thumb, but open to different opinions/suggestions.

[2018-10-23 19:52] randomvariable opened #303 "Sort out GCR repository for pre-CNCF owned releases"
/kind bug
/priority critical-urgent

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
CRD migration changed the GCR repo that images are pushed to along the lines of GCP,
but the repository does not exist.

We will not have proper GCR repositories which are owned by the CNCF within the 1.13 release cycle, so will need a temporary home for the ima

[2018-10-23 20:03] vincepri commented on #302
Seems like, as pointed by @detiber, that PRs are automatically squashed upon merge https://github.com/kubernetes/test-infra/blob/2005cfe3b3f0148cfcfbb7272a9dee64e4a87211/prow/config.yaml#L418. I'll go ahead and close this for now, feel free to reopen if necessary.

/close

[2018-10-23 20:03] #302 closed

[2018-10-23 20:05] randomvariable commented on #302
Ah, fair enough.

[2018-10-23 21:11] detiber commented on #303
/assign

[2018-10-23 21:12] detiber commented on #303
/lifecycle active

[2018-10-23 21:59] vincepri commented on #127
/assign
/lifecycle active

[2018-10-23 22:04] vincepri opened #305 "Refactor actuators around a context"
/kind feature

**Describe the solution you'd like**
In the current state of things, the machine and cluster actuator are structured in a way which effectively operates around either a cluster, a machine, or both. Longer term, we should think about refactoring the actuators so they instantiate throw-away objects from a context. During this refactor, a lot of business logic currently present under s

[2018-10-23 23:15] ashish-amarnath commented on #288
https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/304

[2018-10-24 00:45] ashish-amarnath opened #306 "Unable to use API machinery conversion APIs for AWSMachineProviderStatus and AWSClusterProviderStatus"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
It should be possible to use api-machinery APIs to convert the status to RawExtentions
https://godoc.org/k8s.io/apimachinery/pkg/runtime#Convert_runtime_Object_To_runtime_RawExtension

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the i

[2018-10-24 01:04] detiber commented on #303
There is now a gcr.io repo created using the currently referenced name in the Makefile. It is currently a Heptio owned repository, but we are happy to transfer to CNCF ownership once that is a possibility.

[2018-10-24 01:04] #303 closed

[2018-10-24 01:33] timothysc commented on #123
/assign @vincepri
/unassign @timothysc

More stuffz, careful what you wish for.

[2018-10-24 11:10] randomvariable commented on #305
Do you mean literally a context.Context, or something more typed? Worry with the former is losing some compile time checks. On the other hand, for decent structured logging, particularly when we consider multi-cluster, many-node, it'd be good to pass a context at least for logging.

I generally agree with separating the actual service calls and actuator operations in a refactor now that we've got

[2018-10-24 13:28] detiber commented on #294
/assign
/lifecycle active

[2018-10-24 16:51] #294 closed

[2018-10-24 18:29] vincepri commented on #305
I was suggesting of something more typed, I don't think "context.Context" is useful in this context 😛

[2018-10-25 14:31] chuckha opened #312 "Deleting a machine does not delete the instance"
/kind bug

**What steps did you take and what happened:**
I created a cluster and one machine using the clusterctl workflow. I then applied a machine delete to the target cluster after the pivot. The controller showed no errors but the machine still existed in my aws account.

**What did you expect to happen:**
I expected the instance to be terminated.

**Anything else you would like to add:**

[2018-10-25 16:20] chuckha opened #313 "clusterctl workflow errors out but everything works"
/kind bug

**What steps did you take and what happened:**
I followed the getting started guide and ran clusterctl. I received this message:

[code]

but everything had already pivoted and was set up perfectly

**What did you expect to happen:**
I expected clusterctl to run without error

**Anything else you would like to add:**
Since no functionality seems to be lost, this is not particularly urge

[2018-10-25 16:35] chuckha commented on #312
I deleted the machine in both the local minikube cluster (as it was not removed) and in the target cluster, neither seemed to have any effect

[2018-10-25 16:46] randomvariable commented on #313
This was fixed in pre-CRD migration in #207

[2018-10-25 17:14] vincepri opened #314 "[UX] Clusterctl requires many params"
/kind feature

**Describe the solution you'd like**
This issue came up during a demo of cluster api in Kubernetes Meeting. Clusterctl requires a minimum of 3 files / parameters to function and it was suggested to maybe use a configuration file for it.

[2018-10-25 22:02] chuckha commented on #313
for sure, not sure if this was a change in clusterctl or what, but there was an edge case the code didn't handle. incoming PR

[2018-10-25 22:56] #313 closed

[2018-10-26 14:10] liztio commented on #271
/lifecycle active

[2018-10-26 14:24] liztio opened #318 "Periodic job that tests our amazon credentials"
We want a periodic Prow job that checks out AWS credentials situation. It should call some very basic "am I logged in?" endpoint with Amazon, maybe check what our account limits currently are.

This should run once every hour or so.

[2018-10-26 14:31] rdodev commented on #318
On it.

[2018-10-26 14:37] chuckha opened #320 "Makefile assume dep is installed via go toolchain"
/kind bug

**What steps did you take and what happened:**
`make vendor REVENDOR=yes` fails because I installed dep with homebrew

**What did you expect to happen:**
I expect `make vendor REVENDOR=yes` not care where dep is installed

**Anything else you would like to add:**

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/o

[2018-10-26 14:38] randomvariable commented on #320
#290 replaces all of this with Bazel supplying `dep`. @phyber tested this works on MacOS

[2018-10-26 17:53] detiber opened #321 "Update cluster-api-aws-controller image tag to not use latest"
/kind feature

Currently we are using latest for the built/pushed cluster-api-aws-controller image tag, which means during the next release we will break the existing v1.0.0-alpha.2 release, which also references the latest tag.

We should use more specific tags, but don't necessarily have to align with the same version as the release, since not every release will necessarily require a new control

[2018-10-26 17:53] detiber commented on #321
We should also create an upstream cluster-api issue to do the same for the common controllers there as well.

[2018-10-26 18:38] detiber commented on #247
/close

[2018-10-26 18:38] #247 closed

[2018-10-26 19:17] detiber opened #322 "Do not install binaries into user's gopath by default"
/kind feature

Currently our dev workflow installs the built binaries into the user's GOPATH, instead we should probably just copy the binaries into a local "binaries output" dir that is git ignored.

[2018-10-26 19:50] detiber commented on #318
/lifecycle active
/priority critical-urgent

[2018-10-26 19:51] detiber commented on #125
/priority important-longterm

[2018-10-26 19:52] detiber commented on #292
/priority critical-urgent

[2018-10-26 19:54] detiber commented on #268
/priority critical-urgent

[2018-10-26 19:55] detiber commented on #299
/priority important-soon

[2018-10-26 20:01] detiber commented on #269
/priority critical-urgent

[2018-10-26 20:01] detiber commented on #271
/priority critical-urgent

[2018-10-26 20:01] detiber commented on #272
/priority critical-urgent

[2018-10-26 20:07] chuckha commented on #241
@kris-nova i haven't been able to reproduce this, would you be able to try again and see if you can reproduce it using the latest release?

[2018-10-26 20:13] #239 closed

[2018-10-26 20:20] detiber commented on #234
Likely related to #241

[2018-10-26 20:31] chuckha opened #323 "append some context to logs"
/kind feature

**Describe the solution you'd like**
I'd like to know if logs are coming from the machine actuator or the controller actuator. would be happy with [controller] or [machine] in front of the log.

**Anything else you would like to add:**
This is up for discussion, but it would be useful in the effort to make this easier to debug

**Environment:**

- Cluster-api-provider-aws version:
-

[2018-10-26 20:33] chuckha opened #324 "mixed logging, one looks like logrus one looks like glog"
/kind bug

**What did you expect to happen:**
I expected our logs to be consistent in formatting:

[code]

**Anything else you would like to add:**
This looks like logrus in one case and glog in another. Should we standardize on one?

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2018-10-26 22:06] #322 closed

[2018-10-26 22:39] randomvariable commented on #324
It's zap, which kubebuilder gives you by default, but cluster api hasn't fully migrated over either.

Was mentioned in cluster api meeting on Wednesday. @justinsb and @dims are looking into it I think.

[2018-10-29 10:45] randomvariable commented on #323
Makes sense to do with #305 too

[2018-10-29 11:07] randomvariable commented on #292
/close resolved in #290

[2018-10-29 11:08] randomvariable commented on #292
/close

[2018-10-29 11:08] #292 closed

[2018-10-29 11:12] randomvariable opened #330 "UMBRELLA: Improved logging"
/kind feature

**Describe the solution you'd like**
Grouping a number of logging related issues together:

- [x] #305 - Refactor actuators around a context
- [x] #127 - Implement Events API
- [x] #324 - Mixed logging formats (glog vs. zap)
- [x] #259 - (Zap) Logs are extremely noisy
- [ ] #323 - Append context to logs

See also #78 on instrumentation and metrics

**Anything else you would like to

[2018-10-29 11:53] randomvariable commented on #200
/assign
/lifecycle active

[2018-10-29 13:28] randomvariable commented on #245
Was done in #290

/close

[2018-10-29 13:28] #245 closed

[2018-10-29 14:32] #200 closed

[2018-10-29 14:32] #204 closed

[2018-10-29 15:19] chuckha commented on #320
/close

[2018-10-29 15:19] #320 closed

[2018-10-29 16:45] randomvariable opened #335 "Move mock generation from Bazel build to run task"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

#290 moved Mock generation into the build system, but breaks developer workflows
with regards to using `go` on the command line, as editor integrations typically do.

After conversation on Slack on 2018/10/29, we've decided we want to move this bit alone
back into the developer workflow

[2018-10-29 16:46] randomvariable commented on #335
/assign
/lifecycle active

[2018-10-29 17:05] randomvariable commented on #241
Noting  this here, as I haven't completed RCA and about to head off, but creating a VPC with a NAT gateway in it first, start getting issues with security group creation:

[code]

List of AWS API calls done by Cluster API:

Event time | Event name | Resource type | Resource name | Error code | Resources |   |  
-- | -- | -- | -- | -- | -- | -- | --
2018-10-29, 04:10:31 PM | CreateVpc | EC2 VPC | v

[2018-10-29 17:10] detiber commented on #314
/priority important-longterm

[2018-10-29 17:15] detiber commented on #306
/priority backlog

[2018-10-29 17:16] detiber commented on #305
/priority important-soon

[2018-10-29 17:17] detiber commented on #300
/priority important-longterm

[2018-10-29 17:20] detiber commented on #221
closing in favor of #271

[2018-10-29 17:20] detiber commented on #221
/close

[2018-10-29 17:20] #221 closed

[2018-10-29 17:37] detiber commented on #269
No one seems to be sure of the original context intended for this issue, so closing.
/close

[2018-10-29 17:37] #269 closed

[2018-10-29 17:39] vincepri commented on #165
- [ ] VPC
- [ ] Subnets
- [ ] Internet Gateway
- [ ] NAT Gateway
- [ ] Routing Tables
- [ ] Routes
- [ ] Security groups

[2018-10-29 17:39] vincepri commented on #165
/lifecycle active

[2018-10-29 20:20] #318 closed

[2018-10-30 00:13] ashish-amarnath commented on #190
/assign ashish-amarnath

[2018-10-30 13:33] phyber commented on #125
Some or all of this may end up being covered by the [gitbook PR](https://github.com/kubernetes-sigs/cluster-api/pull/566) in cluster-api. The documentation I had worked on was also subsumed and improved in that PR. Once that is merged, we should see what's left to document and decide where it should live.

[2018-10-30 13:36] randomvariable commented on #125
I think then we want to document AWS specific stuff. @vincepri is doing a refactor so makes sense to defer until we get to a steady state.

[2018-10-30 14:28] #335 closed

[2018-10-30 14:30] detiber commented on #321
/lifecycle active

[2018-10-30 14:46] randomvariable commented on #299
some bits in #310

[2018-10-30 16:10] randomvariable commented on #190
not sure why this webhook didn't fire
/lifecycle active

[2018-10-30 16:15] randomvariable commented on #299
There's another side to this than #310 where we can use Bazel to generate up to date provider-components manifests that are also potentially release artifacts rather than getting the user to copy the repo.

Any kustomize/ksonnet/<favouriteyamlmodifier> steps can then be a function of end-user or higher-level tooling.

[2018-10-30 16:15] randomvariable commented on #299
/assign

/lifecycle active

[2018-10-30 17:54] randomvariable commented on #299
/remove-lifecycle active

[2018-10-30 20:13] chuckha opened #343 "Gazelle should generate BUILD.bazel files instead of BUILD files"
/kind bug
BUILD files can easily conflict with build/ directories on case insensitive operating systems. Gazelle should be generating files with a suffix instead of raw "BUILD" files.

[2018-10-30 20:28] detiber commented on #321
/assign

[2018-10-30 20:33] #343 closed

[2018-10-30 20:56] #321 closed

[2018-10-31 13:56] chuckha opened #347 "docker-push-dev is for some systems broken"
/kind bug

**What steps did you take and what happened:**
I ran `make docker-push-dev` and got this error:

[code]

**What did you expect to happen:**
I expected the command to exit with no error and push images to my project

**Anything else you would like to add:**

**Environment:**

- Cluster-api-provider-aws version: latest
- OS (e.g. from `/etc/os-release`):  os x 10.14 (mojave)
- Python 2.7

[2018-10-31 15:08] chuckha commented on #347
this requires python > 2.7.6. If you're using pyenv, 2.7 != latest on the 2.7 branch. You must manually install a version higher than the requirement. I recommend 2.7.14 at the time of writing this.

[2018-10-31 17:06] chuckha opened #348 "Running clusterctl with existing infra generates a bad kubeconfig"
/kind bug

**What steps did you take and what happened:**
I created a cluster and then created another cluster. The kubeconfig gave me this error:

[code]

**What did you expect to happen:**
I expected kubeconfig to connect to my *new* cluster

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws v

[2018-10-31 17:07] chuckha commented on #348
it does however reuse my old vpc but creates a new machine. Maybe this is expected but it doesn't behave very well.

[2018-10-31 17:17] detiber commented on #348
I suspect part of this may be because we are storing the cert material in the status, which is wiped when the cluster-api components are pivoted.

[2018-11-02 14:27] chuckha opened #357 "Machine Delete does not resolve instances properly"
/kind feature

Machine delete should be filtering instances during lookup with tags.

[2018-11-03 08:38] echarles opened #358 "NoCredentialProviders: no valid providers in chain"
/kind bug

**What steps did you take and what happened:**

Step 1: build from source

[code]

Step 2 - Create the AWS prerequisites (wiith a local user defined in ~/.aws)

[code]

Step 3 - Create the Cluster

[code]

Step 4 - Collect logs

[code]

shows:

[code]

[2018-11-03 08:42] echarles opened #359 "No ~/.kube/config when minikube launched via clusterctl"
/kind bug

**What steps did you take and what happened:**

When I launch clusterctl, a minikube instance is created but the ~/.kube is not populated with a config file as usual.

To have the kubectl operationql, I workaround creating a minikube instance; stopping it; and launching the clusterctl after. In that case, the existing minikube instance is used and I can use the kubectl command to query

[2018-11-03 12:07] detiber commented on #359
We definitely need to document this better, but the default of not updating the default kubeconfig with minikube is intentional.

You can find the created kubeconfig for minikube in the current working directory when running `clusterctl`, it is named `minikube.kubeconfig`.

Alternatively, if you want to update the default kubeconfig, you can also run `minikube update-context`.

[2018-11-05 14:47] detiber commented on #358
@echarles it looks like from the #cluster-api-aws backlog that you were able to get through this issue, could you provide a followup with how you were able to resolve the issue so that we can work on improving the documentation?

[2018-11-05 15:02] echarles commented on #358
@detiber sure, I was going to open a PR for doc enhancement. My experience so far is that enough permission must be provided to the user defined in the `cmd/clusterctl/examples/aws/out/credential` file.

Quick feedback:

1. I anticipate that the permissions provisioned via the `clusterawsadmin` command are not enough because, when I am using a self-created user with "quite large" permissions, the

[2018-11-05 15:02] #358 closed

[2018-11-05 15:03] detiber commented on #358
@echarles sounds good, thank you!

[2018-11-05 15:06] echarles commented on #359
Thx @detiber - minikube update-context` did not work for me but `KUBECONFIG=./minikube.kubeconfig` did the job.

I guess this decision has been taken to consider minikube as ephemeral before pivoting to the real cloud cluster ... to be confirmed in #296.

I will open a PR with doc update on this.

[2018-11-05 15:06] #359 closed

[2018-11-05 15:09] randomvariable commented on #348
Yup. Should I complete the SSM Parameter store proposal? I think the implementation was pretty trivial when I last did it.

[2018-11-05 15:10] detiber commented on #348
@randomvariable sounds good, there is a temporary workaround to move the cert/key to config rather than status, but I think SSM provides a better long term story here.

[2018-11-05 15:29] echarles opened #361 "No local image when make docker-build - SyntaxError on make docker-push-dev with python3"
/kind bug

**What steps did you take and what happened:**

[code]

No error returned but image not listed with `docker images`

[code]

returns:

[code]

Btw no such error with python2.7 but 0 bytes to push...

[code]

**What did you expect to happen:**

A local docker image should be build and available on my local env.

**Environment:**

- Cluster-api-provider-aws version:  e74f4f9
- OS (e.g. fr

[2018-11-05 15:30] randomvariable commented on #361
We need to update the documentation here as loads of people will trip over it.

The Bazel docker rules only support Python 2.

[2018-11-05 15:32] randomvariable commented on #361
Actually, it's Google's containeregistry tool.

Open PR at https://github.com/google/containerregistry/pull/109

[2018-11-05 15:34] echarles commented on #361
@randomvariable  I will open a doc PR for tomorrow with this.

But still not local image available even with python 2 when I run `make docker-build`. Or am I missing something (`docker images` command does not show new image)?

[2018-11-05 15:37] randomvariable commented on #361
Bazel probably doesn't use image tags at all and the state is purely a reference somewhere in its cache so you won't see the image locally.

`make docker-build` is a slight holdover from pre-Bazel and maybe we should remove it to prevent confusion.

So I think we have two issues here - if you don't care about pivoting, we no longer have a usable local docker image, and if you don't have `pyenv` or

[2018-11-05 15:38] randomvariable commented on #361
I'll try and resolve the former.

/assign
/lifecycle active

[2018-11-05 16:11] #361 closed

[2018-11-05 16:54] randomvariable commented on #299
My plan for this is to take some of the e2e bazel tests and turn them into release artifacts - that we end up with a compiled tar/zip with a `provider-components.yaml` that we can upload as part of the github release.

[2018-11-05 17:04] randomvariable commented on #299
/lifecycle active

Will merge #310 in

[2018-11-05 20:55] #266 closed

[2018-11-06 15:59] randomvariable commented on #190
The UX for this command, which should be along the lines of

`generate-iam-policies` or `show-iam-policies` would do only the following:

For each AWS IAM Policy, spit out the actual AWS IAM Policy documents, unencumbered with CloudFormation structures.

Currently, these would be the documents for:
`control-plane.cluster-api-provider-aws.sigs.k8s.io`
`nodes.cluster-api-provider-aws.sigs.k8s.io`
an

[2018-11-08 13:57] #190 closed

[2018-11-08 19:49] chuckha opened #365 "Make examples/examples-dev is broken on os x"
/kind bug

**What steps did you take and what happened:**
After running `make clean` I ran this:

[code]

**What did you expect to happen:**
I expected `make examples` and `make examples-dev` to complete successfully.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes versi

[2018-11-08 20:04] chuckha opened #367 "Issues with the cloud-provider flag for kubelet"
/kind bug

**What steps did you take and what happened:**
When the `--cloud-provider=aws` is passed to the kubelet the hostname will not match the node name. We should remove the flag or fix the hostname to match the expected hostname.

**What did you expect to happen:**
I expected the cluster to come up cleanly but it did not.

**Anything else you would like to add:**
[Miscellaneous information t

[2018-11-08 21:02] #367 closed

[2018-11-08 22:28] ashish-amarnath commented on #365
/assign
/life-cycle-active

[2018-11-08 22:29] ashish-amarnath commented on #365
/lifecycle active

[2018-11-08 23:04] #365 closed

[2018-11-09 15:49] vincepri commented on #348
Is this fixed now that #355 is merged?

[2018-11-14 14:08] randomvariable opened #372 "Migrate from glog to klog"
/kind feature

Part of #330

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
As per [EMEA implementer's call](https://docs.google.com/document/d/1IZ2-AZhe4r3CYiJuttyciS7bGZTTx4iMppcA8_Pr3xE/edit), glog should be replaced with k8s.io/klog

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

*

[2018-11-14 14:12] randomvariable commented on #372
/help
/good-first-issue

[2018-11-14 14:13] randomvariable commented on #372
Further information in https://groups.google.com/forum/#!topic/kubernetes-dev/7vnijOMhLS0

[2018-11-14 14:13] randomvariable commented on #372
Related ticket https://github.com/kubernetes-sigs/cluster-api/issues/587

[2018-11-14 16:33] vincepri commented on #372
/lifecycle active

[2018-11-14 16:33] vincepri commented on #372
/assign

[2018-11-14 17:17] #372 closed

[2018-11-14 20:10] vincepri opened #376 "Add Bazel BUILD verify script during CI"
/kind feature

**Describe the solution you'd like**:
Currently, we check in all BUILD files, which might get out of sync if they don't get updated before merging a PR or if they are modified manually. The upstream Kubernetes repository, uses this https://github.com/kubernetes/kubernetes/blob/master/hack/verify-bazel.sh to make sure Bazel is always in a correct state.

Thanks to @liztio and @timoth

[2018-11-14 20:14] chuckha commented on #376
This should be part of CI so that PRs can't merge if BUILD files are out of sync

/priority important-longterm

[2018-11-14 21:45] vincepri opened #379 "Mocks don't get updated"
/kind bug

**Describe the solution you'd like**:
Currently the mocks seem to be static and they don't get updated automatically when running the `generate` command. We should provide a way to update mocks automatically when changes are detected running generate.

[2018-11-14 21:46] vincepri commented on #379
@randomvariable do you think you can take a look at this?

[2018-11-14 22:09] randomvariable commented on #379
Do you mean with `go generate`? If so, it's quite slow to do it using `go generate` (up to 30s), so was relying on Bazel's cache.

[2018-11-14 23:04] vincepri commented on #379
For mocks we originally used `mockgen` but I don't see any references in the Bazel code now, I see a file under `build/` but I'm not sure how to call it and regenerate the mocks.

[2018-11-14 23:18] randomvariable commented on #379
Ah, ok. Probably documentation more than anything to start off with:

[code]

[2018-11-14 23:19] randomvariable commented on #379
And to add / modify what gets mocked:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/tree/master/build#go_mock

[2018-11-15 16:47] vincepri commented on #379
Should we make this part of the generate step? This PR #380 removes the actuator mocks, which aren't used anymore, so it should be doable to just add the ec2 sdk mocks, what do you think?

[2018-11-15 16:55] randomvariable commented on #379
maybe. i'll try something out and you can see if the ux is acceptable.

/lifecycle active

[2018-11-15 16:55] randomvariable commented on #379
/assign

[2018-11-15 17:08] vincepri commented on #324
Fixed in #377
/close

[2018-11-15 17:08] #324 closed

[2018-11-15 17:19] #241 closed

[2018-11-15 17:20] chuckha commented on #234
This should be fixed now

[2018-11-15 17:20] #234 closed

[2018-11-15 17:21] chuckha commented on #218
related to #274

[2018-11-15 17:36] chuckha commented on #129
we lint for this now. i believe this was fixed and not closed at some point in the past.

[2018-11-15 17:36] #129 closed

[2018-11-16 15:14] chuckha commented on #202
I think this got fixed here https://github.com/kubernetes-sigs/cluster-api/commit/2d88aefcf94fcffbf647fcc1127a642112714b2f#diff-b96ce5bf8686fb02d855188000ae1cb4

If you can reproduce thought please lmk

[2018-11-16 16:31] chuckha commented on #273
Upstream changes will have to take place since clusterctl does not support multiple control plane nodes yet.

https://github.com/kubernetes-sigs/cluster-api/blob/master/cmd/clusterctl/clusterdeployer/clusterdeployer.go#L421-L424

[2018-11-16 19:17] chuckha opened #383 "make manifests-dev sometimes fails"
/kind bug

I was really surprised to find inconsistent behavior here:

[code]

This is three runs, it fails twice and succeeds once.

**What steps did you take and what happened:**
I ran `make manifests-dev` a few times in a row.

**What did you expect to happen:**
I expected the same thing each time.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving

[2018-11-16 19:32] randomvariable commented on #383
That bit of workflow's going away in #371, so hopefully will be irrelevant.

[2018-11-19 17:11] chuckha opened #390 "improve error wrapping/printing strategy"
/kind feature

**Describe the solution you'd like**
Thus far we have not had a good strategy for wrapping errors. After talking with @vincepri I believe we should only be wrapping at workspace boundaries (calling code outside of cluster-api-provider-aws) OR in the case where additional error context will be helpful. We should not be using error.Wrap as a replacement for a stack trace, we can actua

[2018-11-19 17:39] vincepri commented on #379
Fixed in #389
/close

[2018-11-19 17:39] #379 closed

[2018-11-19 17:40] vincepri commented on #348
Closing this as it should be fixed in #355, feel free to reopen if not.
/close

[2018-11-19 17:40] #348 closed

[2018-11-19 18:00] vincepri commented on #259
Fixed in #375
/close

[2018-11-19 18:00] #259 closed

[2018-11-19 18:11] vincepri commented on #165
I went through each resource and they seem to be recreated appropriately on reconcile.
Feel free to reopen if the issue happens again.
/close

[2018-11-19 18:11] #165 closed

[2018-11-19 18:13] chuckha commented on #208
cluster-api says cluster and machine must be in the same namespace and one cluster per namespace

[2018-11-19 18:15] chuckha commented on #188
related to #341

[2018-11-20 10:35] echarles commented on #383
The issue `no such flag -v` is covered in #341 (the block code removal in `cmd/clusterawsadm/cmd/root.go`, see also my comment on that PR).

[2018-11-20 11:21] randomvariable commented on #383
/assign /lifecycle-active

[2018-11-20 11:29] randomvariable opened #392 "Ability to customize security group rules"
/kind feature

**Describe the solution you'd like**
#341 adds Calico rules to the security groups we apply to the cluster.
We also additionally include a bunch of "useful" defaults in the bootstrap cloudformation.

How do we manage the lifecycle of AWS resources which are critical to cluster operation but are being delivered by pluggable components?

Should we extend ProviderConfig for security ru

[2018-11-20 18:02] vincepri commented on #305
/close

[2018-11-20 18:02] #305 closed

[2018-11-20 18:03] sethp-nr commented on #383
@echarles I don't see a comment from you on #341, did you have some more context to add around that change?

I'm happy to open a followup PR if you'd rather we fixed the `no such flag -v` thing differently.

[2018-11-20 18:09] sethp-nr commented on #392
It's an interesting question, for sure. My interpretation of the landscape was that this project was a "reasonable default" implementation for a kubernetes cluster on AWS, which in my mind implied picking a CNI provider & wiring it up.

The other implementation strategy I considered was modifying the security group rules to allow "all traffic" between and within the controlplane and node SGs. IMO

[2018-11-20 20:41] echarles commented on #383
@sethp-nr It was more a question on the diff page than a comment

https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/341/files/00883aebc6af3937eb205271cde8bef2b88696fc#diff-2f3eed492c5a8e8eec09b95786ad5d63

Simply removing that code block in `cmd/clusterawsadm/cmd/root.go` solves the issue, but my question was "why was it working before?"

[2018-11-21 19:50] roberthbailey commented on #297
As I mentioned in the meeting today, we have three categories of "things" that clusterctl should know about:

1. Things that should exist only in the bootstrap cluster
1. Things that should exist in both the bootstrap and target clusters
1. Things that should exist only in the target cluster

Right now clusterctl assumes that everything falls into the second bucket, except for the things specified

[2018-11-25 05:26] geosaja opened #396 "test"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2018-11-26 06:00] ashish-amarnath opened #397 "[Investigate] Failure creating new cluster"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
1. `make clean manifests-dev`
2. Edit cluster name and ssh key
3. `clusterctl create` with all params

New cluster failed to get created because the cluster network status wasn't getting updated.
[code]

**What did you expect to happen:**
New cluster to be created.

**Anything else you w

[2018-11-26 06:00] ashish-amarnath commented on #397
/assign

[2018-11-26 06:05] ashish-amarnath commented on #397
from `aws-provider-controller-manager-0` logs in the private build with enhanced debugging logs
[code]
The last error message is kinda misleading.

[2018-11-26 16:20] detiber commented on #396
Closing since this issue does not contain anything other than template content. Please update and re-open if your issue still persists.

/close

[2018-11-26 16:21] #396 closed

[2018-11-26 18:19] #383 closed

[2018-11-27 15:51] vincepri opened #404 "Update dependency on upstream cluster-api"
/kind feature

**Describe the solution you'd like**
After https://github.com/kubernetes-sigs/cluster-api/pull/590 is merged, we need to update the dependency to the latest version. This will fix the issue with klog Info not printing.

[2018-11-27 15:52] vincepri commented on #404
/assign
/lifecycle active

[2018-11-27 15:56] randomvariable commented on #404
@BenTheElder also said:

I think that maybe used to get set by default in `main`.

[2018-11-27 16:05] vincepri commented on #404
@randomvariable I _think_ that's being set upstream

[2018-11-27 21:53] detiber opened #409 "Add version subcommands to clusterawsadm and clusterctl binaries"
/kind feature

**Describe the solution you'd like**
Currently there is no way to know if the versions of clusterctl or clusterawsadm used are what you expect them to be (or to compare the version installed to the versions released). There should be a version subcommand for each binary to output the version.

[2018-11-27 21:53] detiber commented on #409
/priority important-soon

[2018-11-28 00:50] vincepri commented on #409
What about using something like the git tag or commit (short version) as an exported variable? Not sure if that can be done through bazel, but that'd be neat.

[2018-11-28 16:02] detiber opened #412 "Update deployed k8s version to v1.13"
/kind feature
/priority important-soon

**Describe the solution you'd like**

Currently we are deploying v1.12 clusters, for kubeadm HA support we will need a min. version of v1.13.

Fix for this will require the following:

- Update the image building tooling for any v1.13 related changes
- Build new images for v1.13 and update the documentation for the newly built images
- Update kubeadm configs

[2018-11-28 16:11] detiber opened #413 "Add machine actuator support for control plane join"
/kind feature

**Describe the solution you'd like**

The machine actuator should support joining additional control plane instances.

Depends on #412

[2018-11-28 16:12] detiber commented on #413
/priority important-soon

[2018-11-28 16:20] detiber opened #414 "Document manual steps for creating an HA cluster using clusterctl phases"
/kind feature

**Describe the solution you'd like**

Currently clusterctl only supports standing up a single control plane instance, as a workaround we should document the process for standing up an HA cluster leveraging clusterctl phases. Rough workflow would be something along the lines of:

- Stand up bootstrap cluster (create-bootstrap-cluster)
- Deploy cluster-api components to that cluster (

[2018-11-28 16:23] detiber opened #415 "Binary for automating HA cluster creation"
/kind feature

**Describe the solution you'd like**

Automate the manual process that was defined for #414

This can be built into clusterawsadm or provided as a separate binary.

/priority important-soon

[2018-11-28 16:28] detiber opened #416 "Validate MachineSets, MachineDeployments, and MachineClasses are functional"
/kind feature

**Describe the solution you'd like**

Currently we've only tested individual machine creation, we need to validate that MachineSets and MachineDeployments function as intended.

We should also update documentation to discuss scaling up/down of MachineSets and Machine Deployments, as well as updating the default examples to use a MachineDeployment for worker nodes.

[2018-11-28 17:13] vincepri commented on #404
@detiber can you add this to the current milestone?

[2018-11-29 10:34] vjdhama commented on #145
@detiber @davidz627 @vincepri I would like to pick this up, if not already picked up.

[2018-11-29 14:43] detiber commented on #145
@vjdhama sounds good, when you do start working on it, please add a comment to this issue with `/lifecycle active` on it's own line so that the bot can update the labels and let others know that it is actively being worked on.

[2018-11-29 18:46] davidz627 commented on #145
@vjdhama did you tag the wrong David? I don't know what this is :)

[2018-11-29 18:57] dhemeier opened #422 "Missing IAM Rights to create classic load balancer, master waiting to become ready"
/kind bug

**What steps did you take and what happened:**
Followed all steps to create a basic cluster on aws. https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/getting-started.md#setting-up-the-environment

**What did you expect to happen:**
The cluster should be up and running

**Anything else you would like to add:**
The master did not initialized because of a missing

[2018-11-29 20:33] randomvariable commented on #422
/lifecycle active

[2018-11-29 20:34] randomvariable commented on #422
/assign

[2018-11-30 07:31] ashish-amarnath commented on #397
https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/424 seems to have addressed this issue. I built the controller image from `master` in my private image repo and was able to use that to spin up a cluster.
[code]

[2018-11-30 07:31] ashish-amarnath commented on #397
/close

[2018-11-30 07:31] #397 closed

[2018-11-30 14:53] detiber opened #426 "Support for external etcd"
/kind feature

**Describe the solution you'd like**
The current implementation plans for HA consist of deploying using a stacked etcd control plane using the `kubeadm join --experimental-controlplane` feature. There is also a need to eventually support HA clusters where etcd is hosted separately from the control plane.

To simplify the maintenance burden of this approach, we should rely on [etcdmg

[2018-11-30 15:07] detiber opened #427 "Umbrella: Exposing User Configuration"
/kind feature

**Describe the solution you'd like**
Currently we only expose very limited user configuration, which does not provide enough flexibility for most users.

- [ ] Expose kubeadm config #17
- [ ] Expose common cluster infrastructure config #14

[2018-11-30 17:11] vincepri commented on #376
/lifecycle active

[2018-11-30 17:44] #376 closed

[2018-11-30 17:59] vincepri opened #430 "Cluster and machine status fails to update on first run"
/kind bug

**What steps did you take and what happened:**
Create a cluster, on the first run, the status doesn't get updated properly.
[code]

**What did you expect to happen:**
Status should get updated without an error.

[2018-11-30 17:59] vincepri commented on #430
/assign
/lifecycle active

[2018-11-30 21:47] chuckha commented on #412
/remove-lifecycle active

The rest of this is blocked on 1.13 being released.

[2018-12-02 17:31] vjdhama commented on #145
@davidz627 My bad. Apologies.

[2018-12-03 20:46] #127 closed

[2018-12-04 14:48] liztio commented on #271
/lifecycle active

[2018-12-04 19:16] vincepri opened #438 "Umbrella: Webhooks / External admission controllers"
/kind feature

This is a general issue to track the development towards webhoooks in the cluster-api-provider-aws world. Upstream issue is available at https://github.com/kubernetes-sigs/cluster-api/issues/622.

[2018-12-04 21:46] ashish-amarnath opened #441 "Automate "Copyright" header/banner check for new files"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
There is a need for automation to verify that newly added files have the copyright header/banner.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (u

[2018-12-04 22:03] ashish-amarnath commented on #441
/assign
/life-cycle-active

[2018-12-04 22:42] #409 closed

[2018-12-05 14:51] echarles opened #444 "dep-ensure fails due to no bin/gazelle in bazel cache"
/kind bug

**What steps did you take and what happened:**

Invoke

[code]
fails with

[code]

Indeed, `ls /home/datalayer/.cache/bazel/_bazel_datalayer/1345de6b386e839c638d8b5a5d23203b/external/bazel_gazelle_go_repository_tools/` only shows `BUILD.bazel  src  WORKSPACE`

Am I missing something?

**Anything else you would like to add:**

This fails on my env since a few weeks, which I would say may

[2018-12-05 14:53] echarles commented on #444
This also fails with a clean GOPATH and clean bazel cache.

[2018-12-05 15:45] #296 closed

[2018-12-05 15:50] vincepri commented on #444
@echarles Would you mind trying after running `make reset-bazel`?

[2018-12-05 16:00] echarles commented on #444
@vincepri I already did that yesterday.

While looking for a free ci-cd to replicate this issue, and also looking at the logs on https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-cluster-api-provider-aws, I run it again.

Here is the output:

[code]

I am pretty sure this is on my env, but can not fix it in a while. I develop other go project without issue, but nothing with bazel nor gazelle.

[2018-12-05 16:09] vincepri commented on #444
What's your bazel version? I've been using
[code]

[2018-12-05 16:12] echarles commented on #444
I am using 0.20.0 (I was having the same issue with 0.18.0)

[code]

[2018-12-05 16:35] echarles commented on #444
@vincepri thx, this is an option I have also tried (with or without) - Trying again:

[code]

running `make reset-bazel && make dep-ensure` returns the same error. It also redownload dep although it is in my path.

[2018-12-05 17:09] puneetguptanitj opened #445 "Cluster create fails during network reconciliation, with error "could not find region configuration""
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Did the following
- set the env variables AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY, AWS_REGION and SSH_KEY_NAME as per readme
- `make clean`
- `make all`
- Added bazel-out dir to PATH so that `clusterctl` and `clusterawsadm` are available
- ran `clusterawsadm alpha bootstrap create-stack

[2018-12-05 17:36] ashish-amarnath commented on #441
/lifecycle active

[2018-12-05 20:17] #412 closed

[2018-12-06 17:35] dhemeier commented on #445
Hey,

I had the same error on the current master (Commit `5359842b917f998c567553c4d3b0e9a56f29effb`). The decoded credentials are looking correct inside the Secret.

Secret inside the Minikube Cluster:

[code]

Some debug Logs from the was-provider:

[code]

[2018-12-06 17:57] #441 closed

[2018-12-06 20:02] vincepri commented on #430
The cluster status is fixed. Machine is next, although from yesterday's tests it seems the machine gets updated somewhere else.

[2018-12-06 20:03] vincepri commented on #444
@liztio do you have thoughts on this?

[2018-12-06 20:05] vincepri commented on #445
The AWS session sets the region from the cluster configuration https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/da39a220ecaa02fee8c24f6923c6b576e39a1852/pkg/cloud/aws/actuators/scope.go#L56-L59. Can you make sure your cluster config has the region field populated?

CC @chuckha

[2018-12-06 20:06] ashish-amarnath commented on #441
https://github.com/kubernetes/test-infra/pull/10370

[2018-12-06 20:09] puneetguptanitj commented on #445
it is getting correctly populated, below is my cluster.yaml
[code]

[2018-12-06 20:15] chuckha commented on #445
When I ran into this problem I deleted all instances of `clusterctl` on my workstation. I rebuilt them all from source and installed them. I know @puneetguptanitj has done this and it hasn't worked out for them but it might help someone?

[2018-12-06 20:31] puneetguptanitj commented on #445
just to add, i don't see this issue in https://github.com/kubernetes-sigs/cluster-api-provider-aws/releases/tag/v1.0.0-alpha.3

[2018-12-06 21:53] ashish-amarnath commented on #441
Sample test failure: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/451

[2018-12-07 18:48] ashish-amarnath opened #455 "cluster name in `NewKubeconfig` is hardcoded to `test1`"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
`NewKubeconfig` should use the cluster name in the generated kubeconfig

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/pkg/cloud/aws/services/certificat

[2018-12-07 18:48] ashish-amarnath commented on #455
/assign
/lifecycle active

[2018-12-08 08:20] echarles commented on #444
@vincepri (cc/ @liztio) I can finally compile removing my `.bash_profile` where I simply set some env var and conda env - No idea what is causing this... I will nail it down later to isolate the offender. A huge thanks for the effort to help me.

Closing this.

[2018-12-08 08:20] #444 closed

[2018-12-11 17:24] kris-nova opened #458 "Makefile:38: *** "Bazel is not available. Installation instructions can be found at https://docs.bazel.build/versions/master/install.html". Stop."
Trying to `make manifests` and I get this error

[code]

[2018-12-11 18:37] randomvariable commented on #458
Related to #299

[2018-12-11 18:38] randomvariable commented on #458
/priority important-soon

[2018-12-12 16:08] #455 closed

[2018-12-20 17:17] chuckha commented on #390
A proposal

https://docs.google.com/document/d/1q0keTrt-y5xlq6sDGFaC9AKhV1NM6JVtk1rSAXWVPQE/edit#

[2018-12-20 18:40] chuckha commented on #427
There are several approaches that may need discussion.

## Exposing various fields
Exposing some of the fields of a kubeadm config through the cluster provider spec is one way to accomplish this.
### Advantages

Easy to understand, easy to implement, easy to add more, hides the kubeadm version as the kubeadm configuration version migrates from beta to stable.

### Disadvantages

Users will probabl

[2018-12-20 21:07] chuckha commented on #413
This will have to happen outside the context of `clusterctl` then? `clusterctl` always assumes a single master.

[2018-12-20 21:19] chuckha commented on #413
Using phases this will work fine.

My approach would be: if it's got the `set: controlplane` label and you've successfully fetched a kubeconfig, that means the first instance is up and you'll want to do a join --control-plane-node. Otherwise it's the first instance of a controlplane node and you'll want to do an init.

Will require adding another userdata script.

Good luck to the brave adventurer

[2018-12-22 01:19] #430 closed

[2018-12-25 02:41] ashish-amarnath commented on #413
/assign
/lifecycle active

[2018-12-25 02:46] ashish-amarnath commented on #413
@chuckha I was feeling rather brave to sign-up for this despite your cautionary comment :-)
Will be working at a slow pace over the break.

[2018-12-28 02:31] ashish-amarnath commented on #413
Here is my proposal:
Maintain a count of the number of control plane nodes for the cluster. This count would be incremented/decremented on addition/removal of a control plane node.
This counter can also be used to prevent scenarios where it is possible to delete the only control plane node for a cluster, without deleting the cluster. (I know there is an issue for this not finding it atm, will link

[2019-01-02 16:22] chuckha commented on #413
I'm a little bit confused about the ClusterControlPlaneStatus proposal. Why do we need the counter for creating new control planes? I was thinking the existence of the kubeconfig would be enough to know if we are doing a control plane --join vs a control plane --init.

Solving the deletion problem is a totally different beast. We haven't quite agreed about how that will work, but having more input

[2019-01-02 18:39] vincepri commented on #202
Closing this because seems to be fixed as @chuckha pointed out. Feel free to reopen if not.

/close

[2019-01-02 18:39] #202 closed

[2019-01-02 23:22] vincepri commented on #427
Kubeadm reached [v1beta1](https://github.com/kubernetes/kubernetes/blob/v1.13.1/cmd/kubeadm/app/apis/kubeadm/v1beta1/types.go). I'd love to use those struct _in some ways_ (not necessarily through vendoring) and run validation/merging while exposing the whole configuration.

The approach suggested has few pros/cons:
- 👍Highly customizable.
- 👍Uses strict typing.
- 👍Validation can be performed in t

[2019-01-03 01:16] ashish-amarnath commented on #413
So I tried `kubeconfig, err := a.GetKubeConfig` and if `err == nil` then taking the `--join` path and `--init` path if otherwise.
Taking a closer look at `GetKubeConfig` method… I don’t see anything that tests a controlplane node has been created…`GetKubeConfig` succeeds if the loadbalancer for the cluster has been reconciled.

[2019-01-03 20:53] timothysc commented on #271
In an ideal world we would test the following on a per PR basis:

- [MVP] Behavioral Tests
    -  Infrastructure (vpc, etc) has been stood up according to the declarative spec
        - Traffic inside of the vpc are routable
        - Check the health of etcd
        - At a minimum, we need verification of (quick-test)

---

As a follow on we will open an issue to enumerate the future test blockin

[2019-01-04 17:11] timothysc commented on #14
Closing this one in favor of https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/427

[2019-01-04 17:11] #14 closed

[2019-01-04 17:13] timothysc commented on #427
Currently blocked on kubeadm 1.13 api absorption.

[2019-01-04 17:14] timothysc commented on #17
Closing, also a dupe of #427

[2019-01-04 17:17] chuckha opened #467 "upstream dependencies on kubernetes v1.13"
Issue to track blocking upstream issues

We need dependencies to use kubernetes version 1.13 (update later with reasons why)

https://github.com/kubernetes-sigs/controller-runtime/issues/275

[2019-01-04 17:17] timothysc commented on #70
Closing until we have a user request.

[2019-01-04 17:17] #70 closed

[2019-01-04 17:20] timothysc commented on #122
@dims can we sync on this topic

[2019-01-04 17:21] chuckha commented on #122
xref https://github.com/kubernetes-sigs/kind/issues/197

[2019-01-04 17:22] timothysc commented on #125
TODO - audit, eval, and link out to other docs.

[2019-01-04 17:23] timothysc commented on #128
Closing, b/c this is too obtuse.

[2019-01-04 17:23] #128 closed

[2019-01-04 17:33] timothysc commented on #205
It's on like donkey kong.

[2019-01-04 17:37] timothysc commented on #208
This cross-links with upstream conventions.  Please include me in these conversations.

[2019-01-04 17:42] timothysc commented on #214
On pivot, there exists a scenario where you can delete the machine that hosts the api-server.

[2019-01-04 17:44] timothysc commented on #260
@vincepri - could you try to repro.

[2019-01-04 17:48] timothysc commented on #267
@joshrosso @rosskukulinski
We really need some user requirements for this issue

[2019-01-04 17:50] timothysc commented on #268
/assign @rdodev

[2019-01-04 20:14] timothysc commented on #299
@randomvariable are you going to have cycles to finish this off?

[2019-01-04 20:17] timothysc commented on #306
Closing, this no longer applies.

[2019-01-04 20:17] #306 closed

[2019-01-04 20:21] timothysc commented on #357
Closing in favor of issue that @chuckha will crossref.

[2019-01-04 20:21] #357 closed

[2019-01-04 20:31] timothysc commented on #445
Closing, no longer applies.

[2019-01-04 20:31] #445 closed

[2019-01-04 20:32] timothysc commented on #458
Closing in favor of #299

[2019-01-04 20:32] #458 closed

[2019-01-04 20:34] dims commented on #122
@timothysc ack. just waiting for things to get started ... k8s-infra-team meeting is next wed.

[2019-01-04 21:30] chuckha commented on #422
@randomvariable is this still active?

[2019-01-04 21:40] detiber commented on #214
@chuckha ptal at the updated description and let me know if that help clarifies it.

[2019-01-04 23:59] randomvariable commented on #422
Argh. Yes, sorry, I'll PR that tomorrow

[2019-01-05 22:07] babu-selector opened #469 "make manifests fails with aws_manager_image_patch.yaml: no such file or directory"
/kind bug

sigs.k8s.io/cluster-api-provider-aws $ make manifests
go run vendor/sigs.k8s.io/controller-tools/cmd/controller-gen/main.go crd
CRD files generated, files can be found under path /Users/babu-s2/go/src/sigs.k8s.io/cluster-api-provider-aws/config/crds.
kustomize build config/default/ > cmd/clusterctl/examples/aws/out/provider-components.yaml
Error: SliceFromPatches: open /Users/babu-s2/go

[2019-01-05 22:21] babu-selector opened #470 "Unable to create sample cluster as per the startup guide"
/kind bug

**What steps did you take and what happened:**

sigs.k8s.io/cluster-api-provider-aws $ clusterctl create cluster -v2 --provider aws \

I0105 13:35:51.741185    9064 plugins.go:39] Registered cluster provisioner "aws"
I0105 13:35:51.745170    9064 createbootstrapcluster.go:28] Creating bootstrap cluster
I0105 13:37:51.373475    9064 minikube.go:62] Ran: minikube [start --bootstrapper=kub

[2019-01-05 22:37] babu-selector opened #471 "Clean up of AWS resources doesn't happen upon create cluster failure"
/kind bug

**What steps did you take and what happened:**
Please see issue #470 for initial steps.

Upon failure, the AWS resources still exists.

![screen shot 2019-01-05 at 2 32 49 pm](https://user-images.githubusercontent.com/44914817/50729916-224dc780-10f7-11e9-99ef-a2ba659e4d41.png)

**What did you expect to happen:**
AWS resources to be cleaned up. If it has to be explicitly deleted then men

[2019-01-06 08:06] ashish-amarnath commented on #470
This is the problem
[code]
Can you please delete the cloudformation stack and recreate it using:
[code]
All the instructions are available here https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/getting-started.md

[2019-01-07 05:11] babu-selector commented on #470
It didn't make much of a difference. Same failure. Please take a look

sigs.k8s.io/cluster-api-provider-aws $ clusterctl create cluster -v2 --provider aws \

I0106 13:54:05.468915   49273 plugins.go:39] Registered cluster provisioner "aws"
I0106 13:54:05.473386   49273 createbootstrapcluster.go:28] Creating bootstrap cluster
I0106 15:05:31.038553   49273 minikube.go:62] Ran: minikube [start --boot

[2019-01-07 14:31] detiber commented on #467
/active

Initial controller-runtime PR: https://github.com/kubernetes-sigs/controller-runtime/pull/279
controller-tools and kubebuilder PRs will be handled as followups due to the chained dependencies

[2019-01-07 14:31] detiber commented on #467
/lifecycle active

[2019-01-07 18:04] timothysc commented on #272
This should be the conformance suite on a full cluster deployment.

[2019-01-07 20:12] vincepri commented on #427
Thanks for doing this @chuckha!

I took a quick look and the concern I have here is related to all the constraints that are now part of the dep file. While this solves the immediate problem, it creates upgradability issues down the line. At the moment, we purely rely on upstream constraints and dependencies, which means we get newer k8s version when upstream updates its own dependencies.

If we ve

[2019-01-07 22:04] chuckha commented on #427
@vincepri I made some updates the Gopkg.toml file and you can see now that the constraints have been simplified back to just cluster-api but we've now also vendored in the kubeadm types. I think this is a nice trade off since we don't actually pull in that many more deps. The overhead for this is, imo, lower than copying the struct types.

As for moving the api versions out of k/k, considering dep

[2019-01-08 14:21] chuckha opened #472 "Have bazel install the built binaries into GOPATH by default"
/kind feature

**Describe the solution you'd like**
I mostly want to undo this commit https://github.com/chuckha/cluster-api-provider-aws/commit/55e14bf240f69eb044ae617222d4777aac610e14 except instead of assuming a GOPATH exists, use `go env GOPATH`/bin/.

[2019-01-08 15:05] chuckha commented on #422
@randomvariable no worries if you don't have time, but any chance that PR is incoming? If you don't have time in the next few weeks I'd be more than happy to take this one over.

[2019-01-08 17:38] chuckha commented on #138
@randomvariable I like your proposal. I think I have a few modifications and would like to get your feedback on it:

* Channel -- we don't really have channels (this is like, nightly, stable, beta, I'm assuming) so we can nix this field. It looks like you've done so in your example
* APIVersion -- This should be the kubernetes version, not the cluster-api-provider-aws version since the AMI is only

[2019-01-08 17:57] detiber commented on #138
Platform is already a queryable filter

Architecture is already a queryable filter

Hypervisor is already a queryable filter

root-device-type is a queryable filter

I'm not sure we have to encode the timestamp of the build, since we can sort the responses based on creation time.

[2019-01-08 18:09] #472 closed

[2019-01-08 19:21] chuckha opened #476 "Makefile build fails in certain edge case"
/kind bug

**What steps did you take and what happened:**
Build the release binaries and then build the dev binaries and see what happens

from @detiber from #473

**What did you expect to happen:**
installation to be successful and the correct platform/arch for the current host

[2019-01-09 14:44] chuckha commented on #416
/lifecycle-active

[2019-01-09 14:45] chuckha commented on #416
/lifecycle active

i will never get the syntax right

[2019-01-09 15:38] chuckha commented on #414
leaving this here for reference https://gist.github.com/detiber/4ec73772f0618a40faad07c1abd06ab4

[2019-01-09 15:47] chuckha opened #481 "Improve container debugability on nodes"
/kind bug

**What steps did you take and what happened:**
crictl doesn't work out of the box. We should set up our AMIs so that crictl works out of the box and we can debug containerd.

**What did you expect to happen:**
I expected to be able to debug containerd containers.

**Anything else you would like to add:**

cc @ashish-amarnath

[2019-01-09 15:57] chuckha commented on #138
I'm in communication with the CNCF and k8s-infra in order to acquire credentials necessary to get these images to a shared place. We can then also filter on OWNER and that will be great.

[2019-01-09 19:30] vincepri commented on #260
/lifecycle active

[2019-01-09 19:30] vincepri commented on #267
/lifecycle active

[2019-01-09 19:41] #218 closed

[2019-01-09 19:51] vincepri commented on #260
This seems like a kubectl printing issue more than tags being stored improperly. Running describe in verbose mode, which prints requests/reponses the data looks fine.

[2019-01-09 21:51] liztio commented on #271
update on this: we're blocked on better aws resource management, otherwise we'd run out of resources pretty much immediately in CI

current plan is to add AWS support to test-infra's existing resource manager, boskos

[2019-01-09 22:41] randomvariable commented on #422
This is still happening. The testing is a bit annoying as it requires a completely fresh account each time.

[2019-01-09 23:18] #138 closed

[2019-01-10 16:47] chuckha opened #486 "add ami owner to filter list"
/kind bug

to prevent hijacking of ami name

[2019-01-10 16:58] vincepri commented on #422
@randomvariable Can you elaborate on why this is happening on a fresh account? Is there something missing?

[2019-01-10 17:28] chuckha opened #487 "Host AMIs in a CNCF owned AWS account"
/kind feature

**Describe the solution you'd like**
Ideally we'd have AMIs that are used for bootstrapping to get people started will be hosted in a CNCF owned AWS account. Until that time they are living in a Heptio account.

**Anything else you would like to add:**
This will have to go through the k8s-infra group. We should make it clear these are not production grade images and that people shou

[2019-01-10 19:53] chuckha commented on #413
Follow this discussion https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/463#discussion_r246430304 the spec is going to change to add CAs and service account keypairs.

[2019-01-10 20:15] #486 closed

[2019-01-10 21:10] vincepri commented on #323
Do the current logs have enough context or should we add more? The way klog is structured is going to be difficult and repetitive to add more context to the current logs. We could adopt https://github.com/go-logr/logr and zap logger, which is already included in controller runtime, but that means to switch to json logging, which I'm not sure if that makes things better or worse.

[2019-01-10 21:12] chuckha commented on #323
The context I was referring to was knowing if the logs were coming from the machine actuator or cluster actuator.

I'm not sure it's worth adding more context as I've been able to debug issues fine without it, I think it's a nice to have and would be fine moving this to the backlog if others are also happy with the logging.

[2019-01-10 21:13] vincepri commented on #323
/priority backlog
/unassign

[2019-01-11 20:45] bsingarayan opened #490 "Documentation of startup guide doesn't reflect the current configuration process"
/kind bug

1. region is missing in the startup guide steps

For example

aws ec2 create-key-pair --key-name cluster-api-provider-aws.sigs.k8s.io  | jq .KeyMaterial -r

fails as it misses the region, I just included below in the command to make it work

aws ec2 create-key-pair --key-name cluster-api-provider-aws.sigs.k8s.io --region us-east-1 | jq .KeyMaterial -r

2. As per the document, the below

[2019-01-11 20:48] randomvariable commented on #422
@vincepri Added an explanation in #489

[2019-01-11 20:50] randomvariable commented on #422
Explanation in #489 @vincepri

[2019-01-12 04:30] vincepri commented on #490
/milestone v1alpha1
/assign @chuckha
/kind documentation

Assigning you because I remember you were also tackling other docs issues

[2019-01-13 15:58] randomvariable opened #491 "Document or support running in environments with TLS intercepting proxies"
/kind feature

**Describe the solution you'd like**
As a result of triaging on an issue in Slack by @ashish-amarnath, it was found a user could not run the AWS provider because the network they were running in used TLS intercepting transparent proxies.

This is fairly common in enterprise environments, up to and including the target AWS infrastructure.

We should either document image customisatio

[2019-01-13 15:59] randomvariable commented on #491
/priority important/long-term

[2019-01-13 16:02] randomvariable commented on #491
/priority important-longterm

[2019-01-14 01:51] joshrosso commented on #267
@timothysc @vincepri

Based on my experience, I believe the primary requirement is to stay hands-off anything in the networking space. This would include:

* VPC
* Subnets
* Route Tables
* Security Groups
* NAT / Internet Gateway

The idea being the operator supplies VPC and subnets, which the AWS provider then places its things inside of. This does put the onus on the network administrator to set

[2019-01-14 02:16] justaugustus commented on #267
+1 to @joshrosso's assessment. This is most what we had to support in Tectonic (for context).

Some text somewhere along the lines of "Ensure your cloud/network administrator has followed this checklist (link) / opened the required ports (link) on the relevant security groups." would get us most of the way in lieu of actual programmatic validation.

[2019-01-14 06:57] ashish-amarnath opened #492 "Include CA and service account keypairs in cluster spec."
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Goal: Cluster operators should be able to supply cert material for CA and SA keypairs for the clusters that they create.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
As discussed here https://github.com/kubernetes-sigs/clu

[2019-01-14 17:15] vincepri commented on #267
@joshrosso @justaugustus Thanks for the insights and extended context! Started some of this work in #483 which matches the BYON concept with added validation in a few steps. One thing that was brought up were read permissions. Currently we try to describe network resources to make sure they pass some validation and to populate the internal status objects.

[2019-01-14 17:19] vincepri commented on #491
/milestone Next

[2019-01-14 20:11] ashish-amarnath commented on #492
/priority important-soon

[2019-01-14 21:21] vincepri commented on #492
@ashish-amarnath can you update the issue description with a summary of the linked discussion? I'd be good for newcomers that don't have the full context.

[2019-01-15 16:12] sfzylad commented on #145
/lifecycle active

[2019-01-15 22:05] rdodev commented on #276
* CLIs:
  * There are several places where things can go sideways and the user has no idea where to start looking for errors.
  * CLIs should try to provide feedback more actively
  * When not possible to provide real-time feedback, the CLIs should at the very least instruct the user for next steps/debugging (like `kubeadm reset` for isntance)
  * CLIs should be more verbose by default
* Documenta

[2019-01-16 00:37] randomvariable opened #494 "UX: Provider Components manifest generation should use AWS credential provider chain"
/kind bug

Part of #276

**What steps did you take and what happened:**
The process by which to generate the provider components manifest for clusterctl, currently `make manifests` should use the default AWS credential provider.

**What did you expect to happen:**
Credentials from ~/aws/config to be used for bootstrapping the cluster

**Anything else you would like to add:**
[Miscellaneous informa

[2019-01-16 00:37] randomvariable commented on #494
/assign
/priority important-soon

[2019-01-16 00:43] randomvariable commented on #494
If anyone can find where this is in the Go SDK, please comment. https://github.com/aws/aws-sdk-go/blob/master/aws/credentials/chain_provider.go#L61 is the closest I've got to, but still looks like I need to pass an array of providers.

[2019-01-16 00:49] ashish-amarnath commented on #413
created https://github.com/kubernetes-sigs/cluster-api/issues/682 to support bootstrapping clusters with multiple masters. https://github.com/kubernetes-sigs/cluster-api/issues/682
To support this scenario we'll have to make `isNodeJoin` method in the machine acuator thread safe.

[2019-01-16 04:56] randomvariable opened #495 "CloudFormation template requires AMI lookup permissions"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Machine actuator should be able to lookup AMIs programatically

**What did you expect to happen:**
Machine actuator succeeds in looking up AMIs

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
`ec2:DescribeImages` action needs t

[2019-01-16 14:51] rdodev commented on #494
As per their documentation, this is the method to retrieve credential from the default chain: https://docs.aws.amazon.com/sdk-for-go/api/aws/defaults/#CredChain

[2019-01-16 16:04] vincepri opened #496 "Bootstrap cluster should use STS Session tokens"
/kind feature

**Describe the solution you'd like**
In the current behavior, when a user runs `clusterawsadm` the environment credentials are used to create the CloudFormation template and to generate an aws profile configuration file which is then used as a secret.

For a bootstrap (short-lived) cluster, we should generate a session token using [sts api](https://docs.aws.amazon.com/sdk-for-go/api

[2019-01-16 17:50] sethp-nr opened #497 "Permission denied looking up AMIs"
/kind bug

**What steps did you take and what happened:**
Running a "dev" version of the aws controller that included #479 (and again with #488) I was unable to look up the AMI required to create EC2 instances.

**What did you expect to happen:**
EC2 instances to be created based on the looked-up AMI

**Anything else you would like to add:**

The log message I saw from the controller:

[code]

I h

[2019-01-16 18:37] sethp-nr commented on #497
Of course! Feel free to ping me here or on slack if you'd like me to try something.

[2019-01-16 19:31] randomvariable commented on #497
Root cause documented in #495

[2019-01-16 23:08] vincepri commented on #260
/remove-lifecycle active

[2019-01-17 02:04] ashish-amarnath commented on #469
https://kubernetes.slack.com/archives/CD6U2V71N/p1547570376262000
The workaround was to run `make clean manifests`

[2019-01-17 02:06] ashish-amarnath commented on #469
@rdodev Do you have anything more to add here?

[2019-01-17 12:17] phyber commented on #495
/lifecycle active
/assign @phyber

[2019-01-17 14:40] rdodev commented on #469
Sorry @ashish-amarnath didn't get notifications until now. Let me check it out.

[2019-01-17 14:46] rdodev commented on #469
@babu-selector is right. I think the docs seems to be missing steps or provide incomplete info. Both the `make clean && make manifests` and then using Jason's gist helped for instructions not using minikube.

[2019-01-17 15:39] randomvariable commented on #476
/lifecycle active

[2019-01-17 15:40] sfzylad commented on #476
/assign @sfzylad

[2019-01-17 15:40] randomvariable commented on #476
/assign @sfzylad

[2019-01-17 15:48] sfzylad commented on #476
I'd like to work on this issue, please.

[2019-01-17 20:01] #413 closed

[2019-01-18 19:44] #145 closed

[2019-01-18 19:46] vincepri commented on #476
@sfzylad You can use `/lifecycle active` command on its own line to assign yourself this issue.

[2019-01-18 19:53] ashish-amarnath commented on #492
Missed this notif. @chuckha lmk if you need the context @vincepri wanted me to include.

[2019-01-18 19:57] #495 closed

[2019-01-19 00:40] chuckha commented on #492
I think the @vincepri's point is to keep a record on this issue since we decided to break it out. Linking to the conversation is good, but it would be even better to have a summary of what was discussed and why we're breaking this work item out so that people don't actually have to read our thread unless they really want to.

[2019-01-19 16:18] chuckha commented on #497
closed by https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/500

[2019-01-19 16:18] #497 closed

[2019-01-21 05:44] sfzylad commented on #476
/lifecycle active

[2019-01-21 05:44] sfzylad commented on #476
@vincepri Thanks for the hint 👍

[2019-01-21 13:55] #476 closed

[2019-01-22 06:03] sfzylad commented on #205
/lifecycle active

[2019-01-22 13:04] randomvariable opened #511 "New line required in error printing"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
`clusterawsadm` should produce a line break between status and error message. e.g.

[code]

**What did you expect to happen:**

[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aw

[2019-01-22 18:58] chuckha commented on #416
We don't support MachineClass. This would require us to have an additional provider spec for machine class.

[2019-01-22 19:55] chuckha commented on #416
Using https://gist.github.com/chuckha/a9e260c5e34b8de6063e9fdfe7e247cb to test the MachineDeployment, I believe it's working as expected.

The control plane is created and then the machine deployment is created. The correct number of replicas are created. When replicas are increased, the number of instances on AWS increases and when the number of replicas are decreased, the controller will delete

[2019-01-22 19:55] #416 closed

[2019-01-22 19:57] chuckha opened #513 "Implement MachineClassProviderSpec"
/kind feature

**Describe the solution you'd like**
In order to make full use of the cluster-api APIs we will need to implement a MachineClass provider spec that can be used to specify machine types on AWS.

We may decided we don't need this part of cluster-api. If that is the case, close this issue.

**Anything else you would like to add:**
Please see https://github.com/kubernetes-sigs/cluster-ap

[2019-01-23 10:31] randomvariable commented on #205
@detiber need clarification on the intent here.

Is this simply using YAML config for cloud-init, or go all the way with the kubeadm cloud-init module?

[2019-01-24 01:02] #422 closed

[2019-01-24 10:09] #188 closed

[2019-01-24 12:04] randomvariable opened #519 "Document what you get in a cluster"
/kind feature

**Describe the solution you'd like**
Successor to #187, https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/proposal/mvp-architecture.md should become a document stating what the design of the cluster is.

This should include things like, how NAT gateways are connected, what the bastion instance is, why are ELBs used.

Also, common issues, particularly AWS s

[2019-01-24 16:05] randomvariable commented on #496
This has been discussed on Slack, but we purposely do not do STS calls as this will prevent clusterawsadm being used in environments where the user has either had to already assume a role to access the AWS account using cross-account IAM roles, or is working in an environment where access is granted using federated identity.

Either a `--no-session` parameter would need to be added to avoid this b

[2019-01-24 16:43] chuckha commented on #496
@rosskukulinski

[2019-01-24 19:07] chuckha commented on #490
/lifecycle active

[2019-01-24 22:07] #490 closed

[2019-01-24 22:10] chuckha commented on #470
This is fixed by #422

[2019-01-24 22:10] #470 closed

[2019-01-25 18:55] bsingarayan commented on #470
With issue #422 is fixed, it works now. This is not a documentation issue, a real bug

[2019-01-26 15:52] vincepri commented on #471
After a little debugging on this issue, I can say that as of right now this is expected behavior. Clusterctl won't go and delete resources that have been created upon failure.

You can try to use `clusterctl delete cluster ...` to delete resources, but if those are orphaned users are expected to delete them manually. This behavior is also present in other infrastructure management tools like Cloud

[2019-01-26 15:52] #471 closed

[2019-01-28 14:43] rosskukulinski commented on #496
@chuckha / @randomvariable I don't have quite enough context to weigh in just yet.  @randomvariable can you point me to the Slack discussions you reference?  IIRC, the Heptio-alum AWS accounts are setup where people must assume roles to access regions, right?

@vincepri - What are the failure conditions should the bootstrap cluster not come up before STS token expires?  What duration were you thin

[2019-01-28 16:37] vincepri commented on #511
/good-first-issue

[2019-01-28 16:46] randomvariable commented on #496
I'll need to find the Slack conversations, but this is the current state as I see it:

## Current State

### CloudFormation

`clusterawsadm alpha bootstrap create-stack` creates an AWS CloudFormation stack with the following resources:

#### IAM Managed Policies
* `nodes.cluster-api-provider-aws.sigs.k8s.io`

This is a misnomer, as it should be `nodes.cluster-provider-aws.k8s.io`, and is the per-n

[2019-01-28 16:48] vincepri commented on #208
Related to https://github.com/kubernetes-sigs/cluster-api/issues/41

[2019-01-28 17:39] randomvariable commented on #496
Going to write a version of the above for #519, which is why it's at length.

[2019-01-28 20:21] liztio commented on #271
/blocked

[2019-01-29 07:59] ashish-amarnath opened #529 "Unable to create a cluster from master"
/kind bug

**What steps did you take and what happened:**
1. Updated Makefile to build a custom tag in private image repo using `make clean docker-build-dev`
2. pushed the resulting image to my private image repo at  `quay.io/ashish_amarnath/cluster-api-aws-controller:0.0.3-20190128-golden`
3. Created cluster-api manifests as `make clean manifests-dev`
4. Ran clusterctl create as
[code]
Doing this

[2019-01-29 08:01] ashish-amarnath commented on #529
Trying to run commit `b8ef509599060cd594d0ae7c6123507c4c193cc9` through more tests.

[2019-01-29 16:56] #529 closed

[2019-01-29 18:21] #494 closed

[2019-01-29 21:35] #33 closed

[2019-01-29 21:58] chuckha opened #533 "AMIs need to be more uniquely filterable"
/kind bug

**What steps did you take and what happened:**
I ran a normal clusterctl but found containerd hadn't started. When digging in further I found that it was using the wrong AMI. This was because https://github.com/heptio/wardroom had recently published new AMIs which have the identical naming scheme and are hosted in the same AWS account.

**What did you expect to happen:**
I expect our AM

[2019-01-29 23:37] #533 closed

[2019-01-29 23:57] phyber commented on #18
PR #512 being merged should mean that the Update method is complete here.

[2019-01-30 08:58] sfzylad opened #535 "update manifest/manifest-dev targets to use the new kublet (should be 1.13.2, now is 1.13.0)"
/kind feature

**Describe the solution you'd like**
`make manifest` and `make manifest-dev` should set kublet version to 1.13.2 in manifests that it generates.

**Anything else you would like to add:**

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2019-01-30 09:04] sfzylad commented on #535
This issue is not valid. I didn't regenerate manifests after rebasing my branch.

[2019-01-30 09:04] #535 closed

[2019-01-31 05:42] sfzylad opened #536 "ec2-user not used on Amazon Linux AMI"
/kind bug

**What steps did you take and what happened:**
Once our Amazon Linux 2 AMI is used, the default user to be used with Amazon Linux is `centos`. The default user supported by AWS is `ec2-user` and is present in the system we provide. It's that `cloud-init` is comnfigured to use `centos` user:

[code]

**What did you expect to happen:**
When instance uses Amazon Linux, `ec2-user` system us

[2019-01-31 06:09] ashish-amarnath opened #537 "Refactor cert generation into its own service"
/kind feature

**Describe the solution you'd like**
Following this discussion here https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/502/files#r252461480
It'll be cleaner to implement cert generation, in cluster actuator, in its own service following the patterns used for ec2 and elb services

cc @chuckha

**Anything else you would like to add:**
[Miscellaneous information that will

[2019-01-31 06:09] ashish-amarnath commented on #537
/assign
/assign @chuckha

[2019-01-31 14:53] detiber commented on #536
/assign
/priority important-soon
/milestone v1alpha1

[2019-01-31 15:15] detiber commented on #536
/assign
/priority important-soon
/milestone v1alpha1

[2019-01-31 15:39] vincepri opened #539 "Tagging failures can result in orphaned resources"
/kind bug

**What steps did you take and what happened:**
Currently the code returns an error if tagging fails, causing resources being created, tags not being applied and internal status not being updated.

**What did you expect to happen:**
Tagging should be warning users of failures without returning any errors preserving the internal status update.

**Anything else you would like to add:**
[Mi

[2019-01-31 15:39] vincepri commented on #539
/milestone v1alpha1
/priority important-soon

[2019-01-31 15:42] vincepri commented on #539
/good-first-issue

[2019-01-31 16:57] ishantanu opened #540 "Unable to generate manifests via make"
/kind bug

**What steps did you take and what happened:**
I was following this guide - https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/getting-started.md.

Everything went well until this - https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/getting-started.md#generating-cluster-manifests-and-example-cluster.

When I ran `make manifests`, these

[2019-01-31 17:05] detiber commented on #536
/lifecycle active

[2019-01-31 17:06] detiber commented on #519
/help

[2019-01-31 17:07] detiber commented on #467
closing since we now vendor k8s v1.13

[2019-01-31 17:07] #467 closed

[2019-01-31 17:08] detiber commented on #540
/priority important-soon

[2019-01-31 17:21] detiber commented on #536
/remove-lifecycle active

It looks like the cloud-init config is populated at compile time, this will either require a separate build of cloud-init for Amazon Linux 2 or it will require some additional modifications in ansible post install to modify the config.

[2019-02-01 07:08] sfzylad commented on #536
/lifecycle active

[2019-02-01 14:37] detiber commented on #511
@ishantanu we would most definitely welcome a PR for this issue if you would like to work on it.

[2019-02-01 16:09] #492 closed

[2019-02-01 16:38] vincepri commented on #511
Of course! You can use `/lifecycle active` to take it :)

[2019-02-01 17:17] ishantanu commented on #511
/lifecycle active

[2019-02-01 17:20] detiber commented on #511
Assigning to myself for tracking, since we cannot assign to non-org members

/assign

[2019-02-01 19:40] #511 closed

[2019-02-01 19:48] #536 closed

[2019-02-03 05:56] ashish-amarnath commented on #537
/lifecycle active

[2019-02-03 23:52] ashish-amarnath commented on #414
/lifecycle active
/assign

[2019-02-04 16:39] vincepri commented on #260
/unassign
/help-wanted
/good-first-issue

[2019-02-04 16:54] detiber opened #546 "Error reconciling cluster object - AccessDenied listing load balancer"
/kind bug

**What steps did you take and what happened:**
Followed the setup guide (modified to use dev artifacts from master). After the cluster object was created, upon later reconciliation the following error is seen in the logs:

[code]

**What did you expect to happen:**

No AccessDenied errors in the logs when reconciling the cluster object.

[2019-02-04 16:54] detiber commented on #546
/priority important-soon
/milestone v1alpha1

[2019-02-04 17:23] detiber commented on #546
/assign
/lifecycle active

[2019-02-04 17:40] #546 closed

[2019-02-04 18:17] ashish-amarnath commented on #273
Propose: renaming this issue to talk about a multi-node control plane. HA can mean cross region/az depending on the context that folks use it in.

[2019-02-04 18:25] detiber opened #548 "Updating the bootstrap stack with clusterawsadm alpha bootstrap create-stack fails"
/kind bug

**What steps did you take and what happened:**
Running `clusterawsadm alpha bootstrap create-stack` to update an existing stack currently fails.

Command line output:

[code]

Cloud formation failure events:

[code]

**What did you expect to happen:**
Running `clusterawsadm alpha bootstrap create-stack` against an existing stack should update the previously deployed stack.

**Environmen

[2019-02-04 21:36] vincepri opened #549 "Alternatives to Kustomize and envsubst"
/kind feature

**Describe the solution you'd like**
In the current state, the manifest generation requires `kustomize` and `envsubst` to achieve the level of customization we need. This workflow has been working fine so far, but as user configuration grows the complexity of the adhoc bash script will grow as well. In the next iteration, we should think about an alternative solution which would bet

[2019-02-04 21:42] chuckha commented on #469
This will be going away as we start merging in pieces of https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/310. I'll track the work but I don't think this needs to be fixed independently of the Makefile changes

/lifecycle active

[2019-02-04 22:00] chuckha commented on #427
Some more thoughts regarding the versioning concerns. Apologies for missing your point the first time around:

Versioning the types will not tie us too tightly kubernetes versions.

If we vendor v1beta1 of the configurations then we're guaranteed it's viable for at least two releases. We may not immediately get all the new features that kubeadm exposes, but it will certainly work for this and the

[2019-02-04 22:06] #267 closed

[2019-02-04 22:09] chuckha commented on #540
@ishantanu did you use a release version of clusterawsadm or did you build it from master?

[2019-02-04 22:14] #537 closed

[2019-02-05 03:14] ashish-amarnath commented on #125
This does a pretty good job of explaining this https://kubernetes-sigs.github.io/cluster-api/.

[2019-02-05 15:34] chuckha commented on #540
`make manifests` depends on clusterawsadm. Right now we're in a weird state where our master branch is *very* different from our most recently released version. The released versions pretty much don't work anymore and should not be used. We are working on releasing a new version very soon but we are changing the versioning scheme and need to let the community know so it's taking a bit of time.

[2019-02-05 16:21] vincepri commented on #549
/milestone Next
/priority important-longterm

[2019-02-05 16:23] vincepri commented on #549
/milestone Next

[2019-02-05 17:22] ishantanu opened #550 "Repeated error message with clusterawsadm"
/kind bug

**What steps did you take and what happened:**
I was trying to create a cloudformation stack with `clusterawsadm`'s `create-stack` command at which point I stumbled upon the case where an error was displayed twice.

[code]

**What did you expect to happen:**
1. An error should be displayed only once.
2. **If** folks are in favor of this: The `cmd.Help()` function should only be called w

[2019-02-05 18:23] chuckha commented on #427
cc @timothysc @ncdc

[2019-02-05 18:27] randomvariable opened #551 "Fix up namespaces for the providers"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
The manifests should be cleaned up so components go into meaningful namespaces.
At a first pass, theses should be:

Upstream Cluster API components -> `cluster-api-system`
This provider's components -> `cluster-api-provider-aws-system`
The example cluster -> `default`

The provider com

[2019-02-05 18:35] randomvariable commented on #551
The `default` namespace for the cluster and machine object does open the possibility of allowing a user coming in via rbac to then escalate privileges. we should document that production clusters should explicitly set a non-default namespace for cluster / machine objects.

[2019-02-05 22:46] chuckha commented on #427
I was thinking a bit about how to handle upgrading kubeadm type versions over a long period of time. It's not very easy and would love to talk it out sometime. My current thinking:

Let’s say for a moment we vendor the kubeadm types in and reference them from probably AWSProviderClusterConfig. Once the next version of kubeadm types are created, say , `v1beta2`, then we have to support clusters in

[2019-02-06 15:05] chuckha commented on #540
I think the initial state was not completely clean (as in `make clean` was not run before `make manifests`).

I think the solution is to make the `.../out` target a phony target.

[2019-02-06 15:07] chuckha commented on #122
@dims @timothysc did anything come out of your sync?

[2019-02-06 15:11] chuckha commented on #540
/assign
/lifecycle active

[2019-02-06 15:35] #540 closed

[2019-02-06 16:57] detiber commented on #273
@ashish-amarnath cross-region is out of scope here, since it is not supported by the AWS cloud provider.

[2019-02-06 23:16] randomvariable commented on #548
/lifecycle active

[2019-02-06 23:34] #548 closed

[2019-02-06 23:53] randomvariable opened #554 "Validate networking rules and configuration"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
As a pre-req for cross-AZ support, we need to validate the security group ruleset to include IP in IP for cross-subnet traffic.

Additionally, Calico is deployed here with the default MTU of 1440 bytes, but we should bump this to [8981  bytes](https://docs.projectcalico.org/v3.4/usage/

[2019-02-07 01:04] vincepri commented on #554
Cross-AZ shouldn't be a problem with default configuration (our or AWS), the intra-VPC traffic is always allowed within the private subnets. Calico and MTU is definitely something to consider to improve performance.

/milestone Next
/good-first-issue
/help-wanted

[2019-02-07 15:23] detiber commented on #554
We'd have to be careful with this, since not all instances types have support for jumbo frames.

[2019-02-07 15:23] detiber commented on #554
/milestone Next

[2019-02-07 15:25] detiber commented on #554
While Security Groups shouldn't be an issue, we will have to make sure that the Load Balancer that we deploy supports multi-AZ, the routes are configured correctly, and Internet Gateways/NAT gateways are sanely handled as well.

[2019-02-07 15:41] vincepri commented on #551
/good-first-issue
/help-wanted
/milestone v1alpha1

[2019-02-07 15:42] vincepri commented on #550
/help-wanted
/good-first-issue
/milestone Next

[2019-02-07 15:49] detiber commented on #551
Since there are still unresolved questions/concerns around the use of the `default` namespace, I'm removing `good-first-issue`

/remove good-first-issue

[2019-02-07 17:54] vincepri commented on #323
/good-first-issue
/help-wanted

[2019-02-07 17:58] vincepri commented on #330
Given that logs are in a good shape and the last issue remaining in this umbrella is a nice to have, I'll go ahead and close this. Feel free to reopen if necessary.

/close

[2019-02-07 17:58] #330 closed

[2019-02-07 18:07] vincepri commented on #274
I believe the only thing left in this umbrella is:

[code]

@detiber Is there any particular way that this should be working? With the bootstrap model I think this issue should probably be solved upstream.

[2019-02-07 18:10] vincepri commented on #215
Should we start setting ownerRef on Machines objects linking to the cluster? I'm not sure thought how it'd affect #214 and #215 and how it relates to it.

[2019-02-07 18:21] detiber commented on #215
If we do set the `ownerRef`, then we should also set `foregroundDeletion` in the finalizers for the `Cluster` and set `ownerReference.blockOwnerDeletion=true` on the machines to ensure that cascading delete functions properly: https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/#foreground-cascading-deletion

[2019-02-07 18:24] detiber commented on #274
@vincepri I'm not sure that it is an upstream concern, this has to do more with making sure we are doing our best to clean up orphaned resources, especially in the case where resources cannot be tagged on create.

[2019-02-07 18:25] vincepri commented on #274
Got it, so it should be fixed in #539. I was thinking about the wrong thing here, which was the cleanup in case of a rollback in clusterctl.

[2019-02-07 18:27] vincepri commented on #215
I think that makes a lot of sense. That would solve #215. But how do you think it's going to work given #214?

[2019-02-07 18:33] detiber commented on #215
@vincepri there is already a bit of support for #214 in `cluster-api` by preventing the deletion of a machine that is linked to the node that is running the controller. We would need to extend that support. The cascading deletion would block the cluster being deleted while a machine exists.

[2019-02-07 18:56] #125 closed

[2019-02-08 10:24] randomvariable commented on #554
It's the [truly ancient instance types](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/network_mtu.html#jumbo_frame_instances) that won't support jumbo frames. I think it'd be safe from a supportability perspective to only support C3 or newer.

[2019-02-08 18:07] vincepri commented on #215
* Forward deletion blocks the cluster deletion until machines are deleted .
* Machine running the controller can't be deleted.

Wouldn't those two conditions being true at the same time lead into a deadlock?

[2019-02-08 19:22] randomvariable opened #557 "Set pathLenConstraint X509 constraint on CA certificates"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

The CA certificates generated by the controller should have a pathLenConstraint of 0.
From RFC 5280:

[code]

For Go's [x509.Certificate](https://golang.org/pkg/crypto/x509/#Certificate) type, this is implemented as needing to set `MaxPathLenZero` to `true` and `MaxPathLen` to 0.

[co

[2019-02-08 19:23] ishantanu commented on #550
@vincepri I wanted to work on this. In fact, I already started to look into this. I narrowed it down to the fact that these lines print the error twice:

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/a3f1aeaa6e782ddc2dc515bb9c259cd096a27a8b/cmd/clusterawsadm/cmd/alpha/bootstrap/bootstrap.go#L137-L139

And that the error originates from here:
https://github.com/kubernetes-sigs/cl

[2019-02-08 19:24] ashish-amarnath commented on #557
/assign

[2019-02-08 19:31] detiber commented on #215
I was mistaken about the finalizer, but there is a field that needs to be set on the Machine* objects:

https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/#foreground-cascading-deletion

Only objects that are set for `ownerReference.blockOwnerDeletion=true` will block the deletion of the owner object.

[2019-02-08 19:46] chuckha opened #558 "Describe Images does not guarantee ordering"
/kind bug

**What steps did you take and what happened:**
us-west-2 and us-east-1 have different results when

**What did you expect to happen:**
the Amis would be ordered by timestamp

**Anything else you would like to add:**
The only thing this breaks is whatever new features were added are not available on regions with bad luck ordering Amis

[2019-02-08 19:50] ashish-amarnath opened #559 "Extend kubeadm cloud-init module to support CLI arguments"
/kind feature

**Describe the solution you'd like**
Follow-up from https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/510/files#r254815203
Kubeadm cloud-init module should support the passing of CLI params to kubeadm operations.
cloud-init repo is at https://github.com/detiber/cloud-init/tree/cluster-api
kubeadm module in this repo is at https://github.com/detiber/cloud-init/blob/clu

[2019-02-08 19:51] detiber commented on #559
/assign
/priority important-longterm
/milestone v1alpha1

[2019-02-08 20:45] ashish-amarnath commented on #557
/lifecycle active

[2019-02-08 21:01] randomvariable commented on #557
Was asked to outline the risks of not doing this:

The example I had in mind was as follows:

CA used by controller-manager's in cluster CA.
Attacker is able to submit a certificate signing request with the Certificate Authority constraints enabled, and it gets signed.
The attacker can then impersonate any workload or client, and as long as they present their new intermediate CA in the certificate

[2019-02-08 21:45] vincepri commented on #550
CC @randomvariable ^

[2019-02-08 21:51] vincepri commented on #557
/help
/milestone v1alpha1

[2019-02-09 01:45] ashish-amarnath commented on #550
@ishantanu If you are looking for reasons why the `GetCallerIdentity` might be failing, then here's the aws doc https://docs.aws.amazon.com/STS/latest/APIReference/CommonErrors.html.

Also, the error you saw `Error: failed to create AWS CloudFormation stack:...` is coming from
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/pkg/cloud/aws/services/cloudformation/cloudformati

[2019-02-10 13:21] ishantanu commented on #550
@ashish-amarnath Thanks for the pointers. I saw that changing
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/a3f1aeaa6e782ddc2dc515bb9c259cd096a27a8b/cmd/clusterawsadm/cmd/alpha/bootstrap/bootstrap.go#L137-L139 To
[code]

[2019-02-10 20:39] #558 closed

[2019-02-11 09:56] #557 closed

[2019-02-11 17:14] #208 closed

[2019-02-11 17:23] detiber commented on #208
I'm not sure this issue is completely resolved...  What happens if a cluster with the same name is created in two different namespaces? I believe that they will try to reconcile the same resources based on the current tagging mechanism we have.

[2019-02-11 17:33] vincepri commented on #208
I believe the cluster selection only happens within the same namespace https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/controller/machine/controller.go#L206-L209

[2019-02-11 17:36] detiber commented on #208
Right, but I'm thinking about the underlying reconciliation with AWS resources

[2019-02-11 17:43] chuckha commented on #550
We should reconsider our usage of `RunE` given this issue: https://github.com/spf13/cobra/issues/340 I think we don't need `RunE` or we need to silence the output.

[2019-02-11 21:54] chuckha commented on #427
/lifecycle active

[2019-02-11 21:56] chuckha commented on #427
My current thinking here is to allow users to supply an init or join configuration that we will use with the exception of the infrastructure related fields. If they try to provide a piece of data we need to overwrite, we can warn them about that.

[2019-02-12 11:55] randomvariable opened #569 "Kustomize 2.0+ not compatible with getting started guide"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Related to #549 - alternatives to kustomize/envsubst
Related to #276 - UX improvements.

**What did you expect to happen:**
Due to security concerns, the use of commands as a secret generator has been removed, but the current user workflow is reliant upon it.

**Anything else you would l

[2019-02-12 11:56] randomvariable commented on #569
/lifecycle active

[2019-02-12 14:10] detiber opened #570 "Update version of containerd used in AMIs"
/kind bug
/priority important-soon
/milestone v1alpha1

**What steps did you take and what happened:**

The AMIs generated by the packer build tooling are affected by CVE-2019-5736, we should update to a version of containerd that is not affected.

Blocked on: https://github.com/containerd/containerd/issues/3006

[2019-02-12 16:17] detiber commented on #513
I don't think there is a requirement to implement any additional types for supporting MachineClass, I think the only thing that is needed is to extend the way that we are decoding the ProviderSpec to also support references to a MachineClass instead of just directly embedded values.

[2019-02-12 16:19] detiber commented on #513
This ties into the work I'm doing around updating the pivoting logic for clusterctl

/assign
/lifecycle active

[2019-02-13 15:04] detiber commented on #569
/milestone v1alpha1
/priority important-longterm

[2019-02-13 15:06] detiber commented on #569
@randomvariable I don't think we need to enforce backwards compatibility. I'm good with making kustomize 2.x a requirement if we can get everything patched up to work.

[2019-02-13 15:50] #513 closed

[2019-02-13 15:54] vincepri commented on #569
Related to https://github.com/kubernetes-sigs/cluster-api/issues/745

[2019-02-13 17:20] ashish-amarnath commented on #414
- [ ] https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/545#discussion_r253503959
- [ ] https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/545#issuecomment-460456668
- [ ] https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/545#issuecomment-460677304

[2019-02-13 21:49] ashish-amarnath commented on #414
/reopen

[2019-02-13 22:24] detiber opened #574 "Better CA private key management"
/kind feature

**Describe the solution you'd like**
Currently we store the generated CA keys and ServiceAccount private key in the Cluster ProviderSpec, this is suboptimal from a security standpoint, but provides a better user experience to users by not requiring them to have some external form of orchestration to create a more secure secret and then link that into the creation of the Cluster obje

[2019-02-14 09:40] randomvariable commented on #569
Yeah, not intending to. As far as the user-facing bits, they won't notice if we're still using an older kustomize inside bazel to generate bare manifests.

[2019-02-14 09:41] randomvariable commented on #570
/lifecycle active

/assign

[2019-02-14 15:39] randomvariable opened #578 "Update manifests and docs for v0.1.0"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Tracking issue.

/lifecycle active
/assign

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release

[2019-02-14 15:40] randomvariable commented on #570
/unassign

[2019-02-14 15:40] randomvariable commented on #570
/assign detiber

[2019-02-14 23:35] liztio commented on #272
# Current Status

## E2E Tests

### Background

We spent a lot of time discussing what exactly the E2E tests should entail.
The current "e2e" tests just build Docker images and test that they can boot.
This is a decent smoke test, but to validate our assumptions more detailed tests.

The proposed minimum viable test stack is as follows:

1. The tests get an AWS account
2. A [kind][kind] kubernetes

[2019-02-14 23:59] randomvariable commented on #272
/assign

Can sort out some of the janitor tasks

[2019-02-15 00:00] akutz commented on #272
Hi @liztio,

Thank you for this. I look forward to our chat tomorrow. I also sent you some questions at https://github.com/kubernetes/test-infra/issues/10693#issuecomment-463840731.

I’m sorry you are being asked to hand this off to at least one newbie. When it comes to Boskos and this test workflow, I’m still trying to wrap my head around the larger picture, and the brain dump assumes pre-existin

[2019-02-15 00:20] #550 closed

[2019-02-15 15:04] liztio commented on #272
@akutz

I replied to your comment on test-infra. Hopefully that helps at least a little? Boskos isn't something we run or manage, it's something we can assume is available. I don't really have any information that isn't what I've linked to, unfortunately, but I think you will find the [sig-testing](https://kubernetes.slack.com/messages/C09QZ4DQB) folks very friendly and helpful.

We didn't conside

[2019-02-15 15:05] akutz commented on #272
Hi @liztio,

Your answers were spectacularly succinct solutions to my inquiries, thank you!

[2019-02-15 15:44] ncdc opened #581 "Optional ability to restrict to a single namespace"
/kind feature

**Describe the solution you'd like**
I'm interested in being able to manage clusters in multiple AWS accounts. I believe a natural and easy way to achieve this could be to partition by namespace, where all the clusters in a single namespace belong to the same AWS account.

I'd like to add an optional ability to restrict CAPA so it watches for changes only in a single namespace, inst

[2019-02-15 15:57] vincepri commented on #581
Doesn't the `manager.Options.Namespace` flag only restricts the internal cache to a specific namespace?

/help
/milestone v1alpha1
/priority important-soon

[2019-02-15 15:57] detiber commented on #581
I've added this to the agenda for the next office hours

[2019-02-15 15:59] detiber commented on #581
Further restriction could be done via RBAC policy as well, currently we are setting up RBAC via a ClusterRole, but we could limit that further that we do today.

[2019-02-15 15:59] ncdc commented on #581
@vincepri yes, that's the goal

[2019-02-15 16:01] vincepri commented on #581
The tricky part would be limiting RBAC via a dynamic flag, we could leave the defaults as they are and have users patch their RBAC to be more strict.

[2019-02-15 16:02] ncdc commented on #581
RBAC restriction is not _strictly_ necessary, but it does add another layer of assurance.

[2019-02-15 16:02] vincepri commented on #581
I wonder if calls to Watch (example `c.Watch(&source.Kind{Type: &clusterv1.Machine{}}, &handler.EnqueueRequestForObject{})`) should also be namespaced upstream if the Manager's namespace is set.

[2019-02-15 16:02] ncdc commented on #581
They use the informer, which has its list+watch restricted to the namespace

[2019-02-15 16:03] ncdc commented on #581
Or what do you mean by "namespaced upstream"?

[2019-02-15 16:03] detiber commented on #581
It can be limited at deploy time, which is when the dynamic flag for the controller binary typically would be set anyway.

[2019-02-15 16:04] vincepri commented on #581
I meant that we should make sure calls that use the client in cluster-api are also properly namespaced.

[2019-02-15 16:04] vincepri commented on #581
/assign

[2019-02-15 16:05] ncdc commented on #581
cluster-api can stay across all namespaces - its controllers can operate generically across all providers & accounts

[2019-02-15 16:06] vincepri commented on #581
@ncdc Given that we vendor cluster-api code and we use upstream controllers to run our actuators I think the restriction should go there as well. 🤔

[2019-02-15 16:08] ncdc commented on #581
There's no harm in having the upstream controllers optionally limited to a single namespace, but I don't think it buys us anything.

If I want to deploy the CAPI controllers, where do you envision that I get them from? A CAPI release and/or image, or from a CAPA release/image?

[2019-02-15 16:12] detiber commented on #581
@ncdc That is something that still needs to be determined out of the Release and Versioning discussions: https://github.com/kubernetes-sigs/cluster-api/issues/730

Currently capi only publishes a latest tag for their resources, but you really need to deploy the manifest from one of the downstream providers. Today there are no assurances that the published image(s) will work across providers or tha

[2019-02-15 19:26] ashish-amarnath commented on #581
/assign
/lifecycle active
I'll digest this and come up with a proposal. I kinda had some thoughts around this when I did the `namespace` for cluster and machines. https://github.com/kubernetes-sigs/cluster-api/issues/252

Also is this v1alpha1?

[2019-02-15 19:29] detiber commented on #581
/priority important-longterm

@ashish-amarnath I would consider this a stretch goal for v1alpha1 and not necessarily a hard requirement.

[2019-02-19 16:21] #427 closed

[2019-02-19 20:14] akutz commented on #272
Hi all,

I have tried to condense some of the call ([recording](https://youtu.be/4ovY1i8XLp0)) we had last week regarding the next steps for periodic e2e testing as well as restate some of what Liz said above as a way to teach myself about the subject matter. Please let me know if the following is as clear as mud :)

# Local e2e test workflow
The following steps illustrate a basic e2e test workflo

[2019-02-19 23:34] randomvariable commented on #272
Seems about right. I have touched test-infra a small amount, but [Slack](https://kubernetes.slack.com/messages/C8TSNPY4T/convo/CD6U2V71N-1550507175.335100/) will have more expertise anyway.

Also can probably rattle off some of the AWS API specific janitors and sort out dependency management where we have gaps.

[2019-02-20 09:16] randomvariable commented on #554
Just got some field reports on the MTU thing:

[code]

Potentially will need to provide guidance for the different instance types.

[2019-02-20 14:45] randomvariable commented on #272
One more task:

To get a e2e MVP in, the controller is started with the root credentials coming from boskos. Actually want to test it with the IAM policies in our CloudFormation template, which will mean creating an AWS IAM keypair for the bootstrap user and feeding that into the e2e test.

[2019-02-20 21:48] #569 closed

[2019-02-20 21:48] #578 closed

[2019-02-20 22:23] randomvariable commented on #272
and
- [ ] Rename `pull-cluster-api-provider-aws-bazel-e2e` to `pull-cluster-api-provider-aws-bazel-integration` and make the latter blocking.

Optionally:
- [ ] Enable Bazel caching

[2019-02-20 22:34] randomvariable commented on #299
#580 removes make. `gettext` remains at present, to be sorted out in a follow up PR.

[2019-02-20 22:36] randomvariable commented on #299
/remove-lifecycle

[2019-02-20 22:37] randomvariable commented on #469
Fixed in #580

Removed `aws_manager_image_patch.yaml` completely, so this issue will no longer apply.

/close

[2019-02-20 22:37] #469 closed

[2019-02-20 22:39] randomvariable commented on #549
`kustomize` was removed from the user workflow, but envsubst remains. Tracking in existing issue #299

/close

[2019-02-20 22:39] #549 closed

[2019-02-20 22:41] randomvariable commented on #122
As on #580, setting the version number in `.bazelrc` will allow Bazel to be able to push images to a registry and generate `/out` with the binary artifacts to put on Github.

[2019-02-20 22:45] randomvariable commented on #314
https://github.com/kubernetes-sigs/cluster-api/pull/716 went someway to removing the need for separate `--cluster` and `--machine` parameters. These could be consolidated into a single `--cluster` flag given that we would expect machine-only deployments to be done via `kubectl`

[2019-02-21 08:49] randomvariable commented on #299
/remove-lifecycle active

[2019-02-21 19:13] #215 closed

[2019-02-21 19:26] chuckha opened #588 "dev manifests are a little borked"
/kind bug

**What steps did you take and what happened:**
make manifests-dev generates invalid yaml

**What did you expect to happen:**
I expected valid yaml

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-releas

[2019-02-21 19:38] chuckha opened #590 "manifests missing secret"
/kind bug

**What steps did you take and what happened:**
After fixing #588 another issue cropped up, `make manifests-dev` (and I suspect manifests, but I will confirm before pushing a pr)

The aws controller manager failed to start up with this error:
`Warning  FailedMount  19s (x8 over 83s)  kubelet, kind-control-plane  MountVolume.SetUp failed for volume "credentials" : secret "manager-bootstra

[2019-02-21 19:42] #588 closed

[2019-02-21 19:49] detiber commented on #272
@randomvariable Do we actually want to make the e2e jobs blocking? It seems like it would be more prudent to have them live as periodics to avoid having long running blocking jobs.

[2019-02-21 19:53] randomvariable commented on #272
I'm agnostic. The current e2e is actually an integration test that makes sure the controller runs and that's it. It could complete in two minutes if we turn on bazel caching, but also not sure how useful it is in and of itself?

[2019-02-21 19:55] detiber commented on #272
In that case :+1: to running the integration test as PR blocking

[2019-02-21 19:57] akutz commented on #272
Hi @randomvariable,

While I agree that the integration test doesn't validate the e2e workflow, doesn't it at least validate the CRDs and any activity involved in deploying the CAPI/CAPA controllers themselves? That alone seems like it would be nice to block if some error is introduced.

[2019-02-21 20:07] chuckha commented on #481
This got fixed at some point

/close

[2019-02-21 20:07] #481 closed

[2019-02-21 20:07] chuckha commented on #590
/close

my fault, my $PATH was not in a good state.

[2019-02-21 20:07] #590 closed

[2019-02-21 20:51] chuckha opened #592 "Document release process"
/kind documentation

Document the release process. Probably need to sync with @detiber to get all the details.

[2019-02-21 21:37] chuckha opened #593 "gcr.io/cluster-api-aws-controller:latest does not reference latest release"
/kind bug

/milestone Next
/priority important-longterm

The :latest tag should always point to the latest release. alternatively, :latest should not exist at all.

[2019-02-21 22:28] chuckha commented on #592
/lifecycle active

[2019-02-22 09:16] #592 closed

[2019-02-22 16:19] detiber commented on #593
We should probably define what we mean by latest, especially if we start looking at having different release streams (based on the vendored version of kubeadm). Ideally, I'd like for us to not even have a `latest` release outside of CI to avoid any confusion that `latest` means a particular release stream. If we do have a `latest`, then it should probably be built automatically on merges to master

[2019-02-22 16:52] chuckha commented on #593
Deleting latest tag is definitely a valid solution to this issue!

[2019-02-22 18:47] chuckha opened #601 "Gazelle warning"
/kind bug

**What steps did you take and what happened:**
During any Bazel build there is a warning:

[code]

**Anything else you would like to add:**
https://github.com/kubernetes/kubernetes/blob/master/BUILD.bazel is a symlink...

**Environment:**

/milestone Next
/priority important-longterm
/help

[2019-02-22 19:48] detiber commented on #593
Since the v0.1.0 release is finally complete, I finished up the tasks for that release by deleting all of the previous releases to avoid future confusion. As part of this I deleted the outdated image for the `latest` tag.

[2019-02-22 19:48] #593 closed

[2019-02-22 20:05] chuckha commented on #414
/assign

going to try and finish this off today

[2019-02-23 00:06] vincepri commented on #214
This should be fixed now that #596 and #579 are merged, need some testing which I'll do early next week

[2019-02-25 08:54] ashish-amarnath commented on #581
Setting the `Namespace` in the `manager.Options` I was able to restrict the CAPA controllers reconcile CAPI objects restricted to the
supplied namespace and it worked as expected. PR: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/607
By running multiple instances of the CAPA controllers with their own set of AWS credentials, it is possible to reconcile clusters in
different AWS

[2019-02-25 17:17] detiber commented on #551
/priority important-longterm

[2019-02-25 17:19] detiber commented on #519
/priority important-soon

[2019-02-25 17:50] detiber opened #608 "Restrict IAM policies further to only allow deletion (and possibly update) of resources"
/kind feature

**Describe the solution you'd like**
While we currently have our IAM policy scoped down with respect to Operations, we can further scope down the policy through the use of Conditions. In particular, we should scope down the Delete operations only to instances that are tagged with the tags we create. We should also investigate if we can further scope down other operations as well.

/

[2019-02-25 20:34] detiber opened #610 "Need to set ProviderID on common Machine objects"
/kind bug

**What steps did you take and what happened:**
Deploy a machine using cluster-api-provider-aws, the machine Spec.ProviderID field will be empty

**What did you expect to happen:**
The Spec.ProviderID field should be set with a string in the same format as is populated by Spec.ProviderID on a Node object.

/priority important-longterm
/milestone v1alpha1

[2019-02-25 20:58] vincepri commented on #610
@detiber Do you have an example for the string format?

[2019-02-25 21:07] detiber commented on #610
https://github.com/kubernetes/kubernetes/blob/30ed3b41b7b080cf37639371726a445032d5ef29/pkg/cloudprovider/providers/aws/instances.go#L48-L53

[2019-02-25 21:09] vincepri commented on #610
Could we copy the ProviderID from the Node object now that we're setting the reference?

[2019-02-25 21:09] detiber commented on #610
@vincepri as long as we can query Node objects that belong to a remote k8s cluster, since the management cluster may not be local.

[2019-02-25 22:54] vincepri opened #611 "Kustomize should use bases instead of resources"
/kind feature

**Describe the solution you'd like**
In an effort to move to support Kustomize2, @figo pointed out that there is a nice way to gain support without breaking changes, while still maintaining backward compatibility. Kustomize supports `bases`, which is a list of folders that can be a relative path (see [cluster-api](https://github.com/kubernetes-sigs/cluster-api/tree/master/config) as

[2019-02-26 00:42] randomvariable commented on #608
Have opened https://github.com/kubernetes/cloud-provider-aws/issues/33 as the cloud provider itself needs better IAM policies to make this truly effective in some scenarios.

[2019-02-26 00:49] randomvariable commented on #608
/lifecycle active

[2019-02-26 06:09] ashish-amarnath commented on #574
crumbs: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/492#issuecomment-454148926

[2019-02-26 10:13] randomvariable opened #613 "OpenAPI CRD docs"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
The CRDs now have lots of metadata, but has also become less immediately human readable.

Would be nice to publish a formatted version of these somewhere.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- C

[2019-02-26 14:28] detiber commented on #613
/milestone Next
/priority important-longterm

[2019-02-26 15:12] detiber commented on #78
/milestone Next

[2019-02-26 15:20] detiber opened #614 "Cordon and Drain nodes when deleting machines"
/kind feature

**Describe the solution you'd like**
Currently when we delete Machines we just blindly delete the underlying instance. Instead we should probably Cordon and Drain the associated Node (if possible) prior to deleting the underlying instance. This will cause less disruption to workloads that are running on the Cluster and will also provide a much cleaner path during cluster upgrades.

[2019-02-26 15:21] detiber commented on #614
/priority important-longterm
/milestone Next

[2019-02-26 16:58] #581 closed

[2019-02-26 17:36] akutz commented on #272
Hi All,

Here's a summary of the completed and outstanding work to achieve periodic e2e testing for CAPA:

1. ~~https://github.com/kubernetes/test-infra/pull/11377~~
2. ~~https://github.com/kubernetes/test-infra/pull/11395~~
3. ~~https://github.com/kubernetes/test-infra/pull/11409~~
4. ~~https://github.com/kubernetes/test-infra/pull/11425~~
5. ~~https://github.com/kubernetes/test-infra/pull/11459~

[2019-02-26 17:49] akutz commented on #272
Hi All,

Here's a summary of the completed and outstanding work towards periodic e2e testing for CAPA. This is not an exhaustive list -- only the work for which I'm responsible in case there are any issues that necessitate a revert of a merged PR. Hopefully that won't happen, but in case it does, the following PRs are a good place to start looking:

**Test-infra PRs**
- [x] boskos-client: HTTP ret

[2019-02-26 18:50] randomvariable commented on #78
On the last attempt at this, it seemed like one of the best ways for instrumenting AWS calls is to use the `WithContext` methods in the AWS SDK, and add a hook to get stats. It required opening up the HTTP requests to do well, so left it last time.

[2019-02-26 22:22] akutz commented on #272
Hi All,

I'm going offline a bit to get ready for my trip. Before I leave I will amend this issue with a list of new/existing issues that should be addressed for Phase 2 of e2e testing. Some of them Liz identified early on, such as the resource ordering and how its dependency graph complicates the janitor cleanup. I just want to make sure all of the priority concerns with respect to e2e are captur

[2019-02-27 15:15] randomvariable commented on #608
Loose consensus (n=2) is that for Cloud Provider AWS, will scope requests down to objects with the `k8s.io/cluster` tag.

Cloud Provider AWS does not currently set `k8s.io/cluster-provider-aws/managed=true`

[2019-02-27 16:32] #414 closed

[2019-02-28 17:12] ncdc commented on #271
@detiber please reassign to @akutz

[2019-02-28 17:13] detiber commented on #271
/assign @akutz

[2019-02-28 17:14] ncdc commented on #274
I think we can close this out and use #539 going forward. Let's open new issues as needed.

[2019-02-28 17:18] ncdc commented on #214
@vincepri have you had a chance to test this?

[2019-02-28 17:19] ncdc commented on #268
Let's close this as it inflates the outstanding issue count, and we have all the other individual issues that we'll need to address.

[2019-02-28 17:20] ncdc commented on #299
I'd propose that this be considered for deferring to Next if it gets down to the wire for v1alpha1.

[2019-02-28 17:23] ncdc commented on #551
@randomvariable is this still an issue? If so, what specifically needs to be addressed?

Any objection to deferring out of v1alpha1?

[2019-02-28 17:24] ncdc commented on #559
Is this fundamental for v1alpha1 or could we defer it to Next?

[2019-02-28 17:25] ncdc commented on #610
Depends on https://github.com/kubernetes-sigs/cluster-api/issues/520

[2019-02-28 17:28] ncdc commented on #610
We could consider bumping this to Next if it comes down to the wire - we don't lose any functionality if the data is not populated.

[2019-02-28 18:46] detiber commented on #268
/close

[2019-02-28 18:46] #268 closed

[2019-02-28 18:47] detiber commented on #274
/close

[2019-02-28 18:47] #274 closed

[2019-03-01 08:25] randomvariable commented on #551
The namespace changes of the controllers are cosmetic, and can be punted.

Re: the namespace or the cluster - this was more a recording of a conversation from Slack where it was deemed to be an issue. I'm of the opinion that no change is required, as moving to default brings along security issues.

[2019-03-01 08:28] randomvariable commented on #299
We got rid of make, which was the main thing.

Removing the use of gettext entirely will require changes to e2e, so if it's done now, will break #606, which will need rebasing and fixups

[2019-03-01 12:30] randomvariable commented on #551
Additionally, we should check for a consistent naming standard across the providers.

Definitely punt to next.

[2019-03-01 14:37] detiber commented on #551
/milestone Next

[2019-03-01 20:50] chuckha commented on #122
Ok it looks like we have a path forward!

https://github.com/kubernetes/k8s.io/issues/158#issuecomment-462047593

allows us to join a group and have access to a gcr bucket. We can use that for the images and we can use GitHub for the files & binaries.

/lifecycle active

I'm going to work on getting a release automated for v1alpha1

[2019-03-01 20:51] chuckha commented on #122
The eventual goal will be to learn enough to upstream it back to cluster-api

[2019-03-01 22:02] dennisme commented on #69
My team and I are particularly interested in CoreOS support and the changes needed for this. Happy to take the first swing.

[2019-03-03 00:06] randomvariable commented on #69
May be better to target Fedora Atomic, which should be using Ignition now afaik?

We'll need to take into consideration the bootstrap since we are using a kubeadm cloud-init module at the moment

[2019-03-04 16:32] dennisme commented on #69
Ah almost forgot about Atomic. I'm not seeing anything on ignition support other than feature requests. https://www.redhat.com/archives/anaconda-devel-list/2018-April/msg00005.html

[2019-03-04 17:51] vincepri commented on #297
/milestone Next

[2019-03-04 19:21] randomvariable commented on #69
Ah, that was the ticket I read months ago. I thought it had happen. I've pinged the ticket in Pagure.

[2019-03-04 19:38] cgwalters commented on #69
[Fedora CoreOS](https://coreos.fedoraproject.org/) will succeed Fedora Atomic Host and it will use Ignition.

[2019-03-04 22:33] jazzdan opened #620 "unable to apply addons to target cluster: EOF"
/kind bug

**What steps did you take and what happened:**
1. Followed developer workflow pairing with @chuckha
2. Ran:
[code]
3. Observed that it failed to create the cluster. The log output was:
[code]
**What did you expect to happen:**

I expected a cluster to be created.

**Anything else you would like to add:**

**Environment:**

- Cluster-api-provider-aws version:
Built with bazel off of mast

[2019-03-05 00:32] vincepri commented on #620
I've seen this same issue using an older version of KIND. I'm honestly not sure if it's related but it went away after I rebuilt KIND from master. Does this happen every time? It also seems your `kubectl` version is a little outdated.

[2019-03-05 03:55] sfzylad commented on #559
I would say it's better to have than not to. Before swirtching to `cloud-init` we logged more while running `kubeadm`. Now we can't debug joining process as effectively as before.

[2019-03-05 07:49] randomvariable commented on #559
@ncdc Not fundamental for v1alpha1. Defer to next as it was about supporting debugging.

[2019-03-05 14:08] detiber commented on #559
/milestone Next

[2019-03-05 14:37] chuckha commented on #620
we were using latest of kind

[2019-03-05 14:57] randomvariable opened #623 "Update to Go 1.12"
/kind feature
/priority important-soon
/milestone next

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
As per LWKD, Kubernetes master is now on Go 1.12, Cluster API and Cluster API AWS should be updated to match.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
PR #622 addresses this, bu

[2019-03-05 15:28] chuckha commented on #623
is `go mod` implicit in this issue or is that separate?

[2019-03-05 15:44] randomvariable commented on #623
`go mod` is separate though it is technically supported by the Go 1.12 compatible bazel rules.

[2019-03-05 16:01] randomvariable commented on #623
Probably is worth looking at switching Gazelle out for Kazel though, as that's happened in k/k https://github.com/kubernetes/repo-infra/tree/master/kazel