[2020-09-03 20:33] sedefsavas commented on #1921
/assign

[2020-09-04 01:49] moensch opened #1923 "VPN Gateway, DXG attachment, and vgw routes"
/kind feature
/area vpc

**Describe the solution you'd like**
Original slack thread: https://kubernetes.slack.com/archives/CD6U2V71N/p1599005692025400

All clusters we make are "internal only" and the VPCs are connected to a Direct Connect Gateway (DXG) via a VPN Gateway (VGW). We currently maintain a CAPA fork to handle VGW creation, attachment to DXG, and addition of extra entries to the route t

[2020-09-06 00:07] varunpurohit76 commented on #1429
@ncdc  i see that the previous person assigned to this has unassigned them from this issues.
can i take this up? although, if assigned this would be my first issue. So i would need some help and context.

[2020-09-07 13:42] richardcase commented on #1908
/assign
/lifecycle active

[2020-09-07 13:43] richardcase commented on #1877
/lifecycle active

[2020-09-07 14:00] richardcase commented on #1850
/assign
/lifecycle active

[2020-09-08 10:28] randomvariable commented on #1429
@varunpurohit76, sure you can pick it up.

If you join the Slack, we can chat in https://kubernetes.slack.com/archives/CD6U2V71N otherwise, just ping in this thread when you start the issue.

/assign @varunpurohit76

[2020-09-08 10:32] randomvariable commented on #1923
Thanks for creating the issue.

As mentioned in Slack, let's table this for the 21 Sep meeting. Will add to the agenda.

[2020-09-08 10:33] #1921 closed

[2020-09-08 12:52] richardcase commented on #1850
@rudoi - do you think we'd want to also support `aws-iam-authenticator` on the unmanaged side of the provider?

[2020-09-08 14:19] #1877 closed

[2020-09-08 14:19] #1908 closed

[2020-09-08 15:21] rudoi commented on #1850
Hmmm how do you mean?

[2020-09-08 15:21] rudoi commented on #1813
/lifecycle active

[2020-09-08 15:22] randomvariable opened #1929 "e2e tests broken with CAPI 0.3.9"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
ApplyClusterTemplateAndWaitInput struct no longer include CNIManifestPath, so e2e tests are broken.

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-a

[2020-09-08 15:29] randomvariable commented on #1929
/lifecycle active

[2020-09-08 15:36] randomvariable commented on #1929
/remove lifecycle

Will wait for #1816 to be rebased and merged. Will do 0.6.0 release on CAPI 0.3.8

[2020-09-08 15:37] randomvariable commented on #1929
/remove-lifecycle active

[2020-09-08 16:04] richardcase commented on #1850
I was thinking for people that install it and use it with an ec2 based cluster instead of eks. Probably best wait for that until someone asks for it. Will just add it to the managed side for now.

[2020-09-08 16:45] randomvariable commented on #1850
Yeah, I'd rather not force it, and it's one of the key benefits of the ec2 model is not being forced down the aws-iam-authenticator route and being able to use something like Dex & OIDC instead. It's pretty important for multi-cloud deploys.

[2020-09-08 17:26] randomvariable commented on #1813
/assign

[2020-09-09 12:41] randomvariable opened #1935 "Remove criticality from code paths using APIs not available as VPC endpoints"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

If operating in an AWS account without internet connectivity, access to AWS APIs may only be available via VPC endpoints in some environments.

In this scenario, some operations fail, e.g. cluster deletes do not succeed because ELBs cannot be listed via the Resource Tagging API, which i

[2020-09-09 12:48] randomvariable commented on #1895
This is happening frequently enough in CI that it's a release blocker

/lifecycle active

[2020-09-09 12:52] randomvariable commented on #1895
[code]

[2020-09-09 13:07] #1887 closed

[2020-09-09 13:07] #1895 closed

[2020-09-09 14:23] randomvariable commented on #1935
We should at least document the instances the cases where various APIs may not be available. What a mess...

[2020-09-09 17:56] randomvariable commented on #1895
/remove lifecycle

[2020-09-10 09:05] #1906 closed

[2020-09-10 10:02] randomvariable opened #1940 "e2e tests for AWSMachinePools"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Add e2e tests for AWSMachinePools

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2020-09-10 22:45] DheerajSShetty opened #1941 "BYO Network creates a bastion without a Public IP"
/kind bug

**What steps did you take and what happened:**
1. Created a VPC with public and private subnet, pair for each AZ
2. Used the subnet to create a cluster
3. Cluster was created successfully with control planes in different AZs
4. Bastion was created but bastion did not have a Public IP

**What did you expect to happen:**

Expected a bastion with Public IP

**Anything else you would like t

[2020-09-10 23:20] DheerajSShetty commented on #1941
Looks like the subnet created did not have `Auto-assign public IPv4 address` set to true.  I tried creating it again after setting Auto-assign public IPv4 to true and bastion had an IPv4 address

[2020-09-10 23:20] #1941 closed

[2020-09-11 06:44] richardcase opened #1942 "Change name of the template used for EKS"
/kind feature

**Describe the solution you'd like**
The template for use with EKS is currently called `cluster-template-managed.yaml` and so the flavor is `managed`. When we introduce different flavors of the EKS template in the future the flavor name may stutter if we still use `managed` and introduce a template for EKS with managed node pools...we may get `cluster-template-managed-managedpool.ya

[2020-09-11 06:44] richardcase commented on #1942
/assign
/lifecycle active

[2020-09-11 08:22] #1942 closed

[2020-09-11 14:26] #1728 closed

[2020-09-11 14:44] #1696 closed

[2020-09-11 16:09] richardcase opened #1945 "Refactor the AWSManagedControlPlane out of the main controller"
/kind feature

**Describe the solution you'd like**
Split the AWSManagedControlPlane controller (and associated functionality) out from the main manager into a separate `eks control-plane` manager. This is so it can be optionally installed (instead of using feature gates) via clustectl and can have separate IAM permissions.

**Anything else you would like to add:**
See this [discussion](https://ku

[2020-09-11 16:10] richardcase commented on #1945
/assign

[2020-09-11 16:12] richardcase commented on #1907
Stopping work on this until #1945 is complete

/remove-lifecycle active
/unassign

[2020-09-11 16:13] richardcase commented on #1945
/lifecycle active

[2020-09-11 16:35] randomvariable commented on #1813
/close

[2020-09-11 16:36] #1813 closed

[2020-09-11 19:28] gab-satchi commented on #1935
I'll take a stab at it. Haven't worked with PrivateLink before so I'll look for a way to manually test it first

/assign
/lifecycle active

[2020-09-14 07:28] varunpurohit76 commented on #1429
hi @randomvariable can you give me a little context here. does presubmits refet to [TestGrid-sig-aws-cloud-provider-aws](https://testgrid.k8s.io/sig-aws-cloud-provider-aws)?
if that's the case i see `pull-cluster-api-provider-aws-e2e` in [cluster-api-provider-aws-presubmits.yam](cluster-api-provider-aws-presubmits.yaml) running `./scripts/ci-e2e.sh` which should run e2e tests.

[2020-09-14 13:53] ncdc commented on #1429
@varunpurohit76 the tests for this repo are in this dashboard: https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-aws. I would say it might make sense to have this covered by either [pull-cluster-api-provider-aws-build](https://github.com/kubernetes/test-infra/blob/f8343b83589874eb484a7121dadcd0b69fc1c6ef/config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws

[2020-09-14 17:58] scottslowe opened #1946 "Document procedure for updating CAPA controller manager credentials"
/kind bug

**What steps did you take and what happened:**
I had to update/cycle my AWS credentials. I then needed to update the credentials being used by CAPA, but could not find any documentation on how to do so.

**What did you expect to happen:**
I expected to find documentation on how to update/edit/change the credentials that CAPA uses to interact with AWS.

**Anything else you would like to

[2020-09-14 18:00] scottslowe commented on #1946
I have worked out the procedure for changing the credentials used by the CAPA controller manager and I will work on a PR to add this information to the documentation.

[2020-09-14 19:17] randomvariable commented on #1896
/lifecycle active

[2020-09-14 19:32] randomvariable commented on #1946
Thanks Scott!
/assign @scottslowe
/lifecycle active

[2020-09-14 21:51] #1946 closed

[2020-09-15 17:11] sedefsavas commented on #1861
I started a document to brainstorm the next steps of moving the images and automating the build/publish process.

https://docs.google.com/document/d/142YzzRj2H_OWEUE03Vrw3D-XpDCWM8RviFGHT5-RBxo/edit?usp=sharing

I will bring this up during Sept 21 CAPA meeting.

cc @randomvariable @detiber @ncdc

[2020-09-15 18:20] randomvariable commented on #1861
I've two drive by comments, but will do a full read tomorrow.

[2020-09-16 12:54] felipeweb opened #1951 "Change the user-kubeconfig name"
/kind feature

To be compatible with clusterctl get kubeconfig we need to change the kubeconfigs name. more details here https://github.com/kubernetes-sigs/cluster-api/issues/3645

- [cluster-name]-user-kubeconfig to [cluster-name]-kubeconfig
- [cluster-name]-kubeconfig to  [cluster-name]-internal-kubeconfig

[2020-09-16 13:59] ncdc commented on #1951
Are you talking about the kubeconfig Secret? If so, it would be very difficult to rename it. It is a breaking contract change. There are lots of consumers using the current naming conventions.

We could consider something like adding a label to the Secret we want `clusterctl get kubeconfig` to retrieve (this would be something to discuss in the cluster-api repo).

cc @vincepri

[2020-09-16 14:04] vincepri commented on #1951
This is interesting, who's creating the "user" secret from above in this case? Is this something very specific to the EKS provider?

`clusterctl get kubeconfig` could provide the option to get a user specific secret, although I'd like to see a proposal in Cluster API to understand how we'd create the secret and with what permissions. The aim is to provide a consistent user experience across all pr

[2020-09-16 14:07] felipeweb commented on #1951
@vincepri it is specific for EKS https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/eks.md

[2020-09-16 14:13] vincepri commented on #1951
Got it, I'd suggest to use some extra documentation in the CAPI book or here and provide a kubectl command for now, we can open an upstream issue to track a larger story that would apply to all providers for v1alpha4 or later, how does that sound?

[2020-09-16 16:14] varunpurohit76 commented on #1429
hi @ncdc @randomvariable

I am planning to add e2e test build in pull-cluster-api-provider-aws-build which triggers `./scripts/ci-build.sh`
Will keep the following hierarchy in makefile for `make binaries`
binaries
  -  managers
  - clusterawsadm
  - (+) e2e

.PHONY e2e will do `ginkgo build -tags=e2e  ./test/e2e/...`

[2020-09-16 16:29] randomvariable commented on #1429
use `go` instead of `ginkgo`, but that should otherwise be sufficient :+1:

[2020-09-16 18:59] ncdc commented on #1429
I'm pretty sure you need to do `go test -c -o /dev/null ./test/e2e/...`

[2020-09-16 20:19] ncdc commented on #1935
@gab-satchi thanks! We should also try to add an e2e test for this (CAPA setup without an internet gateway).

[2020-09-16 20:24] randomvariable commented on #1935
@ncdc should go in a separate package. at most we can add an e2e test for someone to run, but can't run it in CI as we need connectivity from Prow.

[2020-09-17 16:04] CecileRobertMichon commented on #1940
this will help https://github.com/kubernetes-sigs/cluster-api/pull/3506

[2020-09-17 20:52] gab-satchi commented on #1871
/assign

[2020-09-18 07:34] richardcase commented on #1951
@vincepri @felipeweb - we need the 2 kubeconfigs for the EKS side of the provider. The kubeconfig that a user needs to use to connect uses the `aws-iam-authenticator` or `aws cli` binary to generate the token and this caused a problem from capi when it used the kubeconfig as the binary didn't doesn't exist in the capi images so we created. So we decided to create 2 separate kubeconfigs and documen

[2020-09-18 13:23] richardcase opened #1954 "Error adding node with `eks` flavor"
/kind bug

**What steps did you take and what happened:**
Created a kind cluster, did `tilt up` with a tilt config that enabled the aws and eks-bootstratp providers. Then used the [cluster-template-eks.yaml](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/templates/cluster-template-eks.yaml) to create a workload cluster.

The EKS cluster is created and other AWS resources l

[2020-09-18 13:23] richardcase commented on #1954
/assign
/lifecycle active

[2020-09-18 17:45] richardcase opened #1955 "Node EC2 Instance isn't available via SSM"
/kind bug

**What steps did you take and what happened:**
Created a kind management cluster, init with the aws, eks-boostrap providers then created a cluster using the `eks` template flavor. Then tried to connect to the created EC2 instance for the node using the [SSM notes in the docs](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/accessing-instances.md#accessing-no

[2020-09-19 04:59] richardcase opened #1956 "Creating a bastion with the `eks` flavor fails"
/kind bug

**What steps did you take and what happened:**
Create a kind cluster, init the aws and eks-bootstrap providers. Render the `eks` flavour (i.e. cluster-template-eks.yaml) and then add fields to enable the bastion. For example the **AWSManagedControlPlane** definition should look like this:

[code]

When this is applied reconciliation of the **AWSManagedControlPlane** fails with the follo

[2020-09-19 05:00] richardcase commented on #1956
/assign
/lifecycle active

[2020-09-20 16:26] richardcase opened #1958 "AWSCluster defaults/validation are not applied in the managed side"
/kind bug

**What steps did you take and what happened:**
The defaults/validation that are done as part of the [AWSCluster webhook](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/api/v1alpha3/awscluster_webhook.go) aren't applied to the managed/eks side of the provider. For example if you enable a bastion in the **AWSManagedControlPlane** spec then the default for the Allo

[2020-09-20 16:27] richardcase commented on #1958
/assign
/lifecycle active

[2020-09-21 12:57] richardcase commented on #1954
Initial issue is that the `nodes.cluster-api-provider-aws.sigs.k8s.io` policy needs ` eks:DescribeCluster` permission to the cluster.

[2020-09-21 15:28] richardcase commented on #1954
I have this working manually and will add code to fix

[2020-09-21 15:48] richardcase commented on #1954
As well as the IAM issue this is caused by the `aws-auth` configmap not existing and therefore the kubelet isn't authorized to join. It needs to exist with a mapping for each node. For example:
[code]
This part will be fixed by doing  #1850

[2020-09-21 17:28] ncdc commented on #1899
See https://github.com/kubernetes-sigs/cluster-api/pull/3528

[2020-09-21 17:29] randomvariable commented on #1899
Upstream PR https://github.com/kubernetes-sigs/cluster-api/pull/3668 has discussion on how we can do this in CAPI such  that nothing needs to be done here.

[2020-09-22 16:56] #1429 closed

[2020-09-22 21:47] gab-satchi commented on #1893
/assign

[2020-09-23 05:01] lxlxok opened #1959 "Creating EKS cluster failed"
/kind bug

Failed to create a EKS cluster by following the [doc](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/eks.md#creating-a-eks-cluster)

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
[code]

[code]

**What did you expect to happen:**

The command successfully generate capi-eks-quickstart.yaml without return

[2020-09-23 07:18] richardcase commented on #1959
Thanks @lxlxok. A typo on my part!

The flavor name will be changing to `eks` from the 0.6.1 release

[2020-09-23 12:20] #1959 closed

[2020-09-23 12:46] #1945 closed

[2020-09-23 12:46] #1935 closed

[2020-09-23 14:39] richardcase opened #1970 "Add EKS Control Plane Provider to clusterctl"
**User Story**

As a user/operator] I would like clusterctl to support the EKS control plane provider so that i can `init` a cluster with the required providers to create EKS clusters

**Detailed Description**

Initially the EKS control plane was included in the main CAPA controller.  However, this has now been split out into its own controller. See https://github.com/kubernetes-sigs/cluster-api-p

[2020-09-23 14:53] randomvariable opened #1961 "Bump cloudbuild timeout"
Builds are failing again because of the EKS manager split out.

Need to increase timeout in cloudbuild, probably + 15 mins.

[2020-09-23 19:41] northrup opened #1964 "Documentation Update Needed for Role Assumption"
The documentation for Role Assumption appears to be out of date and referencing example files and templates that no longer exist in the repo. It is incredibly hard to follow what is happening or what should be happening between CAPA and KIAM.

[2020-09-24 01:35] northrup commented on #1964
/kind documentation

[2020-09-24 10:10] randomvariable opened #1965 "Build new AMIs"
1.19.2
1.18.9
1.17.12

[2020-09-24 10:12] randomvariable commented on #1965
1.19.2
--> centos-7: AMIs were created:
ap-northeast-1: ami-0ae81d7bd05c5a68a
ap-northeast-2: ami-0f39737b0a4313199
ap-south-1: ami-0e288ac19877c4cc8
ap-southeast-1: ami-0ab12f2e5f499d469
ap-southeast-2: ami-0b809ea883969ff1f
ca-central-1: ami-037ebe5074741072d
eu-central-1: ami-06c541f5ed5637b9a
eu-west-1: ami-01f46cfe4030734f5
eu-west-2: ami-00e9a1a4c2522ace7
eu-west-3: ami-03d3367dfa30505b3
sa-

[2020-09-24 12:05] randomvariable commented on #1964
/assign

[2020-09-24 13:34] randomvariable commented on #1965
1.18.9

==> Builds finished. The artifacts of successful builds are:
--> amazon-2: AMIs were created:
ap-northeast-1: ami-0a4fbbd0c35ed4318
ap-northeast-2: ami-0287db3d5712f1d21
ap-south-1: ami-05ca4540a50c54195
ap-southeast-1: ami-0f124b9c01fc55693
ap-southeast-2: ami-0e939a9cc4cd0b3ab
ca-central-1: ami-03c3045adeda78ce5
eu-central-1: ami-0597caad013b53b52
eu-west-1: ami-0ebfeaff2840e062e
eu-west

[2020-09-24 14:10] randomvariable opened #1968 "Holding issue for followups on MachinePool"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Making a note of non-critical issues so we can get #1860 in

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from

[2020-09-24 14:10] randomvariable commented on #1968
From @richardcase : Add support for DefaultCooldown

[2020-09-24 14:12] randomvariable commented on #1968
Add io2 as acceptable EBS volume type.

[2020-09-24 14:35] mehyedes commented on #1847
Hi @randomvariable
apologies for the belated feedback. I have just tried provisioning a new cluster with the new CentOS 7 AMI and I can confirm that it works fine 👍
Thank you for the fix

[2020-09-24 15:19] randomvariable commented on #1965
v1.17.12
--> amazon-2: AMIs were created:
ap-northeast-1: ami-0599501b843a89429
ap-northeast-2: ami-0e7240dbe751379fc
ap-south-1: ami-0e1860a6b5fd6fa7d
ap-southeast-1: ami-092458a473a49b96b
ap-southeast-2: ami-06646de301425b8c9
ca-central-1: ami-0683427753637b044
eu-central-1: ami-0c1a27e7d7fcdc09f
eu-west-1: ami-00ab67578b3704fad
eu-west-2: ami-02cf6e979a7a7ccf0
eu-west-3: ami-0c2240b5e5f81e1d4
s

[2020-09-24 17:55] randomvariable commented on #1961
Fixed in #1966

[2020-09-24 17:55] #1961 closed

[2020-09-24 18:02] randomvariable opened #1969 "Create v1alpha4 types, conversion webhooks from v1alpha3 to v1alpha4 and remove v1alpha2"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

CAPA 0.7.0 will be v1alpha4, and therefore api/v1alpha4 types need to be created, as well as conversion webhooks from v1alpha3 to v1alpha4, and the v1alpha2 types deleted.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**E

[2020-09-24 18:56] ncdc commented on #1970
Transferred!

[2020-09-24 20:15] richardcase commented on #1954
The fix for this will pave the way to help implement #1850...which will be done as a separate PR after this has merged.

[2020-09-25 06:48] richardcase commented on #1970
/assign
/lifecycle active

[2020-09-25 06:50] richardcase opened #1971 "Update EKS docs after 0.6.1 release"
/kind feature

**Describe the solution you'd like**
The docs that relate to EKS need updating after the 0.6.1 release so they are inline. For instance, the flavor for use with EKS has changed names from `managed` to `eks`.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version: 0.6.0

[2020-09-25 09:54] fabriziopandini opened #1972 "Make AWSMachine to report WaitingForControlPlane"
/kind feature

During cluster provisioning, we are observing

[code]

As you can see, the `AWSMachine` is reporting `WaitingForBootstrap` data, so the user is required to jump to the `KubeadmConfig` object in order to discover the real reason we are waiting, which is because we are still `WaitingForControlPlaneAvailable`

This issue advocates for getting the `AWSMachine` to report `WaitingForContr

[2020-09-25 10:11] #1867 closed

[2020-09-25 10:26] randomvariable commented on #1971
Was thinking about this.

What I can do is update the current release and point at a specific commit, or even the v0.6.0 version of the docs.

I think it'd be better to update the docs ahead of time, so that all the docs are correct for the version tag.

[2020-09-25 11:27] #1956 closed

[2020-09-25 11:27] #1958 closed

[2020-09-25 11:54] richardcase commented on #1971
Sounds like a plan. Will do this after #1962 ...unless its picked up before then

[2020-09-25 14:14] randomvariable commented on #1964
/lifecycle active

[2020-09-25 14:14] randomvariable commented on #1964
I'm probably going to remove the "setting up kiam" bits, as that's out of scope, and will quickly get outdated.

[2020-09-25 17:49] randomvariable commented on #1971
Updated v0.6.0 to point exactly at v0.6.0 docs

[2020-09-25 20:55] jayunit100 opened #1976 "A few suspicious logs"
/kind bug

## what is the bug

There are suspicious logs in CAPA apiserver and controller manager in the latest capa release  . These might be non-issues (conformance tests seem to hum along happily) , but they seem like they might indicate other problems which might relate to managment polling or MHC or ... So just logging my thoughts here.

*The three logs im seeing*

- "couldn't parse request u

[2020-09-25 20:56] ncdc commented on #1976
Can you gist `kubectl get cluster-api -A -o yaml` from the management cluster?

Can you gist `kubectl get pod -A -o yaml` from the workload cluster?

[2020-09-25 20:57] ncdc commented on #1976
Which log is the `Failed to watch *v1.PartialObjectMetadata` error from?

[2020-09-25 21:06] jayunit100 commented on #1976
The KCM is issuing the partial object metadata error
[code]

[2020-09-25 21:11] ncdc commented on #1976
Can you gist the full KCM log?

[2020-09-25 22:10] jayunit100 commented on #1976
https://gist.github.com/cd426e125a2355bcecfe9cf2f124a363 <- `kubectl get pod -A`

[2020-09-25 22:11] jayunit100 commented on #1976
https://gist.github.com/d835ff1165b8c0fda86b6aa8db7b6011 <--- kcm logs

[2020-09-26 01:22] fyangd opened #1977 "clusterawsadm bootstrap create-cloudformation-stack fails on multiple regions"
/kind bug

**What steps did you take and what happened:**
1. bootstrap a cloudformation stack in one region

2. try to bootstrap a cloudformation stack in a different region, results in the following failures:
[code]

Looking at the events, it show that it attempts to recreate global resources like IAM role.
[code]

**What did you expect to happen:**
An idempotent operation that either creates a n

[2020-09-26 12:44] evalsocket commented on #1668
Yes

[2020-09-26 13:14] evalsocket commented on #1746
@richardcase what should we do if validation failed. Should we skip the tag or through the error?

[2020-09-28 07:41] richardcase commented on #1746
I would say throw an error. The reason being that a lot of people rely in tags for assigning costs to different teams and without the lables it will cause headaches.

[2020-09-28 10:54] randomvariable commented on #1977
The IAM resources are global.

This requires enumerating all of the regions. Could potentially be done, but lot of possible edge cases - not all regions are available, regions may be disabled etc...

[2020-09-28 13:38] richardcase opened #1979 "Support Flatcar linux for nodes"
/kind feature

**Describe the solution you'd like**
I would like to be able to use Flatcar linux for the control plane and worker nodes with CAPA.

**Anything else you would like to add:**
Documentation for running flatcar on ec2 is [here](https://docs.flatcar-linux.org/os/booting-on-ec2/). There are existing AMIs that can be used but we'd need to think about the ignition and kubeadm config.

**En

[2020-09-28 13:41] michaelbeaumont opened #1980 "Consolidate tags reconciliation logic"
**Describe the solution you'd like**
Tags reconciliation from specs to resources is handled differently for various resources.
* The `AWSMachine` controller [handles reconciling the Spec by both adding new tags as well as deleting removed tags](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/857c11a99e42651203e0a327a30ea652cebeb4f8/pkg/cloud/services/ec2/instances.go#L614)
* Other

[2020-09-28 16:13] fyangd commented on #1977
Thanks for responding, @randomvariable.  This may not be a bug with `clusterawsadm` bootstrap operation per se, but more to enable creation of `capa` clusters in multiple regions.

Based on my current understanding, since the CloudFormation stacks are regional, this would mean a new bootstrap CloudFormation stack must be created in the new region.   However, since `clusterawsadm` recreates the glo

[2020-09-28 16:15] randomvariable commented on #1977
Nope. Since IAM resources are global, you do not need the cloudformation stack run for every single region. It only has to be run once per account. Users should choose a "management" region where the CloudFormation is updated, and that stack sets global resources.

[2020-09-28 16:23] fyangd commented on #1977
Okay got it.  I didn't realize that the bootstrap cf stack only creates global IAM resources.  I thought it creates some regions specific resources as well.  This is good to know.

I don't know if my feature requests to 'let user know to use an existing one in a different region" still stands.  If not, feel free to close this bug.

[2020-09-28 19:17] sedefsavas opened #1982 "AMI build/test/publish automation"
Based on the feedbacks in https://docs.google.com/document/d/142YzzRj2H_OWEUE03Vrw3D-XpDCWM8RviFGHT5-RBxo/edit?usp=sharing:

An AMI-version.yaml will be added to the CAPA repository that contains all Kubernetes releases that CAPA AMIs are created from.
 `AMI-version.yaml` can be similar to:
[code]

Aso, a `CAPA-robot` similar to k8s-release-robot will be created to automatically create PRs when th

[2020-09-28 19:17] sedefsavas commented on #1982
cc @randomvariable @detiber

[2020-09-28 20:40] randomvariable commented on #1968
Review cluster pause attributes

[2020-09-28 21:46] #1870 closed

[2020-09-28 21:46] #1954 closed

[2020-09-29 09:08] richardcase commented on #1968
- Add comment/validation to VersionNumber in AWSLauncgTemplate
- Check whether additional SG is needed for bastion access to the node - [see discussion]( https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1860#discussion_r496555444_)

[2020-09-29 09:36] randomvariable commented on #1968
Check if tags are being used and remove from exp api if unneeded.

[2020-09-29 09:37] #1784 closed

[2020-09-29 09:39] randomvariable opened #1983 "Add e2e test for AWSMachinePools"
/kind feature
/help

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

AWSMachinePools was added in #1860. Add e2e test to ensure correct functioning.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version: 0.6.1
- Kubernetes version: (use `k

[2020-09-29 09:41] randomvariable opened #1984 "AWSMachinePool should accept io2 EBS volume type"
/kind bug
/help
/good-first-issue

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
AWSMachinePoool has validation on EBS volume types. This should include io2.

**What did you expect to happen:**
Can use io2 volume type

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

[2020-09-29 09:45] randomvariable opened #1985 "Connectivity between bastions and AWSMachinePool nodes may not work"
/kind bug
/help

Breaking out of #1968

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

A check may need to be added to ec2.GetCoreNodeSecurityGroups to ensure that when running in EKS, the bastion security group gets added.

[code]

**What did you expect to happen:**
Can connect from bastion to machine pool instance.

**Anything else you would

[2020-09-29 09:46] randomvariable opened #1986 "Version field in AWSLaunchTemplate spec is missing comments/validation"
/kind feature
/help
/good-first-issue

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Add validation and/or comments to version field in AWSLaunchTemplate spec

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (

[2020-09-29 09:46] randomvariable commented on #1986
Broken out of #1968

[2020-09-29 09:48] randomvariable opened #1987 "Add support for DefaultCooldown options to AWSMachinePool"
/kind feature
/help

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Broken out of #1968

Add support for configuring cooldowns https://docs.aws.amazon.com/autoscaling/ec2/userguide/Cooldown.html to AWSMachinePool

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Clus

[2020-09-29 09:53] randomvariable opened #1988 "Verify Tags struct is required in exp AWSMachinePools API"
/kind bug

Broken out of #1968

Tags struct in exp API may be redundant. Verify and remove if needed.

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2020-09-29 09:54] randomvariable opened #1989 "Verify pause attributes are respected in AWSMachinePool"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Broken out of #1968

Ensure that AWSMachinePool controller respects pause attributes as per CAPI spec.

**What did you expect to happen:**
Can use `clusterctl move` successfully

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2020-09-29 09:54] randomvariable commented on #1968
Created separate issues for all of these, so can now.

/close

[2020-09-29 09:54] #1968 closed

[2020-09-29 10:21] #1893 closed

[2020-09-29 14:02] ncdc commented on #1976
@jayunit100 if you can reproduce this, please let us know, and we'll see about triaging it together with a screenshare.

/priority awaiting-more-evidence
/milestone Next

[2020-09-29 14:06] ncdc commented on #1979
See also https://github.com/kubernetes-sigs/image-builder/pull/248 and https://github.com/kubernetes-sigs/cluster-api/pull/3437

[2020-09-29 14:32] michaelbeaumont opened #1990 "Default remote access security groups/bastion host for AWSManagedMachinePool"
/kind feature
/kind cleanup
[code]

This feels like a very dangerous default to me.

Appreciate thats the [default behavior of the SDK](https://docs.aws.amazon.com/sdk-for-go/api/service/eks/#RemoteAccessConfig) but feels like we could protect the user a bit better.

Perhaps for a follow up issue?

_Originally posted by @richardcase in https://github.com/kubernetes-sigs/cluster-api-provider-aws/pu

[2020-09-29 14:53] randomvariable commented on #1990
only comment is yowch

[2020-09-30 14:29] richardcase commented on #1907
As the node issue has been fixed:

/assign
/lifecycle active

[2020-09-30 15:45] randomvariable commented on #1534
Given we have issues for all of these, and a lot of these are done, going to close this one as it's not useful for milestone tracking.

/close

[2020-09-30 15:45] #1534 closed

[2020-09-30 15:47] randomvariable commented on #1715
Fixed in #1931

[2020-09-30 15:48] #1715 closed

[2020-09-30 17:01] #1965 closed

[2020-09-30 17:59] randomvariable opened #1993 "Test if experimentalRetryJoin still needed for K8s 1.19+"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Run some e2e tests and see if experimentalRetryJoin is still needed as per https://kubernetes.slack.com/archives/C8TSNPY4T/p1601486982126900

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-pro

[2020-09-30 21:14] #1855 closed

[2020-10-01 14:24] #1970 closed

[2020-10-01 15:49] HerrmannHinz commented on #1484
another use/corner case maybe: transit gateway peerings

we spin up clusters per default with internal loadbalancers only:

to make them available to the corp intranet/vpn users we are doing some transit gateway peering afterwards to make it:

- available to the internal network/routing
- ensure visibility  to other parts of the infrastructure(ci/cd) in different aws accounts
- enable the new clus

[2020-10-01 17:15] #1971 closed

[2020-10-01 17:42] randomvariable opened #1999 "Figure out how to validate kubebuilder validations (regex particularly)"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Regexes are painful, but they're part of the kubebuilder validations.
We don't yet have tests for them, but we should.

Probably involves setting up envtest with the webhooks, creating resources and testing the result.

**Anything else you would like to add:**
[Miscellaneous informatio

[2020-10-01 17:50] randomvariable commented on #1722
Fixed in #1860

[2020-10-01 17:50] #1722 closed

[2020-10-01 18:06] randomvariable commented on #1885
More likely we want CAPA to explicitly set this, especially as we also need this info for scale from zero in Cluster Autoscaler.

[2020-10-02 06:53] richardcase opened #2001 "Remove unused allow additional roles feature flag related code"
/kind feature
/kind cleanup
/area provider/eks
/help
/good-first-issue

**Describe the solution you'd like**
In the main.go of the core manager there is code to get the value of the EKSAllowAddRoles feature flag. This doesn't appear to be used in this manager anymore and can be removed:

[code]

Along with any related setting of this in the manager.yaml:

[code]

**Anything else you would like to

[2020-10-02 06:54] richardcase commented on #2001
/area provider/eks

[2020-10-02 07:31] #1882 closed

[2020-10-02 10:01] Evalle commented on #2001
I think I can help with this
/assign
Will wait for https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1916 to be merged

[2020-10-02 10:09] #1785 closed

[2020-10-02 10:09] #1850 closed

[2020-10-02 13:03] randomvariable opened #2003 "Add prow test for docker image build"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2020-10-02 13:05] randomvariable opened #2004 "Move IAM API types from /cmd/clusterawsadm/api to /api in v1alpha4"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Since IAM types are now consumed by the controllers, the API group should "graduate" from /cmd/clusterawsadm/api/iam/v1alpha1 to /api/v1alpha4/iam

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-a

[2020-10-03 08:53] arghya88 commented on #1987
/assign

[2020-10-03 14:02] arghya88 commented on #1983
/assign

[2020-10-03 14:09] arghya88 commented on #1983
/lifecycle active

[2020-10-03 14:10] arghya88 commented on #1987
/lifecycle active

[2020-10-05 15:30] voor opened #2008 "Existing Load Balancer Adoption ignores controlPlaneLoadBalancer.scheme"
/kind bug

**What steps did you take and what happened:**
Quirky little bug, if you create a cluster with an internal load balancer, then destroy that cluster, but keep the load balancer, then the next cluster that comes along -- even if it has an external load balancer will see that internal load balancer and keep it, thereby creating the cluster with an internal load balancer even if that was no

[2020-10-05 15:43] richardcase opened #2009 "Option to use bottlerocket AMI's for EKS nodes"
/kind feature

**Describe the solution you'd like**
I would like an option to be able to use Bottlerocket for machine nodes for an EKS based cluster. I could manually specify the AMIs but ideally i should be able to specify i want bottlerocket and it should then lookup which AMIs to use for the nodes.

**Anything else you would like to add:**
See the docs [here](https://github.com/bottlerocket-os/

[2020-10-05 16:17] arghya88 commented on #1984
@randomvariable so it just matter of adding it in `kubebuilder:validation` ?

[2020-10-05 16:18] randomvariable commented on #1984
Yup

[2020-10-05 17:03] arghya88 commented on #1984
/assign

[2020-10-06 03:26] arghya88 commented on #1984
/lifecycle-active

[2020-10-06 03:28] arghya88 commented on #1984
/lifecycle active

[2020-10-06 21:06] #1984 closed

[2020-10-07 17:58] shysank commented on #1840
/assign

[2020-10-08 12:55] randomvariable opened #2016 "e2e flake around spot instances"
Hitting flake in e2e: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-cluster-api-provider-aws-e2e/1313846729568686080

Maybe is this:

[code]

[2020-10-12 14:52] randomvariable opened #2019 "Define existing VPC contract and add tests for it"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2020-10-12 21:47] #1700 closed

[2020-10-13 09:43] arghya88 opened #2020 "Use `kerrors.NewAggregate` in all webhooks"
/kind cleanup

As an example https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/exp/api/v1alpha3/awsmanagedmachinepool_webhook.go#L71

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2020-10-13 09:43] arghya88 commented on #2020
/assign

[2020-10-13 14:42] Evalle commented on #2001
@richardcase Hey Richard. I can see `allowAddRoles` in:
- https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/main.go#L165
- https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/controlplane/eks/main.go#L143
Should I delete it in both locations? Thanks!

[2020-10-13 17:48] dthorsen opened #2022 "AWSMachinePool does not work in combination with cluster-autoscaler"
/kind bug

**What steps did you take and what happened:**

- Create a workload cluster with the experimental EKS Control Plane
- Create a MachinePool without specifying replicas and create associated AWSMachinePool resources.
- Install cluster-autoscaler and configure it to autoscale the autoscaling group managed by the AWSMachinePool
- Create a deployment that will trigger cluster-autoscaler to s

[2020-10-13 17:59] richardcase commented on #2001
@Evalle - thanks for working on this. It needs removing only from [https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/main.go#L165](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/main.go#L165) with is for the main manager.

The functionality that `EKSAllowAddRoles` relates to was refactored from the main manager to the controlplane.

Additionally the `

[2020-10-13 18:39] dthorsen opened #2023 "AWSMachinePool does not drain nodes during scale-in"
/kind bug

**What steps did you take and what happened:**
- Create a workload cluster with the experimental EKS Control Plane.
- Create a MachinePool with `replicas: 5` and create the associated AWSMachinePool resources. (Note: this AWSMachinePool is not managed by cluster-autoscaler)
- Create a deployment and scale it such that some pods fall on all machines
- Create a PDB protecting the deployme

[2020-10-14 02:37] tmaxjmc opened #2025 "Controller does not properly filter update events"
/kind bug

**What steps did you take and what happened:**
All controller's code has "SetupWithManager-WithEventFilter-predicate.Funcs-UpdateFunc" to prevent incremental status updates. that code is written by

  oldMachine := e.ObjectOld.(*infrav1.AWSMachine).DeepCopy()
  newMachine := e.ObjectNew.(*infrav1.AWSMachine).DeepCopy()

  oldMachine.Status = infrav1.AWSMachineStatus{}
  newMachine.Statu

[2020-10-14 02:40] tmaxjmc commented on #2025
I found this bug, i can fix this bug in today

[2020-10-14 08:10] richardcase opened #2029 "Create a eks-machinepool flavor"
/kind feature
/area provider/eks
/help
/good-first-issue

**Describe the solution you'd like**
We should create a new template for a `eks-machinepool` flavor. This is so users can use clusterctl to create an EKS cluster that uses a machine pool. For example:

[code]

This will invlove creating the template file and also updating the makefile to copy the template to the out folder and updating the

[2020-10-14 09:19] #1986 closed

[2020-10-14 09:20] #1987 closed

[2020-10-14 09:35] randomvariable commented on #2022
I'm not sure this is a bug actually, there's going to be a clash of behaviour here.

I think you'll want to use the Cluster API variant of Cluster Autoscaler? @benmoss is more knowledgeable in this area.

[2020-10-14 09:40] randomvariable commented on #2020
Thanks for picking this one up. I meant to create an issue.

[2020-10-14 09:40] randomvariable commented on #2020
If you're starting work on this, could you drop a
`/lifecycle active` as a comment?

[2020-10-14 09:42] randomvariable commented on #2020
Also, as you're doing a fair few contributions, you may want to apply for membership of kubernetes-sigs at https://github.com/kubernetes/org/issues/new?assignees=&labels=area%2Fgithub-membership&template=membership.md&title=REQUEST%3A+New+membership+for+%3Cyour-GH-handle%3E at some point.
Would be happy to sponsor.

[2020-10-14 09:59] arghya88 commented on #2020
@randomvariable Yes I am planning to apply for the membership.

[2020-10-14 09:59] arghya88 commented on #2020
/lifecycle active

[2020-10-14 10:01] #1668 closed

[2020-10-14 10:02] #1840 closed

[2020-10-14 14:37] Evalle commented on #2001
Thanks a lot for the nice explanation!

[2020-10-14 14:39] randomvariable commented on #1723
/help

[2020-10-14 14:53] arghya88 commented on #1723
@randomvariable so what is the scope of this ? We remove the filter functionality for all the AWS resources?

[2020-10-14 14:57] randomvariable commented on #1723
@arghya88 Don't remove the filter in v1alpha3 as that's an API change, but we should return an error that it's not implemented only on resource creation.

[2020-10-14 15:08] arghya88 commented on #1723
@randomvariable sounds good..will work on this.

/assign
/lifecycle active

[2020-10-14 15:29] #1900 closed

[2020-10-14 19:00] dthorsen commented on #2022
@randomvariable There is indeed a clash of behavior. I listed it as a bug because it failed to operate in the manner we originally designed due to the fact that the MachinePool replicas can't really be nil. The original thought being, if you don't set replicas at all, then CAPA won't manage replicas/DesiredInstances. If you want CAPA to manage them, then you set replicas. That seemed like a sensib

[2020-10-14 19:02] randomvariable commented on #2022
Interesting data point for @elmiko too here.

[2020-10-14 19:16] elmiko commented on #2022
thanks for the ping @randomvariable , an interesting issue for sure.

i agree with @randomvariable , there is a clash happening between the MachinePool and the way the cluster-autoscaler is attempting to scale. i don't know the MachinePool mechanics very well, but from the cluster-autoscaler side the capi provider attempts to manipulate the MachineSet and MachineDeployment replicas when it wants t

[2020-10-14 19:22] dthorsen commented on #2022
That is correct @elmiko, this behavior is observed when operating cluster-autoscaler with the AWS provider, not the CAPI provider. In our local installation we have worked around this for now by simply telling CAPA not to react to replicas as long as replicas is set to 1. This allows cluster-autoscaler to work, so if we had a field in the AWSMachinePool spec to more properly ignore replicas, that

[2020-10-14 19:24] elmiko commented on #2022
that makes sense @dthorsen, seems like this is really a feature request to add something that will ignore the replicas in this type of situation.

[2020-10-14 19:28] benmoss commented on #2022
I don't really understand this, why does the AWSMachinePool controller keep changing `DesiredInstances`? It's not clear this is an autoscaler bug, seems more appropriate to file it against CAPA.

[2020-10-14 19:31] dthorsen commented on #2022
@benmoss This bug is filed against CAPA, not cluster-autoscaler.

@elmiko I am OK with changing it to a CAPA feature request instead of a CAPA bug if that is based on the context provided. I only listed it as bug because it did not behave as we initially designed it.

[2020-10-14 20:09] dthorsen commented on #2022
/kind feature

[2020-10-14 20:10] dthorsen commented on #2022
/remove-kind bug

[2020-10-15 15:03] benmoss commented on #2022
Hah, my mistake 😸

[2020-10-16 01:31] kkeshavamurthy commented on #2029
I'll give this a try.
/assign

[2020-10-16 06:40] arghya88 commented on #2029
/lifecycle-active

[2020-10-16 06:40] arghya88 commented on #2029
/lifecycle active

[2020-10-16 07:39] richardcase commented on #2029
@kkeshavamurthy - reach out here or on slack if you need anything and thanks for working on this.

[2020-10-16 09:55] randomvariable opened #2039 "New AMI time"
v1.18.10
v1.17.13
v1.19.3

I actually built the v1.19.3 but forgot to log the AMI ids :(

[2020-10-16 17:24] randomvariable opened #2040 "Add command to clusterawsadm to list AMIs"
/kind feature

**Describe the solution you'd like**
Instead of updating docs/amis.md every time, add a command to clusterawsadm to list the available AMIs, add flags to query by distribution, architecture (i.e. amd64 vs. arm64 (when we support it)) and kubernetes version.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

[2020-10-16 17:24] randomvariable commented on #2040
/help

[2020-10-16 17:26] randomvariable opened #2041 "Add copy AMI command to clusterawsadm"
/kind feature

**Describe the solution you'd like**
As a cluster operator, I want to use pre-built AMIs, but enable KMS encryption on instances.
I therefore would like an easy way to copy the pre-built AMI into my account.

Add a command to copy a pre-built AMI to a target account,

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Envir

[2020-10-16 17:29] #1838 closed

[2020-10-16 17:44] kkeshavamurthy commented on #2029
@richardcase, Thanks I definitely will. Initially I thought I was supposed to do the flavor for eks-machinepool (Managed), hadn't noticed that it was already done. I'm not sure what unmanaged eks machinepool flavor looks like. I'll look into it a bit more. Any pointers would be very useful.

[2020-10-16 17:49] richardcase commented on #2029
The API definition for AWSMachinePool is here: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/exp/api/v1alpha3/awsmachinepool_types.go#L145

I think the falvor should have the minimum set of fields.

[2020-10-16 18:01] richardcase opened #2042 "Creating a cluster with the `eks-managedmachinepool` flavor fails"
/kind bug
/area provider/eks

**What steps did you take and what happened:**
I have created a kind cluster and installed the 0.6.1 version of CAPA. I then create a workload cluster using the `eks-managedmachinepool` flavor using:

[code]
The control plane is created correctly but the EKS managed node group is never created and the following can be seen in filt from the controller logs:

[code]

**

[2020-10-16 18:01] richardcase commented on #2042
/assign
/lifecycle active

[2020-10-16 18:03] richardcase commented on #2042
Looking at CloudTrail i can see:

[code]

[2020-10-16 18:05] richardcase commented on #2042
And on further testing:

[code]

[2020-10-16 18:06] richardcase commented on #2042
I have it working :man_dancing:

[2020-10-17 08:21] arghya88 commented on #1723
Waiting for #2032 to be merged in.

cc @randomvariable

[2020-10-19 13:04] richardcase opened #2045 "AWSMachinePool webhook not registered"
/kind bug
/area provider/eks

**What steps did you take and what happened:**
When deploying CAPA the AWSMachinePool webhook isn't registered even thought i have set the `EXP_MACHINE_POOL` environment variable to true.

**What did you expect to happen:**
I expect the webhooks to be registered for AWSMachinePool

**Environment:**

- Cluster-api-provider-aws version: 0.6.1

[2020-10-19 13:04] richardcase commented on #2045
/assign
/lifecycle active

[2020-10-19 14:00] MarcusNoble opened #2047 "AWSMachinePool - Subnets aren't fetched using filter"
/kind bug

**What steps did you take and what happened:**
When using `AWSMachinePool` you're required to specify the `Subnets` property in the spec otherwise the ASG fails to create. This value is typed as `infrav1.AWSResourceReference` which provides the ability to specify using IDs, ARNs or Filters but the `AWSMachinePool` only uses ID for subnets.

**What did you expect to happen:**
The `Filter

[2020-10-19 15:05] richardcase commented on #2047
I agree, if no subnets are supplied it should fall back to the subnets on the **AWSCluster** or **AWSManagedControlPlane**

[2020-10-20 06:49] arghya88 commented on #2025
/assign @tmaxjmc

[2020-10-20 06:50] arghya88 commented on #2025
/lifecycle active

[2020-10-20 10:22] MarcusNoble opened #2053 "Support using IAM for Service Accounts on the management cluster components"
/kind feature

**Describe the solution you'd like**
Add the ability to make use of [IAM for Service Accounts](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html) as an alternative to providing credentials (Access key and secret from the `AWS_B64ENCODED_CREDENTIALS` env var) for the management components to make use of.

**Anything else you would like to add:**
N/A

[2020-10-20 10:48] richardcase commented on #2053
This is something that @michaelbeaumont  and me discussed previously....this would be really good to add.

[2020-10-20 11:40] michaelbeaumont commented on #2053
There was also [a short discussion with @randomvariable](https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1916#discussion_r494905820) in the AWSManagedMachinePool PR.

[2020-10-20 12:21] michaelbeaumont opened #2054 "Support for IAM roles for service account setup in workload cluster"
/kind feature

**Describe the solution you'd like**
This provider should take care of [the steps outlined in the AWS docs for setting up IRSA](https://aws.amazon.com/blogs/opensource/introducing-fine-grained-iam-roles-service-accounts/).

Suggesting:

[code]

and the issuer URL and OIDC provider ARN (or even the entire trust policy?) can be made available on `status` so that users can create the r

[2020-10-20 12:32] michaelbeaumont commented on #2054
/assign

[2020-10-20 12:36] michaelbeaumont opened #2055 "AWSManagedMachinePool - Launch Template support"
/kind feature

**Describe the solution you'd like**
The managed EKS nodegroups backing AWSManagedMachinePool [support launch templates](https://aws.amazon.com/blogs/containers/introducing-launch-template-and-custom-ami-support-in-amazon-eks-managed-node-groups/). This functionality was put on hold until both the `AWSMachinePools` and `AWSManagedMachinePools` support was merged.

**Anything else yo

[2020-10-20 12:37] michaelbeaumont commented on #2055
/assign
/lifecycle active

[2020-10-20 14:02] MarcusNoble opened #2056 "Support AMI lookup when using EKS"
/kind feature

**Describe the solution you'd like**
(This applies to both AWSMachines and AWSMachinePools)
When using EKS you can either specify the ID of the AMI to use for instances or it will lookup the appropriate AWS-provided EKS image. Currently the use of `imageLookupFormat`, `imageLookupOrg` etc. are ignored when using an EKS control plane. Additionally, the `Filters` and `ARN` properties

[2020-10-20 20:51] michaelbeaumont commented on #2054
For each service account + IAM policies combination that a user needs, they have [to create an IAM role and add a trust policy document](https://docs.aws.amazon.com/eks/latest/userguide/create-service-account-iam-policy-and-role.html#create-service-account-iam-role), which is unique to the service account + provider ARN/URL.

Some ideas discussed by @richardcase and I on how to make using the crea

[2020-10-21 00:55] DheerajSShetty opened #2059 "v1alpha2/v1alpha3 skew - Bastion does not have Public IP in AWSCluster status"
/kind bug

**What steps did you take and what happened:**
1. Applied v1alpha3 webhooks and CRDs on a management cluster
2. Created a cluster using v1alpha2 controllers CAPA 0.4.10 and CAPI 0.2.11 and CABPK 0.1.7
3. Cluster creation was successful.
4. Bastion was created in AWS, with Public IP.

**What happened:**
The AWSCluster status did not have the Public IP of the bastion. The instance state w

[2020-10-21 16:10] ncdc commented on #2059
@DheerajSShetty

What command/API version did you use when you saw this? Could you please share the full AWSCluster yaml?

[2020-10-21 16:20] rudoi opened #2060 "ssh key validation regex is too restrictive"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

created an AWSMachine with an ssh key with an underscore in the name, got denied by webhook.

**What did you expect to happen:**

it should work, as I believe all ascii characters should work for ssh key name:

https://docs.aws.amazon.com/cli/latest/reference/ec2/create-key-pair.html

*

[2020-10-21 16:59] ncdc commented on #2059
cc @sedefsavas

[2020-10-21 17:29] sedefsavas opened #2061 "[e2e] Add cluster-template-conformance-ci-artifacts.yaml to e2e_conf.yaml"
/kind bug

e2e conformance test is using `cluster-template-conformance-ci-artifacts.yaml` which is generated under `_artifacts/templates/`, but is not added to e2e_conf.yaml as sourcepath.

Related issue: https://github.com/kubernetes/kubernetes/issues/95730

[2020-10-21 17:30] DheerajSShetty commented on #2059
Initially I did a  `kubectl get cluster-api`, I saw the old clusters had BASTION IP
[code]

I did a `kubectl get awscluster.infrastructure.cluster.x-k8s.io/01en2a6h2ae7vm2nzt50gw5n8t` which shows objects in v1alpha3 format, and `kubectl get awscluster.v1alpha2.infrastructure.cluster.x-k8s.io/01en2a6h2ae7vm2nzt50gw5n8t`

Attaching the awscluster yaml of v1alpha2 type.
[v1alpha2-cluster.log](https:/

[2020-10-21 17:38] ncdc commented on #2059
Can you share the conversion data instead of redacting it? Feel free to redact anything sensitive.

[2020-10-21 17:38] fabriziopandini commented on #2061
If this file is generated before the e2e test run (e.g. by some script), you can add it to your e2e configuration
Otherwise, I see two options:
- generate the file under the repository/provider/version folder
- make the apply template file to read a file from a different location, which is currently supported by clusterctl, but not exposed by the current helper

[2020-10-21 17:43] sedefsavas commented on #2061
It is generated during e2e tests.
For the first option we may need to pass a path here https://github.com/kubernetes-sigs/cluster-api/blob/169440de58bb676909af1e400f8cede84d0120fb/test/framework/kubernetesversions/template.go#L59

[2020-10-21 17:50] DheerajSShetty commented on #2059
[01en2a6h2ae7vm2nzt50gw5n8t-alpha2.log](https://github.com/kubernetes-sigs/cluster-api-provider-aws/files/5417824/01en2a6h2ae7vm2nzt50gw5n8t-alpha2.log)

[2020-10-21 17:57] ncdc commented on #2059
What APIVersion did you use in your client when creating `01en2a6h2ae7vm2nzt50gw5n8t` - was that v1alpha2?

Can you gist the CAPA pod logs from when you created that cluster?

[2020-10-21 19:32] sedefsavas opened #2063 "[docs] Some links in introduction page is not working"
/kind bug

**What steps did you take and what happened:**
Clicking amis and eks from https://cluster-api-aws.sigs.k8s.io/ doesn't direct to the correct page.

1)  https://cluster-api-aws.sigs.k8s.io/docs/amis.html
2) https://cluster-api-aws.sigs.k8s.io/docs/eks.html

[2020-10-21 19:56] #2025 closed

[2020-10-21 20:34] fabriziopandini commented on #2061
I don't have a full picture of how this code works, but it looks like you can pass the path as artifact directory

[2020-10-21 20:43] sedefsavas commented on #2061
Yes, and artifacts path is an environment variable, so adding this path to the config.yaml as sourcePath is the problem.

[2020-10-22 00:27] dlipovetsky opened #2064 "AWSMachineTemplate defaulting and validation for `spec.cloudInit.insecureSkipSecretsManager` are in conflict"
/kind bug

**What steps did you take and what happened:**

The AWSMachineTemplate defaulting webhook [sets `spec.cloudInit.secureSecretsBackend` to `secrets-manager`](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/16515f764e272018be1cf0a56c2ea7c64468a508/api/v1alpha3/awsmachine_webhook.go#L179) if it is not specified, even when  `spec.cloudInit.insecureSkipSecretsManager` is set

[2020-10-22 00:28] dlipovetsky commented on #2064
(I am using CAPA v0.6.1, but the relevant code appears to be unchanged in master.)

[2020-10-22 01:30] DheerajSShetty commented on #2059
Yes , I used v1alpha2 client for cluster creation. Looks like the pod got restarted and I dont have the logs for cluster creation.
Meanwhile I can create another cluster and share the awscluster yaml and creation logs

[2020-10-22 07:35] fabriziopandini commented on #2061
If you pass the target path as a input for this func https://github.com/kubernetes-sigs/cluster-api/blob/169440de58bb676909af1e400f8cede84d0120fb/test/framework/kubernetesversions/template.go#L37 this will override the env variable. happy to zoom about this if you think it will help

[2020-10-22 09:11] MarcusNoble opened #2065 "[EKS] Support secondary CIDR"
/kind feature

**Describe the solution you'd like**
The ability to create workload clusters on EKS that make use of secondary CIDR ranges (`AWS_VPC_K8S_CNI_CUSTOM_NETWORK_CFG` in [amazon-vpc-cni-k8s](https://github.com/aws/amazon-vpc-cni-k8s/)) to avoid the need of large IP allocation while still having worker nodes that a routeable over DirectConnect.

Ideally this should also be supported when u

[2020-10-22 09:19] richardcase commented on #2065
/area provider/eks

[2020-10-22 14:02] ncdc commented on #2059
Thanks. What image tag did you install for the webhooks deployment?

[2020-10-22 16:36] sedefsavas commented on #2059
@DheerajSShetty Can you confirm if my understanding is correct?

**The old cluster case (which shows public IP):**
Created v1alpha2 object that is stored as v1alpha2, works after upgrading to v1alpha3.

_Conversions happening_: v1alpha2(first created and stored)  --> v1alpha2(read by controller and processed)--> v1alpha3 (read by kubectl)
So v1alpha2-->v1alpha3 conversion works.

**The new cluster

[2020-10-22 17:18] sedefsavas commented on #2061
@fabriziopandini Opened a PR to show what I mean. Passing artifacts path but since that is a variable set in Makefile, cannot use it directly in e2e_conf.yaml, because we don't do variable parsing on the sourcePaths.

[2020-10-22 17:40] DheerajSShetty commented on #2059
I am using CAPA 0.6.0 webhook, CAPI 0.3.10 webhook

[2020-10-22 17:49] DheerajSShetty commented on #2059
That is right.

I tried curling to apiserver endpoint by running a kubectl proxy, just to see if changing the value of instancestate works.

I tried curling on v1alpha2 type, this did not store the status as running
[code]

This one stored the intancestate as running
[code]

Is that a good way to test the conversion?

[2020-10-22 19:19] fabriziopandini commented on #2061
My idea was the other way around
To make `GenerateCIArtifactsInjectedTemplateForDebian`  to generate the template under  `_artifacts/repository/infrastructure-aws/v0.X.y/` by setting the artifacts path [here](
https://github.com/kubernetes-sigs/cluster-api/blob/169440de58bb676909af1e400f8cede84d0120fb/test/framework/kubernetesversions/template.go#L37)

[2020-10-23 01:48] sedefsavas commented on #2061
Solved by https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2018

[2020-10-23 01:48] #2061 closed

[2020-10-23 06:21] MarcusNoble commented on #808
#969 seems to answer this question, is this issue still relevant?

[2020-10-23 08:15] MarcusNoble commented on #2054
@michaelbeaumont I'd like to try and tackle this if noone else already is.

Is your suggestion for `associateOIDCProvider` to go on AWSCluster/AWSManagedCluster or on AWSControlPlane/AWSManagedControlPlane?

My current understanding of whats needed:
* Add reconcile logic for creating/updating/deleting the IAM Identity Provider
* Associate it with the cluster
* Update status to include the details

[2020-10-23 09:20] michaelbeaumont commented on #2054
@MarcusNoble I'd already [started work on it](https://github.com/michaelbeaumont/cluster-api-provider-aws/tree/oidc) (neglected to add `/lifecycle active`, apologies) but you're welcome to continue!

* My opinion is that since [the setup for non-EKS clusters](https://github.com/aws/amazon-eks-pod-identity-webhook/blob/master/SELF_HOSTED_SETUP.md) is so much more involved, it may be worth putting i

[2020-10-23 09:22] michaelbeaumont commented on #2054
/lifecycle active

[2020-10-23 09:49] MarcusNoble commented on #2054
Sure thing! Anything specific you'd like me to focus on? Looking at what you have so far it doesn't look like there's _too_ much more that's needed.
It looks like it still needs:
* deleteReconcile
* Create a boilerplate trust policy
* Update IAM permissions for CAPA (I haven't actually checked if the current already cover whats needed)

I wasn't aware it was so much more involved. I agree, best to

[2020-10-23 20:42] voor opened #2069 "Provide a mechanism to add Kubernetes tags to BYO Subnets"
/kind feature

**Describe the solution you'd like**
Adding in a cluster to an existing VPC through the BYO-VPC and BYO-Subnet leaves a major frustration point which is properly tagging the AWS subnets for the Kubernetes Cloud Controller Manager so that services can correctly find the private subnets or public subnets to apply load balancer listeners.  Provide some mechanism to add these tags to th

[2020-10-26 11:52] MarcusNoble commented on #2065
/assign
/lifecycle active

[2020-10-26 13:17] randomvariable commented on #2065
Would be good to do in a way that AWSCluster can also set up secondary CIDRs so that the controllers are somewhat in sync.

[2020-10-26 13:19] MarcusNoble commented on #2065
Yeah, that's what I'm thinking. Not 100% sure how/if non-EKS clusters would manage amazon-vpc-cni-k8s.

[2020-10-26 13:19] randomvariable commented on #808
thanks @MarcusNoble .

/close
since that one supersedes.

Going to take to SIG Cloud Provider for further discussion.

[2020-10-26 13:19] #808 closed

[2020-10-26 13:20] randomvariable commented on #2064
/kind bug
/milestone v0.6.2
/priority critical

[2020-10-26 13:20] randomvariable commented on #2064
/help

[2020-10-26 13:21] randomvariable commented on #2063
/kind documentation

[2020-10-26 13:22] randomvariable commented on #2060
/priority critical-urgent
/milestone v0.6.2
/help

[2020-10-26 13:29] arghya88 commented on #2060
/assign

[2020-10-26 13:30] arghya88 commented on #2060
/assign
/lifecycle active

[2020-10-26 13:33] #2045 closed

[2020-10-26 13:35] arghya88 commented on #2064
/assign
/lifecycle active

[2020-10-26 14:28] randomvariable commented on #2065
They may. @Sn0rt previously tried to get an example manifest to use the VPC CNI.

[2020-10-26 14:56] randomvariable commented on #2069
Bring your own was always explicitly "do not attempt to manage" so is out of scope I think for that. However, adoption could be a valid use case for #1484

[2020-10-26 15:01] ncdc commented on #2059
The root cause is that the `Instance` struct changed between v1alpha2 and v1alpha3, but we aren't correctly accounting for the differences when restoring from the v1alpha3 data annotation. We are blindly taking what was in the data annotation, which ignores all changes to .status.bastion when updating the AWSCluster.

We probably need to audit the entire conversion code logic...

We also need to u

[2020-10-26 16:35] sedefsavas commented on #2059
/assign

[2020-10-26 16:42] sedefsavas commented on #2059
/lifecycle active

[2020-10-26 20:16] ncdc commented on #1899
Further discussions in https://github.com/kubernetes-sigs/cluster-api/pull/3668 resulted in https://github.com/kubernetes-sigs/cluster-api/issues/3504 and https://github.com/kubernetes-sigs/cluster-api/pull/3817. The requirement for CAPA is to add AWSMachine.status.interruptible (bool), and set it to true when AWSMachine.spec.spotMarketOptions is non-nil.

[2020-10-26 20:16] ncdc commented on #1899
/help
/good-first-issue

[2020-10-27 03:13] Sn0rt commented on #2065
you can try to install multi ENIConfig with your cluster, and set DS with env value as follow

[code]

set eniconfig as follow

[code]

as before setting, you can run the pod as per node per subnet

[2020-10-27 15:52] jayunit100 commented on #1977
sounds like some kinda doc additions we can make here to clarify the way cloud formation stacks work (And dont work) when dealing w/ different regions

[2020-10-27 17:09] randomvariable commented on #1977
/kind documentation
/help

[2020-10-27 17:11] randomvariable opened #2073 "e2e flakes on spot instances"
/kind bug

We are running into flakes in the spot instance test due to insufficient capacity

![image](https://user-images.githubusercontent.com/1441070/97336864-6a634e80-1877-11eb-9451-c720cfcb1a66.png)

https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-cluster-api-provider-aws#periodic-e2e-v1alpha3

- Cluster-api-provider-aws version: v0.6.1

[2020-10-27 19:39] Jeffwan opened #2075 "Is `clusterawsadm bootstrap iam create-cloudformation-stack` necessary?"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
I am checking cluster API book, seems there's an extra step to bootstrap IAM.

[code]

Could cloudctl use AWS envs directly?

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes

[2020-10-28 07:34] arghya88 commented on #2064
So it seems that in the defaulting we need to add a check for `spec.cloudInit.insecureSkipSecretsManager`

What do you think @randomvariable ?

[2020-10-28 08:25] arghya88 opened #2076 "Upgrade go version to 1.15.3"
/kind cleanup

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Current go version is 1.13. This should be upgraded to latest 1.15.3
**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (

[2020-10-28 17:36] felipeweb opened #2078 "CAPA pod crashLoopBackoff, missing type registration"
/kind bug

**What steps did you take and what happened:**
Initialize cluster api and apply YAML below:
[code]

**What did you expect to happen:**

create an aws self hosted cluster

**Anything else you would like to add:**

The EKS environment variable feature flags are setted in my environment during initialization of CAPA, but in this case I just initialize infrastructure because I do not need f

[2020-10-28 20:03] felipeweb commented on #2078
It seems to be mandatory initialize EKS if environment variables for EKS is set otherwise CAPA will crash

[2020-10-28 20:07] ncdc commented on #2078
We need to be able to start the CAPA manager with EKS disabled, given that EKS is behind a feature gate. Do you have time to dig into this to see why it's having issues? cc @richardcase

[2020-10-28 20:36] felipeweb commented on #2078
@ncdc just for clarifly the feature gate for EKS was enabled in my environment, but I did not execute `clusterctl init` with aws-eks flags in bootstrap and controlplane. It makes CAPA manager crash even if it is to create a self hosted cluster

[2020-10-28 20:37] ncdc commented on #2078
Can you please share the exact commands you ran, and what variables you had set?

[2020-10-28 20:43] felipeweb commented on #2078
these variables are on my .zshrc file.
[code]
and I just ran `clusterctl init --infrastructure=aws`

[2020-10-28 20:51] ncdc commented on #2078
Ok I'm able to reproduce locally.

[2020-10-28 20:58] ncdc commented on #2078
Do you also see this in your pod log?

[code]

[2020-10-28 20:59] felipeweb commented on #2078
yes, I do

[2020-10-28 21:05] richardcase commented on #2078
Happy to look at this first thing in the morning

[2020-10-28 21:06] ncdc commented on #2078
Somewhere from the top-level main.go, we're trying to watch AWSManagedControlPlane, but that CRD is not included in the base `infrastructure-components.yaml` file. I have to run now as well, so we can chat tomorrow. Thanks!

[2020-10-28 21:18] richardcase commented on #2078
I think this is because the AWSManagedCluster controller will be enabled as the EKS feature gate is enabled and this watches AWSManagedControlPlane. But the CRD definition is in the control plane yaml which hasn't been installed.

As a workaround, it will work if you install the control plane:

clusterctl init --infrastructure=aws --control-plane aws-eks --bootstrap aws-eks

I will confirm in the

[2020-10-28 21:19] richardcase commented on #2078
/assign

[2020-10-29 08:08] richardcase commented on #2078
Both the `AWSManagedClusterReconciler` and `AWSManagedMachinePoolReconciler` watch `AWSManagedControlPlane` which is only installed when you enable the `aws-eks` control plane (which applies eks-controlplane-components.yaml).

Doing the following will cause this issue not to occur:

[code]

Theres a couple of options (not an exhaustive list):

1. Package the AWSManagedControlPlane CRD definition i

[2020-10-29 08:52] MarcusNoble commented on #2065
So, non-EKS clusters don't come with any CNI or similar (by design) so not really sure how much this should do for those cases.
My current thinking is to focus this on EKS only for now and cover non-EKS use cases in another issue. @randomvariable any objections to that?

[2020-10-29 09:49] richardcase commented on #2078
And @michaelbeaumont raised another option:

4. We create a separate manager that contains all the EKS specific controllers etc

[2020-10-29 11:57] felipeweb commented on #2078
I'm favor option 2 too. The clusterctl perform installation following order (core -> bootstrap -> controlplane -> infrastructure), so ordering is not a problem here.

another option would be in addition to checking the feature flags also  check the presence of the required CRDs to enable the features and if there are missing some CRDs, just issue an alert, but not necessarily interrupt the initial

[2020-10-29 13:54] randomvariable commented on #2078
2 requires clusterctl changes
4 means that we have two controllers managing the same resource type AWSMachine, which is a no go, or that you essentially fork AWSMachine into a new type.

The root of the problem is the EC2Scope interface, which in one mode is an AWSCluster and in the other mode is an AWSManagedControlPlane

[2020-10-29 13:56] randomvariable commented on #2064
@arghya88 I see you're working on e2e for AWSMachinePool. Are you working on this one right now, or can someone else pick this up?

[2020-10-29 14:03] #2059 closed

[2020-10-29 14:04] arghya88 commented on #2064
@randomvariable I think this should be small if I am not wrong. I am thinking of adding a check `!r.Spec.CloudInit.InsecureSkipSecretsManager` like below

[code]

[2020-10-29 14:06] randomvariable commented on #2064
Let's have someone else take a look as you've got quite a few things in flight at the moment?
@srm09  or @sedefsavas mind taking a look?

[2020-10-29 14:08] arghya88 commented on #2064
@randomvariable Sure.
/unassign

[2020-10-29 14:11] arghya88 commented on #2064
/remove lifecycle active

[2020-10-29 14:13] #2042 closed

[2020-10-29 14:13] #2060 closed

[2020-10-29 14:14] randomvariable commented on #2064
/remove-lifecycle active

[2020-10-29 16:53] randomvariable opened #2081 "e2e: Add test for upgrades to Kubernetes main branch release"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2020-10-29 17:55] srm09 commented on #2064
/assign
/lifecycle active

[2020-10-29 19:06] srm09 commented on #2064
Apart from fixing the defaulting logic, should we also force the `spec.cloudInit.secureSecretsBackend` to be ignored when the `insecureSkipSecretsManager` is set?

[2020-10-29 19:22] voor commented on #2064
Unsure about the other secrets backend, but secrets manager is not leveraged at all when that field is set.

[2020-10-29 19:36] srm09 commented on #2064
From the type definition for field `InsecureSkipSecretsManager`, it states that neither of the two would be used when this field is set.
Since that is the case, IMHO this should be explicitly checked for during the machine validation step.

[2020-10-30 17:56] randomvariable opened #2084 "When using unmanaged VPCs and upgrading from <v0.5.5 to v0.6.1, CNI security group rules are deleted"
/kind bug
/priority critical-urgent

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Start with an AWSCluster with unmanaged VPCs running prior to v0.5.5. The spec has no network.cni fields.
Then upgrade to CAPA v0.6.1, the security group rules relating to CNI get deleted.

**What did you expect to happen:**
No change to security groups

**Anyth

[2020-11-02 11:58] randomvariable commented on #2075
@Jeffwan I would love to find an alternative to this. The issue right now is that Cluster API initially runs in a Kind cluster, so there's no environment variables present at that time.

However, once the initial cluster is up and we move the controllers to the new cluster, I would definitely like a workflow where we delete the credentials and rely on implicit credentials (EC2 IMDS / IRSA / Kiam).

[2020-11-02 16:54] sedefsavas commented on #2084
/assign
/lifecycle active

[2020-11-02 18:42] MarcusNoble opened #2087 "AWSResourceReference unimplemented logic"
Collating all instances of `AWSResourceReference` being used in the codebase without implementing all lookup logic (e.g. only using the `ID` property)

| Type | Property | References | ID | ARN | Filters |
| --- | --- | --- | --- | --- | --- |
| `AWSMachineSpec` | `AMI` | https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/2e24bd127d875995ed13699966e60b9e12060cb2/pkg/cloud/services/ec

[2020-11-02 21:27] srm09 opened #2088 "Create a PR when a new kubernetes release is detected"
/kind feature

**Describe the solution you'd like**
To automate the process of publishing AMIs, we need a job to create an entry in the `AMI-version.yaml` corresponding to the newly released kubernetes versions. As part of that process, we need a job to create a PR whenever a new kubernetes version is detected.

**Anything else you would like to add:**
More detailed information on the process is a

[2020-11-02 21:27] srm09 commented on #2088
cc: @sedefsavas

[2020-11-03 07:22] MarcusNoble commented on #2087
It looks as though there aren't as many instances as first thought.

If ignoring test files and generated files `AWSResourceReference` is only made use of in 4 places.

All 4 make use of the `ID` property, one makes use of the `Filters` property and there are no instances where `ARN` is used.

[2020-11-03 11:50] MarcusNoble opened #2089 "Store workload OIDC policy template as ConfigMap in management cluster"
/kind feature

**Describe the solution you'd like**
Add an option to store the OIDC policy template for workload clusters as a ConfigMap within the management cluster as well as on the controlplane status.

**Anything else you would like to add:**
See https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2070 for details on original implementation.

**Environment:**

- Cluster-api-provi

[2020-11-04 10:21] sedefsavas commented on #2084
Starting from v0.5.5, CNI-related security groups are added to spec by defaulting and ReconcileSecurityGroups() uses the defaulted networkSpec.cni to add CNI-related security groups. Controllers < v0.5.5, they were added by the ReconcileSecurityGroups().

When controllers are upgraded from a version <0.5.4, if AWSClusters do not get defaulted then the security groups were being deleted.

This issu

[2020-11-04 14:14] #2084 closed

[2020-11-04 14:34] dthorsen opened #2091 "ownerRef's on kubeconfig secrets are set incorrectly when using AWSManagedControlPlane"
/kind bug

**What steps did you take and what happened:**
- Create a workload cluster that utilizes AWSManagedControlPlane
- `kubectl -n <workloadClusterNamespace> get secret <workloadClusterName>-kubeconfig -o yaml`
- Inspect the yaml returned by the above command and observe that the apiVersion field in the ownerRef has an incorrect API Group: `infrastructure.cluster.x-k8s.io/v1alpha3`
- The <wo

[2020-11-04 14:51] dthorsen commented on #2091
/assign

[2020-11-04 15:43] dthorsen commented on #2022
/assign

[2020-11-04 15:47] dthorsen commented on #2022
I propose that we add an optional field to the AWSMachinePool spec called `ignoreReplicas` which defaults to `false`. The reconciliation logic will use this field to ignore the MachinePool replicas field and to always omit `DesiredInstances` field in any requests to the AWS AutoScalingGroup API.

@MarcusNoble @randomvariable Does this sound like an acceptable solution?

[2020-11-04 16:38] vbatts commented on #1979
Having a provider like CAPA would be a good use case to test the WIP Ignition bootstrap provider in kubernetes-sigs/cluster-api#3437

[2020-11-04 16:42] dthorsen commented on #2091
/assign @mytunguyen

[2020-11-04 16:43] dthorsen commented on #2091
/unassign @dthorsen

[2020-11-04 22:45] seemiller opened #2093 "Changing Credentials docs are out of date"
/kind bug

**What steps did you take and what happened:**
I followed the instructions for updating the AWS credentials as outlined in the changing-credentials.md file. Step 3 under Manually Changing Credentials says to use the `capa-manager` namespace. This name namespace does not exist.

**What did you expect to happen:**
I expected everything to work as documented.

**Anything else you would lik

[2020-11-05 07:08] MarcusNoble commented on #2022
Sounds good to me. Just not 100% sure on the naming. `replicas` makes me think about kubernetes resources rather than ASG instances. How about something like `ignoreDesiredSize` ?

[2020-11-05 15:26] dthorsen commented on #2022
@MarcusNoble Hmm, technically we are ignoring both when this is set. From cluster-api user's perspective, if they update `replicas` on the MachinePool Kubernetes resource, the controller will do nothing if this field is set.

[2020-11-05 16:28] MarcusNoble commented on #2022
That is a good point. The name makes sense then.

The alternative is to handle an unset `replicas` value as meaning ignore, rather than setting a new property.

[2020-11-05 17:09] dthorsen commented on #2022
That was the original intent, but the code doesn't work as intended because replicas will never be nil (also incidentally why I originally opened this issue as a bug). It will be defaulted to a value of 1 if omitted. It also occurred to me that using replicas to indicate "don't reconcile this value" is a pretty fragile indicator. If cluster-autoscaler has scaled up the pool to say, 100 instances,

[2020-11-06 13:16] #2091 closed

[2020-11-06 13:34] #2093 closed

[2020-11-06 15:35] randomvariable commented on #2053
/reopen

[2020-11-07 12:34] akash-gautam commented on #1899
/assign

[2020-11-09 05:23] TBBle commented on #2075
If I'm following correctly, #2053 should deliever the ability to have the management cluster components running under IRSA instead of node IAM roles.

Then the kind-based bootstrap process would need to create the necessary roles with appropriate trust relationships and deploy the real management cluster in IRSA mode with appropriately-annotated service accounts (per #2053).

This would be very us

[2020-11-09 13:08] randomvariable commented on #2076
We need to update controller runtime first, which depends on moving CAPI to v1alpha4. So assigning to v0.7.0

[2020-11-09 13:09] randomvariable commented on #2075
@TBBle it's only part of the story. there's also the use case of running Cluster API from your laptop to kick off the creation of the 1st management cluster.

[2020-11-09 13:11] randomvariable commented on #2063
/help

[2020-11-09 13:28] randomvariable commented on #1964
/close

superseded by #2053

[2020-11-09 13:28] #1964 closed

[2020-11-09 13:29] randomvariable commented on #1989
/help

[2020-11-09 13:42] #2001 closed

[2020-11-09 15:22] #1723 closed

[2020-11-09 17:18] TBBle commented on #2075
I thought that's what the kind bootstrap cluster was for? Just enough k8s to run as a CAPI management cluster, to then create an (in this case) EKS cluster and make it the management cluster for itself and future worker clusters? Or perhaps I've misunderstood. I can't see any such flow in the docs, making the first non-kind management cluster also be its own manager. Perhaps that happens underneat

[2020-11-11 16:25] sedefsavas commented on #2039
/assign

[2020-11-11 20:57] cdenneen opened #2105 "[docs] Update cross-account role assumption documentation with IRSA"
/kind feature

**Describe the solution you'd like**
Update [documentation](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/book/src/topics/using-cluster-api-with-cross-account-role-assumption.md) after #2070 to provide working example of how to accomplish this without `kiam`

[2020-11-11 21:07] cdenneen commented on #1473
@yujunz did you ever get something to be able to specify CIDR for kubernetesApiAccess? Seems like that might have been overlooked as part of this request.

Right now I'm stuck modifying the cluster security group after creation to add our CIDR range for our Direct Connect (machines part of VLANs from Direct Connect cannot be currently associated with an AWS Security Group so that's why I cannot pr

[2020-11-12 13:46] richardcase commented on #1786
/remove-lifecycle stale

[2020-11-12 13:59] voor commented on #1718
/remove-lifecycle stale
/remove-lifecycle frozen

[2020-11-12 14:00] voor commented on #1718
/lifecycle frozen

[2020-11-12 15:45] vincepri commented on #1782
/lifecycle frozen

[2020-11-12 17:46] asatish opened #2106 "instance type check for zone availability in AWS"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

 CAPA tries to place the control plane nodes in different availability zones for every node in the control plane pool. But, in AWS there are some instances which are not present in some availability zones, due to which the AWS SDK is returning an error.

E1105 11:00:07.187357       1 co

[2020-11-12 18:30] voor commented on #1772
/remove-lifecycle stale

[2020-11-12 20:43] eightlimbed commented on #2042
Hey @richardcase do you recall what you did to resolve
[code]
?

[2020-11-13 23:32] Promaethius commented on #2106
Could you share the cluster YAML definition you are using in this particular setup?

[2020-11-14 17:47] detro commented on #1711
I believe this issue is still looking for a fix. Right @rudoi ?

[2020-11-14 17:47] detro commented on #1711
/remove-lifecycle stale

[2020-11-16 16:10] sedefsavas commented on #2041
/assign

[2020-11-16 20:56] DheerajSShetty opened #2110 "AWSMachineTemplate defaulting is being rejected by validation logic in the webhook"
/kind bug

**What steps did you take and what happened:**
1.  Created a cluster using v1alpha2 controller CAPI v0.2.11 and CAPA v0.4.10, with a MachineDeployment
2. Updated the webhooks CRDs and controller to CAPI 0.3.10 and CAPA 0.6.2
3. Increased the MachineDeployment replica.

**what happened:**
1. MachineDeployment failed to scale.
2. CAPI controller logged error saying
[code]

**What did you

[2020-11-16 21:27] randomvariable commented on #2110
/lifecycle active
/assign

[2020-11-17 11:16] #2039 closed

[2020-11-17 11:58] sedefsavas opened #2115 "[e2e] Disable BootstrapUser from the IAM configuration in e2e tests"
v0.5.5 and later will, by default, remove the bootstrap user and group. Current e2e tests enable it: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/e61516f73f0f1ca68d351124b3ab311842b15899/test/e2e/e2e_suite_test.go#L406

We should either remove this or also test the default behavior as described here: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/b

[2020-11-17 13:29] sedefsavas commented on #1969
/assign
/lifecycle active

[2020-11-17 15:34] #2110 closed

[2020-11-18 10:24] randomvariable commented on #2115
We do actually want to keep this because it's a good way of testing the permissions are sufficient.

[2020-11-18 17:25] asatish commented on #2106
For the YAML, I would suggest to use clusterctl, the important thing is to set the instance type as r6gd.large, control plane count as 3 and the region as us-east-2.

export AWS_REGION=us-east-2
export AWS_SSH_KEY_NAME=default
export AWS_CONTROL_PLANE_MACHINE_TYPE=r6gd.large
export AWS_NODE_MACHINE_TYPE=r6gd.large

clusterctl config cluster capa-cluster \
  --kubernetes-version v1.18.8 \
  --contr

[2020-11-18 18:12] Promaethius commented on #2106
Because this is a fringe case, I would encourage you to manually edit your resulting cluster definition and add the `failureDomain:` property to your control plane machine definitions. It allows you to specify the availability zone.

[2020-11-19 16:24] asatish commented on #2106
Sure, I can do this in the interim until this issue is fixed, but it would be good to fix this in CAPA itself. Not having the fix in CAPA means the user needs to find beforehand if the instance type is present in which zones in the region and if they are not available in all regions, they would need to use a different flavor for cluster template YAML to specify the failuredomain. Having CAPA place

[2020-11-19 17:25] Promaethius commented on #2106
/assign

I should make it clear that this isn't a bug. CAPA behaves as expected and
relays the error message and configuration issue back to the end user. AWS
allows this instance type only in a subset of availability zones while
CAPA's best practice programming attempts to spread it out over all
availablity zones. This is exactly why we have configuration for
machineTemplates. You're welcome to s

[2020-11-20 02:20] lxlxok opened #2117 "clusterawsadm bootstrap failed without PermissionsBoundary"
/kind bug

**What steps did you take and what happened:**
CloudFormation failed in EKS
clusterawsadm bootstrap iam create-cloudformation-stack --config boostrap.config

Here is the error:
`API: iam:CreateRole User: arn:aws:sts::*****:assumed-role/***Role/*** is not authorized to perform: iam:CreateRole on resource: arn:aws:iam::*****:role/nodes.cluster-api-provider-aws.sigs.k8s.io with an explicit

[2020-11-20 02:24] lxlxok commented on #2117
/assign

[2020-11-22 16:34] vincepri opened #2118 "Allow to decide the maximum number of NAT gateways to create"
/kind feature

**Describe the solution you'd like**
While creating a cluster I noticed that we're creating one NAT gateway for each subnet/availability zone. NAT gateways have a fixed per hour cost which might be expensive in small development environments.

It'd be great to provide more ways to customize the behavior that CAPA has when creating a cluster by providing a few options under the netwo

[2020-11-22 16:35] vincepri opened #2119 "Consider renaming spec.networkSpec to spec.network"
/kind feature

**Describe the solution you'd like**
The field called `networkSpec` seems redundant given that's already under `spec`, we can simplify by calling it just `network`.

[2020-11-24 21:11] gab-satchi commented on #2064
I'm experiencing this issue even with the changes from the PR. Due to the defaulting that happens [here](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/api/v1alpha3/awsmachine_types.go#L171)

/reopen

[2020-11-25 15:55] sedefsavas commented on #2115
Got it, thanks. Closing this issue.

[2020-11-25 15:55] #2115 closed

[2020-11-25 17:46] sedefsavas opened #2122 "Retrieve kustomize release binary instead of building it"
cluster-api recently did this change: https://github.com/kubernetes-sigs/cluster-api/pull/3744.
To avoid any future dependency conflicts, we may want to apply this here as well.

[2020-11-25 17:48] sedefsavas commented on #2122
/priority backlog
/help wanted

[2020-11-25 18:00] sedefsavas opened #2123 "Align flag names with upstream Kubernetes components"
cluster-api repo made these changes to the flag names: https://github.com/kubernetes-sigs/cluster-api/pull/3934

We should adopt these here as well to be consistent with it.

/milestone v0.7.0
/help

[2020-11-25 23:43] nijave commented on #1976
Maybe 2 is related to https://github.com/kubernetes/kubernetes/issues/79610 ?

[2020-11-26 11:30] enxebre opened #2125 "Decouple Infrastructure resource from machine controller"
/kind feature

**Describe the solution you'd like**
As a CAPI consumer I'd like to plug-in my own ControlPlane and Infrastructure resources [1] while still still reusing the existing machine controller implementation.

Today this is not possible because the machine controller is tightly coupled with the regular AWScluster and the EKS kinds.

A scenario where this is handy is one where there's a co

[2020-11-26 11:31] enxebre commented on #2125
cc @JoelSpeed @ncdc @randomvariable

[2020-11-30 15:32] richardcase opened #2128 "Create engineering specific docs"
/kind feature

**Describe the solution you'd like**
We need to start creating engineering specific documentation. This will aid new contributors to CAPA and we could start with setting up a fork and cloning into GOPATH......because the code generation tools don't like running outside GOPATH which then causes the `verify` job to fail.

**Anything else you would like to add:**
Lets create a new sect

[2020-11-30 18:39] sedefsavas opened #2130 "Add CAPI QuickStartSpec test as PR blocking e2e test"
Sometimes we are late to notice e2e test failures, it would be good to have some quick, non-optional PR blocking e2e test.
We can add CAPI QuickStartSpec test as PR blocking like CAPZ.

[2020-11-30 18:52] sedefsavas opened #2131 "Run e2e tests in parallel"
Our e2e tests takes too long.

As per @randomvariable's suggestion (https://kubernetes.slack.com/archives/CD6U2V71N/p1606757258017600), we can run tests in parallel (except VPC limit test).

[2020-11-30 18:53] sedefsavas opened #2132 "Add available CAPI e2e test to the periodic e2e tests"
CAPI has several tests we can call in e2e periodic tests here like KCP upgrade, adoption, machine remediation etc that may give valuable signals.
We can either add them as seperate periodic job similar to CAPZ or add it to our existing suites.

But since our e2e test already takes too much time, we should sort out https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2131 first.

[2020-12-01 10:02] sedefsavas commented on #2132
/assign

[2020-12-01 15:09] sedefsavas opened #2134 "[e2e] Use kustomize for generating template flavors for different tests"
We can use kustomize to generate different test templates to avoid duplicating them several times.
This is how template flavors are generated in CAPI (https://github.com/kubernetes-sigs/cluster-api/pull/3651) and CAPZ.

/kind cleanup
/priority important-longterm
/milestone v0.7.0
/help

[2020-12-02 13:32] randomvariable commented on #2122
I would say, it would be preferable to do it entirely within the Makefile rather than shelling out to a separate script. There's some examples already of this in https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/hack/tools/Makefile#L125

[2020-12-02 13:32] randomvariable commented on #2122
/help

[2020-12-02 13:55] randomvariable commented on #2118
v1alpha4 should address this, however, if you're going for a HA control plane, then you really should have one NAT gateway per AZ otherwise your failure domain might not be what's expected.

[2020-12-02 13:56] randomvariable commented on #2118
/milestone v0.7.0

[2020-12-02 14:00] randomvariable commented on #1829
/lifecycle frozen
/milestone v0.7.0

[2020-12-02 14:00] randomvariable commented on #1888
/lifecycle frozen
/milestone v0.7.0

[2020-12-02 14:02] randomvariable opened #2136 "Add support for gp3 EBS volumes, and switch AMIs to gp3 by default"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

gp3 EBS volumes are cheaper and higher performing, so makes sense to now default to it.

A couple of tasks:

- Bump the AWS SDK for Go version to at least v1.35.37
- Allow gp3 in webhook validations
- Check gp3 support across regions - if it's everywhere then:
  - Update image builder

[2020-12-02 14:03] randomvariable commented on #2136
/hold

let's wait for the rest of re:invent announcements

[2020-12-02 14:05] randomvariable commented on #2119
/milestone v0.7.0

[2020-12-02 14:12] #1899 closed

[2020-12-02 14:16] sedefsavas commented on #2134
/assign

[2020-12-02 15:11] sedefsavas opened #2137 "Make subnet field optional in AWSMachinePool to fallback to cluster subnets"
/kind bug

**What steps did you take and what happened:**
AWSMachinePool requires subnets (AWSMachinePool.spec.subnets) which is preventing the use of fallback logic implemented here: [#2051] and [#2095].

**What did you expect to happen:**
I expect AWSMachinePool to work without providing any subnets and use auto-created subnets attached to the AWSCluster.

This is API change but I suppose not br

[2020-12-02 15:35] vincepri commented on #2118
That's fair, I was more hoping to get the option out there. If folks are testing out NAT gateways can be expensive to run

[2020-12-03 07:56] MarcusNoble commented on #2137
/assign
/lifecycle active

[2020-12-03 08:19] richardcase opened #2139 "Support EKS Addons"
/kind feature
/area provider/eks

**Describe the solution you'd like**
Add support for EKS addons in CAPA.

**Anything else you would like to add:**
See the [API docs](https://docs.aws.amazon.com/eks/latest/APIReference/API_CreateAddon.html)

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

***Tasks***

- [ ]

[2020-12-03 08:22] richardcase commented on #2139
@michaelbeaumont - what do you think to adding this to the AWSManagedControlPlane or having it as a seperate CRD that is reconcilled after the control plane is ready?

[2020-12-03 09:41] richardcase commented on #2139
Thinking about it i would say as part of the control plane as we'd want to create the addons before signalling the control plane is ready?

[2020-12-03 09:46] richardcase opened #2141 "Add support for EKS-D"
/kind feature

**Describe the solution you'd like**
I would like to be able to use EKS-D for my EC2 based (i.e. no-EKS) cluster.

**Anything else you would like to add:**
See [this blog post](https://aws.amazon.com/blogs/opensource/introducing-amazon-eks-distro/) for an intro to EKS-D.

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g.

[2020-12-03 09:52] michaelbeaumont commented on #2139
This would be a great addition. I'm leaning towards adding it to the control plane since one use case I have in mind is being able to enable the CNI addon before any nodegroups join.

[2020-12-03 09:52] richardcase commented on #2078
The options where discussed on the CAPA office hours call on 2nd November it was decided option 2 would be best. ADR 0002 was written in #2126 to capture the decision.

To summarize what needs to be done:

In the [infrastructure manager](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/main.go) add code that if the EKS flag is set a check is made as to whether `AWSManagedCon

[2020-12-03 09:54] richardcase commented on #2078
/unassign
/area provider/eks
/help
/good-first-issue

[2020-12-03 09:56] richardcase commented on #2139
/assign

[2020-12-03 10:12] richardcase commented on #2139
/lifecycle active

[2020-12-03 13:25] #2053 closed

[2020-12-03 13:37] randomvariable opened #2142 "Refactor awsmachine_controller tests"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

The AWS machine controller tests reuses the same AWSMachine object for reconciliations for different test cases. If we switch from fake client to envtest, it ends up hitting webhooks (rightly) preventing mutation.

The tests need to be refactored to create a new set of resources with

[2020-12-03 14:36] jyyeom opened #2143 "When using unmanaged VPCs, security group rules are deleted"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Deploy with an AWSCluster with unmanaged VPCs and Subnets with v0.6.3.
During provisioning, the inbound rules of three SGs(bastion, apiserver-lb, lb) are created and deleted repeatedly and after minutes, just SGs without rules remain.
But the inbound rules of SGs(controlplane, nodes) are

[2020-12-03 15:19] sedefsavas opened #2144 "Add code coverage analysis as part of prow PR feedback"
Running unit tests with coverage in Prow gives useful insight which we can benefit to see which parts are missing coverage. E.g.: https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#periodic-cluster-api-provider-azure-coverage&show-stale-tests=

Since there will be big restructuring in terms of networking for the upcoming v0.7.0 release, we don't need to invest immediately to

[2020-12-03 16:04] sedefsavas commented on #2143
SG lb doesn't have any inbound rules. Which rules do you see that are deleted?
api-server-lb only allows port 6443 and bastion port 22.

[2020-12-04 00:21] jyyeom commented on #2143
Yes, the rules which deleted were "api-server-lb only allows port 6443 and bastion port 22."

[2020-12-04 01:45] #2143 closed

[2020-12-04 05:29] kkeshavamurthy commented on #2123
/assign

[2020-12-04 07:27] MarcusNoble commented on #2137
@sedefsavas What error are you seeing here exactly? I've been able to create an AWSMachinePool without specifying subnets and it has correctly used the fallback logic.

Is this just an issue when running the tests? It looks like this: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2138/files#diff-9e1ddec7491885958965554ceab719f6fd0be3b168323d2e45392ec3dd36a3b6R103 would be causin

[2020-12-04 10:36] sedefsavas commented on #2137
@MarcusNoble you are right, since subnets type is list, OpenAPI does not enforce it to be required when optional field is not there (didn't realize that). Nonetheless your PR improves readability.

[2020-12-04 11:14] sedefsavas opened #2145 "AWSMachinePool do not check use availabilityZones field"
/kind bug

**What steps did you take and what happened:**

I don't see where we use `availabilityZones` field in the AWSMachinePool code.
For unmanaged VPCs, AZs are selected based on `AZSelectionScheme`, so the `availabilityZones` defined for AWSMachinePool cannot always be satisfied if those zones are not selected as part of Cluster VPC.

**What did you expect to happen:**
Expect AWSMachinePool

[2020-12-04 11:18] MarcusNoble opened #2146 "Make controller IAM policies specific to each controller"
/kind feature

**Describe the solution you'd like**
Currently the controllers use a single IAM policy (`AWSIAMManagedPolicyControllers`) to cover all their required actions. It would be good to split these out into more specific policies to avoid giving unnecessary permissions.

**Anything else you would like to add:**
This would be useful to be able to provide an IAM role for the controllers to u

[2020-12-04 11:32] #2125 closed

[2020-12-04 11:42] randomvariable commented on #2144
Tried doing it in https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1891 but couldn't get it to work

[2020-12-04 11:49] MarcusNoble commented on #2137
/unassign
/remove-lifecycle

[2020-12-04 12:06] sedefsavas commented on #2144
Ah okay, I see that Azure also doesn't use that library and uses `go tool cover`

[2020-12-04 12:08] sedefsavas commented on #2137
Not a bug.

[2020-12-04 12:08] #2137 closed

[2020-12-04 12:50] randomvariable opened #2148 "Linter for AWS SDK for Go and IAM permissions"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Just an idea, but it would be good if we had a custom linter to plug into golang ci lint, that could parse for AWS SDK calls and make sure we reference the requisite IAM action somewhere in the /cmd/clusterawsadm package.

**Anything else you would like to add:**
[Miscellaneous informa

[2020-12-04 12:56] randomvariable commented on #2144
Cool, i think it was gopherage that was giving me problems.

[2020-12-04 18:41] akash-gautam commented on #2078
/assign

[2020-12-05 06:16] akash-gautam commented on #2078
/unassign

[2020-12-08 16:06] Promaethius commented on #2106
/close

[2020-12-08 16:06] #2106 closed

[2020-12-08 16:20] sedefsavas commented on #2008
/assign

[2020-12-09 16:26] voor opened #2155 "Comparison to Internet-facing with controlPlaneLoadBalancer scheme is too unforgiving"
/kind bug

**What steps did you take and what happened:**
Create a new cluster with the following:
[code]

The API Server's Load Balancers will come up in the *private subnets* and be unable to receive any incoming traffic from the internet.  The Load Balancer is still properly created with an internet-facing scheme in AWS.

**What did you expect to happen:**

Some form of case insensitive compari

[2020-12-09 17:25] sedefsavas commented on #1989
Haven't tested but at the very least we should add `ClusterUnpaused` watch to AWSMachinePool as it is not watching Clusters.

/assign

[2020-12-09 18:56] voor opened #2156 "Security Groups on API Server Load Balancer are not reconciled properly"
/kind bug

**What steps did you take and what happened:**

Add a new security group to an API Server load balancer.

This causes CAPA to start throwing error messages that it's missing permissions for `elasticloadbalancing:ApplySecurityGroupsToLoadBalancer`

**What did you expect to happen:**

Security group would be reconciled properly (added or removed accordingly)

**Anything else you would lik

[2020-12-09 20:14] kkeshavamurthy commented on #2136
Seems like gp3 volumes are available in all regions. [link](http://shepherd.run/namespace/tsm_system_tests/lock/d5746f75-233b-4aab-b8b6-43d284aed1a0/logs/)

[2020-12-10 07:22] kkeshavamurthy commented on #2063
/assign

[2020-12-10 10:56] sedefsavas opened #2157 "[v1alpha4] Naming and typo changes"
There are several fixes/improvements we want to do in v1alpha4.

Some of them are in this PR's comments: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2121#

This issue is to track naming and typo changes. We can add the changes we think of under this issue.

cc @MarcusNoble

[2020-12-10 14:19] MarcusNoble commented on #2157
(Copied over from the comments on #2121)

* Rename `NetworkSpec` as just `Network` (Issue #2119)
* Refactor AMI image lookup, either as it's own type so implmentation is consistent or as something else. (Related #2056)
* Should `NonRootVolumes` be renamed. Possibly `SecondaryVolumes` or `AdditionalVolumes`?
* Fix case on `VpcReadyCondition` etc. - https://github.com/kubernetes-sigs/cluster-api-pro

[2020-12-10 16:08] sedefsavas opened #2158 "[v1alpha4] Use NewClientBuilder instead of NewFakeClient"
With the upgrade to Controller Runtime v0.7.x, upgrade NewFakeClient to Controller Runtime's new fake client builder

Related PRs in CAPI:
https://github.com/kubernetes-sigs/cluster-api/issues/3987
https://github.com/kubernetes-sigs/cluster-api/pull/3981

Following CAPI changes documented here : https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/book/src/developer/providers/v1alpha3-t

[2020-12-10 16:18] sedefsavas commented on #2156
@voor which CAPA version are you using?
     ` iamInstanceProfile: "control-plane.cluster-api-provider-aws.sigs.k8s.io"` already has that:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/d25c45090eab379b146b43e84d8b4ff24b8f58f9/cmd/clusterawsadm/cloudformation/bootstrap/cloud_provider_integration_control_plane.go#L67

[2020-12-10 16:21] voor commented on #2156
Yes, keen eye @sedefsavas unfortunately the API Server load balancer is reconciled by the controllers IAM Instance Profile and not the control-plane one.

[2020-12-10 16:54] #2008 closed

[2020-12-10 17:14] sedefsavas commented on #2156
I see, where does the IAM Instance Profile is set to controllers, is it during `clusterctl move`?

[2020-12-10 19:16] sedefsavas opened #2160 "Build new AMIs"
v1.19.5
v1.18.13
v1.18.11 --> see https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2109
v1.17.15

[2020-12-10 19:17] sedefsavas commented on #2160
/help
/good-first-issue

[2020-12-10 19:17] voor commented on #2156
The controllers IAM Instance Profile is the role given to the pod running capa-controller-manager, wherever it may be.
For example, in our environment we apply:
[code]
To the `AWSMachineTemplate` for the management cluster's `MachineDeployment`, an alternative would be IRSA or KIAM to apply the role to the service account or pod directly.

[2020-12-10 19:28] sedefsavas commented on #2156
I see, so this is applied by the user to the AWSMachineTemplate after having a self-managed management cluster. I was not sure how this was added, thanks!

[2020-12-10 19:47] #1804 closed

[2020-12-11 01:39] randomvariable commented on #2160
/remove-good-first-issue

only two people can do this.

[2020-12-11 01:39] randomvariable commented on #2160
/remove help

[2020-12-11 12:45] randomvariable commented on #2136
Yup, gp3 volumes weren't available for root volumes when I filed this issue, but they've fixed it now.

I think https://github.com/kubernetes-sigs/image-builder/pull/452 fixes this, so

/close

[2020-12-11 12:45] #2136 closed

[2020-12-11 12:46] randomvariable commented on #2136
/open

We still need to add the validation allowance.

[2020-12-11 15:26] sedefsavas commented on #2160
Thx @randomvariable , got confused for a minute.

[2020-12-11 15:29] sedefsavas opened #2165 "Failure during v1.18.11 AMI build"
Still getting the same error I got in https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2109 when creating AMIs for Kubernetes version v1.18.11.

[code]
/assign

[2020-12-11 17:11] #2160 closed

[2020-12-11 17:12] randomvariable commented on #2165
I'd check with SIG release about the location of the packages.

[2020-12-11 17:15] randomvariable commented on #2165
As far as I can see there's no 1.18.11 packages in https://packages.cloud.google.com/apt/dists/kubernetes-xenial/main/binary-amd64/Packages

[2020-12-11 17:16] sedefsavas commented on #2165
Yes, I only see 1.18.11 rc in kubelet repo.

[2020-12-11 17:21] randomvariable commented on #2165
Let's just skip over that release, since SIG Release didn't publish the artifacts. 1.18.12 and 1.18.13 seem available.

[2020-12-11 17:25] sedefsavas commented on #2165
Yes, asked in the slack: https://kubernetes.slack.com/archives/C2C40FMNF/p1607707230156600

We alreadyhave 1.18.12 and 1.18.13.

[2020-12-11 17:26] sedefsavas commented on #2165
Answer came:

1.18.11 is a no-op release due to some problems with GitHub. You can find more details here: https://groups.google.com/g/kubernetes-dev/c/nJix1xLQvZE

Should we add this to AMI doc or as release note?

[2020-12-11 17:29] randomvariable commented on #2165
Probably. I had no idea.

[2020-12-13 13:08] richardcase opened #2166 "Managed machine pools fails due to missing permission"
/kind bug

**What steps did you take and what happened:**
When creating a managed machine pool i encounter the following error:

`failed to describe AutoScalingGroup for nodegroup: AccessDenied: User: arn:aws:iam::123456: │
│ user/bootstrapper.cluster-api-provider-aws.sigs.k8s.io is not authorized to perform: autoscaling:DescribeAutoScalingGroups`

This causes the machine pool to be stuck in `Scal

[2020-12-14 06:01] richardcase opened #2167 "Add conditions for EKS control plane and node upgrading"
/kind feature

**Describe the solution you'd like**
To provide feedback we should add consitions for when the control plane and nodes are 'upgrading'.

Currently if i upgrade the version of the control plane it stays as ready and i have to query the AWS api to see that its upgrading.

[2020-12-14 07:37] richardcase commented on #2167
/area provider/eks
 /help

[2020-12-14 07:38] richardcase commented on #2166
/area provider/eks
/assign

[2020-12-14 09:15] richardcase commented on #2166
/lifecycle active

[2020-12-14 09:16] richardcase commented on #2166
/area provider/eks

[2020-12-14 09:17] richardcase commented on #2167
/area provider/eks
/help

[2020-12-14 13:16] randomvariable commented on #2167
I think we might get rid of phase in v1alpha4. Should use conditions as much as possible.

[2020-12-14 13:30] richardcase commented on #2167
Cool, i will reword.

[2020-12-15 06:13] lxlxok opened #2169 "Not require DescribeNatGateways action when consuming AWS Infrastructure"
/kind feature

**Describe the solution you'd like**

An option to opt out the NAT gateway pre-requirement when consuming Existing AWS infrastructure [(doc)](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/book/src/topics/consuming-existing-aws-infrastructure.md#consuming-existing-aws-infrastructure)

NAT gateway is not needed when EKS cluster choose the private + publi

[2020-12-15 06:26] lxlxok opened #2170 "Consume existing security group without cluster-name tag in EKS"
/kind feature

**Describe the solution you'd like**
Consuming existing security group without requiring cluster-name tag, so that different cluster can consuming same security group created before.

**Anything else you would like to add:**
Related code block in `reconcileSecurityGroups`
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/bff3543f25f6316358e1e11f11492b594a94b168/pkg/cl

[2020-12-15 13:45] puja108 opened #2171 "Root disk runs full, leads to evicted pods"
/kind bug

**What steps did you take and what happened:**
Created a 3 worker single master cluster using the capi-quickstart. All machines were c5.xlarge (tried before also with t3.large and t3.xlarge, to check if it's instance size dependent). Once the cluster was up I ran sonobuoy upstream conformance tests using `sonobuoy run --mode=certified-conformance --wait`, which after a short while (in b

[2020-12-18 14:37] randomvariable opened #2173 "See where we can leverage AWS Fault Injection Simulator"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
From re:invent, AWS Fault Injection Simulator can simulate EC2 failures, see what we can leverage here.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes versi

[2020-12-18 14:42] randomvariable commented on #2171
You can resize the disk via the API and also add EBS volumes, in the RootVolume and NonRootVolumes fields of AWSMachine.

Is the issue that we should change the default disk size, which can be done in the https://github.com/kubernetes-sigs/image-builder project?

With regards to making easy to assign the extra disk for etcd, we don't have a decent UX, given that we need  a combination of adding th

[2020-12-18 14:45] randomvariable commented on #2171
Thinking about it, maybe we should move this as a use case to the Cluster API repo?

[2020-12-18 15:18] puja108 commented on #2171
Ah, didn't see that possibility to add it in the AWSMachine and then use it in the KCP. A better UX for that would be great. @vincepri is there already a proposal or something I can check out and maybe even help with?

Not sure if there needs to be a changing of the default disk size, as I believe keeping the root volume as is and add adding right-sized disks for things that need it (like docker f

[2020-12-18 15:55] randomvariable opened #2174 "New AMI time"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

![image](https://user-images.githubusercontent.com/1441070/102634241-7538b200-4149-11eb-909c-ac8c38638f65.png)

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernet

[2020-12-18 17:12] #1907 closed

[2020-12-18 17:12] #2166 closed

[2020-12-18 18:22] richardcase commented on #2173
Very nice, we can do some great testing with this

[2020-12-18 18:43] randomvariable commented on #2171
@puja108 happy to help any time.

There's some write up here about UX from @vincepri , but it's super early thoughts: https://hackmd.io/Z9tzIkGJQUaU9VbFuo6I7Q

[2020-12-20 19:45] richardcase commented on #1951
/remove-lifecycle stale

[2020-12-27 12:00] richardcase commented on #1746
/remove-lifecycle stale

[2020-12-27 21:08] richardcase opened #2176 "Error deleting cluster with managed node pool"
/kind bug
/area provider/eks

**What steps did you take and what happened:**
Running the upgrade test, when tearing down the cluster in the cleanup there is an error:

[code]

The test logs are [here](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-aws/2175/pull-cluster-api-provider-aws-e2e-eks/1343269651437588480/artifacts/clusters/bootstrap/con

[2020-12-27 21:08] richardcase commented on #2176
/assign
/lifecycle active

[2020-12-29 08:04] richardcase opened #2177 "Leader election permission error"
/kind bug

**What steps did you take and what happened:**
Enabled the eks providers in tilt settings and then ran `tilt up`. After some time you see errors similar to this coming from the infrastructure, bootstrap and control plane managers:

[code]

**What did you expect to happen:**
I expect these errors not to occur

**Environment:**

- Cluster-api-provider-aws version:  0.6.3

[2020-12-29 08:05] richardcase commented on #2177
/assign
/lifecycle active

[2020-12-29 08:07] richardcase commented on #2131
We will quickly run into EIP limits even with a small number of parallel tests.

[2020-12-29 20:39] richardcase opened #2178 "Add Opentelemetry tracing"
/kind feature
/help

**Describe the solution you'd like**
I'd like to be able to see tracing of the various controllers using [opentelemetry](https://opentelemetry.io/). This will enable us to see how many and how long reconcile loops, AWS API calls etc take which will be very helpful for issue investigation.

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubect

[2020-12-30 08:46] richardcase opened #2179 "[e2e] EKS e2e tests are failing due on reconciling aws-auth configmap"
/kind bug
/area provider/eks

**What steps did you take and what happened:**
When running the EKS e2e tests the aws-iam-authenticator config map reconciliation is failing:

[code]

**What did you expect to happen:**
The EKS e2e tests should pass this and the config map should be reconciled

**Anything else you would like to add:**
The control plane manager logs with an example are [here](https://s

[2020-12-30 08:46] richardcase commented on #2179
/assign
/lifecycle active

[2020-12-30 08:52] richardcase opened #2180 "Conditions error on deleting AWSManagedControlPlane"
/kind bug
/area provider/eks
/help

**What steps did you take and what happened:**
When an EKS cluster (AWSManagedControlPlane) with managed node group (AWSManagedMachinePool) is deleted in the e2e tests the following error is seen:

[code]

This implies that 2 different manager processes are modifying the `ClusterSecurityGroupsReady` condition on the `AWSManagedControlPlane` instance.

**What did

[2020-12-30 16:49] richardcase commented on #2179
This appears to have been an external change as the e2e tests worked on 12-18-2020 but are now failing [according to testgrid](https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-aws#pr-e2e-eks)

[2020-12-30 16:56] richardcase opened #2181 "Log AWS service calls"
/kind feature
/help
/good-first-issue

**Describe the solution you'd like**
I would like the ability to log AWS service calls - see [this](https://docs.aws.amazon.com/sdk-for-go/v1/developer-guide/configuring-sdk.html).

This should be enabled for a specific log level or higher (and perhaps there are different levels for different AWS SDK log levels).

**Anything else you would like to add:**
This

[2020-12-30 18:06] vince-makelog opened #2182 "Machine sshKeyName cannot be set to empty string"
/kind bug

**What steps did you take and what happened:**
- Tried to create a new MachineDeployment with a template
- Template has `sshKeyName` set to an empty string
- Controller fails with error:

**What did you expect to happen:**
- Machine should have been created without an SSH key according to documentation.

**Environment:**

- Cluster-api-provider-aws version: latest v1alpha3
- Kubernetes

[2020-12-30 18:37] richardcase commented on #1484
/remove-lifecycle stale

[2021-01-04 14:36] randomvariable commented on #2004
/lifecycle frozen

[2021-01-04 14:37] randomvariable commented on #1885
/lifecycle frozen

[2021-01-04 14:37] #2176 closed

[2021-01-04 14:41] richardcase commented on #2179
Mistaken referenced this in a PR, so:

/reopen

[2021-01-04 14:47] randomvariable commented on #2181
Looks interesting. Could also do it via adding handlers as we're doing for metrics.

[2021-01-04 14:47] #2177 closed

[2021-01-04 14:51] richardcase commented on #2181
That would probably be better as we would have more control of the output into the logs

[2021-01-04 18:48] sedefsavas commented on #2174
/assign

[2021-01-05 10:32] richardcase opened #2186 "Docs on how to use EKS Console with CAPA"
/kind feature
/area provider/eks
/kind documentation

**Describe the solution you'd like**
I would like some documentation on how I can use the EKS console with clusters created by CAPA.

**Environment:**

- Cluster-api-provider-aws version:  0.6.3

[2021-01-05 10:32] richardcase commented on #2186
/assign
/lifecycle active

[2021-01-05 12:10] randomvariable commented on #2178
We should probably help take this to completion https://github.com/kubernetes-sigs/controller-runtime/pull/1211

[2021-01-05 12:15] richardcase commented on #2178
I agree @randomvariable .

We could also start to add OpenTelemetry spans like they have done in CAPZ and then when https://github.com/kubernetes-sigs/controller-runtime/pull/1211 is agreed and implemeted we'd need to make sure that we use the existing parent spans from the context when we create our spans.

[2021-01-05 15:12] richardcase opened #2189 "Optional IAM policy creation for EKS Console as an option in clusterawsadm bootstrap"
/kind feature
/area provider/eks
/help
/good-first-issue

**Describe the solution you'd like**
It would be good to have an option to create a IAM policy for use with the EKS console (based on this [example](https://docs.aws.amazon.com/eks/latest/userguide/security_iam_id-based-policy-examples.html#policy_example3)) as part of:  `clusterawsadm bootstrap iam create-cloudformation-stack --config eks.

[2021-01-06 11:35] sedefsavas opened #2191 "Set ASG subnet to only private subnets"
In AWSMachinePool, if subnets are not specified, we add all available subnets to the AutoScalingGroup.
Instead, the default should be only private subnets IMO.

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/da8c0c4539a2aaaf64f570d95da7596d2bc683d0/pkg/cloud/services/autoscaling/autoscalinggroup.go#L148-L152
What do you all think?

[2021-01-06 14:23] sedefsavas opened #2192 "AWSMachinePool doesn't update ASG template upon MachinePool version change"
/kind bug

**What steps did you take and what happened:**
MachinePool K8s version change does not trigger an update on ASG machines.
This can be replicated with CAPI e2e MachinePool test.

**What did you expect to happen:**

**Anything else you would like to add:**
Here the new ImageId based on the version in MachinePool is discovered.
https://github.com/kubernetes-sigs/cluster-api-provider-aws/bl

[2021-01-06 17:33] sedefsavas commented on #2192
/assign

[2021-01-07 07:38] sedefsavas commented on #2192
Update: after fixing above mentioned issue, a new version of LaunchTemplate is created but the instances are not updated. So probably we also need to set a update strategy to trigger update when anything changes on the LaunchTemplate.

[2021-01-07 12:43] #2174 closed

[2021-01-07 21:08] felipeweb opened #2195 "Error when delete self hosted and eks cluster"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

E0107 20:57:36.319989       1 controller.go:257] controller-runtime/controller "msg"="Reconciler error" "error"="error deleting security groups for AWSCluster default/undistro-quickstart: failed to delete security group \"sg-09d3723fc49768432\": DependencyViolation: resource sg-09d3723f

[2021-01-07 21:35] felipeweb commented on #2195
it seems machine pool is not deleting resource

[2021-01-08 16:26] #2041 closed

[2021-01-11 15:14] #972 closed

[2021-01-11 15:14] #1659 closed

[2021-01-11 15:14] #1719 closed

[2021-01-11 15:14] #1727 closed

[2021-01-11 15:14] #1755 closed

[2021-01-11 16:15] #1827 closed

[2021-01-11 16:15] #1842 closed

[2021-01-11 16:15] #1619 closed

[2021-01-11 16:15] #1837 closed

[2021-01-11 16:15] #1745 closed

[2021-01-11 16:15] #1762 closed

[2021-01-11 16:15] #1818 closed

[2021-01-11 17:08] sedefsavas opened #2196 "Add AWSMachinePoolInstanceStatus"
We need a field in the AWSMAchinePool status that shows the current versions of the instances in the ASG.

A similar field exists in CAPZ (https://github.com/kubernetes-sigs/cluster-api-provider-azure/commit/8a339cf388b7a521cfa76bf5fedba0145758ce73) and CAPD.

This is needed for CAPI e2e tests to work.

/assign

[2021-01-12 04:16] lxlxok commented on #2169
/lifecycle active
/assign

[2021-01-12 04:17] lxlxok commented on #2170
/lifecycle active
/assign

[2021-01-12 12:54] #2196 closed

[2021-01-12 13:12] #1999 closed

[2021-01-12 13:12] #2064 closed

[2021-01-12 13:12] #2186 closed

[2021-01-12 13:12] #2179 closed

[2021-01-13 09:54] sedefsavas opened #2200 "CAPA e2e redundancy check"
There is a e2e gap analysis document that shows what should be done in CAPA and what can be offloaded to CAPI

https://docs.google.com/spreadsheets/d/1PD6qFljm0G46h4OQKIii2plQEUhBJ9xfm40l6T7Uixw/edit#gid=0

Revisit this to reduce redundancy.

[2021-01-13 19:53] richardcase commented on #2195
@felipeweb  - just to confirm this is a EKS based cluster (i.e. using AWSManagedCluster/AWSManagedControlPlane)? Are you using AWSMachinePool or AWSManagedMachinePool?

There was a recent fix for deletion in #2176 that covers both versions of the machine pool.

[2021-01-13 21:14] felipeweb commented on #2195
@richardcase yes I'm using AWSManagedMachinePool

[2021-01-14 07:31] richardcase commented on #2195
Thanks @felipeweb, in that case it would be worth trying this agan when 0.6.4 is out with the #2176 fix in it.

[2021-01-14 07:55] sedefsavas opened #2205 "New AMI time"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Create new AMIs for Kubernetes versions 1.20.2, 1.19.7, 1.18.15, 1.17.17.

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2021-01-14 07:56] sedefsavas commented on #2205
/assign

[2021-01-14 14:01] randomvariable opened #2207 "Tag Elastic IPs on creation"
/kind feature

**Describe the solution you'd like**
The AWS EC2 API has been updated, and Elastic IPs can now be tagged on creation.

SDK support came in [v1.36.13](https://github.com/aws/aws-sdk-go/blob/master/CHANGELOG.md#release-v13613-2020-12-21)

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provide

[2021-01-14 15:38] voor opened #2208 "Clear out sensitive files after successful bootstrap"
/kind feature

We keep around some files around that contain sensitive information that should ideally be removed when all conditions are met for proper cluster creation. I would like to have a high level of confidence that everything from those files has properly been used, and then the file can be safely deleted without impacting future troubleshooting or remediation.

**Describe the solution yo

[2021-01-14 15:47] #2192 closed

[2021-01-14 16:21] #2205 closed

[2021-01-14 19:41] kkeshavamurthy commented on #2123
/close

[2021-01-14 19:41] #2123 closed

[2021-01-14 20:25] sedefsavas opened #2209 "Investigate adding rate limiters to AWSMachinePool"
AWSMachinePool does not use session right now and rate limiting are added during creating the session (see https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2201/).

We need to investigate how to integrate rate limiting here.

[2021-01-14 20:26] sedefsavas opened #2210 "Investigate adding rate limiters to AWSMachinePool"
AWSMachinePool does not use session right now and rate limiting are added during creating the session (see https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2201/).

We need to investigate how to integrate rate limiting here.

[2021-01-14 20:26] sedefsavas commented on #2210
duplicate

[2021-01-14 20:26] #2210 closed

[2021-01-15 09:11] richardcase opened #2212 "[e2e] Split EKS e2e tests into fast and full"
/kind feature
/area provider/eks
/area testing

**Describe the solution you'd like**
It takes a long time to run the eks e2e tests so we should have 2 test jobs:

- full - this runs all the scenarios
- lite - this runs just the main scenario and can be used during dev as a quicker way to check that nothing is broken

**Anything else you would like to add:**
This will requires changes to test-infra

[2021-01-15 09:12] richardcase commented on #2212
/lifecycle active

[2021-01-15 12:19] #2054 closed

[2021-01-15 14:03] #2065 closed

[2021-01-15 20:00] randomvariable opened #2218 "LDFLAGS are missing in cloudbuild"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

In cloudbuild, there isn't actually a git checkout, it's a copy of the code only. During build, we pass in LDFLAGS for version information that are computed with git. This errors in Make, and the LDFLAGS are blank, which means that version info doesn't make it into the binary.

**What d

[2021-01-18 14:23] richardcase opened #2219 "Role creation for use with EKS addons"
/kind feature
/area provider/eks
/help

**Describe the solution you'd like**
I would like a way for CAPA to create a role with the required permissions for use with EKS addons. Currently, you need to create the role outside of CAPA and supply the ARN when declaring the addon.

There would be significant UX benefits from this.

Relates to #2139

[2021-01-18 15:31] #2056 closed

[2021-01-20 12:00] randomvariable commented on #1875
/lifecycle frozen

[2021-01-20 12:33] richardcase commented on #1955
/remove-lifecycle rotten

[2021-01-20 13:13] randomvariable commented on #1955
pro-tip

/lifecycle frozen

[2021-01-20 22:38] dthorsen commented on #2022
@MarcusNoble @randomvariable I am finally getting back to this work. Sorry for the delay. After I observed the following behavior in our clusters, I realized the poor UX of totally ignoring the replicas field:
[code]
The MachinePool controller thinks this pool is always "scaling down" because the `replicas` field in the spec is set to 1 on the MachinePool, but the replicas field on the status has

[2021-01-21 07:52] MarcusNoble commented on #2022
Where's the value of 10 coming from on the status? Is that the current number of ASG instances?

[2021-01-21 11:47] #2139 closed

[2021-01-21 14:51] randomvariable commented on #2022
@dthorsen you might want to chat to @devigned and @CecileRobertMichon , as there's similar discussion there, and we are likely to change MachinePools in v1alpha4. See https://github.com/kubernetes-sigs/cluster-api/issues/4063

[2021-01-21 15:25] devigned commented on #2022
How would `nil` replicas work with K8s version upgrades? In https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/819 we are planning on enabling MaxUnavailable and MaxSurge for safe rolling upgrade scenaios. These scenarios both implicitly require an understanding of the desired number of replicas. Seems like externalizing management of replica count would impair other behaviors or

[2021-01-21 16:18] dthorsen commented on #2022
Thank you @randomvariable.

@devigned replicas is not nil, it is not allowed to be nil as it will default to 1. The conversation going on in kubernetes-sigs/cluster-api#4063 is interesting. I'll chime in a bit in that thread as well. My goal was to push more of the instance management logic into the underlying Cloud Provider. Be able to utilize things like Instance Refresh, and Managed Node Groups

[2021-01-21 17:54] shysank opened #2222 "Containers still run as root due to non-numeric user in Docker image"
/kind bug

**What steps did you take and what happened:**
This is a duplicate of [capi non root user bug](https://github.com/kubernetes-sigs/cluster-api/issues/4046)

**What did you expect to happen:**
capa should not fail when psp for non root users is enabled

**Anything else you would like to add:**
[capi fix](https://github.com/kubernetes-sigs/cluster-api/pull/4064)

**Environment:**

- cluste

[2021-01-22 09:12] sedefsavas commented on #2218
/assign

[2021-01-22 09:40] sedefsavas commented on #2218
In the logs, it is actually doing a checkout but then it complains that it is `not a git repository`.

https://storage.googleapis.com/kubernetes-jenkins/logs/post-cluster-api-push-images/1352342470024761344/clone-log.txt
[code]

We can calculate version by using GIT_TAG and PULL_BASE_REF passed to GCB.

Required fields:
[code]

[2021-01-22 11:59] #2132 closed

[2021-01-22 17:08] randomvariable commented on #2218
Yup. I have an intense dislike of Bash scripts though, so wouldn't mind transferring the version.sh script to Go. https://github.com/go-git/go-git also now exists with an Apache license, so we could use it.

[2021-01-22 22:32] srm09 commented on #2222
FYI https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/1089#issuecomment-765721150

[2021-01-23 06:25] felipeweb commented on #2195
fixed in v0.6.4

[2021-01-23 06:25] #2195 closed

[2021-01-23 07:12] felipeweb opened #2224 "EkS kubelet-extra-args are not set when using machinepool"
/kind bug

**What steps did you take and what happened:**

[code]

is generating wrong userdata

[code]

**What did you expect to happen:**

[code]

**Anything else you would like to add:**

**Environment:**

- Cluster-api-provider-aws version: v0.6.4
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2021-01-23 12:56] richardcase commented on #2224
/area provider/eks
/help

[2021-01-23 13:04] richardcase opened #2225 "Upgrade to use AWS SDK for Go v2"
/kind feature

**Describe the solution you'd like**
Now that the [AWS SDK for Go version 2](https://github.com/aws/aws-sdk-go-v2) is [GA](https://aws.amazon.com/blogs/developer/aws-sdk-for-go-version-2-general-availability/) we should consider using it in CAPA. It brings a number of benefits including individual service modules and less use of pointers.

There are some things we need to be aware o

[2021-01-23 13:04] richardcase commented on #2225
/assign

[2021-01-23 21:33] felipeweb commented on #2224
@richardcase the root problem is that the machinepol is not converting template object into a concrete object. I send a PR to CAPI

[2021-01-24 01:32] shuheiktgw commented on #2181
Hi, I'm new to contributing Kuberenetes but I'm eager to get involved with its development! May I take this issue if anyone else does?

[2021-01-24 03:29] felipeweb commented on #2224
We are using the default launch template for eks, I am assuming this because we are not passing any launch template https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/b7294cef139c2642036592489e431b0fdf5bb59a/pkg/cloud/services/eks/nodegroup.go#L162-L171
There are any reasons for that?

According to AWS Console the userdata is configured in launch template so w need to reconcile and p

[2021-01-24 06:35] richardcase commented on #2225
/milestone Next

[2021-01-24 06:40] richardcase commented on #2181
@shuheiktgw - that would be geat, thank you. If you need help reach out here on the slack channel. I will assign the issue to you but you can also assign issues yourself by commenting `/assign`. When you start work can you also comment `/lifecycle active`?  @randomvariable  also suggested that we could implement this via a [handler like we do for metrics](https://github.com/kubernetes-sigs/cluster

[2021-01-24 06:54] richardcase commented on #2224
@felipeweb - there isn't a specific reason the launch template support isn't there for `AWSManagedMachinePool`....it was really to do with timing and us wanting to get initial functionality into the provider (which meant using the default launch template). We have an issue created for adding the launch template support ( #2055)....... @michaelbeaumont are you working on this or is this something @

[2021-01-24 06:55] richardcase commented on #2224
@felipeweb - also feel free to ping me on the slack channel if needed

[2021-01-24 08:00] michaelbeaumont commented on #2224
@richardcase I am working on it, I'll have a PR up today. We can gladly collaborate on it!

[2021-01-24 08:51] richardcase commented on #2224
Great @michaelbeaumont 👍

[2021-01-24 12:55] michaelbeaumont commented on #2055
@richardcase @felipeweb Right now, `AWSMachinePool` supports setting a limited number of options for launch templates inline with the resource, most of which are covered by the `Nodegroup` API in the `AWSManagedMachinePool` case. I think it would make the most sense to only support referencing a launch template by ID with `AWSManagedMachinePool`. WDYT?

[2021-01-24 13:38] felipeweb commented on #2055
IMHO we need to be able to add the extra kubelet args passed in the EKSConfig object in the Launch template even if an Launch template ID is not passed to the mamagedmachinepool. The node-label argument must to be added https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/b7294cef139c2642036592489e431b0fdf5bb59a/pkg/cloud/services/eks/nodegroup.go#L168 too and other fields we need to p

[2021-01-24 15:01] michaelbeaumont commented on #2055
It's slightly more complicated I think, `eksctl` doesn't allow you to pass arbitrary kubelet args to a managed nodegroup.
The user data for managed nodegroups must follow the guidelines laid out [in the docs](https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html#launch-template-user-data) which prevent the userdata from calling the bootstrap directly, I believe, because the user d

[2021-01-24 23:59] shuheiktgw commented on #2181
/lifecycle active

[2021-01-25 00:04] shuheiktgw commented on #2181
Thank you for your guidance @richardcase! I've started reading the code around it but still could not figure out the way to retrieve the current log levels... Would you have any recommendations on which part of the source code I should read? 🙇

[2021-01-25 11:43] randomvariable commented on #2222
@enxebre @JoelSpeed I know OpenShift has some practice around this. Any recommendations?

[2021-01-25 13:12] JoelSpeed commented on #2222
I had to double check this, but, OpenShift uses an admission plugin to ensure that all pods that don't explicitly get granted a higher security policy, get a runAsUser injected into them at pod creation time. So for our machine controllers for example this gets injected into the pod spec so that each container has

[code]

Unfortunately I think this is rather different to how it is being fixed els

[2021-01-25 21:25] jzhoucliqr opened #2227 "Can not delete cluster when VPC creation failed"
/kind bug

**What steps did you take and what happened:**
A cluster creation failed because of VPC quota limit, when try to delete the cluster, it stuck at delete security groups because there is no VPC-ID.

[code]

We are using capa 0.6.3, but by looking at the code, 0.6.4 should have the same issue.

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous info

[2021-01-27 08:01] richardcase commented on #2181
@shuheiktgw - thanks for the PR on this...i will take a look at this morning. Sorry for not getting back to you with the recommendations.

[2021-01-27 10:56] shuheiktgw commented on #2181
No worries! I made the PR draft since I'm still setting up my local development environment and haven't tested it, but I would really appreciate it if you would have a look!

[2021-01-27 11:01] richardcase commented on #2181
I just pined you in slack about the dev environment

[2021-01-28 00:33] felipeweb opened #2231 "EKS: Bastion seems unable to access nodes created with managedmachinepool"
/kind bug

**What steps did you take and what happened:**
EKS: Bastion seems unable to access nodes created with managed machine pool

[code]

**What did you expect to happen:**

Be able to connect to bastion and then connect to node using private IP

**Environment:**

- Cluster-api-provider-aws version: v0.6.4
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2021-01-28 12:33] randomvariable opened #2233 "For v1alpha4, encrypted value of Volume struct should be pointer"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
If you're using an encrypted EBS snapshot for the root volume AMI, you explicitly need to set

[code]

You shouldn't need to do this.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-a

[2021-01-28 18:20] felipeweb commented on #1985
The same problem occurs on AWSManagedMachinePool https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2231

Launch template logic needs some refactor to able use with managed machine pool. This PR https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2055 add the ability to refer launch template inside AWSManagedMachinePool, but as @michaelbeaumont said here https://gith

[2021-01-31 23:17] shuheiktgw commented on #2219
Let me try fixing this issue!

[2021-01-31 23:17] shuheiktgw commented on #2219
/assign
/lifecycle active

[2021-02-01 14:34] gab-satchi commented on #1871
/remove-lifecycle stale

[2021-02-01 18:21] #1871 closed

[2021-02-01 18:37] lsh0357 opened #2236 "[we need to check this] When AWSCluster reconciliation fails, the cluster status may missing"
I was facing the issue in other capi cloud provider that the infracluster status is missing when infracluster controller reconciliation fails, I'm wondering if you have the same issue at CAPA.
The cause is that the infracluster's `status.Ready` field is required.

1. During infracluster reconciliation, we use client.Get to get infraCluster to a infraCluster type variable, which will set status.Rea

[2021-02-01 19:22] stevenolen commented on #1659
for what it's worth -- I'm running 0.6.4 now and this appears to be no longer applicable. AWSCluster's `spec.networkSpec.subnets` is used in control plane node placement!

[2021-02-02 08:40] richardcase commented on #2167
/kind bug

[2021-02-02 15:11] randomvariable commented on #2236
Just checked from a failed e2e run that we do indeed have the conditions set at https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-aws/1933/pull-cluster-api-provider-aws-e2e/1356437037489590272/artifacts/clusters/bootstrap/resources/functional-tests-aqf9dk/AWSCluster/cluster-l9rzw7.yaml

[2021-02-02 16:53] richardcase opened #2238 "[e2e] Extend the EKS tests to include bastion tests"
/kind feature
/area provider/eks
/area testing

**Describe the solution you'd like**
We need to extend the EKS e2e tests to include a test for the bastion functionality to make sure there is connectivity between bastion and the workers

**Environment:**

- Cluster-api-provider-aws version: 0.6.4

[2021-02-02 16:55] richardcase opened #2239 "[e2e] Fix the EKS tests so we can enable the full suite"
/kind bug
/area provider/eks
/area testing

**Describe the solution you'd like**
We had to disable the upgrade e2e test on the EKS side as it introduced flakiness that was a blocker for new features being added. We need fix this and enable the upgrade tests so that we have greater confidence that nothing has broken.

**Environment:**

- Cluster-api-provider-aws version: 0.6.4

[2021-02-02 16:56] richardcase commented on #2239
/assign
/lifecycle active

[2021-02-03 15:46] randomvariable commented on #2236
/close

I think we know this works.

[2021-02-03 15:46] #2236 closed

[2021-02-04 13:10] #1137 closed

[2021-02-04 15:58] randomvariable opened #2242 "[e2e] Fix flake in unmanaged suite"
/kind bug

This is failing a lot.

• Failure [2152.835 seconds]
functional tests - unmanaged
/home/prow/go/src/sigs.k8s.io/cluster-api-provider-aws/test/e2e/suites/unmanaged/unmanaged_test.go:74
  Multiple workload clusters
  /home/prow/go/src/sigs.k8s.io/cluster-api-provider-aws/test/e2e/suites/unmanaged/unmanaged_test.go:313
    in different namespaces with machine failures
    /home/prow/go/src

[2021-02-04 16:16] richardcase commented on #2242
/area testing

[2021-02-04 16:22] #1985 closed

[2021-02-07 18:53] michaelbeaumont commented on #1990
/lifecycle active
/assign

[2021-02-08 04:04] TBBle commented on #2009
/remove-lifecycle stale

[2021-02-08 04:05] TBBle commented on #2075
/remove-lifecycle stale

[2021-02-08 06:12] MarcusNoble commented on #2069
/remove-lifecycle stale

[2021-02-08 06:13] MarcusNoble commented on #2089
/close
Fixed in #2070

[2021-02-08 06:14] #2089 closed

[2021-02-08 06:15] MarcusNoble commented on #2087
/remove-lifecycle stale

[2021-02-08 06:16] MarcusNoble commented on #2047
/close

Closing as covered by #2087 and the alternative fallback implemented in #2051

[2021-02-08 06:16] #2047 closed

[2021-02-08 08:31] richardcase commented on #1979
/remove-lifecycle stale

[2021-02-08 14:17] #1990 closed

[2021-02-08 18:27] richardcase opened #2244 "Add release-notes automation"
/kind feature
/area release

**Describe the solution you'd like**
We have enabled the `release-notes` Prow plugin and added the release-notes template to the PR template (#2232). This means that any new PRs will be required to declare if they need a release not or not.

If a PR is has a release note we need to pull this out of the PR as part of the release process and add to the GitHub release not

[2021-02-08 18:28] richardcase commented on #2244
/assign
/lifecycle active

[2021-02-08 18:29] richardcase commented on #2225
/unassign

[2021-02-10 14:35] richardcase commented on #1786
/remove-lifecycle stale

[2021-02-10 19:34] michaelbeaumont commented on #2224
I'm not yet convinced `EKSConfig` should be supported at all. ([some more discussion here](https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2055#issuecomment-766349656))

If we let the `AWSManagedMachinePool` spec look like the EKS API then we have to support both `spec.labels` as well as labels set through `EKSConfig`. In order to support `EKSConfig`, we have to launch everythin

[2021-02-10 20:39] michaelbeaumont commented on #2167
/lifecycle active
/assign

[2021-02-11 11:52] michaelbeaumont commented on #1786
Mapping this to `MachinePool` feels like a little bit of a mismatch given that we don't have `version`, `replicas`, `bootstrap`, etc. We have `Node`s but we don't really have `spec.replicas`. Do we think this is important?

[2021-02-11 12:30] felipeweb commented on #2224
@michaelbeaumont @richardcase  I understand the risks of supporting both formats, but even so, I think we must because the kubelet-extra-args can configure the taints in addition to the labels

[2021-02-11 15:50] richardcase commented on #1786
/label adr-required

[2021-02-11 15:57] richardcase commented on #1786
As this doesn't really match well to upstream CAPI kinds I wonder if we just create an `AWSFargateProfile` kind with associated controller? And maybe it just cares about its matching `AWSManagedControlPlane`. WDYT?

[2021-02-11 16:00] richardcase commented on #1786
@michaelbeaumont @randomvariable  - i think we should probably capture the decision on how we implement this in an ADR

[2021-02-11 16:03] richardcase commented on #2224
If we support both and there is overlap which would take precedence?

(I need to have a look at the docs to give a better answer....will do that)

[2021-02-11 20:47] Promaethius commented on #392
@randomvariable I'd like to pick this up

[2021-02-12 18:20] Promaethius commented on #392
/assign

[2021-02-12 20:50] #1861 closed

[2021-02-13 07:11] richardcase opened #2248 "Add OIDC Provider Support"
/kind feature
/area provider/eks

**Describe the solution you'd like**
You can associate an OIDC provider with an EKS cluster and use that to authenticate users who access the cluster. We should add support for this to CAPA

**Anything else you would like to add:**
See the announcement [here](https://aws.amazon.com/blogs/containers/introducing-oidc-identity-provider-authentication-amazon-eks/).

*

[2021-02-13 07:12] richardcase commented on #2248
/assign
/lifecycle active

[2021-02-16 08:37] richardcase opened #2251 "[e2e] Update EKS tests to use the `EKSControlPlaneUpdating` condition"
/kind feature
/area provider/eks
/area testing
/help

**Describe the solution you'd like**
The [waitForControlPlaneToBeUpgraded](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/18ba5a5968fcd6289f50994e3ffff856066c154d/test/e2e/suites/managed/control_plane_helpers.go#L42) should be updated to use the new `EKSControlPlaneUpdating` condition. Within the e2e test framework there is a

[2021-02-16 08:38] richardcase commented on #2251
Happy to help anyone if they want to pick this up.

[2021-02-16 12:45] #2244 closed

[2021-02-16 13:32] invidian commented on #1875
I've made some recent work on CABPK (https://github.com/kubernetes-sigs/cluster-api/pull/4172), which adds support to generate bootstrap data in Ignition format.

I also have a WIP branch for CAPA, which adds remaining bits to support provisioning clusters running Flatcar (#1979). My work involves:
- Adding `bucket` field to `AWSClusterSpec`. If `enabled` property is set, S3 bucket will be created

[2021-02-16 13:32] invidian commented on #1979
See https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1875#issuecomment-779839267 for some progress update.

[2021-02-16 16:00] JoelSpeed commented on #1875
I certainly like the sound of this update, the small ignition snippet style and loading from S3 is certainly a common pattern so makes sense to keep to that.

Out of interest, can we account here for generating a v2 vs v3 ignition snippet? Have you thought about this already?

Another suggestion I would have is to try and see what other providers can do in this area, perhaps there's some discussio

[2021-02-16 16:04] invidian commented on #1875
Yes, similar to CABPK, I use v2 Ignition for Flatcar by default, with easy to add v3 support.

I think other cloud providers will be simpler to implement. E.g. Azure and GCP puts userdata directly in instance metadata, without any sort of middleware service. I'd expect them to work out of the box (or almost) with proposed CABPK changes. Only AWS is special due to userdata size limitation.

[2021-02-16 21:07] michaelbeaumont commented on #2224
Indeed, there are certain features that managed nodegroups don't yet natively support.

This all make me wonder if it's worth supporting the structure of the managed nodegroup API in the `AWSManagedMachinePool` `spec` at all (i.e. how it is currently).

What do we think about have some common part of `spec` for `AWSMachinePool` and `AWSManagedMachinePool` such that they both support arbitrary cust

[2021-02-17 12:14] wmgroot opened #2254 "AWSMachineTemplate spec configurable EBS Volume throughput for gp3 type"
/kind feature

**Describe the solution you'd like**
The new gp3 type EBS volumes support configurable throughput, rather than calculating it from the size of the volume. Currently, there does not appear to be a way to set this parameter on the AWSMachineTemplate CRD.

https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-volume-types.html

AWSMachineTemplate root volume config.
[code]

**Environ

[2021-02-18 08:18] richardcase commented on #2254
/help

[2021-02-18 14:02] #2181 closed

[2021-02-18 14:09] richardcase opened #2255 "Refactor the log wrappers for the AWS SDK"
/kind cleanup
/help
/good-first-issue

**Describe the solution you'd like**
Refactor the ec2 service where we [wrap the logger](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/38007acdd23ed4cc091cb1f267b178fd195bd8ae/pkg/cloud/services/ec2/instances.go#L609-L616) for use with the AWS so that it uses the [log package](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob

[2021-02-18 16:28] richardcase opened #2256 "Create ARCHITECTURE.md"
/kind feature
/kind documentation
/help

**Describe the solution you'd like**
Create a [ARCHITECTURE.md](https://matklad.github.io//2021/02/06/ARCHITECTURE.md.html) file in the root to help new contributors understand the codebase and the architecture of the provider.

This should also be linked into the doc under the "development" section

**Environment:**

- Cluster-api-provider-aws version: 0.6

[2021-02-18 19:09] #1923 closed

[2021-02-18 19:09] #1940 closed

[2021-02-18 19:09] #1911 closed

[2021-02-18 19:09] #1872 closed

[2021-02-18 20:59] sedefsavas opened #2257 "Create new AMIs"
For new Kubernetes versions:
• v1.18.16: https://github.com/kubernetes/kubernetes/releases/tag/v1.18.16
• v1.19.8:  https://github.com/kubernetes/kubernetes/releases/tag/v1.19.8
• v1.20.4: https://github.com/kubernetes/kubernetes/releases/tag/v1.20.4
• v1.20.3: https://github.com/kubernetes/kubernetes/releases/tag/v1.20.3

[2021-02-18 20:59] sedefsavas commented on #2257
/assign

[2021-02-19 20:27] sedefsavas opened #2258 "Switch published artifacts to k8s.gcr.io"
We can switch our images to use k8s.gcr.io instead of us.k8s.gcr.io in all our artifacts.

https://github.com/kubernetes-sigs/cluster-api/issues/3384

/milestone v0.7.0

[2021-02-21 09:05] sedefsavas commented on #2257
v1.20.3 packages are missing, see: https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64/repodata/filelists.xml

Getting this error in image-builder:
[code]

[2021-02-22 21:35] michaelbeaumont opened #2263 "NatGateway deletion should happen in parallel"
/kind bug
/area networking

**What steps did you take and what happened:**
Upon deleting e.g. an `AWSManagedControlPlane`, deletion of the `NatGateways` inside the VPC is serialized such that the wait time is `#subnets * single gateway deletion time`.

**What did you expect to happen:**
Ideally, deletion of all gateways would be started before waiting for all deletions to finish.

**Anything else

[2021-02-23 16:32] #2257 closed

[2021-02-23 16:42] #2255 closed

[2021-02-24 08:34] sedefsavas opened #2267 "Unit tests should not need to call reconcile()"
In the unit tests that use testenv, instance creation should trigger reconciliation automatically and hence we don't need to trigger `reconcile()`.

For this, we need to add the reconciler by calling SetupWithManager() similar to: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/76ea0c9445caa2ecbdcf97a24dcaf0433a6f8139/exp/instancestate/awsinstancestate_controller_test.go#L87

/kin

[2021-02-24 10:52] randomvariable opened #2268 "Production-level documentation"
/kind documentation
/help

I've been going through documents for [AWS Technical Baseline Reviews](https://aws.amazon.com/partners/foundational-technical-review/), and have drawn up this list of documentation that we should have to help end-users based on their checklist.

- [ ] Typical deployment with list of all resources
- [ ] List all deployment options (single-AZ, multi-AZ, multi-region)
- [ ]

[2021-02-24 11:50] Srikrishnabh commented on #2267
@sedefsavas I would like to contribute. can you please guide me further.

[2021-02-24 12:58] Evalle commented on #2267
/assign @Srikrishnabh

[2021-02-24 15:13] sedefsavas commented on #2267
@Srikrishnabh
Right now, we do not attach controllers to envtest manager in most suite_test.go where we setup the testing environment.
And hence when we create an object, its reconciler is not triggered and we trigger it by calling the function like here:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/5721067c87ec597c8b7816d9e79851ca6bad5129/controllers/awsmachine_controller_test

[2021-02-24 16:51] invidian opened #2270 "AWSMachine cannot be removed if controller is installed with invalid credentials"
/kind bug

**What steps did you take and what happened:**
1. Install AWS provide with invalid credentials (malformed, revoked etc.)
2. Create a cluster
3. Delete a cluster

Controller gets stuck by calling `ec2svc.GetRunningInstanceByTags`, which fails because of wrong credentials. This make removal of `AWSMachine` object stuck.

Actually, the same happens for `AWSCluster`.

**What did you expect

[2021-02-24 17:08] randomvariable commented on #2270
There's not much we can do automatically if it's erroring whilst querying EC2.

Maybe we need to add  something to the docs. You can force remove the object by deleting the finalizer.

[2021-02-24 17:10] invidian commented on #2270
Yes, thanks, I figured that out already :) Maybe before putting the finalizer there should be some safety check run to make sure credentials are correct?

[2021-02-25 16:43] invidian commented on #1875
Created #2271 with initial implementation to resolve #1979 and possibly this issue.

[2021-02-25 16:43] invidian commented on #1979
Created #2271 with initial implementation to resolve this and possibly #1875.

[2021-02-25 21:41] wmgroot opened #2272 "Support for ephemeral instance storage volumes in AWSMachineTemplate"
/kind feature

**Describe the solution you'd like**
I would like the ability to provision nodes with ephemeral instance store volumes attached.
https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/add-instance-store-volumes.html

This would allow another option for high performance disk to be available for scratch storage in our clusters.

**Anything else you would like to add:**
Slack thread for m

[2021-02-27 08:24] richardcase commented on #2263
/help

[2021-02-27 08:26] richardcase commented on #2268
Great list @randomvariable. I can help with some of this.

[2021-02-27 08:27] richardcase commented on #2272
/help

[2021-03-01 16:29] richardcase commented on #2128
This was done in #2234 so closing

[2021-03-01 16:29] #2128 closed

[2021-03-01 21:37] cdenneen commented on #2105
/remove-lifecycle stale

[2021-03-01 21:38] cdenneen commented on #2105
Has anyone successfully managed to make this work with IRSA?

[2021-03-01 22:01] cdenneen opened #2274 "DOCS: Updated AWS Management Cluster docs"
/kind feature

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/book/src/topics/using-cluster-api-with-cross-account-role-assumption.md

These instructions still mention `clusterctl alpha phases` which is no longer viable. These docs need to be updated.

[2021-03-02 09:24] richardcase commented on #2274
/help
/good-first-issue
/kind documentation

[2021-03-02 11:50] richardcase opened #2275 "Enable usage of GPU optimized AMIs for EKS"
/kind feature
/area provider/eks
/help

**Describe the solution you'd like**
When creating an EKS cluster i would like to indicate that the GPU optimized AMI be used. Currently we use `/aws/service/eks/optimized-ami/%s/amazon-linux-2/recommended/image_id` to lookup the [AMI in parameter store](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/pkg/cloud/services/ec2/ami.go#L23

[2021-03-02 13:31] Evalle commented on #2274
I'm happy to contribute.
/assign

[2021-03-02 14:07] cdenneen commented on #2105
/help
/good-first-issue
/kind documentation

[2021-03-02 15:52] vincepri commented on #2118
/lifecycle frozen

[2021-03-02 15:52] vincepri commented on #2118
/help

[2021-03-03 09:09] richardcase opened #2277 "`MachinePool` FailureDomains ignored for managed machine pool"
/kind bug
/area provider/eks
/priority important-soon
/help

**Describe the solution you'd like**
When creating an EKS nodegroup via `AWSManagedMachinePool` and no subnets are set in the spec then we should make sure that we select subnets that honor the [FailureDomains](https://github.com/kubernetes-sigs/cluster-api/blob/master/exp/api/v1alpha3/machinepool_types.go#L64) on the parent `MachinePool

[2021-03-03 10:11] richardcase commented on #2141
/lifecycle frozen

[2021-03-03 14:12] richardcase commented on #1869
/lifecycle frozen

[2021-03-03 14:13] richardcase commented on #1869
We do some lookup of default AMIs on the EKS side. However, we don't look up the GPU optimized AMIS (see #2275)

[2021-03-03 14:13] richardcase commented on #1869
/help

[2021-03-03 15:56] thejoycekung opened #2280 "[Failing Test] periodic-cluster-api-provider-aws-e2e-conformance-v1alpha3-with-k8s-ci-artifacts"
#### Which jobs are failing:
periodic-cluster-api-provider-aws-e2e-conformance-v1alpha3-with-k8s-ci-artifacts

#### Which test(s) are failing:
The whole job

#### Since when has it been failing:
March 1 between 9:11 PST and 13:12 PST

#### Testgrid link:
https://testgrid.k8s.io/sig-release-master-informing#capa-conformance-v1alpha3-k8s-master

#### Reason for failure:
[code]

#### Anything else we

[2021-03-03 17:36] vincepri commented on #2280
✔️

[2021-03-04 13:11] MarcusNoble commented on #2146
/remove-lifecycle stale

[2021-03-04 17:14] #2280 closed

[2021-03-04 17:19] sedefsavas commented on #2280
@thejoycekung Just FYI, we will keep seeing these failure until https://github.com/kubernetes-sigs/cluster-api cut v0.3.15 release.

[2021-03-04 17:56] Danil-Grigorev opened #2283 "Control Plane Load Balancer Attachments management from Machine"
/kind feature

**Describe the solution you'd like**

Currently, the `AWSCluster` resource allows specification of a single classic load balancer (in spec and status). This works well when the `AWSCluster` is being managed by the `AWSCluster` controller, however, with the introduction of the Externally Managed Cluster Infrastructure concept, this could present a limitation to external cluster infra

[2021-03-04 17:56] Danil-Grigorev commented on #2283
cc @JoelSpeed Feel free to add details to this issue if I missed anything.

[2021-03-04 18:15] alexander-demichev commented on #2283
This suggestion seems useful

[2021-03-04 21:03] cdenneen commented on #2272
@richardcase would this be useful? https://github.com/brunsgaard/eks-nvme-ssd-provisioner

[2021-03-04 23:18] fyangd opened #2284 "ELB resource lacks a `Name` tag"
/kind bug

**What steps did you take and what happened:**
When you create a CAPA cluster, the ELB resource created has the following tags:

[code]

**What did you expect to happen:**
Just like all other types of resources created by CAPA, such as NAT Gateway or EC2 Instance, with a `tag:Name` property, such as:

[code]

I expect ELB to have a `tag:Name` property.

**Environment:**

- Cluster-api-p

[2021-03-04 23:31] fyangd commented on #2284
I believe this line here: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/dafe0711b279a6c04735338f9ccffa392a6d0f36/pkg/cloud/services/elb/loadbalancer.go#L343 is missing the Name parameter.

[2021-03-05 15:29] sedefsavas commented on #2284
/assign

[2021-03-05 15:44] #2284 closed

[2021-03-05 17:04] elfklx commented on #2284
Thanks @sedefsavas for the prompt fix!

[2021-03-05 17:05] fyangd commented on #2284
Thanks @sedefsavas for the prompt fix!

[2021-03-09 13:41] richardcase opened #2287 "Declarative way to delete AWS VPC CNI"
/kind feature
/area provider/eks
/priority important-soon
/help

**Describe the solution you'd like**
When provisioning a EKS cluster for Kubernetes v1.17 or less using CAPA where and i want to use a CNI that is different from the default Amazon VPC CNI (i.e something like Calico) i would like an easy way to ensure that the AWS VPC CNI is deleted.  For an unmanaged cluster (i.e. EC2/Kubeadm) this

[2021-03-09 15:46] sedefsavas commented on #1982
/lifecycle stale

[2021-03-09 16:36] voor commented on #2155
/remove-lifecycle stale
@sedefsavas

[2021-03-09 18:41] sedefsavas commented on #2155
/assign

[2021-03-09 18:42] sedefsavas commented on #2155
I think we shouldn't accept any invalid enum value for this field, or actually any other field that uses enum.

[2021-03-09 18:52] voor commented on #2155
That makes sense and is a reasonable solution, the current issue is that it fails quietly and ends up creating the internet-facing load balancer in the private subnets (so _half_ of it is successful and _half_ of it fails)

[2021-03-10 16:39] Danil-Grigorev commented on #2283
/assign

[2021-03-10 17:35] #2287 closed

[2021-03-10 20:03] voor commented on #2156
/remove-lifecycle stale

Although it's worth noting that this bug can currently be leveraged to address a feature gap for security groups on load balancers.

[2021-03-10 21:13] invidian opened #2294 "Unable to rebuild e2e images after code changes due to buildkit"
/kind bug

**What steps did you take and what happened:**
1. `make e2e-image`
2. Changed some code related to e2e images
3. `make e2e-image`

Got the following logs:
[code]

**What did you expect to happen:**

Building e2e images works.

**Anything else you would like to add:**

This might be related to https://github.com/moby/buildkit/issues/1956.

It seems `make e2e-image DOCKER_BUILDKIT=0` work

[2021-03-11 14:53] Evalle commented on #2274
I got sidetracked, don't want to hold this to be implemented, feel free to re-assign it.

[2021-03-11 18:24] randomvariable commented on #1711
/lifecycle frozen

[2021-03-11 18:26] randomvariable commented on #1711
needs upstream issue in CAPI.

[2021-03-11 18:34] randomvariable commented on #1145
I think we are going to be moving to removing the waiters and requeing, so this will probably be in conflict.

/close
for now.

[2021-03-11 18:34] #1145 closed

[2021-03-11 18:34] randomvariable commented on #1328
That is how AWS works. Some parallisation has been added in the meantime.

/close

[2021-03-11 18:35] #1328 closed

[2021-03-11 18:35] randomvariable commented on #1459
/close

[2021-03-11 18:36] #1459 closed

[2021-03-11 18:41] randomvariable commented on #1691
@enxebre this is ancient now, do we want to get this in for v1alpha4?

[2021-03-11 18:43] randomvariable commented on #1782
Let's do this. We have instructions here https://www.kubernetes.dev/resources/rename/

[2021-03-11 18:44] randomvariable commented on #1632
Close. Superseded by #2268

[2021-03-11 18:44] #1632 closed

[2021-03-11 18:45] randomvariable commented on #1955
@richardcase PTAL and see if you want to do it for v0.7.0 or v0.7.x and change milestone appropriately.

[2021-03-11 18:45] randomvariable commented on #1579
I think this is mostly done. Thanks @richardcase !

/close

[2021-03-11 18:46] #1579 closed

[2021-03-11 18:46] randomvariable commented on #1164
This was done.
/close

[2021-03-11 18:46] #1164 closed

[2021-03-11 18:48] randomvariable commented on #1437
/close

[2021-03-11 18:48] #1437 closed

[2021-03-11 18:54] randomvariable commented on #1993
Somebody already removed this. Who knows.

/close

[2021-03-11 18:54] #1993 closed

[2021-03-11 18:57] randomvariable commented on #2073
/close

[2021-03-11 18:57] #2073 closed

[2021-03-11 19:01] randomvariable commented on #2055
@richardcase up to you where you want to do this.
I think one of us, me, @JoelSpeed or you were going to diff options with AWSMachine.

[2021-03-11 19:05] randomvariable commented on #2003
can't remember what this is about
/close

[2021-03-11 19:05] #2003 closed

[2021-03-11 19:10] randomvariable commented on #2023
Chatting with @sedefsavas
AWS Node Termination Handler ( https://github.com/aws/aws-node-termination-handler  ) can help, but doesn't fully eliminate it - it gives a 2 minute warning.

Sync with CAPZ on MachinePool v.Next

@kschumy , any ideas on what we should do here?

[2021-03-11 19:12] randomvariable commented on #2016
/close

[2021-03-11 19:12] #2016 closed

[2021-03-11 19:13] #2020 closed

[2021-03-11 19:16] randomvariable commented on #1885
Relates to Cluster Autoscaler conversations, including CAPI meeting of 2021/10/03. Could be a future integration point between CAPI and CA where CAP* providers automatically provide the hints.

cc @elmiko

[2021-03-11 19:18] randomvariable commented on #2076
We're going to have to upgrade to v1.16 for v1alpha4, so will just close this.

[2021-03-11 19:18] #2076 closed

[2021-03-11 19:19] randomvariable commented on #2075
/assign

[2021-03-11 19:19] randomvariable commented on #2069
/close

Rally in #1484

[2021-03-11 19:20] #2069 closed

[2021-03-11 19:22] randomvariable commented on #2009
I believe @kschumy is interested in this?

[2021-03-11 19:24] randomvariable commented on #2118
Going to fold into #1484

[2021-03-11 19:24] #2118 closed

[2021-03-11 19:30] randomvariable commented on #772
Defer to MachineLoadBalancer proposal which will potentially cover this use case.

/close

[2021-03-11 19:32] randomvariable commented on #608
Interest has dropped off on this one.

/close

[2021-03-11 19:32] #608 closed

[2021-03-11 19:32] randomvariable commented on #1323
Wrap into #1484

[2021-03-11 19:32] #1323 closed

[2021-03-11 19:35] randomvariable commented on #539
This is kind of solving itself. EC2 is slowly adding Tag on create, and we've been updating the code to do that as the API gets fixed.

/close

[2021-03-11 19:35] #539 closed

[2021-03-11 19:39] randomvariable commented on #1976
/close

[2021-03-11 19:39] #1976 closed

[2021-03-11 19:40] randomvariable commented on #2277
Is this happening for v0.6.5?

[2021-03-11 19:40] randomvariable commented on #2275
How does this relate to the GPU template?

[2021-03-11 19:43] randomvariable commented on #2270
Yup, we need to fix the state machine so it doesn't add the finalizer until just before the first write operation, which should be after the read operation.

[2021-03-11 19:43] randomvariable commented on #2270
Might have to sort out as part of other refactoring for v0.7.0 though.

[2021-03-11 19:44] elmiko commented on #1885
thanks for the cc @randomvariable , i just want to make sure i understand the script. this is setting the size based on the instance, but is it also subtracting the overhead needed for the kubernetes bits? (i read through the script, but it wasn't quite clear to me)

[2021-03-11 19:48] randomvariable commented on #2242
/close

[2021-03-11 19:48] #2242 closed

[2021-03-11 19:50] randomvariable commented on #2218
Let's start switching over to mage https://github.com/magefile/mage

[2021-03-11 19:53] randomvariable commented on #2218
/assign

[2021-03-11 19:53] randomvariable commented on #2209
/assign @sedefsavas

[2021-03-11 19:55] randomvariable commented on #2208
@fabriziopandini , can we move this to CAPI? This is really about CABPK.

[2021-03-11 19:55] randomvariable commented on #2208
Partially CAPI, partly deleting /etc/cloud-init-secret.yaml from secrets manager script created file.

[2021-03-11 19:57] randomvariable commented on #2191
/kind bug

[2021-03-11 19:59] randomvariable commented on #2165
/close
busted release

[2021-03-11 19:59] #2165 closed

[2021-03-11 19:59] randomvariable commented on #2158
/lifecycle frozen

[2021-03-11 19:59] randomvariable commented on #2157
/lifecycle frozen

[2021-03-11 19:59] randomvariable commented on #2157
/lifecycle frozen

[2021-03-11 20:00] randomvariable commented on #2156
/assign

[2021-03-11 20:00] randomvariable commented on #2146
/assign

[2021-03-11 20:03] randomvariable commented on #2141
CC @kschumy

We probably don't want to build EKS-D images that are hosted by the Kubernetes SIG Cluster Lifecycle if they're carrying patches which are not part of a released version of upstream Kubernetes, in the same way we don't host images for OpenShift or VMware Tanzu Kubernetes Grid. However, we could support automated lookup of AWS hosted AMIs from a known location for EKS.

[2021-03-11 20:05] randomvariable commented on #2122
I fixed the problem with building on MacOS, so don't think we need this anymore.

/close

[2021-03-11 20:05] #2122 closed

[2021-03-11 22:00] tsfrt-vw opened #2296 "Specify ELB placement by Subnet ID"
/kind bug

**What steps did you take and what happened:**
We are trying to replicate the standard deployment pattern with an ELB and NAT Gateway in 3 public subnets and placing all or our EC2 instances into private subnets.  In this deployment our public subnets do not have an internet-gateway but are connected to a corporate network (via Transit Gateway)and uses corporate routable IP space.  We w

[2021-03-12 07:49] richardcase commented on #2141
I did some playing around with this a while back and used ClusterResourceSets to install things CSI:

[code]

And then in the KubeadmControlPlane  i specified eksd images from dockerhub. There was an issue with the pause image  tag (which has now been fixed) so i copied them to my account:

[code]

[2021-03-12 07:49] richardcase commented on #2141
I will update the sample yaml now the pause image is tagged correctly to the AWS images directly.

[2021-03-12 07:51] richardcase commented on #2275
This is for the **AWSMachine** and **AWSMachinePool** scenarios. The GPU template uses **AWSManagedMachinePool** which already exposes the ability to use the GPU optimized AMI.

[2021-03-12 07:54] richardcase commented on #2277
I would like to get this in 0.6.5.

[2021-03-12 07:56] richardcase commented on #2055
Yeah we need to do the diff and come up with a solution that i think we should document via an ADR. I'm happy to do this diff before the next office hours.

[2021-03-12 07:57] richardcase commented on #2055
/label adr-required

[2021-03-12 07:59] richardcase commented on #1955
/milestone v0.7.x

[2021-03-12 09:50] richardcase commented on #2224
/milestone v0.7.x

[2021-03-12 09:50] richardcase commented on #2219
/milestone v0.7.x

[2021-03-12 09:51] richardcase commented on #2219
@shuheiktgw - how are you getting on with this change?

[2021-03-12 09:51] richardcase commented on #2212
/milestone v0.7.0

[2021-03-12 09:52] richardcase commented on #2189
/milestone v0.7.x

[2021-03-12 09:54] richardcase commented on #2078
/lifecycle frozen
/milestone v0.7.x

[2021-03-12 09:55] richardcase commented on #1786
/milestone v0.6.5

[2021-03-12 09:55] richardcase commented on #2180
/milestone v0.7.x

[2021-03-12 09:56] richardcase commented on #2167
This was fixed as part of #2246, so closing

[2021-03-12 09:56] #2167 closed

[2021-03-12 10:20] JosephSalisbury opened #2297 "Bastion information is not removed from status when bastion is disabled"
/kind bug

**What steps did you take and what happened:**
- Create an `AWSCluster` (`infrastructure.cluster.x-k8s.io/v1alpha3`)
- Set `spec.bastion.enabled` to `true`
- Verify that EC2 instance has been created, and that `status.bastion` has been populated
- Set `spec.bastion.enabled` to `false`
- Verify that EC2 instance has been destroyed, and that `status.bastion` remains the same

**What did y

[2021-03-12 10:22] JosephSalisbury commented on #2297
Happy to push a PR to fix this, if the proposed behaviour (disabling a bastion should lead to the bastion information being removed from `status`) works for folks.

[2021-03-12 16:12] randomvariable commented on #2297
That makes sense.

If you do start a PR on it, just do a

`/lifecycle active`, and either Prow or me or another maintainer will mark it as such so that someone else doesn't also start a PR at the same time.

[2021-03-12 16:55] rsmitty opened #2298 "Subnet filtering does not allow for multi-az usage"
/kind bug

**What steps did you take and what happened:**
I encountered this during a larger bit of research into how to achieve multi-az/subnet usage with the CAPA provider. Note that I'm attempting to use pre-created VPC and subnet info instead of the provider doing this for me.

When using something like subnet filters in an AWSMachineTemplate, only a single subnet with the tags was returned. A

[2021-03-12 16:57] rsmitty commented on #2298
As an additional note, I also set `availabilityZoneSelection` in the VPC spec to "random", as it seems like this option would also somehow contribute to the filtering decision tree, but I don't think that's actually true by the time you're down in the function I linked above.

[2021-03-12 22:10] uthark opened #2300 "Empty pages in the book"
/kind bug

**What steps did you take and what happened:**
https://cluster-api-aws.sigs.k8s.io/topics/eks/pod-networking.html doesn't have content, although source page is not empty https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/book/src/topics/eks/pod-networking.md

**What did you expect to happen:**
Page is correctly rendered.

**Anything else you would like to add:*

[2021-03-13 07:28] shuheiktgw commented on #2219
Sorry, I totally forgot I assigned this issue to myself... Let me work on it! 🙇

[2021-03-13 09:58] richardcase commented on #2219
No problem at all. Feel free to ping me if you need anything.

[2021-03-13 10:02] richardcase commented on #2277
/assign
/lifecycle active

[2021-03-13 10:40] richardcase opened #2301 "`MachinePool` FailureDomains ignored for machine pool"
/kind bug
/priority important-soon
/milestone v0.6.5

**Describe the solution you'd like**
When creating an EKS cluster and using AWSMachinePool and no subnets are set in the spec then we should make sure that we select subnets that honour the FailureDomains on the parent MachinePool. Currently this is [ignored](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/fd4cc9d3f8db29b226b3e

[2021-03-13 10:40] richardcase commented on #2301
/assign
/lifecycle active

[2021-03-15 16:47] #2300 closed

[2021-03-15 17:14] randomvariable commented on #2294
We might need to make the caching less aggressive? Don't want to get rid of buildkit entirely though

[2021-03-15 17:19] invidian commented on #2294
Personally, I'd rather have thing working in the first place, then fast :smile:

[2021-03-15 19:12] richardcase commented on #2145
/lifecycle frozen

[2021-03-15 23:47] shuheiktgw commented on #2219
@richardcase Sorry, I've started looking into the issue but found it was a little bit more complicated than I originally thought. I'm afraid I cannot provide the feature in a timely manner so would you or others take the issue instead...? 🙇

[2021-03-16 11:35] richardcase commented on #2219
I'll unassign but if you change your mind or want help then feel free to ping me.

/unassign

[2021-03-16 11:35] richardcase commented on #2219
/unassign shuheiktgw

[2021-03-16 15:26] richardcase commented on #2274
@Evalle - we've added a milestone of 0.7.0 to this, so there is plenty of time if you would still like to do this?

[2021-03-16 17:21] dlipovetsky opened #2306 "Validation webhook forbids empty string SSH key value"
/kind bug

**What steps did you take and what happened:**
I created an AWSCluster with `spec.sshkeyName` set to empty string:

[code]

[code]

**What did you expect to happen:**
I expected the AWSCluster object to pass validation.

**Anything else you would like to add:**
- https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1621 added support for an empty string SSH key value
- https

[2021-03-16 19:12] dlipovetsky commented on #2306
Update: I _can_ create an AWSCluster without `sshKeyName` defined:

[code]
[code]

When undefined, no default is applied. That's unexpected.
[code]
[code]

[2021-03-16 19:27] dlipovetsky commented on #2306
I'm going to investigate further (starting with [validation tests](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/3e0ec6aae1b306404c7153ff9078f5a6d3e6e21a/api/v1alpha3/awscluster_webhook_test.go)) to find whether the following description is accurate:

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/bf36f72aa31d7e9caec5e653b5e49918931dffef/api/v1alpha3/awscluster

[2021-03-16 20:21] dlipovetsky commented on #2306
Looks like instance creation does support SSHKeyName being nil, or empty string, or non-empty string, because there are tests that verify each in https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/98cc901a538466fb6ce0133f0b7667ab2a090e9e/pkg/cloud/services/ec2/instances_test.go#L263:

[code]

[2021-03-16 20:47] dlipovetsky commented on #2306
/assign

I'll PR additional webhook tests + a fix.

[2021-03-17 06:22] sedefsavas commented on #2294
This may be specific to linux, I am unable to replicate this on MacOS with Docker version 20.10.2.
Which docker version are you using @invidian?

[2021-03-17 11:59] invidian commented on #2294
[code]

Hmm, I'm trying to reproduce it on Vagrant right now and I can't either...

[code]

Actually, it seems updating Docker to latest version (I was missing restart of daemon) helped! With the following everything works:
[code]

It seems 20.10.4 includes a potential fix for this issue: https://docs.docker.com/engine/release-notes/#20104.

Let's close it.

[2021-03-17 11:59] #2294 closed

[2021-03-17 16:14] sedefsavas commented on #1969
/remove-lifecycle rotten

[2021-03-18 17:33] #2145 closed

[2021-03-18 17:33] #2277 closed

[2021-03-18 17:33] #2301 closed

[2021-03-18 17:40] dlipovetsky commented on #2306
In, https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/98cc901a538466fb6ce0133f0b7667ab2a090e9e/pkg/cloud/services/ec2/instances.go#L197-L219, there is complex logic to determine which SSH key name to use, and when to fall back to a default SSH key name. Normally, this logic would live in the defaulting webhook.

However, the logic takes as input both AWSMachine and AWSCluster object

[2021-03-18 22:37] dkoshkin opened #2309 "Unclear default behavior of SecureSecretsBackend"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Im still new to CAPI/CAPA so maybe I'm misunderstanding something. Is related to https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2064

From the description it seems that by default it should use the Secrets Manager: https://github.com/kubernetes-sigs/cluster-api-provid

[2021-03-19 08:38] sbueringer opened #2310 "[e2e] E2e and conformance tests do not retrieve logs from machines"
/kind bug

**What steps did you take and what happened:**

I was developing the CAPO e2e tests and thus I wanted to compare the logs to the ones of the CAPA e2e tests.
So I tried to find the logs and only saw errors in the [instance.log](https://storage.googleapis.com/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-capi-e2e-v1alpha3/1372540435032969216/artifacts/clusters/bootstrap/instan

[2021-03-19 18:18] #2306 closed

[2021-03-21 12:27] calvix opened #2316 "ELB Instance port for API should not be hardcoded"
/kind feature

The ELB instance port for API is hardcoded to `6443` here https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/5d3c76211239b3700d1f69a36c7819f94c5b2609/pkg/cloud/services/elb/loadbalancer.go#L323

Even though the port can be configured in `KubeadmControlPlane` CR in `InitConfiguration` part:

https://pkg.go.dev/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1#APIEn

[2021-03-22 08:49] richardcase opened #2317 "[e2e] Add tests for Fargate profile"
/kind feature
/area provider/eks
/area testing
/milestone v0.6.5

**Describe the solution you'd like**
We need to extend the EKS e2e tests so that there is a test for fargate profiles.

**Anything else you would like to add:**
A follow on to #2265

**Environment:**

- Cluster-api-provider-aws version: 0.6.4

[2021-03-22 08:50] richardcase commented on #2317
/assign

[2021-03-22 09:01] richardcase opened #2318 "Managed machine pool doesn't correct min/max size"
/kind bug
/area provider/eks
/help
/milestone v0.6.5

**What steps did you take and what happened:**
1. create a EKS cluster with a managed machine pool and set the min (2) and max size (3) of the **AWSManagedMachinePool** and the replicas (2) on the **MachinePool**
2. Wait for the cluster and node group to be ready
3. Go to the AWS console and edit the node group and change the max size to 5
4. W

[2021-03-22 17:12] richardcase commented on #2146
/milestone v0.7.0

[2021-03-22 17:12] richardcase commented on #2207
/milestone v0.7.0

[2021-03-22 21:13] sedefsavas commented on #2130
Added PR-blocking tag to Quick start test:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2312

And made it PR blocking here: https://github.com/kubernetes/test-infra/pull/21451

[2021-03-23 03:50] sedefsavas commented on #2023
We can follow a similar approach with Openshift's POC about polling termination endpoint:
https://github.com/openshift/cluster-api-provider-aws/blob/b4a3478db44ddb554883cf77a9e5f49ffd54fdf4/pkg/termination/handler.go

More on this is discussed in the cluster-api proposal: https://github.com/kubernetes-sigs/cluster-api/pull/3528

[2021-03-23 05:35] sedefsavas opened #2320 "Use availabilityZones provided in AWSMachinePool when creating ASG"
/kind bug

**What steps did you take and what happened:**
AWSMachinePoolSpec `availabilityZones` field is not used during ASG creation:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/9a2cf01bb9f8145cfd885c487f8369aaebaabba3/pkg/cloud/services/autoscaling/autoscalinggroup.go#L199
Currently, we are just providing a list of subnets during ASG creation.
This is a follow up on https:/

[2021-03-23 05:35] sedefsavas commented on #2320
/milestone v0.7.0

[2021-03-23 06:27] #1786 closed

[2021-03-23 10:17] paurosello opened #2321 "MachinePool kubeadm token expires and is not renewed on the ASG"
/kind bug

**What steps did you take and what happened:**
- Installed controllers with EXP_MACHINE_POOL env enabled
- Create cluster with a MachinePool
- After the initial kubeadm join token expires, scale-up the machinepool
- The new nodes to not join the cluster as they are using an expired token

**What did you expect to happen:**
- Once the kubeadm token is refreshed, the user-data in the Laun

[2021-03-23 13:57] richardcase commented on #2320
@sedefsavas - the `availabilityZones` from the[ AWSMachinePool should be used](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/pkg/cloud/scope/machinepool.go#L228) with the change from #2302.

[2021-03-23 14:08] randomvariable commented on #2146
/unassign

[2021-03-23 14:12] randomvariable commented on #2309
You will see secrets in Kubernetes - that's an expected consequence of how Cluster API works. What we're really doing is not storing the certificates in the EC2 userdata. The problem being solved here is that if you have read only access to the EC2 console, then you can reconstruct the Kubernetes CA certificate independently of any RBAC set on the Kubernetes cluster running Cluster API.

You won't

[2021-03-23 16:32] sedefsavas commented on #2321
/milestone v0.7.0

[2021-03-23 17:28] dlipovetsky commented on #2321
Just to add some detail: The EC2 instances are created, pass the EC2 status checks, but fail to join the cluster.

The kubeadm error can be found in `/var/log/cloud-init-output.log`, and looks like this:
[code]

[2021-03-23 19:39] randomvariable commented on #2321
CAPA needs to watch the bootstrap secret and revision the LaunchTemplate with the new userdata, and then delete the old revision.

[2021-03-23 20:53] stmcginnis opened #2323 "Generated code may go to `$GOPATH/src` instead of in repo"
/kind bug

**What steps did you take and what happened:**

Found in https://github.com/kubernetes-sigs/cluster-api/issues/4185

We [conversion-gen](https://pkg.go.dev/k8s.io/code-generator/cmd/conversion-gen) to generate some of the code. This command has an optional argument of `--output-base` that controls where the generated files are placed.

The default for this arg can vary. If `GOPATH` is s

[2021-03-23 20:53] stmcginnis commented on #2323
/assign

[2021-03-24 04:51] sedefsavas opened #2326 "Create new AMIs"
For new Kubernetes versions:
• v1.18.17: https://github.com/kubernetes/kubernetes/releases/tag/v1.18.17
• v1.19.9: https://github.com/kubernetes/kubernetes/releases/tag/v1.19.9
• v1.20.5: https://github.com/kubernetes/kubernetes/releases/tag/v1.20.5

/assign

[2021-03-24 05:44] #2130 closed

[2021-03-24 05:45] sedefsavas commented on #2326
[code]

[code]

[code]

[2021-03-24 05:45] #2326 closed

[2021-03-24 06:11] richardcase commented on #2323
This would be great as historically the advice has been to clone into the GOPATH for thsi reason: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/book/src/development/development.md

[2021-03-24 06:18] richardcase commented on #2321
As this breaks machine pools it feels like we should try and get this fixed instead of waiting for 0.7.0?

Also, perhaps a stupid question, but can the token be stored externally perhaps in secrets manager and the bootstrap scipy retireve the token?

[2021-03-24 06:22] #2323 closed

[2021-03-24 12:13] paurosello commented on #2191
Hello @sedefsavas I think this feature is pretty much required in most scenarios.

I cannot think of a case were we want to have machines in public subnets.

I tried using filters for subnets in the MachinePool to overcome this issue but as pointed out in the code on the initial comment, only the ID is used, filters are ignored. This is how it would look like with a filter:

[code]

[2021-03-24 17:05] enxebre commented on #2248
What is preventing this from happening today?

Couldn't a cluster admin setup an OIDC provider and the right kube api server flags:

[code]

Then create the right iam roles with appropriate `sts:AssumeRole` policies. And then the aws creds secret as

[code]

[2021-03-24 17:08] randomvariable commented on #2248
I think this is an EKS specific thing, although that functionally translates into the same API server setting that's hidden inside their black box.

[2021-03-24 18:27] sedefsavas commented on #2191
@paurosello
This PR fixed this issue by only selecting the private control-plane subnets: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2302

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/f7ef6f42cd5e19a8e67aceca1d68e02ef945e0b9/pkg/cloud/scope/shared.go#L68-L70

Is there another scenario this fix does not cover?

[2021-03-25 09:16] paurosello commented on #2191
Oh, that's nice already. We were thinking on using the filters to assign specific MachinePools to specific subnets with filters but I think it would be a completely different issue right?

[2021-03-25 13:59] richardcase commented on #2248
Thats right

[2021-03-25 22:14] dkoshkin commented on #2309
Thanks for the explanation @randomvariable! Yes I think some additional docs would be great.

[2021-03-26 18:23] dlipovetsky commented on #2321
A separate issue worth noting: Refreshing the token does not guarantee that it is valid at the time it is used by kubelet.

For example:
- If the token is defined in a LaunchTemplate, then it is fixed at the time of the EC2 RunInstances API call.
- This token can expire in the time after the EC2 RunInstances API call, but before it is used by kubelet to register with the control plane.

[2021-03-30 06:56] sedefsavas commented on #2209
AWSMachinePool already rate limiters through AWSCluster or AWSManagedControlPlane.
Closing this issue.

[2021-03-30 06:56] #2209 closed

[2021-03-31 18:57] sedefsavas opened #2330 "Add expiration logic to the providers and sessions in the cache"
Currently, we cache providers and sessions but we do not cleanup them from the cache.
It would be good to have a mechanism to define an expiration on them and remove them when expired.

[code]

/milestone v0.7.x

[2021-03-31 23:28] sedefsavas opened #2331 "Update roadmap page in the book"
We need to update our roadmap page to include the plans for v1alpha4.

https://cluster-api-aws.sigs.k8s.io/roadmap.html

/kind documentation

[2021-04-01 22:53] dlipovetsky opened #2332 "Machine pool controller does try to create a new Auto Scaling Group if it failed to do so previously due to misconfiguration that passes validation"
/kind bug

**What steps did you take and what happened:**

1. Create an AWS cluster.
2. Create a MachinePool with desired capacity (`spec.replicas`) of 10.
3. Create an AWSMachinePool with a max size of (`spec.maxSize`) of 5.

[code]

Because the desired capacity is greater than the maxSize,  the AWSMachinePool controller fails to create an Auto Scaling Group:

[code]

I then updated the AWSMachin

[2021-04-01 22:54] dlipovetsky commented on #2332
/help

[2021-04-02 15:18] invidian opened #2333 "Netlify fails to deploy due to Golang 1.16 requirement"
/kind bug

**What steps did you take and what happened:**
PR #2271 CI fails with:
[code]

Source: https://app.netlify.com/sites/kubernetes-sigs-cluster-api-provider-aws/deploys/60672ba66dcf8400084ae367

This happens because `sigs.k8s.io/cluster-api/hack/tools` is not pinned and latest version use `io.ReadAll`, which has been introduced in Go 1.16 and apparently Netlify use older version of Go.

**

[2021-04-05 14:44] thejoycekung opened #2334 "[Flaky] periodic-cluster-api-provider-aws-e2e-conformance-v1alpha3-with-k8s-ci-artifacts hitting ValidationError"
/kind bug

**What steps did you take and what happened:**
periodic-cluster-api-provider-aws-e2e-conformance-v1alpha3-with-k8s-ci-artifacts is currently flaking on the `BeforeSuite` on the sig-release-master-informing testgrid, and so the tests are not being run.

**What did you expect to happen:**
The job should run smoothly and run all the tests required.

**Anything else you would like to add:**

[2021-04-06 11:08] invidian commented on #2333
This seems to work now, but maybe it should be investigated still?

[2021-04-06 12:29] randomvariable opened #2335 "Scope down RBAC permissions"
/kind cleanup

[code]

We should review these permissions. Don't need create permissions on these, and also make sure we're using status resources.

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2021-04-06 12:35] randomvariable opened #2336 "Implement the stage 2 namespace scoped principal types"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

In completion of the multi-tenancy work, implement the stage 2 namespace scoped resources

AWSRolePrincipal, AWSStaticPrincipal

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws ve

[2021-04-06 17:30] randomvariable commented on #2333
Was still broken for me a few hours ago, I was going to take a look.

/assign
/lifecycle active

[2021-04-06 17:45] randomvariable commented on #2334
I think we might need to update AWS Janitor in test-infra.

I'll take a look, thanks.

[2021-04-07 13:11] #2156 closed

[2021-04-07 20:52] mdsgabriel opened #2339 "clusterawsadm overwrites spec.bootStrap.username defined in config file"
/kind bug

**What steps did you take and what happened:**
Created a file named sample-config.yaml with the following content:

[code]

then run the following command
[code]
that generated this output
[code]

**What did you expect to happen:**
AWS::IAM::User   should be test-username-example.com instead of the default value (bootstrapper.cluster-api-provider-aws.sigs.k8s.io)

**Anything else you wo

[2021-04-08 12:28] randomvariable commented on #2339
/assign
/lifecycle active

[2021-04-08 16:14] #2019 closed

[2021-04-08 18:04] #2333 closed

[2021-04-08 19:12] #2339 closed

[2021-04-09 17:17] sedefsavas commented on #2332
/assign

[2021-04-09 19:05] #2040 closed

[2021-04-10 19:03] #1275 closed

[2021-04-10 19:03] #1896 closed

[2021-04-10 19:03] #1331 closed

[2021-04-10 19:03] #2081 closed

[2021-04-10 19:03] #1980 closed

[2021-04-10 20:04] #1977 closed

[2021-04-10 20:04] #1988 closed

[2021-04-10 20:04] #1972 closed

[2021-04-13 18:29] sedefsavas commented on #1982
/remove-lifecycle rotten

[2021-04-13 18:33] sedefsavas commented on #2134
/remove-lifecycle rotten

[2021-04-13 18:34] sedefsavas commented on #2088
/reopen
/remove-lifecycle rotten

[2021-04-13 18:35] sedefsavas commented on #2144
/remove-lifecycle rotten

[2021-04-14 03:28] dlipovetsky commented on #2321
This is because the CABPK controller updates the bootstrap secret if it is owned by a MachinePool:
https://github.com/kubernetes-sigs/cluster-api/pull/3940

[2021-04-14 16:37] sedefsavas commented on #2332
@dlipovetsky
I am unable to replicate this issue.
I started with a AWSMachinePool with ` minSize: 1 maxSize: 5` and MachinePool `replicas: 10`. It failed to create ASG as expected. Then increased the maxSize to 10, it created ASG this time and created 10 instances.

[2021-04-14 19:25] dlipovetsky commented on #2321
I think the AWSMachinePool controller can watch the `KubeadmConfig`. That gets updated whenever the MachinePool is scaled:

[code]

[2021-04-14 19:29] dlipovetsky commented on #2321
Fortunately, there is already [code that does this](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/dbd3b700f7eebe53e0cb1b44df797b6201d9639a/exp/controllers/awsmachinepool_controller.go#L454).

I think we can change the [code that determines](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/458025d9e8783c29356586e06cc4f88c36ca755b/pkg/cloud/services/ec2/launchtempl

[2021-04-14 19:30] dlipovetsky commented on #2321
/assign

[2021-04-14 21:32] invidian commented on #1979
Should this be moved to v0.7.0 milestone the same as #2271 ?

[2021-04-15 04:10] dlipovetsky commented on #2332
@sedefsavas Thank you for trying to reproduce this. I'll try again myself and update.

[2021-04-15 09:14] randomvariable commented on #1979
Yup, thx.

/milestone v0.7.0

[2021-04-15 09:15] #1552 closed

[2021-04-15 09:15] randomvariable commented on #2332
If we fix this, it'll go in after we start on the v0.7.0 v1alpha4 release, but as this will be a pretty important bug fix, I think we'll want to backport it?

/milestone v0.7.0

[2021-04-15 09:23] #2144 closed

[2021-04-15 09:35] randomvariable commented on #2131
Been thinking more about this, I think the urgency has increased as we keep adding HA clusters to the e2e without solving this.

Ideally we need something along the lines of the following:

- A cross process pool that can be shared across the ginkgo nodes. This is probably going to be file based (flock or sqlite3).
- Create pools for VPC, NAT and EC2 and other contended resources
- Each test decla

[2021-04-15 09:37] randomvariable commented on #2131
/priority important-soon

[2021-04-15 09:50] randomvariable commented on #1782
/kind release-blocking

[2021-04-15 10:05] randomvariable commented on #1969
/kind api-change

[2021-04-15 11:23] richardcase opened #2351 "Support EC2 Serial Console"
/kind feature
/help

**Describe the solution you'd like**
I would like the option of enabling the [EC2 Serial Console](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-serial-console.html) for the EC2 instances that are created via CAPA (both unmnagaed and managed).

**Anything else you would like to add:**

**Environment:**

- Cluster-api-provider-aws version: 0.6.4

[2021-04-15 11:49] randomvariable commented on #2351
/milestone v0.7.x

Not sure how important it is given you'll need to set username and passwords to do anything useful with it.

[2021-04-15 14:54] richardcase commented on #2351
I agree its a low priority.

[2021-04-15 15:04] randomvariable commented on #2351
/priority backlog