[2020-02-07 23:49] vincepri opened #1543 "cleanup: enable `gocritic` linter"
After #1535, we updated the golangci-lint to the latest version and matched the upstream Cluster API format for the linter, it seems there were a bunch of linters missing.

- Head over to [.golanci-lint.yaml](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/.golangci.yml) in the root of this repository.
- Remove the linter from the `linters.disable` list.
- Run `make lint-fu

[2020-02-07 23:49] vincepri opened #1544 "cleanup: enable `unparam` linter"
After #1535, we updated the golangci-lint to the latest version and matched the upstream Cluster API format for the linter, it seems there were a bunch of linters missing.

- Head over to [.golanci-lint.yaml](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/.golangci.yml) in the root of this repository.
- Remove the linter from the `linters.disable` list.
- Run `make lint-fu

[2020-02-09 15:29] hypnoglow commented on #1544
/assign

[2020-02-10 17:39] #1531 closed

[2020-02-10 18:32] ncdc commented on #1441
We are moving away from the bastion image and want to switch to AWS SSM. Is it ok to close this?

[2020-02-11 15:10] #1544 closed

[2020-02-11 15:52] #1403 closed

[2020-02-11 17:38] scottslowe commented on #1511
I'd like to take a crack at this one, if that's OK.

[2020-02-11 17:39] detiber commented on #1511
@scottslowe It's all yours :)
/assign @scottslowe
/lifecycle active

[2020-02-11 17:44] ericsmalling commented on #1543
/assign

I'll take a crack at this

[2020-02-11 17:45] detiber commented on #1543
@ericsmalling thanks!
/lifecycle active

[2020-02-11 22:21] ericsmalling commented on #1543
@detiber While looking into this, I ran into comments at https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/0f7e2dbd4204c981beeda4d5491bb4ff564cad1b/pkg/cloud/services/ec2/instances.go#L158 that mention a desire to refactor into its own func/method.  I agree with that assessment but it doesn't appear there are tests covering much of that code block (seems like just happy path covered

[2020-02-12 01:00] johnharris85 commented on #1236
/assign

[2020-02-12 01:02] johnharris85 commented on #1236
It's on my list to dig into IRSA this week, so might as well take this docs issue. When I looked at it briefly over the holidays it looked insanely complex though :man_shrugging:

[2020-02-12 03:02] detiber commented on #1543
@ericsmalling +1 to creating a separate issue/pr to do the refactoring and adding test cases there.

[2020-02-12 10:33] randomvariable commented on #1236
Yeah, it did. Can pair for a bit on this if you want?

[2020-02-12 15:32] #1543 closed

[2020-02-12 16:06] randomvariable opened #1552 "AWS account multitenancy using a single instance of the controller"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
At present, CAPA relies on the default authentication providers within the AWS SDK.
The principle is described in the Java SDK at https://docs.aws.amazon.com/sdk-for-java/v2/developer-guide/credentials.html, with the Go SDK supporting the following chain:

1. If `AWS_WEB_IDENTITY_TOKEN

[2020-02-12 16:17] randomvariable commented on #1552
/area security

[2020-02-12 16:23] randomvariable opened #1553 "Enable the SSM managed instance core policy"
/kind feature
/area security
/help

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Add a policy to all instance roles so that users can login into machines without the use of SSH.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
See https://docs.aws.amazon.com/systems-manager/latest/user

[2020-02-12 16:34] randomvariable commented on #1553
As usual, the AWS managed policy is too permissive.

[2020-02-12 19:02] sethp-nr commented on #1552
For our "soft" multi-tenancy use cases I think we would get pretty far by adding a "profileName" field to the various AWS resources and passing that in when we're creating clients for talking to AWS.

Would that + some degree of validating webhook for what `profileName`s are permitted in a given namespace be a useful tool here?

[2020-02-12 19:07] randomvariable commented on #1552
As one of the options that's supported, yes. I think this probably needs to be CAEP'd as its security sensitive. Happy to work on a proposal.

[2020-02-12 19:49] ernestas2k commented on #1537
@vincepri

`
cmd/release/main.go:417:2: field `stagingRegistry` is unused (unused)
cmd/release/main.go:424:22: func `makebuilder.cmdWithStagingEnv` is unused (unused)
`

should we provide buildStaging() that uses cmdWithStagingEnv() and the stagingRegistry field or actually remove the stagingRegistry field and cmdWithStagingEnv func?

[2020-02-12 20:34] detiber commented on #1537
@chuckha might have some opinions on this

[2020-02-12 20:36] chuckha commented on #1537
I'm in favor of deleting that `cmd/release` directory. it should be entirely unused and unmaintained at this point.

[2020-02-12 20:56] ernestas2k commented on #1537
semi-automatic section, which mentions the cmd/release should also go away? https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/releasing.md

[2020-02-12 21:19] chuckha commented on #1537
@ernestas2k Yeah, but I haven't done a release here in forever.

@detiber, @vincepri or @ncdc can definitively answer.

[2020-02-12 21:47] rudoi opened #1554 "AWSCluster v1alpha3 converts sourceSecurityGroupIds to null"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I noticed after conversion in the status of my AWSCluster:
[code]

in the logs:
[code]

**What did you expect to happen:**
`sourceSecurityGroupIds` should probably be `[]`, I think?

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue

[2020-02-12 21:53] rudoi commented on #1554
Defaulting webhook could help here maybe? That feels weird on a `status` field to me though.

[2020-02-12 21:55] rudoi commented on #1554
/assign
/lifecycle active

[2020-02-12 22:16] sethp-nr opened #1555 "Some AMIs missing aws cli tools"
/kind bug

The new Secret Manager work requires the AWS cli tooling to be installed on the machine, but the AMIs packed before the Oct 25th update, seen in [the history](https://github.com/kubernetes-sigs/cluster-api-provider-aws/commits/master/docs/amis.md) no aws cli tooling is installed.

@detiber suggested that it would be possible to rebuild the older AMIs to ensure the required dependencies

[2020-02-12 22:57] michaelgugino opened #1556 "Credentials from secret don't always work in aws container"
/kind bug

**What steps did you take and what happened:**
Trying to follow the quickstart with a patched version of aws provider for development, keep getting error trying to list VPCs during initial cluster creation: "NoCredentialProviders: no valid providers in chain. Deprecated."

I created the credentials like normal; I decoded the secret that was mounted into the container, the credentials ar

[2020-02-12 23:37] sethp-nr commented on #1556
I'm able to use a mounted credential against master currently. Yesterday I ran into a similar problem because I had credentials that looked like this:

[code]

when I changed them to be

[code]

I was able to list VPCs again with master. Alternatively, I suspect that setting `AWS_PROFILE=my-cool-profile-name` would have been sufficient.

[2020-02-12 23:56] michaelgugino commented on #1556
My credentials secret is the default profile.  There is aws_access_key_id, aws_secret_access_key, and region.  This was all created following the steps in the quick start.

[2020-02-13 01:42] sethp-nr commented on #1556
Hmm, sounds like you're having a different issue, then. For what it's worth I just tried the [steps in the quickstart](https://cluster-api.sigs.k8s.io/user/quick-start.html#install-clusterawsadm) using a built-from-master `clusterawsadm` binary and I'm still not able to reproduce the issue you cited.

[2020-02-13 11:56] randomvariable commented on #1556
@michaelgugino are there any modifications to the user as which the container is running in your environment? the default image is still running as root, so `/root/.aws/config` is expected. Need to dig into the default credential chain in the SDK, but it maybe failing to a `getent` for the user name?

[2020-02-13 11:59] randomvariable commented on #1556
Actually, probably better in your environment to directly set the `AWS_SHARED_CREDENTIALS_FILE` variable to the config file you're using. That should make it work without any lookup of the home directory.

[2020-02-13 14:41] michaelgugino commented on #1556
I think you might be on to something here.  I'm building with buildah rather than docker, so there might be some differences in user bits.  I'll try to look into this further.

[2020-02-13 14:58] bagnaram commented on #1556
I'm experiencing a similar issue with reading profiles via the `AWS_CONFIG_FILE`. When I leave out the `AWS_SHARED_CREDENTIALS_FILE` and specify a profile via shared config, the controller pod fails to associate it.

/home/.aws/config:
[code]

controller deployment:
[code]

[2020-02-13 16:04] randomvariable commented on #1556
/area security

Thanks for the update. Will try and resolve over the next few days.

If you're interested, also putting together a proposal that will address these UX issues as part of #1552, but that will be targeted for v1alpha4 timeframe probably. User stories / requirements / wishes welcome.

[2020-02-13 19:37] scottslowe commented on #1511
@detiber My thought was to approach this with a file in the `docs` directory, along with a link from `README.md` in the same directory. Later, we can determine if this is something that needs to be added to the CAPI book. Does that sound reasonable?

[2020-02-13 19:37] detiber commented on #1511
@scottslowe sounds good to me.

[2020-02-13 20:41] teaguecole commented on #1542
Hey @vincepri since these cleanups are relatively small issues, would it be okay to combine them all in to 1 PR or do you want to save some for other new contributors? If not I am more than happy to do it all at once?

[2020-02-13 20:46] detiber commented on #1542
@teaguecole feel free to combine multiple in a single PR as long as the changeset is still relatively easily reviewable

[2020-02-13 20:54] teaguecole commented on #1542
Ill stick with scopelint for now just incase someone else comes by and wants to take one.  If I finish this, ill move on to the next...

[2020-02-14 12:51] randomvariable opened #1561 "Error handling of AWS Secrets Manager"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Scenario:
On a management cluster with networking issues, primarily DNS resolution of A records on AWS endpoints, the machine fails to provision with the following:

[code]

Attempts to delete are then compounded by:
[code]

**What did you expect to happen:**
* Appropriate attempt at ret

[2020-02-14 12:53] randomvariable commented on #1561
/assign
/lifecycle active

[2020-02-14 16:10] #1554 closed

[2020-02-14 17:23] randomvariable commented on #1359
/close
fixed in #1360

[2020-02-14 17:23] #1359 closed

[2020-02-14 18:13] randomvariable opened #1564 "Attempts to tag root device when it doesn't exist"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Under certain conditions, CAPA errors during machine reconciliation when the EC2 instance state is pending and the root device is not yet ready:

[code]

**What did you expect to happen:**
Reconciliation succeeds

**Anything else you would like to add:**
[Miscellaneous information that w

[2020-02-14 18:13] randomvariable commented on #1564
/lifecycle active

[2020-02-14 19:33] ernestas2k commented on #1537
In case of `cmd/release` actually being unused - the pull request is ready to remove it and the associated documentation.

[2020-02-14 21:31] #1540 closed

[2020-02-14 22:05] #1537 closed

[2020-02-17 12:35] #1539 closed

[2020-02-17 17:09] randomvariable opened #1572 "v1alpha3 - separate webhooks"
Separate webhooks as per https://master.cluster-api.sigs.k8s.io/developer/providers/v1alpha2-to-v1alpha3.html

[2020-02-18 10:16] ipirva opened #1576 "Certificate signed by unknown authority"
/kind bug

**What steps did you take and what happened:**
I am following https://cluster-api.sigs.k8s.io/user/quick-start.html to use Cluster API to bootstrap a k8s cluster on AWS.

When trying to install a CNI, or as a matter of fact when using "kubectl get" in general, I get:

For example:
[code]

"--insecure-skip-tls-verify=true" does not help,
[code]

**Environment:**

- Cluster-api-provider-a

[2020-02-18 17:04] ipirva commented on #1576
I deleted the bootstrap cluster and started allover - now it works.
I close this open issue.

[2020-02-18 17:04] #1576 closed

[2020-02-18 17:13] teaguecole opened #1579 "Documentation for testing"
/kind documentation

**Describe the solution you'd like**
Currently there is no clear documentation on the process of testing your changes locally that a newcomer could follow. I could see this documentation being part of `CONTRIBUTING.md` or `README.md` along with `Getting involved and contributing`.

[2020-02-19 12:06] randomvariable commented on #608
/lifecycle frozen

[2020-02-19 12:24] #1542 closed

[2020-02-19 12:24] #1538 closed

[2020-02-19 19:30] #1541 closed

[2020-02-20 21:00] ncdc commented on #1419
@detiber can I assign this to you?

[2020-02-20 21:02] detiber commented on #1419
/assign

[2020-02-20 21:17] #1572 closed

[2020-02-21 15:26] randomvariable opened #1587 "Find a way to prevent overwriting of /config by e2e"
/kind feature

**Describe the solution you'd like**
Running `make test-e2e` patches bits in `/config` which you ultimately don't want in a PR.

Would like a way to run e2e tests and not have to remember to reset that directory.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubern

[2020-02-21 18:20] jayunit100 opened #1588 "Broader CNI Test coverage"
/kind bug

**What steps did you take and what happened:**

A couple of recent bugs point to holes in the way we default to certain CNI providers, which bake assumptions into how we deal w/ AWS Security groups and so on.

**What did you expect to happen:**

CAPA deployments should be as CNI / LB/ etc Agnostic as possible.

**Anything else you would like to add:**

@randomvariable  to add deets

[2020-02-21 18:56] randomvariable commented on #1588
/help

The process will be to add tests to https://github.com/kubernetes-sigs/cluster-api-provider-aws/tree/master/test/e2e to create the necessary security groups for the CNI, add them to the relevant machinetemplates and exercise pod networking, as well as network policy where appropriate.

[2020-02-21 18:57] randomvariable commented on #1588
The Amazon VPC CNI should be one of the targets.

[2020-02-24 18:06] randomvariable commented on #1500
Is anyone working on this at present, if not, I can pick this up?

[2020-02-24 18:15] detiber commented on #1588
/priority important-longterm

[2020-02-24 18:15] detiber commented on #1587
/priority important-longterm

[2020-02-24 18:15] detiber commented on #1579
/priority important-soon
/help

[2020-02-24 18:16] detiber commented on #1564
/close

[2020-02-24 18:16] #1564 closed

[2020-02-24 18:17] detiber commented on #1556
/priority important-soon

[2020-02-24 18:19] detiber commented on #1555
/priority important-soon

[2020-02-24 18:20] detiber commented on #1553
/priority important-longterm

[2020-02-24 18:20] detiber commented on #1552
/priority important-longterm

[2020-02-24 18:21] detiber commented on #1534
/priority important-longterm

[2020-02-24 18:22] detiber commented on #1532
/priority important-soon

We'll need to reconcile this with the templates that we need to create for `clusterctl` as well

[2020-02-24 18:23] detiber commented on #1530
I believe this is related to using an AMI that does not contain the CLI tooling: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1555

If there is an additional issue, please re-open.
/close

[2020-02-24 18:23] #1530 closed

[2020-02-24 18:24] detiber commented on #1511
/priority important-soon

[2020-02-24 18:24] detiber commented on #1506
/priority important-longterm

[2020-02-24 18:25] detiber commented on #1500
/priority important-soon

[2020-02-25 14:38] jayunit100 commented on #1588
- I see the cni var in https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/test/e2e/ , so thats easy.
- For AWS VPC CNI, i dont see any security groups in the e2e/ code above.  Am i looking in the wrong place?

[2020-02-25 14:57] detiber opened #1591 "Instance IAM profiles do not allow for Session Manager"
/kind bug

**What steps did you take and what happened:**
- Deploy a cluster using the default bastion configuration (no bastion deployed)
- Attempt to connect to the host using Session Manager
- Session Manager is not allowed by the Instance Profile assigned to the instances created

**What did you expect to happen:**
- Session Manager initiated connection to be successful

**Anything else you wo

[2020-02-25 15:46] ncdc commented on #1591
@detiber this is maybe a dupe of https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1553 - need to reconcile the 2 😄

[2020-02-25 15:52] rudoi commented on #1500
/unassign

@randomvariable all yours!

[2020-02-25 17:32] bagnaram commented on #1556
#1590 has been submitted. Session creation appears to happen during inception, which ignores additional options like credentials region, and profile loaded from the environment and shared config.

[2020-02-25 17:33] bagnaram commented on #1556
#1590 has been submitted. Session creation appears to happen during inception, which ignores additional options like credentials region, and profile loaded from the environment and shared config.

[2020-02-25 17:35] detiber commented on #1553
/milestone v0.5.0

[2020-02-25 17:35] detiber commented on #1591
Indeed, closing in favor of #1553 :)

/close

[2020-02-25 23:52] scottslowe commented on #1511
#1560 is open to address this issue, and is ready for review/comments/feedback.

[2020-02-26 12:47] randomvariable opened #1594 "Leader election may have been turned off in 0.5 series"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
In the process of syncing CAPV and CAPA behaviour, not entirely sure, but I think we have lost leadership election in the manifests for the `capa-system` instance.

Interestingly, leader election is off by default in CAPA, and on by default in CAPV.

Marking as awaiting-more-evidence as

[2020-02-26 17:12] vincepri opened #1595 "Apply example addons fails with: missing required field "versions""
/kind bug

**What steps did you take and what happened:**
Create a new cluster with the latest master version of CAPI and CAPA, apply addons.

[code]

**What did you expect to happen:**
Addons should work properly

[2020-02-26 17:24] detiber commented on #1595
We need to update the version of Calico to resolve this

/priority important-soon
/milestone v0.5.0
/help

[2020-02-26 17:34] detiber commented on #1595
With the new `clusterctl` v2 workflow, do we need to have an `addons.yaml` file anymore? I'm wondering if it would make more sense to point docs and testing use cases towards an upstream release of Calico rather than duplicating one here...

@ncdc @vincepri @chuckha @randomvariable thoughts?

[2020-02-26 17:37] ncdc commented on #1595
+1 remove, docs only

[2020-02-26 17:39] ncdc commented on #1595
Really all of `examples` needs to go away in favor of clusterctl v2 templates + docs for things like calico (until we have post-create add thunk)

[2020-02-27 17:53] vincepri commented on #1347
Closing in favor of condition work in next cycle

/close

[2020-02-27 17:54] #1425 closed

[2020-02-27 17:54] vincepri commented on #1344
Closing in favor of condition work in next cycle

/close

[2020-02-27 17:56] #1347 closed

[2020-02-27 17:56] #1344 closed

[2020-02-27 20:26] detiber commented on #1594
/priority important-soon
/assign
/lifecycle active

[2020-02-27 20:39] detiber commented on #1500
/assign

[2020-02-27 21:04] detiber commented on #1500
/assign @randomvariable

[2020-02-28 14:12] randomvariable opened #1603 "Implement pause mechanism where required"
/kind feature

**Describe the solution you'd like**
Port https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/785 to support clusterctl move

[2020-02-28 14:38] #1553 closed

[2020-02-28 14:38] #1594 closed

[2020-02-28 14:52] detiber commented on #1603
/priority important-soon

[2020-02-28 15:48] jayunit100 opened #1604 "separate e2e_suite_test and aws_test library functionality and make ordering of setup explicit (remove data race conditions)"
/kind bug

part of getting #1573  will be getting some logic between these test suites cleaned up im doing this as part of #1596 most likely the implementation i have will be minimal, i.e. , making the BeforeEach functionality stateless as much as possible

**What steps did you take and what happened:**

The ginkgo code is highly order dependent,

aws_test.go has BeforeEach functionality which dep

[2020-02-28 15:49] jayunit100 commented on #1604
/assign

[2020-02-28 16:22] jayunit100 commented on #1604
Looks like,  Parallelization happens at the It level, not the describe level.  That might be useful for anyone debugging such tests in the future.

[2020-02-28 17:03] vincepri opened #1605 "Examples should ship with KCP for v1alpha3"
/kind feature

**Describe the solution you'd like**
The examples directory contains manifests users can use to spin up a new cluster. Instead of using simple machines, we should rely on KCP functionality in https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/examples/controlplane/controlplane.yaml

[2020-02-28 17:09] detiber commented on #1605
@vincepri I'm working on this currently as a part of #1500

/priority important-soon
/milestone v0.5.0-rc.0
/assign
/lifecycle active

[2020-02-29 06:54] ttonline6 opened #1609 "can not open link"
#https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/userdata-privacy.md
http://169.254.169.254/latest/api/token，can not be reached

[2020-03-02 12:51] randomvariable commented on #1328
/lifecycle frozen

[2020-03-02 14:57] randomvariable opened #1610 "Separate templates from conformance testing"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Having conformance kustomizations in the same directory as the templates can lead to confusion for downstream consumers, who may end up inadvertently including test versions of kubernetes by running `kustomize build` because there's a kustomization.yaml file there.

The conformance bit

[2020-03-02 16:19] randomvariable commented on #1603
/lifecycle active

[2020-03-02 17:39] scottslowe opened #1611 "Cluster and some objects stuck in "Deleting" state"
/kind bug

**What steps did you take and what happened:**
I used `kustomize build . | kubectl apply -f -` to apply some manifests to my management cluster. Immediately after applying the manifests, I realized there was an error, so I quickly ran `kustomize build . | kubectl delete -f -` to "revert" my changes.

**What did you expect to happen:**
Both Kubernetes and AWS objects that had been create

[2020-03-02 17:41] randomvariable commented on #1611
/assign
/lifecycle active

reading through the logs

[2020-03-02 17:46] sethp-nr commented on #1609
Where are you trying to open the metadata link from? I'm able to access it from one of my EC2 instances just fine:

[code]

All addresses that start with 169.254.x.x are [link-local](https://en.wikipedia.org/wiki/Link-local_address) and so can only be answered from another service running on the same network segment (e.g. plugged into the same router). If you're trying to access the EC2 metadata A

[2020-03-02 18:57] voor commented on #1441
AWS SSM is not available in all AWS regions currently, and the regions where it's not available are not covered by the current hard-coded Bastion AMI images, so those areas are currently unable to leverage any of this functionality.

[2020-03-02 19:31] ncdc commented on #1441
Ok, let's keep it open. Thanks for checking!

My recommendation is to allow the user to specify an AMI and a bootstrap data secret name (both optional).

As @randomvariable suggested in Slack, we could also move the bastion AMI defaulting logic into a webhook.

Another idea to consider: we could allow user overrides of bastion AMIs with an optional ConfigMap (key=region, value=ami).

[2020-03-02 20:55] detiber commented on #1561
Closing since #1606 has merged.
/close

[2020-03-02 20:55] #1561 closed

[2020-03-02 22:05] #1500 closed

[2020-03-02 22:05] #1605 closed

[2020-03-03 21:03] detiber commented on #1604
/milestone v0.5.x

[2020-03-03 21:05] detiber commented on #1610
/priority important-longterm
/milestone v0.5.x

[2020-03-03 21:05] detiber commented on #1611
/milestone v0.5.0

[2020-03-03 21:13] detiber commented on #1532
generate-examples is no longer used, closing
/close

[2020-03-03 21:13] #1532 closed

[2020-03-03 21:15] detiber commented on #1595
We no longer have addons.yaml, but still need to follow up on documenting how to deploy a cluster, which will likely tie into the implementation of https://github.com/kubernetes-sigs/cluster-api/issues/2434

[2020-03-03 21:20] detiber commented on #1392
@rudoi any objections if I bump this to the v0.5.x milestone rather than v0.4.x?

[2020-03-03 21:21] detiber commented on #930
Bumping this to v0.5.x, since we are nearing the v0.5.0 release
/milestone v0.5.x

[2020-03-03 21:22] detiber commented on #1138
@Lokicity is this still an issue?

[2020-03-03 21:27] detiber opened #1616 "Evaluate conversion webhook behavior based on liggitt's review of Cluster API"
- Take into account the feedback Jordan Liggitt gave during the API review session for Cluster API and ensure that we address the same issues here as well

Cluster API review feedback notes: https://docs.google.com/document/d/1fQNlqsDkvEggWFi51GVxOglL2P1Bvo2JhZlMhm2d-Co/edit#heading=h.2zz7is11zbh5

/priority important-soon
/milestone v0.5.0

[2020-03-05 17:28] scottslowe opened #1619 "Verify and document behavior for adding/removing subnets & AZs after cluster creation"
/kind feature

**Describe the solution you'd like**
I would like the ability to add subnets and AZs to an existing workload cluster (it looks like this functionality already exists and works), and remove subnets and AZs from an existing cluster *if* there are no Machines/MachineDeployments/MachineSets using those subnets and AZs.

**Anything else you would like to add:**
I've (informally) tested t

[2020-03-05 17:29] detiber commented on #1619
/priority important-longterm
/milestone Next

[2020-03-05 17:46] #1419 closed

[2020-03-05 19:03] detiber commented on #931
/lifecycle frozen

[2020-03-05 19:36] detiber commented on #1222
@ashoksekar07 is this still an issue?

[2020-03-05 19:36] detiber commented on #1323
/lifecycle frozen

[2020-03-05 19:37] detiber commented on #1187
/lifecycle frozen

[2020-03-05 19:47] detiber opened #1620 "Validate failureDomain support wrt v1alpha3 CAPI failure domain handling."
We need to validate that the failure domain support in capi v1alpha3 is working as intended.

Currently, I think we are ignoring the failureDomain that is being set on the Machine when creating instances and only looking at the failureDomain defined on the AWSMachine.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- C

[2020-03-05 19:49] detiber commented on #1620
/priority important-soon
/milestone v0.5.0

[2020-03-06 13:38] ncdc opened #1622 "e2e tests are failing because Calico removed 3.12 manifests"
/kind failing-test

**What steps did you take and what happened:**
See e.g. https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-e2e-master/1235906207399546880 - CNI fails to deploy

**What did you expect to happen:**
No error

**Anything else you would like to add:**
xref https://github.com/kubernetes-sigs/cluster-api/pull/2564

/assign
/lifecycle active

[2020-03-06 13:44] ncdc opened #1624 "Test failure: periodic-cluster-api-provider-aws-e2e-conformance-master"
From e.g. https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-e2e-conformance-master/1235921055223123969:

[code]

/kind failing-test

[2020-03-06 14:07] #1622 closed

[2020-03-06 14:16] ncdc commented on #1624
I think we need to forward-port the following:

From the Makefile in release-0.4:
[code]

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/release-0.4/scripts/ci-e2e-conformance.sh

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/release-0.4/test/e2e/conformance_test.go

Is that accurate, @detiber?

[2020-03-06 15:11] #1603 closed

[2020-03-06 16:59] detiber commented on #1624
This should be fixed with the work that is being done in #1596

[2020-03-06 18:00] jayunit100 commented on #1624
- yeah were doing the same thing in 1596,
- the taxonomy of it is that this snippet came from https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1586/files#diff-b67911656ef5d18c4ae36cb6741b7965R97 originally,
- which as andy points out is a port of the 0.4 conformance stuff.
[code]

will keep everyone posted on when this work is complete, it feels like were close to getting it to wor

[2020-03-06 18:25] randomvariable commented on #1611
/remove lifecycle

[2020-03-06 18:25] randomvariable commented on #1611
i think you determined the root cause for this @scottslowe ?

[2020-03-06 18:26] randomvariable commented on #1611
/remove-lifecycle active

[2020-03-06 18:28] randomvariable commented on #1595
Somehow missed this one.

I've updated the CAPV docs to not refer to the sample addons and will also delete it.

I did independently bump Calico before it was removed in #1601, so think this one can
/close

[2020-03-06 18:28] #1595 closed

[2020-03-06 18:29] randomvariable commented on #1595
Also, @ncdc noted that we should do something about the conformance templates in #1610

[2020-03-06 21:12] scottslowe commented on #1611
@randomvariable I did not determine the root cause; I had to remove the finalizer on some stuck objects, and then everything proceeded. However, it is acceptable to close this issue since the problem was in fact resolved.

[2020-03-06 21:14] detiber commented on #1611
/close

Not able to currently reproduce and cannot troubleshoot system it occurred on. Please re-open if this issue crops up again.

[2020-03-06 21:14] #1611 closed

[2020-03-09 14:48] jayunit100 opened #1627 "Tracking issue for ETCD stall error, CAPI #2591"
/kind bug

**What steps did you take and what happened:**

see https://github.com/kubernetes-sigs/cluster-api/issues/2591

Note we don't yet have CAPA evidence of this bug directly.

- Cluster-api-provider-aws version: master
- Kubernetes version: (use `kubectl version`): 1.17
- OS (e.g. from `/etc/os-release`):

[2020-03-09 17:19] detiber commented on #1620
/assign @randomvariable

[2020-03-09 17:24] detiber commented on #1616
/assign @detiber
/lifecycle active

[2020-03-09 21:10] detiber commented on #1616
I just went through and I believe for the support cases that we have (i.e. we don't expect v1alpha3 types to be created and reconciled by a v1alpha2 controller), I think we are mostly in good shape here.

I also verified that we have matchPolicy configured for Equivalent.

I did find one issue with opeanpi validation, and that is with `v1alpha3.awsMachine.spec.RootVolume.Size` having an openapi de

[2020-03-09 21:34] detiber commented on #1616
@ncdc could use your input to determine if the above is a potential release blocking issue or one that we can address if it becomes a problem later.

[2020-03-10 04:41] Lokicity commented on #1138
Yes, if the cluster is created with wrong key, deletion hangs

[code]

[2020-03-10 07:58] detiber commented on #1616
One potential fix for this that I can think of is that if we are converting from v1alpha2 -> v1alpha3 and RootDeviceSize == 0, we can override RootVolume.Size to 8, which would at least cover the default case. I'm not sure that we'd want to override it if a user explicitly set it to a value other than 0 (since we can't differentiate explict 0 from omitempty 0).

[2020-03-10 09:29] detiber commented on #1511
Bumping from the v0.5.0 milestone and moving to v0.5.x
/milestone v0.5.x

[2020-03-10 09:32] randomvariable opened #1629 "Conversion webhooks may not actually be active"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Arising from CAPV testing, I found that the conversion webhooks weren't active because at no point did we call v1alpha2.Infra*.SetupWebhookWithManager.

Same appears to be the case for CAPA.

**What did you expect to happen:**
Conversion webhooks are registered

**Anything else you would

[2020-03-10 09:33] detiber commented on #1629
/assign
/lifecycle active

[2020-03-10 09:33] detiber commented on #1629
/priority critical-urgent
/milestone v0.5.0

[2020-03-10 09:45] detiber commented on #1629
At least for CAPA, it looks like we are doing the webhook scaffolding around SetupWebhookWithManager on the v1alpha3 types vs the v1alpha2 types. This seems to align with the kubebuilder docs.

[2020-03-10 09:50] randomvariable commented on #1629
In CAPV, that's what I thought, but got errors in kind's api server log. It might be that without actual validation webhooks the server doesn't start, hence slighly hedging my bets with "may"

https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/815 is what i've done.

[2020-03-10 09:53] detiber commented on #1629
Logs from CAPA v0.5.0-rc.1:

I0310 09:49:29.246544       1 listener.go:40] controller-runtime/metrics "msg"="metrics server is starting to listen"  "addr"="127.0.0.1:8080"
I0310 09:49:29.246924       1 webhook.go:92] controller-runtime/builder "msg"="skip registering a mutating webhook, admission.Defaulter interface is not implemented"  "GVK"={"Group":"infrastructure.cluster.x-k8s.io","Version":"v

[2020-03-10 13:18] detiber commented on #1629
I just verified this against a v0.5.0-rc.1 cluster by passing in the manifests from the `release-0.4` branch, and they were properly converted to v1alpha3 during creation.

[2020-03-10 14:07] detiber commented on #1624
This has now been resolved
/close

[2020-03-10 14:07] #1624 closed

[2020-03-10 14:14] detiber commented on #1629
Closing, since I was able to successfully create a Cluster using the v1alpha2 manifests.

/close

[2020-03-10 14:14] #1629 closed

[2020-03-10 14:17] randomvariable commented on #1629
Got to it before I did, thanks!

[2020-03-10 14:21] ncdc commented on #1616
Are there negative implications of having an alpha3 type with a 0 root volume size?

[2020-03-10 14:26] detiber commented on #1616
Not necessarily that I'm aware of, other than it wouldn't pass validation.

But @randomvariable might have more context than I do here.

[2020-03-10 14:28] randomvariable commented on #1627
/close

Issues are specific to CAPZ and CAPV.

[2020-03-10 14:28] #1627 closed

[2020-03-10 15:19] #1156 closed

[2020-03-10 15:22] rudoi commented on #1616
Yeah it would not pass validation. This was one of those fields in v1alpha1/2 that we marked immutable, so errors get thrown if what gets returned from EC2 is not the same as what's in the spec.

[2020-03-10 15:34] detiber commented on #1616
@rudoi Do we ever expect there to be a case other than 0 where there would be a valid v1alpha2 type that would have a RootDeviceSize < 8? I'm just trying to gauge how much of an edge case we are potentially looking at for this failure mode.

[2020-03-10 15:48] detiber commented on #1392
Moving to v0.5.x to track forward porting the feature support from #1394
/milestone v0.5.x

[2020-03-10 17:25] rudoi commented on #1616
@detiber only if someone wanted a smaller root volume, but I think it would be fair to just forget about that case.

[2020-03-10 17:26] detiber commented on #1616
Thanks!

Closing this issue in light of the previous discussion. If for some reason this edge case becomes an issue we can address it then.

/close

[2020-03-10 17:26] #1616 closed

[2020-03-10 20:37] #1620 closed

[2020-03-11 11:32] randomvariable opened #1631 "AWS_ prefixes are required in templates"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
CONTROL_PLANE_MACHINE_TYPE and NODE_MACHINE_TYPE template variables should have an AWS_ prefix. Currently have a clash in when using ~/.cluster-api/clusterctl.yaml across providers

**What did you expect to happen:**
Can use Azure and AWS providers simultaneously.

**Anything else you wo

[2020-03-11 11:49] opowbow opened #1632 "Provide documentation of IAM roles"
/kind feature

**Describe the solution you'd like**
A list of the IAM roles required to provision a cluster with CAPA

**Anything else you would like to add:**

**Environment:**

[2020-03-11 13:21] randomvariable commented on #1631
/lifecycle active

[2020-03-11 13:36] detiber commented on #1632
We don't have documentation around this today, but as a temporary workaround, you could extract the information from the generated cloudformation template that is created by `clusterawsadm alpha bootstrap generate-cloudformation`

[2020-03-11 13:36] detiber commented on #1632
/priority important-soon
/milestone v0.5.x
/kind documentation

[2020-03-11 19:19] #1631 closed

[2020-03-11 20:55] detiber opened #1638 "docs/accessing-instances.md is out of date"
/kind documentation

docs/accessing-instances.md is out of date and needs to be updated for both Session Manager-based access, and bastion access using the new clusterctl workflows.

/priority important-soon
/milestone v0.5.x

[2020-03-12 03:12] MartinForReal opened #1639 "userdata should not be compressed"
/kind bug

**What steps did you take and what happened:**
I wrote a bootstrap provider for coreos ignition. But I failed to create ec2 instance because user data is gzip compressed and ignition failed to read it.

**What did you expect to happen:**

It's bootstraper's responsibility to decide whether it should compress userdata or not
**Anything else you would like to add:**

**Environment:**

- C

[2020-03-12 04:22] rudoi commented on #1639
Do you have any logs from the instance you can share? It's my understanding that EC2 uncompresses the user data on the way to the host.

Possibly relevant: https://github.com/coreos/bugs/issues/741

[2020-03-12 05:27] MartinForReal commented on #1639
Thanks for the quick response! I found the following description from AWS documentation.

you can check this out [here](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instancedata-add-user-data.html)

So from my understanding, it is cloud-init that supports user data in gzip format. [link](https://cloudinit.readthedocs.io/en/latest/topics/format.html)

I don't think aws provider should interf

[2020-03-12 05:33] MartinForReal commented on #1639
related code are as follows:

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/40985d540f5805a7f52a4226c076e184465491d0/pkg/cloud/services/ec2/instances.go#L203

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/15da39360ff1d942b39da6fa9d93e08e517bafa1/controllers/awsmachine_controller.go#L491

[2020-03-12 09:36] randomvariable commented on #1639
Two things:

* We initially gzipped that data to squeeze into the userdata size limit (despite the certs themselves not being compressible).
* The AWS Secrets Manager support, which is now on by default necessarily requires cloud-init at the present moment because Ignition doesn't support multi-part mime documents: https://github.com/coreos/ignition/issues/849. Given that in this instance, the act

[2020-03-12 16:38] detiber opened #1641 "Do not mark infrastructure as ready prior to ELB dns resolving"
/kind bug

Currently if ELB DNS takes too long to propagate, a Cluster can fail to provision with the Machine bootstrapping timing out waiting for DNS resolution for the ELB to succeed.

We should avoid marking the infrastructure ready until the management cluster can resolve the DNS for the ELB

/priority important-soon
/milestone v0.5.x

[2020-03-12 16:46] detiber opened #1642 "Controller implementation should move towards a re-entrancy model"
/kind feature

**Describe the solution you'd like**
Currently we do a lot of waiting within the controller for resources to be available, we should investigate switching to using re-entrancy for these tasks rather than blocking other reconciliations.

/priority important-longterm
/milestone Next

[2020-03-12 18:59] detiber opened #1643 "Support multi-AZ with default AWSCluster configuration"
/kind feature

**Describe the solution you'd like**
When a user creates an AWSCluster with the default configuration, we should determine the number of AvailabilityZones available in the chosen region and create a public/private Subnet pair for each available AZ.

This might require modifications to the way that we are currently handling NAT gateways ala #1323 , since us-east-1 has 6 availability

[2020-03-12 19:48] detiber commented on #1555
Rebuilding AMIs:
v1.15.0
v1.15.0
v1.15.0

[2020-03-12 20:37] ncdc opened #1644 "Customizable image lookup format"
/kind feature

**Describe the solution you'd like**
As a Kubernetes distribution maintainer, I would like to be able to customize the image lookup format so that I can still use the image lookup mechanism even if my image names don't match the current hard-coded format.

**Anything else you would like to add:**
We should ideally come up with a way to have this configured globally for a single CAPA

[2020-03-13 02:00] detiber commented on #1555
All of the above mentioned images should be published and available now.
/close

[2020-03-13 02:00] #1555 closed

[2020-03-13 09:54] MartinForReal commented on #1639
Ignition has support for remote config files. I can upload a remote file to a s3 bucket or an HTTP website.
In my scenario, I upload ignition files to s3 buckets and ignition will download these files at startup. And I think it works well for me.

I think this will work for me.

I would like to submit code patches if we both agree.

[2020-03-13 10:41] randomvariable commented on #1639
Yup, that works. Can you make it an optional field, like "uncompressedUserdata", or some such?

[2020-03-14 16:47] andrewmyhre commented on #1552
We're targeting exactly this capability in our organization because we want to target small AWS accounts for individual divisions managed by CAPI host clusters in separate accounts.

The approved strategy of obtaining credentials in our organization's AWS architecture is for processes to use `sts assume-role` when they need to credential hop. Kiam is well suited to our needs generally, and in this

[2020-03-15 12:36] MartinForReal commented on #1639
/ assign
/ lifecycle active

[2020-03-16 14:08] detiber commented on #78
/lifecycle frozen

[2020-03-16 15:45] benmoss commented on #1641
/assign

[2020-03-17 16:40] sethp-nr commented on #1552
FWIW the approach you describe would solve our use cases as well. Up-thread @randomvariable asked that we follow the CAEP process regarding that, which would offer an opportunity to collect feedback from folks using a authentication different model – how does that sound to you?

It doesn't look like we have CAEPs in this repo yet, and I don't see provider-specific CAEPs upstream, so I think that w

[2020-03-17 16:50] benmoss commented on #1643
/assign

[2020-03-17 19:58] benmoss commented on #1643
The minimum size for a subnet is `/28`

[2020-03-17 20:20] benmoss commented on #1643
What would you think about this solution: split the default VPC (10.0.0.0/16) into N+1 subnets, where N is the number of AZs in the region. Then we'd take the first subnet and split that further into N subnets, using each of these for the public subnets.

This would mean for us-east1 (with 6 AZs) we'd get

[code]

for us-east1 (3 azs) we'd get:

[code]

[2020-03-17 20:46] benmoss commented on #1643
I am also wondering if this change forces us to implement cleanup for subnets that already exist, for the sake of upgrading clusters to this new layout

[2020-03-17 21:06] detiber commented on #1643
The proposal for splitting up the subnets sounds good to me.

I'm not sure we should worry about handling any cleanup for pre-existing subnets, but we'd likely want to retain some type of backward compatibility for existing clusters with the original subnet configuration.

I think that todo might be from when we stored subnet information in status vs spec.

[2020-03-18 14:13] benmoss commented on #1643
Do we want to name the subnets now like `$clustername-1a-public`? Right now they'll be `$clustername-{public,private}`.

[2020-03-18 14:27] detiber commented on #1643
I think `$clustername-$az_suffix-{public,private}` should work, where az_suffix is [a,b,c,...]. I don't think there is any need to encode the region suffix in there as well.

[2020-03-18 16:44] benmoss commented on #1643
The pre-existing subnets situation causes this to get a little trickier than I anticipated. Can I get some advice on how to handle these situations?

- One subnet exists on the spec and/or in EC2, but it's one of the old defaults. Trying to merge the new layout and the old layout is going to require a bunch of extra logic. Deleting it and just creating the new layout seems like the simpler choice.

[2020-03-18 16:47] detiber commented on #1643
We can't really delete the subnet out from under folks, since it will be in use with existing instances that comprise the control plane for the cluster.

[2020-03-18 16:48] benmoss commented on #1643
Well I was thinking that the only way you'd get into situation 1 would be if something interrupted the CAPA controller, since otherwise it should have two

[2020-03-18 19:36] benmoss commented on #1643
- we want to keep reconciling the old subnet patterns if they exist in the cluster
- create one NAT gateway per public subnet, which will break on us-east1 for now
- if user brings their own VPC, don't create any subnets. this is a behavior change, we used to check if they had any public subnets or any private subnets and create them from our defaults if either are missing.
- open question if subn

[2020-03-18 20:28] randomvariable commented on #1643
BTW, there was an early implementation of subnetting in https://github.com/kubernetes-sigs/cluster-api/pull/503 which we ultimately didn't use. Was originally going to create `/17` VPCs, with subnets of `/19`, which was a tradeoff between keeping the ELB service happy and minimising CIDR space when people wanted to use things like DirectConnect or VPNs.

[2020-03-19 08:30] bluefriday opened #1652 "Cluster failed to describe VPCs"
/kind bug

**What steps did you take and what happened:**
I'm new at cluster-api-provider-aws.
I converted my local exist k8s cluster to management cluster (follow : quick start.)
But failed to run cluster.yaml (below my controller-manager log)
I think it is network issue. but I'm not sure..

Please help me any advice. thanks.

**What did you expect to happen:**
Cluster running on workload success

[2020-03-19 14:42] detiber commented on #1652
@bluefriday did you run `clusterawsadm alpha bootstrap create-stack`? It looks like the quickstart doesn't make it overly clear that it is a required step, but it is listed in the linked pre-requisites doc: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/prerequisites.md

[2020-03-19 14:46] detiber commented on #1652
I filed https://github.com/kubernetes-sigs/cluster-api/issues/2721 to improve the the quickstart docs around the missing step.

[2020-03-19 21:02] ncdc opened #1654 "Moving a cluster is slow because the AWSCluster controller isn't watching for newly unpaused Clusters"
/kind bug

**What steps did you take and what happened:**
- Create a cluster e.g. using `clusterctl`
- Prep the workload cluster for Cluster API
- Run `clusterctl move` ...
- It takes a long time (up to 10 minutes aka the resync period) for the AWSCluster to show as provisioned after it's moved to the workload cluster

**What did you expect to happen:**
- Shortly after the cluster is unpaused, the

[2020-03-20 07:06] #1654 closed

[2020-03-24 01:13] jayunit100 commented on #1000
This makes using custom TLS Algorithms a little trickier bc we have to match the ELB to support whatever TLS algorithms we use.  Any way we can revert ?

[2020-03-24 01:25] jayunit100 opened #1657 "Use naive TCP instead of SSL for ELB health checks"
/kind bug

**What steps did you take and what happened:**

I ran ELB's with apiserver arguments which include a small set of cipher's not in the AWS 2016 defaults

What happened --- the ELBs never send traffic to apiservers, which means kubelets never register their static pods, and scheduler/kcm never get to start doing anything - so you just have an orphan API Server talking to ETCD, and cluster

[2020-03-24 14:12] #1639 closed

[2020-03-24 14:27] detiber commented on #1657
/close
Closing, since this would cause log spamming related to the health checks. Longer term we want to explore migrating over to using an NLB for the load balancer, but there are other challenges that we need to solve related to handling in hairpinning before we can make that switch.

[2020-03-24 14:52] benmoss commented on #1643
So I started with this very nice clean implementation of splitting up the subnets [here](https://github.com/benmoss/cluster-api-provider-aws/blob/1a7180d49cd871327a38d01039b292b3c5efc151/internal/subnet/subnet.go).

Several COVID years later I emerge with [this mess](https://github.com/benmoss/cluster-api-provider-aws/blob/a3157261292b40373902a08188c68f11fe6c717e/internal/subnet/subnet.go) that wo

[2020-03-24 15:04] detiber commented on #1643
@benmoss thanks for the work you've done on this so far. I was made aware of another potential complication that we'll need to address if we change from using ELB Classic like we do today to using an NLB, so we'll probably want to revisit this with that in mind once things have slowed down a bit.

[2020-03-24 16:46] stevenolen opened #1659 "Support selection/limiting of private subnets to use for control plane replicas"
/kind feature

**Describe the solution you'd like**
The ability to select or limit the acceptable private subnets and/or failure domains where kubeadm control plane instances may be placed.

**Anything else you would like to add:**
The current behavior results in _any_ private subnet within a vpc being selected for control plane instances. In my vpc environment there are 5 availability zones with

[2020-03-24 18:39] #1641 closed

[2020-03-24 18:59] ncdc commented on #1659
@vincepri and I had previously talked about one possibility: using tags in AWS on the subnets to indicate which ones you want to use for the control plane / failure domains.

[2020-03-24 19:21] stevenolen commented on #1659
that would definitely work in my case!

[2020-03-24 20:14] detiber commented on #1659
Tags are definitely an option, but I think I'd like to keep a more explicit option available as well, since in some environments it may be difficult to have pre-existing subnets modified to add tags for our use.

[2020-03-24 23:01] scottslowe commented on #930
With v1alpha3 and the KubeadmControlPlane, it looks like the only way to accomplish this is to provide a `networkSpec` laying out the subnets and AZs, and then the KCP will "do the right thing" and spread control plane nodes across AZs. Should I write-up a document to that end?

[2020-03-25 19:13] ncdc opened #1660 "Default resync period of 10 minutes appears to actually be 20 minutes?"
/kind bug

**What steps did you take and what happened:**
1. Deploy CAPA (don't change the default `--sync-period` value)
1. Create a Cluster/AWSCluster/Machine/AWSMachine
1. Resyncs appear to happen every ~20 minutes

**What did you expect to happen:**
1. Resyncs happen every ~10 minutes

**Anything else you would like to add:**
Scratching my head on this one...

**Environment:**

- Cluster-api-p

[2020-03-25 19:13] ncdc commented on #1660
/assign @detiber
mind looking at this, or delegating?

[2020-03-25 19:16] detiber commented on #1660
Yes, I will dig into this further

[2020-03-25 19:24] ncdc opened #1661 "AWSMachine controller sometimes (albeit rarely) appears to be reading stale cached Cluster data"
/kind bug

**What steps did you take and what happened:**
1. Use `clusterctl` to create an AWS cluster
1. Use `clusterctl` to move everything into the new AWS cluster
1. The AWSMachines in the new AWS cluster remain "not ready" until the next full resync

**What did you expect to happen:**
1. The AWSMachines should update to ready quickly (almost immediately), because all the infra is already prov

[2020-03-26 14:57] voor opened #1664 "Allow AWSIAMUserBootstrapper to be disabled during bootstrap create-stack"
/kind feature

**Describe the solution you'd like**
Certain enterprise environments do not allow the creation of AWS::IAM::User, instead asking for the bootstrapping process to be conducted from an EC2 instance with the necessary roles applied to it.  Additionally, the user is **only** required for the bootstrapping process, and could be safely deleted afterwards.  By separating the lifecycle of t

[2020-03-26 15:00] detiber commented on #1664
I think it might be worth it to consider splitting out the bootstrap user creation to a separate step, that way the stack doesn't need to be modified for disabling the user.

[2020-03-26 15:00] detiber commented on #1664
/priority important-soon
/milestone v0.5.x
/help

[2020-03-26 21:54] scottslowe commented on #930
@vincepri @detiber Would adapting this content work to help close this issue? https://blog.scottlowe.org/2020/03/26/ha-kubernetes-clusters-on-aws-with-cluster-api-v1alpha3/

[2020-03-26 22:58] vincepri commented on #930
+1 from me

[2020-03-27 14:20] voor opened #1668 "Improve Validation around fields that are passed in as AWS API parameters"
/kind bug

Create AWSCluster with following:
[code]

Receive the following issues:
[code]

**What did you expect to happen:**
Would prefer better feedback in the admission webhook stating that `sshKeyName` contains invalid characters.

**Anything else you would like to add:**
AWS Documentation is wrong, and they should feel bad.

**Environment:**

- Cluster-api-provider-aws version: `v0.5.1`
- Kub

[2020-03-27 15:04] randomvariable opened #1670 "Print controller versions on startup"
/kind feature

**Describe the solution you'd like**
Would be great to to see the controller version in the logs, makes debugging issues for end users much simpler.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api: 0.5.*

[2020-03-27 15:28] detiber commented on #1660
/lifecycle active

[2020-03-27 15:29] detiber commented on #1661
/assign
/lifecycle active

[2020-03-27 17:01] ncdc commented on #1670
/help
/good-first-issue

[2020-03-27 17:02] detiber commented on #1670
/priority important-longterm
/milestone v0.5.x

[2020-03-30 16:56] benmoss opened #1673 "Updating region on a cluster is broken"
/kind bug

**What steps did you take and what happened:**
Updating the `spec.Region` on an AWSCluster results in the cluster going into a broken state. I don't think we want to support changing a cluster's region at all, so we probably should enforce that it is an immutable field.

**What did you expect to happen:**
Either the cluster tears down resources in one region and recreates them in anothe

[2020-03-30 16:57] detiber commented on #1673
+1 to adding validation to enforce this field being immutable
/priority important-soon
/milestone v0.5.x

[2020-03-30 19:33] benmoss commented on #1673
/assign

[2020-03-30 20:10] scottslowe commented on #930
/assign

[2020-03-30 20:34] benmoss commented on #1673
We don't have any validations on AWSClusters at the moment, so I was thinking of what else we want to restrict:
- `networkSpec`: Only allow updating this if its unmanaged?
- `sshKeyName`: probably should be immutable
- `controlPlaneEndpoint`: same as `networkSpec`?
- `additionalTags`: do we support updating tags on already created instances?
- `controlPlaneLoadBalancer`: pretty sure we don't handl

[2020-03-30 22:21] detiber commented on #1673
It might be tricky to determine managed vs unmanaged here.

It should be fine to update this afterwards, it would just change the cluster-wide default for new instances created.

+1 on immutability here, otherwise it will break the cluster.

Sort of...  I'm not sure if it will affect existing instances created (other than bastion), but it should affect the cluster infrastructure that was created.

[2020-03-30 22:25] benmoss commented on #1673
Sounds good, I was starting to look into managed/unmanaged and realized that wouldn't be easy. I think I was split on whether a stance of "this applies to new instances going forward" vs "this should be reconciled as if I applied this when I created the cluster" was the what users would want / expect. I think the former is good enough to start until there's a real demand.

[2020-03-31 02:20] kferrone opened #1676 "Failed to Create clusterctl inventory CRDs component"
/kind bug

**What steps did you take and what happened:**

Followed the Quickstart in the docs line by line exactly and I got this error when running:
`clusterctl init --infrastructure aws`

o matches for kind "CustomResourceDefinition" in version "apiextensions.k8s.io/v1

However the following did work out:
`clusterawsadm alpha bootstrap create-stack`

I have no idea how to debug this? Not much e

[2020-03-31 14:14] detiber commented on #1676
@kferrone The management cluster must be at least Kubernetes v1.16.

@vincepri We should probably make this more clear in the QuickStart

@fabriziopandini we should also probably add a validation step in `clusterctl` for this as well.

[2020-03-31 14:59] vincepri commented on #1676
/kind documentation

[2020-03-31 18:38] evalsocket commented on #1670
Can this be assigned to me?

[2020-03-31 18:45] detiber commented on #1670
/assign @evalsocket

[2020-03-31 19:32] detiber opened #1678 "Do not rely on status to determine if we should delete a bastion that was previously created"
/kind bug

Currently we are relying on AWSCluster.Status.Bastion to determine if we should delete a previously created bastion instance. Instead we should query by tags to determine if we should delete.

More context in this PR comment thread: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1677#discussion_r401118877

/priority important-soon
/milestone v0.5.x
/help

[2020-03-31 20:32] evalsocket commented on #1678
/assign @evalsocket

[2020-04-01 14:46] kferrone commented on #1676
Oh, bummer. This means this project will not work for EKS as 1.15 is the highest version offered as far as I know.

[2020-04-01 17:29] #1670 closed

[2020-04-02 15:57] kferrone commented on #1676
Looks like lot's of peeps are waiting for EKS to support v1.16
[[EKS]: Support for Kubernetes 1.16](https://github.com/aws/containers-roadmap/issues/487)

[2020-04-02 19:17] fabriziopandini commented on #1676
the validation step in clusterctl  just merged
https://github.com/kubernetes-sigs/cluster-api/pull/2842

[2020-04-02 20:36] scottslowe opened #1685 "Kubeadm Bootstrap Controller crashes when passed key material via File field"
/kind bug

**What steps did you take and what happened:**
1. I created an external etcd cluster and made a copy of the `apiserver-etcd-client.{crt,key}` files.
2. I added the contents of these files to the `kubeadmConfigSpec` field of the `KubeadmControlPlane`  object in a manifest for a workload cluster.
3. I applied the workload cluster manifest to the management cluster. After seeing no activit

[2020-04-06 08:11] bluefriday commented on #1652
@detiber
Yes I already ran command 'clusterawsadm alpha bootstrap create-stack'
this command listed resources in the stack.. but still not work.

I tried for using v0.5.2(clusterawsadm)  and v0.3.3(clusterctl). but same result.

[2020-04-06 17:10] detiber commented on #1668
/priority important-longterm
/milestone Next

[2020-04-06 17:10] detiber commented on #1668
/help

[2020-04-06 17:12] detiber commented on #1676
Now that kubernetes-sigs/cluster-api#2842, closing since v1.16 is a requirement for the management cluster.
/close

[2020-04-06 17:12] #1676 closed

[2020-04-06 17:13] detiber commented on #1685
/kind documentation
/priority important-soon
/milestove v0.5.x

[2020-04-08 07:46] bluefriday commented on #1652
@detiber Thanks you!! As you said to me, It was my local proxy server issues.
I'll close this issue.

[2020-04-08 07:46] #1652 closed

[2020-04-08 21:13] benmoss opened #1689 "Instances should be removed from LB when they're being shut down"
/kind bug

**What steps did you take and what happened:**
While doing a control plane upgrade workflow I was continuously doing `kubectl get nodes` on the new cluster. I saw that I got periodic timeouts/failures and I'm pretty sure it's because the instance is being included in the cluster load balancer before it's ready to handle requests. You also can see in the KCP logs these kinds of errors as

[2020-04-08 23:49] scottslowe commented on #1685
I just tested this again using CAPA 0.5.2 and CAPI 0.3.3 (latest releases of both). I also modified the `files` section to write out the API server etcd client certificate, the API server etcd client key, and the etcd CA certificate (as well as having the `<clustername>-etcd` Secret defined in the management cluster. It appears that the error still persists (I didn't compare the logs from this lat

[2020-04-09 13:12] detiber commented on #1685
Moving to cluster-api repo, since this is an error in the KubeadmConfig controller.

[2020-04-09 13:25] detiber commented on #1689
/priority important-soon
/milestone v0.5.x

[2020-04-09 17:25] detiber commented on #1660
Closing, since we don't seem to be able to reproduce. Please re-open if the issue persists.
/close

[2020-04-09 17:25] #1660 closed

[2020-04-09 17:26] detiber commented on #1661
Can't appear to reproduce, closing
/close

[2020-04-09 17:26] #1661 closed

[2020-04-13 13:37] detiber commented on #1473
/lifecycle frozen

[2020-04-13 13:37] detiber commented on #1437
/lifecycle frozen

[2020-04-14 17:17] scottslowe commented on #1638
@detiber I can update the docs for access using Session Manager, but I'm not familiar with which `clusterctl` workflows you're referencing. Can you point me in the right direction?

[2020-04-14 19:00] detiber commented on #1638
@scottslowe it should probably reference the use of `clusterctl create` rather than just `clusterctl`, since `clusterctl` no longer performs the bootstrapping and pivoting phases automatically to create a cluster. This section of the QuickStart is an example of the use of `clusterctl create`: https://cluster-api.sigs.k8s.io/user/quick-start.html#create-your-first-workload-cluster

[2020-04-14 19:13] detiber commented on #1331
/remove-lifecycle rotten

[2020-04-14 20:14] scottslowe commented on #1638
OK, I think I have a feel for some of the changes that need to be made. I'm going to take a crack at this.

/assign

[2020-04-15 09:43] enxebre commented on #70
fwiw at some point having DHCP options awareness and reflecting it on the machine.status addresses might come in handy for scenarios where users wanting to adopt pre-existing vpcs.

[2020-04-15 13:58] detiber commented on #70
@enxebre can you create a new issue to track adding that information to the status?

[2020-04-15 14:24] enxebre opened #1691 "Consider reflecting VPC DHCP dns options in machine status DNS addresses"
/kind bug

**What steps did you take and what happened:**
Have a VPC with custom DNS DHCP options, e.g domainName `agl.com` https://docs.aws.amazon.com/vpc/latest/userguide/VPC_DHCP_Options.html

Machine addresses do not reflect this additional DNS addresses as the node would do via the controller manager cloud provider
https://github.com/kubernetes/kubernetes/blob/6b13befdfb3e30862dc86fd1c7739f58

[2020-04-15 20:49] detiber commented on #1175
/lifecycle frozen

[2020-04-16 18:56] detiber commented on #1275
/lifecycle frozen

[2020-04-16 18:56] detiber commented on #969
/lifecycle frozen

[2020-04-16 18:56] detiber commented on #1164
/lifecycle frozen

[2020-04-17 09:01] enxebre opened #1693 "ProviderID more consistent with kube manager cloud provider"
/kind bug

**What steps did you take and what happened:**
Create a machine.
See the providerID. This value https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/22be31dd76da04409c425c77e2967db327f409a4/controllers/awsmachine_controller.go#L406

**What did you expect to happen:**
providerID to look consistent with what the cloud provider would set in the node one.

**Anything else you wo

[2020-04-17 12:53] detiber commented on #1693
Just to double check that this wouldn't affect us when we go to consume the external aws cloud provider eventually it looks like it is currently consuming the legacy-cloud-provider so should be setting the same values currently.

I'm +1 to this change assuming that we can do it in a way that does not break existing clusters.

[2020-04-17 12:53] detiber commented on #1693
/priority important-soon
/milestone v0.5.x
/help

[2020-04-17 19:20] benmoss commented on #1689
/assign

[2020-04-17 20:05] #1511 closed

[2020-04-17 21:41] benmoss commented on #1689
I think this might just be actually an inevitable jitter as a result of there being timeouts / intervals involved in the LB healthcheck. I think it most commonly happens as a control plane node is being removed from the cluster, it is first removed from etcd which causes it to become unresponsive and the load balancer isn't able to react fast enough

The API server has an option `--shutdown-delay-

[2020-04-17 21:41] benmoss commented on #1689
Note that that would also require us to actually shut down the API server, right I think we just shutdown the machine

[2020-04-17 21:46] detiber commented on #1689
@benmoss that is correct, currently we only shutdown the Machine.

[2020-04-20 13:17] benmoss commented on #1689
I'd say we should just defer this issue and open another about KCP using `--shutdown-delay-duration` and shutting down the API servers properly, at which point CAPA should switch its LB healthcheck to check for a 200 on `/readyz`

[2020-04-20 15:13] bagnaram commented on #1644
Is this referring to the AMI image `capa-ami-%s-?%s-*` default lookup by instance creation?

[2020-04-20 15:16] bagnaram commented on #1644
/assign

[2020-04-20 15:23] detiber commented on #1644
@bagnaram yes that is correct.

[2020-04-20 17:08] detiber commented on #1691
/priority important-longterm

[2020-04-21 12:11] randomvariable commented on #1689
We did switch CAPV to using `/readyz` so the change makes sense here too.

[2020-04-21 18:33] sethp-nr opened #1696 "Accept provided VPC infrastructure with only a private subnet"
/kind feature

As a user, I may want to provide CAPA with a VPC that has no associated public subnets or internet gateways. It is unclear whether CAPA would support this today, even with an `internal` load balancing scheme for the apiserver.

**Anything else you would like to add:**

The current subnet code may issue an error when reconciling an unmanaged VPC with no public subnets: https://github

[2020-04-22 07:40] richardcase commented on #1534
/assign @richardcase

[2020-04-22 11:17] #1638 closed

[2020-04-22 13:10] detiber commented on #1534
@richardcase I haven't followed along with the Managed proposal linked overly well, but I would expect that it should be possible to implement a Managed kubernetes provider leveraging a Control Plane provider and a MachinePool provider targeted towards EKS. See https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/482 and the related discussion there.

[2020-04-22 13:43] elmiko commented on #1693
doing some testing and exploration with the autoscaler, i think this issue is also showing up there as well. essentially the autoscaler is looking at these values and seeing a mismatch which causes it to think that the nodes are unregistered.

@JoelSpeed noted this issue with the PR mentioned above, i just wanted to add a comment here to help add some reference.

[2020-04-22 13:56] randomvariable commented on #1693
Maybe worth creating an umbrella "epic" for autoscaler support with reference to this issue @detiber ?

[2020-04-22 14:05] ncdc commented on #1693
Given that CAPI has its own utility for parsing provider IDs, and IIRC we match solely on provider and instance ID (ignoring any intermediate data in the string, such as region/zone), I _think_ this change should be backwards compatible.

[2020-04-22 14:25] richardcase commented on #1534
Thanks @detiber  - i was was just reading your comments on the PR in the Azure provider. I'll follow the approach you suggest.

Would you suggest that the managed control plan provider code be placed in `controlplane\eks` (or `controlplane\managed`)  in this repo?

[2020-04-22 14:26] detiber commented on #1534
@richardcase lets do `controlplane/eks` since it's more aligned with the implementation.

[2020-04-22 14:43] JoelSpeed commented on #1693
One question that came to mind when thinking about a fix for this, would we want to fix IDs for existing machines in the cluster, or should we just put the new format for IDs on the new machines

Looks from the code we overwrite the providerID on every reconcile so leaving old IDs alone would involve some extra work, just not sure if that would break anything
https://github.com/kubernetes-sigs/clu

[2020-04-22 14:55] elmiko commented on #1693
in terms of the extended autoscaler issues, i think we could almost skip fixing the broken IDs as the autoscaler will quickly cycle out those machines as "unregistered nodes". this might be slightly disruptive, but at the least it should be safe.

[2020-04-22 15:03] detiber commented on #1693
I wouldn't anticipate it breaking anything, but we could always add a release note for the change in case there exists a user that is relying on the current value and would need to update their integrations

[2020-04-22 16:35] bagnaram commented on #1664
/assign

[2020-04-22 17:50] randomvariable commented on #1664
/assign

[2020-04-22 17:50] randomvariable commented on #1664
/lifecycle active

[2020-04-22 18:37] #930 closed

[2020-04-23 11:25] richardcase commented on #1534
@detiber - do you think the eks control plane should reuse the services ([for example](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/pkg/cloud/services/ec2/vpc.go#L41)) or should it have its own specific versions? If we re-use then we would have to use the cluster scope for example and that expects a AWSCluster, which we could create with the control plane controller. Eit

[2020-04-23 13:46] detiber commented on #1534
@richardcase I think it would make sense to re-use where possible. We should probably consider refactoring common services (on an as needed basis) to remove the need for a scope to better accommodate the reuse

[2020-04-23 18:59] detiber opened #1698 "Consider moving etcd to it's own volume"
/kind feature

**Describe the solution you'd like**
Currently by default we only provision a single storage volume for instances. We should likely investigate creating a dedicated volume for etcd storage and verifying that the default configuration used is one that ensures both adequate and consistent performance characteristics.

[2020-04-23 19:13] randomvariable commented on #1698
Interestingly that would also enable the ability to use EBS volume encryption at rest without having to go through the rigmarole of someone rolling their own AMI.

[2020-04-24 14:00] randomvariable opened #1699 "API for CloudFormation generation and application"
/kind feature

### Describe the solution you'd like

clusterawsadm was introduced as a kind of quick start tool to get started with CAPA with the correct AWS permissions.

It is however the canonical source of permissions CAPA uses to access AWS resources, but is not necessarily the easiest to consume in a programmatic fashion.

Options have been added ad-hoc to support an increasing number of use

[2020-04-24 18:18] bagnaram commented on #1698
Because this is only related to control-plane nodes, this should also be able to handle any image provided by `image-builder`, including ones that have been STIG partitioned, or with `emptydir` and containerd layers stored on a separate volume.

[2020-04-24 18:20] bagnaram commented on #1698
/assign

[2020-04-24 20:56] katiekeel opened #1700 "DNS resolution should take host operating system into account"
/kind bug

**What steps did you take and what happened:**
I was following the [Quick Start Guide](https://cluster-api.sigs.k8s.io/user/quick-start.html) and my cluster was hanging right after the `Apply the workload cluster` step. After running `kubectl apply -f capi-quickstart.yaml`, my cluster remained in the `Provisioning` phase.

[code]

I went to investigate and noticed the `capa-controller-m

[2020-04-27 14:51] bagnaram commented on #1698
I believe this can add an additional field for `infrav1.Instance` for etcd volumes. It may be handy to allow for further customization in the future such as encrypted. I'm performing local tests with this configuration.

[2020-04-27 15:30] vincepri opened #1701 "Move e2e tests to clusterctl framework"
With the introduction of the new clusterctl test framework, we should draw a plan of action and publish a gap-analysis of the current e2e tests CAPA has today, and how we can port them to the new framework.

/kind cleanup
/assign @gab-satchi
/cc @fabriziopandini @detiber

[2020-04-27 15:38] detiber commented on #1484
/lifecycle frozen

[2020-04-27 15:39] detiber commented on #1429
/lifecycle frozen

[2020-04-27 15:39] detiber commented on #1459
/lifecycle frozen

[2020-04-27 16:12] fabriziopandini commented on #1701
Happy to help if required!
FYI https://github.com/kubernetes-sigs/cluster-api/pull/2943 has an example of E2E config file for AWS

[2020-04-28 06:52] richardcase commented on #1534
@detiber - i've started to refactor the ec2 service so that networking side could be reused. Instead of removing the need for a scope i split out the networking into a _network service_  and associated _clusternetwork scope_......i misread the last part of your comment about removing the need for a scope completely.

Shall i change what i've done to remove the new scope and change [ReconcileNetwor

[2020-04-28 15:37] detiber commented on #1475
/lifecycle frozen

[2020-04-28 17:21] bagnaram commented on #1698
It might make sense for this to be part of CAP and not provider-specific. An optional etcd volume is beneficial for each of the cloud-providers and will require hooks in the build-process in order to set up the mounts/fstab entries automatically. The implementation of the volumes can remain platform specific, since the controller will be provisioning the EBS volume based on the AWS specific parame

[2020-04-28 18:58] detiber commented on #1503
/lifecycle frozen

[2020-04-28 19:03] detiber commented on #1335
/lifecycle frozen

[2020-04-28 20:55] ashoksekar07 opened #1703 "Stopping a bastion instance from the AWS console results in CAPA creating a second bastion instance"
/kind bug

**What steps did you take and what happened:**
Create a cluster using CAPA. Go to AWS console and stop the bastion instance.

**What did you expect to happen:**
CAPA should reconcile this bastion instance and start it again. Or create a new one and delete the existing instance.

But CAPA left the old instance as such and created a new instance which I don't think is the ideal behavior.

[2020-04-28 20:56] ashoksekar07 opened #1704 "Stopping a bastion instance leads to CAPA creating a second bastion instance"
/kind bug

**What steps did you take and what happened:**
Create a cluster using CAPA. Go to AWS console and stop the bastion instance.

**What did you expect to happen:**
CAPA should reconcile this bastion instance and start it again. Or create a new one and delete the existing instance.

But CAPA left the old instance as such and created a new instance which I don't think is the ideal behavior.

[2020-04-29 11:32] randomvariable commented on #1704
Dupe of #1703

[2020-04-29 11:32] #1704 closed

[2020-04-29 18:58] vincepri opened #1705 "Reconcile ELB attached machines when a Machine is being deleted"
**Describe the solution you'd like**
The `AWSMachine` controller [already watches](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/controllers/awsmachine_controller.go#L185-L188) for notifications coming from Cluster API `Machine` objects.

This provider has an ELB that is reconciled [during normal operations](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob

[2020-04-30 16:28] bagnaram commented on #1698
I am testing the possibility of intercepting the userData creation by the AwsMachine controller. Because the default userData is stored in the KubeAdmConfig secret and is fetched by the `machine.spec.bootstrap.dataSecretName`, I think it would be possible to append given the case of using a customized etcd volume, but we would need to be prepended before kubeadm is called.

[2020-04-30 19:28] detiber commented on #1137
/lifecycle frozen

[2020-04-30 23:41] bagnaram commented on #1441
I like the idea of a ConfigMap because it enables the addition of custom regions having their own AMI. I am thinking along the lines of GovCloud, c2s, custom regions.

[2020-05-01 13:33] detiber commented on #1441
Should we also consider the idea of having a default lookup pattern and provide orgID and pattern overrides similar to what we are doing with Machines?

[2020-05-01 13:38] ncdc commented on #1441
Would we want to do both, or just one of these options?

[2020-05-01 13:44] detiber commented on #1441
I think all three options have value for different use cases:
- AMI ID for quick and dirty, don't really care about multiple regions
- OrganizationID for when using a pre-validated copy of the default ubuntu/al2/whatever image we use by default (not sure off the top of my head) but don't want to worry about having to deal with Regions
- OrgainizationID/pattern for when building org-specific images

[2020-05-01 15:26] bagnaram commented on #1698
Linked: https://github.com/kubernetes/kubeadm/issues/2127
Workaround is to manually remove `lost+found` inside `preKubeadmCommands`

[2020-05-01 18:22] vincepri commented on #1703
/milestone v0.5.4

[2020-05-01 18:22] vincepri commented on #1703
/priority important-soon

[2020-05-01 18:22] vincepri commented on #1703
/help

[2020-05-01 18:22] vincepri commented on #1701
/milestone v0.5.4

/lifecycle active
for @gab-satchi

[2020-05-01 18:22] vincepri commented on #1701
/priority important-soon

[2020-05-01 18:23] vincepri commented on #1698
/priority important-longterm
/milestone v0.5.x

[2020-05-01 18:24] CecileRobertMichon commented on #1698
https://github.com/kubernetes-sigs/cluster-api/issues/2994

[2020-05-01 18:47] vincepri commented on #1700
Interesting, I have also used this workflow before but it worked properly 🤔

@katiekeel was your controller running outside of a container? I'm not sure if this problem is actually OS-related, or more of a networking configuration

[2020-05-02 14:16] fabriziopandini commented on #1705
/assign

@vincepri @detiber it seems that in order to get this fixed a new IAM permission is required

controller-runtime/controller "msg"="Reconciler error" "error"="failed to reconcile LB attachment: AccessDenied: User: arn:aws:iam::xxxx:user/bootstrapper.cluster-api-provider-aws.sigs.k8s.io is not authorized to perform: elasticloadbalancing:DeregisterInstancesFromLoadBalancer on resource: arn:a

[2020-05-04 12:26] fabriziopandini commented on #1705
Ohh... it seems this is already there
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/04921198635ba0881299da26dd28789cd36bc080/pkg/cloud/services/cloudformation/bootstrap.go#L336
Might be my cloud formation is old. re-creating

[2020-05-04 15:24] vincepri commented on #1700
/priority awaiting-more-evidence
/milestone Next

[2020-05-04 16:44] fabriziopandini commented on #1705
The grant is there but the bind to resources not 😞

[2020-05-04 17:23] benmoss commented on #1689
Closing in favor of #1705

[2020-05-04 17:23] #1689 closed

[2020-05-04 17:30] vincepri commented on #1696
If I understood this correctly, the fix should be to allow to have unmanaged scenarios to have no public subnets at all.

We should basically ignore and not return an error on line 79, unless I missed something?

[2020-05-04 17:48] rudoi commented on #1534
/cc

[2020-05-04 18:44] rudoi opened #1711 "AWSMachineTemplate mutable fields have no path to being reconciled when modified"
/kind bug

The AWSMachine object has a handful of mutable fields: `additionalTags`, `additionalSecurityGroups`.

The general guidance for deploying CAPI infrastructure is to use MachineDeployments for worker nodes. This makes sense, but in doing so access to these mutable fields is lost. This is for a few reasons:

1. AWSMachineTemplate objects are fully immutable
2. The MachineDeployment controll

[2020-05-04 19:54] detiber commented on #1711
I'm wondering if we can simplify the implementation required for this a bit (and gain KCP support) by adding a field or annotation to the resources created from the template that is set during cloning to indicate what template it was cloned from. That way mapping a template to an instantiated resource can be done directly instead of trying to introspect through types.

If this field/annotation is

[2020-05-04 20:44] rudoi commented on #1711
I'm torn because with annotations you don't necessarily have to worry about the unstructured external reconciliation, but it may be hard to pack that metadata with like name, namespace, kind, etc.

With a field, even if optional it implies some kind of contract where minimally each provider would need to update their type to have a predictable field name somewhere in the Spec.

On the other hand,

[2020-05-04 20:59] #1222 closed

[2020-05-05 11:31] richardcase commented on #1534
Work is progressing on this:

[code]

 A couple of questions:

1. A reference to a infrastructure cluster is required. Should i create **AWSManagedCluster** or update **AWSCluster** to have a **IsManaged** property?
2. Can the new controllers run under the existing manager or does it have to be a new 'control plane manager' under `controlplane/eks`? I've started with the later as it was agreed abo

[2020-05-05 14:58] katiekeel commented on #1700
@vincepri Nope, unless I'm misunderstanding your question, the logs I posted for `capi-controller-manager` were indeed in the normal container that Cluster API spins up.

[2020-05-05 15:24] vincepri commented on #1700
Got it, thanks for the confirmation — in that case if everything was running in a container, I'd double check the network configuration on the host machine.

[2020-05-05 16:29] scottdhowell3 opened #1712 "HA cluster will not join second control-plane node when aws-encryption-provider is running"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2020-05-05 16:33] sethp-nr commented on #1711
I think we could simplify a lot if we could get away with adding a field to Machine. Something like "templatedFrom," and then tweak the MachineSet & KCP controllers to reconcile that field (though we'd have to either make an assumption in the KCP, or wait to do it on the next create). Either way, it's a more "invasive" change from CAPI's perspective.

The AWSMachine controller would still have to

[2020-05-05 17:51] randomvariable commented on #1712
Bit hard to tell here. If we can get the logs from the following, would help find out what's going on:

* Logs from the Cluster API AWS controller
* Logs from the kubeadmcontrolplane controller
* Logs from the kubeadm bootstrap controller

If you can SSH to the failed 2nd and 3rd control plane instances, then the contents of `/var/log/cloud-init-output.log` would be helpful.

Also, can you verify

[2020-05-05 18:31] scottdhowell3 commented on #1712
Bit hard to tell here. If we can get the logs from the following, would help find out what's going on:

Logs from the Cluster API AWS controller
`I0505 18:23:02.243060       1 awsmachine_controller.go:102] controllers/AWSMachine "msg"="Machine Controller has not yet set OwnerRef" "awsMachine"="showell-control-plane-grr95" "namespace"="showell"
I0505 18:23:02.277100       1 awsmachine_controller.go

[2020-05-05 19:16] msawka commented on #1712
Here are the cloud-init-output.log files from a server that works, and a server that doesn't.

[works.txt](https://github.com/kubernetes-sigs/cluster-api-provider-aws/files/4583126/works.txt)
[broken.txt](https://github.com/kubernetes-sigs/cluster-api-provider-aws/files/4583128/broken.txt)

We have a static pod defined (/etc/kubernetes/manifests/aws-encryption-provider.yaml) to start the encryptio

[2020-05-06 16:20] randomvariable commented on #1696
That sounds correct.

[2020-05-06 16:26] vincepri commented on #1696
/milestone v0.5.x

[2020-05-06 17:21] bagnaram commented on #1703
/assign

[2020-05-06 19:30] ncdc commented on #1699
A few comments:

- If you want to default a boolean to true, it needs to be a `*bool` so you can distinguish between unset and false. We may want to examine each boolean field and decide about positive vs. negative language (e.g. enable vs disable).

- I see you have NameSuffix - any use for NamePrefix?

[2020-05-06 19:46] voor opened #1715 "Allow Specifying Internal Subnets for Control Plane"
/kind feature

As a `controlPlaneLoadBalancer` with a `scheme` set to `internal` I would like to be able to specify which subnets that load balancer goes into, because there are security controls expecting it to go into certain subnets.

**Describe the solution you'd like**
Related to https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1714 it's currently just looping through the inte

[2020-05-06 21:31] gab-satchi commented on #1701
- [x] Gap analysis - [gdoc](https://docs.google.com/spreadsheets/d/1PD6qFljm0G46h4OQKIii2plQEUhBJ9xfm40l6T7Uixw/edit#gid=0)
- [x] Port CAPA e2e tests over to new e2e flow (1 to start)- PR #1716
- [ ]  CAPA CI script and CI config
- [ ]  test-infra prow job for new e2e tests
- [ ]  Move all e2e tests to use new framework
- [ ]  Remove old CAPA e2e package
- [ ]  Switch prow to use new job as main e

[2020-05-07 02:14] vincepri commented on #1703
This has been fixed on master, should be good to close

[2020-05-07 03:31] #1705 closed

[2020-05-07 10:48] alexander-demichev commented on #1693
/assign

[2020-05-07 13:28] bagnaram commented on #1703
I was looking through master, and I saw a TODO section https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/pkg/cloud/services/ec2/bastion.go#L79

I was thinking of adding the ability to rectify between the status and the instance, in regards to powering it up and so on.

[2020-05-07 14:13] vincepri commented on #1703
@bagnaram The fix I mentioned is in https://github.com/kubernetes-sigs/cluster-api-provider-aws/commit/ce642e8a40a67d43810972b8fbe7a4a2223773c6

[2020-05-07 14:23] bagnaram commented on #1703
I assumed it would power back based on the contents of this issue. Anyhow, the filter is addressed in that patch

[2020-05-07 14:35] richardcase commented on #1643
I've been looking at the subnet logic as part of #1534 as EKS requires at least 2 subnets in different AZs.

The logic i have used  is slightly different to whats described above in that it splits the VPC CIDR into equal parts. And to make the implementation easier the number of parts is a power of 2.

[2020-05-07 14:56] richardcase commented on #1643
I played around with the function i used and the 6 AZs and i output:

[code]
(there will be some unused addresses due to the power of 2 logic)

[2020-05-07 14:58] bagnaram commented on #1696
The bastion also expects public/private subnets to be available and we may see scenarios of VPC pairing in disconnected environments and it gets more tricky in this case.

[2020-05-07 15:12] vincepri commented on #1703
Going to close this for now given that it has been fixed.

@ashoksekar07 can you re-evaluate using the master image?

/close

[2020-05-07 15:13] #1703 closed

[2020-05-07 15:15] richardcase commented on #1323
I have run up against this as part of #1534 (EKS control plane) as i made changes to the default subnets (see #1643).

[2020-05-07 15:35] richardcase commented on #1534
A new subnet stratety has been implemented, along with nat gateway/eip logic. We should probably rationalise this with the current provider (see #1643 and #1323) to avoid too much divergence.
Work has also started on the actual EKSControlPlane.

[2020-05-07 16:19] richardcase commented on #1484
Also relates to #1643 and #1323

[2020-05-07 16:28] randomvariable commented on #1484
@richardcase Would be useful to get the requirements for EKS down. I would have thought we can make EKS work with the existing topology.

[2020-05-07 16:38] richardcase commented on #1484
@randomvariable  - i'll start documenting the requirments. The current default topology doesn't work as the 2 subnets it creates (1 public & 1 private) are in a single az and EKS requires subnets in at least 2 azs.

[2020-05-07 16:41] richardcase commented on #1484
https://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html

[2020-05-07 19:41] moensch commented on #1484
I've been asked to document our specific topology in here (ref: https://kubernetes.slack.com/archives/CD6U2V71N/p1588804729193200)

Our starting point in the account is that a Direct Connect Gateway (DXG) exists. What we would need CAPA be able to do is:

1. Accept DXG ID as input (probably as part of the `AWSCluster NetworkSpec`?)
2. Ability to create a Virtual Private Gateway/VPN Gateway/VGW (it

[2020-05-07 21:43] voor opened #1718 "AWS NLB linger after they're orphaned"
/kind bug

**What steps did you take and what happened:**
Workload clusters are able to create Network Load Balancers instead of Classic ELBs, you just add an annotation `service.beta.kubernetes.io/aws-load-balancer-type: nlb` ([read more](https://kubernetes.io/docs/concepts/services-networking/service/#aws-nlb-support)), we need to identify those Load Balancers by tag and delete them as well when

[2020-05-07 22:33] vincepri commented on #1718
/milestone v0.5.x
/help

[2020-05-11 05:15] moensch opened #1719 "Document that AWSCluster spec.controlPlaneEndpoint is controller managed"
/kind bug

**What steps did you take and what happened:**
We have a need to create ALIAS records for the control plane endpoint and hence need that hostname to be part of the dnsAltNames in the control plane certificate.

I noticed that when I set `spec.controlPlaneEndpoint` in the `AWSCluster` the right thing happens for the cert - this endpoint name is included in the altNames as expected.

Howe

[2020-05-11 15:29] #1678 closed

[2020-05-11 15:57] sethp-nr commented on #1696
I don't believe we spin up a bastion in an unmanaged VPC – the idea is that telling CAPA which VPC to use means you're comfortable with the tradeoffs of setting up and managing a VPC yourself.

[2020-05-11 17:43] evalsocket commented on #1429
@detiber  Can this be assigned to me?

[2020-05-11 17:55] ncdc commented on #1429
/assign @evalsocket

[2020-05-12 10:57] richardcase commented on #1643
/assign

[2020-05-12 23:30] sethp-nr commented on #1534
Hi @richardcase – @dthorsen & myself are taking some time over the next couple of weeks to focus on EKS. I'm curious if you think this work's in a place where we could help with it?

[2020-05-13 15:10] richardcase commented on #1534
@sethp-nr - its not quite in a place where collaboration would be easy. I paused work on it these last 2 days whilst i made a change to the default subnetting strategy (something i originally added for this). I also realised that some of the changes i have made are not needed so i need to undo those as there is a better way to handle it. I'll make those changes and let you know.

[2020-05-13 16:00] sethp-nr commented on #1534
Cool, no rush here – I'll plan to review #1721 when it's ready, and otherwise let me know if there's anything you think we can do on the CAPA side.

One thing we stumbled into coming from the other direction (looking to join CAPA Machines to an existing EKS cluster) was that since nobody ran `kubeadm init`, we were missing a few key resources to make that go. Is that something you're already looki

[2020-05-13 16:05] richardcase commented on #1534
I hadn't got to the machines part yet, so thats interesting. It will be interesting how we handle an unmanaged nodes, managed nodes and also supporting fargate.

[2020-05-13 17:44] ncdc commented on #1711
For my clarification, are you proposing that CAPA would see that an AWSMachine came from an AWSMachineTemplate, and then it would keep certain things from the template reconciled for each ec2 instance (tags, security groups)?

[2020-05-13 20:25] CecileRobertMichon opened #1722 "Implement AWSMachinePools using ASG"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Implement AWSMachinePool using [Auto Scaling Group](https://docs.aws.amazon.com/autoscaling/ec2/userguide/AutoScalingGroup.html). The AWSMachinePool implementation should follow the same package / group structure as CAPI and be added to the `exp` package, the experimental feature pack

[2020-05-14 01:10] moensch opened #1723 "segfault when using additionalSecurityGroups with filters"
/kind bug

**What steps did you take and what happened:**
I am modifying an existing `AWSMachine` and am adding this block here:
[code]

This works and attaches this SG to the machine as expected.

If I however provide this block here, I get a segfault:
[code]

**What did you expect to happen:**
Security group matching the selected filter to get attached to the instance.

**Anything else you would

[2020-05-14 01:42] moensch commented on #1723
On second glance I realize that this isn't actually implemented yet. Is this already roadmapped? And if not, I assume that's a reasonably small-ish PR to contribute? Unless there's a larger architectural discussion occurring around reconciling those filters?

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/11b362088b382165b03b208857e9d6a757f68bbd/controllers/awsmachine_security_gr

[2020-05-14 10:55] randomvariable commented on #1723
Good point. I think it's worth adding given we've allowed in the API.

I'll need to look back over the history, but I believe we added the filter option for the AMI lookup use case to AWSResourceReference, but didn't follow to implement in the other places that consumed it.

Do you want to go ahead and PR that?

[2020-05-14 20:54] #1417 closed

[2020-05-15 06:21] moensch commented on #1723
I started on a PR but am mildly concerned about downstream effects and other things in that are that aren't yet implemented:

* Security groups are always only added, not removed - would that be included in this fix too?
* The groups returned by a filter can change over time, but `AWSMachine` objects aren't reconciled on a regular interval

[2020-05-15 14:25] randomvariable opened #1725 "Allow clusters to be created when named starting sg-"
/kind bug

**What steps did you take and what happened:**
Create a cluster with the prefix `sg-`

The controller will fail with the following error:
[code]

**What did you expect to happen:**
The cluster gets created.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
The restriction is listed in API docs at https://docs.aws.amazon.com/AWSE

[2020-05-15 19:15] bagnaram commented on #1700
@katiekeel  I am curious if there are any unsupported configurations in your `/etc/resov.conf` that would cause the go resolver to tailspin? Based on the response of `10.167.0.1:53` being the AWS DNS provided by the subnet is this the command that worked for you?
`dig capi-quickstart-apiserver-1524711131.us-east-1.elb.amazonaws.com @10.167.0.1`

[2020-05-15 20:15] bagnaram commented on #1718
It is probably safe to assume that we will need an additional elbv2 service to handle the cleanup of the NLB resources

[2020-05-15 21:17] sethp-nr commented on #1711
Yeah, it already knows how to reconcile tags + security groups from the AWSMachine to the ec2 instance. What we're imagining doing is giving a path to reconcile from the template down to the AWSMachine so that those fields would be managed at the template level instead of on a machine-by-machine basis.

[2020-05-16 22:10] andrewmyhre commented on #1659
In our case we can't tag subnets, so we'd prefer to be able to specify the subnets to be used in the `AWSCluster.Spec.NetworkSpec.Subnets` and have the subnets reconciliation phase filter to just those specified. Like this: https://github.com/andrewmyhre/cluster-api-provider-aws/commit/e23bd3873d765d280fefbd84d1c3aa209c524469

[2020-05-18 11:41] randomvariable commented on #1718
The issue is that you essentially need to drain the workload cluster of services, so that the cloud provider tears down the NLBs. It's not specifically a CAPA problem IMHO.

[2020-05-18 15:05] bagnaram commented on #1715
I believe in unmanaged mode you can specify the subnets intentionally in the `awscluster.spec.networkSpec.subnets`

[2020-05-18 15:35] detiber commented on #1718
@randomvariable that is a good point, we could remove the current ELB Classic cleanup we do in favor of moving the core functionality into core cluster api, where we could delete all Services w/ Type=LoadBalancer prior to deletion of a given Cluster. That would then cover any similar issues that would arise with other infrastructure providers as well.

[2020-05-18 15:39] randomvariable commented on #1718
That could be good. Did suggest to @nckturner, @justinsb, @andrewsykim  that we could use the test framework to set up CI for the cloud provider repo. Having CAPI take care of auto-deleting service type="load balancers" would be a neat trick.

[2020-05-18 16:25] #1644 closed

[2020-05-18 17:26] detiber commented on #1725
/priority important-longterm

[2020-05-18 17:27] sethp-nr commented on #1725
I have no objection to changing the name going forward, but I do wonder what we should do with existing clusters?

[2020-05-18 17:29] randomvariable commented on #1725
If existing clusters had their names reconciled, would this be an issue?

If so, we could special case only the `sg-` name.

[2020-05-18 17:29] detiber commented on #1722
/priority important-longterm

[2020-05-18 17:29] detiber commented on #1722
/help

[2020-05-18 17:31] detiber commented on #1719
/assign @randomvariable

[2020-05-18 17:33] detiber commented on #1715
/priority important-longterm

[2020-05-18 17:36] detiber commented on #1711
/priority important-soon

[2020-05-18 17:45] detiber commented on #1725
+1 to special casing `sg-`, since any clusters that would exist with that prefix would be failed clusters that would now finish provisioning with the update and existing functional clusters wouldn't be affected.

[2020-05-18 17:49] voor commented on #1715
@bagnaram That might fit the use case -- are you saying that if you specify the VPC ID you can specify a subset of subnets to use?  @scottslowe made it seem like if you specify a VPC ID it'll ignore the subnets and populate it automatically.

[2020-05-18 17:55] sethp-nr commented on #1725
As far as I know, it's not possible to change the name of a security group. The reconcile would have to be something like "create new, assign to all the right places, drop old" – which could run into trouble around limits, multiple ENIs, etc.

Special-casing seems like the way to go, IMO.

[2020-05-18 17:57] sethp-nr opened #1727 "[RFE] Multi-AZ MachineDeployment"
/kind feature

**Describe the solution you'd like**

As a user, I would like a way to opt-in to some kind of automatic AZ allocation strategy for my Machines so I can avoid managing them 1:1 per AZ.

**Anything else you would like to add:**

As discussed in the CAPA meeting today, there are quite a few wrinkles here around latency, EBS volumes, etc. It would be nice to run this as an "experiment"

[2020-05-18 18:08] scottslowe commented on #1715
@voor @bagnaram It is my understanding (based on conversations I had while creating the content for #1560) that a) the list of subnets isn't required when operating in unmanaged mode, *and* b) you can't "constrain" CAPA to use only a subset of the subnets by providing the list (it will use all discovered subnets regardless of what you provide).

[2020-05-19 09:13] randomvariable commented on #1718
We forgot to discuss this in yesterday's meeting. I'll file an issue to Cluster API and add it to the agenda.

[2020-05-19 16:59] detiber commented on #1723
In general, I don't believe we ever actually intended for a filter to be used for lookup for matching security groups, subnets, vpcs, or most other AWS resources. We started with overly broad definitions for referencing AWS resources and re-used that type in too many places.

Longer term we want to re-scope the types better, but it would also be a breaking API change that would have to wait until

[2020-05-19 17:47] andrewmyhre opened #1728 "SSH key name is not correctly set in some cases"
/kind bug

**What steps did you take and what happened:**
Follow up to #1621
When an AWSCluster has an `SSHKeyName: ""` and an AWSMachine has an `SSHKeyName: nil`, the launched instances are given a `KeyName=""`.

**What did you expect to happen:**

In this case the instance KeyName should not be specified, because the AWSMachine value is nil, which we should take to mean defer to the AWSCluster s

[2020-05-21 11:48] randomvariable commented on #1719
Thanks for the Slack reminder @moensch , oops.

Two things here:
You can potentially add the aliased record to the certificate SANs with something like:

[code]

This wouldn't require any changes to Cluster API, but would add the alias to the SANs on the certificate.

[2020-05-21 12:35] randomvariable commented on #1484
/assign

[2020-05-21 12:35] randomvariable commented on #1484
/assign @voor

[2020-05-21 12:37] randomvariable commented on #1484
/lifecycle active

Will be sharing a Google Doc with initial ideas in a little while. Will definitely be towards v1alpha4 though.

[2020-05-21 13:05] alexander-demichev commented on #1668
/assign

[2020-05-21 15:02] randomvariable commented on #1727
Will include as use case in #1484

[2020-05-22 15:31] randomvariable commented on #539
/lifecycle frozen

There's been some API improvements around supporting ClientTokens in the EC2 API, so will look at some easy wins.

Going to
/assign

but if anyone else wants to pick this up, please say so until I actually mark it as actively being worked upon.

[2020-05-24 18:36] seh commented on #1657
@detiber, is there an issue tracking this potential move to using an NLB?

[2020-05-25 20:53] gab-satchi commented on #1722
/assign

[2020-05-26 15:51] detiber commented on #1506
/lifecycle frozen

[2020-05-26 15:52] detiber commented on #1556
/remove-lifecycle stale

[2020-05-26 15:54] detiber commented on #1657
@seh https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1484 is probably the closest issue we have for supporting NLBs

[2020-05-26 15:55] detiber commented on #1435
/remove-lifecycle stale

[2020-05-26 15:59] #1693 closed

[2020-05-27 21:24] scottslowe commented on #1619
What additional testing/test cases would be useful to help move this issue along? I'm happy to run some additional tests.

[2020-05-28 20:20] moensch opened #1736 "Unable to delete machine when ELB is not present (v2)"
/kind bug

This is the same issue as previously closed https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/899

**What steps did you take and what happened:**
I deleted my resources (`Cluster`, `AWSCluster`, `KCP`, ...) and the controller restarted right after this log line:

[code]

On restart, it attempted to reconcile the `AWSMachine` delete for the control plane nodes but that n

[2020-05-28 20:29] detiber commented on #1736
/priority important-soon
/help
/milestone v0.5.x

[2020-05-29 14:55] detro opened #1738 "Allow `AwsMachineTemplateSpec` to update tags"
/kind feature

**Describe the solution you'd like**
Today, if we make changes to `AwsMachineTemplateSpec` of any kind, we get back the error:
[code]

This is the current (desired?) implementation: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/9d05351c4fd97c627a854d6b64f55557f689a030/api/v1alpha3/awsmachinetemplate_webhook.go#L60

While I feel this makes perfect sense (it's a "ph

[2020-05-29 15:14] detiber commented on #1738
@detro there is an existing issue where others are working on just this: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1711

Closing this issue and let's continue the discussion on #1711
/close

[2020-05-29 15:14] #1738 closed

[2020-05-29 15:16] detro commented on #1738
Ah, thank you and sorry: I missed it.
Yep, that is precisely the issue. Will follow #1711

[2020-05-29 21:27] gab-satchi opened #1739 "Add conditions to AWSMachine"
**Describe the solution you'd like**
As a developer, I would like to see Conditions on an AWSMachine expressing the current state so that I could use that info for higher level objects (AWSCluster).

**Anything else you would like to add:**
AWSMachine controller does the following at the infrastructure level:
- Create EC2 instance (with encrypted user data)
- Attach (control plane) instance to ELB

[2020-06-01 16:44] randomvariable commented on #1552
/lifecycle active

[2020-06-01 17:18] detiber commented on #1723
/priority important-soon
/milestone v0.5.x

[2020-06-01 17:19] detiber commented on #1728
/milestone v0.5.x
/priority important-soon

[2020-06-01 17:20] detiber commented on #1739
/priority important-soon
/milestone v0.5.x

[2020-06-01 20:12] gab-satchi commented on #1739
/assign

[2020-06-05 19:47] gab-satchi opened #1742 "Add conditions to AWSCluster"
**Describe the solution you'd like**
As an operator, I would like to see Conditions on AWSClusters summarizing the state of cluster infrastructure so that I could see at a glance the provisioning and operating state of an AWS cluster.

**Anything else you would like to add:**
During the provisioning of an AWS cluster, the following is reconciled:
- Network infrastructure
- Bastion host (optional)

[2020-06-09 14:56] detiber commented on #1632
/lifecycle frozen

[2020-06-10 16:10] ncdc opened #1744 "Ability to customize CNI ports"
/kind feature

**Describe the solution you'd like**
While #392 requests the ability to customize security group rules, the solution for that will require rethinking how we declaratively manage multiple aspects of networking (VPC, security groups, etc). We'd like to tackle that as part of a new v1alpha4 API version.

In the meantime, it would be nice to modify v1alpha3 to allow the user to customiz

[2020-06-10 19:38] antoninbas opened #1745 "Ability to run conformance tests with different CNI"
/kind feature

**Describe the solution you'd like**
I would like the ability to run conformance tests with CAPA using a different CNI provider than Calico. This would enable defining additional [K8s CI jobs](https://github.com/kubernetes/test-infra/tree/master/config/jobs/kubernetes-sigs/cluster-api-provider-aws) using different CNIs.

[scripts/ci-e2e-conformance.sh](https://github.com/kubernetes-

[2020-06-11 13:10] richardcase opened #1746 "Validate AWS tags"
/kind feature

**Describe the solution you'd like**
When we create resources in AWS we add a number of Tags to the resources. There are certain restrictions on the tags, such as a maximum of 256 characters for a tag value.

There are variouus places in the code where we create these tags, for example:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/d4ade5922e04a2327f4043effd162521

[2020-06-11 15:59] ncdc commented on #1473
/remove-lifecycle frozen
/milestone v0.5.x

[2020-06-11 17:27] ncdc commented on #1473
Let's add a field to AWSCluster.Spec.Bastion to make the CIDR blocks configurable. We presumably need to keep the default behavior, where unspecified means 0.0.0.0/0. If we add

[code]

I _think_ that we can distinguish between `nil` (use 0.0.0.0/0) and `[]` (don't add any ingress rules). Does that work for everyone?

@vincepri @detiber @randomvariable @rudoi

[2020-06-11 17:31] vincepri commented on #1473
Do we need to have `[]string` become `*[]string`?

[2020-06-11 17:31] aaroniscode commented on #1473
I also free up next week and can work on it then.

[2020-06-11 17:33] randomvariable commented on #1473
makes sense, modulo `[]string` vs `*[]string`

[2020-06-11 17:41] vincepri commented on #1473
If we remove the `omitempty` part, we might be able to use `[]string` and defaulting webhook which (on create) can check if the field is nil or not and default it to `[]string{0.0.0.0/0}`. This way, in the reconciler code we can treat `len(0)` and `nil` slices the same (no rules).

[2020-06-11 17:42] ncdc commented on #1473
I tested `[]string` and it works as I want with `omitempty` and distinguishing `nil` vs `len(x) == 0`

[2020-06-11 17:43] ncdc commented on #1473
Do we instead want to say that `nil` and `[]` are identical?

[2020-06-11 17:48] vincepri commented on #1473
Not sure, the intent might be to set the slice to an empty block to avoid any ssh allow rule

[2020-06-11 18:45] detiber commented on #1236
/lifecycle frozen

[2020-06-11 19:16] randomvariable commented on #1473
This one, for sure. Shall we try `CIDRBlocks []string `json:"cidrBlocks,omitempty"`` and back out if necessary. It won't be a massive change in the PR if it turns out not to be right.

[2020-06-11 19:21] ncdc commented on #1473
[code]

Yields:

[code]

To fully test this, we'd need to go through the apiserver and see if it changes the behavior any.

[2020-06-11 19:34] vincepri commented on #1473
That works out if using `kubectl`. What about external controllers? If we have `omitempty` the field in question will be always taken out of json serialization.

[2020-06-11 19:58] ncdc commented on #1473
Right, so it works on the way in, but not on the way out - when you `json.Marshal()` the `AWSCluster`, there's no way to distinguish between `nil` and `[]`. 😦

If we get rid of `omitempty`, we can distinguish - it's either marshaled as `null` or `[]` but it's always present.

[2020-06-11 19:59] ncdc commented on #1473
Alternatively, we could add some `bool` field to indicate we don't want it, and use that instead of trying to distinguish between unspecified and an empty array.

[2020-06-12 07:56] richardcase commented on #1696
I have tested this by removing the public subnet check in #1721 and specifying subnets that are private (i.e. they don't have a route to a IGW).

It breaks on ELB creation as the default is to have an internet facing elb:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/pkg/cloud/services/elb/loadbalancer.go#L57

We can specify the internal scheme by using: https://github.co

[2020-06-12 11:59] richardcase commented on #1746
/help

[2020-06-12 18:28] sethp-nr commented on #1696
IMO it's perfectly fine to throw an Event saying "couldn't find public subnets for ELB" if that's what was asked for – even if it was asked implicitly by way of a default. We could consider changing the error message to say "here's the load balancer scheme field you might want to look at"?  Changing the default based on the availability of public subnets works well too, though it provides slightly

[2020-06-15 17:19] randomvariable commented on #1719
@moensch I think we're good on this after our discussion on Slack, right?

[2020-06-15 17:20] detiber commented on #1727
/milestone v0.5.x

[2020-06-15 17:21] detiber commented on #1742
/priority important-soon
/milestone v0.5.x

[2020-06-15 17:23] detiber commented on #1745
/priority important-longterm

[2020-06-15 17:23] rudoi commented on #1745
Possibly related to https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1588.

[2020-06-15 17:24] detiber commented on #1745
/milestone Next

[2020-06-15 17:27] rudoi commented on #1746
/assign

Will add context here such that this could be good-first-issue.

[2020-06-15 17:27] detiber commented on #1746
/milestone v0.5.x
/priority important-longterm

[2020-06-15 19:12] gab-satchi commented on #1725
/assign

[2020-06-16 16:08] ncdc opened #1748 "Support bastion with unmanaged (bring your own) VPC"
/kind feature

**Describe the solution you'd like**
If you are using an unmanaged (bring your own) VPC, we do not create or reconcile a bastion host, but we do reconcile the security group for the bastion. We recently added the ability to enable/disable the bastion host. It would be nice if we could create a bastion host if it's enabled in the spec, regardless of managed or unmanaged VPC.

**Anyth

[2020-06-16 16:14] ncdc commented on #1748
/help

[2020-06-16 23:16] #1643 closed

[2020-06-17 11:53] randomvariable commented on #1587
/lifecycle frozen

Will be closed when switched to clusterctl tests.

[2020-06-17 15:05] aaroniscode commented on #1473
/lifecycle active

[2020-06-17 15:10] #1699 closed

[2020-06-17 21:00] #1744 closed

[2020-06-18 14:39] seh commented on #1323
Is there another issue that's holding up progress on this one? @randomvariable alluded to "the topology support issue" in https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1323#issuecomment-549509720. Is that #1484?

[2020-06-18 15:22] detiber commented on #1323
I think the biggest challenge here is around documentation related to the topologies that we wish to support (both through full management and BYO scenarios) as well as how to approach those changes in a way that would limit impact on existing clusters.

I would highly suspect that changes we make around topology support are also likely to have an impact on the API types, and if that is the case m

[2020-06-18 18:21] randomvariable opened #1751 "Single cluster can hit rate limiting by continuously attempting EC2 instance registration against ELB"
/kind bug
/help

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Running e2e tests
See many `SuccessfulAttachControlPlaneELB` events, interspersed with `FailedAttachControlPlaneELB`
[code]

**What did you expect to happen:**
Completes successfully, with no rate limiting

**Anything else you would like to add:**
[Miscellaneous information that wi

[2020-06-18 19:16] randomvariable opened #1752 "Fails to create one of three NAT gateways"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Create a 3 AZ cluster as part of conformance tests, but AWSCluster reports:
[code]

VPC console shows a failed VPC with error "Elastic IP address [eipalloc-0bf842e00beae91a4] is already associated"

CAPA itself doesn't "notice" as it's not checking for Failed states, just that there is a

[2020-06-18 20:40] seh opened #1754 "AWSClusterSpec's "ControlPlaneLoadBalancer" field should be mutable"
/kind bug

**What steps did you take and what happened:**

Create a CAPA cluster using the default settings. Observe that the API servers are fronted by a Classic ELB using the "Internet-facing" scheme, with cross-zone load balancing disabled.

Edit the Kubernetes manifest for the _AWSCluster_ object, adding a "controlPlaneLoadBalancer" field (be it in JSON or YAML), with its "crossZoneLoadBalanci

[2020-06-19 16:36] ncdc commented on #1751
@randomvariable so we need to describe the load balancer first, check the response's list of instances, and only proceed if the new instance is not already in the list?

[2020-06-19 16:46] randomvariable commented on #1751
I think so.

[2020-06-19 17:48] ncdc commented on #1752
Were those 4 NAT gateways all for the same cluster? If so, why did it create 4?

Where specifically do we need to add additional checks?

[2020-06-19 17:55] ncdc commented on #1751
/assign
/lifecycle active

[2020-06-19 17:56] ncdc commented on #1751
/help cancel

[2020-06-19 17:56] randomvariable commented on #1752
I didn't go too deep into it, I saw it in passing when looking at the cluster creation slowdown in e2e.

Looks like it tried to create 3, and the 3rd one failed because it reused one of the other NAT gateway's Elastic IP, and then created a 4th one successfully. Seems to be fairly consistent, at least in eu-west-1.

We should maybe report on failed NAT gateways with an event or log, and it looks l

[2020-06-19 18:20] andrewmyhre opened #1755 "Deleting a cluster in an unmanaged VPC attempts to release elastic IP addresses"
/kind bug

**What steps did you take and what happened:**
1. Provisioned a cluster in an unmanaged VPC
2. Delete the cluster

In my case, because the `ec2:DescribeAddresses` IAM action is blocked, the operator was unable to complete reconciliation due to an `UnauthorizedOperation`.

**What did you expect to happen:**
The cluster would be deleted

**Anything else you would like to add:**
During pro

[2020-06-19 21:11] andrewmyhre commented on #1696
@richardcase let me know if I can help with the work you started to address this

[2020-06-19 21:18] ncdc opened #1757 "Constant attempts to patch AWSCluster to set AvailabilityZoneUsageLimit and AvailabilityZoneSelection to null"
/kind bug

**What steps did you take and what happened:**
1. Create a normal cluster
1. Run `kubectl get awscluster -w`
1. You'll see that it is updated about once a second, but the only things that change are generation and resourceVersion

**What did you expect to happen:**
1. No constant updates

**Anything else you would like to add:**
1. @vincepri and I enabled audit logging and discovered ev

[2020-06-19 21:18] ncdc commented on #1757
FYI @richardcase

[2020-06-20 06:48] richardcase commented on #1757
/assign

[2020-06-21 00:32] evalsocket commented on #1746
@detiber @rudoi Can this assign to me ?

[2020-06-21 00:35] evalsocket commented on #1748
/assign

[2020-06-21 14:42] evalsocket commented on #1696
@sethp-nr  I just created a PR for spin up a bastion in an unmanaged VPC if it's enabled in the spec, regardless of managed or unmanaged VPC.
Check Issue  #1748

[2020-06-22 15:04] #1751 closed

[2020-06-22 15:42] #1748 closed

[2020-06-22 16:07] evalsocket commented on #1668
@detiber can this assign to me ? if no one is working on it ?

[2020-06-22 16:11] detiber commented on #1668
@alexander-demichev Are you still working on this, or can I re-assign to @evalsocket?

[2020-06-22 16:15] evalsocket commented on #1441
/assign

[2020-06-22 16:36] detiber commented on #1746
/assign @evalsocket

@evalsocket I believe you should be able to self-assign issues as long as you've commented on the issue (a comment with just `/assign` on it's own line should be sufficient to meet the requirement and for the bot to do the assignment)

[2020-06-22 16:42] alexander-demichev commented on #1668
feel free to take it

[2020-06-22 16:45] detiber commented on #1668
/assign @evalsocket
/unassign @alexander-demichev
/remove-help
/lifecycle active

[2020-06-22 18:21] ncdc commented on #1664
@randomvariable we can close this with the clusterawsadmv2 work, right?

[2020-06-22 19:23] seh commented on #1754
Related to the update attempts I described earlier, if I attempt to _create_ an _AWSCluster_ object specifying the "spec.controlPlaneLoadBalancer" field with a value of `null` (in YAML), I see the following validation failure:

[2020-06-23 15:15] randomvariable commented on #1392
/lifecycle frozen

[2020-06-23 15:18] randomvariable commented on #1745
Moving conformance to clusterctl via #1760 should help with this as it should allow a template for arbitrary CNIs to be passed in.

[2020-06-23 15:22] randomvariable commented on #1755
This feels related to #1752 in some way.

[2020-06-23 15:27] randomvariable commented on #1441
@evalsocket thanks for taking it! If you don't mind, just ping in here with "/lifecycle active" if you start work on it to block anyone else accidentally stepping on your toes.

[2020-06-23 15:30] randomvariable commented on #1664
Yes! I missed some of the issues in the mop up, thanks!
/close

[2020-06-23 15:30] #1664 closed

[2020-06-23 15:53] randomvariable commented on #1754
Maybe that's coming from something inherent in CRDv1, have seen some odd stuff on vsphere too, but it's a weird error message for sure. Not sure it's the webhook's causing it, but it could be.

To the mutability question then, we can scope this down to relaxing constraint to allow cross-zone AZ support being toggaaalable?

[2020-06-23 16:02] seh commented on #1754
Yes, that would be good.

It would help too, though, if we were more tolerant of going from no mention of this "ControlPlaneLoadBalancer" to the presence of the field with values that match the existing values. In other words, if we were able to compare the submitted value against the current value with defaults taken into account. You can see above that I wasn't even able to submit an updated man

[2020-06-23 17:31] randomvariable opened #1762 "Consume defaulter-gen in API types"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
/cmd/clusterawsadm/api is using defaulter-gen to auto-complete some of the type defaulting.

For neatness, the /api packages should also be using the auto-defaulting generators where possible.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solv

[2020-06-23 17:32] randomvariable commented on #1762
/milestone Next

[2020-06-23 18:07] sethp-nr opened #1764 "CAPA consuming a good portion of AWS API limits"
When we recently shipped a tool that collected monitoring data from the same APIs, we noticed that our monitoring data had lots of holes in it from rate limiting. Via cloudtrail, we saw that CAPA was making ~80% of the API calls during one of these gaps, and ~90% of the calls being made in our account were `DescribeInstances` and `DescribeNetworkInterfaces`.

It looks like the current implementati

[2020-06-23 18:24] randomvariable commented on #1764
Funnily enough, me and @ncdc were having this same discussion 24 hours ago.

[2020-06-23 18:29] detiber commented on #1764
I've also been wondering if it would make sense for us to implement some type of a caching interface, which might work out well with a background process that could aggregate and batch updates for the cache.

We'd still likely need to do some assurances that we aren't inspecting data that is too stale, especially in the case of resync-based reconciliations.

[2020-06-23 18:39] sethp-nr commented on #1764
Yeah, the interaction between the arrival of a watch notification and any cache expiry mechanism is something that'd take a little bit of thought.

Credit to @dthorsen for the idea to batch up the calls internally – even by waiting just a few seconds, we should be able to coalesce a fair number of concurrent calls together.

[2020-06-23 18:58] randomvariable commented on #1764
These initial changes sound good.

I was also thinking of explicitly copying the old Netflix Edda model, continuously reading all resources in batch - esp. for taggable resources, given that we have a known set of tags that identify them as being managed by Cluster API. That, plus EventBridge to reduce the delta between reconciliations.

Another one is to implement the controller runtime rate limi

[2020-06-23 21:21] #1736 closed

[2020-06-24 08:42] moensch commented on #1719
Yes - specifying my custom name in `certSANs` got me what I needed.

I might still submit a small PR with just a comment/doc change on that field in the spec to highlight that it’s controller managed.

[2020-06-24 14:08] ncdc commented on #1757
@richardcase are you still planning to work on this?

[2020-06-24 14:09] ncdc commented on #1757
I have a small fix that works as a band-aid until we can rework this part of the code, if you're busy.

[2020-06-24 15:12] richardcase commented on #1757
Go for it @ncdc. I probably can’t look at it until Friday.

[2020-06-24 15:17] ncdc commented on #1757
Thanks!
/assign
/lifecycle active

[2020-06-24 15:57] detiber commented on #1588
/lifecycle frozen

[2020-06-24 16:15] #1757 closed

[2020-06-24 18:05] jayunit100 opened #1768 "tilt up error around based 64 encodings"
/kind bug

Hi folks, looks like  on my ubuntu box, im getting some kind of awkward base64 encoding error...

[code]

Otherwise, containers seem to come up fine when i run `tilt up`

[code]
I also ran a `cat` of my base64 encoded credentials and they looked correct:

[code]
Copy and pasted manually:

[code]

**What did you expect to happen:**

`tilt-up` would bring up my cluster as long as my AWS B

[2020-06-24 19:07] benmoss commented on #1768
It looks like your tilt-settings.json file had
[code]

when you ran `tilt up`, judging by the output in that first code block.

[2020-06-24 19:16] benmoss commented on #1754
We decided to make many fields immutable when the current implementation wasn't handling subsequent mutations. There was discussion of this in #1673. I think we are amenable to changing these when the controllers become capable of managing updates.

[2020-06-24 19:21] benmoss commented on #1768
Ah and @randomvariable pointed out on slack the `kustomize-substitutions` / `kustomize_substitutions` typo

[2020-06-24 19:22] jayunit100 commented on #1768
Yup !!!!!! @randomvariable   hinted me on this :) thanks.

yup it looks like it thought that field was missing :)

[2020-06-24 19:22] #1768 closed

[2020-06-25 09:15] randomvariable commented on #1588
@jayunit100 After #1760 goes in, you should be able to run

AWS_REGION=${YOUR REGION OF CHOICE} make test-conformance-new E2E_CONF_PATH=${Path to custom Clusterctl e2e conf} KUBETEST_CONF_PATH=${Path to custom kubetest conf}

with the latter defined in https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1760/files#diff-69dbeb2da3531f6ba0edb7b84e892613 and https://github.com/kubernetes

[2020-06-25 09:56] randomvariable commented on #1745
@antoninbas left instructions on how to proceed in https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1588#issuecomment-649412550

Would add the relevant files and a new script in `scripts/ci-`

[2020-06-25 09:57] randomvariable commented on #1588
#1745 has more info but is otherwise a dupe, so going to

/close

[2020-06-25 09:57] #1588 closed

[2020-06-25 10:00] randomvariable commented on #1719
Sounds good.

/assign @moensch

[2020-06-25 10:09] randomvariable commented on #1604
e2e_new replaces these, so will
/close

[2020-06-25 10:09] #1604 closed

[2020-06-25 10:14] randomvariable commented on #1764
Also, high time we did #78

[2020-06-25 10:16] randomvariable commented on #1435
e2e_new tests use the clusterctl framework now.

/close

[2020-06-25 10:16] #1435 closed

[2020-06-25 10:26] randomvariable opened #1769 "Review potential bug in ec2svc.InstanceIfExists()"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Extracting comment by @detiber from #1740 :

I think I found a potential pre-existing bug... It looks like we are swallowing up errors when we attempt to do a lookup for a specific instance ID (ec2svc.InstanceIfExists()), when the AWS api returns a NotFound error. I'm not sure that is th

[2020-06-25 10:43] randomvariable opened #1770 "Add step to download correct version of kubetest for release"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
#1760 ports conformance testing to clusterctl framework.

However, it expects a Kubernetes repository to exist in gopath, from which it will compile kubetest. This works great when used in conjunction with `-kubetest.use-ci-artifacts` and an appropriately checked out Kubernetes release

[2020-06-25 10:57] randomvariable opened #1771 "Remove ancient docker image from Github packages view"
/kind bug
/priority important-soon

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
New Github UI is showing an ancient package:
![image](https://user-images.githubusercontent.com/1441070/85707365-0539f980-b6db-11ea-9c50-7e9c9f71f2fe.png)

**What did you expect to happen:**
Shouldn't be there.

**Anything else you would like to add:**
[Miscellan

[2020-06-25 11:00] randomvariable commented on #1771
@detiber @vincepri was this from a prior experiment? Weirdly, I can edit the description but not remove the version.

[2020-06-25 16:06] detiber commented on #1771
Unless things have changed, there is no way to delete a github package and I'm not currently seeing any way to hide it.

[2020-06-25 16:24] vincepri commented on #1771
I was able to hide the package view from the side list in CAPI, let me see if I can do the same here

[2020-06-25 16:24] vincepri commented on #1771
Done, ptal @randomvariable

[2020-06-25 17:26] randomvariable commented on #1771
It's gone. Thanks @vincepri !

/close

[2020-06-25 17:26] #1771 closed

[2020-06-25 19:32] randomvariable opened #1772 "Add unmanaged bool to AWSIAMConfiguration"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Chatting with @voor , might be useful to add a Unmanaged bool to the Controllers section of AWSIAMConfigurationSpec, which will generate IAM policy docs for use when using unmanaged VPCs.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving t

[2020-06-25 20:17] #1171 closed

[2020-06-26 13:58] ncdc commented on #1439
/reopen
/remove-lifecycle rotten

[2020-06-27 14:47] voor commented on #1137
@r5sec5cyl How are you progressing on this feature?

[2020-06-27 15:34] detiber commented on #1137
Rather than a slice, how about a map using the internal "role" name of the security group as the key. Not sure if we could use security group IDs rather than ARNs, as they might be nicer for users to handle as well.

This would also potentially allow for users to byo only a subset of the security groups and we would know where to apply the appropriate security groups as needed.

[2020-06-28 18:12] voor commented on #1715
Just want to confirm that specifying the VPC ID will overwrite and otherwise ignore whatever is in the subnet section.  If you try to set something as `isPublic` for example, it'll just overwrite it with the actual state of the world.

[2020-06-28 18:41] scottslowe commented on #1715
@voor That is my understanding, yes, although I have not specifically tested the behavior.

[2020-06-29 15:05] ncdc opened #1773 "Bastion not deleted with BYO VPC"
/kind bug

**What steps did you take and what happened:**
1. BYO VPC, enable bastion
1. Verify bastion instance is created
1. Disable bastion or delete cluster
1. Bastion instance is not deleted

**What did you expect to happen:**
1. Bastion instance must be deleted

**Anything else you would like to add:**
#1748 added support for creating the bastion with BYO VPC, but we need to do the same for d

[2020-06-29 15:51] #1773 closed

[2020-06-29 17:05] gab-satchi commented on #1739
The PR for this is ready, just waiting for CAPI release. Can this fit into v0.5.5 release? @detiber

[2020-06-29 17:32] detiber commented on #1752
/milestone v0.5.5
/priority important-soon

[2020-06-29 17:33] detiber commented on #1754
/milestone v0.5.x
/priority important-soon

[2020-06-29 17:35] detiber commented on #1755
/priority important-soon
/milestone v0.5.x

[2020-06-29 17:37] detiber commented on #1764
/priority important-soon
/milestone v0.5.x

[2020-06-29 17:37] detiber commented on #1769
/milestone v0.5.x
/priority important-soon

[2020-06-29 17:38] detiber commented on #1772
/milestone v0.5.x
/priority important-longterm

[2020-06-29 18:49] #1418 closed

[2020-06-30 13:42] voor opened #1776 "Implement subnet filter capability currently in the API for AWSMachineTemplate"
/kind feature

**Describe the solution you'd like**
I need to specify which subnets my [AWSMachineTemplate](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/config/crd/bases/infrastructure.cluster.x-k8s.io_awsmachinetemplates.yaml#L200-L233) can land in.  Currently, that capability is restricted to just the [`.spec.template.spec.subnet.id`](https://github.com/kubernetes-sigs

[2020-06-30 13:46] detiber commented on #1776
/milestone v0.5.x
/priority important-soon

[2020-06-30 13:51] voor commented on #1776
Regarding a comment from slack:

Want to make sure to explicitly state that since `AWSMachineTemplate` is leveraged in `KubeadmControlPlane` this would *resolve* the issue where putting in the subnet ID prevents the Control Plane from being distributed across Availability Zones.

[2020-06-30 13:55] detiber commented on #1776
Ah, good point. It would definitely have to make sure that the combination of the provided filter and the AZ returns a singular result.

[2020-07-01 17:01] rudoi opened #1778 "Support official EKS AMI lookup"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Once EKS support is implemented for worker nodes, we'd like to be able to lookup and consume the official EKS AMIs.

Per docs [here](https://docs.aws.amazon.com/eks/latest/userguide/retrieve-ami-id.html) there is a way to retrieve this using SSM:
[code]

I think it would be reasonable

[2020-07-01 17:51] rudoi commented on #1534
Wanted to add some tracking details, so I will update this comment as things happen:

- [ ] EKS controlplane Support - https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1724

[2020-07-01 18:15] rudoi opened #1779 "EKS bootstrap provider"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

EKS support will require different userdata from that created by the Kubeadm provider. Because of this, we should create a new bootstrap provider.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

EKS bootstrap provider shoul

[2020-07-02 07:48] richardcase opened #1780 "clusterawsadm needs updating for EKS support"
/kind feature

**Describe the solution you'd like**
The `controllers.cluster-api-provider-aws.sigs.k8s.io` will need updating with permissions for EKS.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2020-07-02 07:49] richardcase commented on #1534
And also:

- [ ] EKS support in clusterawsadm-  issue #1780

[2020-07-02 15:16] randomvariable commented on #1780
Would update
[code]

and make it optional in template generation.

[2020-07-02 15:17] aaroniscode commented on #1752
I was seeing this a bunch recently testing a recent PR.  Will reproduce and see if I can trace the root cause.

/assign
/lifecycle active

[2020-07-02 15:18] randomvariable commented on #1609
/close
for lack of update.

[2020-07-02 15:18] #1609 closed

[2020-07-02 15:19] randomvariable commented on #519
/lifecycle frozen

[2020-07-02 15:19] randomvariable commented on #1610
/lifecycle active
/assign

Happening in #1760

[2020-07-02 15:20] randomvariable commented on #1579
/lifecycle frozen

[2020-07-02 17:34] vincepri opened #1782 "Change default branch to "main""
Once the community agrees on the naming, we need to change our default development branch to `main`, and check that any tools or references to it are changed as well.

This includes the container image tag used in development.

/kind cleanup
/wg naming
/milestone Next

[2020-07-02 19:53] detiber commented on #275
Closing, was resolved by https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1721

[2020-07-02 19:53] #275 closed

[2020-07-02 20:08] #1739 closed

[2020-07-06 08:43] richardcase commented on #1534
@rudoi - i've moved the list of items up into the description

[2020-07-06 08:46] richardcase opened #1784 "EKS self managed node group support"
/kind feature

**Describe the solution you'd like**
When creating an EKS cluster i want to provision a "self managed node group"  that uses an EC2 instance for worker nodes. Will need to use the boostrap data from #1779.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes ve

[2020-07-06 08:50] richardcase opened #1785 "EKS managed node groups support"
/kind feature

**Describe the solution you'd like**
When creating a EKS cluster via CAPA i want to be able to use managed node instances. Add support for creating [managed node groups](https://docs.aws.amazon.com/eks/latest/userguide/managed-node-groups.html).

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-a

[2020-07-06 08:53] richardcase opened #1786 "EKS Fargate profiles support"
/kind feature

**Describe the solution you'd like**
When creating a EKS cluster i want the option to be able to use fargate for the workloads. Adding support for [fargate profiles](https://docs.aws.amazon.com/eks/latest/userguide/fargate.html) would be needed.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-a

[2020-07-06 09:42] richardcase opened #1787 "EKS Control Plane Implementation"
/kind feature

**Describe the solution you'd like**
Implement a new EKS control plane to help with the EKS implementation (#1534). This will handle the provisioning and management of a AWS EKS Cluster. Nodegroup support will be added via other issues.

It needs to support the following:
- EKS Cluster Creation
- EKS Cluster update
- EKS version update

**Anything else you would like to add:**
The p

[2020-07-06 15:05] ncdc commented on #1752
@aaroniscode any luck root causing this?

[2020-07-06 15:07] aaroniscode commented on #1752
@ncdc yes, found root cause and root a small AWS CLI script that reproduces. Will update the ticket this morning with my results and a suggested solution.

[2020-07-06 17:22] #1742 closed

[2020-07-06 17:44] aaroniscode commented on #1752
@ncdc @randomvariable  ok, so did some digging here and believe I found the root cause of the issue.

When a NAT gateway is created, we pass the EIP required for creation. Sometimes (maybe often), after a NAT gateway is considered "available", the EIP is not yet associated to the NAT gateway and it can take another 15-30 seconds, I've observed.

So when the code goes to create the 2nd or 3rd NAT g

[2020-07-06 20:24] detiber commented on #1752
Originally we did this and it lead to problems with having orphaned EIPs if we weren't able to attach it after creating it, which led relatively quickly to hitting the EIP default limit on accouunts.

Unfortunately there isn't a way to name the EIPs, which is what led to the use of getOrAllocateAddress originally.

I think there are likely a couple of options to resolve:

1) Add some error handlin

[2020-07-06 20:48] aaroniscode commented on #1752
@detiber Maybe I'm missing something, but I think we wait in `getOrAllocateAddress` to tag the EIP including with a name before we return from the function. And we name all the EIP's exactly the same. If you don't think it's a bad solution, I think I can whip up a quick naming filter for EIP to resolve this issue without refactoring for right now.

[code]

Regarding your Option 1, we do have error

[2020-07-07 02:54] aaroniscode commented on #1752
here's a quick proof-of-concept fix I tested: https://github.com/aaroniscode/cluster-api-provider-aws/commit/6c3d06db4c550f0c79e5630cfaef2e02146fe9d7

In that fix I tagged the EIPs with the subnet-id as well as included it in the name, and used the tag to avoid re-using an EIP intended for a NAT gateway in a different subnet.

[2020-07-07 14:01] aaroniscode commented on #1752
This morning I had an idea for how to refactor the NAT gateway creation call with minimal effort and change to the code. Will investigate.

While the proof of concept fix above works, it’s not very elegant tagging the EIPs with a subnet ID.

[2020-07-07 14:26] randomvariable opened #1792 "Build NAT gateways in parallel"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Combination of #1752 and lack of parallel NAT gateway creation increases the cluster creation time significantly, failing e2e tests.  #1789 works around this, but we should be testing multi-AZ anyway.

Having NAT gateways build in parallel or otherwise having the controller return and re

[2020-07-07 14:28] randomvariable commented on #1752
Depending on what you're doing for the refactoring, created a separate issue (#1792) for parallel NAT gateway creation so it doesn't necessarily have to be solved right now unless it also solves the current problem.

[2020-07-07 14:30] detiber commented on #1792
I don't necessarily know if building them in parallel is what we need, or refactoring to create all needed NAT Gateways, Subnets, and other resources that we need multiple of during the course of reconciliation prior to any waiting that is done.

Either way +1 to the idea of minimizing the wait time needed for creating multiple instances of a type of resource without increasing the reconciliation

[2020-07-07 14:35] randomvariable commented on #1792
Yup, I meant that the effect would be parallel NAT gateway creation, thanks for clarifying!

[2020-07-07 20:50] benmoss opened #1795 "Flaky tests resulting from linter timeouts"
/kind bug

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-aws/1793/pull-cluster-api-provider-aws-test/1280582665275183106
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-aws/1789/pull-cluster-api-provider-aws-test/1280438464378048512
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubern

[2020-07-07 21:05] #1473 closed

[2020-07-07 21:06] richardcase opened #1796 "Refactor clusterscope/ec2 service"
/kind feature

**Describe the solution you'd like**
Refactor the ClusterScope and ec2 service so that the networking specific side of things can be used in multiple places (i.e. AWSCluster controller and a future AWSManaged Cluster). I'm thinking that we introduce smaller targetted scopes that can be combined if required. For example a ClusterScope has a NetworkScope, and also a ManagedClusterScop

[2020-07-07 21:06] richardcase commented on #1796
/assign

[2020-07-07 22:49] aaroniscode commented on #1752
@randomvariable I was going down the path of least resistance, and considering this a patch release fix so trying to change as little as possible from current flow. Really like the idea of an issue to track parallel NAT gateway creation.

So I went down the path of trying to make the absolute minimum amount of change to batch the creation of NAT gateways and EIPs to fix the issue. Let me know what

[2020-07-08 14:36] gab-satchi commented on #1754
/assign

[2020-07-08 14:39] gab-satchi commented on #1754
/lifecycle active

[2020-07-08 14:46] randomvariable commented on #1795
Prow has also been super slow of late, probably due to code freeze.

[2020-07-08 15:59] benmoss commented on #1795
Yeah, I think this might just be because of slow prow machines

[2020-07-08 16:01] benmoss commented on #1795
Seeing a bunch of `Entrypoint received interrupt: terminated` errors as well today

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-aws/1798/pull-cluster-api-provider-aws-test/1280628086131396613

[2020-07-08 16:47] randomvariable commented on #1795
Those interrupts happen when you push commits or force push.

[2020-07-08 17:51] randomvariable opened #1799 "Prevent control plane nodes being distributed across local and regional AZs"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
A HA control plane across multiple AZs should almost certainly be co-located in the regional AZs, and not split across a local and regional AZ, e.g. us-west-2a, us-west-2b and los angeles. This would currently occur if an AWS account has specifically opted into use of local zones in us

[2020-07-08 18:45] benmoss opened #1800 "Enable goerr113 linter"
/kind cleanup

**Describe the solution you'd like**
Follow up from #1794

The [go-err113](https://github.com/Djarvur/go-err113) golangci-lint plugin is disabled on this repo because it requires a fair amount of changes to make it happy.

We want to introduce more static error types, I think this can be a little tricky in some cases where we are using `Printf`-style strings to include pieces of dat

[2020-07-08 20:31] gab-satchi commented on #1792
/assign
/lifecycle active

[2020-07-08 23:34] randomvariable commented on #1792
Maybe worth holding on #1752, as it will likely conflict?

[2020-07-08 23:36] randomvariable commented on #1752
@aaroniscode , I think your approach would work , and won't have any negative side effects in terms of over-allocation of EIPs.

[2020-07-09 03:04] aaroniscode commented on #1752
ok, I opened a PR so we can review and see if we want to move forward with it.

[2020-07-09 11:56] #1752 closed

[2020-07-09 14:54] #1725 closed

[2020-07-09 15:17] aaroniscode commented on #1175
/assign

[2020-07-09 15:43] randomvariable commented on #1175
/lifecycle active

[2020-07-09 17:25] gab-satchi opened #1804 "Improve AWSCluster Controller testing"
**Describe the solution you'd like**
The AWSCluster controller currently doesn't have sufficient test coverage.

Not all of the logic branches are covered by e2e tests so this issue is to add unit tests where the boundary is just before making AWS calls. AWSMachine already has tests of this manner [here](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/controllers/awsmachine

[2020-07-09 18:22] #1754 closed

[2020-07-09 22:02] randomvariable opened #1806 "Re-enable multi-AZ e2e testing"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
With #1803 and #1805 merged, should be possible to re-enable multi-AZ in e2e testing.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl

[2020-07-09 22:02] #1792 closed

[2020-07-09 22:05] randomvariable commented on #1795
Thinking it might be resource limits, maybe golangci is intermittently exhausting memory?

[2020-07-10 13:39] gab-satchi commented on #1806
/assign
/lifecycle active

[2020-07-10 14:49] #78 closed

[2020-07-10 15:47] #1795 closed

[2020-07-12 07:08] rudoi commented on #1784
Could this and #1785 be solved by implementing MachinePool providers (maybe even #1786 if we're willing to flex the definition of "machine pool")?

"AWSMachinePool", for example, could map to an AutoScalingGroup
"AWSManagedMachinePool" (or even just "AWSManagedNodeGroup", names are hard) could map to a Managed Node Group.

I've worked very little with Fargate profiles so I'm not quite sure how tha

[2020-07-13 16:55] #1587 closed

[2020-07-13 16:55] #1610 closed

[2020-07-13 17:18] detiber commented on #1799
/priority important-longterm

[2020-07-13 17:18] randomvariable commented on #1796
/lifecycle active

[2020-07-13 17:19] detiber commented on #1800
/priority important-longterm
/milestone Next

/help

[2020-07-13 17:20] detiber commented on #1804
/priority important-longterm
/milestone Next

[2020-07-13 17:22] detiber commented on #1806
/priority important-soon
/milestone v0.5.x

[2020-07-13 17:26] rudoi opened #1813 "Figure out how to package resources for EKS"
/kind feature

CAPI releases individual yaml files for core, kubeadm bootstrap, and kubeadm controlplane, but also produces a capi-components file that is an aggregate of all three.

- Should we do the same for EKS?
- If so, do we need to hold back the EKS components until everything is out of experimental?

Discuss!

[2020-07-13 22:19] rudoi commented on #1778
/assign

[2020-07-14 10:21] randomvariable opened #1818 "Consume AWS Controllers for Kubernetes"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
As discussed in [AWS Cluster API meeting of June 29, 2020](https://docs.google.com/document/d/1ojR0jooQaHEuz3gGW6DxcZlsws9ZX7jHPC8walm1G3A/edit#heading=h.7y4tcvet8m5m), it may be worth delegating creation of AWS resources to the future AWS Controllers for Kubernetes project.

Considera

[2020-07-14 13:35] enxebre commented on #972
Another possibility might be have something like AWSMachineStatus.console and dump the raw EC2.GetConsoleOutput there with no parsing.
That at least would give a place to look at when something goes wrong while booting the instance before it evens runs a kubelet, e.g cloud init failures, ignition failures, systemd failures...

[2020-07-14 13:56] randomvariable commented on #972
Here's the doc that was started a while back... didn't reach any firm conclusions
https://docs.google.com/document/d/1FVRxo9toKSUmvKIUFFzPFhnFrfdR9s7S6Bl4shovNlg/edit

The case against doing AWSMAchineStatus.console was we probably don't want to spam that much data into etcd.

[2020-07-15 09:54] #1796 closed

[2020-07-15 14:33] ncdc opened #1824 "Update to CAPI v0.3.7"

[2020-07-15 14:57] randomvariable opened #1826 "Remove create-*-cluster Makefile tasks"
The Makefile has some old tasks related to old CI jobs and testing behaviours

`create-workload-cluster`,
`create-cluster`
`delete-workload-cluster`
`delete-cluster`
`kind-reset`

Tilt is the more widely used development practice, and these tasks have gone stale, not kept up to date, and importantly don't use clusterctl.

Does anyone rely on them, or can they be deleted?

[2020-07-15 14:58] #1824 closed

[2020-07-15 15:08] detiber commented on #1826
+1 from me for removing them

[2020-07-15 15:14] ncdc commented on #1826
/help
/good-first-issue
/priority important-soon
/milestone v0.5.x

[2020-07-15 15:14] ncdc commented on #1818
/priority important-longterm

[2020-07-15 18:50] randomvariable opened #1827 "e2e: Fix race condition for resolution of artifactFolder"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
On occasion, a test run will dump artifacts in `test/e2e_new`. This did also occur in the old e2e test suite. I'm guessing it's related to `SynchronizedAfterSuite`, but not sure.

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that

[2020-07-15 21:05] gab-satchi commented on #1776
/assign

[2020-07-16 09:24] richardcase opened #1828 "Create template flavours to support EKS control plane"
/kind feature

**Describe the solution you'd like**
It would be good to introduce [flavours](https://cluster-api.sigs.k8s.io/clusterctl/commands/config-cluster.html#flavors) with the introduction of EKS support so that users can create different luster configurations

When using clusterctl

[code]

This would then generate the definitions for EKS using `AWSManagedCluster, AWSManagedControlPlane` e

[2020-07-16 09:26] richardcase commented on #1787
/lifecycle active

[2020-07-16 09:26] richardcase commented on #1787
/assign

[2020-07-16 17:26] aaroniscode commented on #1175
Did some digging in the code and some testing here and I'm not sure this is an issue any more:

The original issue was opened when trying to work around the issue that only 1 NAT gateway was created. Now, anytime a public subnet is created, a NAT gateway is created.

I tried:
* Creating a new public subnet with a `natGatewayId` of another subnet, but a new NAT gateway was created and the ID of tha

[2020-07-16 18:48] detiber commented on #1175
/close
Closing given the latest update. If anyone is still experiencing this, please reopen.

[2020-07-16 18:48] #1175 closed

[2020-07-16 20:03] rudoi opened #1829 "Support spreading AWSMachines across multiple subnets per availability zone"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

https://github.com/kubernetes-sigs/cluster-api/issues/3358 looks to spread MachineSet-owned Machines across available FailureDomains. This will work fine with CAPA in scenarios where there's only one subnet per availability zone. CAPA does not understand how to spread EC2 instances ac

[2020-07-16 20:42] yagonobre commented on #1780
I can help with this

[2020-07-16 20:50] detiber commented on #1829
If we wanted a relatively naive implementation, we could pick a random value from the available subnets for a given failure domain, possibly with a fallback in the event that there is a failure related to not being able to allocate an IP in the chosen subnet.

[2020-07-17 07:23] richardcase commented on #1780
@yagonobre - that would be great. I will add some notes to the issue based on the work we are doing with #1787 as we are changing the roles.

[2020-07-17 10:00] randomvariable opened #1830 "Move away from t2.micro being hardcoded for bastion instance as hardware is being removed"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
us-west-2d no longer supports t2.micro
Should use t3a.micro and ideally verify it's supported.

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws ve

[2020-07-17 10:01] randomvariable commented on #1830
/assign
/lifecycle active

[2020-07-17 16:40] yagonobre commented on #1780
@richardcase thanks!

[2020-07-20 16:00] detiber commented on #1691
/lifecycle frozen

[2020-07-20 16:00] detiber commented on #1691
/help

[2020-07-22 15:58] ncdc commented on #1826
@rudoi any objections?

[2020-07-22 15:59] rudoi commented on #1826
@ncdc None, thanks for checking! Full steam ahead.

[2020-07-23 00:28] rudoi commented on #1784
/assign @mytunguyen
/assign @NicoleYson

[2020-07-23 14:55] #1826 closed

[2020-07-23 17:57] benmoss opened #1837 "Audit/remove pkg/errors usage in favor of stdlib errors"
/kind cleanup

Output of #1836, we should see if we can eliminate our usage of https://github.com/pkg/errors/ in favor of the `errors` page from the stdlib now that it has the `%w` format directive.

[2020-07-23 19:13] gab-satchi opened #1838 "Specifying subnetID for an AWSMachine and a conflicting failureDomain will ignore the failureDomain"
/kind bug

Summarizing from this comment: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1833#discussion_r459665277

**What steps did you take and what happened:**
- create an AWSMachine while specifying the subnetID it should attach to
- also specify a failureDomain that **isn't** the failureDomain of the subnet

**What did you expect to happen:**
Expect it to validate the subne

[2020-07-23 21:01] gab-satchi commented on #1806
Closing as the new e2e tests use multi-Az by default.

/close

[2020-07-23 21:01] #1806 closed

[2020-07-23 23:51] voor opened #1839 "cloud-init v20.2-45-g5f7825e2-0ubuntu1~18.04.1 never runs /etc/secret-userdata.txt"
/kind bug

**What steps did you take and what happened:**
Build OSS CAPA AMI Ubuntu 1804 using image builder for Kubernetes v1.18.3
If you're in US-East-1, here's an AMI: `ami-0e1906e4df51041c4`

Run through quickstart guide for CAPA.
Run
clusterctl config cluster manager --kubernetes-version 1.18.3 > tmp.yaml
Add
[code]
To all of the `AWSMachineTemplate`

Deploy cluster.  cloud-init fails on firs

[2020-07-24 00:18] voor commented on #1839
Taking `ami-04d57e17c284ca940` right now and updating just cloud-init and seeing if this also happens.

[2020-07-24 00:39] voor commented on #1839
`ami-0d01a41f15f1933f0` is an updated capa-ami-ubuntu-18.04-1.18.2-00 where cloud-init package has been updated.

Just make sure you're using 1.18.2 instead of 1.18.3 for this one.

[code]

Same issue.

[2020-07-24 09:50] voor commented on #1839
Upstream Ubuntu bug https://bugs.launchpad.net/cloud-init/+bug/1888822

[2020-07-24 15:57] detiber commented on #1839
It looks like previously when we did a `systemctl cloud-init restart` in the boothook script it was causing cloud-init (version 19.4-33) to re-run the `consume_data` step, with the latest version (20.2-45).

I still need to do a bit more digging, just wanted to share my current progress (and give myself a starting point when I pick this back up)

[2020-07-24 16:07] benmoss opened #1840 "Instances should be tagged with their Machine name"
/kind feature

**Describe the solution you'd like**
Right now VMs in AWS are named for their `AWSMachine` object, which has a different name than the corresponding `Machine` object. It would be really useful if at least there was a tag on the VM with the `Machine` name so that it I don't have to do an extra lookup to find which `Machine` it corresponds to.

[2020-07-24 16:41] voor commented on #1839
Is there a subset of folders that could be removed/destroyed that would cause cloud-init to run that step again?

[2020-07-24 18:50] detiber commented on #1839
Not sure yet, I haven't had a chance to continue digging yet, might be next week before I get a chance to continue looking into it if someone doesn't figure it out before then.

[2020-07-24 19:10] voor commented on #1839
Downgrading to `/usr/bin/cloud-init 18.2` did *not* solve the problem, looks like there's a more complicated grouping of stuff at play here. :sob:

[2020-07-26 23:25] voor opened #1842 ":bug: Encrypted instances fail with very little feedback"
/kind bug

**What steps did you take and what happened:**
Leverage an encrypted AMI that is encrypted with a KMS key that is not available to the `controllers.cluster-api-provider-aws.sigs.k8s.io` role

**What did you expect to happen:**
Something about `controllers.cluster-api-provider-aws.sigs.k8s.io` not having permissions to launch an EC2 instance with the given KMS key, or instance failed to

[2020-07-27 10:53] richardcase opened #1843 "Refactor tags package (specifically Apply)"
/kind feature

**Describe the solution you'd like**
The tags package is used throughout the services to apply infrav1.Tags to resources created in AWS. The current implementation in the `tags` package is very EC2 specific:

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/pkg/cloud/tags/tags.go#L36

So it would be good to refactor this so that other services can take advanta

[2020-07-27 10:53] richardcase commented on #1843
/assign
/lifecycle active

[2020-07-27 15:23] detiber commented on #1840
One caveat here, we already have quite a few tags that would conflict across namespaces, it might be good to make sure that if/when we introduce any new ones that they include the namespace in addition to the name to avoid potential conflicts from the same management cluster (not sure we should try to solve issues related to separate management clusters conflicting on naming).

[2020-07-27 17:21] detiber commented on #1813
/priority important-soon
/milestone v0.5.x

[2020-07-27 17:22] detiber commented on #1827
/priority important-soon
/milestone v0.5.x

[2020-07-27 17:22] detiber commented on #1828
/milestone v0.5.x
/priority important-soon

[2020-07-27 17:24] detiber commented on #1829
/milestone Next
/priority backlog

[2020-07-27 17:24] detiber commented on #1830
/milestone v0.5.5
/priority important-soon

[2020-07-27 17:25] detiber commented on #1837
/priority important-longterm
/milestone Next

[2020-07-27 17:27] detiber commented on #1838
/priority important-soon
/milestone v0.5.x

[2020-07-27 17:29] detiber commented on #1839
/priority critical-urgent
/milestone v0.5.5

[2020-07-27 17:29] detiber commented on #1839
/assign

[2020-07-27 17:31] detiber commented on #1840
/priority important-longterm
/milestone Next

[2020-07-27 17:33] detiber commented on #1843
/milestone v0.5.x
/priority important-soon

[2020-07-27 17:57] detiber commented on #1839
/lifecycle active

[2020-07-27 18:08] benmoss commented on #1840
I agree, something like the Kubernetes `NamespacedName` could be used

[2020-07-27 18:12] #1776 closed

[2020-07-28 01:05] fyangd commented on #1441
Any movement on this issue?

To add some user perspective on the relevance of this issue, deploying a management cluster on AWS govCloud env fails with a perplexing error message:

[code]

Because bastion host is enabled by default, fixing this issue or warning users that bastion host is about to deployed to a non-supported region would be very helpful!

[2020-07-28 17:01] detiber commented on #1839
Triaged the issue and summarized in https://bugs.launchpad.net/cloud-init/+bug/1888822/comments/5

We are hitting a bug in newer versions of cloud-init that is incorrectly resetting the content type of our boot hook from text/cloud-boothook to text/x-shellscript when processing the userdata resulting in the boothook not being recognized during execution.

We can work around this by forcing image-b

[2020-07-28 20:26] voor commented on #1839
Update from cloud-init team, tl;dr they concur and it's a critical regression.
https://bugs.launchpad.net/cloud-init/+bug/1888822

[2020-07-28 22:51] voor commented on #1839
https://github.com/canonical/cloud-init/pull/511

[2020-07-29 13:40] OddBloke commented on #1839
Hey folks, while we're working on landing and releasing the cloud-init fix: if you add `#cloud-boothook` as the first line of your boothook then it will be correctly detected as a boothook by cloud-init (both before the breaking change landed, currently, and once we land the fix). As a workaround, this may be preferable to downgrading cloud-init in images.

[2020-07-29 14:28] benmoss opened #1846 "Orphaned network interface blocking cluster deletion"
/kind bug

**What steps did you take and what happened:**
Created a cluster, deleted it, now see

This is the apiserver-lb security group. Investigating further, it appears that it's a network interface that is blocking deletion. It's the ELB network interface.

**What did you expect to happen:**
Deletion works as expected.

**Anything else you would like to add:**
This is all I saw in the logs:

[2020-07-29 14:35] detiber commented on #1846
I would expect the ELB ENI to only cause a transient error while backend AWS processes clean up after deletion of the ELB, is this something that is persisting longer than that?

[2020-07-29 14:38] benmoss commented on #1846
Yeah, it seems to be stuck here

[2020-07-29 14:56] vincepri commented on #1846
Was the ELB deleted already, or was in the process of being deleted?

[2020-07-29 14:57] benmoss commented on #1846
It's gone, but the ENI still says "in-use"
![Screen Shot 2020-07-29 at 10 57 16 AM](https://user-images.githubusercontent.com/239754/88816332-4619a800-d18a-11ea-946b-dd73b6f171f1.png)

[2020-07-29 14:58] vincepri commented on #1846
How long ago was the ELB deleted? It might just take more time, I've seen it go from 5 minutes to 20 minutes sometimes

[2020-07-29 14:59] benmoss commented on #1846
It's been an hour

[2020-07-29 15:12] benmoss commented on #1846
There's an "Increased API Error Rates" event going on in us-east-1 right now, we think that EC2 is just failing to clean up this resource. We can't do much to handle this since it's all on AWS's side.

/close

[2020-07-29 15:12] #1846 closed

[2020-07-29 16:12] mehyedes opened #1847 "Provisioning CentOS 7 control plane node fails for v1.18.2"
/kind bug

**What steps did you take and what happened:**
Using the [quick start guide](https://cluster-api.sigs.k8s.io/user/quick-start.html), I tried to provision a new workload cluster using the CentOS 7 AMI `ami-0d4f64f4bfd565fd2` for the kubernetes version `v1.18.2`.
[code]
Here, the `cluster-template-CENTOS.yaml` file is just a copy from [cluster-template.yaml](https://github.com/kubernetes-

[2020-07-29 21:07] EleanorRigby commented on #1847
@codenrhoden @kkeshavamurthy
This is the exact same problem on RHEL 7 also.

[2020-07-30 17:37] ncdc commented on #1839
@voor do you have time to test the workaround?

[2020-07-30 19:02] detiber commented on #1698
/lifecycle frozen

[2020-07-31 15:35] rudoi opened #1850 "AWSManagedCluster should support granting additional IAM roles access to the EKS cluster"
/kind feature

**Describe the solution you'd like**

By default, only the IAM entity that has access to an EKS cluster is the entity that created it. Additional IAM roles must be added manually using an `aws-auth` ConfigMap in the `kube-system` namespace.

It would be great if we could specify additional roles (maybe users, too?) in the spec and have that ConfigMap be set up automatically.

**Anyt

[2020-07-31 15:38] rudoi opened #1851 "Update documentation for AWSManagedCluster kubeconfigs"
/kind feature

**Describe the solution you'd like**
Because EKS expects IAM authentication for all human actors, we have decided to generate the kubeconfig secret using a ServiceAccount. We should update the docs to detail how to use the `aws` CLI to get credentials.

[2020-07-31 19:11] rudoi opened #1852 "Use new scope interfaces in AWSMachine reconciliation"
/kind feature

@richardcase did a bunch of great work setting up interfaces to make working with AWSCluster and AWSManagedControlPlane more simple.

For provisioning EC2 instances to work for both the managed and unmanaged controlplanes, we need to consume these interfaces in the AWSMachine reconciliation.

This means:
- Need to use cloud.ClusterScoper, ec2.Scope, and elb.Scope instead of ClusterS

[2020-07-31 19:27] detiber commented on #1852
/priority important-soon
/milestone v0.5.x
/help

[2020-07-31 19:36] rudoi commented on #1852
/assign
/lifecycle active

I basically have a really hacky version of this already working locally, so I can just clean it up and open a PR shortly.

[2020-08-03 12:09] randomvariable commented on #1780
/assign @yagonobre
@yagonobre , would appreciate it if you could leave a comment if you start work on this

[2020-08-03 12:32] richardcase commented on #1780
@yagonobre  - with the EKS control plane i've added the following locally to the `controllers.cluster-api-provider-aws.sigs.k8s.io`  policy

[code]

[2020-08-03 14:37] randomvariable commented on #1842
How are you able to determine that was the issue yourself? I think the problem here is that the EC2 call will fire the KMS request async. Unless there's a proper way to introspect the issue, not sure what can be done.

[2020-08-03 14:44] voor commented on #1842
Tears, alcohol, and time.

If it does happen again, I can try to see if there's an EC2 query that might respond with something.  The VM basically just crashes out.

[2020-08-03 15:10] randomvariable commented on #1839
Trying the workaround bit

[2020-08-03 17:23] Promaethius opened #1855 "Custom Service Endpoint Configuration"
/kind feature

**Describe the solution you'd like**
Similar to a feature that Terraform has: https://registry.terraform.io/providers/hashicorp/aws/latest/docs/guides/custom-service-endpoints
Allow the cluster api provider, "to connect to non-default AWS service endpoints and AWS compatible solutions. This may be useful for environments with specific compliance requirements, such as using AWS FIPS

[2020-08-03 20:01] NicoleYson commented on #1784
/assign @mytunguyen

[2020-08-03 20:15] richardcase opened #1857 "Refactor network service to separate out security groups"
/kind feature

**Describe the solution you'd like**
For the EKS implementation we need to be able to reconcile the network without the security groups. The security groups will be handled differently with the managed side of the provider

**Anything else you would like to add:**
Needed for #1787

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
-

[2020-08-03 20:16] richardcase commented on #1857
/assign
/lifecycle active

[2020-08-04 14:52] #1839 closed

[2020-08-05 06:36] krmayankk commented on #1722
@gab-satchi  are you working on this already or plan to work on it ? when can we get this feature ?

[2020-08-05 07:18] rudoi commented on #1722
We're actually working on this currently as part of adding EKS Support (it should still work with the Kubeadm provider).

[2020-08-05 14:42] #1830 closed

[2020-08-05 15:16] #1800 closed

[2020-08-05 19:17] ncdc opened #1861 "Move to a CNCF-owned AWS account for project-owned AMIs"
/kind feature

**Describe the solution you'd like**
We are currently publishing CAPA AMIs to a VMware-owned AWS account. This account is the hard-coded default account to use when looking up AMIs (this is overridable). It would be nice if we could transition the AMIs to a CNCF-owned AWS account.

**Anything else you would like to add:**
Bonus points if we can automate, via Prow and image-builder,

[2020-08-06 02:41] sudinar opened #1862 "Unable to create management cluster TKG on AWS EC2"
‼ [0806 02:33:31.78466]: init.go:464] Failure while deploying management cluster, Here are some steps to investigate the cause:
‼ [0806 02:33:31.78481]: init.go:465] Debug:
‼ [0806 02:33:31.78484]: init.go:466] kubectl get po,deploy,cluster,kubeadmcontrolplane,machine,machinedeployment -A --kubeconfig /home/ubuntu/.kube-tkg/tmp/config_N37NRVa2
‼ [0806 02:33:31.78491]: init.go:467] kubectl logs dep

[2020-08-06 12:38] randomvariable commented on #1861
We should open an issue in github.com/kubernetes/k8s.io i think?

[2020-08-06 13:19] randomvariable commented on #1862
Hello,

We unfortunately can't provide support for products using Cluster API Provider AWS without logs for Cluster API Provider AWS.

Can you contact VMware support who can assist?

[2020-08-06 13:19] #1862 closed

[2020-08-06 13:49] randomvariable commented on #1770
/close

Runs kubetest in Docker in the completed #1760, so no longer an issue.

[2020-08-06 13:49] #1770 closed

[2020-08-06 13:53] randomvariable commented on #1100
Don't think there's been much demand for this beyond testing, so maybe
/close
for now.

[2020-08-06 13:53] #1100 closed

[2020-08-06 14:26] ncdc commented on #1861
We probably need multiple issues. Is k8s.io the right repo, or maybe test-infra?

[2020-08-06 14:28] detiber commented on #1861
k8s.io is where the tooling is going to live, since this account will be used for a purpose other than "testing", I think it is likely an appropriate place for the discussion, though it may also involve a discussion with sig-release

[2020-08-06 14:31] ncdc commented on #1861
👍 I will file in k8s.io and cross link

[2020-08-06 14:36] ncdc commented on #1861
https://github.com/kubernetes/k8s.io/issues/1116

[2020-08-09 18:47] #1138 closed

[2020-08-10 14:36] gab-satchi commented on #1799
/assign

[2020-08-11 14:50] #1843 closed

[2020-08-11 18:14] #1799 closed

[2020-08-12 12:06] randomvariable opened #1867 "Add conditions for deletion workflows"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Originally filed by @gab-satchi as https://github.com/kubernetes-sigs/cluster-api/issues/3383

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `

[2020-08-12 12:06] randomvariable commented on #1867
/priority important-soon

[2020-08-12 17:57] #1857 closed

[2020-08-13 18:39] rudoi opened #1869 "Enhanced AMI lookup logic for EKS"
/kind feature

**In a sentence**

CAPA should look up EKS AMIs for me automatically, but it should not allow a single AWSMachineTemplate or AWSMachinePool to front multiple AMIs.

_note_: AWSMachinePool PR https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1860 is still in flight at this time.

**Summary**

CAPA today looks up AMI IDs before the `runInstance` call, if there is no spe

[2020-08-13 22:49] rudoi opened #1870 "AWSManagedControlPlane controller should set up aws-auth ConfigMap automatically"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

By default, the only IAM entity that has access to an EKS cluster is the entity that created it. Users must create an `aws-auth` ConfigMap specifying additional mappings. See: https://docs.aws.amazon.com/eks/latest/userguide/add-user-role.html

Additional mappings must also be added f

[2020-08-14 10:41] randomvariable commented on #1870
/priority important-soon

[2020-08-14 12:28] randomvariable commented on #1869
I think that's been more out of laziness then explicit, and we could change that when we move the AMI generation from ex-Heptio to CNCF infrastructure.

I think a typical use case would be something like:

- A CVE is announced for a component of the image that isn't Kubernetes, e.g. containerd
- Either:
  - A
    - Run your image build pipeline to create a new AMI with the updated non-k8s componen

[2020-08-14 13:09] randomvariable commented on #1556
After some experimentation in #1717, this was found to work as is. If there's still a problem, please reopen.

/close

[2020-08-14 13:09] #1556 closed

[2020-08-14 13:29] randomvariable commented on #1764
/assign
/lifecycle active

[2020-08-14 13:40] randomvariable opened #1871 "Consume EventBridge for EC2 instance state notifications"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
When there's EC2 state changes, CAPA won't reconcile this until the next run which could be up to 10 mins.

I think it's also of benefit if we recorded the EC2 status somewhere, which means you don't have to continuosly compare AWSMachine with the EC2 console / favourite AWS EC2 access

[2020-08-14 13:48] randomvariable commented on #1722
/assign @mytunguyen
/lifecycle active

[2020-08-14 13:51] randomvariable commented on #1847
/assign @codenrhoden
/lifecycle active
/priority important-soon

[2020-08-14 13:56] randomvariable commented on #931
Given https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1747 allows customisation of CNI rules, and clusterawsadm now allows customisation of policies, it should be easier to add a template flavour that uses the AWS VPC CNI.

/help

[2020-08-14 13:57] randomvariable commented on #1762
/help

[2020-08-14 13:59] randomvariable commented on #1275
/assign
/lifecycle active

[2020-08-14 14:00] randomvariable commented on #1164
/lifecycle active

[2020-08-14 14:02] randomvariable commented on #1236
Think we can close this one out, as it'll be superseded by #1753
/close

[2020-08-14 14:02] #1236 closed

[2020-08-14 14:05] randomvariable commented on #808
/help

[2020-08-14 14:06] randomvariable commented on #491
/help

[2020-08-14 14:08] randomvariable commented on #1187
The ClusterResourceSet controller should help with defining a flavour that allows this now.
/help

[2020-08-14 15:55] randomvariable commented on #1715
/help

[2020-08-14 16:57] codenrhoden commented on #1847
ah, well I guess it's a good thing this is fixed in the current master of image-builder. I just need to build new CentOS 7 OVAs with the fix!

[2020-08-14 17:31] randomvariable commented on #1847
If I build new public CentOS images, this should be fixed?

[2020-08-14 20:28] rudoi commented on #1869
I definitely like the idea of resolving the AMI ID on the AWSMachineTemplate. Resolving the AMI ID as part of each AWSMachine is what's going to put us in a mixed-AMI scenario.

I am curious what we should do about the patch versions for EKS. For one, `aws eks describe-cluster` doesn't return the patch version of a cluster. I think we can probably get away with doing a more in-depth SSM lookup to

[2020-08-16 19:35] richardcase commented on #1780
We should also think about creating a "default" EKS role that can be used.

[2020-08-17 09:33] randomvariable commented on #1869
is there anything on cluster that tells you the patch version?
or maybe a separate loop that loops over templates that are associated with an EKS Control Plane and adds an EOUTOFDATE condition if it mismatches the CP.

[2020-08-17 14:53] rudoi commented on #1869
I suppose there's always the `/version` endpoint...

[2020-08-17 15:45] mytunguyen opened #1872 "MachinePools and security implications of shared user data"
/kind feature

**Describe the solution you'd like**
AWSMachinePools are implemented using ASGs and launch templates. Launch templates have userdata that should not be shared for security reasons if the AWSMachinePool is joining a kubeadm cluster. (If the machinepool is joining an aws managed eks cluster then the user data contains iam roles)

**Anything else you would like to add:**
[Miscellaneous

[2020-08-17 16:15] randomvariable commented on #1869
there's potentially value in marking out of date deployments in core CAPI, so maybe the first step is to finalise resolution in awsmachinetemplate?

[2020-08-17 17:09] rudoi commented on #1869
@randomvariable agreed, I think that's the right way to get this started.

[2020-08-17 21:57] wfernandes opened #1874 "Include metadata.yaml as part of release artifacts"
**Describe the solution you'd like**
Cluster API providers should provide a `metadata.yaml` artifact as part of their releases so that clusterctl can rely on it to enforce CAPI contract versions.
In [our documentation](https://cluster-api.sigs.k8s.io/clusterctl/provider-contract.html#provider-repositories), we define a requirement of the CAPI providers to provide a `metadata.yaml` file.

Providing

[2020-08-18 10:45] #1852 closed

[2020-08-18 15:49] richardcase commented on #1780
@michaelbeaumont - With the default EKS cluster role i think we should do that it another issue as i have some additional ideas around that.

[2020-08-18 16:01] randomvariable opened #1875 "Support userdata privacy beyond cloudinit"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
#1490 added support for preventing users reading secrets essential to the cluster via EC2 userdata, by shifting a version of the userdata to AWS Secrets Manager and injecting a boot hook using multi-part MIME to download the real user-data.

This is a cloud-init specific solution which

[2020-08-18 16:08] randomvariable commented on #1875
cc @dongsupark

[2020-08-18 17:36] yagonobre commented on #1780
Sorry for the delay, I was OOO

[2020-08-18 18:34] michaelbeaumont commented on #1780
Sorry @yagonobre, I'd assumed you hadn't started yet. I've got a branch ready for a PR but you're welcome to finish this issue! Or take the next issue @richardcase mentioned. Either way :slightly_smiling_face:

[2020-08-19 09:31] richardcase opened #1877 "Create default EKS IAM Role using clusterawsadm"
/kind feature

**Describe the solution you'd like**
It would help users if a default IAM role was created for EKS. This could then be used in the EKS control plane if no role was specified and if the EKSEnableIAM flag is false (i.e. not specified). It feels like this could be done using clusterawsadm.

**Anything else you would like to add:**
The default role should have a tag that denotes it as t

[2020-08-19 09:32] richardcase commented on #1780
Created #1877 for the default role

[2020-08-20 13:08] randomvariable commented on #1875
We can think about the original use case though. What mechanisms are there for mechanisms to provide secrets in userdata. I guess these fall into:

- Using s3
- Presigned http URLs

either of those passed into `ignition.config.merge`

The reason we're using the boothook is that we need to reconstruct the user-data as there's a 10KB limit on AWS Secrets Manager. If we also supported S3 as a mechani

[2020-08-20 14:14] dongsupark commented on #1875
I think we should try out S3.
That's how the WIP PR https://github.com/kubernetes-sigs/cluster-api/pull/3437 makes use of ignition:
set up a S3 bucket, upload ignition configs to the bucket, and make ignition download the configs.
(still tests needed)

Where should be the ignition code then?
AWS provider repo, or the main cluster-api repo?

[2020-08-20 14:53] randomvariable commented on #1875
I think the S3 code should perhaps live in here and work in a similar way to the current method, in that other infrastructure providers can use  their own object storage then for the final pass to the userdata.

Either that or you make an S3 backend compulsory which may mean deploying minio and making assumptions around network connectivity between the management and workload clusters.

Long term,

[2020-08-20 16:17] #1780 closed

[2020-08-20 17:39] randomvariable commented on #1877
/close

Fixed in #1879

[2020-08-20 17:39] randomvariable commented on #1877
/reopen
misread this.

[2020-08-21 16:54] sedefsavas opened #1882 "e2e conformance tests fail on macOS"
/kind bug

**What steps did you take and what happened:**
`make test-conformance-fast` fails on macOS`

First seeing this error:
[code]
It downloads 1.20.0-alpha version of conformance image.

Then test fails with this error:
[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- C

[2020-08-24 12:27] #1874 closed

[2020-08-24 15:40] andrewmyhre commented on #1552
Proposal doc: https://docs.google.com/document/d/1vwjvWc-RIZfwDXb-3tW4gKBOaPCKhripfhXshOmB5z4/edit#

[2020-08-24 17:16] ncdc commented on #1392
@rudoi to double check against the main branch to see if this has been implemented (in a slightly different way than v1alpha2).

[2020-08-24 17:20] ncdc commented on #1847
Waiting on a new tag of image-builder, then we can build updated AMIs

[2020-08-24 17:22] ncdc commented on #1439
This should be done when the e2e cleanup PRs are merged.

[2020-08-24 17:23] ncdc commented on #1331
/remove-lifecycle rotten

[2020-08-24 17:24] ncdc commented on #1429
@evalsocket have you started working on this?

[2020-08-24 17:24] ncdc commented on #1668
@evalsocket have you started working on this?

[2020-08-25 11:42] randomvariable opened #1885 "Set kube reserved across EKS and EC2 node types"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
The Amazon EKS AMI includes a script to set kube-reserved values based on instance type at: https://github.com/awslabs/amazon-eks-ami/blob/master/files/bootstrap.sh

This could potentially be handled consistently by CAP*

**Anything else you would like to add:**
[Miscellaneous informat

[2020-08-25 12:03] michaelbeaumont commented on #1828
One little conflict here, `--kubernetes-version` requires a semver version `X.Y.Z` (for AKS, kubeadm, etc) whereas EKS wants `X.Y`.

[2020-08-25 12:06] richardcase commented on #1828
Good point @michaelbeaumont. Does clusterctl enforce semver on the version?

[2020-08-25 12:07] michaelbeaumont commented on #1828
Yes `clusterctl` validates it

[2020-08-25 12:33] michaelbeaumont commented on #1828
(Temporary) solution: ignore the patch version in the EKS control plane controller.

[2020-08-25 15:21] rudoi commented on #1392
Confirmed that this hasn't been done for v1alpha3+ and should probably stay open.

[2020-08-25 17:59] randomvariable opened #1886 "Support io2 volumes"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Webhooks validate iops are set for io1 disk types, but not io2.
We should add the same validation for io2.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
See
https://aws.amazon.com/blogs/aws/new-ebs-volume-type-io2-more-iops

[2020-08-26 08:39] randomvariable opened #1887 "Bump AWS SDK for Go and tag route tables on create"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
AWS SDK for Go v1.33.8 introduced the following:

We should bump AWS SDK for Go to the latest version and move tagging to be on creation for route tables.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- C

[2020-08-26 09:48] randomvariable opened #1888 "Review and validate failure domain support for placement groups, local and wavelength availability zones"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

CAPA's support for failure domains only takes into consideration Availability Zones.

Inherent in the CAPI model, failure domains are a sort of controller provided property, and don't provide much flexibility for users to define their own.

In AWS, as of August 2020, failure domains i

[2020-08-26 15:36] #1886 closed

[2020-08-26 19:26] randomvariable commented on #1439
/lifecycle active

[2020-08-26 20:19] detiber commented on #1769
Possibly, but depending on how much time has elapsed it might still hit the same issue.

What we likely really need to do is generate a client token value and store it prior to creating the resource (https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html).

We could potentially use the resource UID as the client token, but that could present issues related to `cluster

[2020-08-27 08:07] richardcase commented on #1851
/assign
/lifecycle active

[2020-08-27 14:56] randomvariable opened #1892 "Build AMIs against Image Builder v0.1.6"
Image Builder v0.1.6 has been tagged, so we should build AMIs for:

v1.16.14
v1.17.11
v1.18.8
v1.19.0

[2020-08-27 16:56] sedefsavas commented on #1769
Actually this issue does not exist because there is a check above `findInstance()` during `reconcileNormal`
`if machineScope.HasFailed()`. When an instance has an ID but is not healthy (terminated etc.), it never continues to `findInstance()` and checks ec2svc.InstanceIfExists().

Also, if providerID is missing, it fails at the beginning of `findInstance()` and sets InstanceNotFound condition.

So

[2020-08-27 17:00] randomvariable commented on #1769
Thanks for investigating. I suspect we would have seen reports in the wild about it. I think we've also been insulated since instance-ids are created immediately, just with incomplete info (which caused a bunch of bugs in the past).

Going to mark closed unless someone sees it come up again.

/close

[2020-08-27 17:01] #1769 closed

[2020-08-27 21:17] ncdc opened #1893 "Add e2e test coverage for spot instances"
#1868 added support for spot instances. It would be nice to update our e2e tests to test spot instances to ensure they continue to function and future changes don't accidentally introduce regressions.

[2020-08-28 10:12] #1787 closed

[2020-08-28 15:23] randomvariable opened #1895 "VPC cannot be deleted during cluster teardown due to remaining route table"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Create 1 cluster.
Then used the VPC pieces of that cluster to generate 20 more clusters.
Then delete all of the clusters.

The first cluster doesn't complete deletion because there was a hanging route table, which is not reconciliated.
Pretty much just get this repeated.

[code]

If I th

[2020-08-28 15:24] randomvariable commented on #1895
/priority important-soon

[2020-08-28 16:10] randomvariable opened #1896 "Ensure clusterawsadm is documented"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
clusterawsadm needs full documentation, including all configuration options for IAM.

Consider creating a site as is being done in for CAPZ:
https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/858

**Anything else you would like to add:**
[Miscellaneous information that

[2020-08-28 16:10] randomvariable commented on #1896
/kind documentation

[2020-08-28 16:10] randomvariable commented on #1896
/priority important-soon

[2020-08-28 16:11] fabriziopandini commented on #1867
/assign
/lifecycle active

[2020-08-28 18:25] #1439 closed

[2020-08-28 18:25] #1701 closed

[2020-08-28 18:33] randomvariable commented on #1892
/lifecycle active

[2020-08-28 19:05] #1779 closed

[2020-08-28 20:18] rudoi opened #1897 "AWSMachine controller should support AWSManagedControlPlanes"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
The EKS controlplane and bootstrap providers are both merged. Next, we need the AWSMachine controller to create ManagedControlPlaneScopes instead of ClusterScopes when appropriate.

This will complete the circle for creating and joining EKS nodes.

[2020-08-28 21:01] rudoi commented on #1897
/assign

[2020-08-28 21:02] rudoi commented on #1897
/lifecycle active

[2020-08-28 21:57] rudoi commented on #1897
/milestone v0.6.0

this will also depend on #1817

[2020-08-28 22:27] #1441 closed

[2020-08-28 23:16] randomvariable commented on #1892
Need to PR, but here are all the AMIs

Kubernetes v1.19

==> Builds finished. The artifacts of successful builds are:
--> centos-7: AMIs were created:
ap-northeast-1: ami-0b9df4503ff170497
ap-northeast-2: ami-0696040bf82acf53d
ap-south-1: ami-0d4257be542933d99
ap-southeast-1: ami-00248ba5ead19719e
ap-southeast-2: ami-0969756fc889a1892
ca-central-1: ami-0bcb1d3d9a4072126
eu-central-1: ami-08ecd4152

[2020-08-31 14:26] scottslowe opened #1898 "Document change in default clusterawsadm behavior"
/kind bug

**What steps did you take and what happened:**
Prior to 0.5.5, using `clusterawsadm` to create/update the CloudFormation stack would create/update an IAM user and group. With the 0.5.5 release, the default `clusterawsadm` behavior is to _not_ create an IAM user or group. This results in the deletion of an existing IAM user and group when using `clusterawsadm` 0.5.5 to update a stack cre

[2020-08-31 14:28] scottslowe commented on #1898
I'm happy to work on a PR to update the `docs/prerequisites.md` document with a note about this change in default behavior and how to mitigate it, but I wanted to open this issue here first for discussion.

[2020-08-31 16:18] Promaethius opened #1899 "Spot Instance interruption notice support"
/kind feature

**Describe the solution you'd like**
Spot instance support has come in with #1868 however when a spot instance terminates, it drops the workload without notice.
Augment the spot instance support with interruption notice polling. When an instance receives the normal 2 minute notice, attempt to drain it using the same lifecycle process that the provider uses when scaling down a pool.

[2020-08-31 16:31] rudoi commented on #1899
I'm interested in the end product here, but curious about some of the effects of adding this polling into CAPA:
- does this mean we have to reconcile AWSMachines on an interval shorter than 2m?
- what impact would this have on our current EC2 request load?

I'm curious if perhaps we could do some kind of integration with https://github.com/aws/aws-node-termination-handler? This is a DaemonSet that

[2020-08-31 16:49] Promaethius opened #1900 "Secret Backend Support"
/kind feature

**Describe the solution you'd like**
Support the storage of ClusterAPI secrets in AWS Systems Manager - Secure Parameter Storage. Why? AWS Secrets Manager is not available in DoD IL6+ environments but Secure Parameter Storage is available in all environments including the Secret Region. This issue starts the conversation around using Secure Parameter Storage for the chunked secrets

[2020-08-31 18:41] sedefsavas commented on #1847
Image-builder is tagged. Will create new AMIs with it and publish them soon.

[2020-08-31 19:07] randomvariable commented on #1847
All the new AMIs are in
https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1892

I ran out of time to PR it in.

[2020-09-01 10:41] randomvariable commented on #1899
I think integration with the node termination handler would be better. If anything, trying to cut down the amount of polling of EC2 APIs.

We also have https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1871

[2020-09-01 11:07] #1851 closed

[2020-09-01 12:01] #1778 closed

[2020-09-01 12:36] richardcase commented on #1870
I wonder if this will help out in this area: https://gitlab.com/polarsquad/eks-auth-sync

[2020-09-01 12:46] richardcase opened #1906 "Persist default subnets early"
/kind feature

**Describe the solution you'd like**
When there are no subnets specified and we use the default subnet logic [here](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/pkg/cloud/services/network/subnets.go#L71) we should persist the subnet specs as soon as possible, especially before creating them. This will be helpful if there is an transient error part way thor

[2020-09-01 12:48] richardcase opened #1907 "Create e2e tests for EKS"
/kind feature

**Describe the solution you'd like**
We need create e2e tests to cover the new EKS functionality. This is to ensure that there are no regressions in functionality.

**Anything else you would like to add:**
Relates to #1534

**Environment:**

- Cluster-api-provider-aws version: 0.5.5
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2020-09-01 12:56] richardcase opened #1908 "Update EKS service to use default role for EKS control plane"
/kind feature

**Describe the solution you'd like**
When reconciling the **AWSManagedControlPlane** we should use the default IAM role for EKS if:

- No `roleName` is specified AND
- the `EKSEnableIAM` feature flag isn't enabled

A default role will be created by `clusterawsadm` (see issue #1877). When looking up the default role we need to use a label on a IAM role to allow users of CAPA to creat

[2020-09-01 15:15] #1847 closed

[2020-09-01 15:15] #1892 closed

[2020-09-01 15:20] randomvariable commented on #1847
@mehyedes, this should be fixed now. feel free to reopen if you still have a problem.

[2020-09-01 15:39] richardcase commented on #1907
/assign

[2020-09-01 15:40] richardcase commented on #1877
/assign

[2020-09-01 15:43] michaelbeaumont commented on #1785
/assign

[2020-09-01 18:39] randomvariable opened #1911 "Clean up code across EKS controllers"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Pulled out of a PR, will leave for @rudoi to expand.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-aws version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc

[2020-09-01 18:41] #1897 closed

[2020-09-01 20:12] gab-satchi commented on #1906
/assign

[2020-09-02 08:26] richardcase commented on #1907
/lifecycle active

[2020-09-02 08:34] richardcase commented on #1828
@michaelbeaumont - am i right in thinking this has been complete with the change in name of the template file and also the patching the version number in the defaulting webhook?

[2020-09-02 08:37] richardcase commented on #1828
So:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/exp/api/v1alpha3/awsmanagedcontrolplane_webhook.go#L194
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/templates/cluster-template-managed.yaml

[2020-09-02 08:41] richardcase opened #1912 "Update managed template to include nodes"
/kind feature

**Describe the solution you'd like**
The new "managed" template needs to be updated to include nodes. See the following:

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/templates/cluster-template-managed.yaml

Currently it only includes the control plane and cluster.

**Anything else you would like to add:**
We might also want to change `${EKS_KUBERNETES_VER

[2020-09-02 08:44] michaelbeaumont commented on #1828
Exactly, for example the command at [Create a EKS cluster](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/eks.md#creating-a-eks-cluster) is supported now.

[2020-09-02 08:50] richardcase commented on #1828
@randomvariable @rudoi - we can probably close this issue based on the ^^^^^^^^

[2020-09-02 08:58] randomvariable commented on #1828
I think maybe the bits for the worker nodes need to be added? Defer to @rudoi on this.

[2020-09-02 08:59] randomvariable commented on #1828
See you opened the issue for that.

Retitled and

/close

[2020-09-02 09:00] #1828 closed

[2020-09-02 09:04] richardcase commented on #1912
/assign

[2020-09-02 09:10] richardcase commented on #1912
/lifecycle active

[2020-09-02 15:00] michaelbeaumont commented on #1785
/lifecycle active

[2020-09-02 15:33] gab-satchi commented on #1906
Hey @richardcase, we do set the subnets in a defer [here](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/pkg/cloud/services/network/subnets.go#L51) which should get called unless the function panics somehow. Are you seeing cases where a reconciliation happens and the subnets aren't getting persisted?

[2020-09-02 16:13] richardcase commented on #1906
@gab-satchi - it was an edge case where defer wasn't called, basically if there was a crash of some sort.

[2020-09-02 17:31] #1912 closed

[2020-09-02 21:21] gab-satchi commented on #1887
/assign

[2020-09-03 12:33] randomvariable commented on #1784
@mytunguyen is there anything left to do on this given the bootstrap provider being added?

[2020-09-03 12:45] #1898 closed

[2020-09-03 20:20] ncdc opened #1921 "'clusterawsadm bootstrap iam print-policy' has AWSIAMManagedPolicyControllers and AWSIAMManagedPolicyCloudProviderControlPlane mixed up"
**What steps did you take and what happened:**
1. Run `clusterawsadm bootstrap iam print-policy --document AWSIAMManagedPolicyControllers`
    1. The output is the policy for the cloud provider control plane
1. Run `clusterawsadm bootstrap iam print-policy --document AWSIAMManagedPolicyCloudProviderControlPlane`
    1. The output is the policy for the controllers

**What did you expect to happen:*